
<script>
    $(document).ready(function () {
        $('.popover').addClass('col-md-8');
        $('.student').tokenInput(commonSettings.searchAjaxurl + '/allEventsUserSearch', {
            <?= $userids ? 'prePopulate:' . $userids . ',' : '' ?>
            theme: 'facebook',
            preventDuplicates: true,
            prePopulateFromValue: true
        });
        $('.token-input-list-facebook').css('float', 'none');
        $('.token-input-list-facebook').css('height', 'auto');
        $('.token-input-list-facebook').css('overflow', 'hidden');
        $('.token-input-dropdown-facebook').css('z-index', '9999');
        $('.token-input-dropdown-facebook').css('width', '327px');
    });
</script>
<div class="row">
    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'announcementListForm')); ?>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-4 control-label  mandatory"> Users </label>
            <div class="col-md-8 input">
                <input type='text'  class='form-control col-md-8 student' name='user_list' id="user_list" value='' title='User Detail'>
            </div>
        </div>
    </div>
</form>
</div>