
<div class="row">
    <div class="col-md-12 form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label  mandatory ">User </label>
            <div class="col-md-8"> 
                    <input type="text" name="tasklist" id="tasklist" placeholder='Select User' 
                           class="form-control" autocomplete="off" value="<?= $name ?>"/>
                <input type="hidden" value="" name="taskUserIds" id="taskUserIds" name="taskUserIds" />
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#tasklist').typeahead({
            ajax: {url: commonSettings.searchAjaxurl + '/taskUserSearch',
                dataType: "JSON",
                triggerLength: 1,
                preProcess: function (data) {
                    if (data.success === false) {
                        return false;
                    } else {
                        return data;
                    }
                },
                preDispatch: function (query) {
                    return {
                        search: query
                    }
                }
            },
            itemSelected: displayResult
        });

        function displayResult(item, val, text) {
            $('#taskUserIds').val(val);
        }

    });
</script>