<?php echo $this->tag->stylesheetLink("css/appstyles/task-page.css"); 
echo $this->tag->stylesheetLink("js/lib/mini-upload-form/assets/css/bucketmin.css");
echo $this->tag->stylesheetLink("css/token-input-facebook.css");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.fileupload.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.iframe-transport.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.ui.widget.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.script.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.knob.js");
?>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <?php
        echo Phalcon\Tag::form(array('class' => ' form-horizontal', 'method' => 'post', 'id' => 'taskEditForm', 'enctype' => 'multipart/form-data'));
        ?>
        <input type='text'  class='form-control hide' name='task_id' id='task_id'
               value="<?= $task->id ?>" >
        <div class="form-group">
            <label class="col-md-3 control-label mandatory"> Task </label>
            <div class="col-md-7">  
                <textarea name="task_text" id="task_text" 
                          class="form-control" ><?= $task->message ?></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label mandatory"> From Date </label>
            <div class="col-md-7">  
                <input type="text" name="from_date" id="from_date" value="<?= date('d-m-Y H:i', $task->from_date) ?>" 
                       placeholder='Date' class="form-control form_datetime" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label mandatory"> To Date </label>
            <div class="col-md-7">  
                <input type="text" name="to_date" id="to_date" value="<?= date('d-m-Y H:i', $task->to_date) ?>" 
                       placeholder='Date' class="form-control form_datetime" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label mandatory"> Type </label>
            <div class="col-md-7">  
                <?php
                echo \Phalcon\Tag::selectStatic(
                        array(
                            "task_type",
                            array(
                                "" => "Select",
                                "Low" => "Low",
                                "Medium" => "Medium",
                                "High" => "High"
                            ),
                            'class' => 'form-control',
                            "title" => 'Type',
                            "value" => $task->type
                        )
                );
                ?>
            </div>
        </div>
     <div class="dropboxupl"  id="upload">
            <input type="text" id="removeid"  name="removeid" value="<?= $task->id ?> " multiple class="hide" />
            <input type="text" id="type"  name="type" value="task" multiple class="hide" />
 <div id="drop"><div class="form-group">
            <label class="col-md-3 control-label ">  Uplaod files  </label>
<div class="col-md-7">  <a>Browse</a>  <input type="file" id="upl"  name="upl" multiple  /> </div>
 </div> 
           
            </div>
            <div id="editfiletask">
                <ul>
                    <?php
                    if (count($files) > 0) {
                        foreach ($files as $file) {
                            ?>
                            <li class="working" >
                               <i class="fa  fa-file-text"></i>   <p><?= $file['name'] ?><i><b style="display:none;">_</b><?= $file['size'] ?></i></p><span id="task_<?= $task->id ?>" onclick="announcementSettings.removeUploadedFile(this)"></span></li>
                                <?php
                            }
                        }
                        ?>
                </ul>
            </div>
        </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".form_datetime").datetimepicker({format: 'dd-mm-yyyy hh:ii', startDate: new Date(), autoclose: true, defaultDate: 'now'
        });
    });
</script>