<?php echo $this->tag->stylesheetLink("css/appstyles/task-page.css"); ?>
<?php ?>
<?php
echo $this->tag->stylesheetLink("js/lib/mini-upload-form/assets/css/bucketmin.css");
echo $this->tag->stylesheetLink("css/token-input-facebook.css");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.fileupload.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.iframe-transport.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.ui.widget.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.script.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.knob.js");
?>
<script>
    $(document).ready(function () {
        $('.popover').addClass('col-md-7');
        $('.student').tokenInput(commonSettings.searchAjaxurl + '/allEventsUserSearch', {
<?= $userids ? 'prePopulate:' . $userids . ',' : '' ?>
            theme: 'facebook',
            preventDuplicates: true,
            prePopulateFromValue: true
        });
        $('.token-input-list-facebook').css('float', 'none');
        $('.token-input-list-facebook').css('height', '50px');
        $('.token-input-list-facebook').css('overflow', 'hidden');
        $('.token-input-dropdown-facebook').css('z-index', '9999');
        $('.token-input-dropdown-facebook').css('width', '362px');
//        $('#remv_attr ul:nth-child(1)').remove();
    });
</script>
<style>
    ul.token-input-list-facebook {
        width: 100%;
    }
    .token-input-list-facebook > ul:first-child{
        display: none;
      
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <?php
        echo Phalcon\Tag::form(array('class' => ' form-horizontal', 'method' => 'post', 'id' => 'AnnouncEditForm', 'enctype' => 'multipart/form-data'));
        ?>
        <input type='text'  class='form-control hide' name='announcement_id' id='announcement_id'
               value="<?= $announcement->id ?>" >
        <div class="form-group hide">
            <label class="col-md-3 control-label  mandatory"> User </label>
            <div class="col-md-7 input" id="remv_attr">
                <input type='text'  class='form-control col-md-7 student' name='allUserIds' id='allUserIds'
                       value='' title='User Detail'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label mandatory"> Message </label>
            <div class="col-md-7">  
                <textarea name="announcement_text" id="announcement_text" 
                          class="form-control" ><?= $announcement->message ?></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label mandatory">  Date </label>
            <div class="col-md-7">  
                <input type="text" name="announcement_date" id="announcement_date" value="<?= date('d-m-Y H:i', $announcement->date) ?>" 
                       placeholder='Date' class="form-control form_datetime" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label mandatory"> Type </label>
            <div class="col-md-7">  
                <?php
                echo \Phalcon\Tag::selectStatic(
                        array(
                            "announcement_type",
                            array(
                                "" => "Select",
                                "Circular" => "Circular",
                            ),
                            'class' => 'form-control',
                            'value' => $announcement->type
                        )
                );
                ?>
            </div>
        </div>
        <div class="dropboxupl"  id="upload">
        <input type="text" id="type"  name="type" value="announcement" multiple class="hide" />
            <input type="text" id="removeid"  name="removeid" value="<?= $announcement->id ?> " multiple class="hide" />
        <div id="drop">
<div class="form-group">
            <label class="col-md-3 control-label ">  Uplaod files  </label>
<div class="col-md-7">  <a>Browse</a>  <input type="file" id="upl"  name="upl" multiple  />  </div>
 </div> 
           
           
        </div>
        <div id="editfileannounc">
        <ul>
            <?php
            if (count($files) > 0) {
                foreach ($files as $file) {
                    ?>
                    <li class="working" > 
                        <i class="fa  fa-file-text"></i> <p><?= $file['name'] ?><i><b style="display:none;">_</b><?= $file['size'] ?></i></p><span id="announcement_<?= $announcement->id ?>" onclick="announcementSettings.removeUploadedFile(this)"></span></li>
                        <?php
                    }
                }
                ?>
        </ul>
            </div>
        </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".form_datetime").datetimepicker({format: 'dd-mm-yyyy hh:ii', startDate: new Date(), autoclose: true, defaultDate: 'now'
        });
    });
</script>
<script>
    $("ul.token-input-list-facebook ").css('maxHeight', '100px');
    $("ul.token-input-list-facebook").niceScroll();
</script>
