<?php if ($taskact_id) { ?>
    <div class="row">
    <div class="col-md-12">
        <div class="form-group">
           <label class="col-md-3 control-label  mandatory">  Select User</label>
            <div class="col-md-8">  
                <input type="text" name="taskforwardlist" id="taskforwardlist" placeholder='Select User' 
                       class="form-control" autocomplete="off" />
                <input type="hidden" value="" name="forwardIds" id="forwardIds"  />
            </div>
        </div>
    </div>
</div>
<?php }
?>
<script>
    $(function () {
        $('#taskforwardlist').typeahead({
            ajax: {url: commonSettings.searchAjaxurl + '/taskUserSearch',
                dataType: "JSON",
                triggerLength: 1,
                preProcess: function (data) {
                    if (data.success === false) {
                        return false;
                    } else {
                        return data;
                    }
                },
                preDispatch: function (query) {
                    return {
                        search: query
                    }
                }
            },
            itemSelected: displayResult
        });

        function displayResult(item, val, text) {
            $('#forwardIds').val(val);
        }

    });
</script>