 
<?php
echo $this->tag->stylesheetLink("js/lib/mini-upload-form/assets/css/bucketmin.css");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.fileupload.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.iframe-transport.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.ui.widget.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.script.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.knob.js");
?> 
<form  method="post"  id="task_upload" action="javascript:;" enctype="multipart/form-data">
    <div id="upload"   class="dropboxupl" ><input type="text" id="type"  name="type" value="task" multiple class="hide" />
    <div id="drop">
        Upload Files here
        <a>Browse</a>
        <input type="file" id="upl"  name="upl" multiple  />
    </div>
    <ul>
        <?php
        if (count($files) > 0) {
            foreach ($files as $file) {
                ?>
                <li class="">
 <i class="fa  fa-file-text"></i> 
                    <p><?= $file['name'] ?><i><b style="display:none;">_</b><?= $file['size'] ?></i></p><span id="task" onclick="announcementSettings.removeUploadedFile(this)"></span></li>
                    <?php
                }
            }
            ?>
    </ul>    </div>
</form>
