<?php
echo $this->tag->stylesheetLink("css/appstyles/task-page.css");
echo $this->tag->stylesheetLink("css/appstyles/dashboard-page.css");
?>
<?php
$allloginIds = $acklist = array();
foreach ($annclist as $ids) {
    $allloginIds[] = $ids->to;
    if ($ids->status == 'Acknowledge'):
        $acklist[] = $ids->to;
    endif;
}
$edit = $edit ? $edit : '';
$valu1 = array_unique($allloginIds);
$valu2 = array_unique($acklist);
$pending = array_diff($valu1, $valu2);
?>
<div id="dashboard-popup" >
    <div class="row" >
        <div class="result-item row col-md-9 padnormal">
            <div class="col-md-11 full-width">           
                <span class="bold"><?= $announcement->type ?> </span>
                <div class=" smalltext">
                    <span class="shrink "><?= $stf_name ?> | <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $announcement->created_date)); ?></span> 
                </div>
                <span class=" smalltext">
                    <i class="zmdi zmdi-time"></i> <?= date('d M', $announcement->date) ?> </span> 
                <br>
                <span class="wordbreak"><?= $announcement->message ?></span>
                <table class="actions" id="announc_table_<?= $announcement->id ?>">
                    <tbody>
                        <tr>
                            <td>
                                <?php if (in_array($identity['name'], $allloginIds) && !in_array($identity['name'], $acklist)) { ?>
                                    <a href="javascript:;" data-layout="topRight" data-type="success" edit="<?= $edit ?>" onclick="announcementSettings.anouncementAcknwldg(<?= $announcement->id ?>, this)"  class="text small mute forward"> 
                                        <i class="zmdi zmdi-check"></i> Acknowledge 
                                    </a>
                                <?php } if ($uid->id == $announcement->created_by || (in_array($identity['name'], $allloginIds) && !in_array($identity['name'], $acklist))) { ?>
                                    <a href="javascript:;"    onclick="announcementSettings.addComments(<?= $announcement->id ?>, 'announc')" 
                                       class="text small mute decline">
                                        <i class="zmdi zmdi-comment-outline"></i> <span><?= ' ' . count($annun_comments) . '  Comment' . (count($annun_comments) > 1 ? 's' : '') ?></span>   
                                    </a>   
                                <?php } if (in_array($identity['name'], $allloginIds) && in_array($identity['name'], $acklist)) { ?>
                                    <a data-layout="topRight" data-type="success" class="text small mute forward"> 
                                        <i class="zmdi zmdi-check"></i> Acknowledged
                                    </a>
                                <?php } ?>
                            </td>
                        </tr>   
                    </tbody>
                </table> 
                <div class="commentblk "  id="announccomments_<?= $announcement->id ?>">
                    <div class="card-block comments-div ">
                        <?php
                        if ((in_array($identity['name'], $allloginIds) && !in_array($identity['name'], $acklist)) || $uid->id == $announcement->created_by && $announcement->status != 'Acknowledge') {
                            if (count($pending) > 0) {
                                ?>
                                <div class="addcomm hide"   id="comm-announc-<?= $announcement->id ?>"  > 
                                    <textarea placeholder="Type here" rows="3"  id="comment-announc-<?= $announcement->id ?>"
                                              activity_id ="<?= $announcement->id ?>" 
                                              class="form-control shadow no-border"></textarea>
                                    <div class="padd5">
                                        <a href="javascript:;" edit="<?= $edit ?>" level="view" type="announc" data-layout="topRight" data-type="warning" onclick="announcementSettings.saveComments(<?= $announcement->id ?>, this)"><i class="fa fa-paper-plane-o"></i> Submit</a>
                                        &nbsp;&nbsp; &nbsp;&nbsp;<a href="javascript:;" type="announc" data-layout="topRight" data-type="warning" onclick="announcementSettings.cancelComments(<?= $announcement->id ?>, this)"><i class="zmdi zmdi-close"></i> Cancel</a>
                                    </div>
                                </div>
                            <?php }
                            ?>
                            <br>  
                        <?php } ?>
                        <div id="commentsscroll">
                            <div class="post-comments" >
                                <?php
                                foreach ($annun_comments as $cvalue) {
                                    $namelist = StaffInfo::findFirstByLoginid($cvalue->comments_by);
                                    $user = $namelist->Staff_Name;
                                    ?>
                                    <div class="media">
                                        <a class="pull-left" href="javascript:;">
                                            <span class="mini-stat-icon-small square   tar activity-circle">
                                                <?php
                                                if ($namelist->photo) {

                                                    echo $this->tag->image(array(
                                                        "src" => $namelist->photo ? (FILES_URI . $namelist->photo) : ('images/user.jpg')));
                                                } else {
                                                    ?> 
                                                    <?= substr($user, 0, 1); ?>
                                                <?php }
                                                ?> 
                                            </span> 
                                        </a>
                                        <div class="comment">
                                            <div class="comment-author heading-font " style="font-weight:600">
                                                <a href="javascript:;" class=""><?= $user ?>  </a>
                                                <span class="pull-right " style="color:#888;">
                                                    <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $cvalue->modified_date)); ?></span>  
                                            </div>
                                            <p><?= $cvalue->comments ?> </p>
                                            <hr class="pad10px">
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
                <?php
                if (count($ack_list) > 0) {
                    foreach ($ack_list as $a_name) {
                        $substrval = '';
                        $substrval = substr($a_name->to, 0, 1);
                        if ($substrval == 's'):
                            $det = StudentInfo::findFirstByLoginid($a_name->to);
                            $name = $det->Student_Name;
                        endif;
                        if ($substrval == 'e' || $substrval == 'S'):
                            $det = StaffInfo::findFirstByLoginid($a_name->to);
                            $name = $det->Staff_Name;
                        endif;
                        if ($substrval == 'p'):
                            $det = StudentInfo::findFirstByParentLoginid($a_name->to);
                            $name = $det->Parent_Name;
                        endif;
                        ?>
                        <div class="media">
                            <a class="pull-left" href="javascript:;">
                                <span class="mini-stat-icon-small square   tar activity-circle">
                                    <?php
                                    if ($det->photo) {

                                        echo $this->tag->image(array(
                                            "src" => $det->photo ? (FILES_URI . $det->photo) : ('images/user.jpg')));
                                    } else {
                                        ?> 
                                        <?= substr($name, 0, 1); ?>
                                    <?php }
                                    ?> 
                                </span> 
                            </a>
                            <div class="comment">
                                <div class="comment-author heading-font " style="font-weight:600">
                                    <a href="javascript:;" class=""><?= $name ?>  </a>
                                    <span class="pull-right " style="color:#888;">
                                        <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $a_name->modified_date)); ?></span>  
                                </div>
                                <p>Acknowledged </p>
                                <hr class="pad10px">
                            </div>
                        </div>
                        <?php
                    }
                }
                ?>
            </div> 
        </div>
        <div class="col-md-3">
            <div class="activities-details">
                <h3 class="activities-header bold"> Attachments </h3>
                <div class="activities-post">
                    <ul class="new-file-lists">
                        <?php
                        $explode = array();
                        $storeFolder = UPLOAD_DIR . 'announcement/announcement_' . $announcement->id;
                        $explode = scandir($storeFolder);
                        if ($explode) {
                            $word = array("doc", "docx", "dotx", "docm", "dot", "docb");
                            $excel = array("xls", "xlsx", "xltx", "xlt", "xlsb", "xlsm");
                            $pdf = array("pdf");
                            $text = array("txt");
                            $audio = array("mp3");
                            $ppt = array("ppt");
                            $video = array("avi", "mp4");
                            $archive = array("zip", "rar", "tar.gz");
                            foreach ($explode as $f1) {
                                if (is_file(UPLOAD_DIR . "announcement/announcement_" . $announcement->id . '/' . $f1)) {
                                    $path_parts = pathinfo(UPLOAD_DIR . "announcement/announcement_" . $announcement->id . '/' . $f1);
                                    $fexp = $path_parts["extension"]; //explode('.', $f1);
                                    $fname = $path_parts['filename'];
                                    $f1new = str_replace(' ', '%20', UPLOAD_URI . "announcement/announcement_" . $announcement->id . '/' . $f1);
                                    $filetype = (in_array($fexp, $pdf)) ? 'fa-file-pdf-o' :
                                            ((in_array($fexp, $excel)) ? 'fa-file-excel-o' :
                                                    ((in_array($fexp, $word)) ? 'fa-file-word-o' :
                                                            ((in_array($fexp, $audio)) ? 'fa-file-audio-o' :
                                                                    ((in_array($fexp, $ppt)) ? 'fa-file-powerpoint-o' :
                                                                            ((in_array($fexp, $video)) ? 'fa-file-video-o' :
                                                                                    ((in_array($fexp, $archive)) ? 'fa-file-archive-o' :
                                                                                            ((exif_imagetype($this->url->get($f1new)) > 0) ? 'fa-file-image-o' :
                                                                                                    ('fa-file-text'))))))));
                                    ?>
                                    <li><a href="javascript:;" onclick="announcementSettings.dashboardFileDownload('announcement_<?= $announcement->id ?>_<?= $f1 ?>')" ><i class="fa  <?= $filetype ?>"></i> <?= $f1 ?></a></li>

                                    <?php
                                }
                            }
                        } else {
                            ?>
                            <li class=" smalltext" style="margin-left: 15px;"> No Files </li>
                            <?php }
                            ?>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
//    $("#dashboard-popup .row").css('maxHeight', '350px');
//    $("#dashboard-popup .row").niceScroll();
</script>