<?php
echo $this->tag->stylesheetLink("css/appstyles/task-page.css");
echo $this->tag->stylesheetLink("css/appstyles/dashboard-page.css");
?>
<?php
$taskItem = TaskActivities::find(array(
            'conditions' => 'task_id=' . $task->id . ' and comments is NULL',
            'columns' => "MAX(id) as id",
            'order' => "id ASC",
            'group' => "task_id"
        ));
$identity = $this->auth->getIdentity();
$uid = StaffInfo::findFirstByLoginid($identity['name'])->id;
$activities = TaskActivities::findFirstById($taskItem[0]->id);
$task = TaskMaster::findFirstById($activities->task_id);
$stfdet = StaffInfo::findFirstById($activities->task_from);
$others = TaskActivities::find('task_id=' . $task->id . ' and status != "Comments" ORDER BY created_date desc');
$commentscnt = TaskActivities::find('task_id=' . $task->id . ' and status = "Comments" ORDER BY created_date desc');
$edit = $edit ? $edit : '';
?>  
<div id="dashboard-popup">

    <div class="row" >
        <div class="result-item row col-md-9 padnormal">
            <div class="col-md-11 full-width">    
                <span class="bold"><?= $stfdet->Staff_Name ?></span>
                <div class=" smalltext">
                    <span class="shrink"><?= $task->type ?></span> | <?php echo AnnouncementController::time_elapsed_string(date('d-m-Y H:i:s', $task->created_on)); ?>
                </div>
                <span class=" smalltext">
                    <i class="zmdi zmdi-time"></i> <?= date('d M', $task->from_date) ?> -  <?= date('d M', $task->to_date) ?> </span> 
                <br>
                <span class="wordbreak"> <?= $task->message ?> </span>
                <table class="actions " id="viewtask_table_<?= $activities->id ?>">
                    <tbody>
                        <tr>
                            <?php if (($task->status == 'Assigned' || $task->status == 'Forwarded') && ($uid == $activities->task_to)) { ?>
                                <td> <a href="javascript:;"   edit="<?= $edit ?>" onclick="announcementSettings.acceptTask(<?= $activities->id ?>, 'Accept', this)" 
                                        class="text small mute forward"> 
                                        <i class="zmdi zmdi-check"></i> Accept
                                    </a> | </td>
                                <td> <a href="javascript:;"  edit="<?= $edit ?>"  onclick="announcementSettings.forwardTask(<?= $activities->id ?>, this)"  
                                        class="text small mute accept">
                                        <i class="zmdi zmdi-mail-reply"></i>  Forward
                                    </a> |</td>
                                <td><a href="javascript:;"  edit="<?= $edit ?>" onclick="announcementSettings.acceptTask(<?= $activities->id ?>, 'Decline', this)" 
                                       class="text small mute decline">
                                        <i class="zmdi zmdi-close"></i>  Decline
                                    </a> |     
                                </td>
                            <?php } if ($task->status == 'Accepted' && $uid == $activities->task_to) { ?>
                                <td><a href="javascript:;"  edit="<?= $edit ?>"  onclick="announcementSettings.acceptTask(<?= $activities->id ?>, 'Finish', this)"
                                       class="text small mute decline">
                                        <i class="zmdi zmdi-check-all"></i>  Finish
                                    </a>     
                                </td>
                            <?php } if (!in_array($task->status, array("Completed", "Rejected"))) { ?>
                                <td><a href="javascript:;"    edit="<?= $edit ?>"  onclick="announcementSettings.addComments(<?= $activities->id ?>, 'viewtask', this)" 
                                       class="text small mute decline">
                                        <i class="zmdi zmdi-comment-outline"></i> <span> <?= '' . count($commentscnt) . '  Comment' . (count($commentscnt) > 1 ? 's' : '') ?></span>
                                    </a>     
                                </td>
                            <?php } if (in_array($task->status, array("Completed", "Rejected"))) { ?>
                                <td><a edit="<?= $edit ?>"  class="text small mute decline">
                                        <i class="zmdi zmdi-<?= $task->status == 'Completed' ? 'check-all' : 'close' ?>"></i><?= $task->status ?>
                                    </a>     
                                </td>
                            <?php } ?>
                        </tr>   
                    </tbody>
                </table>

                <div class="commentblk " id="viewtaskcomments_<?= $activities->id ?>">
                    <div class="card-block comments-div ">
                        <?php if (!in_array($task->status, array("Completed", "Rejected"))) { ?>
                            <div class="addcomm hide"   id="comm-viewtask-<?= $activities->id ?>"  >
                                <textarea placeholder="Type here" rows="3"  id="comment-viewtask-<?= $activities->id ?>"
                                          activity_id ="<?= $activities->id ?>" 
                                          class="form-control shadow no-border"></textarea>

                                <div class="padd5">
                                    <a href="javascript:;" type="viewtask"  edit="<?= $edit ?>" data-layout="topRight" data-type="warning" onclick="announcementSettings.saveComments(<?= $activities->id ?>, this)"><i class="fa fa-paper-plane-o"></i> Submit</a>
                                    &nbsp;&nbsp; &nbsp;&nbsp;<a href="javascript:;"  edit="<?= $edit ?>" type="viewtask" data-layout="topRight" data-type="warning" onclick="announcementSettings.cancelComments(<?= $activities->id ?>, this)"><i class="zmdi zmdi-close"></i> Cancel</a>
                                </div>
                            </div>
                        <?php } ?>
                        <br>  
                        <div class="post-comments" id="scrollbar">
                            <?php
                            foreach ($commentscnt as $cvalue) {
                                $namelist = StaffInfo::findFirstById($cvalue->task_from);
                                $user = $namelist->Staff_Name;
                                ?>
                                <div class="media">
                                    <a class="pull-left" href="javascript:;">
                                        <span class="mini-stat-icon-small square   tar activity-circle">
                                            <?php
                                            if ($namelist->photo) {

                                                echo $this->tag->image(array(
                                                    "src" => $namelist->photo ? (FILES_URI . $namelist->photo) : ('images/user.jpg')));
                                            } else {
                                                ?> 
                                                <?= substr($user, 0, 1); ?>
                                            <?php }
                                            ?> 
                                        </span> 
                                    </a>
                                    <div class="comment">
                                        <div class="comment-author heading-font">
                                            <a href="javascript:;"><?= $user ?>  </a>
                                            <span class="pull-right " style="color:#888;">
                                                <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $cvalue->created_date)); ?></span>  
                                        </div>
                                        <p> <?= $cvalue->comments ?>
                                        </p>
                                        <hr class="pad10px">
                                    </div>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                </div>
                <?php
                foreach ($others as $cvalue) {
                    if ($cvalue->status == 'Assigned' || $cvalue->status == 'Forwarded') {
                        $namelist = StaffInfo::findFirstById($cvalue->task_from);
                        $user = $namelist->Staff_Name;
                    } else {
                        $namelist = StaffInfo::findFirstById($cvalue->task_to);
                        $user = $namelist->Staff_Name;
                    }
                    ?>
                    <div class="media">
                        <a class="pull-left" href="javascript:;">
                            <span class="mini-stat-icon-small square   tar activity-circle">
                                <?php
                                if ($namelist->photo) {

                                    echo $this->tag->image(array(
                                        "src" => $namelist->photo ? (FILES_URI . $namelist->photo) : ('images/user.jpg')));
                                } else {
                                    ?> 
                                    <?= substr($user, 0, 1); ?>
                                <?php }
                                ?> 
                            </span> 
                        </a>
                        <div class="comment">
                            <div class="comment-author heading-font">
                                <a href="javascript:;"><?= $user ?>  </a>
                                <span class="pull-right " style="color:#888;">
                                    <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $cvalue->created_date)); ?></span>  
                            </div>
                            <p><?= $cvalue->status ?>
                            </p>
                            <hr class="pad10px">
                        </div>
                    </div>
                <?php } ?>
            </div>      
        </div>
        <div class="col-md-3">
            <div class="activities-details">
                <h3 class="activities-header bold"> Attachments </h3>
                <div class="activities-post">
                    <ul class="new-file-lists">
                        <?php
                        $explode = array();
                        $storeFolder = UPLOAD_DIR . 'task/task_' . $task->id;
                        $explode = scandir($storeFolder);
                        if ($explode) {
                            $word = array("doc", "docx", "dotx", "docm", "dot", "docb");
                            $excel = array("xls", "xlsx", "xltx", "xlt", "xlsb", "xlsm");
                            $pdf = array("pdf");
                            $text = array("txt");
                            $audio = array("mp3");
                            $ppt = array("ppt");
                            $video = array("avi", "mp4");
                            $archive = array("zip", "rar", "tar.gz");
                            foreach ($explode as $f1) {
                                if (is_file(UPLOAD_DIR . "task/task_" . $task->id . '/' . $f1)) {
                                    $path_parts = pathinfo(UPLOAD_DIR . "task/task_" . $task->id . '/' . $f1);
                                    $fexp = $path_parts["extension"]; //explode('.', $f1);
                                    $fname = $path_parts['filename'];

                                    $f1new = str_replace(' ', '%20', UPLOAD_URI . "task/task_" . $task->id . '/' . $f1);
                                    $filetype = (in_array($fexp, $pdf)) ? 'fa-file-pdf-o' :
                                            ((in_array($fexp, $excel)) ? 'fa-file-excel-o' :
                                                    ((in_array($fexp, $word)) ? 'fa-file-word-o' :
                                                            ((in_array($fexp, $audio)) ? 'fa-file-audio-o' :
                                                                    ((in_array($fexp, $ppt)) ? 'fa-file-powerpoint-o' :
                                                                            ((in_array($fexp, $video)) ? 'fa-file-video-o' :
                                                                                    ((in_array($fexp, $archive)) ? 'fa-file-archive-o' :
                                                                                            ((exif_imagetype($this->url->get($f1new)) > 0) ? 'fa-file-image-o' :
                                                                                                    ('fa-file-text'))))))));
                                    ?>
                                    <li><a href="javascript:;" onclick="announcementSettings.dashboardFileDownload('task_<?= $task->id ?>_<?= $f1 ?>')"><i class="fa  <?= $filetype ?>"></i> <?= $f1 ?></a></li>

                                    <?php
                                }
                            }
                        } else {
                            ?>
                            <li class=" smalltext" style="margin-left: 15px;"> No Files </li>
                            <?php } ?>

                    </ul>
                </div>
            </div>

        </div>
    </div> 
</div>
<script>
//    $("#scrollbar").css('maxHeight', '150px');
//    $("#scrollbar").niceScroll();
</script>
