
#academic-page ul.rightlink li{
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: inline-block; 
    font-size: 14px;
    letter-spacing: .010em;
    margin: 6px 8px;
    line-height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    align-items: center; 
    min-width: 88px;
    padding: 0 6px; 
}

#academic-page ul.rightlink li a{
    color: rgba(0,0,0,0.26) !important;
}

#academic-page ul.rightlink li.active a{
    color: #32323A !important;
}
#academic-page  th{
    font-size: 14px;
}
#academic-page .tabpane-items{
    display: none;
}
#academic-page .tabpane-items.active{
    display: block;
}
#academic-page .marbot0{
    bottom: -17px;
}
#academic-page .padbot0{
    padding-bottom: 0;
}
#academic-page .page-header .material-tabs{
    margin-left: -15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
}

#academic-page .page-header{
    margin-bottom: 10px;
    padding: 20px 19px 19px 34px;
}
#academic-page .data-action-bar{
    padding: 0 30px 0 30px;
}