#classroom ul.rightlink li{
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: inline-block; 
    font-size: 14px;
    letter-spacing: .010em;
    margin: 6px 8px;
    line-height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    align-items: center; 
    min-width: 88px;
    padding: 0 6px; 
}

#classroom ul.rightlink li a{
    color: rgba(0,0,0,0.26) !important;
}

#classroom ul.rightlink li.active a{
    color: #32323A !important;
}
.combispan{
    cursor:  pointer;
}