#dashboard .material-tabs>li{
    font-size: 14px;
    padding: 0px 24px;
    margin-left: -22px;
    font-family: National;
    font-weight: 100;
    letter-spacing: -.1px;
}
#dashboard .page-header{
    /*padding-bottom: 0*/
}
#dashboard .widget-header{
    margin-bottom: 0;
}
#dashboard .widget-header textarea{
    font-size: 13px;
    width: 100%;
    border: none;
    padding: 16px;
}
#dashboard .sun-r-s {
    text-align: inherit;
    padding: 10px 30px 8px 30px;
}
#dashboard .sun-r-s span.leftpane{
    text-align: left;
}
#dashboard .sun-r-s span.rightpane{
    text-align: right;
}
#dashboard .weather-widget{
    padding: 0;
}
#dashboard #communicateDetails  input{
    outline: 0;
    box-shadow: none;
    border-color: rgba(0,0,0,0.12);
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: 0 0;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 26px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    /*float: left;*/
    padding: 2px 2px 1px 34px;
}
.nofloat{
    float:none;
}

#dashboard #communicateDetails select{
    border: 0;
    height: 30px;
    background-color: transparent;
}
#dashboard .icon-left{
    line-height: 36px;
    position: absolute;
    top:-4px;
    z-index: 2;
}
#dashboard .recent-users-list .user-intro .user-thumb{
    margin: 0;
    width: 30px;
    height: 30px;
}
#dashboard .recent-users-list .users-details ul li .label{
    margin: 0;
    padding: .2em .6em .3em;
}
#dashboard .recent-users-list .users-details{
    padding-right: 15px;
    xtext-align: justify;
}

#dashboard  .recent-users-list .user-intro .user-details-toggle {
    width: auto;
    top:5px;
    right:17px;
}
.shrink-text{
    overflow:  hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    
}
#dashboard .chat-user-toolbar {
    padding: 0;
    border: none;
    background-color: transparent;
}
#dashboard .recent-users-list .user-intro {

    xpadding: 15px 30px ;
    padding: 5px ;
}
#dashboard .makefullwidth{
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}
#dashboard #main .column-inner-wrap{
    padding: 15px 0px 0px;
}
/*** timeline ***/
.mini-stat-icon{
}

.activity-due-separation{

    padding: 20px;
    border-left: 1px solid #ccc;

}
.profile-timeline-header .profile-timeline-user p.small{
    font-weight: 800; padding-top:4.5em
}
.profile-timeline-header .profile-timeline-user {
    position: relative;
    float: left;
    margin: 0 .9rem .9rem .9rem;
    display: block;
    text-align: center;
}
.profile-timeline-content {
    margin-left: 63px
}
.profile-timeline-controls a {
    display: inline-block
}
.profile-timeline-images {
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: 10px
}
.profile-timeline-images .image-link {
    display: block;
    width: 50%;
    float: left;
    padding-right: 2px;
    padding-left: 2px
}
.profile-timeline-images .image-link-smaller {
    display: block;
    width: 25%;
    float: left;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 4px
}
.profile-timeline-audio {
    padding: 1.25rem 0;
    margin-bottom: 10px
}
.profile-timeline-audio .audio {
    display: table;
    width: 100%
}
.profile-timeline-audio .audio .audio-timeline,
.profile-timeline-audio .audio .play_pause,
.profile-timeline-audio .audio .time {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: none
}
.profile-timeline-audio .audio .play_pause {
    width: 40px
}
.profile-timeline-audio .audio .progress {
    height: 5px;
    width: 100%;
    float: left;
    margin: 0;
    border-radius: 0
}
.profile-timeline-audio .audio .progress .done {
    float: left;
    width: 34%;
    height: 5px;
    text-align: center;
    background-color: #6164C1;
    -webkit-transition: width .6s ease;
    transition: width .6s ease
}
.profile-timeline-audio .audio .time {
    width: 80px
}

.marginleft{
    margin-left: 4.5em;
    margin-top: 0px;
    
}
.actions{
    color:#666;
}

.actions span{
   cursor: pointer;
}
.shrink-text-77{
    width: 77%;
    
}
.shrink-text-50{
    width: 50%;
    
}
.comments-div{
    xmargin-left: 4.5em;
    margin-top: 12px;
}
.post-comments{
    font-size: 12px;
}
/*** timeline end ***/
#dashboard .dropdown-menu{
   min-width: 88px; 
}

#dashboard .chat-user-toolbar .add-chat-list {
    width: 26px;
    height: 26px;
}
#dashboard .chat-user-toolbar .add-chat-list i{
    width: 26px;
    height: 26px;
    font-size: 15px;
    line-height: 22px;
}
#dashboard .btn {
    font-size: 12px;
    padding: 3px 6px;
}
#dashboard .col-md-8, #dashboard .col-md-4,#dashboard .col-md-9, #dashboard .col-md-3,#dashboard .col-md-7, #dashboard .col-md-5{
    padding: 3px;
}

#dashboard  .widget-header .widget-action-bar > li > .dropdown-menu {
    min-width: 88px !important;
}
#dashboard  .pad0{
    padding: 0 !important
}
#dashboard  section{
    margin-bottom: 0px !important
}
body{
    overflow-y: hidden;
}
#dashboard .square{
    border-radius: 0;
}
#dashboard  .small-font{
    font-size: 12px;
}
#dashboard  .u-location{
      font-size: 10px;
}

#dashboard .recent-users-list .user-intro .user-details-toggle { 
    background-color: #fff;
}
#dashboard .recent-users-list .user-intro .user-details-toggle:hover i{
    color:#888;
}
#dashboard .recent-users-list  .users-details{
   margin-left: 55px;
}
#dashboard .pad10px{
    margin-top:5px;
    margin-bottom: 5px;
}
.media{
    margin-top: 0
}
