
.progress_head{
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-font-smoothing: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.870588);
    /*display: flex;*/
    flex-direction: column;
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 3px;
    box-sizing: border-box;
    border : none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
.wizard-body{
    border-radius :0;
    -webkit-font-smoothing: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    bottom: auto;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.870588);
    display: block;
    background-color: #ffffff;
    width: 85%;
    margin: 0 7.5%;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
wizard-footer{
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-font-smoothing: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.870588);
    display: flex;
    flex-basis: 0%;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 13px;
    justify-content: center;
}
.stepdiv{
    padding:15px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}
.stepdiv .step-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 50%;
    border-bottom: 1px solid rgba(0,0,0,.12);
    z-index: 8;
}

.stepdiv .step-one:after { 
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    border-bottom: 1px solid rgba(0,0,0,.12);
    z-index: 8;
}
.stepdiv .mini-stat-info {
    display: inline-block;
    position: relative;
    background: #FFF;
    line-height: 33px;
    padding: 5px;
}
.step-wrapper{
    display: inline-block;
    position: relative;
    background: #FFF;
    line-height: 33px;
    z-index: 10;
    padding: 0 16px;
}
.mini-stat-info span{
    font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 24px;
    letter-spacing: -0.100000001490116px; 
}
#msform .help-block{
    text-align: left;
    font-size: 12px;
}
#msform #basicInfoForm label{
    font-size: 13px;
    float: left;
    /*bottom: 37px;*/
    color: rgba(0, 0, 0, 0.258824);
    cursor: text;
    left: 16px;
    /*        order : 1;
            -webkit-font-smoothing: antialiased;*/
    pointer-events: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    font-weight: 100;
    transform: translate3d(0,28px,0) scale(1);
    -webkit-transition: -webkit-transform cubic-bezier(.25,.8,.25,1) .25s;
    transition: -webkit-transform cubic-bezier(.25,.8,.25,1) .25s;
    transition: transform cubic-bezier(.25,.8,.25,1) .25s;
    transition: transform cubic-bezier(.25,.8,.25,1) .25s,-webkit-transform cubic-bezier(.25,.8,.25,1) .25s;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}
#msform input, #msform textarea{

    outline: 0;
    box-shadow: none;
    border-color: rgba(0,0,0,0.12);
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    margin-top: 0;
    background: 0 0;
    border-width: 0 0 1px;
    line-height: 26px;
    height: 30px;
    -ms-flex-preferred-size: 26px;
    border-radius: 0;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    /*float: left;*/
    padding: 2px 2px 1px;
}
#msform textarea{
    /*height: 58px;*/
}
#msform #basicInfoForm .input-focused label, #msform #basicInfoForm .input-has-value label{
    opacity: 1;
    -webkit-transform: translate3d(0,24px,0);
    transform: translate3d(0,24px,0);
    -webkit-transform: translate3d(0,6px,0) scale(.75);
    transform: translate3d(0,6px,0) scale(.75);
    padding-bottom: 0;
    border-width: 0 0 2px;
    -webkit-transform: translate3d(0,6px,0) scale(.75);
    transform: translate3d(0,6px,0) scale(.75);
    -webkit-transition: -webkit-transform cubic-bezier(.25,.8,.25,1) .5s;
    transition: -webkit-transform cubic-bezier(.25,.8,.25,1) .5s;
    transition: transform cubic-bezier(.25,.8,.25,1) .5s;
    transition: transform cubic-bezier(.25,.8,.25,1) .5s,-webkit-transform cubic-bezier(.25,.8,.25,1) .5s;
    font-size: 18px;
    float: left;
    /*bottom: 37px;*/
    color: #000;
    font-weight: 400;
}
.form-ele{
    min-height: 72px;
}
.table-title{
    font-size: 17px;
    text-transform: uppercase;
    padding: 24px;
}
td.table-status{
    padding:24px !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
}
td.table-status span.mini-stat-icon{
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
    font-size: 14px !important;
}
.uploaddiv-body td{
    padding-bottom: 20px !important;
    padding-top: 20px !important;
    font-size: 13px;
}

.stepwizard-two .to-do-list li,.stepwizard-three .to-do-list li{
    padding: 15px;
    text-align: left;
    height: 40px;
    border-bottom: 1px solid #eee;
    background: #fff;
    padding: 14px;
}
.stepwizard-two .to-do-list .mini-stat-icon,.stepwizard-three .to-do-list .mini-stat-icon{
    width: 30px;
    height: 30px; 
    margin-top: -12px;
    font-size: 17px;line-height: 30px;
}
.nameicon{
    vertical-align: middle;position: relative;cursor:default;word-break: break-all;
    top: -9px;
}
.daily-sales-info span.sales-label {
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 14px;
    padding-bottom: 10px;
}
.mini-stat {
    margin-bottom: 0px; 
}
.uploaddiv-one{
    border: none;
    box-shadow: 2px -1px 1px 0px rgba(0,0,0,.2);
    z-index: 1;
}

.uploaddiv {
    padding: 0;
}
.uploaddiv-body{

    max-height: 600px;
    min-height: 600px;
}
.user-heading{
    border-radius: 0 !important;
    text-align: left !important;
    /*font-weight: 600;*/
    text-transform: uppercase;
    color: #000 !important;
}
