
div.todo div.status {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 40px;
    text-align: center;
}
input[type="checkbox"], input[type="radio"], input[type="radio"]:disabled {
    display: none;
}
div.todo div.status label {
    display: block;
    margin: 12px 0px 0px 10px;
}
input[type="checkbox"] + label, input[type="radio"] + label, input[type="radio"]:disabled + label {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    cursor: pointer;
}
input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    color: #666666;
    border-color: #AAAAAA;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
}
div.todo div.task {
    margin-left: 40px;
    margin-right: 50px;
    font-weight: bold;
}
.text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.todo div.todo-item.checked {
    color: #AAAAAA;
}
div.todo div.todo-item.checked label.status {
    color: #AAAAAA;
    background: none;
    text-shadow: none;
}
div.todo div.todo-item.checked label.status {
    padding: 0px;
}
div.todo div.todo-item.checked div.task, div.todo div.todo-item.checked div.data {
    /*text-decoration: line-through;*/
}
div.todo div.todo-item.checked div.task {
    font-weight: normal;
}
div.todo div.todo-item {
    border-bottom-color: #EEEEEE;
}
div.todo div.todo-item {
    position: relative;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
input[type="checkbox"] + label:after, input[type="checkbox"]:disabled + label:after {
    content: '';
    position: absolute;
    display: none;
    left: 1px;
    top: 1px;
    width: 14px;
    height: 14px;
    background: url('../../images/check.png') no-repeat 50% 50%;
}
input[type="checkbox"]:checked + label:after, input[type="checkbox"]:checked:disabled + label:after {
    display: block;
    -webkit-animation: scale 0.1s linear;
    -moz-animation: scale 0.1s linear;
    -ms-animation: scale 0.1s linear;
    -o-animation: scale 0.1s linear;
    animation: scale 0.1s linear;
}
input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    color: #666666;
    border-color: #AAAAAA;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
}
input[type="checkbox"] + label:before, input[type="checkbox"]:disabled + label:before {
    border-radius: 2px;
    font-size: 14px;
}
input[type="checkbox"] + label:before, input[type="radio"] + label:before, input[type="radio"]:disabled + label:before {
    content: '';
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.tab-bg-dark-navy-blue>ul.nav>li.active>a{
    background: #e0e1e7 !important;
}
.tab-bg-dark-navy-blue{
    background:#fff  !important;
}
.tile{
    margin-left: -2px;
    background: #fff;
    filter: none;    padding: 19px 0px;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    xborder: 2px solid #eee; 
    min-height: 570px; 
    max-height: 570px; 
    position: relative;
}
.separation{
    padding: 0px 0 400px 5px;
    background: url("../../images/sidebar.png") left repeat-y;
    -moz-box-sizing: border-box;
}
.activity-circle{
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    font-size: 16px !important;
}
.activity-title{

    font-size: 18px;
    font-weight: 600;

}
.activity-due-separation{

    padding: 20px;
    border-left: 1px solid #ccc;

}
.uppercase{
    text-transform: uppercase;
    color:#ccc
}
.load-more{
    padding: 0;
    margin: 15px 0 0 0;
    background: transparent;
    border-bottom: 0;
    border-top: 1px solid #e0e0e0;
    padding: 10px 15px;
    text-align: center;
}
.load-more a{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    color: #e93100;
}
#sidebar-left{
    min-height: 570px;
    max-height: 570px;
    overflow: auto;
    outline: none;
    margin: -1px 0 0 11px;
}
td.to-do-list.col-md-3{
    text-align: left;
    padding: 15px;
}
.nameicon{
    top: 4px !important;
    left: 5px;
}
th.notopborder{
    border-bottom: 0px !important;
    overflow: hidden;
    white-space: nowrap;
}
th.nobottborder{
    border-top: 0px !important;
}
.calendar-hours {
  border-top: solid 1px rgba(0,0,0,0.1);
}
.calendar-hour {
  height: 80px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}.calendar-hour .cal-from {
  position: absolute;
  margin-top: 18px;
  font-size: 11px;
  font-weight: 400;
  padding-left: 20px;
}.calendar-hour strong {
  color: #666666;
  opacity: 0.7;
}.calendar-hour .cal-to {
  position: absolute;
  margin-top: 40px;
  font-size: 11px;
  font-weight: 400;
  padding-left: 20px;
}.calendar-hour h4 {
  font-size: 14px;
  padding-left: 100px;
  padding-top: 17px;
  margin-bottom: 2px;
}.calendar-hour em {
  font-style: normal;
  font-size: 11px;
  padding-left: 100px;
  color: #666666;
}.calendar-hour em i {
  margin-right: 10px;
}.calendar-hour .cal-time {
  position: absolute;
  margin-top: 30px;
  font-weight: 400;
  font-size: 11px;
  padding-left: 20px;
} a.calendar-hour {
  display: block;
  position: relative;
  overflow: hidden;
}
td{
    white-space: nowrap;
}
.second-panel{
    padding-left: 0px;
    margin-left: -33px;
}
.sub-panel{
     height: 408px; overflow: auto;width:800px; 
}
.main-panel{
  width:800px; 
}
th{
    font-weight: bold;
    vertical-align: middle !important;
    white-space: nowrap;
}