#timecol{
    font-weight: 700;
    font-size: 11px;
    color: #99999a;
}
.margin{
    margin-left: -1.5em;
}
#calenderDiv{
    width:100%;
    height:100%;
}
#outboxDiv{
    width:100%;
    height:100%;
}
#attach{
   bottom:-13px;
}
.uploadhide{
  display:none;
}
.justify{
 text-align: justify;
}
.bold{
font-weight: bold;
font-size:14px;
}
.ack:hover,.forward:hover{
    color:blue;
    font-weight: bold;
}
.accept:hover,.finish:hover,approval:hover{
    color:green;
    font-weight: bold;
}
.decline:hover{
    color:red;
    font-weight: bold;
}
.discuss:hover{
    color:yellow;
    font-weight: bold;
}
.wordbreak{
  word-break: break-word;text-align: justify;  
}
