.card-shadow,
.widget-header .widget-action-bar > li > .dropdown-menu {
    box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
}
.padding-top-2 {
    padding-top: 2px;
}
.padding-top-4 {
    padding-top: 4px;
}
.padding-top-6 {
    padding-top: 6px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-bottom-30 {
    padding-bottom: 30px;
}
.margin-bottom-10 {
    padding-bottom: 10px;
}
.components-container {
    margin-top: 30px;
}
.components-container a {
    margin-bottom: 8px;
}
.btn-ex-container a {
    margin-bottom: 8px;
    display: block;
}
.btn-ex-container a.btn.disabled {
    height: 38px;
}
.ex-container {
    margin-top: 30px;
}
.border-right {
    border-right: #eee 1px solid;
}
.widget-wrap {
    background-color: #fff;
    xmargin-bottom: 30px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.widget-wrap .widget-header h1,
.widget-wrap .widget-header h2,
.widget-wrap .widget-header h3,
.widget-wrap .widget-header h4,
.widget-wrap .widget-header h5,
.widget-wrap .widget-header h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}
.widget-wrap .widget-header p {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 12px;
}
.widget-wrap .widget-container {
    margin-top: 30px;
}
.widget-wrap.w-fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1400;
    overflow-y: auto;
}
.section-header {
    margin-bottom: 20px;
    border-bottom: #eee 1px solid;
}
.section-header h1,
.section-header h2,
.section-header h3,
.section-header h4,
.section-header h5,
.section-header h6 {
    margin-top: 0px;
    font-size: 24px;
    font-weight: 300;
}
.widget-header {
    margin-bottom: 30px;
}
.widget-header.block-header {
    border-bottom: #eee 1px solid;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 15px;
    padding-right: 15px;
}
.widget-header .widget-action-bar {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: right;
}
.widget-header .widget-action-bar > li {
    display: inline-block;
}
.widget-header .widget-action-bar > li > .dropdown-menu {
    min-width: 174px !important;
    right: 47px;
    left: auto;
    top: -4px;
    display: block;
    visibility: hidden;
    -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(0);
    -webkit-transform: scale(0);
    transform-origin: right top;
    -webkit-transform-origin: right top;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    margin-top: 3px;
    border: #eee 1px solid;
}
.widget-header .widget-action-bar > li > .dropdown-menu > li {
    display: inline-block;
    float: left;
}
.widget-header .widget-action-bar > li > .dropdown-menu > li > a {
    padding: 0px;
    width: 43px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    border-right: #eee 1px solid;
}
.widget-header .widget-action-bar > li > .dropdown-menu > li > a i {
    font-size: 16px;
}
.widget-header .widget-action-bar > li > .dropdown-menu > li:last-child a {
    border-right: 0px;
}
.widget-header .widget-action-bar > li.open .dropdown-menu {
    visibility: visible;
    -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1);
    -webkit-transform: scale(1);
}
.widget-header .widget-action-bar > li > a {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 47px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #868686;
    background-color: #f5f5f5;
    border: #eee 1px solid;
}
.widget-header .widget-action-bar > li > a:hover,
.widget-header .widget-action-bar > li > a:focus {
    color: #17bab8;
}
.widget-header .widget-action-bar > li > a i {
    font-size: 20px;
}
.widget-header.single-line-h {
    position: relative;
}
.widget-header.single-line-h h1,
.widget-header.single-line-h h2,
.widget-header.single-line-h h3,
.widget-header.single-line-h h4,
.widget-header.single-line-h h5,
.widget-header.single-line-h h6 {
    margin-top: 15px;
}
.w-section-header {
    margin-bottom: 20px;
    border-bottom: #eee 1px solid;
}
.w-section-header h1,
.w-section-header h2,
.w-section-header h3,
.w-section-header h4,
.w-section-header h5,
.w-section-header h6 {
    margin-top: 0px;
    font-weight: 300;
    font-size: 20px;
}
.margin-top-0 {
    margin-top: 0px !important;
}
.margin-bottom-0 {
    margin-bottom: 0px !important;
    xpadding-bottom: 0px !important;
}
.td-center {
    text-align: center;
}
.td-center .btn-toolbar .btn-group {
    float: none;
}
.widget-content table {
    margin-bottom: 0px;
}
.stats-widget {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.stats-widget.overflow-hidden {
    overflow: hidden;
}
.stats-widget > .widget-header {
    margin-bottom: 14px;
}
.stats-widget > .widget-header h1,
.stats-widget > .widget-header h2,
.stats-widget > .widget-header h3,
.stats-widget > .widget-header h4,
.stats-widget > .widget-header h5,
.stats-widget > .widget-header h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.stats-widget > .widget-header p {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 12px;
}
.stats-widget .sparkline {
    margin-left: -30px;
    margin-right: -32px;
    margin-bottom: -10px;
    margin-top: 20px;
}
.stats-widget .stats-chart-container {
    margin-top: 20px;
    padding: 20px 20px 30px 20px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;
    border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
}
.stats-widget .stats-chart {
    height: 80px;
}
.stats-widget .widget-stats-list ul {
    margin: 0px;
    padding: 0px;
}
.stats-widget .widget-stats-list ul li {
    list-style: none;
}
.stats-widget .widget-stats-list ul li label {
    font-weight: normal;
    margin: 0px;
    color: #777;
}
#main-chart-legend,
#combine-chart-legend,
#line-chart-legend,
#multi-spline-chart-legend,
#spline-chart-legend,
#curved-line-chart-legend,
#area-chart-legend,
#reatime-chart-legend,
#pie-chart-legend {
    margin-bottom: 30px;
    margin-left: 0px;
}
#main-chart-legend .legendColorBox > div,
#combine-chart-legend .legendColorBox > div,
#line-chart-legend .legendColorBox > div,
#multi-spline-chart-legend .legendColorBox > div,
#spline-chart-legend .legendColorBox > div,
#curved-line-chart-legend .legendColorBox > div,
#area-chart-legend .legendColorBox > div,
#reatime-chart-legend .legendColorBox > div,
#pie-chart-legend .legendColorBox > div {
    border: 0px !important;
}
#main-chart-legend .legendColorBox > div > div,
#combine-chart-legend .legendColorBox > div > div,
#line-chart-legend .legendColorBox > div > div,
#multi-spline-chart-legend .legendColorBox > div > div,
#spline-chart-legend .legendColorBox > div > div,
#curved-line-chart-legend .legendColorBox > div > div,
#area-chart-legend .legendColorBox > div > div,
#reatime-chart-legend .legendColorBox > div > div,
#pie-chart-legend .legendColorBox > div > div {
    width: 14px !important;
    height: 12px !important;
    border-width: 7px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#main-chart-legend .legendLabel,
#combine-chart-legend .legendLabel,
#line-chart-legend .legendLabel,
#multi-spline-chart-legend .legendLabel,
#spline-chart-legend .legendLabel,
#curved-line-chart-legend .legendLabel,
#area-chart-legend .legendLabel,
#reatime-chart-legend .legendLabel,
#pie-chart-legend .legendLabel {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 5px;
    padding-right: 10px;
}
.main-chart-info {
    border-top: #eee 1px solid;
    margin-left: -30px;
    margin-bottom: -30px;
    margin-right: -30px;
    border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
}
.main-chart-info ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.main-chart-info ul li {
    display: inline-block;
}
.main-chart-info ul li a {
    padding: 20px;
    border-right: #eee 1px solid;
    display: inline-block;
    color: #666;
}
.main-chart-info ul li a:hover,
.main-chart-info ul li a:focus {
    text-decoration: none;
}
.main-chart-info ul li:last-child a {
    border-right: 0px;
}
.main-chart-info .chart-info-icon {
    display: block;
    font-size: 18px;
}
.main-chart-info .main-chart-stat-label {
    display: block;
}
.flot-chart {
    height: 230px;
}
.tabby-analytics .nav-tabs {
    background-color: #f5f5f5;
    border-bottom: #eee 1px solid;
    margin-left: -30px;
    margin-right: -30px;
}
.tabby-analytics .nav-tabs > li > a {
    padding: 15px 30px;
}
#main-chart {
    height: 250px;
}
.MainFlotTip,
.StatsFlotTip {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    border: rgba(0, 0, 0, 0.2) 1px solid !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.analytics-container {
    padding: 30px 0px;
}
.stats-meta {
    padding: 30px 0px 10px 0px;
}
.stats-meta h1,
.stats-meta h2,
.stats-meta h3,
.stats-meta h4,
.stats-meta h5,
.stats-meta h6 {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}
.stats-meta ul {
    list-style: none;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    text-align: center;
}
.stats-meta ul li {
    font-size: 12px;
}
.stats-meta ul li a {
    display: inline-block;
    color: #666;
}
.stats-meta ul li a:hover,
.stats-meta ul li a:focus {
    text-decoration: none;
}
.regional-analytics {
    padding: 0px 0px;
    margin-left: -30px;
    margin-right: -30px;
    height: 400px;
}
.regional-map-stats {
    border-top: #eee 1px solid;
    background-color: #f9f9f9;
    padding: 0px 15px;
    border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    margin-left: -30px;
    margin-bottom: -30px;
    margin-right: -30px;
}
.regional-map-stats .map-stats-container {
    padding: 30px 15px;
}
.regional-map-stats h1,
.regional-map-stats h2,
.regional-map-stats h3,
.regional-map-stats h4,
.regional-map-stats h5,
.regional-map-stats h6 {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
}
.regional-map-stats .progress {
    height: 4px;
    margin-bottom: 8px;
}
.regional-map-stats .progress .progress-bar:last-child:before {
    background-color: #eee;
}
.regional-map-stats .progress .progress-bar {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.regional-map-stats .progress .progress-bar.p-most-visited {
    background-color: #039be5 !important;
}
.regional-map-stats .progress .progress-bar.p-reg-visited {
    background-color: #ef9a9a !important;
}
.regional-map-stats .progress .progress-bar.p-rep-visited {
    background-color: #ff5722 !important;
}
.regional-map-stats .visit-progress-info {
    color: #888;
    font-size: 12px;
}
.regional-map-stats .visit-progress-info .v-more,
.regional-map-stats .visit-progress-info .v-less {
    font-size: 14px;
    padding-right: 4px;
}
.regional-map-stats .visit-progress-info .v-more {
    color: #388e3c;
}
.regional-map-stats .visit-progress-info .v-less {
    color: #ff5252;
}
.regional-map-stats .visit-progress-info .v-percent {
    font-weight: 500;
    font-size: 14px;
    color: #666;
}
.activities-container {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;
}
.activities-container .activities-list {
    margin: 0px 30px;
}
.activities-container .btn-loadmore {
    border-top: #eee 1px solid;
    padding: 20px 30px 24px 30px;
    color: #868686;
    background-color: #f5f5f5;
    text-transform: uppercase;
}
.activities-container .btn-loadmore:hover,
.activities-container .btn-loadmore:focus {
    border-top: #17bab8 1px solid;
    color: #fff;
    background-color: #17bab8;
    border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
}
.recent-users-list {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}
.recent-users-list > .individual-user {
    border-bottom: #eee 1px solid;
}
.recent-users-list > .individual-user:hover,
.recent-users-list > .individual-user:focus {
    background-color: #f9f9f9;
}
.recent-users-list .user-intro {
    display: table;
    width: 100%;
    padding: 15px 30px;
    position: relative;
}
.recent-users-list .user-intro .user-details-toggle {
    width: 30px;
    height: 30px;
    background-color: #f5f5f5;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 30px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.recent-users-list .user-intro .user-details-toggle:hover,
.recent-users-list .user-intro .user-details-toggle:focus {
    background-color: #17bab8;
    color: #fff;
    cursor: pointer;
}
.recent-users-list .user-intro .user-details-toggle:hover i,
.recent-users-list .user-intro .user-details-toggle:focus i {
    color: #fff;
}
.recent-users-list .user-intro .user-details-toggle i {
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
    color: #888;
}
.recent-users-list .user-intro .user-thumb {
    width: 50px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
.recent-users-list .user-intro .user-thumb img {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.recent-users-list .user-intro .users-info {
    display: table-cell;
    vertical-align: middle;
    xpadding-right: 40px;
    width: 100%;
    padding-left: 20px;
}
.recent-users-list .user-intro .users-info ul {
    margin: 0px;
    padding: 0px;
}
.recent-users-list .user-intro .users-info ul li {
    list-style: none;
    line-height: normal;
}
.recent-users-list .user-intro .users-info .u-name {
    font-size: 16px;
    font-weight: 300;
}
.recent-users-list .user-intro .users-info .u-name a {
    color: #444;
}
.recent-users-list .user-intro .users-info .u-name a:hover,
.recent-users-list .user-intro .users-info .u-name a:focus {
    text-decoration: none;
    color: #17bab8;
}
.recent-users-list .user-intro .users-info .u-location {
    font-size: 12px;
    color: #888;
    margin-top: 4px;
}
.recent-users-list .users-details {
    display: none;
    padding-bottom: 15px;
    padding-right: 19px;
    margin-left: 80px;
}
.recent-users-list .users-details ul {
    margin: 0px;
    padding: 0px;
}
.recent-users-list .users-details ul li {
    list-style: none;
    line-height: normal;
    color: #666;
}
.recent-users-list .users-details ul li label {
    font-weight: 400;
    padding-right: 6px;
    text-transform: uppercase;
    font-size: 10px;
}
.recent-users-list .users-details ul li .label {
    font-size: 10px;
    color: #fff;
    text-transform: none;
}
.recent-users-list .info-expand .users-details {
    display: block;
}
.recent-users-list .btn-loadmore {
    margin-top: -1px;
    border-top: #eee 1px solid;
    padding: 20px 30px 24px 30px;
    color: #868686;
    background-color: #f5f5f5;
    text-transform: uppercase;
}
.recent-users-list .btn-loadmore:hover,
.recent-users-list .btn-loadmore:focus {
    border-top: #17bab8 1px solid;
    color: #fff;
    background-color: #17bab8;
    border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
}
.recent-comments-list {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;
}
.recent-comments-list .recent-comments {
    border-bottom: #eee 1px solid;
}
.recent-comments-list .recent-comment-meta {
    display: table;
    width: 100%;
    position: relative;
    padding: 15px 30px 0px 30px;
}
.recent-comments-list .recent-comment-meta .comment-user-thumb {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
}
.recent-comments-list .recent-comment-meta .comment-user-thumb img {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.recent-comments-list .recent-comment-meta .comment-user-info {
    padding: 15px 0px;
    display: table-cell;
    vertical-align: middle;
}
.recent-comments-list .recent-comment-meta .comment-user-info ul {
    margin: 0px;
    padding: 0px;
}
.recent-comments-list .recent-comment-meta .comment-user-info ul li {
    list-style: none;
    line-height: normal;
    color: #666;
}
.recent-comments-list .recent-comment-meta .comment-user-info .u-name a {
    color: #444;
}
.recent-comments-list .recent-comment-meta .comment-user-info .u-name a:hover,
.recent-comments-list .recent-comment-meta .comment-user-info .u-name a:focus {
    text-decoration: none;
    color: #17bab8;
}
.recent-comments-list .recent-comment-meta .comment-user-info .p-time {
    font-size: 12px;
}
.recent-comments-list .comment-text {
    padding: 0px 30px;
    margin-bottom: 25px;
    color: #666;
    font-size: 12px;
}
.recent-comments-list .comments-reply {
    width: 30px;
    height: 30px;
    background-color: #f5f5f5;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 30px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.recent-comments-list .comments-reply:hover,
.recent-comments-list .comments-reply:focus {
    background-color: #17bab8;
    color: #fff;
    cursor: pointer;
}
.recent-comments-list .comments-reply:hover i,
.recent-comments-list .comments-reply:focus i {
    color: #fff;
}
.recent-comments-list .comments-reply i {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
    color: #888;
}
.recent-comments-list .btn-loadmore {
    margin-top: -1px;
    border-top: #eee 1px solid;
    padding: 20px 30px 24px 30px;
    color: #868686;
    background-color: #f5f5f5;
    text-transform: uppercase;
}
.recent-comments-list .btn-loadmore:hover,
.recent-comments-list .btn-loadmore:focus {
    border-top: #17bab8 1px solid;
    color: #fff;
    background-color: #17bab8;
    border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
}
.widget-task-list {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -30px;
}
.widget-task-list .task-entry {
    padding: 15px 30px;
    border-bottom: #eee 1px solid;
}
.widget-task-list .task-entry .task-intro {
    display: table;
    width: 100%;
    position: relative;
}
.widget-task-list .task-entry .task-action {
    width: 30px;
    display: table-cell;
    vertical-align: middle;
}
.widget-task-list .task-entry .task-title {
    cursor: pointer;
}
.widget-task-list .task-entry .task-details {
    font-size: 12px;
    padding-top: 3px;
    display: none;
    margin-left: 30px;
}
.widget-task-list .task-entry .task-details p {
    margin-bottom: 3px;
}
.widget-task-list .task-entry .task-details .todo-date {
    margin-top: 3px;
}
.widget-task-list .task-entry .task-details .todo-date .todo-due-date i {
    padding-right: 6px;
}
.widget-task-list .task-entry.task-done {
    opacity: .7;
}
.widget-task-list .task-entry.task-done .task-title {
    text-decoration: line-through;
}
.widget-task-list .task-entry:hover,
.widget-task-list .task-entry:focus {
    background-color: #f5f5f5;
}
.widget-task-list > div:last-child {
    border-bottom: 0px;
}
.loadmask {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #333;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.loadmask-msg {
    z-index: 1000;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    margin-top: -30px;
    margin-left: -40px;
    background: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.loadmask-msg .w-mask-label {
    float: left;
    position: relative;
    top: 4px;
}
.loadmask-msg > div {
    padding: 10px 12px;
    font-size: 13px;
    color: #fff;
    cursor: wait;
}
.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}
.w-loader {
    width: 30px;
    float: left;
    display: inline-block;
    margin-right: 6px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #17bab8;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.w-loader,
.w-loader:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.iconic-alert {
    display: table;
    width: 100%;
    padding: 20px 40px 20px 20px !important;
}
.iconic-alert .alerts-icon {
    display: table-cell;
    vertical-align: top;
    width: 50px;
}
.iconic-alert .alerts-icon i {
    font-size: 40px;
}
.iconic-alert .alerts-details {
    display: table-cell;
    vertical-align: top;
}
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 {
    font-size: 16px;
    font-weight: 500;
}
.alert p {
    line-height: normal;
    font-size: 14px;
    margin-bottom: 0px;
}
.alert .btn {
    margin-top: 15px;
}
.apps-quick-access {
    background-color: #fff;
    padding: 30px;
    position: fixed;
    left: 0px;
    top: 60px;
    width: 100%;
    height: 230px;
    overflow-y: auto;
    z-index: 1000;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
}
.apps-quick-access.quick-access-toggle {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.quick-access-text h1,
.quick-access-text h2,
.quick-access-text h3,
.quick-access-text h4,
.quick-access-text h5,
.quick-access-text h6 {
    margin-top: 0px;
    margin-bottom: 20px;
}
.dashboard-shortcut .apps-shortcut-container {
    border: #eee 1px solid;
}
.dashboard-shortcut h1,
.dashboard-shortcut h2,
.dashboard-shortcut h3,
.dashboard-shortcut h4,
.dashboard-shortcut h5,
.dashboard-shortcut h6 {
    margin-top: 0px;
    margin-bottom: 20px;
}
.dashboard-shortcut .apps-shortcut {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-right: -1px;
    margin-bottom: -1px;
}
.dashboard-shortcut .apps-shortcut > li {
    width: 12.5%;
    height: 120px;
    float: left;
    display: inline-block;
}
.dashboard-shortcut .apps-shortcut > li > a {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #f9f9f9;
    border-right: #eee 1px solid;
    border-bottom: #eee 1px solid;
    color: #666;
    display: inline-block;
    float: left;
    text-align: center;
}
.dashboard-shortcut .apps-shortcut > li > a .apps-label {
    display: block;
    font-size: 12px;
}
.dashboard-shortcut .apps-shortcut > li > a .apps-noty {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    right: 7px;
    top: 6px;
    display: inline-block;
    padding: 3px 4px;
    font-size: 10px;
    background-color: #ff5252;
    position: absolute;
    font-weight: 600;
    color: #ffffff;
}
.dashboard-shortcut .apps-shortcut > li > a i {
    width: 100%;
    height: 70px;
    padding-top: 6px;
    margin-bottom: 3px;
    display: inline-block;
    line-height: 70px;
    font-size: 32px;
}
.dashboard-shortcut .apps-shortcut > li > a:hover,
.dashboard-shortcut .apps-shortcut > li > a:focus,
.dashboard-shortcut .apps-shortcut > li > a:active,
.dashboard-shortcut .apps-shortcut > li > a.active {
    background-color: #f1f1f1;
    color: #17bab8;
    text-decoration: none;
}
.spark-line-chart {
    position: relative;
}
.jqstooltip {
    border: 0px #000 solid !important;
    background-color: #353535 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.jqstooltip * {
    font-size: 12px !important;
}
.spark-header {
    margin-top: 10px;
    font-size: 20px;
}
#nvd-barline-chart svg {
    height: 400px;
    width: 100%;
}
.nvd3-chart {
    margin: 0px;
    padding: 0px;
    height: 400px !important;
    width: 100%;
}
.nvd3-chart svg {
    display: block;
    margin: 0px;
    padding: 0px;
    height: 400px;
    width: 100%;
}
.dashed {
    stroke-dasharray: 3,3;
}
.canvas-container {
    text-align: center;
}
#js-line-chart-legend,
#js-curved-line-legend {
    margin-bottom: 20px;
}
#js-line-chart-legend ul,
#js-curved-line-legend ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#js-line-chart-legend ul li > span,
#js-curved-line-legend ul li > span {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.fc-row.fc-rigid {
    overflow: visible !important;
}
.fc-view-container .fc-widget-header tr th {
    padding: 15px 0px;
    background-color: #f5f5f5;
}
.fc-view-container .popover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    z-index: 800;
}
.fc-toolbar {
    margin-bottom: 30px !important;
}
.select-cal-view {
    text-align: center;
}
.fc-day-grid-event {
    margin: 1px 2px 0 !important;
    padding: 4px 6px !important;
    font-size: 12px !important;
    font-weight: 400;
}
.calendar-toolbar {
    padding-bottom: 30px;
}
/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/
@font-face {
    font-family: 'weather';
    src: url('../fonts/artill_clean_icons-webfont.eot');
    src: url('../fonts/artill_clean_icons-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/artill_clean_icons-webfont.woff') format('woff'), url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'), url('../fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.weather-widget {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
}
.weather-widget-wall {
    text-align: center;
    color: #fff;
    padding: 30px;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}
.weather-widget-wall .weather-icon {
    margin: 30px auto;
    display: inline-block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.weather-widget-wall .weather-icon i {
    font-family: weather;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: normal !important;
    font-size: 150px;
    line-height: normal;
    position: relative;
}
.forecast .sun-r-s {
    padding: 10px 30px;
    text-align: center;
    border-bottom: #eee 1px solid;
    background-color: #f9f9f9;
    color: #666;
}
.forecast .sun-r-s > span {
    padding-right: 10px;
}
.forecast .sun-r-s label {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0px;
}
.forecast > ul {
    padding: 0px 15px;
    margin: 0px;
    list-style: none;
    text-align: center;
}
.forecast > ul > li {
    padding: 15px 24px;
    display: inline-block;
    text-align: center;
    border-right: rgba(0, 0, 0, 0.08) 1px solid;
    color: #666;
}
.forecast > ul > li:last-child {
    border-right: 0px;
}
.forecast > ul > li > span {
    display: block;
    text-align: center;
    text-transform: capitalize;
}
.forecast .day-w-icon i {
    font-family: weather;
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: normal;
}
.temperature {
    display: table;
    width: 100%;
}
.temperature .date-time {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}
.temperature .date-time > span {
    display: block;
    text-align: center;
}
.temperature .w-meter {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.temperature .w-meter > span {
    width: 50%;
    line-height: normal;
    display: table-cell;
    vertical-align: middle;
}
.temperature .temperature-f {
    font-size: 44px;
}
.temperature .temperature-c {
    font-size: 20px;
}
.icon-0:before {
    content: ":";
}
.icon-1:before {
    content: "p";
}
.icon-2:before {
    content: "S";
}
.icon-3:before {
    content: "Q";
}
.icon-4:before {
    content: "S";
}
.icon-5:before {
    content: "W";
}
.icon-6:before {
    content: "W";
}
.icon-7:before {
    content: "W";
}
.icon-8:before {
    content: "W";
}
.icon-9:before {
    content: "I";
}
.icon-10:before {
    content: "W";
}
.icon-11:before {
    content: "I";
}
.icon-12:before {
    content: "I";
}
.icon-13:before {
    content: "I";
}
.icon-14:before {
    content: "I";
}
.icon-15:before {
    content: "W";
}
.icon-16:before {
    content: "I";
}
.icon-17:before {
    content: "W";
}
.icon-18:before {
    content: "U";
}
.icon-19:before {
    content: "Z";
}
.icon-20:before {
    content: "Z";
}
.icon-21:before {
    content: "Z";
}
.icon-22:before {
    content: "Z";
}
.icon-23:before {
    content: "Z";
}
.icon-24:before {
    content: "E";
}
.icon-25:before {
    content: "E";
}
.icon-26:before {
    content: "3";
}
.icon-27:before {
    content: "a";
}
.icon-28:before {
    content: "A";
}
.icon-29:before {
    content: "a";
}
.icon-30:before {
    content: "A";
}
.icon-31:before {
    content: "6";
}
.icon-32:before {
    content: "1";
}
.icon-33:before {
    content: "6";
}
.icon-34:before {
    content: "1";
}
.icon-35:before {
    content: "W";
}
.icon-36:before {
    content: "1";
}
.icon-37:before {
    content: "S";
}
.icon-38:before {
    content: "S";
}
.icon-39:before {
    content: "S";
}
.icon-40:before {
    content: "M";
}
.icon-41:before {
    content: "W";
}
.icon-42:before {
    content: "I";
}
.icon-43:before {
    content: "W";
}
.icon-44:before {
    content: "a";
}
.icon-45:before {
    content: "S";
}
.icon-46:before {
    content: "U";
}
.icon-47:before {
    content: "S";
}
.theme-switcher {
    width: 270px;
    -webkit-transform: translate(270px, 0);
    -moz-transform: translate(270px, 0);
    -o-transform: translate(270px, 0);
    -ms-transform: translate(270px, 0);
    transform: translate(270px, 0);
    -webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #fff;
    height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 800;
    border-left: #eee 1px solid;
    padding-top: 60px;
    padding-left: 25px;
}
.theme-switcher.theme-switcher-toggle {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.theme-switcher .theme-switcher-icon {
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-left: #eee 1px solid;
    border-top: #eee 1px solid;
    border-bottom: #eee 1px solid;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    left: -44px;
    top: 154px;
    z-index: 700;
}
.theme-switcher .theme-switcher-icon i {
    width: 44px;
    height: 44px;
    display: inline-block;
    line-height: 42px;
    font-size: 24px;
    text-align: center;
}
.theme-switcher .sw-layout-styles {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.theme-switcher .sw-layout-styles > li {
    padding: 5px 0px;
    display: block;
}
.theme-switcher .sw-layout-styles > li a {
    display: block;
}
.theme-switcher .layout-switch {
    margin-right: 15px;
}
.theme-switcher .switch-theme-colors {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.theme-switcher .switch-theme-colors > li .l-t-colors {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 108px;
    height: 30px;
    position: relative;
}
.theme-switcher .switch-theme-colors > li .l-t-colors > span {
    width: 54px;
    height: 30px;
    display: block;
    position: absolute;
}
.theme-switcher .switch-theme-colors > li .l-t-colors > span.primary-t-color {
    left: 0px;
    top: 0px;
    background-color: #ddd;
}
.theme-switcher .switch-theme-colors > li .l-t-colors > span.sec-t-color {
    right: 0px;
    top: 0px;
    background-color: #aaa;
}
.t-sw-color {
    cursor: pointer;
}
