<?php
echo $this->tag->stylesheetLink("css/appstyles/classroom-page.css");
?>
<script type="text/javascript">
    $(document).ready(function () {
//        $(".mini-stat.tabactive").unbind().on('click', function () {
//            var activetab = $(this).attr('tabactive')
//            console.log('clicked' + activetab)
//            $('.nav li').removeClass('active')
//            $('.nav li.' + activetab).addClass('active')
//            $('.tab-pane').removeClass('active')
//            $('#' + activetab).addClass('active')
//
//        });
        $(".rightlink>li>a").unbind().on('click', function () {
            $('.rightlink > li').removeClass('active')
            $(this).parent().addClass('active')
            var activetab = $(this).attr('href')
            $('.tab-act').removeClass('active')
            $(activetab).addClass('active')

        });
        classroomAdminSettings.loadAttendanceSet();
        $('#attendance_section').on('click', function () {
            classroomAdminSettings.loadAttendanceSet();
        });
        $('#mainexam_section').on('click', function () {
            classroomAdminSettings.loadAddExam();
            $('#ratDivisonDiv').empty()
            $('#ratCategoryDiv').empty()
        });
        $('#rating_section').on('click', function () {
            $('#xamcombiDiv').empty()
            classroomAdminSettings.assignrating();
            classroomAdminSettings.ratingSettings();
        });
        $('.carousel-indicators li').each(function () {
            $(this).carousel('pause');
        });
        $('.carousel-control.left').click(function () {
            $('#c-slide').carousel('prev');
        });

        $('.carousel-control.right').click(function () {
            var ind = $('#c-slide .active').index();
//            console.log(ind)
            if (ind == '1') {
//                console.log('in')
                ratingSettings.updateRatingCategory()
            } else {
                $('#c-slide').carousel('next');
            }
        });
    });
</script>


<div class="row">
    <div class="col-md-12">
        <div class="widget-wrap material-table-widget">

            <div class="widget-container margin-top-0">
                <div class="widget-content">
                    <div class="data-action-bar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="data-align-right">
                                    <ul class="rightlink">
                                        <li class="active"><a href="#attendance" id="attendance_section"><i class="fa fa-calendar"></i> Attendance</a></li>
                                        <li><a href="#mainexam_tabpane" id="mainexam_section"><i class="fa fa-book"></i> Main Exam</a></li>
                                        <li><a href="#rating" id="rating_section"><i class="fa fa-star"></i> Subject Ratings</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <section class="panel" id="other_section">
                        <div class="tab-content tasi-tab">

                            <div id="attendance" class="tab-act tab-pane active">
                                <!--  attendance content goes here-->
                                <div id="attcombiDiv" class="hide"></div>
                            </div>

                            <div id="mainexam_tabpane" class="tab-act tab-pane ">  
                                <!--  mainexam content goes here-->
                                <div id="xamcombiDiv" class="hide"></div>

                            </div>

                            <div id="promotion" class="tab-act tab-pane ">
                                <!--classtest content goes here-->
                                <div id="tstcombiDiv" class="hide"></div>
                            </div>

                            <div id="evaluation" class="tab-act tab-pane ">
                                <!--assignment content goes here-->
                                <div id="assigncombiDiv" class="hide"></div>
                            </div>

                            <div id="rating" class="tab-act tab-pane ">
                                <!--rating content goes here-->

                                <div class="tabs tabs-style-linebox">
                                    <section class="panel">
                                        <div id="c-slide" class="carousel slide  panel-body" data-interval="false">
                                            <ol class="carousel-indicators out">
                                                <li class="active " ></li>
                                                <li class=""  ></li>
                                                <li class=""></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="item text-center active">
                                                    <h3><b>Manage Student Rating Division</b></h3>
                                                    <div id="ratDivisonDiv" class="hide"></div>
                                                </div>
                                                <div class="item text-center">
                                                    <h3><b>Manage Student Rating Category</b></h3>
                                                    <div id="ratCategoryDiv"></div>
                                                </div>
                                                <div class="item text-center">
                                                    <h3><b>Manage Student Rating Values</b></h3>
                                                    <div id="ratValDiv"></div>
                                                </div>
                                            </div>
                                            <a  href="javascript:;" class="left carousel-control">
                                                <i class="fa fa-2x fa-angle-left"></i>
                                            </a>
                                            <a  href="javascript:;" class="right carousel-control">
                                                <i class="fa fa-2x fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </section>
                                </div>   
                            </div>

                        </div>      
                    </section>
                </div>
            </div>
        </div>
    </div>
</div> 
<!--<div class="row">
    <div class="col-md-2">
        <div class="mini-stat clearfix tabactive"  tabactive ="attendance" id="attendance_section"> 

            <span class="mini-stat-icon orange"><i class="fa fa-calendar"></i></span>
            <div class="mini-stat-info">
                <span>Attendance</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="mini-stat clearfix tabactive" tabactive ="mainexam_tabpane" id="mainexam_section" > 

            <span class="mini-stat-icon tar"><i class="fa fa-book"></i></span>
            <div class="mini-stat-info">
                <span>Main Exam</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="mini-stat clearfix tabactive"  tabactive ="rating" id="rating_section">

            <span class="mini-stat-icon green"><i class="fa fa-star"></i></span>
            <div class="mini-stat-info">
                <span>Ratings</span>
            </div>
        </div>
    </div>
        <div class="col-md-2">
            <div class="mini-stat clearfix tabactive"  tabactive ="evaluation" id="evaluation_section">
    
                <span class="mini-stat-icon yellow-b"><i class="fa fa-check-square-o"></i></span>
                <div class="mini-stat-info">
                    <span>Evaluation</span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="mini-stat clearfix tabactive"  tabactive ="promotion" id="promotion_section">
    
                <span class="mini-stat-icon pink"><i class="fa fa-trophy"></i></span>
                <div class="mini-stat-info">
                    <span>Promotion</span>
                </div>
            </div>
        </div>

</div>-->

