<script>
    $(document).ready(function () {
        $('#dob').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            endDate: '+0d',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2

        });

        $('#doa').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2

        });
    });

</script>
<script>
    $(document).ready(function (e) {
        $("#staffDetailsForm").on('submit', (function (e) {
//alert('test');
            e.preventDefault();
            var applnData = {};
            var valid = 1,error ='';
            $("#staffDetailsForm").find('input,select,textarea').each(function () {
                applnData[$(this).attr('name')] = $.trim($(this).val());
                if ($(this).parent().prev('label').hasClass('mandatory')) {
                    if ($.trim($(this).val()) == '') {
                        valid = 0;
                        error += $(this).attr('title') + ' is required!<br>';
                    }

                }
            });
            if (valid) {
                $.ajax({
                    url: commonSettings.appointAjaxurl + "/saveStaff", // Url to which the request is send
                    type: "POST", // Type of request to be send, called as method
                    data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false, // The content type used when sending data to the server.
                    cache: false, // To unable request pages to be cached
                    processData: false,
                    dataType: "JSON", // To send DOMDocument or non processed data file it is set to false
                    success: function (data)   // A function to be called if request succeeds
                    {
                        //alert(data);
                        $('#messageBoxModal .msgBox-title').html('Message');
                        $('#messageBoxModal .msgBox-body').html(data['message']);
                        $('#messageBoxModal').modal('show');
                        $('#msg_ok').unbind('click').click(function () {
                            if (data['type'] == 'error') {
                                $('#msg_ok').unbind('click').click();
                                return false;
                            }
                            else if (data['type'] == 'success') {
//                            staffCycleSettings.loadAppointment();   //  window.location.reload();
                                var staffData = {};
                                staffData.type = 'Appointment';
                                staffData.itemID = data['ItemID'];
                                staffData.status = 'Forwarded';
                                staffData.fromPage = 'Appointment'; //recordTypId
                                console.log(staffData)
                                approvalSettings.checkReqStatus(staffData);
                            }
                        });
                    }
                });
            } else {
                $('#messageBoxModal .msgBox-title').html('<i class="fa  fa-times"></i> Error');
                $('#messageBoxModal .msgBox-body').html('<span class="text text-danger fade in">' + error + '</span>');
                $('#messageBoxModal').modal('show');
                $('#msg_ok').unbind('click').click(function (event) {
                    $('#messageBoxModal').modal('hide');
                });
                return false;
            }

        }));

    });
</script>
<p class="pull-right">
    <a class="pageload-link" href="#page-2" onclick="staffCycleSettings.loadStafflist()"> 
        <span class="mini-stat-icon tar">
            <i class="fa fa-reply"></i></span>
        <label class="control-label" style="margin-top:10px;">Go back</label>
    </a>
</p>

<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <?php
        echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => 'javascript:;', 'id' => 'staffDetailsForm',
            'method' => 'post',
            'enctype' => 'multipart/form-data'));
        ?>

        <section class="panel" id=''>
            <header class="panel-heading">
                Staff Appointment Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">


                        <div class="form-group">
                            <?php $fields = OrganizationalStructureMaster::findFirst('mandatory_for_appointment =1'); ?>
                            <label for=""  class="col-sm-3  control-label mandatory"><?= $fields->name ?></label>  
                            <div class="col-sm-6">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            'aggregate_' . strtolower(str_replace(' ', '', $fields->name)),
                                            OrganizationalStructureValues::find('org_master_id = ' . $fields->id),
                                            "using" => array("id", "name"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control',
                                            'title' => $fields->name,
                                            'onchange' => 'appointmentSettings.loadSubtree(this)'
                                        )
                                );
                                ?>

                            </div> 

                        </div>
                        <div class="subtreediv hide"></div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label mandatory">Staff Name:</label>
                            <div class="col-sm-6">
                                <?= $form->render("staffName") ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label mandatory">Date of Appointment :</label>
                            <div class="col-sm-6">
                                <?= $form->render("doa") ?>
                            </div>
                        </div>
                        <?php
                        $hideOrShowFields = StaffProfileSettings::find("parent_id = '1' and hide_or_show=1");
                        foreach ($hideOrShowFields as $field) {
                            ?>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label <?= $field->mandatory == 1 ? 'mandatory' : '' ?>"><?= $field->field_name ?>:</label>
                                <div class="col-sm-6">
                                    <?= $form->render($field->form_name) ?>
                                </div>
                            </div>
                        <?php }
                        ?>
                    </div>
                </div>
            </div>
        </section>
        <?php
        $hideOrShowFieldset1 = StaffProfileSettings::findFirstById("2");
        if ($hideOrShowFieldset1->hide_or_show != 0) {
            ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Staff Personal Details
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label mandatory">Date of Birth:</label>
                                <div class="col-sm-6">
    <?= $form->render("dob") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label mandatory">Gender:</label>
                                <div class="col-sm-6">
    <?= $form->render("gender") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label mandatory">Address Line1:</label>
                                <div class="col-sm-6">
    <?= $form->render("address1") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label mandatory">Address Line2:</label>
                                <div class="col-sm-6">
    <?= $form->render("address2") ?>
                                </div>
                            </div><div class="form-group">
                                <label for=""  class="col-sm-3 control-label mandatory">State:</label>
                                <div class="col-sm-6">
    <?= $form->render("state") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label mandatory">Country:</label>
                                <div class="col-sm-6">
    <?= $form->render("country") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label mandatory">Pin code:</label>
                                <div class="col-sm-6">
    <?= $form->render("pin") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label mandatory">Phone Number:</label>
                                <div class="col-sm-6">
    <?= $form->render("phone") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label mandatory">Email ID:</label>
                                <div class="col-sm-6">
    <?= $form->render("email") ?>
                                </div>
                            </div>
                            <?php
                            $hideOrShowFields = StaffProfileSettings::find("parent_id = '2' and hide_or_show=1");
                            foreach ($hideOrShowFields as $field) {
                                ?> 

                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label <?= $field->mandatory == 1 ? 'mandatory' : '' ?>"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
                                        <?= $form->render($field->form_name) ?>
                                        <?php if (in_array($field->form_name, array('photo', 'address_proof2', 'address_proof1', 'address_proof3'))) { ?>
                                            <span for=""  class="help-block text-muted">.jpg, .png, .jpeg format image.</span>
        <?php } ?>
                                    </div>
                                </div>
                            <?php }
                            ?>

                        </div>
                    </div>
                </div>
            </section>

        <?php
        }
        $hideOrShowFieldset1 = StaffProfileSettings::findFirstById("3");
        if ($hideOrShowFieldset1->hide_or_show != 0) {
            ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Staff Spouse Details 
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <?php
                            $hideOrShowFields = StaffProfileSettings::find("parent_id = '3' and hide_or_show=1");
                            foreach ($hideOrShowFields as $field) {
                                ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label <?= $field->mandatory == 1 ? 'mandatory' : '' ?>"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
                                <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
    <?php }
    ?>

                        </div>
                    </div>
                </div>
            </section>
        <?php } ?>
        <?php
        $hideOrShowFieldset1 = StaffProfileSettings::findFirstById("4");
        if ($hideOrShowFieldset1->hide_or_show != 0) {
            ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Staff Parent/Guardian Details 
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <?php
                            $hideOrShowFields = StaffProfileSettings::find("parent_id = '4' and hide_or_show=1");
                            foreach ($hideOrShowFields as $field) {
                                ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label <?= $field->mandatory == 1 ? 'mandatory' : '' ?>"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
                                <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
    <?php }
    ?>


                        </div>
                    </div>
                </div>
            </section>
        <?php } ?>
        <?php
        $hideOrShowFieldset1 = StaffProfileSettings::findFirstById("5");
        if ($hideOrShowFieldset1->hide_or_show != 0) {
            ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Staff Medical Details
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <?php
                            $hideOrShowFields = StaffProfileSettings::find("parent_id = '5' and hide_or_show=1");
                            foreach ($hideOrShowFields as $field) {
                                ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label <?= $field->mandatory == 1 ? 'mandatory' : '' ?>"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
                                <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
    <?php }
    ?>


                        </div>
                    </div>
                </div>
            </section>
        <?php } ?>
        <?php
        $hideOrShowFieldset1 = StaffProfileSettings::findFirstById("6");
        if ($hideOrShowFieldset1->hide_or_show != 0) {
            ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Staff Other Details
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <?php
                            $hideOrShowFields = StaffProfileSettings::find("parent_id = '6' and hide_or_show=1");
                            foreach ($hideOrShowFields as $field) {
                                ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label <?= $field->mandatory == 1 ? 'mandatory' : '' ?>"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
                                <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
    <?php }
    ?>


                        </div>
                    </div>
                </div>
            </section>
<?php } ?>




        <div class="form-group">
            <div class="col-md-9">  
                <button class="btn btn-success pull-right" type="submit"
                        onclick=""  
                        id="stf_save"> Save</button>
            </div>
        </div>
        </form>
    </div>
</div>