<div id="add_class_test_msg"></div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-12">
                <?php if (!$errorMessage) { ?>
                    <?php
                    echo Phalcon\tag::hiddenfield(array("return_uri",
                        "Value" => "class_teacher_rating"));
                    foreach ($combinations as $key => $combival) {
                        $exp_combival = implode("<br>", $combival);
                        ?>  
                        <button type="button" class="btn btn-info btn-small std_acd_btn">
                            <div class="combispan" id = "span_<?= $key ?>" 
                                 teacherType ="<?= $type ?>" cdate ="<?= date('d-m-Y', time()) ?>"
                                 onclick = "ratingSettings.loadRatingName(this)">
                                <span> 
                                    <ul class="breadcrumbs-alt" style="margin: 0px;">
                                         <li><span><?= $combival ?></span></li>
                                         <?php 
//                                         foreach ($combival as $val) { 
//                                                $v = explode('>>', $val);
//                                                array_shift($v);
                                                ?>
                                                <!--<li><span><?= implode(' >> ',$v)  ?></span></li>-->
  <?php // } ?>
                                    </ul>
                                </span>
                            </div>
                        </button>
                        <?php
                    }
                } else {
                    ?>
                    <div class = "center scaffold">
                        <span><div class="alert alert-block alert-danger fade in"><?= $errorMessage ?></div></span>
                    </div>                            
                <?php } ?>
            </div>                           
        </div>
        <div class="form-group">
            <div class="col-md-10">

            </div>       
        </div>                 
    </div>
</div>   

<div class='loadRatingName'class='hide'></div>
<div class='loadStudenRating'class='hide'></div>

