<div id="add_class_test_msg"></div>
<section class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2 classroomdiv"  style="max-height: 765px;" >
                    <div >
                        <?php if (!$errorMessage) { ?>
                            <?php
                            echo Phalcon\tag::hiddenfield(array("return_uri",
                                "Value" => "subject_teacher_homework"));
                            foreach ($combinations as $key => $combival) {
                                $exp_combival = implode("<br>", $combival);
                                ?>  
                                <div class=" label label-default col-md-12 combispan"  id = "span_<?= $key ?>" 
                                     teacherType ="<?= $type ?>" cdate ="<?= date('d-m-Y', time()) ?>"
                                     onclick = "homeworkSettings.loadHomeworkName(this)">
                                    <i class="fa fa-building-o pull-left"></i>
                                    <?= $combival['name'] . ' >> ' . $combival['subject'] ?>
                                </div>
                                <br> <br> 
                                <!--                                <button type="button" class="btn btn-info btn-small std_acd_btn">
                                                                    <div class="combispan" id = "span_<?= $key ?>" 
                                                                         teacherType ="<?= $type ?>" cdate ="<?= date('d-m-Y', time()) ?>"
                                                                         onclick = "homeworkSettings.loadHomeworkName(this)">
                                                                        <span> 
                                                                            <ul class="breadcrumbs-alt" style="margin: 0px;">
                                                                                <li><span><?= $combival['name'] . ' >> ' . $combival['subject'] ?></span></li> 
                                                                            </ul>
                                                                        </span>
                                                                    </div>
                                                                </button>-->
                                <?php
                            }
                        } else {
                            ?>
                            <div class = "center scaffold">
                                <span><div class="alert alert-block alert-danger fade in"><?= $errorMessage ?></div></span>
                            </div>                            
                        <?php } ?>
                    </div>                           
                </div>
                <div class="col-md-10">
                    <div class='loadHomeworkName'class='hide'></div>
                    <div class='loadHomeworkdata scrollpane'class='hide'></div>
                </div>   
            </div>  
        </div>
</section>

<script>
    $('.classroomdiv').getNiceScroll().remove();
    $('.classroomdiv').niceScroll();
    $('.scrollpane').css('height', '500px')
    $('.scrollpane').getNiceScroll().remove();
    $('.scrollpane').niceScroll();
</script>


