<script>
//    enquiryallSettings.loadEnquiries();
//echo $this->tag->javascriptInclude("js/appscripts/enquiry.js");

    $(document).ready(function () {

        $('.date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

//          $('.timepick').datetimepicker({
//                    format: 'LT'
//                });
    });
</script>
<div class="panel-body">
    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'editHomeworkForm')); ?>
    <div class="center scaffold"  > 
        <div class="col-md-10">
            <input type="hidden" name="id" value="<?= $id; ?>" id="id"  />    

            <div class="form-group">
                <label for=""  class="col-sm-3  control-label mandatory"> Home Work </label>  
                <div class="col-sm-6">
                    <textarea id="homework" class="form-control" name="homework" placeholder="Enter Home Work Here...">
    <?= $homework_value->homework; ?>
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label for=""  class="col-sm-3 control-label">Date:</label>
                <div class="col-sm-6">
                    <?php
                    echo Phalcon\Tag::textField(array("date",
                        'class' => 'form-control date',
                        "readonly" =>'',
                            "value" => $homework_value->hmwrkdate ? date('d-m-Y', $homework_value->hmwrkdate) : ''
                    ));
                    ?>

                </div>
            </div> 
        </div>
    </div>

</form>
</div>







