

<table class="table foo-data-table"
       id="homeworkListTable">
    <thead>
        <tr>
            <th style="width:10%"> Date  </th>
            <th  style="width:20%"> Title  </th>
            <th class="td-left"style="width:40%">  Home Work  </th>
            <th  style="width:10%" ></th>
            <th  style="width:10%"  ></th>
        </tr>
    </thead>
    <tbody> </tbody>
</table>
<style>
    .td-left{
        text-align: left !important;
    }

</style>