<div id="homeworksearch">
    
<section class="panel">
    <header class="panel-heading">
        Homework
    </header>
    <div class="panel-body">
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => '')); ?>  
        <div class="col-md-12">
            <div class="form-group">
                <label for="fromDate" class="col-md-2 control-label">Date:</label>
                <div class="col-md-4">  
                    <input type="text" id="hdate" name="hdate" class="form-control frm_date" value="<?= $searchdate ?>"
                           readonly="" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for=""  class="col-md-2 control-label ">Subject: </label>  
                <div class="col-md-4">
                    <?php
                    if ($subjects != '') {
                        echo \Phalcon\Tag::select(
                                array(
                                    'subjectid_homewrk',
                                    $subjects,
                                    "using" => array("id", "name"),
                                    'useEmpty' => true,
                                    'emptyText' => 'Select',
                                    'emptyValue' => '',
                                    'class' => 'form-control',
                                    'onchange' => 'homeworkSettings.loadHomeWorkBYStudentBydate()',
                                    'value' => $searchsubject
                                )
                        );
                    } else {
                        ?>
                        <input type="text" value="Subjects Not Assigned" class="form-control" readonly="" /> 
                    <?php }
                    ?>
                </div> 
            </div>
        </div>


        <div class="col-md-12" id="">

            <?php if (count($homework_value) > 0) { ?>

                <div class="timeline-messages">

                    <?php
                    if (($homework_value)) {
                        $i = 0;
                        foreach ($homework_value as $homeworkval) {
                            if ($i > 3) {
                                $i = 0;
                            }
                            $bgclass = array('bg-red', 'bg-purple', 'bg-green', 'bg-yellow');


                            $orgvaldet = OrganizationalStructureValues::findFirstById($homeworkval->subjct_modules);
//                    print_r($orgvaldet); exit;
                            $aggregate_keys = HomeWorkController::_getMandNodesForExam($orgvaldet);
                            $aggregate_keys = array_reverse($aggregate_keys);
                            ?>
                            <div class="msg-time-chat">
                                <div class="message-body msg-in">
                                    <span class="arrow"></span>
                                    <div class="text">
                                        <div class="first">
                                            <?php
                                            echo trim(date('d F Y', ($homeworkval->hmwrkdate)));
                                            ?>
                                        </div>
                                        <div class="third <?= $bgclass[$i++] ?> ">
                                            <?= implode('-', $aggregate_keys) ?>
                                        </div>
                                        <div class="second bg-terques " title="<?= $homeworkval->homework ?>">
                                            <?= (strlen($homeworkval->homework) > 100 ? substr($homeworkval->homework, 0, 80) . "..." : $homeworkval->homework) ?>
                                        </div>

                                    </div>
                                </div>
                            </div>                         
                            <?php
                        }
                    }
                    ?>

                </div>
            <?php } else {
                ?>
                <div class="alert alert-block alert-danger fade in"> No Home Works Found.. </div>
            <?php }
            ?>

        </div>

        </form>

    </div>
</section>
</div>
<script>

    homeworkSettings.stuparams.student = '<?= $student ?>';
    homeworkSettings.stuparams.aggregate_key = '<?= $aggregate_key ?>';

    $(document).ready(function () {
        $('.frm_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
        }).on('changeDate', function (e) {

            $(this).datetimepicker('hide');
            homeworkSettings.loadHomeWorkBYStudentBydate();
        });
    });
</script>  