<header class="panel-heading">
                        View Home Work
                          <span class="tools pull-right">
                        <a href="javascript:;" onclick="homeworkSettings.sendHomeworkReport()" class=" pull-right">
                <span class="mini-stat-icon tar" style="width: 30px;height: 30px;line-height: 30px;margin-top: -4px;">
                            <i class="fa fa-mobile-phone" style="margin-top: 6px;"></i></span>
                        <span class=""><b>Send sms</b></span></a>
                          </span>
                    </header>
                    <div class="panel-body">
    <table class="table general-table s-table1" id="stuHomeworkTblHdr" >
        <thead>
            <tr>
                <th class="col-md-3" style="text-align:left;">Subject</th>
                <th class="col-md-9" style="text-align:left;">Home Work</th>
            </tr>
        </thead>
        <tbody>

            <?php
            if ($homework_value != 0 && count($homework_value) > 0) {
                foreach ($homework_value as $homework_val) {
                    $orgvaldet = OrganizationalStructureValues::findFirstById($homework_val->subjct_modules);
//                    print_r($orgvaldet); exit;
                    $aggregate_keys = HomeWorkController::_getMandNodesForExam($orgvaldet);
                    $aggregate_keys = array_reverse($aggregate_keys);
                    ?>
                    <tr>
                        <td class="col-md-3" style="text-align:left;"><?= implode('>>', $aggregate_keys) ?></td>
                        <td class="col-md-9" style="text-align:left;">  <?= $homework_val->homework; ?></td>
                    </tr>
                <?php }
            } else {
                ?>

            <tr>
                <td colspan="2">
                       <div class="alert alert-block alert-danger fade in"> No Home Works Found.. </div>
                </td>
         
    </tr>
        <?php }
        ?>
        </tbody>
    </table>
</div>

