<?php
if ($subject_id != ''):
    $fields = OrganizationalStructureValues::findFirstById($subject_id);
    $org_mas = OrganizationalStructureMaster::findFirstById($fields->org_master_id);
    $field_col = OrganizationalStructureValues::findFirst('parent_id = ' . $subject_id);
endif;
?>
<script>
    $(document).ready(function () {

        $('.date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });


    });

</script>

<div class="table-filter-header">
    <div class="row">
        <div class="col-md-8 col-sm-8" id="addHomeworkForm">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <span class="tfh-label mandatory">Title: </span>
                    <input type="text" class="form-control" id="title" name="title" value="" />
                    <input type="hidden" class="form-control" id="subjectname" name="subjectname" value="<?= $fields->name ?>" readonly=""/>
                    <input type="hidden" class="form-control" id="aggregate_subjectid" name="aggregate_subjectid" value="<?= $fields->id ?>" readonly=""/>

                </div>
                <div class="col-md-6 col-sm-4">
                    <span class="tfh-label mandatory">Home Work : </span> 
                    <textarea id="homeworkcontnt" rows="1" class="form-control" name="homeworkcontnt" placeholder="Enter Home Work Here..."></textarea>

                </div>
                <div class="col-md-3 col-sm-4"> 
                    <span class="tfh-label">Date: </span>
                    <?php
                    echo Phalcon\Tag::textField(array("date",
                        'class' => 'form-control date',
                        "readonly" => '',
                        "value" => date('d-m-Y')
                    ));
                    ?>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 marbot0">
            <div class="row ">
                <div class="data-align-right">
                    <div class="col-md-9 "> 
                        <a href="#add" onclick="homeworkSettings.saveHomework()" class="btn add-row btn-primary">Add </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


