<?php if ($searchdate == '') : ?>
    <script>

        homeworkSettings.stuparams.student = '<?= $student ?>';
        homeworkSettings.stuparams.aggregate_key = '<?= $aggregate_key ?>';

        $(document).ready(function () {
            $('.frm_date').datetimepicker({
                format: 'dd-mm-yyyy',
                language: 'en',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
            }).on('changeDate', function (e) {

                $(this).datetimepicker('hide');
                homeworkSettings.loadHomeWorkBYStudentBydate();
            });
        });
    </script>  
<?php endif; ?>
<section class="panel">
    <header class="panel-heading">
        HOME WORK
    </header>
    <div class="panel-body">
        <?php
        //  $orgvals 
        if ($searchdate == '' && $searchsubject == '') :
            ?>

            <div class="form-group">
                <label for="fromDate" class="col-md-2 control-label"><span class="pull-right">Date:</span></label>
                <div class="col-md-4">  
                    <input type="text" id="hdate" name="hdate" class="form-control frm_date" value="<?= date('d-m-Y') ?>" readonly="" />
                </div>
            </div>


            <br><br>
            <div class="form-group">
                <label for=""  class="col-md-2 control-label ">
                    <span class="pull-right">Subject:</span>
                </label>  
                <div class="col-md-4">

                    <?php
                    if ($orgvals != '') {
                        echo \Phalcon\Tag::select(
                                array(
                                    'subjectid_homewrk',
                                    $orgvals,
                                    "using" => array("id", "name"),
                                    'useEmpty' => true,
                                    'emptyText' => 'Select',
                                    'emptyValue' => '',
                                    'class' => 'form-control',
                                    'onchange' => 'homeworkSettings.loadHomeWorkBYStudentBydate()'
                                )
                        );
                    } else {
                        ?>
                        <input type="text" value="Subjects Not Assigned" class="form-control" readonly="" /> 
                    <?php }
                    ?>

                </div> 

            </div>
            <br>
<?php endif; ?>

        <div class="col-md-12" id="homeworksearch">
            <div class="timeline-messages">

                <?php
                if (count($homework_value) > 0) {
                    if (($homework_value)) {
                        $i = 0;
                        foreach ($homework_value as $homeworkval) {
                            if ($i > 3) {
                                $i = 0;
                            }
                            $bgclass = array('bg-red', 'bg-purple', 'bg-green', 'bg-yellow');


                            $orgvaldet = OrganizationalStructureValues::findFirstById($homeworkval->subjct_modules);
//                    print_r($orgvaldet); exit;
                            $aggregate_keys = HomeWorkController::_getMandNodesForExam($orgvaldet);
                            $aggregate_keys = array_reverse($aggregate_keys);
                            ?>
                            <div class="msg-time-chat">
                                <div class="message-body msg-in">
                                    <span class="arrow"></span>
                                    <div class="text">
                                        <div class="first">
                                            <?php
                                            echo trim(date('d F Y', ($homeworkval->hmwrkdate)));
                                            ?>
                                        </div>
                                        <div class="third <?= $bgclass[$i++] ?> ">
            <?= implode('-', $aggregate_keys) ?>
                                        </div>
                                        <div class="second bg-terques ">
            <?= (strlen($homeworkval->homework) > 250 ? substr($homeworkval->homework, 0, 250) . "..." : $homeworkval->homework) ?>
                                        </div>

                                    </div>
                                </div>
                            </div>                         
                            <?php
                        }
                    }
                } else {
                    ?>
                    <br>
                    <br>
                    <div class="alert alert-block alert-danger fade in"> No Home Works Found.. </div>
                <?php }
                ?>
            </div>
        </div>
    </div>
</section>
