
<?php
echo $this->tag->javascriptInclude("js/appscripts/studentprofile.js");
echo $this->tag->javascriptInclude("js/report/report.js");
?>

<?php
//print_r($mandnode);
//exit;
//$varcols = count($mandnode) + count($nodes) + 5;
$varcols1 = 4 + count($mandnode) + 5;
//$varcols2 = 5 + count($mandnode) + count($nodes) - 1;
//echo $varcols1. $varcols2;exit;
//for ($i = 0 ,$j=4; $i <  count($mandnode); $i++,$j++)
//    $varsort[] = $j;
//
//for ($i = 0 ,$j=(4+count($mandnode)+2); $i <  3; $i++,$j++)
//    $varsort[] = $j;

for ($i = 0; $i < $varcols1; $i++)
    $varsort[] = $i;
?>


<div class="row">
    <script>
        //  studentprofileSettings.loadStudentdet();


        studentprofileSettings.loadStudentdet = function ()
        {
            var studata = {};
            var subdivval = [];
            var params = {};
            var academic = "";
            var i = 0;
            studata.emptySearch = 1;
            //studentProfileSearchForm

            $("#studentProfileSearchForm").find('input,select,textarea').each(function () {

                if ($(this).attr('name') == 'subDivVal')
                {
                    if ($(this).val() != 0)
                    {
                        //i++;
                        subdivval.push($(this).val());
                    }
                }
                else
                {
                    studata.emptySearch = 0;
                    studata[$(this).attr('name')] = $.trim($(this).val());
                }

            });
            studata['subDivVal'] = subdivval;

            console.log('i value=' + i);
            console.log(subdivval);
            console.log(studata);
            params = studata;

            console.log(params);
            /*if(i !=0)
             {*/
            $.ajax({
                type: "POST",
                url: commonSettings.profileAjaxurl + "/loadtableHeader",
                data: studata,
                dataType: "html",
                success: function (res) {
                    $('#loadReport').html(res);
                    $('#loadReport').removeClass('hide');
                    var tablectrl = '#studetails';
                    var column = [0, 1, 2, 3, 9, 10];
                    var sortingDisabled = [<?= implode(',', $varsort) ?>];

                    $(tablectrl).dataTable({
                        "sDom": '<"top"if>rt<"bottopm"p><"clear">',
                        "bProcessing": true,
                        "bServerSide": true,
                        "sAjaxSource": commonSettings.profileAjaxurl + '/loadtableData',
                        "sPaginationType": "full_numbers",
                        "iDisplayLength": commonSettings.NumberOfRecords,
                        // 'iDisplayStart':patientsapp.startIndex,
                        "aoColumnDefs": [{
                                "sDefaultContent": "",
                                "aTargets": column
                            }, {
                                "bSortable": false,
                                "sDefaultContent": "",
                                "aTargets": sortingDisabled
                            }],
                        "aaSorting": [[0, "desc"]], //
                        "bLengthChange": false,
//                "bInfo": false,
                        "oLanguage": {
                            "sInfo": "<i class='fa fa-info activity-icon'></i> <i class='text-muted'><b>Showing _START_ to _END_ of _TOTAL_ students</b></i>",
                            "sInfoFiltered": " ",
                        },
                        "fnServerData": function (surl, aoData, l) {
                            for (var key in params) {
                                aoData.push({
                                    "name": key,
                                    "value": params[key]
                                });
                            }
                            $.ajax({
                                dataType: "json",
                                type: "POST",
                                url: surl,
                                contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                                data: aoData,
                                success: l
                            });
                        },
                        "fnDrawCallback": function (o) {
//                    if (o._iRecordsDisplay <= commonSettings.NumberOfRecords) {
//                        $(tablectrl + '_paginate').hide();
//                    }
                            $('.dataTables_filter').addClass('col-md-5');
                            $('.dataTables_filter').find('label').addClass('col-md-3 search-txt1').css('display', ' inline');
                            $('.dataTables_filter').find('input').addClass('form-control pull-right search-tbox1');
                        },
                        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                            var rowText = '<tr id="' + aData.id + '">';

                            rowText += '<td class="student_name col-md-2 no_sort">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" >' + aData.Student_Name + '</span>';
                            rowText += '</td>';

                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" >' + aData.Admission_no + '</span>';
                            rowText += '</td>';

                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.Date_of_Birth + '</span>';
                            rowText += '</td>';
                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.gender + '</span>';
                            rowText += '</td>';

<?php foreach ($mandnode as $key => $mandnodeval) { ?>

                                rowText += '<td>';
                                rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + ((typeof (aData[<?= $key ?>]) != 'undefined') ? aData[<?= $key ?>] : '-') + '</span>';
                                rowText += '</td>';

<?php } ?>

                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.stulogin + '</span>';
                            rowText += '</td>';
                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.parntlogin + '</span>';
                            rowText += '</td>';
                            rowText += '<td class="">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore label label-info label-mini">' + aData.status + '</span>';
                            rowText += '</td>';
                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += aData.Actions;
                            rowText += '</td>';
                            rowText += '<td class="">';
                            rowText += aData.Print;
                            rowText += '</td>';
                            rowText += '</tr>';
                            var newRow = $(rowText);
                            $(nRow).html(newRow.html());
                            commonSettings.copyAttributes(newRow, nRow);
                            return nRow;
                        }
                    });
                }
            });
            /* }
             else
             {
             $('.modal-title').html('Message');
             $('.modal-body').html('<div class="alert alert-block alert-danger fade in">You Should Fill Atleast One Field.</div>');
             $('#messageBox').click();
             }*/
        };

        $(document).ready(function () {


            $('.frm_date').datetimepicker({
                format: 'dd-mm-yyyy',
                language: 'en',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
            });
//        studentprofileSettings.loadStudentdet();
        });
    </script>
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel">
            <header class="panel-heading">
                Home Work
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'homeworkSearchForm')); ?>

                        <!--                        <div class="form-group">
                                                    <label class="col-md-4 control-label">Roll No:</label>
                                                    <div class="col-md-8">  
                                                        <input type="text" name="rollno" id="rollno" class="form-control"/>
                                                    </div>
                                                </div>-->

                        <div class="form-group">
                            <?php $fields = OrganizationalStructureMaster::findFirst('mandatory_for_admission =1 and cycle_node =1'); ?>
                            <label for=""  class="col-sm-4  control-label mandatory"><?= $fields->name ?></label>  
                            <div class="col-sm-8">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            'aggregate_' . strtolower(str_replace(' ', '', $fields->name)),
                                            OrganizationalStructureValues::find('org_master_id = ' . $fields->id),
                                            "using" => array("id", "name"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control',
                                            'title' => $fields->name,
                                            'onchange' => 'homeworkSettings.loadSubtree(this)'
                                        )
                                );
                                ?>

                            </div> 
                        </div> 

                        <div class="subtreediv hide"></div>
                        <div class="form-group">
                            <label for="fromDate" class="col-sm-4 control-label mandatory"> Date:</label>
                            <div class="col-sm-8">  
                                <input type="text" id="hdate" name="hdate" title="Date"  class="form-control frm_date" value="<?= date('d-m-Y'); ?>" readonly="" />
                            </div>
                        </div>


                        <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-10 pull-right">  
                            <div class="pull-right">
                                <button class="btn btn-success pull-right" onclick="homeworkSettings.loadHomeworkReport()" type="button"> 
                                    Search
                                </button>   

<!--                                <div class="col-md-3 pull-right">
                                    <button class="btn btn-danger pull-right" onclick="homeworkSettings.sendHomeworkReport()" type="button"> 
                                    Send
                                </button>  -->
                                    
                                    </div>
                                
                            </div>
                        </div>

                      
                    </div>
                                                

                        </form>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        <div class="panel-body">
            <section class="panel">
                <div id='loadHomeworkReport'class='hide'></div>	
            </section>


        </div>
    </div>
</div>


