<?php
echo $this->tag->javascriptInclude("js/lib/bootstrap-switch.js");
echo $this->tag->javascriptInclude("js/appscripts/profilesettings/toggle-init.js");
echo $this->tag->javascriptInclude("js/appscripts/profilesettings/student.js");
echo $this->tag->stylesheetLink("css/bootstrap-switch.css");
?>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'studentProfileForm', 'method' => 'post', 'enctype' => 'multipart/form-data')); ?>

        <!--admit_student-->


        <section class="panel">
            <header class="panel-heading">                   
                Student Profile Settings
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <?php
                $stu_checked = $admit_student_det->variableValue == 1 ? 'checked' : '';
                ?>
                <p> <input type="checkbox" id="label-switch1" class="switch-small label-switch1" 
                           data-on-label="Yes" data-off-label="No" <?= $stu_checked ?> >
                    <b> Move students in-class directly after admission.</b>
                </p>
                <table class="table  table-hover general-table">
                    <thead>
                        <tr>
                            <th>Field Name</th>
                            <th class="hidden-phone">Field Description</th>
                            <th>Field Type</th>
                            <th>Status</th>
                            <th>Mandatory</th>
                            <th>Hide/Show</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if ($fieldlist && count($fieldlist) > 0) {
                            foreach ($fieldlist as $field) :
                                $mchecked = $field->mandatory == 1 ? 'checked' : '';
                                $hchecked = $field->hide_or_show == 1 ? 'checked' : '';
                                ?>  
                                <tr style="background-color: #F5F5F5;" itemid="<?= $field->id ?>" userType ='Student'>
                                    <td colspan="3" style="text-align: left;font-weight: bold"><?= $field->field_name ?></td>
                                    <td><span class="label label-success label-mini"
                                              onchange=""      >
                                                  <?= $field->hide_or_show == 1 ? 'On' : 'Off' ?>
                                        </span></td>
                                    <td> 
                                    </td>
                                    <td>  <input type="checkbox" class="switch-small hideSwitch" <?= $hchecked ?>></td>

                                </tr>
                                <?php
                                $subfieldlist = StudentProfileSettings::find('parent_id = ' . $field->id);
                                if ($subfieldlist && count($subfieldlist) > 0):
                                    foreach ($subfieldlist as $subfield) :
                                        $mchecked1 = $subfield->mandatory == 1 ? 'checked' : '';
                                        $hchecked1 = $subfield->hide_or_show == 1 ? 'checked' : '';
                                        ?>
                                        <tr itemid="<?= $subfield->id ?>" userType ='Student'>
                                            <td><?= $subfield->field_name ?></td>
                                            <td class="hidden-phone"><?= $subfield->help_text ?></td>
                                            <td><?= $subfield->field_format ?></td>
                                            <td><span class="label label-success label-mini"><?= $subfield->hide_or_show == 1 ? 'On' : 'Off' ?></span></td>
                                            <td> <input type="checkbox" id="label-switch_<?= $field->id ?>" class="switch-small label-switch" 
                                                        data-on-label="Yes" data-off-label="No" <?= $mchecked1 ?>      >
                                            </td>
                                            <td>  <input type="checkbox" class="switch-small hideSwitch" <?= $hchecked1 ?>
                                                         id="hideSwitch_<?= $field->id ?>"></td>

                                        </tr>
                                        <?php
                                    endforeach;
                                endif;
                            endforeach;
                        }else {
                            ?>
                            <tr>
                                <td colspan="6">No Fields found</td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </section>

        </form>
    </div>
</div>