ul li {
    list-style: none;
}
@font-face {
    font-family: 'Kicker-Medium';
    src: url("../kicker2-medium-webfont-f8ae191ac680ae0c2340379740a6c850.eot");
    src: url("../kicker2-medium-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../kicker2-medium-webfont-a2e6cb393cdec7c2a24e3bc2024be19d.woff") format("woff"), url("../kicker2-medium-webfont-97d8162601717067dd08942865c1d898.ttf") format("truetype"), url("../kicker2-medium-webfont.svg#kicker_2_mediumregular") format("svg");
    font-weight: normal;
    font-style: normal
}
.container_12 {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}
.container_12 .grid_1 {
    width: 6.333%
}
.container_12 .grid_2 {
    width: 14.667%
}
.container_12 .grid_3 {
    width: 23.0%
}
.container_12 .grid_4 {
    width: 31.333%
}
.container_12 .grid_5 {
    width: 82%
}
.container_12 .grid_6 {
    width: 48.0%
}
.container_12 .grid_7 {
    width: 56.333%
}
.container_12 .grid_8 {
    width: 64.667%
}
.container_12 .grid_9 {
    width: 73.0%
}
.container_12 .grid_10 {
    width: 81.333%
}
.container_12 .grid_11 {
    width: 84.667%
}
.container_12 .grid_12 {
    width: 98.0%
}
.container_12 .prefix_1 {
    padding-left: 8.333%
}
.container_12 .prefix_2 {
    padding-left: 16.667%
}
.container_12 .prefix_3 {
    padding-left: 25.0%
}
.container_12 .prefix_4 {
    padding-left: 33.333%
}
.container_12 .prefix_5 {
    padding-left: 41.667%
}
.container_12 .prefix_6 {
    padding-left: 50.0%
}
.container_12 .prefix_7 {
    padding-left: 58.333%
}
.container_12 .prefix_8 {
    padding-left: 66.667%
}
.container_12 .prefix_9 {
    padding-left: 75.0%
}
.container_12 .prefix_10 {
    padding-left: 83.333%
}
.container_12 .prefix_11 {
    padding-left: 91.667%
}
.container_12 .suffix_1 {
    padding-right: 8.333%
}
.container_12 .suffix_2 {
    padding-right: 16.667%
}
.container_12 .suffix_3 {
    padding-right: 25.0%
}
.container_12 .suffix_4 {
    padding-right: 33.333%
}
.container_12 .suffix_5 {
    padding-right: 41.667%
}
.container_12 .suffix_6 {
    padding-right: 50.0%
}
.container_12 .suffix_7 {
    padding-right: 58.333%
}
.container_12 .suffix_8 {
    padding-right: 66.667%
}
.container_12 .suffix_9 {
    padding-right: 75.0%
}
.container_12 .suffix_10 {
    padding-right: 83.333%
}
.container_12 .suffix_11 {
    padding-right: 91.667%
}
.container_12 .push_1 {
    margin-left: 8.333%
}
.container_12 .push_2 {
    margin-left: 16.667%
}
.container_12 .push_3 {
    margin-left: 25.0%
}
.container_12 .push_4 {
    margin-left: 33.333%
}
.container_12 .push_5 {
    margin-left: 41.667%
}
.container_12 .push_6 {
    margin-left: 50.0%
}
.container_12 .push_7 {
    margin-left: 58.333%
}
.container_12 .push_8 {
    margin-left: 66.667%
}
.container_12 .push_9 {
    margin-left: 75.0%
}
.container_12 .push_10 {
    margin-left: 83.333%
}
.container_12 .push_11 {
    margin-left: 91.667%
}
.container_12 .pull_1 {
    margin-left: -8.333%
}
.container_12 .pull_2 {
    margin-left: -16.667%
}
.container_12 .pull_3 {
    margin-left: -25.0%
}
.container_12 .pull_4 {
    margin-left: -33.333%
}
.container_12 .pull_5 {
    margin-left: -41.667%
}
.container_12 .pull_6 {
    margin-left: -50.0%
}
.container_12 .pull_7 {
    margin-left: -58.333%
}
.container_12 .pull_8 {
    margin-left: -66.667%
}
.container_12 .pull_9 {
    margin-left: -75.0%
}
.container_12 .pull_10 {
    margin-left: -83.333%
}
.container_12 .pull_11 {
    margin-left: -91.667%
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0
}
.clearfix {
    display: inline-block
}
* html .clearfix {
    height: 1%
}
.clearfix {
    display: block
}

.floatnone {
    float: none
}
.float-left {
    float: left
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}
.clearit {
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0
}
.clear-both {
    clear: both
}
.add-bottom-margin {
    margin-bottom: 25px
}

#page-wrap {
    height: 100%;
    position: relative
}
ul,
ol {
    margin-bottom: 0px
}
li {
    margin-left: 0px
}
.caps {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: .8em
}
.symbol {
    /*font-family: 'Kicker-Symbols', 'Colfax', sans-serif*/
}
input,
.text-box,
.text-area {
    background-color: #18ba50;
    border: none;
    color: #f0f0f0;
    /*font-family: "Colfax", sans-serif;*/
    font-size: 1em;
    padding: .5em .5em .4em
}
.submit {
    float: left;
    display: block;
    font-size: 1.1em;
    padding: .5em .5em .4em;
    background-color: #000;
    margin: 0 .2em 0 0;
    color: #f0f0f0
}
.submit:hover {
    background-color: #0f7633;
    color: #f0f0f0
}
.submit:active {
    background-color: #128c3c;
    color: #f0f0f0
}
.form-section {
    margin-bottom: 1.5em
}
/*.form-group {
    padding: 1.5em 1em;
    margin-bottom: 1.5em;
    background-color: #16ac4a
}*/
.form-2-col .form-section {
    width: 50%;
    float: left
}
.form-2-col .form-section .text-box {
    width: 80%
}
.ui-datepicker {
    background-color: #272425;
    padding: 1em;
    display: none
}
.ui-datepicker td,
.ui-datepicker th,
.ui-datepicker .ui-datepicker-header {
    padding: .3em
}
.ui-datepicker .ui-datepicker-header a {
    margin-right: .5em;
    font-weight: bold;
    cursor: pointer
}
.ui-datepicker .ui-datepicker-title {
    font-size: 1.4em;
    padding: .25em 0;
    margin: .25em 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0
}
body .events-list {
    /*border-top: 1px solid #ccc*/
}
body .event {
    /*border-bottom: 1px solid #ccc*/
}
body::selection {
    background: #05ff85;
    color: #000
}
body::-moz-selection {
    background: #05ff85;
    color: #000
}
body #sub-nav a:active {
    background-color: rgba(29, 27, 27, 0.6);
    color: #fff;
    /*font-weight: bold*/
}
body #sub-nav a.col-body {
    color: #f0f0f0;
    font-weight: bold
}
body .column {
    /*background-color: #15a346*/
}
body #sub-nav .late-night a {
    font-weight: normal;
    background-color: #0f7633
}
body #sub-nav .late-night a:hover {
    background-color: transparent
}
body #sub-nav .late-night a:active {
    background-color: #5cffb0
}
body .night-mode #sub-nav .late-night a {
    background-color: #333;
    color: #f0f0f0
}
body .night-mode #sub-nav .late-night a:hover {
    background-color: transparent
}
body .night-mode #sub-nav .late-night a:active {
    background-color: #00b85e
}
body .night-mode .hovering {
    background-color: #222
}
body .night-mode a {
    color: #00b85e
}
body .night-mode .day-number,
body .night-mode .day-name {
    color: #00b85e
}
body .night-mode .night-day {
    color: #d2f3e3;
    text-shadow: 0px 0px 20px #d2f3e3
}
/*.bg-1 a {
    color: #5cffb0
}
.bg-1 a.expand {
    color: #5cffb0
}*/
a.expand{
    /*padding-top: 10px;*/
    color:#13b5ea
}
.bg-1 .hovering {
    /*background-color: rgba(245, 243, 240, 0.78)*/
}
.bg-1 .starred {
    color: #deb003
}
.bg-1 .events-list {
    /*border-top: 1px solid #1bd059*/
}
.events-list li:first-child{
    /*border-top: 1px solid #ccc;*/ 
    /*padding:0 1em .5em;*/
}
.bg-1 .event {
    /*border-bottom: 1px solid #1bd059*/
}
.bg-1::selection {
    background: #05ff85;
    color: #000
}
.bg-1::-moz-selection {
    background: #05ff85;
    color: #000
}
.content{

    margin-left: 6%;
}
/*
.bg-1 #sub-nav a:active {
    background-color: #05ff85;
    color: #000;
    font-weight: bold
}
.bg-1 #sub-nav a.col-1 {
    color: #f0f0f0;
    font-weight: bold
}
.bg-1 .column {
    background-color: #15a346
}
.bg-1 #sub-nav .late-night a {
    font-weight: normal;
    background-color: #0f7633
}
.bg-1 #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-1 #sub-nav .late-night a:active {
    background-color: #5cffb0
}
.bg-1 .night-mode #sub-nav .late-night a {
    background-color: #333;
    color: #f0f0f0
}
.bg-1 .night-mode #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-1 .night-mode #sub-nav .late-night a:active {
    background-color: #00b85e
}
.bg-1 .night-mode .hovering {
    background-color: #222
}
.bg-1 .night-mode a {
    color: #00b85e
}
.bg-1 .night-mode .day-number,
.bg-1 .night-mode .day-name {
    color: #00b85e
}
.bg-1 .night-mode .night-day {
    color: #d2f3e3;
    text-shadow: 0px 0px 20px #d2f3e3
}
.bg-1 a:hover,
.bg-1 a.expand:hover {
    color: #f0f0f0;
    text-decoration: none
}
.bg-1 a:active,
.bg-1 a.expand:active {
    color: #000
}*/
.bg-2 a {
    color: #fffa85
}
.bg-2 a.expand {
    color: #fffa85
}
.bg-2 .hovering {
    background-color: #edbc03
}
.bg-2 .starred {
    color: #deb003
}
.bg-2 .events-list {
    /*border-top: 1px solid #fccc18*/
}
.bg-2 .event {
    /*border-bottom: 1px solid #fccc18*/
}
.bg-2::selection {
    background: #fff62f;
    color: #151000
}
.bg-2::-moz-selection {
    background: #fff62f;
    color: #151000
}
.bg-2 #sub-nav a:active {
    background-color: #fff62f;
    color: #151000;
    font-weight: bold
}
.bg-2 #sub-nav a.col-2 {
    color: #f0f0f0;
    font-weight: bold
}
.bg-2 .column {
    /*background-color: #deb003*/
}
.bg-2 #sub-nav .late-night a {
    font-weight: normal;
    background-color: #ac8802
}
.bg-2 #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-2 #sub-nav .late-night a:active {
    background-color: #fffa85
}
.bg-2 .night-mode #sub-nav .late-night a {
    background-color: #333;
    color: #f0f0f0
}
.bg-2 .night-mode #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-2 .night-mode #sub-nav .late-night a:active {
    background-color: #e1d700
}
.bg-2 .night-mode .hovering {
    background-color: #222
}
.bg-2 .night-mode a {
    color: #e1d700
}
.bg-2 .night-mode .day-number,
.bg-2 .night-mode .day-name {
    color: #e1d700
}
.bg-2 .night-mode .night-day {
    color: #f3f2da;
    text-shadow: 0px 0px 20px #f3f2da
}
.bg-2 a:hover,
.bg-2 a.expand:hover {
    color: #f0f0f0;
    text-decoration: none
}
.bg-2 a:active,
.bg-2 a.expand:active {
    color: #151000
}
.bg-3 a {
    color: #ffc498
}
.bg-3 a.expand {
    color: #ffc498
}
.bg-3 .hovering {
    /*background-color: #d8592b*/
}
.bg-3 .starred {
    color: #deb003
}
.bg-3 .events-list {
    /*border-top: 1px solid #de7049*/
}
.bg-3 .event {
    border-bottom: 1px solid #de7049
}
.bg-3::selection {
    background: #ff9342;
    color: #220d06
}
.bg-3::-moz-selection {
    background: #ff9342;
    color: #220d06
}
.bg-3 #sub-nav a:active {
    background-color: #ff9342;
    color: #220d06;
    font-weight: bold
}
.bg-3 #sub-nav a.col-3 {
    color: #f0f0f0;
    font-weight: bold
}
.bg-3 .column {
    background-color: #ce5226
}
.bg-3 #sub-nav .late-night a {
    font-weight: normal;
    background-color: #a3411e
}
.bg-3 #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-3 #sub-nav .late-night a:active {
    background-color: #ffc498
}
.bg-3 .night-mode #sub-nav .late-night a {
    background-color: #333;
    color: #f0f0f0
}
.bg-3 .night-mode #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-3 .night-mode #sub-nav .late-night a:active {
    background-color: #f46900
}
.bg-3 .night-mode .hovering {
    background-color: #222
}
.bg-3 .night-mode a {
    color: #f46900
}
.bg-3 .night-mode .day-number,
.bg-3 .night-mode .day-name {
    color: #f46900
}
.bg-3 .night-mode .night-day {
    color: #f3e7de;
    text-shadow: 0px 0px 20px #f3e7de
}
.bg-3 a:hover,
.bg-3 a.expand:hover {
    color: #f0f0f0;
    text-decoration: none
}
.bg-3 a:active,
.bg-3 a.expand:active {
    color: #220d06
}
.bg-4 a {
    color: #af81ec
}
.bg-4 a.expand {
    /*color: #af81ec*/
}
.bg-4 .hovering {
    background-color: #5e4d8c
}
.bg-4 .starred {
    color: #deb003
}
.bg-4 .events-list {
    border-top: 1px solid #6d5aa3
}
.bg-4 .event {
    border-bottom: 1px solid #6d5aa3
}
.bg-4::selection {
    background: #7f36e1;
    color: #000
}
.bg-4::-moz-selection {
    background: #7f36e1;
    color: #000
}
.bg-4 #sub-nav a:active {
    background-color: #7f36e1;
    color: #000;
    font-weight: bold
}
.bg-4 #sub-nav a.col-4 {
    color: #f0f0f0;
    font-weight: bold
}
.bg-4 .column {
    background-color: #574882
}
.bg-4 #sub-nav .late-night a {
    font-weight: normal;
    background-color: #413661
}
.bg-4 #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-4 #sub-nav .late-night a:active {
    background-color: #af81ec
}
.bg-4 .night-mode #sub-nav .late-night a {
    background-color: #333;
    color: #f0f0f0
}
.bg-4 .night-mode #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-4 .night-mode #sub-nav .late-night a:active {
    background-color: #5600ca
}
.bg-4 .night-mode .hovering {
    background-color: #222
}
.bg-4 .night-mode a {
    color: #5a1baf
}
.bg-4 .night-mode .day-number,
.bg-4 .night-mode .day-name {
    color: #5600ca
}
.bg-4 .night-mode .night-day {
    color: #e3d9ef;
    text-shadow: 0px 0px 20px #e3d9ef
}
.bg-4 a:hover,
.bg-4 a.expand:hover {
    color: #f0f0f0;
    text-decoration: none
}
.bg-4 a:active,
.bg-4 a.expand:active {
    color: #000
}
.bg-5 a {
    color: #bdc5fb
}
.bg-5 a.expand {
    color: #bdc5fb
}
.bg-5 .hovering {
    background-color: #6380c0
}
.bg-5 .starred {
    color: #deb003
}
.bg-5 .events-list {
    border-top: 1px solid #7c95cb
}
.bg-5 .event {
    border-bottom: 1px solid #7c95cb
}
.bg-5::selection {
    background: #6b7ff5;
    color: #151e33
}
.bg-5::-moz-selection {
    background: #6b7ff5;
    color: #151e33
}
.bg-5 #sub-nav a:active {
    background-color: #6b7ff5;
    color: #151e33;
    font-weight: bold
}
.bg-5 #sub-nav a.col-5 {
    color: #f0f0f0;
    font-weight: bold
}
.bg-5 .column {
    background-color: #5877bc
}
.bg-5 #sub-nav .late-night a {
    font-weight: normal;
    background-color: #405ea1
}
.bg-5 #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-5 #sub-nav .late-night a:active {
    background-color: #bdc5fb
}
.bg-5 .night-mode #sub-nav .late-night a {
    background-color: #333;
    color: #f0f0f0
}
.bg-5 .night-mode #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-5 .night-mode #sub-nav .late-night a:active {
    background-color: #1537ff
}
.bg-5 .night-mode .hovering {
    background-color: #222
}
.bg-5 .night-mode a {
    color: #2341f1
}
.bg-5 .night-mode .day-number,
.bg-5 .night-mode .day-name {
    color: #1537ff
}
.bg-5 .night-mode .night-day {
    color: #e5e7f2;
    text-shadow: 0px 0px 20px #e5e7f2
}
.bg-5 a:hover,
.bg-5 a.expand:hover {
    color: #f0f0f0;
    text-decoration: none
}
.bg-5 a:active,
.bg-5 a.expand:active {
    color: #151e33
}
.bg-6 a {
    color: #86e0ff
}
.bg-6 a.expand {
    color: #86e0ff
}
.bg-6 .hovering {
    background-color: #25bdcc
}
.bg-6 .starred {
    color: #deb003
}
.bg-6 .events-list {
    border-top: 1px solid #3accdb
}
.bg-6 .event {
    border-bottom: 1px solid #3accdb
}
.bg-6::selection {
    background: #30caff;
    color: #031113
}
.bg-6::-moz-selection {
    background: #30caff;
    color: #031113
}
.bg-6 #sub-nav a:active {
    background-color: #30caff;
    color: #031113;
    font-weight: bold
}
.bg-6 #sub-nav a.col-6 {
    color: #f0f0f0;
    font-weight: bold
}
.bg-6 .column {
    background-color: #23b1bf
}
.bg-6 #sub-nav .late-night a {
    font-weight: normal;
    background-color: #1b8994
}
.bg-6 #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-6 #sub-nav .late-night a:active {
    background-color: #86e0ff
}
.bg-6 .night-mode #sub-nav .late-night a {
    background-color: #333;
    color: #f0f0f0
}
.bg-6 .night-mode #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-6 .night-mode #sub-nav .late-night a:active {
    background-color: #00a8e2
}
.bg-6 .night-mode .hovering {
    background-color: #222
}
.bg-6 .night-mode a {
    color: #00a8e2
}
.bg-6 .night-mode .day-number,
.bg-6 .night-mode .day-name {
    color: #00a8e2
}
.bg-6 .night-mode .night-day {
    color: #daecf3;
    text-shadow: 0px 0px 20px #daecf3
}
.bg-6 a:hover,
.bg-6 a.expand:hover {
    color: #f0f0f0;
    text-decoration: none
}
.bg-6 a:active,
.bg-6 a.expand:active {
    color: #031113
}
.bg-footer a {
    color: #86e0ff
}
.bg-footer a.expand {
    color: #86e0ff
}
.bg-footer .hovering {
    background-color: #25bdcc
}
.bg-footer .starred {
    color: #deb003
}
.bg-footer .events-list {
    border-top: 1px solid #3accdb
}
.bg-footer .event {
    border-bottom: 1px solid #3accdb
}
.bg-footer::selection {
    background: #30caff;
    color: #031113
}
.bg-footer::-moz-selection {
    background: #30caff;
    color: #031113
}
.bg-footer #sub-nav a:active {
    background-color: #30caff;
    color: #031113;
    font-weight: bold
}
.bg-footer #sub-nav a.col-footer {
    color: #f0f0f0;
    font-weight: bold
}
.bg-footer .column {
    background-color: #23b1bf
}
.bg-footer #sub-nav .late-night a {
    font-weight: normal;
    background-color: #1b8994
}
.bg-footer #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-footer #sub-nav .late-night a:active {
    background-color: #86e0ff
}
.bg-footer .night-mode #sub-nav .late-night a {
    background-color: #333;
    color: #f0f0f0
}
.bg-footer .night-mode #sub-nav .late-night a:hover {
    background-color: transparent
}
.bg-footer .night-mode #sub-nav .late-night a:active {
    background-color: #00a8e2
}
.bg-footer .night-mode .hovering {
    background-color: #222
}
.bg-footer .night-mode a {
    color: #00a8e2
}
.bg-footer .night-mode .day-number,
.bg-footer .night-mode .day-name {
    color: #00a8e2
}
.bg-footer .night-mode .night-day {
    color: #daecf3;
    text-shadow: 0px 0px 20px #daecf3
}
.bg-footer a:hover,
.bg-footer a.expand:hover {
    color: #f0f0f0;
    text-decoration: none
}
.bg-footer a:active,
.bg-footer a.expand:active {
    color: #031113
}
.footer {
    background-color: #272425
}
nav {
    padding: 5px;
    background-color: #000
}
nav li {
    float: left;
    margin-right: 10px
}
#logo-small {
    background: transparent url(../Design-Week-Portland-Logo-Small-7bdbe758ae2069683ec48122e66d2b58.png) no-repeat 0 0;
    display: none;
    width: 82px;
    height: 76px;
    text-indent: -9999px;
    text-transform: capitalize;
    font-size: 10px;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 15px
}
#logo-small:hover {
    opacity: .8
}
#logo-small:active {
    opacity: 1
}
.retina #logo-small {
    background-image: url(../Design-Week-Portland-Logo-Small-x2-4d3a13b6ef13ebf0c0a5e3fffbb7ebd7.png);
    width: 82pt;
    height: 76pt;
    background-size: 82pt 76pt
}
#sub-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    font-size: .8em;
    margin: 12px;
    /*    letter-spacing: .1em;
        text-transform: uppercase*/
}
#sub-nav .title {
    padding: 0.4em 0.5em 0.2em
}
#sub-nav {
    font-weight: normal
}
#sub-nav a {
    display: block;
    float: left;
    /*padding: 0.4em 0.5em 0.2em;*/
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -khtml-border-radius: 7px
}
#sub-nav a:hover {
    color: #f0f0f0
}
#sub-nav.on,
#logo-small.on {
    display: block;
    z-index: 9999
}
.on {
    display: block
}
#main {
    position: relative;
    height: 100%
}
.show {
    display: block
}
.hide {
    display: none
}
.ext-link {
    width: 15px;
    height: 15px;
    /*background: transparent url("new-window-sprite.html") no-repeat 0 -15px;*/
    text-indent: -9999px;
    overflow: hidden;
    display: none;
    margin-left: 4px;
    position: relative;
    top: 1px
}
.column {
    z-index: 15;
    min-height: 144px;
    position: relative
}
#col-1 {
    /*border-top: 1px solid #13913e*/
}
.column-inner-wrap {
    position: relative;
    text-align: center
}
.content {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow-x: hidden;
    float: none;
    vertical-align: text-top;
    text-align: left;
    padding: 2em 0
}
.day-header-wrap {
    /*font-size: 28em;*/
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    vertical-align: text-top;
    /*top: 7px;*/
    padding: 1.8em 0;
}
.day-header,
.header-placeholder {
    /*font-size: 1em;*/
    line-height: 1em;
    text-align: center;
    height: 100%;
    position: relative;
    /*font-family: "Kicker-Medium", sans-serif;*/
    font-family: "National", sans-serif;
    font-weight: 300;
    text-align: center;
    float: left;
    padding-top: .13em
}
.day-header a,
.header-placeholder a {
    color: #f0f0f0;
    display: block
}
.day-header {
    position: absolute
}
.active-section .day-header {
    position: fixed;
    top: 300px;
    -webkit-transform: translate3d(0,0,0);
}
.mid-section .day-header-wrap {
    vertical-align: bottom;
    margin-bottom: 0%;

}
.mid-section .day-header {
    bottom: 0
}
.above-section .day-header,.mid-section .day-header   {
    top: 0px;
    border:0;
}
.day-number {
    /*    font-family: "Kicker-Inline", sans-serif*/
}
.day-header a:hover {
    color: #f0f0f0
}
.day-header a:hover .day-number {
    margin: 0
}
.day-name {
    display: block;
    font-size: .1em;
    line-height: 1em
}
.day-number {
    display: block;
    line-height: 0.94em
}
#intro h1 {
    /*font-family: "Kicker-Inline", sans-serif*/
}
#intro-wrap {
    min-height: 100%;
    height: 100%;
    position: relative
}
#intro {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    background-color: #272425;
    z-index: 10
}
#intro a {
    color: #f0f0f0
}
#intro a:hover {
    color: #f0f0f0
}
#intro a:active {
    color: #15a346
}
#intro h1 {
    position: relative;
    margin-bottom: 2px;
    font-size: 1em;
    line-height: 1em
}
#intro .hyphen {
    margin-right: -.05em
}
#intro-inner {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    z-index: 10;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
}
.below-intro #intro-inner {
    -webkit-background-size: auto;
    background-size: auto;
    display: none
}
.secondary {
    position: relative;
    padding-top: 145px;
    /*font-family: "Kicker-Inline", sans-serif;*/
    line-height: 1em;
    font-size: 9em
}
.narrow .secondary-inner {
    font-size: 0.8em
}
.play-button-wrap {
    font-size: .6em;
    line-height: 1em
}
a.play-button {
    font-size: 1em;
    line-height: 1em
}
a.play-button:hover {
    background-position: 0 -125px
}
a.play-button:active {
    background-position: 0 -250px
}
#logo-wrap {
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100%
}
#logo {
    background: transparent url(../Design-Week-Portland-Logo-4a6573ed9740aed7f6d59824cff6df08.png) no-repeat 0 0;
    display: block;
    width: 375px;
    height: 108px;
    text-indent: -9999px;
    text-transform: capitalize;
    font-size: 10px;
    margin: 0 auto;
    overflow: hidden
}
#logo:hover {
    background-position: 0 -108px
}
.retina #logo {
    background-image: url(../Design-Week-Portland-Logo-x2-8beeb246f34349b826ec0f5e3125dc3a.png);
    background-size: 375pt 216pt;
    width: 375pt;
    height: 108pt
}
.retina #logo:hover {
    background-position: 0 -108pt
}
.caption {
    position: absolute;
    bottom: 20px;
    right: 20px
}
#video-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999
}
#video-wrap .close {
    background: transparent url(../x-button-0fbc0e0120ec92bf1fb0476caf67970c.png) no-repeat 0 0;
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-indent: -9999px;
    overflow: hidden
}
#video-wrap .close:hover {
    background-position: 0 -48px
}
#video {
    margin: 0 auto 0;
    width: 70%
}
#enticer-wrap {
    position: absolute;
    bottom: -5px;
    width: 100%;
    z-index: 10
}
#enticer {
    background: transparent url(../enticer-arrow-f19258c8ed6c33e17163031577c0a2bc.png) no-repeat 0 0;
    display: block;
    width: 46px;
    height: 48px;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
    margin: 0 auto
}
#enticer:hover {
    background-position: -46px 0
}
.retina #enticer {
    background-image: url(../enticer-arrow-x2-267e7a7cf7e7d46eac2bf06264f1f94e.png);
    width: 46pt;
    height: 48pt;
    background-size: 92pt 48pt
}
.retina #enticer:hover {
    background-position: -46pt 0
}
.details {
    margin-bottom: 1em
}
.register {
    margin-top: 0em
}
.register-link {
    margin-top: .8em
}
.description {
    margin-bottom: 1em
}
.org-url {
    padding-top: .5em
}
.events-list {
    /*position: relative;*/
    /*border-top: 1px solid #1bd059*/
}
.event {
    position: relative;
    margin-left: 32px;
    /*    padding: 1em;
        border-bottom: 1px solid #1bd059;
        min-height: 92px;*/
}
.hovering {
    /*cursor: pointer*/
}
.content h4 a {
    font-weight: normal
}
.starred {
    /*font-family: "Kicker-Inline", sans-serif;*/
    color: #deb003
}
.multiday .date-range {
    font-weight: bold
}
.multiday .day-number {
    color: transparent
}
.expand {
    /*display: none;*/
    position: absolute;
    bottom: .5em;
    right: 1em;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .05em
}
.expand .symbol {
    font-size: .95em;
    position: relative;
    top: .05em
}
.hovering .expand {
    display: block
}
.expanding .expand {
    display: none
}
#footer {
    background-color: #272425
}
#footer h5 {
    font-weight: bold
}
#footer .column-inner-wrap {
    padding: 2em 0
}
.footer-intro {
    font-size: 1.3em;
    margin-bottom: 1.5em
}
.section {
    margin-bottom: 1em
}
#flasher {
    position: absolute;
    width: 98%;
    bottom: 0;
    z-index: 9999;
    padding: 1% 1% 1%;
    background-color: #000
}
#flasher img {
    position: relative;
    top: 1px;
    margin-right: 5px
}
#footer .content {
    width: 70%
}
.grid_4 {
    min-width: 130px
}
#footer-col-1 a {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    height: 120px;
    width: 120px
}
#admin-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: #272425;
    padding: 10px
}
#admin-wrap {
    width: 700px;
    margin: 50px auto
}
#admin h1 {
    font-size: 3.5em;
    margin-bottom: .15em
}
#admin td,
#admin th {
    padding: 10px;
    border-top: 1px solid #f0f0f0
}
#admin th {
    text-align: left
}
#admin .actions {
    margin-bottom: 1.2em
}
#admin h3 {
    margin-bottom: .5em
}
#admin table {
    width: 100%
}
#admin .example {
    font-size: .7em;
    margin-top: .3em
}
.late-night {
    margin-top: .75em;
    position: fixed;
    bottom: 10px;
    right: 10px
}
.late-night a {
    display: block;
    float: left;
    margin-left: .25em;
    font-size: .8em;
    letter-spacing: .1em
}
.night-day {
    display: none
}
.bg-1 .night-mode .day-number,
.bg-1 .night-mode .day-name {
    color: #00b818
}
.bg-2 .night-mode .day-number,
.bg-2 .night-mode .day-name {
    color: #fbc600
}
.night-mode .column,
.night-mode #footer {
    background-color: #000
}
.night-mode #col-1 {
    border-top: none
}
.night-mode .day-number {
    position: relative
}
.night-mode .night-day {
    display: block;
    position: absolute;
    top: 0;
    /*font-family: "Kicker-Neon", sans-serif*/
}
/*.js-yes #logo-wrap,
.js-yes #secondary,
.js-yes #intro-inner,
.js-yes #enticer-wrap,
.js-yes .column-inner-wrap,*/

.full-details {
    display: none
}
.no-ff .header-placeholder .day-header-inner {
    width: 1.1em
}
.no-ff .day-name {
    text-transform: uppercase;
    letter-spacing: 0.06em
}
.no-ff .secondary-inner {
    font-size: .6em
}
.no-ff .day-header-inner {
    /*font-size: .7em*/
}
.no-ff .narrow .day-header-inner {
    /*font-size: .6em*/
}
@media only screen and (max-width: 959px) {
    #sub-nav,
    #logo-small {
        display: none !important
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .narrow .secondary-inner {
        font-size: .64em
    }
    .container_12 .content {
        width: 45%
    }
    .secondary-inner {
        font-size: 1em
    }
    .narrow .day-header-inner {
        font-size: .7em
    }
    .no-ff .secondary-inner {
        font-size: .5em
    }
    .no-ff .day-header-inner {
        font-size: .4em
    }
    .no-ff .narrow .day-header-inner {
        font-size: .4em
    }
}
@media only screen and (max-width: 767px) {
    .content-inner,
    #footer .content {
        font-size: 16px !important
    }
    h3 {
        font-size: 1.29em
    }
    h4 {
        font-size: 1em
    }
    h5 {
        font-size: 1em
    }
    p {
        font-size: 1em
    }
    .secondary {
        font-size: .4em
    }
    .footer-intro {
        font-size: 1.14em
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .day-header-inner {
        font-size: .6em
    }
    .narrow .day-header-inner {
        font-size: 0.48em
    }
    .container_12 .content {
        width: 48%
    }
    .narrow .secondary-inner {
        font-size: .5em
    }
    .no-ff .secondary-inner {
        font-size: .3em
    }
    .no-ff .day-header-inner {
        font-size: .3em
    }
    .no-ff .narrow .day-header-inner {
        font-size: .2em
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #intro {
        position: relative
    }
    #sub-nav {
        font-size: 1em !important
    }
    #sub-nav a {
        margin: .5em 0em .4em !important
    }
    .day-name,
    .day-number {
        /*        font-family: "Kicker-Inline", sans-serif;*/
        font-size: 1em;
        display: inline
    }
    .day-header-wrap {
        /*font-size: 184px !important*/
    }
    .day-header-inner {
        padding: 0px
    }
    .active-section .day-header,
    .mid-section .day-header {
        position: absolute;
        top: 0
    }
    .events-wrap {
        padding: 10px 0em 20px 0em !important
    }
    .day-header-wrap {
        display: block !important
    }
    .day-header {
        position: relative !important;
        float: none;
        text-align: left
    }
    .header-placeholder {
        display: none
    }
    #sub-nav a {
        color: #f0f0f0 !important
    }
    #col-1 {
        /*background-color: #15a346*/
    }
    #col-1 a {
        /*color: #5cffb0*/
    }
    #col-1 a.expand {
        color:#13b5ea
    }
    #col-1 .hovering {
        /*background-color: #17b14c*/
    }
    #col-1 .starred {
        /*color: #deb003*/
    }
    #col-1 .events-list {
        /*border-top: 1px solid #1bd059*/
    }
    #col-1 .event {
        border-bottom: 1px solid #1bd059
    }
    #col-1::selection {
        background: #05ff85;
        color: #000
    }
    #col-1::-moz-selection {
        background: #05ff85;
        color: #000
    }
    #col-1 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #0f7633
    }
    #col-1 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-1 #sub-nav .late-night a:active {
        background-color: #5cffb0
    }
    #col-1 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-1 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-1 .night-mode #sub-nav .late-night a:active {
        background-color: #00b85e
    }
    #col-1 .night-mode .hovering {
        background-color: #222
    }
    #col-1 .night-mode a {
        color: #00b85e
    }
    #col-1 .night-mode .day-number,
    #col-1 .night-mode .day-name {
        color: #00b85e
    }
    #col-1 .night-mode .night-day {
        color: #d2f3e3;
        text-shadow: 0px 0px 20px #d2f3e3
    }
    #col-1 a:hover,
    #col-1 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-1 a:active,
    #col-1 a.expand:active {
        color: #000
    }
    #col-2 {
        /*background-color: #deb003*/
    }
    #col-2 a {
        /*color: #fffa85*/
    }
    #col-2 a.expand {
        /*color: #fffa85*/
    }
    #col-2 .hovering {
        /*background-color: #edbc03*/
    }
    #col-2 .starred {
        color: #deb003
    }
    #col-2 .events-list {
        /*border-top: 1px solid #fccc18*/
    }
    #col-2 .event {
        /*border-bottom: 1px solid #fccc18*/
    }
    #col-2::selection {
        background: #fff62f;
        color: #151000
    }
    #col-2::-moz-selection {
        background: #fff62f;
        color: #151000
    }
    #col-2 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #ac8802
    }
    #col-2 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-2 #sub-nav .late-night a:active {
        background-color: #fffa85
    }
    #col-2 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-2 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-2 .night-mode #sub-nav .late-night a:active {
        background-color: #e1d700
    }
    #col-2 .night-mode .hovering {
        background-color: #222
    }
    #col-2 .night-mode a {
        color: #e1d700
    }
    #col-2 .night-mode .day-number,
    #col-2 .night-mode .day-name {
        color: #e1d700
    }
    #col-2 .night-mode .night-day {
        color: #f3f2da;
        text-shadow: 0px 0px 20px #f3f2da
    }
    #col-2 a:hover,
    #col-2 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-2 a:active,
    #col-2 a.expand:active {
        color: #151000
    }
    #col-3 {
        background-color: #ce5226
    }
    #col-3 a {
        color: #ffc498
    }
    #col-3 a.expand {
        color: #ffc498
    }
    #col-3 .hovering {
        background-color: #d8592b
    }
    #col-3 .starred {
        color: #deb003
    }
    #col-3 .events-list {
        border-top: 1px solid #de7049
    }
    #col-3 .event {
        border-bottom: 1px solid #de7049
    }
    #col-3::selection {
        background: #ff9342;
        color: #220d06
    }
    #col-3::-moz-selection {
        background: #ff9342;
        color: #220d06
    }
    #col-3 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #a3411e
    }
    #col-3 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-3 #sub-nav .late-night a:active {
        background-color: #ffc498
    }
    #col-3 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-3 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-3 .night-mode #sub-nav .late-night a:active {
        background-color: #f46900
    }
    #col-3 .night-mode .hovering {
        background-color: #222
    }
    #col-3 .night-mode a {
        color: #f46900
    }
    #col-3 .night-mode .day-number,
    #col-3 .night-mode .day-name {
        color: #f46900
    }
    #col-3 .night-mode .night-day {
        color: #f3e7de;
        text-shadow: 0px 0px 20px #f3e7de
    }
    #col-3 a:hover,
    #col-3 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-3 a:active,
    #col-3 a.expand:active {
        color: #220d06
    }
    #col-4 {
        background-color: #574882
    }
    #col-4 a {
        color: #af81ec
    }
    #col-4 a.expand {
        color: #af81ec
    }
    #col-4 .hovering {
        background-color: #5e4d8c
    }
    #col-4 .starred {
        color: #deb003
    }
    #col-4 .events-list {
        border-top: 1px solid #6d5aa3
    }
    #col-4 .event {
        border-bottom: 1px solid #6d5aa3
    }
    #col-4::selection {
        background: #7f36e1;
        color: #000
    }
    #col-4::-moz-selection {
        background: #7f36e1;
        color: #000
    }
    #col-4 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #413661
    }
    #col-4 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-4 #sub-nav .late-night a:active {
        background-color: #af81ec
    }
    #col-4 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-4 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-4 .night-mode #sub-nav .late-night a:active {
        background-color: #5600ca
    }
    #col-4 .night-mode .hovering {
        background-color: #222
    }
    #col-4 .night-mode a {
        color: #5a1baf
    }
    #col-4 .night-mode .day-number,
    #col-4 .night-mode .day-name {
        color: #5600ca
    }
    #col-4 .night-mode .night-day {
        color: #e3d9ef;
        text-shadow: 0px 0px 20px #e3d9ef
    }
    #col-4 a:hover,
    #col-4 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-4 a:active,
    #col-4 a.expand:active {
        color: #000
    }
    #col-5 {
        background-color: #5877bc
    }
    #col-5 a {
        color: #bdc5fb
    }
    #col-5 a.expand {
        color: #bdc5fb
    }
    #col-5 .hovering {
        background-color: #6380c0
    }
    #col-5 .starred {
        color: #deb003
    }
    #col-5 .events-list {
        border-top: 1px solid #7c95cb
    }
    #col-5 .event {
        border-bottom: 1px solid #7c95cb
    }
    #col-5::selection {
        background: #6b7ff5;
        color: #151e33
    }
    #col-5::-moz-selection {
        background: #6b7ff5;
        color: #151e33
    }
    #col-5 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #405ea1
    }
    #col-5 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-5 #sub-nav .late-night a:active {
        background-color: #bdc5fb
    }
    #col-5 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-5 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-5 .night-mode #sub-nav .late-night a:active {
        background-color: #1537ff
    }
    #col-5 .night-mode .hovering {
        background-color: #222
    }
    #col-5 .night-mode a {
        color: #2341f1
    }
    #col-5 .night-mode .day-number,
    #col-5 .night-mode .day-name {
        color: #1537ff
    }
    #col-5 .night-mode .night-day {
        color: #e5e7f2;
        text-shadow: 0px 0px 20px #e5e7f2
    }
    #col-5 a:hover,
    #col-5 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-5 a:active,
    #col-5 a.expand:active {
        color: #151e33
    }
    #col-6 {
        background-color: #23b1bf
    }
    #col-6 a {
        color: #86e0ff
    }
    #col-6 a.expand {
        color: #86e0ff
    }
    #col-6 .hovering {
        background-color: #25bdcc
    }
    #col-6 .starred {
        color: #deb003
    }
    #col-6 .events-list {
        border-top: 1px solid #3accdb
    }
    #col-6 .event {
        border-bottom: 1px solid #3accdb
    }
    #col-6::selection {
        background: #30caff;
        color: #031113
    }
    #col-6::-moz-selection {
        background: #30caff;
        color: #031113
    }
    #col-6 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #1b8994
    }
    #col-6 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-6 #sub-nav .late-night a:active {
        background-color: #86e0ff
    }
    #col-6 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-6 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-6 .night-mode #sub-nav .late-night a:active {
        background-color: #00a8e2
    }
    #col-6 .night-mode .hovering {
        background-color: #222
    }
    #col-6 .night-mode a {
        color: #00a8e2
    }
    #col-6 .night-mode .day-number,
    #col-6 .night-mode .day-name {
        color: #00a8e2
    }
    #col-6 .night-mode .night-day {
        color: #daecf3;
        text-shadow: 0px 0px 20px #daecf3
    }
    #col-6 a:hover,
    #col-6 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-6 a:active,
    #col-6 a.expand:active {
        color: #031113
    }
    #col-footer {
        background-color: #15a346
    }
    #col-footer a {
        color: #5cffb0
    }
    #col-footer a.expand {
        color: #5cffb0
    }
    #col-footer .hovering {
        background-color: #17b14c
    }
    #col-footer .starred {
        color: #deb003
    }
    #col-footer .events-list {
        border-top: 1px solid #1bd059
    }
    #col-footer .event {
        border-bottom: 1px solid #1bd059
    }
    #col-footer::selection {
        background: #05ff85;
        color: #000
    }
    #col-footer::-moz-selection {
        background: #05ff85;
        color: #000
    }
    #col-footer #sub-nav .late-night a {
        font-weight: normal;
        background-color: #0f7633
    }
    #col-footer #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-footer #sub-nav .late-night a:active {
        background-color: #5cffb0
    }
    #col-footer .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-footer .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-footer .night-mode #sub-nav .late-night a:active {
        background-color: #00b85e
    }
    #col-footer .night-mode .hovering {
        background-color: #222
    }
    #col-footer .night-mode a {
        color: #00b85e
    }
    #col-footer .night-mode .day-number,
    #col-footer .night-mode .day-name {
        color: #00b85e
    }
    #col-footer .night-mode .night-day {
        color: #d2f3e3;
        text-shadow: 0px 0px 20px #d2f3e3
    }
    #col-footer a:hover,
    #col-footer a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-footer a:active,
    #col-footer a.expand:active {
        color: #000
    }
    .event.last {
        border-bottom: none !important
    }
    #enticer {
        display: none
    }
    #footer .content {
        padding: 2em 0 !important
    }
    .hovering {
        background-color: transparent !important
    }
    .event {
        padding-left: 0;
        padding-right: 0
    }
    .expand {
        display: block !important;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 1.25em
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #sub-nav.on,
    #logo-small.on {
        display: block;
        z-index: 2000
    }
    #intro-inner {
        background-attachment: scroll
    }
    .day-header-inner {
        font-size: .9em
    }
    .container_12 .content {
        width: 70% !important
    }
    .day-header-wrap {
        width: 70% !important;
        margin: 0 auto !important
    }
    .column {
        padding-top: 2em
    }
    .content-inner,
    #footer .content {
        font-size: 20px !important
    }
    #flasher {
        width: 70%;
        padding: 2% 15%
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .content-inner,
    #footer .content {
        font-size: 16px !important
    }
    h3 {
        font-size: 1.29em
    }
    h4 {
        font-size: 1em
    }
    h5 {
        font-size: 1em
    }
    p {
        font-size: 1em
    }
    .secondary {
        font-size: .4em
    }
    .footer-intro {
        font-size: 1.14em
    }
    .loaded #sub-nav,
    .loaded #logo-small {
        display: none !important
    }
    #intro-inner {
        -webkit-background-size: auto 1024px;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        background-size: auto 1024px;
        background-position: top center
    }
    .container_12 .content,
    #footer .content {
        width: 90% !important
    }
    .day-header-wrap {
        width: 90% !important;
        margin: 0 auto !important
    }
    #flasher {
        width: 90%;
        padding: 2% 5%
    }
}
@media only screen and (max-width: 479px) {
    body {
        background-color: #15a346;
        font-size: 87.5%
    }
    .loaded #sub-nav,
    .loaded #logo-small {
        display: none !important;
        font-size: 1em !important
    }
    #intro {
        position: relative
    }
    #intro-inner {
        background-attachment: scroll
    }
    #logo {
        background-image: url(../Design-Week-Portland-Logo-Iphone-a90d0aaa0af8e8b2119745a88e0ebd84.png);
        width: 206px;
        height: 58px
    }
    #logo:hover {
        background-position: 0 -58px
    }
    .retina #logo {
        background-image: url(../Design-Week-Portland-Logo-Iphone-X2-212d5d6cf03e9f33645c80480a71112a.png);
        background-size: 206pt 116pt;
        width: 206pt;
        height: 58pt
    }
    .retina #logo:hover {
        background-position: 0 -58pt
    }
    .content-inner,
    #footer .content {
        font-size: 14px !important
    }
    h3 {
        font-size: 1.29em
    }
    h4 {
        font-size: 1em
    }
    h5 {
        font-size: 1em
    }
    p {
        font-size: 1em
    }
    .secondary {
        padding: 0 !important;
        position: relative;
        top: 35%
    }
    .secondary {
        top: 130px
    }
    #intro-wrap {
        min-height: 357px;
        height: 357px
    }
    .secondary-inner {
        padding-top: 0
    }
    .narrow .secondary-inner,
    .secondary-inner {
        font-size: 88px
    }
    .footer-intro {
        font-size: 1.14em
    }
    .container_12 .content,
    .day-header-wrap,
    #footer .content {
        width: 90%;
        margin: auto;
        padding: 0
    }
    .container_12 .grid_4 {
        width: 100%
    }
    .header-placeholder {
        display: none
    }
    .column {
        padding: 2em 0 1.5em
    }
    .column,
    .content {
        min-height: 0 !important;
        height: auto !important
    }
    .content {
        padding: 0 !important
    }
    .day-header-wrap {
        display: block;
        /*font-size: 72px !important;*/
        margin-bottom: .25em
    }
    .day-name,
    .day-number {
        /*        font-family: "Kicker-Inline", sans-serif;*/
        font-size: 1em;
        display: inline
    }
    .multiday .day-number {
        display: none
    }
    .day-header,
    .active-section .day-header {
        position: relative;
        text-align: left
    }
    .event {
        margin-left: 0;
        /*padding: .8em 0.5em 0em 0.5em*/
    }
    #admin-panel {
        position: relative;
        top: 0;
        left: 0;
        width: 96%;
        padding: 2%
    }
    #admin-panel li {
        display: inline;
        padding: 0 3px
    }
    #footer .column-inner-wrap {
        padding: 0em
    }
    #col-1 {
        background-color: #15a346
    }
    #col-1 a {
        color: #5cffb0
    }
    #col-1 a.expand {
        color: #5cffb0
    }
    #col-1 .hovering {
        background-color: #17b14c
    }
    #col-1 .starred {
        color: #deb003
    }
    #col-1 .events-list {
        border-top: 1px solid #1bd059
    }
    #col-1 .event {
        border-bottom: 1px solid #1bd059
    }
    #col-1::selection {
        background: #05ff85;
        color: #000
    }
    #col-1::-moz-selection {
        background: #05ff85;
        color: #000
    }
    #col-1 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #0f7633
    }
    #col-1 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-1 #sub-nav .late-night a:active {
        background-color: #5cffb0
    }
    #col-1 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-1 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-1 .night-mode #sub-nav .late-night a:active {
        background-color: #00b85e
    }
    #col-1 .night-mode .hovering {
        background-color: #222
    }
    #col-1 .night-mode a {
        color: #00b85e
    }
    #col-1 .night-mode .day-number,
    #col-1 .night-mode .day-name {
        color: #00b85e
    }
    #col-1 .night-mode .night-day {
        color: #d2f3e3;
        text-shadow: 0px 0px 20px #d2f3e3
    }
    #col-1 a:hover,
    #col-1 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-1 a:active,
    #col-1 a.expand:active {
        color: #000
    }
    #col-2 {
        background-color: #deb003
    }
    #col-2 a {
        color: #fffa85
    }
    #col-2 a.expand {
        color: #fffa85
    }
    #col-2 .hovering {
        background-color: #edbc03
    }
    #col-2 .starred {
        color: #deb003
    }
    #col-2 .events-list {
        border-top: 1px solid #fccc18
    }
    #col-2 .event {
        border-bottom: 1px solid #fccc18
    }
    #col-2::selection {
        background: #fff62f;
        color: #151000
    }
    #col-2::-moz-selection {
        background: #fff62f;
        color: #151000
    }
    #col-2 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #ac8802
    }
    #col-2 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-2 #sub-nav .late-night a:active {
        background-color: #fffa85
    }
    #col-2 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-2 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-2 .night-mode #sub-nav .late-night a:active {
        background-color: #e1d700
    }
    #col-2 .night-mode .hovering {
        background-color: #222
    }
    #col-2 .night-mode a {
        color: #e1d700
    }
    #col-2 .night-mode .day-number,
    #col-2 .night-mode .day-name {
        color: #e1d700
    }
    #col-2 .night-mode .night-day {
        color: #f3f2da;
        text-shadow: 0px 0px 20px #f3f2da
    }
    #col-2 a:hover,
    #col-2 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-2 a:active,
    #col-2 a.expand:active {
        color: #151000
    }
    #col-3 {
        background-color: #ce5226
    }
    #col-3 a {
        color: #ffc498
    }
    #col-3 a.expand {
        color: #ffc498
    }
    #col-3 .hovering {
        background-color: #d8592b
    }
    #col-3 .starred {
        color: #deb003
    }
    #col-3 .events-list {
        border-top: 1px solid #de7049
    }
    #col-3 .event {
        border-bottom: 1px solid #de7049
    }
    #col-3::selection {
        background: #ff9342;
        color: #220d06
    }
    #col-3::-moz-selection {
        background: #ff9342;
        color: #220d06
    }
    #col-3 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #a3411e
    }
    #col-3 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-3 #sub-nav .late-night a:active {
        background-color: #ffc498
    }
    #col-3 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-3 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-3 .night-mode #sub-nav .late-night a:active {
        background-color: #f46900
    }
    #col-3 .night-mode .hovering {
        background-color: #222
    }
    #col-3 .night-mode a {
        color: #f46900
    }
    #col-3 .night-mode .day-number,
    #col-3 .night-mode .day-name {
        color: #f46900
    }
    #col-3 .night-mode .night-day {
        color: #f3e7de;
        text-shadow: 0px 0px 20px #f3e7de
    }
    #col-3 a:hover,
    #col-3 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-3 a:active,
    #col-3 a.expand:active {
        color: #220d06
    }
    #col-4 {
        background-color: #574882
    }
    #col-4 a {
        color: #af81ec
    }
    #col-4 a.expand {
        color: #af81ec
    }
    #col-4 .hovering {
        background-color: #5e4d8c
    }
    #col-4 .starred {
        color: #deb003
    }
    #col-4 .events-list {
        border-top: 1px solid #6d5aa3
    }
    #col-4 .event {
        border-bottom: 1px solid #6d5aa3
    }
    #col-4::selection {
        background: #7f36e1;
        color: #000
    }
    #col-4::-moz-selection {
        background: #7f36e1;
        color: #000
    }
    #col-4 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #413661
    }
    #col-4 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-4 #sub-nav .late-night a:active {
        background-color: #af81ec
    }
    #col-4 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-4 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-4 .night-mode #sub-nav .late-night a:active {
        background-color: #5600ca
    }
    #col-4 .night-mode .hovering {
        background-color: #222
    }
    #col-4 .night-mode a {
        color: #5a1baf
    }
    #col-4 .night-mode .day-number,
    #col-4 .night-mode .day-name {
        color: #5600ca
    }
    #col-4 .night-mode .night-day {
        color: #e3d9ef;
        text-shadow: 0px 0px 20px #e3d9ef
    }
    #col-4 a:hover,
    #col-4 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-4 a:active,
    #col-4 a.expand:active {
        color: #000
    }
    #col-5 {
        background-color: #5877bc
    }
    #col-5 a {
        color: #bdc5fb
    }
    #col-5 a.expand {
        color: #bdc5fb
    }
    #col-5 .hovering {
        background-color: #6380c0
    }
    #col-5 .starred {
        color: #deb003
    }
    #col-5 .events-list {
        border-top: 1px solid #7c95cb
    }
    #col-5 .event {
        border-bottom: 1px solid #7c95cb
    }
    #col-5::selection {
        background: #6b7ff5;
        color: #151e33
    }
    #col-5::-moz-selection {
        background: #6b7ff5;
        color: #151e33
    }
    #col-5 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #405ea1
    }
    #col-5 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-5 #sub-nav .late-night a:active {
        background-color: #bdc5fb
    }
    #col-5 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-5 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-5 .night-mode #sub-nav .late-night a:active {
        background-color: #1537ff
    }
    #col-5 .night-mode .hovering {
        background-color: #222
    }
    #col-5 .night-mode a {
        color: #2341f1
    }
    #col-5 .night-mode .day-number,
    #col-5 .night-mode .day-name {
        color: #1537ff
    }
    #col-5 .night-mode .night-day {
        color: #e5e7f2;
        text-shadow: 0px 0px 20px #e5e7f2
    }
    #col-5 a:hover,
    #col-5 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-5 a:active,
    #col-5 a.expand:active {
        color: #151e33
    }
    #col-6 {
        background-color: #23b1bf
    }
    #col-6 a {
        color: #86e0ff
    }
    #col-6 a.expand {
        color: #86e0ff
    }
    #col-6 .hovering {
        background-color: #25bdcc
    }
    #col-6 .starred {
        color: #deb003
    }
    #col-6 .events-list {
        border-top: 1px solid #3accdb
    }
    #col-6 .event {
        border-bottom: 1px solid #3accdb
    }
    #col-6::selection {
        background: #30caff;
        color: #031113
    }
    #col-6::-moz-selection {
        background: #30caff;
        color: #031113
    }
    #col-6 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #1b8994
    }
    #col-6 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-6 #sub-nav .late-night a:active {
        background-color: #86e0ff
    }
    #col-6 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-6 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-6 .night-mode #sub-nav .late-night a:active {
        background-color: #00a8e2
    }
    #col-6 .night-mode .hovering {
        background-color: #222
    }
    #col-6 .night-mode a {
        color: #00a8e2
    }
    #col-6 .night-mode .day-number,
    #col-6 .night-mode .day-name {
        color: #00a8e2
    }
    #col-6 .night-mode .night-day {
        color: #daecf3;
        text-shadow: 0px 0px 20px #daecf3
    }
    #col-6 a:hover,
    #col-6 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-6 a:active,
    #col-6 a.expand:active {
        color: #031113
    }
    #col-footer {
        background-color: #23b1bf
    }
    #col-footer a {
        color: #86e0ff
    }
    #col-footer a.expand {
        color: #86e0ff
    }
    #col-footer .hovering {
        background-color: #25bdcc
    }
    #col-footer .starred {
        color: #deb003
    }
    #col-footer .events-list {
        border-top: 1px solid #3accdb
    }
    #col-footer .event {
        border-bottom: 1px solid #3accdb
    }
    #col-footer::selection {
        background: #30caff;
        color: #031113
    }
    #col-footer::-moz-selection {
        background: #30caff;
        color: #031113
    }
    #col-footer #sub-nav .late-night a {
        font-weight: normal;
        background-color: #1b8994
    }
    #col-footer #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-footer #sub-nav .late-night a:active {
        background-color: #86e0ff
    }
    #col-footer .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-footer .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-footer .night-mode #sub-nav .late-night a:active {
        background-color: #00a8e2
    }
    #col-footer .night-mode .hovering {
        background-color: #222
    }
    #col-footer .night-mode a {
        color: #00a8e2
    }
    #col-footer .night-mode .day-number,
    #col-footer .night-mode .day-name {
        color: #00a8e2
    }
    #col-footer .night-mode .night-day {
        color: #daecf3;
        text-shadow: 0px 0px 20px #daecf3
    }
    #col-footer a:hover,
    #col-footer a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-footer a:active,
    #col-footer a.expand:active {
        color: #031113
    }
    .event.last {
        border-bottom: none !important
    }
    #enticer {
        display: none
    }
    .expand {
        display: block !important;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 1.25em
    }
    .no-ff .secondary-inner {
        font-size: .4em
    }
    .no-ff .day-header-inner {
        font-size: .5em
    }
    .no-ff .narrow .day-header-inner {
        font-size: .5em
    }
    #flasher {
        width: 90%;
        padding: 2% 5%
    }
    .grid_4 {
        margin: 0
    }
    .hovering {
        background-color: transparent !important
    }
    .event {
        padding-left: 0;
        padding-right: 0
    }
    .night-mode .day-number,
    .night-mode .day-name {
        color: #f0f0f0 !important
    }
    .night-mode .night-day {
        display: none
    }
    .column {
        z-index: 9999
    }
    .content {
        display: block
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        background-color: #15a346;
        font-size: 87.5%
    }
    .loaded #sub-nav,
    .loaded #logo-small {
        display: none !important;
        font-size: 1em !important
    }
    #intro {
        position: relative
    }
    #intro-inner {
        background-attachment: scroll
    }
    #logo {
        background-image: url(../Design-Week-Portland-Logo-Iphone-a90d0aaa0af8e8b2119745a88e0ebd84.png);
        width: 206px;
        height: 58px
    }
    #logo:hover {
        background-position: 0 -58px
    }
    .retina #logo {
        background-image: url(../Design-Week-Portland-Logo-Iphone-X2-212d5d6cf03e9f33645c80480a71112a.png);
        background-size: 206pt 116pt;
        width: 206pt;
        height: 58pt
    }
    .retina #logo:hover {
        background-position: 0 -58pt
    }
    .content-inner,
    #footer .content {
        font-size: 14px !important
    }
    h3 {
        font-size: 1.29em
    }
    h4 {
        font-size: 1em
    }
    h5 {
        font-size: 1em
    }
    p {
        font-size: 1em
    }
    .secondary {
        padding: 0 !important;
        position: relative;
        top: 35%
    }
    .secondary {
        top: 130px
    }
    #intro-wrap {
        min-height: 357px;
        height: 357px
    }
    .secondary-inner {
        padding-top: 0
    }
    .narrow .secondary-inner,
    .secondary-inner {
        font-size: 88px
    }
    .footer-intro {
        font-size: 1.14em
    }
    .container_12 .content,
    .day-header-wrap,
    #footer .content {
        width: 90%;
        margin: auto;
        padding: 0
    }
    .container_12 .grid_4 {
        width: 100%
    }
    .header-placeholder {
        display: none
    }
    .column {
        padding: 2em 0 1.5em
    }
    .column,
    .content {
        min-height: 0 !important;
        height: auto !important
    }
    .content {
        padding: 0 !important
    }
    .day-header-wrap {
        display: block;
        /*font-size: 72px !important;*/
        margin-bottom: .25em
    }
    .day-name,
    .day-number {
        /*        font-family: "Kicker-Inline", sans-serif;*/
        font-size: 1em;
        display: inline
    }
    .multiday .day-number {
        display: none
    }
    .day-header,
    .active-section .day-header {
        position: relative;
        text-align: left
    }
    .event {
        margin-left: 65px;
        /*padding: .8em 0.5em 0em 0.5em*/
    }
    #admin-panel {
        position: relative;
        top: 0;
        left: 0;
        width: 96%;
        padding: 2%
    }
    #admin-panel li {
        display: inline;
        padding: 0 3px
    }
    #footer .column-inner-wrap {
        padding: 0em
    }
    #col-1 {
        background-color: #15a346
    }
    #col-1 a {
        color: #5cffb0
    }
    #col-1 a.expand {
        color: #5cffb0
    }
    #col-1 .hovering {
        background-color: #17b14c
    }
    #col-1 .starred {
        color: #deb003
    }
    #col-1 .events-list {
        border-top: 1px solid #1bd059
    }
    #col-1 .event {
        border-bottom: 1px solid #1bd059
    }
    #col-1::selection {
        background: #05ff85;
        color: #000
    }
    #col-1::-moz-selection {
        background: #05ff85;
        color: #000
    }
    #col-1 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #0f7633
    }
    #col-1 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-1 #sub-nav .late-night a:active {
        background-color: #5cffb0
    }
    #col-1 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-1 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-1 .night-mode #sub-nav .late-night a:active {
        background-color: #00b85e
    }
    #col-1 .night-mode .hovering {
        background-color: #222
    }
    #col-1 .night-mode a {
        color: #00b85e
    }
    #col-1 .night-mode .day-number,
    #col-1 .night-mode .day-name {
        color: #00b85e
    }
    #col-1 .night-mode .night-day {
        color: #d2f3e3;
        text-shadow: 0px 0px 20px #d2f3e3
    }
    #col-1 a:hover,
    #col-1 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-1 a:active,
    #col-1 a.expand:active {
        color: #000
    }
    #col-2 {
        background-color: #deb003
    }
    #col-2 a {
        color: #fffa85
    }
    #col-2 a.expand {
        color: #fffa85
    }
    #col-2 .hovering {
        background-color: #edbc03
    }
    #col-2 .starred {
        color: #deb003
    }
    #col-2 .events-list {
        border-top: 1px solid #fccc18
    }
    #col-2 .event {
        border-bottom: 1px solid #fccc18
    }
    #col-2::selection {
        background: #fff62f;
        color: #151000
    }
    #col-2::-moz-selection {
        background: #fff62f;
        color: #151000
    }
    #col-2 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #ac8802
    }
    #col-2 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-2 #sub-nav .late-night a:active {
        background-color: #fffa85
    }
    #col-2 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-2 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-2 .night-mode #sub-nav .late-night a:active {
        background-color: #e1d700
    }
    #col-2 .night-mode .hovering {
        background-color: #222
    }
    #col-2 .night-mode a {
        color: #e1d700
    }
    #col-2 .night-mode .day-number,
    #col-2 .night-mode .day-name {
        color: #e1d700
    }
    #col-2 .night-mode .night-day {
        color: #f3f2da;
        text-shadow: 0px 0px 20px #f3f2da
    }
    #col-2 a:hover,
    #col-2 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-2 a:active,
    #col-2 a.expand:active {
        color: #151000
    }
    #col-3 {
        background-color: #ce5226
    }
    #col-3 a {
        color: #ffc498
    }
    #col-3 a.expand {
        color: #ffc498
    }
    #col-3 .hovering {
        background-color: #d8592b
    }
    #col-3 .starred {
        color: #deb003
    }
    #col-3 .events-list {
        border-top: 1px solid #de7049
    }
    #col-3 .event {
        border-bottom: 1px solid #de7049
    }
    #col-3::selection {
        background: #ff9342;
        color: #220d06
    }
    #col-3::-moz-selection {
        background: #ff9342;
        color: #220d06
    }
    #col-3 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #a3411e
    }
    #col-3 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-3 #sub-nav .late-night a:active {
        background-color: #ffc498
    }
    #col-3 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-3 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-3 .night-mode #sub-nav .late-night a:active {
        background-color: #f46900
    }
    #col-3 .night-mode .hovering {
        background-color: #222
    }
    #col-3 .night-mode a {
        color: #f46900
    }
    #col-3 .night-mode .day-number,
    #col-3 .night-mode .day-name {
        color: #f46900
    }
    #col-3 .night-mode .night-day {
        color: #f3e7de;
        text-shadow: 0px 0px 20px #f3e7de
    }
    #col-3 a:hover,
    #col-3 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-3 a:active,
    #col-3 a.expand:active {
        color: #220d06
    }
    #col-4 {
        background-color: #574882
    }
    #col-4 a {
        color: #af81ec
    }
    #col-4 a.expand {
        color: #af81ec
    }
    #col-4 .hovering {
        background-color: #5e4d8c
    }
    #col-4 .starred {
        color: #deb003
    }
    #col-4 .events-list {
        border-top: 1px solid #6d5aa3
    }
    #col-4 .event {
        border-bottom: 1px solid #6d5aa3
    }
    #col-4::selection {
        background: #7f36e1;
        color: #000
    }
    #col-4::-moz-selection {
        background: #7f36e1;
        color: #000
    }
    #col-4 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #413661
    }
    #col-4 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-4 #sub-nav .late-night a:active {
        background-color: #af81ec
    }
    #col-4 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-4 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-4 .night-mode #sub-nav .late-night a:active {
        background-color: #5600ca
    }
    #col-4 .night-mode .hovering {
        background-color: #222
    }
    #col-4 .night-mode a {
        color: #5a1baf
    }
    #col-4 .night-mode .day-number,
    #col-4 .night-mode .day-name {
        color: #5600ca
    }
    #col-4 .night-mode .night-day {
        color: #e3d9ef;
        text-shadow: 0px 0px 20px #e3d9ef
    }
    #col-4 a:hover,
    #col-4 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-4 a:active,
    #col-4 a.expand:active {
        color: #000
    }
    #col-5 {
        background-color: #5877bc
    }
    #col-5 a {
        color: #bdc5fb
    }
    #col-5 a.expand {
        color: #bdc5fb
    }
    #col-5 .hovering {
        background-color: #6380c0
    }
    #col-5 .starred {
        color: #deb003
    }
    #col-5 .events-list {
        border-top: 1px solid #7c95cb
    }
    #col-5 .event {
        border-bottom: 1px solid #7c95cb
    }
    #col-5::selection {
        background: #6b7ff5;
        color: #151e33
    }
    #col-5::-moz-selection {
        background: #6b7ff5;
        color: #151e33
    }
    #col-5 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #405ea1
    }
    #col-5 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-5 #sub-nav .late-night a:active {
        background-color: #bdc5fb
    }
    #col-5 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-5 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-5 .night-mode #sub-nav .late-night a:active {
        background-color: #1537ff
    }
    #col-5 .night-mode .hovering {
        background-color: #222
    }
    #col-5 .night-mode a {
        color: #2341f1
    }
    #col-5 .night-mode .day-number,
    #col-5 .night-mode .day-name {
        color: #1537ff
    }
    #col-5 .night-mode .night-day {
        color: #e5e7f2;
        text-shadow: 0px 0px 20px #e5e7f2
    }
    #col-5 a:hover,
    #col-5 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-5 a:active,
    #col-5 a.expand:active {
        color: #151e33
    }
    #col-6 {
        background-color: #23b1bf
    }
    #col-6 a {
        color: #86e0ff
    }
    #col-6 a.expand {
        color: #86e0ff
    }
    #col-6 .hovering {
        background-color: #25bdcc
    }
    #col-6 .starred {
        color: #deb003
    }
    #col-6 .events-list {
        border-top: 1px solid #3accdb
    }
    #col-6 .event {
        border-bottom: 1px solid #3accdb
    }
    #col-6::selection {
        background: #30caff;
        color: #031113
    }
    #col-6::-moz-selection {
        background: #30caff;
        color: #031113
    }
    #col-6 #sub-nav .late-night a {
        font-weight: normal;
        background-color: #1b8994
    }
    #col-6 #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-6 #sub-nav .late-night a:active {
        background-color: #86e0ff
    }
    #col-6 .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-6 .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-6 .night-mode #sub-nav .late-night a:active {
        background-color: #00a8e2
    }
    #col-6 .night-mode .hovering {
        background-color: #222
    }
    #col-6 .night-mode a {
        color: #00a8e2
    }
    #col-6 .night-mode .day-number,
    #col-6 .night-mode .day-name {
        color: #00a8e2
    }
    #col-6 .night-mode .night-day {
        color: #daecf3;
        text-shadow: 0px 0px 20px #daecf3
    }
    #col-6 a:hover,
    #col-6 a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-6 a:active,
    #col-6 a.expand:active {
        color: #031113
    }
    #col-footer {
        background-color: #23b1bf
    }
    #col-footer a {
        color: #86e0ff
    }
    #col-footer a.expand {
        color: #86e0ff
    }
    #col-footer .hovering {
        background-color: #25bdcc
    }
    #col-footer .starred {
        color: #deb003
    }
    #col-footer .events-list {
        border-top: 1px solid #3accdb
    }
    #col-footer .event {
        border-bottom: 1px solid #3accdb
    }
    #col-footer::selection {
        background: #30caff;
        color: #031113
    }
    #col-footer::-moz-selection {
        background: #30caff;
        color: #031113
    }
    #col-footer #sub-nav .late-night a {
        font-weight: normal;
        background-color: #1b8994
    }
    #col-footer #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-footer #sub-nav .late-night a:active {
        background-color: #86e0ff
    }
    #col-footer .night-mode #sub-nav .late-night a {
        background-color: #333;
        color: #f0f0f0
    }
    #col-footer .night-mode #sub-nav .late-night a:hover {
        background-color: transparent
    }
    #col-footer .night-mode #sub-nav .late-night a:active {
        background-color: #00a8e2
    }
    #col-footer .night-mode .hovering {
        background-color: #222
    }
    #col-footer .night-mode a {
        color: #00a8e2
    }
    #col-footer .night-mode .day-number,
    #col-footer .night-mode .day-name {
        color: #00a8e2
    }
    #col-footer .night-mode .night-day {
        color: #daecf3;
        text-shadow: 0px 0px 20px #daecf3
    }
    #col-footer a:hover,
    #col-footer a.expand:hover {
        color: #f0f0f0;
        text-decoration: none
    }
    #col-footer a:active,
    #col-footer a.expand:active {
        color: #031113
    }
    .event.last {
        border-bottom: none !important
    }
    #enticer {
        display: none
    }
    .expand {
        display: block !important;
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 1.25em
    }
    .no-ff .secondary-inner {
        font-size: .4em
    }
    .no-ff .day-header-inner {
        font-size: .5em
    }
    .no-ff .narrow .day-header-inner {
        font-size: .5em
    }
    #flasher {
        width: 90%;
        padding: 2% 5%
    }
    .grid_4 {
        margin: 0
    }
    .hovering {
        background-color: transparent !important
    }
    .event {
        padding-left: 0;
        padding-right: 0
    }
    .night-mode .day-number,
    .night-mode .day-name {
        color: #f0f0f0 !important
    }
    .night-mode .night-day {
        display: none
    }
    .column {
        z-index: 9999
    }
    .content {
        display: block
    }
    .narrow .secondary-inner,
    .secondary-inner {
        font-size: 68px
    }
}
.splash a {
    color: #5cffb0
}
.splash .secondary-inner {
    line-height: 1em
}
.splash .secondary-inner .small-header {
    margin-bottom: .3em;
    font-size: .2em;
    line-height: 1em;
    /*    font-family: "Kicker-Medium", sans-serif*/
}
.splash .green-span {
    position: relative;
    top: -.03em;
    background-color: #15a346;
    padding: .15em 0;
    -moz-box-shadow: 0px 0px 15px 1px rgba(39, 36, 37, 0.3);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(39, 36, 37, 0.3);
    box-shadow: 0px 0px 15px 1px rgba(39, 36, 37, 0.3)
}
.splash a:hover,
.splash a.expand:hover {
    color: #f0f0f0;
    text-decoration: none
}
.splash a:active,
.splash a.expand:active {
    color: #00b85e
}
.splash #logo-wrap {
    top: auto
}
.splash .caption {
    position: fixed;
    z-index: 10;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
}
.splash #intro-inner {
    background-image: url(../splash-67578aaee0dde6da61c7658047ff806f.jpg);
    display: block;
    text-shadow: none
}
.splash .old-link {
    font-size: .75em;
    padding: .7em 0 0;
    text-transform: uppercase;
    letter-spacing: .1em
}
.splash #footer .content {
    padding-top: 1.5em !important
}
#sub-nav.splash a:active {
    background-color: #05ff85;
    color: #000;
    font-weight: bold
}
.header-placeholder {
    *display: none
}
.day-header {
    *position: relative !important
}
.ss-links,#sub-nav {
    position: fixed;
    left: 99px;
    top: 166px;
    /*width: -13%;*/
    z-index: 100;
    /*background-color: rgba(193, 193, 193, 0.49);*/
    opacity: 0.5;
    /*margin-right: 20px;*/
}
#sub-nav li{
    cursor: pointer;
}
.ss-links a, #sub-nav li>a {
    /*background: rgba(153, 204, 227, 0.35);;*/
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    float: left;
    border-radius: 50%;
    display: block;
    text-align: center;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    transition: background 0.2s linear;
    color: #fff;
    text-decoration: none;

}
#sub-nav li>a.active {
    /*background-color: rgba(153, 204, 227, 0.77);*/
    /*color: #fff;*/
    color: rgb(51, 51, 51);
}
#sub-nav li>a:hover {
    background-color: rgba(153, 204, 227, 0.23);
    /*color: #fff;*/
    color: rgb(51, 51, 51);
}
.day-header-wrap{
    /*margin-left: 33px;*/
}
#sub-nav .title{
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    height: 100%;
    position: relative;
    /*font-family: "Kicker-Medium", sans-serif;*/
    text-align: center;
    float: left;
    padding-top: .13em;
}
/***** time style ****/
/*** activity style ****/

.outerovrlay{   
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    color: #fff;
    font-size: 35px;
    font-weight: normal;
    left: 10px;
    position: absolute;
    /* right: -9px; */
    top: 105px;
    height: 254px;
    width: 251px;
}
.outlay-tbl{
    display: table;
    height: 100%; 
    width: 100%; 
}
.outrinr{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.to-do-list li{
    height: 40px;
    border-bottom: 1px solid #eee;
    background: #fff;
    padding: 14px;
}
.to-do-list .mini-stat-icon{
    width: 30px;
    height: 30px; 
    font-size: 17px;
    xmargin-top: -9px;
    line-height: 30px;
}
.nameicon{
    top: -6px;
    vertical-align: middle;position: relative;cursor:default;word-break: break-all;
    *text-transform: uppercase !important;
}
.daily-sales-info span.sales-label {
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 14px;
}
.mini-stat {
    margin-bottom: 0px; 
}


.mini-stat-info span {
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 14px;
}
.marn12p{
    margin-left: -12px;
}
.mar6p{
    margin-left: 6px;
}
.topic-type{
    font-size: 12px;  color: #888;    text-transform: uppercase;
}
.topic{
    cursor: pointer;color: #333; 
    font:14px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    xmargin-bottom: 17px;
}
.timtick{
    color : #ccc;
}
.shordesc, .fulldesc{
    /*font: 16px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif;*/
    font-size: 12px;
    width: 95%;
    /*margin-left: 4em;*/
    /*text-align: justify;*/
    color: #333;
}
.profile-timeline-content {
    margin-left: 34px;
}
.column:after{
    min-height: 15px;
}
.shrink-text-1{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.event .result-item{

    position: relative;
    xmax-width: 762px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    /*cursor: pointer;*/
}
.event .result-item .flex-row .flex-column.timecol{
    float: right;
}
.event .result-item .flex-row .mini-stat-icon{
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    float: left;
}

.layout-column.flex {

    overflow: hidden;
    margin: 0 12px;
}
.layout-column.flex .name{
    font-size: 15px;
    font-weight: 500;
}
.layout-column.flex .message{
    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.text-truncate{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
