<?php //  echo $this->tag->javascriptInclude("js/search/search.js"); ?>
<div class="row">
        <div class="col-sm-12" id='mainDiv'>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Search Students From
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id'=>'searchStudentSingle', 'name'=>'searchStudentSingle')); ?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Enter Student:</label>
                                <div class="col-sm-6">
                                    <input id="studentName" type="text" 
                                           name="studentName"
                                           class="form-control" 
                                           placeholder="Search Student..." 
                                           autocomplete="off" />
                                <input type="hidden" value="" id="studentID" name="studentID"/>
                               <input type="hidden" id="callBackFn" name="callBackFn" value="<?= $callBackFn ?>"/>
    <hr />
                                    
                                </div>
                            </div>
                        </div>
                                            
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-9">  
                        <?php //echo $form->render("Add") ?> 
                                <button class="btn btn-success pull-right" type="button" id="stuSearch" onclick='searchSettings.stuSearch(this)'>Search</button>
                            </div>
                        </div>
                    </div>
                    </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

<script type="text/javascript">    

$('#studentName').typeahead({
    ajax: {url: commonSettings.searchAjaxurl  +'/stuAutocompltForReliev',
        dataType: "JSON",
        triggerLength: 2},
    itemSelected: displayResult
});

function displayResult(item, val, text) {
    $('#studentID').val(val);
    //$('.alert').show().html('You selected <strong>' + val + '</strong>: <strong>' + text + '</strong>');
}
</script>