<table class="table  table-hover general-table table-responsive " id="studentApplicationList">
    <thead>
        <tr>
            <th>Application No</th>
            <th>Academic Year</th>
            <th>Applicant Name</th>
            <th>Gender</th>
            <th><?= $divMName ?></th>
            <th>Date of birth</th>
            <th>Date of admission</th>
            <th>Application Status</th>
            <th>Forwarded History</th>
            <th>Actions</th>

        </tr>
    </thead>

    <tbody></tbody>
</table>