
<div class="row">
        <div class="col-sm-12" id='mainDiv'>
            <section class="panel" id=''>
                <div class="panel-body">
                    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id'=>'searchStaffSingle', 'name'=>'searchStaffSingle')); ?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Enter Staff:</label>
                                <div class="col-sm-6">
                                    <input id="staffName" type="text" 
                                           name="staffName"
                                           class="form-control" 
                                           placeholder="Search Staff..." 
                                           autocomplete="off" />
                                <input type="hidden" value="" id="forwardTo" name="forwardTo"/>
                                  <label for=""  class="col-sm-12">Please enter first 3 letters in staff name.</label>  
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Enter Comments:</label>
                                <div class="col-sm-6">
                                   <?php  echo Phalcon\Tag::textArea(array("comments",
                                       "cols" => 10, "rows" => 4,  
                                       "class"=>"form-control",
                                       "name" => 'comments')) ?> 
                                    
                                </div>
                            </div>
                        </div>
                                      
                    </div>
                    </form>
                </div>
            </section>
        </div>
    </div>


<script type="text/javascript">    

$('#staffName').typeahead({
    ajax: {url: commonSettings.searchAjaxurl +'/stfAutocomplt',
        dataType: "JSON",
        triggerLength: 1,
         loadingClass: 'ui-autocomplete-loading'},
    itemSelected: displayResult
});

function displayResult(item, val, text) {
    $('#forwardTo').val(val);
   // $('.alert').show().html('You selected <strong>' + val + '</strong>: <strong>' + text + '</strong>');
}
</script>