<?=  $this->tag->javascriptInclude("js/appscripts/approval.js"); ?>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id=''>
            <header class="panel-heading">
                Search Approvals
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'searchapprovalList', 'name' => 'searchapprovalList')); ?>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Approval Type:</label>
                            <div class="col-sm-6"> <span style="position: relative; top:10px;"> FEE </span>
                            </div>
                        </div> 
                        
                        <div class="form-group">
                            <label class="col-md-3 control-label">Student:</label>
                            <div class="col-md-6">  
                                <input type="text" name="name" id="name" title='Student name' class="form-control" autocomplete="off" />
                                <input type="hidden" value="" id="selectedstuID" name="selectedstuID" title='Valid Student'/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Choose Status:</label>
                            <div class="col-sm-6">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            "appStatus",
                                            ApprovalMaster::find(array(
                                                "columns" => "DISTINCT(approval_status) as apvlstatus"
                                            )),
                                            "using" => array("apvlstatus", "apvlstatus"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '0',
                                            'class' => 'form-control',
                                        )
                                );
                                ?>

                            </div>
                        </div>     
                        
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">From Date:</label>
                            <div class="col-sm-6">
                                <?php
                                echo Phalcon\Tag::textField(array("fdate",
                                    'class' => 'form-control form_date',
                                    //"value" => date('d-m-Y', time())
                                    ));
                                ?>

                            </div>
                        </div> 
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">To Date:</label>
                            <div class="col-sm-6">
                                <?php
                                echo Phalcon\Tag::textField(array("tdate",
                                            'class' => 'form-control form_date',
                                   // "value" => date('d-m-Y', time())
                                    ));
                                ?>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-9">  
                                <?php //echo $form->render("Add") ?> 
                                <button class="btn btn-success pull-right" type="button" id="getlist" onclick='approvalSettings.loadFeeApprovalList()'>Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </section>

        <div id="AppList"></div>
    </div>
</div>

<script>
approvalSettings.loadFeeApprovalList()
</script>

<script>
    $(function() {

        $('#name').typeahead({
            ajax: {url: commonSettings.searchAjaxurl + '/stuAutocompltforFee',
                dataType: "JSON",
                triggerLength: 1,
                loadingClass: 'ui-autocomplete-loading'
            },
            itemSelected: displayResult
        });

        function displayResult(item, val, text) {
            $('#selectedstuID').val(val);
        }

    });
</script>