
<section class="panel">
    <header class="panel-heading">
        List of Approvals
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <?php if (count($appTypeList) > 0) { ?>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <!--<th>Approval Type</th>-->
                        <th>Item Id</th>	
                        <th>Requested By</th>
                        <th>Requested Date</th>
                        <th>Approval Status</th>
                        <th>Approved by</th>
                        <th>Approval Date</th>
                        <th>Forwarded History</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($appTypeList as $items):
                         $labelclass= ($items->approval_status=='Approved')?'success': (($items->approval_status=='Rejected')?'danger':'info');
                        ?>
                        <tr appitemID = "<?= $items->id ?>" appType ="<?= $items->approval_type_id ?>" itemID ="<?= $items->Item_id ?>" >

                          <!-- <td><a href="javascript:void(0)" onclick="approvalSettings.viewAppDetails(this)"><?= ApprovalMaster::findFirstById($items->approval_type_id)->approval_type ?></a></td>-->
                            <td><a href="javascript:void(0)" onclick="approvalSettings.viewAppDetails(this)">
                                    <?= $items->Item_id ?></a></td>
                            <td><a href="javascript:void(0)" onclick="approvalSettings.viewAppDetails(this)">
                                    <?= Users::findFirstById($items->requested_by)->login; ?></a></td>
                            <td><a href="javascript:void(0)" onclick="approvalSettings.viewAppDetails(this)">
                                    <?= date('d-m-Y', $items->requested_date) ?></a></td>
                            <td>
                                <span 
                                        class="label label-<?= $labelclass ?>
                                        label-mini"><a href="javascript:void(0)" onclick="approvalSettings.viewAppDetails(this)">
                                    <?= $items->approval_status ?></a></span>
                                </td>
                            <td><a href="javascript:void(0)" onclick="approvalSettings.viewAppDetails(this)">
                                    <?= Users::findFirstById($items->Approved_by)->login; ?></a></td>
                            <td><a href="javascript:void(0)" onclick="approvalSettings.viewAppDetails(this)">
                                    <?= date('d-m-Y', $items->Approval_date) ?></a></td>
                            
                            <td><a href="javascript:void(0)"
                                   onclick="approvalSettings.viewForwardDetails(this)"> <i class="fa fa-eye fa-2x"></i>                               
                                </a></td>
                            <td>
                                <?php 
                                $appitem = ApprovalItem::find('approval_master_id='.$items->id);
                                $forwardto = $appitem->getLast()->forwaded_to;
                                if (($uid == $forwardto) && !(in_array($items->approval_status, array('Approved','Rejected')))): ?>
                                <div class="bs-glyphicons">
                                    <ul class="bs-glyphicons-list">
                                        <li  onclick="approvalSettings.forward(this)">
                                            <span class="glyphicon glyphicon-share-alt " title="Forward"></span>
                                        </li> <li onclick="approvalSettings.approve(this)">
                                            <span class="glyphicon glyphicon-ok" title="Approve" ></span>
                                        </li> <li onclick="approvalSettings.reject(this)">
                                            <span class="glyphicon glyphicon-remove" title="Reject" ></span>
                                        </li>
                                    </ul>
                                    
                                </div>

                                <?php endif; ?>
                            </td>
                            </a> </tr>
                    <?php endforeach; ?>

                </tbody>
            </table>
        <?php }else { ?>
            <div class="center scaffold">
                <span>No List found for this type</span>
            </div>
        <?php } ?>
    </div>
</section>

<style>
    .bs-glyphicons li:hover {
color: #fff;
background-color: #563d7c;
}

    ul{
        list-style: none;
    }
    .bs-glyphicons {
margin-right: 0;
margin-left: 0;
}
.bs-glyphicons {
margin: 0 -10px 20px;
overflow: hidden;
}  
    .bs-glyphicons li {
width: 12.5%;
font-size: 12px;
}
.bs-glyphicons li {
float: left;
width: 25%;
xheight: 115px;
padding: 10px;
font-size: 10px;
line-height: 1.4;
text-align: center;
background-color: #f9f9f9;
border: 1px solid #fff;
}
</style>