 


     
	
<div class="row">
    <div class="col-sm-12">
        <div class="panel-body">
                    <table id="leavedetails" class="table  table-hover general-table table-responsive ">

                        <thead>
                            <tr>
                                <th>Leave Type</th>
                                <th>From date</th>
                                <th>To Date</th>
                                <th>Days</th>
								<th>Requested By</th>
								<th>Requested Date</th>
                                <th>Status</th>
                                <th>Forward History</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        
                    </table>
                
            </div>
		</div>
	</div>
       
