 
            <?php  $cacdyr = AcademicYearMaster::findFirstByStatus('c');
            $div = DivisionMaster::findFirst('divType = "student" and academicYrID='.$cacdyr->id);
                $subdivs = SubDivisionMaster::find('divID =' . $div->id);
            foreach ($subdivs as $subdiv) :
                ?><div class="form-group">
                <label for=""  class="col-sm-4 control-label">Select <?= $subdiv->subdivname; ?>: </label>
                <div class="col-sm-8">
                    <?php
                    $subdivVal = SubDivisionValues::find('divValID =' . $this->view->classId . ' and subDivID=' . $subdiv->id);
                    echo \Phalcon\Tag::select(
                            array(
                                "subDivVal_".$subdiv->id,
                                $subdivVal,
                                "using" => array("id", "name"),
                                'useEmpty' => true,
                                'emptyText' => 'Select',
                                'emptyValue' => '0',
                                'class' => 'form-control',
                            //   'onchange' => 'assignSettings.loadSubjectTeachers(this.value)'
                            )
                    );
                    ?>
                </div>   </div>
            <?php endforeach; ?>
                
              

     