<?= $this->tag->javascriptInclude("js/appscripts/approval.js"); ?>
<script>
    $(document).ready(function() {

        $('.form_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    });

    approvalSettings.loadApplicationList();
</script>
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Applications
                      <!--                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>-->
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'studentApplicationForm')); ?>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Academic Year:</label>
                            <div class="col-md-8">        
                                <?php
                                echo \Phalcon\Tag::select(array("academicYrId", AcademicYearMaster::find('status IN ("c","n")'),
                                    "using" => array("id", "academic_year_name"),
                                    'useEmpty' => true,
                                    'emptyText' => 'Select',
                                    'emptyValue' => '0',
                                    'class' => 'form-control',
                                ));
                                ?>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label">Application no:</label>
                            <div class="col-md-8">  
                                <input type="text" name="applicatio_no" id="applicatio_no" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Applicant Name:</label>
                            <div class="col-md-8">  

                                <input type="text" name="name" id="name" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Approval Status:</label>
                            <div class="col-md-8">  

                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            "appStatus",
                                            ApprovalMaster::find(array(
                                                "columns" => "DISTINCT(approval_status) as apvlstatus"
                                            )),
                                            "using" => array("apvlstatus", "apvlstatus"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '0',
                                            'class' => 'form-control',
                                        )
                                );
                                ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for=""  class="col-md-4 control-label">From Date:</label>
                            <div class="col-md-8">
                                <?php
                                echo Phalcon\Tag::textField(array("fdate",
                                    'class' => 'form-control form_date',
                                        //"value" => date('d-m-Y', time())
                                ));
                                ?>

                            </div>
                        </div> 
                        <div class="form-group">
                            <label for=""  class="col-md-4 control-label">To Date:</label>
                            <div class="col-md-8">
                                <?php
                                echo Phalcon\Tag::textField(array("tdate",
                                    'class' => 'form-control form_date',
                                        // "value" => date('d-m-Y', time())
                                ));
                                ?>

                            </div>
                        </div>

                        <div class="form-group"><?php
                            $cacdyr = AcademicYearMaster::findFirstByStatus('c');
                            $div = DivisionMaster::findFirst('divType = "student" and academicYrID=' . $cacdyr->id);
                            ?>
                            <label for=""  class="col-md-4 control-label">Select <?= $divMName ?>:</label>
                            <div class="col-md-8">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            "divID",
                                            DivisionValues::find('divID = ' . $div->id),
                                            "using" => array("id", "classname"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '0',
                                            'class' => 'form-control',
                                            'onchange' => 'approvalSettings.loadSections(this.value)'
                                        )
                                );
                                ?>

                            </div>
                        </div>

                        <div id='secDet'class='hide'></div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-8">  
                                <button class="btn btn-success pull-right" onclick="approvalSettings.loadApplicationList()" type="button"> 
                                    Search
                                </button>   
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Manage Applications
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div id="ApplicationTableDiv"></div>
            </div>
        </section>
    </div>
</div>