
<?php
$phql2 = 'SELECT academic_year_id,appointment_no,Staff_Name,Gender,
            		Department,loginid,Date_of_Joining,Date_of_Birth FROM StaffInfo';
$result = $this->modelsManager->executeQuery($phql2);

?>
<?php
if (count($result) > 0) {
    foreach ($result as $counts) :
        ?>
        
    <table id="leavedetails" cellspacing="0" class="table table-bordered table-striped table-condensed table-hover general-table">

                        <thead>
                            <tr>
                                <th>Leave Type</th>
                                <th>From date</th>
                                <th>To Date</th>
                                <th>Days</th>
								<th>Approved By</th>
								<th>Approval Date</th>
                                <th>Status</th>
                                <th>Forward History</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        
                    </table>
<?php

            endforeach;
} else { ?>
    <div class="center scaffold">
        <span>No Student found</span>
    </div>
<?php } ?> 

    
     
	

       
