<?php echo $this->tag->javascriptInclude("js/appscripts/approval.js"); ?>
<script>
    $(document).ready(function () {
        $('.frm_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
           
        });

        $('.to_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
           
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2

        });
    });

    

    approvalSettings.loadLeavedet();
</script>

<div class="col-sm-12" id='mainDiv'>
    <section class="panel">
        <header class="panel-heading">
            Leave
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'leaveSearchForm')); ?>

                    <div class="center scaffold">

                        <div class="form-group">
                            <label for="fromDate" class="col-md-3 control-label">From Date:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("staffID", array('value' => $uid)) ?> 
                                <?php echo $form->render("fromDate", array('onchange' => 'leaveSettings.loadDuration(this)')) ?> 
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="toDate" class="col-md-3 control-label">To Date:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("toDate", array('onchange' => 'leaveSettings.loadDuration(this)')) ?> 
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="levType" class="col-md-3 control-label">Leave Type:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("levType") ?> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Choose Status:</label>
                            <div class="col-sm-6">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            "status",
                                            ApprovalMaster::find(array(
                                                "columns" => "DISTINCT(approval_status) as apvlstatus"
                                            )),
                                            "using" => array("apvlstatus", "apvlstatus"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '0',
                                            'class' => 'form-control',
                                        )
                                );
                                ?>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-6">  
                                <button class="btn btn-success pull-right" onclick="approvalSettings.loadLeavedet()" type="button"> 
                                    Search
                                </button>   
                            </div>
                        </div>
                    </div>



                    </form>
                </div>
            </div>
        </div>
    </section>


</div>
</div>

<div class="row">
    <div class="col-sm-12">

        <div class="panel-body">
            <section class="panel">
                <header class="panel-heading">
                    Manage Leave
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div id='loadReport'class='hide'></div>	
            </section>


        </div>
    </div>
</div>	

