<?php echo $this->tag->stylesheetLink("css/forwardhistory.css"); ?>
<section class="panel">
    <h4 class="">Approval Request Item : <?= $appItemaName ?></h4>
    <div class="panel-body">
        <?php if (count($appHistory) > 0) { ?>
            <?php
            foreach ($appHistory as $items):
                $iconClass = ($items->status == 'Approved') ? 'success' : 
                    (($items->status == 'Rejected') ? 'danger' : (($items->status == 'Requested') ? 'warning' : 'info'));
                $icon = ($items->status == 'Approved') ? 'check' : 
                        (($items->status == 'Rejected') ? 'times' : (($items->status == 'Requested') ? 'info' : 'share'))
                ?>
                <div class="alert alert-<?= $iconClass ?>">
                    <span class="alert-icon"><i class="fa fa-<?= $icon ?>"></i></span>
                    <div class="notification-info">
                        <ul class="clearfix notification-meta">
                            <li class="pull-left notification-sender">
                                <?= ucfirst($items->status) . ((!in_array($items->status, array('Approved', 'Rejected'))) ? ' to ' : ' by '); ?>
                                <span>
                                    <a href="#"><?php
                                        $usrlginid =  StaffInfo::findFirstById($items->forwaded_to);
                                        echo $usrlginid->Staff_Name . '(' . $usrlginid->loginid . ')';
                                        ?></a></span>
                            </li> 
                            <li class="pull-right notification-time">on <?php echo date('M d, Y', $items->created_date); ?> at <?= date('h:i A', $items->created_date); ?></li>
                        </ul>
                        <p>
                            <?= $items->comments ?><br>
                            <?php if ((!in_array($items->status, array('Approved', 'Rejected')))) { ?> <span>
                                    by <a href="#" class="terques"><?php
                                        $createby_loginid=  StaffInfo::findFirstById($appmaster->requested_by);
                                        echo $createby_loginid->Staff_Name . '(' . $createby_loginid->loginid . ')';
                                        ?></a></span>
                            <?php } ?>
                        </p>
                    </div>
                </div>

            <?php endforeach; ?>

        <?php } else { ?>
            <div class="center scaffold">
                <span>No History found</span>
            </div>
        <?php } ?>

    </div>
</section>

<style>

</style>