<section>
     <div class="panel-body"> 
<?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addNewLocationForm')); ?>
<div class="center scaffold">
    <div class="col-md-12">
        <input type="text" id="classroomid" name="classroomid" class="hide" value="<?= $classroomid ?>"/>
        <div class="form-group">
            <label for="activity_type" class="col-md-4 control-label mandatory">Location Name:</label>
            <div class="col-md-6">
                 <?php
                        echo Phalcon\Tag::textField(array("location_name",
                            'class' => 'form-control',
                            'placeholder' => 'Location Name',
                            'title' => 'Location Name'
                        ));
                        ?>
            </div>
        </div>
    </div>
</div>
</form>
</div>
</section>