 
<section class="panel">
    <header class="panel-heading">
        Let's do the Scheduling for all your Classrooms here! 
    </header>
    <div class="panel-body">
        <!-- page start-->
        <div class="row">
            <aside class="col-md-2">
                <h4 class="drg-event-title">Classrooms</h4>
                <div id='classrooms' style="overflow-y: auto;max-height: 600px;cursor: pointer">
                    <?php
                    $classrooms = ClassroomMaster::find();
                    foreach ($classrooms as $class):
                        ?>
                        <div class=" label label-default col-md-12 classroombtn" onclick="classroomcalSettings.toggleactive(this);
                                classroomcalSettings.loadSubjects('<?= $class->id ?>', '<?= $class->name ?>')"><i class="fa fa-building-o pull-left"></i> <?= $class->name ?></div><br><br>
                    <?php endforeach;
                    ?>
                </div>
            </aside>
            <aside class="col-md-8">
                <div id='classroom_name_ontop' ><h4 class="drg-event-title">Select a Classroom for Scheduling</h4></div>
                <br>
                <div id="calendar" class="has-toolbar"></div>
            </aside>
            <aside class="col-md-2" style="padding-left: 0">
                <div id="rightdiv" style="overflow: auto;max-height: 660px;">
                    <h4 class="drg-event-title classroomdet">Pick a classroom </h4>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="toggle-header" id="stuist"> <!-- students --></li>
                        <li class="toggle-header" id="subjist"><!-- subjects --></li>
                        <li class="toggle-header"  id="localist"><!-- locations --></li>
                    </ul>
                </div>
            </aside>
        </div>
        <!-- page end-->
    </div>
</section>
<script>
    $("#classrooms").niceScroll();
    $("#rightdiv").niceScroll();
</script>
<style>
    .toggle-header .head{
        padding-left: 11px;
        text-transform: uppercase;
        background-color: #eee;
    }
    .toggle-header  .badge{
        top:4px;right: 8px;
    }
</style>