
<form id="editEventForm_<?= str_replace(array(' ','.'), '_', $event_id) ?>" class=" form-horizontal">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" id="eventid" value="<?= $event_id ?>" name="eventid">  
            <input type="hidden" id="subjectid" value="<?= $subjectid ?>" name="subjectid">  
            <input type="hidden" id="classroomid" value="<?= $classroomid ?>" name="classroomid">  


            <div class="form-group"> 
                <label for=""  class="col-md-3 mandatory control-label">   Classroom :    </label>
                <span class="col-md-6" > Classroom_<?= $classroomid ?></span>

            </div>
            <div class="form-group"> 
                <label for=""  class="col-md-3 mandatory control-label">   Event title :    </label>
                <span class="col-md-6"> <?= $title ?></span>

            </div>
            <div class="form-group"> 
                <label for=""  class="col-md-3 mandatory control-label">   Event Start :    </label>
                <span class="col-md-6"><input type="text" id="start" class="form-control form_datetime " name="start" value="<?= date('d-m-Y H:i', $start) ?>" /></span>

            </div>
            <div class="form-group"> 
                <label for=""  class="col-md-3 mandatory control-label">   Event End :    </label>
                <span class="col-md-6"><input type="text" id="end" class="form-control form_datetime " name="end" value="<?= date('d-m-Y H:i', $end) ?>" /></span>

            </div>
            <div class="form-group"> 
                <label for=""  class="col-md-3 mandatory control-label">Status :    </label>
                <span class="col-md-6"><select name="status" id="status" class="form-control ">
                        <option value="Confirmed" <?= $status == "Confirmed" ? "selected" : "" ?>>Confirmed</option>
                        <option value="Needs action" <?= $status == "Needs action" ? "selected" : "" ?>>Needs action</option>
                    </select></span>

            </div>

            <div class="form-group"> 
                <label for=""  class="col-md-3 mandatory control-label">Is mandatory :    </label>
                <span class="col-md-6"><select name="mandatory" id="mandatory"  class="form-control ">
                        <option value="1"  <?= $mandatory == "1" ? "selected" : "" ?>>Yes</option>
                        <option value="0"  <?= $mandatory == "0" ? "selected" : "" ?>>No</option>
                    </select>
                </span>

            </div>
              <div class="form-group">
                    <label for=""  class="col-sm-3  control-label mandatory">Location</label>  
                    <div class="col-sm-6">
                        <?php
                        echo \Phalcon\Tag::select(
                                array(
                                    'locationdet',
                                    $loc_name,
                                    "using" => array("id", "location_name"),
                                    'useEmpty' => true,
                                    'emptyText' => 'Select',
                                    'emptyValue' => '',
                                    'class' => 'form-control',
                                    'value' => $location
                                )
                        );
                        ?>

                    </div> 
                </div>
            <div class="form-group"> 
                <!--            <label for=""  class="col-md-3 mandatory control-label">   Attendees :    </label>-->
                <span class="col-md-9">  <?php $att = explode(',', $Attendees); ?>
                    <div class="prf-box">
                        <h3 class="prf-border-head" role="button" style="cursor: pointer"
                            data-toggle="collapse" href="#collapse_<?= str_replace(array(' ','.'), '_', $event_id) ?>" aria-expanded="false" 
                            aria-controls="collapse_<?= str_replace(array(' ','.'), '_', $event_id) ?>"><?= count($att) ?> Attendees</h3>
                        <div class="collapse" id="collapse_<?= str_replace(array(' ','.'), '_', $event_id) ?>">
                            <ul class="to-do-list ui-sortable" id="sortable-todo" style="">
                                <?php
                                foreach ($att as $attend):
                                    $team = explode('_', $attend);
                                    $user = $team[0] == 'Student' ? StudentInfo::findFirstById($team[1]) : StaffInfo::findFirstById($team[1]);
                                    $username = $team[0] == 'Student' ? $user->Student_Name : $user->Staff_Name;
                                    $uniqueid = $team[0] == 'Student' ? $user->Admission_no : $user->Appointment_no;
                                    $stucla = $team[0] == 'Student' ? 'tar' : 'orange-theme';
                                    ?>
                                    <li class="clearfix" stuId = "<?= $attend ?>"  stuname ="<?= $username ?>">
                                        <?php
                                        if ($user->photo) {
                                            ?>
                                            <span title='<?= $uniqueid ?>' class='mini-stat-icon' style='cursor:default;' >
                                                <?php
                                                echo $this->tag->image(array(
                                                    "src" => $user->photo ? (FILES_URI . $user->photo) : ('images/user.jpg'),
                                                    'title' => " $uniqueid ",
                                                    'style' => 'border-radius:50%',
                                                    'width' => '40px',
                                                    'height' => '40px'));
                                                ?>
                                            </span>
                                            <?php
                                        } else {
                                            ?>
                                            <span title= "<?= $uniqueid ?>" class="mini-stat-icon <?= $stucla ?> " style="cursor:default;" >
                                                <?= substr($username, 0, 1); ?></span>
                                        <?php }
                                        ?> 
                                        <span title= "<?= $username . '(' . $uniqueid . ')' ?>" class="nameicon">
                                            <?= strlen($username) > 20 ? substr($username, 0, 20) . "..." : $username; ?>
                                        </span>
                                    </li>
                                <?php endforeach; ?>

                            </ul>
                        </div>
                    </div>

                </span>

            </div>
        </div>
    </div>
</form>
<style>
    
    
    
.to-do-list li{
    height: 40px;
    border-bottom: 1px solid #eee;
    background: #fff;
    padding: 14px;
}
.to-do-list .mini-stat-icon{
    width: 30px;
    height: 30px; 
    font-size: 17px;
    margin-top: -9px;line-height: 30px;
}
.nameicon{
    top: -6px;
    vertical-align: middle;position: relative;cursor:default;word-break: break-all;
    *text-transform: uppercase !important;
}
</style>
<script>

    $('.default-date-picker').datepicker({
        format: 'dd-mm-yyyy'
    });

    $(".form_datetime").datetimepicker({format: 'dd-mm-yyyy hh:ii'});

</script>