<style>

    .external-event {
        display:block !important;
        margin-bottom:0px !important;
        margin-right:0px !important; 
        padding: 9px !important;
    }

</style>
<a  role="button" data-toggle="collapse"  class="head"
    href="#collapseSubjects" aria-expanded="false" aria-controls="collapseSubjects" 
    onclick="classroomcalSettings.iconfn('.subjtoggle')">
    <i class="fa fa-chevron-right subjtoggle"></i> Subject </a>
<span class="badge label-warning pull-right r-activity"  ><?= count($subjects) ?></span>
<div class="collapse" id="collapseSubjects">
    <div id='external-events'>
        <?php
        $classlbl = array('primary', 'success', 'info', 'inverse', 'warning', 'default');

        foreach ($subjects as $key => $subject):
            $i = round($key % 6);
            $part = array();
            $staff = GroupSubjectsTeachers::find("classroom_master_id =$calid  and subject_id = $subject->id");
            if (count($staff) > 0):
                foreach ($staff as $stf) {
                    $splitteach = explode(',', $stf->teachers_id);
                    $part = preg_filter('/^([\d])*/', 'Staff_$0', $splitteach);
                }
            endif;
            if (count($students) > 0):
                foreach ($students as $stu) {
                    $part[] = 'Student_' . $stu->id;
                }
            endif;
            ?>
            <div class="panel-group m-bot6" id="accordion">

                <div class="label classroombtn label-default external-event" style="margin-top: 13px;"
                     classroomid="<?= $calid ?>"  subjectid="<?= $subject->id ?>"  paticipants ="<?= implode(',', $part) ?>" >
                    <i onclick="classroomcalSettings.iconfn('<?= '.subicon_' . $subject->id ?>')" data-toggle="collapse" 
                       data-parent="#accordion" href="#collapse_<?= $subject->id ?>" 
                       class="subicon_<?= $subject->id ?> fa fa-chevron-right pull-left" style="cursor:pointer;"></i>
                       <?= strlen($subject->name) > 20 ? substr($subject->name, 0, 20) . "..." : $subject->name; ?>      
                </div> 

                <div id="collapse_<?= $subject->id ?>" class=" collapse" >

                    <ul class="to-do-list ui-sortable" id="sortable-todo">
                        <?php
                        foreach ($staff as $stte):
                            $splitteach = explode(',', $stte->teachers_id);
                            foreach ($splitteach as $stfs):
                                $stf = StaffInfo::findFirstById($stfs);
                                $stfGen = StaffGeneralMaster::findFirst('staff_id=' . $stf->id);
                                ?>
                                <li class="clearfix student_name">
                                    <?php
                                    if ($stfGen->photo) {
                                        echo $this->tag->image(array(
                                            "src" => $stfGen->photo ? (FILES_URI . $stfGen->photo) : ('images/user.jpg'),
                                            'title' => "$stf->appointment_no",
                                            'style' => 'border-radius:50%',
                                            'width' => '40px',
                                            'height' => '40px'));
                                    } else {
                                        ?>
                                        <span title= "<?= $stf->appointment_no ?>" class="mini-stat-icon tar " 
                                              style="cursor:default;" >
                                            <?= substr($stf->Staff_Name, 0, 1); ?></span>
                                    <?php }
                                    ?> 
                                    <span title= "<?= $stf->Staff_Name . '(' . $stf->appointment_no . ')' ?>" 
                                          class="name">
                                              <?= strlen($stf->Staff_Name) > 30 ? substr($stf->Staff_Name, 0, 30) . "..." : $stf->Staff_Name; ?>
                                    </span>

                                </li>
                            <?php
                            endforeach;
                        endforeach;
                        ?>
                    </ul>
                </div>

            </div>
            <?php
        endforeach;
        ?>
    </div>
</div>              


<script>


    $('#external-events div.external-event').each(function () {
        $(this).draggable({
            zIndex: 999,
            revert: true, // will cause the event to go back to its
            revertDuration: 0, //  original position after the drag
            cursorAt: {top: -2, left: 2},
            opacity: 0.7,
            helper: function (event) {
                var $tar = event.target
//                console.log()
                $ele = $($tar).clone();
                $ele.find(".fa-chevron-right").remove();
                return $ele;
            }, appendTo: "body",
        });

    });
</script>

<style>


    .to-do-list .mini-stat-icon{
        width: 20px;
        height: 20px; 
        font-size: 12px;
        line-height: 20px;
    }
    .to-do-list li{
        border-bottom: 1px solid #eee;
        background: #fff;
        min-width: 203px;
        padding: 5px 2px 5px 15px;
    }
    .to-do-list .name{
       width: 140px;
       top:0;
    }
</style>