<style>
  
    .to-do-list .mini-stat-icon{
        width: 20px;
        height: 20px; 
        font-size: 12px;
        line-height: 20px;
    }

    .to-do-list li{
        border-bottom: 1px solid #eee;
        background: #fff;
        min-width: 203px;
        padding: 5px 2px 5px 15px;
    }
    .to-do-list .name{
       width: 140px;
       top:0;
    }
</style>

<a   role="button" data-toggle="collapse" class="head"
   href="#collapseStudents"   aria-expanded="false" aria-controls="collapseStudents" 
   onclick="classroomcalSettings.iconfn('.stutoggle')"> 
    <i class="fa fa-chevron-right stutoggle"></i> Students </a>
<span class="badge label-success pull-right r-activity"  ><?= count($students) ?> </span>

<div class="collapse" id="collapseStudents">
    <ul class="to-do-list ui-sortable" id="sortable-todo" style="">
        <?php
        foreach ($students as $stu):
            ?>
        <li stuId = "<?= $stu->student_info_id ?>"  stuname ="<?= $stu->Student_Name ?>" class="clearfix student_name">
                <?php
                if ($stu->photo) {
                    ?>
                    <span title='<?= $stu->Admission_no ?>' class='mini-stat-icon' style='cursor:default;' >
                        <?php
                        echo $this->tag->image(array(
                            "src" => $stu->photo ? (FILES_URI . $stu->photo) : ('images/user.jpg'),
                            'title' => " $stu->Admission_no ",
                            'style' => 'border-radius:50%',
                            'width' => '40px',
                            'height' => '40px'));
                        ?>
                    </span>
                    <?php
                } else {
                    ?>
                    <span title= "<?= $stu->Admission_no ?>" class="mini-stat-icon tar " style="cursor:default;" >
                        <?= substr($stu->Student_Name, 0, 1); ?></span>
                <?php }
                ?> 
              <span title= "<?= $stu->Student_Name . '(' . $stu->Admission_no . ')' ?>" class="name">
                        <?= strlen($stu->Student_Name) > 30 ? substr($stu->Student_Name, 0, 30) . "..." : $stu->Student_Name; ?>
                    </span> 
            </li>

        <?php endforeach; ?>

    </ul>
</div>