<style>

    .location-event {
        display:block !important;
        margin-bottom:0px !important;
        margin-right:0px !important; 
        padding: 9px !important;
        cursor: move;
    }

</style>
<a role="button" data-toggle="collapse"  class="head"
   href="#collapseLocations" aria-expanded="false" aria-controls="collapseLocations"
   onclick="classroomcalSettings.iconfn('.loctoggle')" >
    <i class="fa fa-chevron-right loctoggle"></i> Location </a>
<span class="badge label-danger pull-right r-activity" ><?= count($locations) ?> </span>
<div class="collapse" id="collapseLocations">
    <div id='location-events' class="">
        <?php
        if (count($locations) > 0) {
            foreach ($locations as $loc) {
                ?>
        <div class="label col-md-12 classroombtn label-default location-event" style="margin-top: 13px;"
            id="location_<?= $loc->id ?>"
                         classroomid="<?= $classroomid ?>"  locationid="<?= $loc->id ?>" type="Location"  >
            <i class="fa fa-map-marker pull-left"></i> 
              <?= strlen($loc->location_name) > 20 ? substr($loc->location_name, 0, 20) . "..." : $loc->location_name; ?>    
        </div> 
                <?php
            }
        }
        ?>
      
        <div class=" btn-add-task pull-right" style="    margin-top: 13px;">
                <button type="submit" onclick="classroomcalSettings.addLocations(<?= $classroomid ?>)" 
                        class="btn btn-default btn-primary "><i class="fa fa-plus"></i> 
                    Add Location </button>
            </div>
    </div>
</div>
<script>


    $('#location-events div.location-event').each(function () {
        console.log($(this))
        $(this).draggable({
            zIndex: 9999,
             appendTo: "body",
            revert: true, // will cause the event to go back to its
            revertDuration: 0, //  original position after the drag
            cursorAt: {top: -2, left: 2},
            opacity: 0.7,
            helper:  function (event) {
                var $tar = event.target
//                console.log()
                    $ele = $($tar).clone().removeClass('col-md-12');
                    return $ele;
                },
        });

    });

</script>
