<div id="add_class_test_msg"></div>
<section class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2 classroomdiv"  style="max-height: 765px;" >
                    <div>
                        <?php if (!$errorMessage) { ?>
                            <?php
                            foreach ($combinations as $key => $combival) {
                                ?>  
                                <div class=" label label-default col-md-12 combispan"  id = "span_<?= $key ?>" 
                                     return_uri ="class_teacher_rating"
                                     teacherType ="<?= $type ?>" cdate ="<?= date('d-m-Y', time()) ?>"
                                     onclick = "ratingSettings.loadRatingName(this)">
                                    <i class="fa fa-building-o pull-left"></i>
                                    <?= $combival['name'] ?>
                                </div>
                                <br> <br> 
                                <!--                        <button type="button" class="btn btn-info btn-small std_acd_btn">
                                                            <div class="combispan" id = "span_<?= $key ?>" 
                                                                 teacherType ="<?= $type ?>" cdate ="<?= date('d-m-Y', time()) ?>"
                                                                 onclick = "ratingSettings.loadRatingName(this)">
                                                                <span> 
                                                                    <ul class="breadcrumbs-alt" style="margin: 0px;">
                                                                        <li><span><?= $combival['name'] ?></span></li>
                                
                                                                    </ul>
                                                                </span>
                                                            </div>
                                                        </button>-->
                                <?php
                            }
                        } else {
                            ?>
                            <div class = "center scaffold">
                                <span><div class="alert alert-block alert-danger fade in"><?= $errorMessage ?></div></span>
                            </div>                            
                        <?php } ?>
                    </div>                           
                </div>
                <div class="col-md-10">

                    <div class='loadRatingName'class='hide'></div>
                    <div class='loadStudenRating'class='hide'></div>
                </div>   
            </div>  
        </div>
</section>

<script>
    $('.classroomdiv').getNiceScroll().remove();
    $('.classroomdiv').niceScroll();
</script>

