<section class="panel" id="addSubjSec">
    <div class="panel-body">
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addRatingForm')); ?>
        <div class="center scaffold">
            <div class="col-md-12">

                <?php
                $nodenme = explode('-', $classId);
                if (count($nodenme) > 0) {
                    ?>
                    <span id="returned_node_nameall" class="label label-primary">
                        <?php
                        foreach ($nodenme as $nval) {
                            $newArr[] = OrganizationalStructureValues::findFirstById($nval)->name;
                        }
                        echo implode(' >> ', $newArr);
                        ?>                            
                    </span>
                <?php } ?>
                <br><br>
                <div class="form-group">
                    <label for="subjectName" class="col-md-4 control-label">Exam Name:</label>
                    <div class="col-md-6">  
                        <?php echo $form->render("classID", array('value' => $classId)) ?> 
                        <?php echo $form->render("ratname") ?> 
                    </div>
                </div>
            </div>    

        </div>
        </form>
    </div>
</section>