<?php
$cycle_node_master = OrganizationalStructureMaster::findfirst('cycle_node = 1');
$cycle_node_values = OrganizationalStructureValues::find('org_master_id = ' . $cycle_node_master->id);
?>
<div id="addsubj_message"></div>
<!--<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>-->
<br>
<br>
<div class="">
    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal')); ?>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for=""  class="col-sm-3 control-label">Select <?= $cycle_node_master->name ?>:</label>
                <div class="col-sm-4">
                    <?php
                    echo \Phalcon\Tag::select(
                            array(
                                "cycle_node_id",
                                $cycle_node_values,
                                'using' => array('id', 'name'),
                                'useEmpty' => true,
                                'emptyText' => 'Select',
                                'emptyValue' => '0',
                                'class' => 'form-control',
                                'onChange' => 'ratingSettings.getRatingsByCycle(this.value)'
                    ));
                    ?>
                </div>
            </div>  
            <div id='subjDet'class='hide'></div>                      
        </div>
    </div>
</form>
</div>
<!--</section>-->



<!--    </div>
</div>-->
