

<div class="panel-body">
    <div class="col-md-3">
        <section class="panel-body"> 
            <div class="col-md-12">
                <div class="mini-stat-node col-md-8" onclick="ratingSettings.loadSpaceTreeForAllSubject('<?= $cycleID ?>', 'node_id', 'node_name')" style="cursor: pointer;"> 
                    <span class="mini-stat-icon pink"><i class="fa fa-plus"></i></span>
                    <div class="mini-stat-info">
                        <span>Add New Group</span>
                    </div>
                </div>                        
            </div><br><br><br>
            <ul class="nav nav-pills nav-stacked">
                <?php
                if ($subjects && count($subjects)):
                    foreach ($subjects as $key => $subject) {
                        ?>
                        <li class="alert-info">
                            <a href="#nodetable_<?= $key ?>" >
                                <?= $key; ?></a></li> 
                    <?php } endif; ?>
            </ul>
        </section>

    </div>
    <div class="col-md-9 node_table_top" style="max-height: 600px; overflow-x: hidden;">

        <div id="added_category" class='hide'>
            <input type="hidden" value="" id='node_id'/>
            <input type="hidden" value="" id='node_name'/>
            <span id="returned_node_nameall" class="label label-primary">

            </span>
        </div>
        <?php
        if ($subjects && count($subjects)):
            foreach ($subjects as $key => $subject) {
                ?>

                <div class="col-md-12 pull-right node_table" id="nodetable_<?= $key ?>">
                    <span class="label label-primary"><?= $key ?>
                        <a href='javascript:void(0)' class='' onclick='ratingSettings.createRating("<?= $subject[0]['node_id'] ?>")' 
                           title='Add Exam'>  
                            <i class='fa fa-plus activity-icon bg-red' style='margin-top: 6px;'></i></a>
                    </span>
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Rating Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <?php
                            $i = 0;
                            foreach ($subject as $exam):
                                ?>
                                <tr>

                                    <td><?= ++$i; ?></td>
                                    <td><?= $exam['rating_name']; ?></td>
                                    <td>  
                                        <span class="mini-stat-icon-action pink" title="Edit" onclick="ratingSettings.editRating(<?= $exam['id']; ?>)">
                                            <i class="fa fa-edit"></i></span>
                                    </td>
                                </tr>
                            <?php endforeach; ?>

                        </tbody>
                    </table>
                </div>

                <?php
            }

        endif;
        ?>
    </div>
</div>
<!--</section>-->