

<table  border="0" class="table general-table" id="stuRatngrpt">
    <thead class="thead_default">
        <tr style="height:75px;">
            <?php
            if (count($yaxisuniqueArr) > 0):
                foreach ($yaxisuniqueArr as $rat):
                    ?><td>
                        <div class="form-group">
                            <label class="control-label" title="<?= $rat['categoryname'] ?>">
                                <?= (strlen($rat['categoryname']) > 20 ? substr($rat['categoryname'], 0, 20) . "..." : $rat['categoryname']) ?>
                            </label><br>
                            <div class="col-md-12">                                 
                                    <span class="label label-success"
                                          style="display: inline-block; width: 75px;"> 
                                <?= $rat['ratPoints'] ?> Pts
                                    </span>


                            </div>
                        </div> </td>
                    <?php
                endforeach;
            endif;
            ?> 
            <td>
                <span class="pull-right"
                      onclick="classroomSettings.closeRatingReport()" style="cursor: pointer;"><i class="fa fa-close"></i>
                </span>
            </td>
        </tr>
    </thead>
    <tbody>
        <?php
        if (count($rowArr) > 0) {
            foreach ($rowArr as $srat) {
                ?>
                <tr>
                    <?php
                    if (count($srat) > 0):
                        foreach ($srat as $ratvalue):
                            ?>
                            <td>
                                <label class="label label-primary" style="display: inline-block; width: 75px;"> 
                                    <?= $ratvalue['ratingPoints'] ?>
                                </label></td>
                            <?php
                        endforeach;
                    endif;
                    ?>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>


<!------------------------------------------------------------------------------------------>
<script>

        var max = 100
        markSettings.updateHeight(max, 'stuRatng', 'student_rating')
        markSettings.updateHeight(max, 'stuRatng', 'stuRatngrpt')
//var max = 65;    
//$('#stuRatng tbody td').each(function() {
//    max = Math.max($(this).height(), max);
//});
//
//$('#stuRatngrpt tbody td').each(function() {
//    max = Math.max($(this).height(), max);
//});

   // $('#stuRatngrpt tbody tr').height(max);
  //  $('#stuRatng tbody tr').height(max);

</script>
