<?php
echo $this->tag->javascriptInclude("js/appscripts/transport/transport.js");
?>
<div class="center scaffold">
    <div class="panel-body"> 
        <div class="col-md-12">
            <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addRatingForm')); ?>
            <?php
            if ($subject_id != ''):
                $fields = OrganizationalStructureValues::findFirstById($subject_id);
                $org_mas = OrganizationalStructureMaster::findFirstById($fields->org_master_id);
                $field_col = OrganizationalStructureValues::findFirst('parent_id = ' . $subject_id);
                ?>

                <div class="form-group">
                    <label for=""  class="col-sm-3  control-label mandatory"><?= ucfirst($org_mas->name) ?></label>  
                    <div class="col-sm-6">
                        <input type="text" title="Subject" class="form-control" id="subjectname" name="subjectname" value="<?= $fields->name ?>" readonly=""/>
                        <input type="hidden" class="form-control" id="return_uri" name="return_uri" value="<?= $return_uri ?>" readonly=""/>
                        <input type="hidden" class="form-control" id="aggregate_subjectid" name="aggregate_subjectid" value="<?= $fields->id ?>" readonly=""/>
                    </div>
                </div>
                <?php
                  if(isset($field_col->org_master_id) && $field_col->org_master_id !=''){
                      $org_mas_1 = OrganizationalStructureMaster::findFirstById($field_col->org_master_id);
                      $subchk = OrganizationalStructureValues::find('org_master_id = ' . $org_mas_1->id . ' and parent_id = ' . $subject_id);

                if (count($subchk) > 0) {
                    ?>
                    <div class="form-group">
                        <label for=""  class="col-sm-3  control-label mandatory"><?php
                            echo ucfirst($org_mas_1->name);
                            ?></label>  
                        <div class="col-sm-6">
                            <?php
                            echo \Phalcon\Tag::select(
                                    array(
                                        'aggregate_' . strtolower(str_replace(' ', '', $org_mas_1->name)),
                                        OrganizationalStructureValues::find('org_master_id = ' . $org_mas_1->id . ' and parent_id = ' . $subject_id),
                                        "using" => array("id", "name"),
                                        'useEmpty' => true,
                                        'emptyText' => 'Select',
                                        'emptyValue' => '',
                                        'class' => 'form-control',
                                        'title' => 'Subject Modules',
                                        'onchange' => 'assignmentSettings.loadSubtrees(this)'
                                    )
                            );
                            ?>

                        </div> 

                    </div>
                    <div class="subtreediv hide"></div>
                    <?php
                } }
            endif;
            ?>
            <?php if ($display_rating > 0) { ?>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label mandatory">Select Rating: </label>
                    <div class="col-sm-6">
                        <?php
                        echo \Phalcon\Tag::select(
                                array(
                                    "ratingid",
                                    $ratings,
                                    'using' => array('id', 'rating_name'),
                                    'useEmpty' => true,
                                    'emptyText' => 'Select',
                                    'emptyValue' => '-1',
                                    'class' => 'form-control',
                                    'onchange' => 'ratingSettings.loadStudentsRating(this.value)',
                                    "title" => 'Rating'
                                )
                        );
                        ?>
                    </div>
                </div>     

            <?php } else { ?>
                <div class="">
                    <span align = "">No Ratings found!!</span>
                </div>
            <?php } ?> 
            </form>
        </div>
    </div>
</div>

