<style>
    #ratmyDiv {
        overflow: auto;
        display:none;
        text-align:justify;
    }
    .name-span{
        vertical-align: middle;
        position: relative;top: 10px;cursor:default;
        text-transform: uppercase !important; 
    }

</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#rating_report_btn").on('click', function () {
            var input = new Array();
            $("#addRatingForm").find('input,select,textarea').each(function () {
                var split_val = $(this).attr('name').split('_');
                if (split_val[0] == 'aggregate') {
                    input.push($.trim($(this).val()));
                }

            });
            var subject_module = '';
            if (input.length > 0) {
                subject_module = input[input.length - 1];
                console.log(subject_module);
            }
            $.ajax({
                type: "POST",
                url: commonSettings.ratingAjaxurl + "/getRatingByCategory",
                dataType: 'html',
                data: {
                    subject_masterid: <?= $master_id ?>,
                    type: '<?= $type ?>',
                    subject_module: subject_module
                },
                success: function (res) {
                    if (res) {
                        $("#ratmyDiv").html(res);
                        $('#ratmyDiv').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                        $('#ratmyDiv1').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                    }
                }
            });

        });

        $("#rating_report_excl_btn").on('click', function () {
            var params = {};

            var input = new Array();
            $("#addRatingForm").find('input,select,textarea').each(function () {
                var split_val = $(this).attr('name').split('_');
                if (split_val[0] == 'aggregate') {
                    input.push($.trim($(this).val()));
                }

            });
            var subject_module = '';
            if (input.length > 0) {
                subject_module = input[input.length - 1];
                console.log(subject_module);
            }

            params['subject_masterid'] = <?= $master_id ?>;
            params['type'] = '<?= $type ?>';
            params['subject_module'] = subject_module;
            params['limit'] = 500;

            event.preventDefault();
            event.stopPropagation();

            var newForm = $('<form>', {
                'action': commonSettings.reportAjaxurl + "/getRatingReport",
                'target': '_blank',
                'id': 'stuRatingForm',
                'method': 'POST'
            });
            newForm.append($('<input>', {
                'name': 'params',
                'value': JSON.stringify(params),
                'type': 'hidden'
            }));
            newForm.appendTo("body").submit();
        });
        $("#rating_report_pdf_btn").on('click', function () {
            var params = {};
            params['subject_masterid'] = <?= $master_id ?>;
            params['type'] = '<?= $type ?>';
            params['action'] = 'getRatingPdfReport';
            params['limit'] = 500;

            event.preventDefault();
            event.stopPropagation();
            var newForm = $('<form>', {
                'action': commonSettings.templateAjaxurl + "/pdfPrintDet",
                'target': '_blank',
                'id': 'stuRatingPdfForm',
                'method': 'POST'
            });
            newForm.append($('<input>', {
                'name': 'params',
                'value': JSON.stringify(params),
                'type': 'hidden'
            }));
            newForm.appendTo("body").submit();
        });


    });
</script>
<div class="col-md-12">
    <div class="form-group col-md-4">
        <?php if ($display_students == 0) { ?>
            <div class="alert alert-block alert-danger fade in col-md-7">No Students were found for the selected combination</div>
        <?php } else if ($display_category == 0) { ?>
            <div class="alert alert-block alert-danger fade in">No Rating Category Defined</div>
        <?php } else { ?>
            <h3>Update Rating for  
                <?php
                foreach ($node_name as $name) {
                    $arr = explode('>>', $name);
                    array_shift($arr);
                    $inquery[] = implode(' ', $arr);
                }
                echo implode(' <br> ', $inquery)
                ?>,
                <?= RatingDivision::findFirstById($rating_id)->rating_name ?> </h3>

        <?php } ?>
    </div>
</div>
<div class="panel-body scrollpane">
    <table border="0" class="table general-table" id="stuRatng" >
        <thead class="thead_default">
            <tr style="height:75px;">
                <th  style="min-width:170px !important"> Students </th> 
                <th>Gender </th>
                <?php foreach ($category_records as $record) { ?>
                    <th>
                        <span title="<?= $record->category_name ?>">
                            <?= (strlen($record->category_name) > 20 ? substr($record->category_name, 0, 20) . "..." : $record->category_name) ?>
                        </span>
                    </th>
                <?php } ?>     
                <th> Action </th>
                <th class="col-md-1"> Result </th>
            </tr>
        </thead>
        <tbody>
            <?php
            $i = 0;
            foreach ($rows as $row) {
                ?>
                <tr>
                    <td class="student_name col-md-3" style="text-align:left;"  > 
                        <?php
                        if ($row[5]) {
                            ?>
                            <span title="<?= $row[4] ?>" 
                                  class="mini-stat-icon"  >

                                <?php
                                echo $this->tag->image(array(
                                    "src" => $row[5] ? (FILES_URI . $row[5]) : ('images/user.jpg'),
                                    'style' => 'border-radius:50%',
                                    'width' => '40px',
                                    'height' => '40px'));
                                ?></span>
                            <?php
                        } else {
                            ?>
                            <span title="<?= $row[4] ?>" 
                                  class="mini-stat-icon tar " style="cursor:default;"  >
                                <?= substr($row[0], 0, 1); ?></span>
                        <?php }
                        ?>

                        <span class="name"
                              title="<?= $row[0] . ' (' . $row[4] . ') ' ?>" > 
                                  <?= (strlen($row[0]) > 30 ? substr($row[0], 0, 30) . "..." : $row[0]) ?>
                        </span>                                        

                    </td>
                    <td><?= $row[7] ?></td>
                    <?php foreach ($rating_value_records as $record) { ?>
                        <td> <?php
                            $count = count($category_records);
                            $cat_id = $record['id'];
                            $select_box_id = $cat_id . '_' . $row[1];

                            if ($return_uri == "subject_teacher_rating") {
                                //Get subject id from subject_masterid;

                                $rating_record = StudentSubteacherRating::findfirst('student_id = ' . $row[1] .
                                                ' and subject_master_id = ' . $row[2] .
                                                ' and subjct_modules = ' . $row[6]
                                                . ' and rating_category =' . $cat_id .
                                                ' and rating_division_id = ' . $rating_id);
                            } else {
                                $rating_record = StudentClassteacherRating::findfirst('student_id = ' . $row[1]
                                                . ' and class_master_id = ' . $row[2] .
                                                ' and rating_category =' . $cat_id
                                                . ' and rating_division_id = ' . $rating_id);
                            }
                            //Row no + category id forms select box id

                            if ($rating_record) {
                                $locked = 1;
                                echo Phalcon\tag::select(array(
                                    "$select_box_id",
                                    $record['values'],
                                    "value" => $rating_record->rating_value,
                                    "using" => array('id', 'rating_level_name'),
                                    'useEmpty' => true,
                                    'emptyText' => 'Select',
                                    'emptyValue' => '-1',
                                    "class" => "form-control",
                                    "disabled" => true
                                ));
                                ?>    
                                <?php
                            } else {
                                echo Phalcon\tag::select(array(
                                    "$select_box_id",
                                    $record['values'],
                                    "using" => array('id', 'rating_level_name'),
                                    'useEmpty' => true,
                                    'emptyText' => 'Select',
                                    'emptyValue' => '-1',
                                    "class" => "form-control"
                                ));
                            }
                            ?> </td>
                        <?php
                    }
                    if ($locked == 1) {
                        ?>                                        
                        <td><div id = "<?= $i ?>">  
                                <a href="javascript:;" onclick="ratingSettings.editStudentRating(<?= $row[1] ?>, this, <?= $count ?>)">
                                    <span class="mini-stat-icon-action pink" title="Edit"><i class="fa fa-edit"></i></span>
                                </a> </div></td>
                        <td><div id = "div_<?= $i ?>"></div></td> 
                        <?php
                    } else {
                        ?>
                        <td><div id = "<?= $i ?>">
                                <a href="javascript:;" onclick="ratingSettings.submitStudentRating(<?= $row[1] ?>, this, <?= $count ?>)">
                                    <span class="mini-stat-icon-action tar" title="Submit"><i class="fa fa-check"></i></span>
                                </a> </div></td>
                        <td><div id = "div_<?= $i ?>"></div></td>                                            
                            <?php
                        }
                        ?>
                </tr>
                <?php $i++;
            }
            ?>
        </tbody>
    </table>
</div>
</div>


<!------------------------------------------------------------------------------------------>



<!------------------------------------------------------------------------------------------>
<script>
    $('.scrollpane').css('height', '620px')
    $('.scrollpane').getNiceScroll().remove();
    $('.scrollpane').niceScroll();
    var max = 65;
//    $('#stuRatng tbody td').each(function () {
//        max = Math.max($(this).height(), max);
//    });
//
//    $('#student_rating tbody td').each(function () {
//        max = Math.max($(this).height(), max);
//    });

    var i = 2;
    var sortingDisabled = new Array();
<?php foreach ($category_records as $record) { ?>
        sortingDisabled.push(i++);
<?php } ?>
    $('#stuRatng').dataTable({
        "sDom": 'C<"clear">lrti',
        "bProcessing": true,
        "sPaginationType": "full_numbers",
        "iDisplayLength": 100,
        "aoColumnDefs": [{
                "sDefaultContent": "",
                "aTargets": [0, 1]
            }, {
                "bSortable": false,
                "sDefaultContent": "",
                "aTargets": sortingDisabled
            }],
        "bLengthChange": false,
        "bInfo": false
    });
    $('#student_rating tbody tr').height(max);
    $('#stuRatng tbody tr').height(max);

</script>
