<div id = "Rating">
    <script>
        var wrapper = $("#input_wrapper_rat"); //Fields wrapper
        $(wrapper).on("click", ".remove_field", function(e) { //user click on remove text
            $(this).parent('div').parent('div').remove();
        });

        $(wrapper).on("click", ".remove_db", function(e) { //user click on remove text for existing category
            $(this).parent('div').parent('div').hide();
        })
    </script>

    <div class="panel-body">
        <div class="row"> 
            <div class="col-md-12">
                <div class="col-md-6"></div>

                <div class="col-md-2">
                    <span class="mini-stat-icon yellow-b" onclick="classroomAdminSettings.ratingCathelpLegend()">
                        <i class="fa fa-question"></i>
                    </span>
                    <label class="control-label " style="margin-top:10px;">Help</label>
                </div> 
                <div class="col-md-4" style="cursor: pointer;" >
                    <span class="mini-stat-icon tar" onclick="ratingSettings.addCatrow()">
                        <i class="fa fa-plus"></i></span>
                    <label class="control-label col-md-6" style="margin-top:10px;">Add More Category</label>
                </div> 

                <div class=" hide ratingCathelpLegend">
                    <div class="">
                        <div class="form-group ">
                            <h3 class="control-label" style="margin-top:10px;margin-left: 10px;">Help to Add Rating Division</h3>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">1. Add Rating Category Name and its weightage in percentage.</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">2. To add more rows, click "Add More Category".</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">3. Total Weightage should be 100 and It cannot exceed 100.</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">4. After this step, next button will take you to the place 
                                where you can define Rating values for each Category.</label>
                        </div>

                    </div>
                </div>
            </div>
            <br><br>
            <br><br>
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'ratingSettingsForm')); ?>
                    <div class="form-group">     
                        <div id ="input_wrapper_rat">
                            <div class="form-group">
                            <div class = "col-md-12">
                                <div class = "col-md-3 label label-primary" style="margin-right: 10px;">Category Name:</div>
                                <div class = "col-md-3 label label-primary" style="margin-right: 10px;">Weightage(%):</div>
                                <div class = "col-md-2 label label-primary" style="margin-right: 10px;">Delete:</div>
                            </div></div>


                            <?php
                            if (count($records) > 0) {
                                foreach ($records as $record) {
                                    ?>
                                    <div class="form-group">
                                        <div class = "col-md-12">
                                            <div class = "col-md-3">
                                                <?php
                                                echo \Phalcon\Tag::textfield(
                                                        array(
                                                            "category_name",
                                                            "Value" => $record->category_name,
                                                            'class' => 'category_name form-control',
                                                            "disabled" => 'disabled'
                                                ));
                                                ?>
                                            </div>

                                            <div class = "col-md-3">

                                                <?php
                                                echo \Phalcon\Tag::numericfield(
                                                        array(
                                                            "category_weightage",
                                                            "Value" => $record->category_weightage,
                                                            "min" => "1",
                                                            "max" => "100",
                                                            'class' => 'category_weightage form-control'
                                                ));
                                                ?>
                                            </div>
                                            <div class = "col-md-2">
                                            <a href="#" class="remove_db"><i class="fa fa-trash-o fa-2x"></i></a> 
                                            </div>
                                                                                           
                                        </div>
                                    </div>
                                    <?php
                                }
                            } else {
                                ?>
                                <div class="form-group">
                                    <div class = "col-md-12">
                                        <div class = "col-md-3">
                                            <?php
                                            echo \Phalcon\Tag::textfield(
                                                    array(
                                                        "category_name",
                                                        "placeholder" => "Category Name",
                                                        'class' => 'category_name form-control'
                                            ));
                                            ?>
                                        </div>

                                        <div class = "col-md-3">

                                            <?php
                                            echo \Phalcon\Tag::numericfield(
                                                    array(
                                                        "category_weightage",
                                                        "placeholder" => "Category Weightage",
                                                        "min" => "1",
                                                        "max" => "100",
                                                        'class' => 'category_weightage form-control'
                                            ));
                                            ?>
                                        </div>
                                    </div>   
                                </div>
                                <?php
                            }
                            ?>

                        </div>      

                    </div>

                    </form>  
                </div>
            </div>
        </div>
        <div id = "RatingLevel">
        </div>