
<script>
    $(document).ready(function() {

        var wrapper = $('#wrapper_class_val');
        console.log($('#wrapper_class_val').attr('class'))

        $(wrapper).on("click", ".remove_field_val", function(e) { //user click on remove text   
            $(this).parent('div').parent('div').remove();
        });

        $(wrapper).on("click", ".remove_db_val", function(e) { //user click on remove text for existing category
            $(this).parent('div').parent('div').hide();
        })
    });

</script>

<div class="panel-body">
    <div class="row">
        <div class="col-md-12" id="wrapper_class_val" >

            <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'ratingSettingsForm')); ?>

            <div class="form-group">     

                <div class = "col-md-12">
                    <div class = "col-md-3 label label-primary" style="margin-right: 10px;">Category Name</div>                                    
                    <div class = "col-md-3 label label-primary" style="margin-right: 10px;">Rating Name:</div>
                    <div class = "col-md-3 label label-primary" style="margin-right: 10px;">Rating Value(%):</div>

                </div>                            
                <?php
                for ($i = 0; $i < count($category_records); $i++) {
                    $id = "wrapper_" . str_replace(' ', '_', $category_records[$i]->category_name);

                    $master = RatingCategoryMaster::findfirst(' category_name = "' . $category_records[$i]->category_name . '"');
                    $value_records = RatingCategoryValues::find('rating_category = ' . $master->id);
                    ?>
                <div id ="<?= $id ?>" class="wrapper_class_val" >

                        <?php if (count($value_records) > 0) { ?>

                            <div class="col-md-12 pull-right">

                                <div class=" pull-right" style="cursor: pointer;" >
                                    <span class="mini-stat-icon tar" 
                                          id = '<?= str_replace(' ', '_', $category_records[$i]->category_name) ?>'
                                          onclick="ratingSettings.createRatingLevel(this.id)">
                                        <i class="fa fa-plus"></i></span>
                                    <label class="control-label " style="margin-top:10px;"> Add Rating Level</label>
                                </div> 

                            </div>
                            <?php
                            $j = 0;
                            foreach ($value_records as $record) {
                                ?>


                                <div class = "col-md-12" style=" padding: 10px; ">
                                    <div class = "col-md-3">
                                        <?php if ($j === 0) { ?>
                                            <?php
                                            echo \Phalcon\Tag::textfield(
                                                    array(
                                                        "category_name_val",
                                                        "placeholder" => "Rating Name",
                                                        "Value" => $category_records[$i]->category_name,
                                                        "disabled" => "disabled",
                                                        'class' => 'categoryname form-control'
                                            ));
                                        }
                                        ?> 
                                    </div>   

                                    <div class = "col-md-3">
                                        <?php
                                        echo \Phalcon\Tag::textfield(
                                                array(
                                                    "rating_name_val",
                                                    "placeholder" => "Rating Name",
                                                    "Value" => $record->rating_level_name,
                                                    "disabled" => "disabled",
                                                    'class' => 'ratingname form-control'
                                        ));
                                        ?>
                                    </div>

                                    <div class = "col-md-3">
                                        <?php
                                        echo \Phalcon\Tag::numericfield(
                                                array(
                                                    "rating_weightage_val",
                                                    "Value" => $record->rating_level_value,
                                                    "min" => "1",
                                                    "max" => "100",
                                                    'class' => 'ratingweightage form-control'
                                        ));
                                        ?>
                                    </div>                                     
                                    <div class="col-md-1 " style="cursor: pointer;" title="Remove" >
                                        <i class="remove_db_val fa fa-times-circle fa-2x "></i>
                                    </div> 
                                </div>   
                                <?php
                                $j++;
                            }
                            ?>

                        <?php } else {
                            ?>                               
                            <div class = "col-md-12" style=" padding: 10px; ">

                                <div class="col-md-12 pull-right">

                                    <div class=" pull-right" style="cursor: pointer;" >
                                        <span class="mini-stat-icon tar" 
                                              id = '<?= str_replace(' ', '_', $category_records[$i]->category_name) ?>'
                                              onclick="ratingSettings.createRatingLevel(this.id)">
                                            <i class="fa fa-plus"></i></span>
                                        <label class="control-label " style="margin-top:10px;"> Add Rating Level</label>
                                    </div> 

                                </div>  
                                <div class = "col-md-3">

                                    <?php
                                    echo \Phalcon\Tag::textfield(
                                            array(
                                                "category_name_val",
                                                "placeholder" => "Rating Name",
                                                "Value" => $category_records[$i]->category_name,
                                                "disabled" => "disabled",
                                                'class' => 'categoryname form-control'
                                    ));
                                    ?> 
                                </div>  
                                <div class = "col-md-3">
                                    <?php
                                    echo \Phalcon\Tag::textfield(
                                            array(
                                                "rating_name_val",
                                                "placeholder" => "Rating Name",
                                                'class' => 'ratingname form-control'
                                    ));
                                    ?>
                                </div>

                                <div class = "col-md-3">
                                    <?php
                                    echo \Phalcon\Tag::numericfield(
                                            array(
                                                "rating_weightage_val",
                                                "placeholder" => "0",
                                                "min" => "1",
                                                "max" => "100",
                                                'class' => 'ratingweightage form-control'
                                    ));
                                    ?>
                                </div>

                            </div>
                            <?php
                        }
                        ?>

                    </div>      
                    <!--</div>-->
                    <hr class="col-md-12">
                    <?php
                }
                ?>

                <div class="col-md-12">
                    <button class="btn btn-success pull-right" id = 'save_category' type="button" 
                            onclick="ratingSettings.updateRatingLevel()"> 
                        Submit
                    </button>                                
                </div>                             

            </div>
            </form>                     

        </div>
    </div>