  <section class="panel" id="viewAssignment">
                <div class="panel-body">
                    <?php if($action == 'View'): ?>
                        <div align="right" class="bs-glyphicons">
                            <ul class="bs-glyphicons-list">
                                        <li  onclick="ratingSettings.editrating(<?= $selectedrating ?>)">
                                      <span class="glyphicon glyphicon-pencil" onclick=""></span>
                                      <span class="glyphicon-class">Edit</span>
                                        </li> <li onclick="ratingSettings.deleterating(<?= $selectedrating ?>)">
                                         <span class="glyphicon glyphicon-trash" ></span>
                                         <span class="glyphicon-class">Delete</span>
                                        </li> 
                                    </ul>
                            
                          </div>
                    
                        <div align="right">
                           
                            </div>
                    <?php endif; ?>
                    
                    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id'=>'viewAssignmentForm')); ?>
                    <div class="center scaffold">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="AssignmentTopic1" class="col-md-3 control-label">Rating Name:</label>
                                <div class="col-md-6">
                                    <?php echo $form->render("ratingId", array('value'=>$selectedrating)) ?>
                                    <?php echo $form->render("ratingname") ?>
                                </div>
                            </div>

                        </div>
                    </div>
                    </form>
                </div>
            </section>