.card-shadow {
    box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.1);
}
body {
    position: relative;
    background-color: #e4e9f0;
    color: #444444;
    padding-top: 60px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a:active,
a:focus {
    outline: 0;
}
.main-container {
    padding: 10px 5px 0px 5px;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.bb-alert {
    display: none;
    position: fixed;
    top: 25%;
    right: 20px;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 1em 1.3em;
    z-index: 2000;
}
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #fff;
}
.widget-wrap .show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #eee;
}
#scrollTop {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    outline: 0;
    width: 44px;
    height: 44px;
    bottom: 30px;
    right: 30px;
    z-index: 200;
    transition: all .2s linear;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#scrollTop:hover {
    background-color: #ccc;
    transition: all .2s linear;
}
#scrollTop i {
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.w_bg_red {
    background-color: #ff8a80 !important;
}
.w_bg_pink {
    background-color: #ff80ab !important;
}
.w_bg_purple {
    background-color: #ea80fc !important;
}
.w_bg_deep_purple {
    background-color: #b388ff !important;
}
.w_bg_indigo {
    background-color: #8c9eff !important;
}
.w_bg_blue {
    background-color: #64b5f6 !important;
}
.w_bg_light_blue {
    background-color: #4fc3f7 !important;
}
.w_bg_cyan {
    background-color: #26c6da !important;
}
.w_bg_teal {
    background-color: #26a69a;
}
.w_bg_green {
    background-color: #66bb6a;
}
.w_bg_light_green {
    background-color: #1fb5ac !important;

}
.w_bg_lime {
    background-color: #c0ca33;
}
.w_bg_yellow {
    background-color: #fdd835;
}
.w_bg_amber {
    background-color: #ffb300;
}
.w_bg_orange {
    background-color: #fb8c00;
}
.w_bg_deep_orange {
    background-color: #d84315;
}
.w_bg_brown {
    background-color: #8d6e63;
}
.w_bg_grey {
    background-color: #90a4ae;
}
.w_bg_blue_grey {
    background-color: #546e7a;
}
.data-align-right {
    text-align: right;
}
