.input-group-addon i{
    color: rgba(0, 0, 0, 0.24);
}
#loginlogo {
    margin: 0 auto;
}
.need-help
{
    margin-top: 10px;
    color: #fff;
}
.wdt100per{
    width: 100% !important;
}
.fnt18px{
    font-size: 18px !important;
}
.mar60px{
    margin: 60px 0 20px !important;
}
.mar80px{
    margin: 80px !important;
}

.mar12px{
    margin-top: 12px !important;
}

.highcharts-yaxis-labels text{
    font-size: 15px;
    color:#000;
}
.highcharts-contextmenu:before{
    border-color: rgba(238, 238, 238, 0) rgba(238, 238, 238, 0) #eeeeee;
    border-width: 8px;
    margin-left: -8px;
}
.highcharts-contextmenu:after{
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #ffffff;
    border-width: 7px;
    margin-left: -7px;
}

.highcharts-contextmenu:before{
    border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 90%;
    pointer-events: none;
    position: absolute;
    width: 0;

}
.blur{
    -webkit-filter: blur(1px);
}
