/*custom font*/
/*@import url(http://fonts.googleapis.com/css?family=Montserrat);*/

/*basic reset*/
* {margin: 0; padding: 0;}

/*form styles*/
#msform {
/*text-align: center;*/
position: relative;
}
#msform fieldset {
/*background: white;
border: 0 none;
border-radius: 3px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
box-sizing: border-box;
width: 80%;
margin: 0 10%;*/
padding: 20px 30px;
position: absolute;
margin-bottom:5%;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
display: none;
}
/*inputs*/
#msform input, #msform textarea {
padding: 15px;
border: 1px solid #ccc;
border-radius: 3px;
margin-bottom: 10px;
width: 100%;
box-sizing: border-box;
/*font-family: montserrat;*/
color: #2C3E50;
font-size: 13px;
}
/*buttons*/
#msform .action-button {
width: 100px;
background: #27AE60;
font-weight: bold;
color: white;
border: 0 none;
border-radius: 1px;
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
font-size: 15px;
text-transform: uppercase;
color: #2C3E50;
margin-bottom: 10px;
}
.fs-subtitle {
font-weight: normal;
font-size: 13px;
color: #666;
margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
margin-bottom: 30px;
overflow: hidden;
/*CSS counters to number the steps*/
counter-reset: step;
}
#progressbar li {
list-style-type: none;
color: white;
text-transform: uppercase;
font-size: 9px;
width: 25%;
float: left;
position: relative;
}
#progressbar li:before {
content: counter(step);
counter-increment: step;
width: 30px;
line-height:30px;
display: block;
font-size: 10px;
color: #333;
background: white;
border-radius: 3px;
margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
content: '';
width: 100%;
height: 2px;
background: white;
position: absolute;
left: -50%;
top: 15px;
z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
background: #27AE60;
color: white;
}

/** school basic information edit **/
#msedtform {
/*width: 400px;*/
margin: 50px auto;
text-align: center;
position: relative;
}
#msedtform fieldset {
background: white;
border: 0 none;
border-radius: 3px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
padding: 20px 30px;
box-sizing: border-box;
width: 80%;
margin: 0 10%;
/*stacking fieldsets above each other*/
position: absolute;
}
/*Hide all except first fieldset*/
#msedtform fieldset:not(:first-of-type) {
display: none;
}
/*inputs*/
#msedtform input, #msedtform textarea {
padding: 15px;
border: 1px solid #ccc;
border-radius: 3px;
margin-bottom: 10px;
width: 100%;
box-sizing: border-box;
/*font-family: montserrat;*/
color: #2C3E50;
font-size: 13px;
}
/*buttons*/
#msedtform .action-button {
width: 100px;
background: #27AE60;
font-weight: bold;
color: white;
border: 0 none;
border-radius: 1px;
cursor: pointer;
padding: 10px 5px;
margin: 10px 5px;
}
#msedtform .action-button:hover, #msedtform .action-button:focus {
box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.progress_head{
    background-color: #ffffff;
    width: 85%;
    /*height: 138px;*/
    border: 1px solid #dddddd;
    margin: 0 7.5%;
    text-align: center;
}
.progress_headdiv{
    background-color: transparent;
    border-right: 1px solid #ddd;
    /*margin: 0px 0px -30px -1px;*/
}
.step_titles{
     margin-bottom:0px !important;
     background-color: transparent !important;
     padding: 13.9px !important;
}
/*#topLoader2 span{
    text-align: center;
}*/
.step_titles-active{
    opacity: 0.55;
}
/*.active_setup{
color: #eee !important;
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
background-color: #DFF0D8 !important;
height: 50px;

}*/