.form-control {
height: 41px;
  border: 1px solid #fff;
}
.input-group-addon{

  background-color: #fff;
  border: 1px solid #fff;
}
.row-fluid {
    margin: 10%
}
.martop10per{
    margin-top: 10%
}
