<?php  echo $this->tag->javascriptInclude("js/appscripts/search/search.js"); ?>
<div class="row">
        <div class="col-sm-12" id='mainDiv'>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Search Staff From
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id'=>'searchStaffSingle', 'name'=>'searchStaffSingle')); ?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Enter Staff:</label>
                                <div class="col-sm-6">
                                    <input id="staffName" type="text" 
                                           name="staffName"
                                           class="form-control" 
                                           placeholder="Search Staff..." 
                                           autocomplete="off" />
                                <input type="hidden" value="" id="stflogin" name="stflogin"/>
    <hr />
                                    
                                </div>
                            </div>
                        </div>
                                          <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-9">  
                                <button class="btn btn-success pull-right" type="button" id="stfSearch" 
                                        onclick='roleResSettings.loadAlRolesByStaffId()'>Search</button>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
<div id="staffUserRole" class="hide"></div>


<script type="text/javascript">    
searchSettings.ajaxurl = '<?php echo $this->url->get('search') ?>';

$('#staffName').typeahead({
    ajax: {url: searchSettings.ajaxurl +'/stfAutocompltForRole',
        dataType: "JSON",
        triggerLength: 1,
         loadingClass: 'ui-autocomplete-loading'},
    itemSelected: displayResult
});

function displayResult(item, val, text) {
    $('#stflogin').val(val);
    $('.alert').show().html('You selected <strong>' + val + '</strong>: <strong>' + text + '</strong>');
}
</script>