<?php
//echo $this->tag->stylesheetLink("css/table.css");
//echo $this->tag->javascriptInclude("js/jquery.stickyheader.js");
?>
<section class="panel">
    <header class="panel-heading">
        Assign Staff roles
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <?php
//    echo '<pre>';
//    print_r($rolesdetfromUserRole->eteduspa00001);
//    exit;
    
    ?>
   <div class="panel-body" style="overflow: auto !important; width:98%">

    
        <form class="form-horizontal" id="assignUserRolesForm" >
                            
            <table class="table table-responsive general-table table-bordered" >
            <thead><tr>
                    <th>Staff/Roles</th>
                    <?php foreach ($roles as $role): ?>
                        <th><?= $role ?></th>
                    <?php endforeach; ?>


                </tr></thead>
            <tbody>
                <?php $staffs = StaffInfo::find('status IN ("Appointed" , "NULL")');//status IN ("Appointed")//status NOT IN ("Requested")
                foreach ($staffs as $staff) :
                    ?>
                    <tr>
                        <th><?= $staff->Staff_Name.'<br> ('.  strtoupper($staff->loginid).')' ?></th>
                            <?php foreach ($roles as $role): ?>
                            <td>
                                <div class="col-sm-3 icheck ">
                                            <div class="square-green single-row">
                                                <div class="checkbox ">
                                                    <?php
                                                         $stflogin= $staff->loginid; // $exists = UserRoles::findFirst('role_name = "'.$role.'" and userId ='.$staff->user->id);
                                                    ?>
                                                    <input type="checkbox"
                                                           id='urid_<?=  $staff->loginid.'_'.$role?>'
                                                           name="urid_<?=  $staff->loginid.'_'.$role?>" 
                                                           <?= (in_array($role, $rolesdetfromUserRole->$stflogin))?"checked":''; ?> >
                                                         
                                                </div>
                                    </div>
                                </div>
                            </td>
                                <?php endforeach; ?>
                    </tr>
                        <?php endforeach; ?>
            </tbody>
        </table>
            <input type="button" class="btn btn-round btn-primary" 
                                               name ='assignUsrRol'
                                               value="Save Changes" onclick='assignSettings.assignUserRole(this)'
                                               id="assignUsrRol">
        </form>
    </div>
</section>