
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <header class="panel-heading">
                Assign Roles to <?= $user->Staff_Name . '( ' . $user->loginid . ' )' ?>   

            </header>
            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'assignRoleForm')); ?>
                <div class="row">
                    <?php foreach ($roles as $rolekey => $roler): ?>
                        <div class="col-md-12"> 
                            <h3><?= $rolekey ?> <input type="checkbox" class="checkall"
                                                   id='checkall-<?=  $rolekey ?>'
                                                   name='checkall-<?=  $rolekey ?>' /></h3>
                            <?php
//                            echo '<pre>';     print_r($role);exit;
                            foreach ($roler as $role):
                                if($role != 'TransportApprovalAdmin'){
                                ?>
                                <div class="col-sm-3 icheck ">
                                    <div class="square-green single-row">
                                        <div class="checkbox ">
                                            <?php
                                            $stflogin = $user->loginid;
                                            ?>
                                            <input type="checkbox" class="indv-<?=  $rolekey ?> indv"
                                                   id='urid_<?= $user->loginid . '_' . $role ?>'
                                                   name="urid_<?= $user->loginid . '_' . $role ?>" 
                                                   <?= (in_array($role, $rolesdetfromUserRole->$stflogin)) ? "checked" : ''; ?> >
                                                   <?= $role ?>
                                        </div>
                                    </div>
                                </div>

                                <?php }
                            endforeach;
                            ?>
                        </div>
                        <?php
                    endforeach;
                    ?>
                    <div class="col-md-11">
                        
 <input type="button" class="btn btn-round btn-primary pull-right " 
                                               name ='assignUsrRol'
                                               value="Save Changes" onclick='roleResSettings.assignUserRole(this)'
                                               id="assignUsrRol">
                    </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
$('.checkall').on('click', function(){
  var groupname =  this.id.split('-')
  $('.indv-'+groupname[1]).prop('checked',this.checked);
})
</script>