<?php
echo $this->tag->stylesheetLink("css/table.css");
echo $this->tag->javascriptInclude("js/jquery.stickyheader.js");
?>
<section class="panel">
    <header class="panel-heading">
        Assign  Menu resources
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">   
        <form class="form-horizontal" id="assignRolesMenuResForm" >
                            
        <table class="overflow-y">
            <thead><tr>
                    <th>Resource/Permission</th>
                    <?php foreach ($roles as $role): ?>
                    <th><?= $role ?>
                    </th>
                    <?php endforeach; ?>


                </tr></thead>
            <tbody>
                <?php $menuResource = MenuResources::find('menu_status=1 and parent_res_id =0');
                foreach ($menuResource as $menu) :
                    ?>
                <tr menuId = "<?= $menu->id ?>" class="<?= $menu->parent_res_id==0? 'highlight' : '' ?>">
                        <th><?= $menu->parent_res_id==0? '<b>'.$menu->res_name.'</b>':$menu->res_name ?></th>
                            <?php foreach ($roles as $role): ?>
                            <td>
                                <div class="col-sm-3 icheck ">
                                            <div class="square-green single-row">
                                                <div class="checkbox ">
                                                    <?php
                                                    $exists = RoleMenuResource::findFirst(
                                                            'role_name = "'.$role.'" and menu_resid ='.$menu->id);
                                                    ?>
                                                    <input type="checkbox"
                                                           id='urid_<?=  $menu->id._.$role?>'
                                                           name="urid_<?=  $menu->id._.$role?>" 
                                                           <?= ($exists->id)?"checked":''; ?> >
                                                </div>
                                    </div>
                                </div>
                            </td>
                                <?php endforeach; ?>
                    </tr>
                    <?php $submenuResource = MenuResources::find('menu_status=1 and parent_res_id ='.$menu->id);
                foreach ($submenuResource as $submenu) :
                    ?>
                <tr menuId = "<?= $submenu->id ?>" class="<?= $submenu->parent_res_id==0? 'highlight' : '' ?>">
                        <th><?= $submenu->parent_res_id==0? '<b>'.$submenu->res_name.'</b>':$submenu->res_name ?></th>
                            <?php foreach ($roles as $role): ?>
                            <td>
                                <div class="col-sm-3 icheck ">
                                            <div class="square-green single-row">
                                                <div class="checkbox ">
                                                    <?php
                                                    $exists = RoleMenuResource::findFirst(
                                                            'role_name = "'.$role.'" and menu_resid ='.$submenu->id);
                                                    ?>
                                                    <input type="checkbox"
                                                           id='urid_<?=  $submenu->id._.$role?>'
                                                           name="urid_<?=  $submenu->id._.$role?>" 
                                                           <?= ($exists->id)?"checked":''; ?> >
                                                </div>
                                    </div>
                                </div>
                            </td>
                                <?php endforeach; ?>
                    </tr>
                    
                        <?php endforeach; ?>
                        <?php endforeach; ?>
            </tbody>
        </table>
            <input type="button" class="btn btn-round btn-primary" 
                                               name ='assignRolMenRes'
                                               value="Save Changes" onclick='roleResSettings.assignRoleMenuRes(this)'
                                               id="assignRolMenRes">
        </form>
    </div>
</section>