<div id="add_student_rating_msg"></div>
    <div class="row">
        <div class="col-sm-12" id='mainDiv'>
            <section class="panel" id='classSelector'>
                <header class="panel-heading">
                   Add Staff Rating
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal','id' => 'addStudentRatingForm')); ?>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Select <?= $divname ?>:</label>
                                <div class="col-sm-6">
                                    <?php
                                    echo Phalcon\tag::hiddenfield(array("return_uri",
                                                            "Value" => "loadStaffRating"));
                                                                       
                                    echo \Phalcon\Tag::select(
                                            array(
                                                "divID",
                                                $div_val,
                                                "using" => array("id", "classname"),
                                                'useEmpty' => true,
                                                'emptyText' => 'Select',
                                                'emptyValue' => '0',
                                                'class' => 'form-control',
                                                'onchange' => 'staffratingSettings.loadStaffRating(this.value)'
                                            )
                                    );
                                    ?>
                                </div>
                            </div>
                            
<div id='loadSection'class='hide'></div>
<div id='loadStaffRating'class='hide'></div>
<div id='loadClassTestStudents'class='hide'></div>

                    </form>
                        </div>
                    </div>
                </div>
            </section>
            
<div id="subjTechMatrix" class="hide"></div>
        </div>
    </div>