<section class="panel">
    <header class="panel-heading">
        List of Periods for this Node
    </header>
    <div class="panel-body">
        <?php 
            ?>

            <div class="col-md-3">
                <section class="panel-body"> 
                    <div class="col-md-12">
                         <div class="mini-stat-node col-md-8" onclick="spacetreeutilsSettings.loadSpaceTreeForAttendance('<?= $orgvalueid ?>', 'node_id', 'node_name','staff')" style="cursor: pointer;"> 
                            <span class="mini-stat-icon pink"><i class="fa fa-plus"></i></span>
                            <div class="mini-stat-info">
                                <span>Add</span>
                            </div>
                        </div>                        
                    </div><br><br><br>
                    <ul class="nav nav-pills nav-stacked">
                        <?php
                        $arrayva = array();
                        $arrayva = $arrayval;
                        if($arrayval && count($arrayval)):
                        foreach ($arrayval as $key =>$arrayval) {
                            ?>
                            <li class="alert-info">
                                <a href="#nodetable_<?= $key ?>" >
                                    <?= $key; ?></a></li> 
                                        <?php } endif;  ?>
                    </ul>
                </section>

            </div>
            <div class="col-md-9 node_table_top" style="height: 600px; overflow-x: hidden;">

                    <div id="added_category" class='hide'>
                        <input type="hidden" value="" id='node_id'/>
                        <input type="hidden" value="" id='node_name'/>
                        <span id="returned_node_nameall" class="label label-primary">

                        </span>
                    </div>
                <?php
                 if($arrayva && count($arrayva)):
                        foreach ($arrayva as $key =>$arrayv) {
                    ?>

                    <div class="col-md-12 pull-right node_table" id="nodetable_<?= $key ?>">
                        <span class="label label-primary"><?= $key ?>
                            <a href='javascript:void(0)' class='' onclick='staffratingSettings.assignPeriods("<?= $arrayv[0]['node_id'] ?>")' 
                               title='Add Periods'>  
                                <i class='fa fa-plus activity-icon bg-red' style='margin-top: 6px;'></i></a>
                        </span>
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Period</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <?php
                                $i = 0;
                                foreach ($arrayv as $val):
                                    
                                    ?>
                                    <tr>
                                     
                                        <td><?= ++$i; ?></td>
                                        <td><?= $val['period']  ?></td>
                                        <td><?=  $val['start_time']  ?></td>
                                        <td><?= $val['end_time']   ?></td>
                                        <td>                                            
                                            <span class="mini-stat-icon-action pink" title="Edit" onclick="staffratingSettings.editAttnPeriods(<?= $val['id']; ?>)">
                                                <i class="fa fa-edit"></i></span>
                                            <span class="mini-stat-icon-action red-bg" title="Delete" onclick="staffratingSettings.deleteAttnPeriods(<?= $val['id']; ?>)">
                                                <i class="fa fa-trash-o"></i></span>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>

                            </tbody>
                        </table>


                    </div>

                    <?php
                }
                    
                endif;
                ?>
            </div>
    </div>
</section>