<div class="row">
    <div class="col-md-12 frequency">
        <?php
        $cycle_node_master = OrganizationalStructureMaster::findfirst('module = "Department" ORDER BY parent_id');
        $cycle_node_values = OrganizationalStructureValues::find('org_master_id = ' . $cycle_node_master->id);
        ?>
        <section class="panel" id='classSelector'>
            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal')); ?>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Select <?= $cycle_node_master->name ?>:</label>
                            <div class="col-sm-6">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            "cycle_node_id",
                                            $cycle_node_values,
                                            'using' => array('id', 'name'),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '0',
                                            'class' => 'form-control',
                                            'onChange' => 'staffratingSettings.getAttendancePeriods(this.value)'
                                ));
                                ?>
                            </div>
                        </div>                        
                    </div>
                </div>
                </form>
            </div>
        </section>    
        <div id='attendance_period'class='hide'></div>
    </div>
</div>