<?php
echo $this->getContent();
$msg = $this->flashSession->getMessages();
if ($msg && isset($msg['error'])) {

    if (count($msg['error'])) {

        echo '<div class="alert alert-error">';
        foreach ($msg['error'] as $msgs) {
            echo $msgs . '<br>';
        }
        echo '</div>';
    } else if (count($msg['success'])) {
        echo '<div class="alert alert-success">';
        foreach ($msg['success'] as $msgs) {
            echo $msgs . '<br>';
            echo '</div>';
        }
    }
}
?>
<div class="row">
    <div id = 'display'> </div>
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <?php
            if ($display_staff == 0) {
                echo '<div class="alert alert-block alert-danger fade in">' . "No Staff were found for the selected combination" . '</div>';
            } else if ($display_category == 0) {
                echo '<div class="alert alert-block alert-danger fade in">' . "No Rating Category Defined" . '</div>';
            } else {
                ?>
                <div class="form-group">
                    <table class="table  table-hover general-table" id = "staff_rating">
                        <thead>
                            <tr>
                                <th>Staff Name</th>
                                <th>Appointment No</th>
                                <?php
                                foreach ($category_records as $record) {
                                    ?>

                                    <th><?= $record->category_name ?></th>
                                    <?php
                                }
                                ?>   
                                <th> Action </th>
                                <th> Result </th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $i = 0;
                            foreach ($rows as $row) {
                                $i++;
                                $locked = 0;
                                ?>
                                <tr>

                                    <td class="student_name col-md-2"> 
                        <?php       
                         //$row[0] 
                 $staffgeninfo = StaffGeneralMaster::findFirstByStaffId($row[1]);
                if ($staffgeninfo->photo) {
                    $row_Staff_Name = '<span title="' . $row[0] . '" 
                                              class="mini-stat-icon"  >';
                     $row_Staff_Name .= $this->tag->image(array(
                        "src" => $staffgeninfo->photo ? (FILES_URI . $staffgeninfo->photo) : ('images/user.jpg'),
                        'style' => 'border-radius:50%',
                        'width' => '40px',
                        'height' => '40px'));

                     $row_Staff_Name .= '</span>';
                } else {
                     $row_Staff_Name = ' <span title="' . $row[3] . '" 
                                              class="mini-stat-icon tar " style="cursor:default;" >' . substr($row[0], 0, 1) . '</span>';
                }
               // $row['Staff_Name'] .= '<span title="' . $items->appointment_no . '"  style="vertical-align: middle;position: relative;top: 5px;"> 
                 //                       ' . $items->Staff_Name . '</span>';
                  $row_Staff_Name .= '<span title="'.$row[0] . ' (' . $row[3] . ') ' .'"  style="cursor:default;vertical-align: middle;position: relative;top: 5px;"> 
                                      ' . (strlen($row[0]) > 15 ? substr($row[0],0,15)."..." : $row[0]). '</span>';

                  echo $row_Staff_Name;
                              ?>      
                                    
                                    </td> 
                                    <td> <?= $row[3] ?> </td> 
                                    <?php foreach ($rating_value_records as $record) { ?>
                                        <td> <?php
                                        $count = count($category_records);
                                        $cat_id = $record['id'];
                                        $select_box_id = $cat_id . '_' . $i;
                                        $rating_record = StaffRating::findfirst('staff_id = ' . $row[1] . ' and rating_category = ' . $cat_id);
                                        //Row no + category id forms select box id
                                        if ($rating_record) {
                                            $locked = 1;
                                            echo Phalcon\tag::select(array(
                                                "$select_box_id",
                                                $record['values'],
                                                "value" => $rating_record->rating_value,
                                                "using" => array('id', 'rating_level_name'),
                                                'useEmpty' => true,
                                                'emptyText' => 'Select',
                                                'emptyValue' => '-1',
                                                "class" => "form-control",
                                                "disabled" => true
                                            ));
                                        } else {
                                            echo Phalcon\tag::select(array(
                                                "$select_box_id",
                                                $record['values'],
                                                "using" => array('id', 'rating_level_name'),
                                                'useEmpty' => true,
                                                'emptyText' => 'Select',
                                                'emptyValue' => '-1',
                                                "class" => "form-control"
                                            ));
                                        }
                                        ?> </td>
                                            <?php
                                        }

                                        if ($locked == 1) {
                                            ?>                                        
                                        <td><div id = "<?= $i ?>"><a href="javascript:staffratingSettings.editStaffRating(<?= $row[1] ?>, <?= $i ?>, <?= $count ?>)"><u>Edit</u></a> </div></td>
                                        <td><div id = "div_<?= $i ?>"></div></td>
            <?php
        } else {
            ?>
                                        <td><div id = "<?= $i ?>"><a href="javascript:staffratingSettings.submitStaffRating(<?= $row[1] ?>, <?= $i ?>, <?= $count ?>)"><u>Submit</u></a> </div></td>
                                        <td><div id = "div_<?= $i ?>"></div></td>                                           
            <?php
        }
        ?>                                        
                                </tr>       
                                        <?php
                                    }
                                    ?>
                        </tbody>
                    </table>   
                </div>
        </div>
    </section>
    <?php
}
?>
</div>
</div>

