
<div class="form-group">
    <label for=""  class="col-sm-3 control-label">Select <?= $subdivname; ?>: </label>
    <div class="col-sm-6">

        <?php
        echo \Phalcon\Tag::select(
                array(
                    "subDivVal",
                    $subdivVal,
                    "using" => array("id", "name"),
                    'useEmpty' => true,
                    'emptyText' => 'Select',
                    'emptyValue' => '0',
                    'class' => 'form-control',
                    'onchange' => 'staffratingSettings.loadStaffRating(this.value)'
                )
        );
        ?>
    </div>
</div>  
