<?php echo $this->tag->javascriptInclude("js/staffrating/staffrating.js"); ?>
<script type="text/javascript">
    $(document).ready(function() {
        $(".mini-stat.tabactive").unbind().on('click', function() {
            var activetab = $(this).attr('tabactive')
            console.log('clicked' + activetab)
            $('.nav li').removeClass('active')
            $('.nav li.' + activetab).addClass('active')
            $('.tab-pane').removeClass('active')
            $('#' + activetab).addClass('active')

        });

        staffratingSettings.loadartSett();
        $('#ratingsettings_section').on('click', function() {
            staffratingSettings.loadartSett();
        });
         $('#attendancesettings_section').on('click', function() {
            staffratingSettings.loadAttendanceSettings();
        });
        $('#rating_section').on('click', function() {
            staffratingSettings.loadStaffListForRating(); //staffratingSettings.loadStaffratn();
        });
    });
</script>
<div class="row">
    <div class="col-md-4">
        <div class="mini-stat clearfix tabactive"  tabactive ="ratingsettings" id="ratingsettings_section"> 

            <span class="mini-stat-icon orange"><i class="fa fa-list-alt"></i></span>
            <div class="mini-stat-info">
                <span>Rating settings</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mini-stat clearfix tabactive" tabactive ="rating" id="rating_section" > 

            <span class="mini-stat-icon tar"><i class="fa fa-trophy"></i></span>
            <div class="mini-stat-info">
                <span>Manage Rating</span>
            </div>
        </div>
    </div>
<!--     <div class="col-md-4">
        <div class="mini-stat clearfix tabactive"  tabactive ="attendancesettings" id="attendancesettings_section"> 
            <span class="mini-stat-icon orange"><i class="fa fa-list-alt"></i></span>
            <div class="mini-stat-info">
                <span>Attendance settings</span>
            </div>
        </div>
    </div>-->

</div>


<section class="panel" id="other_section">
    <div class="tab-content tasi-tab">

        <div id="ratingsettings" class="tab-pane active">
            <!--  attendance content goes here-->
            <div id="ratingsettingsDiv" class="hide"></div>
        </div>

        <div id="rating" class="tab-pane ">  
            <!--  mainexam content goes here-->
            <div id="ratingdiv" class="hide"></div>

        </div>

    </div>      
</section>
