<div id = "Rating">
    <?php
echo $this->getContent();
$msg = $this->flashSession->getMessages();
if ($msg && isset($msg['error'])) {

    if (count($msg['error'])) {
        echo '<div class="alert alert-error">';
        foreach ($msg['error'] as $msgs) {
            echo $msgs . '<br>';
        }
        echo '</div>';
    } else if (count($msg['success'])) {
        echo '<div class="alert alert-success">';
        foreach ($msg['success'] as $msgs) {
            echo $msgs . '<br>';
            echo '</div>';
        }
    }
}
?>
<script>
    $(document).ready(function() {
        var wrapper = $("#input_wrapper"); //Fields wrapper
        var add_button = $("#add_category"); //Add button ID

        $(add_button).click(function(e) { //on add input button click
            e.preventDefault();
            $(wrapper).append('<div class="form-group"><div class = "col-md-12"><div class = "col-md-3"><input type="text" name="category_name" class = "name form-control" placeholder = "Category Name"/></div>\n\
<div class = "col-md-3"><input type="number" name="category_weightage" class = "weightage form-control" placeholder = "0" min ="0" max="100"/></div>\n\
<a href="#" class="remove_field"><i class="fa fa-trash-o fa-2x"></a></div></div>'); //add input box
        });

        $(wrapper).on("click", ".remove_field", function(e) { //user click on remove text
            e.preventDefault();
            $(this).parent('div').parent('div').remove();
        });
        
        $(wrapper).on("click", ".remove_db", function(e) { //user click on remove text for existing category
            e.preventDefault();
            $(this).parent('div').parent('div').hide();
        })        
             
    });
</script>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>

            <header class="panel-heading">
                Staff Rating Settings
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>            

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'staffRatingSettingsForm')); ?>

                        <div class="form-group">     
                            <div class="alert alert-block alert-danger fade in">Add Rating Category Name and its weightage in percentage. To add more rows, click "Add More Category".Total Weightage should be 100 and It cannot exceed 100.
                                After this step, next button will take you to the place where you can define Rating values for each Category.</div>
                            <div class="col-md-12">
                                <button class="btn btn-success pull-right" id = 'add_category' type="button"> 
                                    Add More Category
                                </button>                                
                            </div>                               
                            <div id ="input_wrapper">
                                <div class = "col-md-12">
                                    <div class = "col-md-3">Category Name:</div>
                                    <div class = "col-md-3">Weightage(%):</div>
                                </div>


                                <?php
                                if (count($records) > 0) {
                                    foreach ($records as $record) {
                                        ?>
                                        <div class="form-group">
                                            <div class = "col-md-12">
                                                <div class = "col-md-3">
                                                    <?php
                                                    echo \Phalcon\Tag::textfield(
                                                            array(
                                                                "category_name",
                                                                "Value" => $record->category_name,
                                                                'class' => 'name form-control',
                                                                "disabled" => 'disabled'
                                                    ));
                                                    ?>
                                                </div>

                                                <div class = "col-md-3">

                                                    <?php
                                                    echo \Phalcon\Tag::numericfield(
                                                            array(
                                                                "category_weightage",
                                                                "Value" => $record->category_weightage,
                                                                "min" => "1",
                                                                "max" => "100",
                                                                'class' => 'weightage form-control'
                                                    ));
                                                    ?>
                                                </div>
                                                <a href="#" class="remove_db">Remove</a>                                                
                                            </div>
                                        </div>
                                        <?php
                                    }
                                } else {
                                    ?>
                                    <div class="form-group">
                                        <div class = "col-md-12">
                                            <div class = "col-md-3">
                                                <?php
                                                echo \Phalcon\Tag::textfield(
                                                        array(
                                                            "category_name",
                                                            "placeholder" => "Category Name",
                                                            'class' => 'name form-control'
                                                ));
                                                ?>
                                            </div>

                                            <div class = "col-md-3">

                                                <?php
                                                echo \Phalcon\Tag::numericfield(
                                                        array(
                                                            "category_weightage",
                                                            "placeholder" => "Category Weightage",
                                                            "min" => "1",
                                                            "max" => "100",
                                                            'class' => 'weightage form-control'
                                                ));
                                                ?>
                                            </div>
                                        </div>   
                                    </div>
                                    <?php
                                }
                                ?>

                            </div>      

                            <div class="col-md-12">
                                <button class="btn btn-success pull-right" id = 'save_category' type="button" onclick="staffratingSettings.updateStaffRatingCategory()"> 
                                    Next
                                </button>                                
                            </div>                             

                        </div>


                        </form>                     

                    </div>
                </div>
        </section>
    </div>
</div>
</div>

<div id = "RatingLevel">
</div>