
<?php
echo $this->getContent();
$msg = $this->flashSession->getMessages();
if ($msg && isset($msg['error'])) {

    if (count($msg['error'])) {
        echo '<div class="alert alert-error">';
        foreach ($msg['error'] as $msgs) {
            echo $msgs . '<br>';
        }
        echo '</div>';
    } else if (count($msg['success'])) {
        echo '<div class="alert alert-success">';
        foreach ($msg['success'] as $msgs) {
            echo $msgs . '<br>';
            echo '</div>';
        }
    }
}
?>
<script>
    $(document).ready(function() {

        var inputs = document.getElementsByClassName('wrapper_class');
        for (var i = 0; i < inputs.length; i++) {
            //alert(inputs[i].id);
            var name = "#" + inputs[i].id;
            var wrapper = $(name); //Fields wrapper

            $(wrapper).on("click", ".remove_field", function(e) { //user click on remove text
                e.preventDefault();
                $(this).parent('div').parent('div').remove();
            });

            $(wrapper).on("click", ".remove_db", function(e) { //user click on remove text for existing category
                e.preventDefault();
                $(this).parent('div').parent('div').hide();
            })
        }
    });

</script>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>

            <header class="panel-heading">
                Staff Rating Level Settings
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>            

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'staffratingSettingsForm')); ?>

                        <div class="form-group">     

                            <div class = "col-md-12">
                                <div class = "col-md-3">Category Name</div>                                    
                                <div class = "col-md-3">Rating Name:</div>
                                <div class = "col-md-3">Rating Value(%):</div>
                            </div>                            
                            <?php
                            for ($i = 0; $i < count($category_records); $i++) {
                                $id = "wrapper_" . str_replace(' ', '_', $category_records[$i]->category_name);

                                $master = StaffRatingCategoryMaster::findfirst('category_name = "' . $category_records[$i]->category_name . '"');
                                $value_records = StaffRatingCategoryValues::find('rating_category = ' . $master->id);
                                ?>
                            <div class="row">
                                <div id ="<?= $id ?>" class = 'wrapper_class'>
                                    <div class = "col-md-3">
                                        <?php
                                        echo \Phalcon\Tag::textfield(
                                                array(
                                                    "category_name",
                                                    "placeholder" => "Rating Name",
                                                    "Value" => $category_records[$i]->category_name,
                                                    "disabled" => "disabled",
                                                    'class' => 'categoryname form-control'
                                        ));
                                        ?>
                                    </div>  
                                    <div class="col-md-9">

                                        <button class="btn btn-success pull-right" onclick = 'staffratingSettings.createRatingLevel(this.id)' id = '<?= str_replace(' ', '_', $category_records[$i]->category_name) ?>' type= "button"> 
                                            Add Rating Level
                                        </button>   

                                    </div>  
                                    <?php
                                    if (count($value_records) > 0) {
                                        $j = 0;
                                        foreach ($value_records as $record) {
                                            ?>
                                            <div class="form-group">
                                                <div class = "col-md-12">
                                                    <div class = "col-md-3"></div>

                                                    <div class = "col-md-3">
                                                        <?php
                                                        echo \Phalcon\Tag::textfield(
                                                                array(
                                                                    "rating_name",
                                                                    "placeholder" => "Rating Name",
                                                                    "Value" => $record->rating_level_name,
                                                                    "disabled" => "disabled",
                                                                    'class' => 'ratingname form-control'
                                                        ));
                                                        ?>
                                                    </div>

                                                    <div class = "col-md-3">
                                                        <?php
                                                        echo \Phalcon\Tag::numericfield(
                                                                array(
                                                                    "rating_weightage",
                                                                    "Value" => $record->rating_level_value,
                                                                    "min" => "1",
                                                                    "max" => "100",
                                                                    'class' => 'ratingweightage form-control'
                                                        ));
                                                        ?>
                                                    </div>                                                
                                                    <a href="#" class="remove_db">Remove</a>     

                                                </div>
                                            </div>
                                            <?php
                                            $j++;
                                        }
                                    } else {
                                        ?>                                    
                                        <div class="form-group">
                                            <div class = "col-md-12">
                                                <div class = "col-md-3">

                                                </div>       

                                                <div class = "col-md-3">
                                                    <?php
                                                    echo \Phalcon\Tag::textfield(
                                                            array(
                                                                "rating_name",
                                                                "placeholder" => "Rating Name",
                                                                'class' => 'ratingname form-control'
                                                    ));
                                                    ?>
                                                </div>

                                                <div class = "col-md-3">
                                                    <?php
                                                    echo \Phalcon\Tag::numericfield(
                                                            array(
                                                                "rating_weightage",
                                                                "placeholder" => "0",
                                                                "min" => "1",
                                                                "max" => "100",
                                                                'class' => 'ratingweightage form-control'
                                                    ));
                                                    ?>
                                                </div>

                                           
                                            </div>   
                                        </div>
                                        <?php
                                    }
                                    ?>
                                </div>     
                            </div>
                                <hr>
                                <?php
                            }
                            ?>

                            <div class="col-md-12">
                                <button class="btn btn-success pull-right" id = 'save_category' type="button" onclick="staffratingSettings.updateStaffRatingLevel()"> 
                                    Submit
                                </button>                                
                            </div>                             

                        </div>
                        </form>                     

                    </div>
                </div>
        </section>
    </div>
</div>
