<?php
echo $this->getContent();
$msg = $this->flashSession->getMessages();
if ($msg && isset($msg['error'])) {

    if (count($msg['error'])) {

        echo '<div class="alert alert-error">';
        foreach ($msg['error'] as $msgs) {
            echo $msgs . '<br>';
        }
        echo '</div>';
    } else if (count($msg['success'])) {
        echo '<div class="alert alert-success">';
        foreach ($msg['success'] as $msgs) {
            echo $msgs . '<br>';
            echo '</div>';
        }
    }
}
?>
<div class="row">
    <div id = 'display'> </div>
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <?php
            if ($display_staff == 0) {
                echo '<div class="alert alert-block alert-danger fade in">' . "No Staff were found for the selected combination" . '</div>';
            } 
            else if ($display_category == 0) {
                echo '<div class="alert alert-block alert-danger fade in">' . "No Rating Category Defined" . '</div>';
            }            else {
                ?>
                <div class="form-group">
                    <table class="table  table-hover general-table" id = "staff_rating">
                        <thead>
                            <tr>
                                <th>S.No </th>
                                <th>Staff Name</th>
                                <?php
                                foreach ($category_records as $record) {
                                    ?>

                                    <th><?= $record->category_name ?></th>
                                    <?php
                                }
                                ?>                            
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $i = 0;
                            foreach ($rows as $row) {
                                $i++;
                                ?>
                                <tr>
                                    
                                    <td> <?= $i ?> </td>
                                    <td> <?= $row[0] ?> </td> 
                                    <?php foreach ($rating_value_records as $record) { ?>
                                        <td> <?php
                                        $count = count($category_records);
                                        $cat_id = $record["id"];
                                        $select_box_id = $cat_id.'_'.$i;
                                        $rating_record = StaffRating::findfirst('staff_id = ' . $row[1] . ' and div_val_id = ' . $row[2] . ' and sub_div_val_id = ' .
                                        $row[3] . ' and academic_year_id ='.$row[4].' and rating_category ='.$cat_id);
                                        
                                        if($rating_record){
                                        echo Phalcon\tag::select(array(
                                            "$select_box_id",
                                            $record['values'],
                                            "value" => $rating_record->rating_value,
                                            "using" => array('id', 'rating_level_name'),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '-1',
                                            "class" => "form-control",
                                            "disabled" => true
                                            ));
                                        }
                                        else{
                                        echo Phalcon\tag::select(array(
                                            "$cat_id",
                                            $record['values'],
                                            "using" => array('id', 'rating_level_name'),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '-1',
                                            "class" => "form-control",
                                            "disabled" => true
                                            ));                                        
                                        }
                                        ?> </td>
                                            <?php
                                        }
                                        ?>
                                        <td><div id = "<?= $i ?>"><a href="javascript:staffratingSettings.editStaffRating(<?= $row[1] ?>, <?= $i ?>, <?= $count ?>)"><u>Edit</u></a> </div></td>
                                        <td><div id = "div_<?= $i ?>"></div></td>
                                </tr>       
                            <?php
                            }
                            ?>
                        </tbody>
                    </table>   
                </div>
        </div>
    </section>
    <?php
}
?>
</div>
</div>

