 <?php
$arr = array("announcement", "event", "task");
foreach ($arr as $value) {
    if (is_dir(UPLOAD_DIR . 'temp/' . $value)) {
        ContentSharingController::deleteDir(UPLOAD_DIR . 'temp/' . $value);
    }
}
?> 
<div class="weather-widget">
    <div class="widget-header">
        <ul class="nav nav-tabs material-tabs" role="tablist">
            <li class="active">
                <a data-toggle="tab" href="#communicate">
                    Communicate
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#task" >
                    Assign task
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#event">
                    Create event
                </a>
            </li>
        </ul>

        <div class="tab-content tasi-tab">
            <div id="communicate" class="tab-pane active">
                <textarea placeholder="Type here..." rows="1"   class="form-control" id="announcement_text" ></textarea>
                <div class="forecast">
                    <div class="sun-r-s">
                        <div class="row">
                            <div class="col-md-11 col-sm-12">
                                <div class="col-md-1 chat-user-toolbar clearfix">
                                    <div  id="test" class="add-chat-list ">
                                        <i class="zmdi zmdi-accounts-add" title = "Select Users" onclick="announcementSettings.dialogbox()" ></i>
                                    </div>
                                </div>
                                <input id="allUserIds" name="allUserIds" type="hidden">
                                <div class="hide" id="annunc_multifile"><p></p></div>
                                <div class="col-md-3">
                                    <div class="input">
                                        <label class="icon-left" for="text">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                        <input type="text" id="announcement_date" value="<?= date('d-m-Y H:i'); ?>" class="form-control form_datetime" readonly/>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <select id="announcement_type" class="form-control">
                                        <option value="">Select</option>
                                        <option value="Circular">Circular</option>
                                    </select>
                                </div>
                                <div class="col-md-4 top">
                                    <a  class="label label-warning " href="#" onclick="announcementSettings.annuncFileUpload()">Upload file 
                                        <span id="announcementfilescount"></span>
                                    </a> 
                                </div>
                            </div>

                            <div class="col-md-1 col-sm-12">
                                <button type="button" class="btn btn-primary" data-layout="topRight" data-type="success" onclick="announcementSettings.saveAnnouncement(this)" ><i class="fa fa-share"></i> Post</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <style>
                .fileUpload-1 {
                    position: relative;
                    overflow: hidden;
                }
                .fileUpload-1 input {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    cursor: pointer;
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
                .top{
                    top:7px;
                }
            </style>

            <div id="task" class="tab-pane ">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'TaskDetailsForm')); ?>
                <textarea placeholder="Type here..." rows="1" title="Task Details" name="task_text" class="form-control mandatory" id="task_text"></textarea>
                <div class="forecast">
                    <div class="sun-r-s">
                        <div class="row">
                            <div class="col-md-11 col-sm-12">
                                <div class="col-md-1 chat-user-toolbar clearfix">
                                    <div  id="test" class="add-chat-list ">
                                        <i class="zmdi zmdi-accounts-add" title = "Select Users" onclick="announcementSettings.assignTastTo()" ></i>
                                    </div>
                                    <input id="taskUserIds" name="taskUserIds" type="hidden" class="mandatory" title="User" ></div>
                                <div class="col-md-3">
                                    <div class="input">
                                        <label class="icon-left" for="text">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                        <input type="text" id="from_date" name="from_date" title="From Date" value="<?= date('d-m-Y H:i'); ?>" class="form-control form_datetime" readonly />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input">
                                        <label class="icon-left" for="text">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                        <input type="text" id="to_date"  name="to_date" title="To Date" value="<?= date('d-m-Y H:i'); ?>" class="form-control form_datetime" readonly/>
                                    </div>
                                </div>
                                 <div class="col-md-2 ">
                                    <select id="task_type" name="task_type" title="Type" class="form-control mandatory">
                                        <option value="">Select</option>
                                        <option value="Low">Low</option>
                                        <option value="Medium">Medium</option>
                                        <option value="High">High</option>
                                    </select>
                                </div>
                                <div class="col-md-2 top" >   
                                    <a  class="label label-warning" href="#" onclick="announcementSettings.taskFileUpload()">Upload file
                                    <span id="taskfilescount"></span>
                                    </a>    
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-12">
                                <button type="button" class="btn btn-primary" data-layout="topRight" data-type="warning" onclick="announcementSettings.saveTask(this)" ><i class="fa fa-share"></i> Post</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <script>
                    $(".bootstrap-file").on('change', function () {
                        var filename = this.value.replace("C:\\fakepath\\", "");
                        $(this).parents('span').next('p').html(filename)
                    });
                </script>
            </div>
            <div id="event" class="tab-pane ">
                <textarea placeholder="Type here..." rows="1"   class="form-control" id="event_text" name="event_text" title="Event Details"></textarea>
                <div class="forecast">
                    <div class="sun-r-s">
                        <div class="row">

                            <div class="col-md-11 col-sm-12">
                                <div class="col-md-1 chat-user-toolbar clearfix">
                                    <div  id="test" class="add-chat-list ">
                                        <i class="zmdi zmdi-accounts-add" title = "Select Users" onclick="eventsSettings.selectEventUser()" ></i>
                                    </div>
                                </div>
                                <input id="eventUserIds" name="eventUserIds" type="hidden">
                                <div class="hide" id="task_multifile"><p></p></div>
                                <div class="col-md-3">
                                    <div class="input">
                                        <label class="icon-left" for="text">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                        <input type="text" id="event_date" name="event_date" value="<?= date('d-m-Y H:i'); ?>" class="form-control form_datetime" readonly />
                                    </div>
                                </div>
                                <div class="col-md-3">  
                                    <?php
                                    echo \Phalcon\Tag::selectStatic(
                                            array(
                                                "eventtype",
                                                array(
                                                    "" => "Select",
                                                    "1" => "Seminars",
                                                    "2" => "Workshops",
                                                    "3" => "Competitions",
                                                    "4" => "Events"
                                                ),
                                                'class' => 'form-control',
                                                "title" => 'Type'
                                            )
                                    );
                                    ?>
                                </div>
                                <div class="col-md-4 chat-user-toolbar clearfix" title="Advanced option" style="top:6px">
                                    <div  id="test" class="add-chat-list " >
                                        <i class="zmdi zmdi-plus" onclick="eventsSettings.advanceSettings(this)" ></i>
                                    </div> Advanced 
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-12">

                                <button type="button" class="btn btn-primary " data-layout="topRight" data-type="information" onclick="eventsSettings.saveEvents(this)" ><i class="fa fa-share"></i> Post</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if ($.fn.filestyle) {
        $(".bootstrap-file").filestyle();
    }
    $(document).ready(function () {
        $(".form_datetime").datetimepicker({format: 'dd-mm-yyyy hh:ii', startDate: new Date(), autoclose: true, defaultDate: 'now'
        });
    });
</script>