<?php
echo $this->tag->stylesheetLink("css/appstyles/dashboard/inbox.css");
echo $this->tag->stylesheetLink("css/appstyles/dashboard/outbox.css");
echo $this->tag->stylesheetLink("css/appstyles/timeline/dayscroll/fonts/asset/dayscroll.css");
echo $this->tag->stylesheetLink("css/appstyles/timeline/dayscroll/timer.css");
echo $this->tag->stylesheetLink("js/lib/bootstrap_date-time/css/bootstrap-datetimepicker.css");
echo $this->tag->stylesheetLink("css/calendar/calendar.css");
echo $this->tag->javascriptInclude("js/lib/calendar.js");
?>              
<div id="dashboard">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div id="communicateDetails"></div>
            <div class="widget-wrap material-table-widget" id="inbox_reload">
                <div class="widget-header block-header margin-bottom-0 clearfix">
                    <div class="pull-left">
                        <h3>INBOX  <span id="inboxCnt"></span></h3>
                        <p>Showing list of activities received </p>
                    </div>
                    <div class="pull-right w-action">
                        <ul class="widget-action-bar">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" onclick="announcementSettings.reload_inbox();" data-toggle="dropdown"><i class="zmdi zmdi-refresh-alt"></i></a>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-filter-header">
                    <div class="row">
                        <div  id="inboxAllsearch" class="col-md-10 col-sm-10" style ="padding:3px;">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <select class="filter-status form-control" id="typesearch"  onchange="announcementSettings.inbox('')">
                                        <option value='All'>All </option> 
                                        <option  value="Task">Task</option>
                                        <option  value="Event">Event</option>
                                        <option  value="Communicate">Communicate</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-3"> 
                                    <select class="filter-status  form-control " id="statussearch"  onchange="announcementSettings.inbox('')"> 
                                        <option value="Open">Open</option>
                                        <option value="Closed">Closed</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6"> 
                                    <div class="input-group iconic-input">
                                        <input type="text" class="form-control" placeholder="Search User" name="searchStaffids" id="searchStaffids" autocomplete="off">
                                        <span class="input-group-addon search-left">
                                            <span class="input-icon"><i class="fa fa-search"></i></span>
                                        </span>
                                        <input type="hidden" value="" name="searchStaffIdsList" id="searchStaffIdsList"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 marbot0" style ="padding:3px;">
                            <div class="row ">
                                <div class="data-align-right" style="padding: 12px;"> 
                                    <span class="sort apps-dropdown"> 
                                        <a href="#" class="btn-apps dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sort-amount-asc"></i>Sort</a>
                                        <div class="dropdown-menu">
                                            <ul class="more-apps">
                                                <li><a id="Timeline_date" href="#" onclick="announcementSettings.inbox(this)" >Timeline date</a></li>
                                                <li><a id="Type" href="#" onclick="announcementSettings.inbox(this)"> Type</a></li>
                                                <li><a id="Date" href="#" onclick="announcementSettings.inbox(this)"> Date</a></li>
                                            </ul>
                                        </div>
                                    </span>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="inboxDetails" ></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="widget-wrap material-table-widget" id="outbox_reload" >
                <div class="widget-header block-header margin-bottom-0 clearfix">
                    <div class="pull-left">
                        <h3>OUTBOX <span id="outboxCnt"></span></h3>
                        <p>Showing list of activities sent </p>
                    </div>
                    <div class="pull-right w-action">
                        <ul class="widget-action-bar">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="announcementSettings.reload_outbox();"><i class="zmdi zmdi-refresh-alt"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-filter-header">
                    <div id="outboxAllsearch" class="row">
                        <div class="col-md-10 col-sm-10" style ="padding:3px;">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <select class="filter-status  form-control" id="outboxTypesearch"  onchange="announcementSettings.outbox('')">
                                        <option value='All'>All </option> 
                                        <option value="Task">Task</option>
                                        <option value="Event">Event</option>
                                        <option value="Communicate">Communicate</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-4"> 
                                    <select class="filter-status  form-control" id="outboxStatussearch"  onchange="announcementSettings.outbox('')">> 
                                        <option value="Open">Open</option>
                                        <option value="Closed">Closed</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-4"> 
                                    <div class="input-group iconic-input">
                                        <input type="text" class="form-control" placeholder="" name="outbox_searchStaffName" id="outbox_searchStaffName"  >
                                        <span class="input-group-addon  search-left">
                                            <span class="input-icon"><i class="fa fa-search"></i></span>
                                        </span>
                                        <input type="hidden" value="" name="outbox_searchStaffList" id="outbox_searchStaffList"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 marbot0" style ="padding:3px;">
                            <div class="row ">
                                <div class="data-align-right" style="padding-top: 12px;">

                                    <span class="sort apps-dropdown"> 
                                        <a href="#" class="btn-apps dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sort-amount-asc"></i>Sort</a>
                                        <div class="dropdown-menu">
                                            <ul class="more-apps" >
                                                <li><a href="javascript:;" id="sortTimelineDate" onclick="announcementSettings.outbox(this)" >Timeline date</a></li>
                                                <li><a href="javascript:;" id="sortType" onclick="announcementSettings.outbox(this)"> Type</a></li>
                                                <li><a href="javascript:;" id="sortDate" onclick="announcementSettings.outbox(this)"> Date</a></li>
                                            </ul>
                                        </div>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="outboxDetails"> </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        announcementSettings.communicate();
        announcementSettings.outbox();
        announcementSettings.inbox();
        $('#searchStaffids').typeahead({
            ajax: {url: commonSettings.searchAjaxurl + '/taskUserSearch',
                dataType: "JSON",
                triggerLength: 1,
                preProcess: function (data) {
                    if (data.success === false) {
                        return false;
                    } else {
                        return data;
                    }
                },
                preDispatch: function (query) {
                    return {
                        search: query
                    }
                }
            },
            itemSelected: displayResult
        });
        $('#outbox_searchStaffName').typeahead({
            ajax: {url: commonSettings.searchAjaxurl + '/getAllUsersforSearchbox',
                dataType: "JSON",
                triggerLength: 1,
                preProcess: function (data) {
                    if (data.success === false) {
                        return false;
                    } else {
                        return data;
                    }
                },
                preDispatch: function (query) {
                    return {
                        q: query
                    }
                }
            },
            itemSelected: displayResult1
        });
        function displayResult(item, val, text) {
            $('#searchStaffIdsList').val(val);
            announcementSettings.inbox('');
        }
        function displayResult1(item, val, text) {
            $('#outbox_searchStaffList').val(val);
            announcementSettings.outbox('');
        }

    });
</script>
<script>

    $("#calendarDetails .scrollme").css('maxHeight', '350px');
    $("#calendarDetails  .scrollme").getNiceScroll().remove();
    $("#calendarDetails .scrollme").niceScroll();
    $('#ca').calendar({
        // view: 'month',
        width: 320,
        height: 320,
        // startWeek: 0,
        // selectedRang: [new Date(), null],
        data: <?= $calendar ?>,
        onSelected: function (view, date, data) {
            if (view == 'date' && data) {
                $('#evelist').html(data);
            }
        }
    });
    $('#dd').calendar({
        trigger: '#dt',
        // offset: [0, 1],
        zIndex: 999,
        onSelected: function (view, date, data) {
            console.log('event: onSelected')
        },
        onClose: function (view, date, data) {
            console.log('event: onClose')
            console.log('view:' + view)
            console.log('date:' + date)
            console.log('data:' + (data || 'None'));
        }
    });
    $('#ca').append('<div class="caldiv" id="evelist"> </div><div class="caldiv" id="tempevelist"> </div>');
    /* $('.panel-heading a.fa').on('click', function (e) {
     if ($(this).hasClass("fa-chevron-down")) {
     
     $("#calendarDetails  .scrollme").getNiceScroll().remove();
     $("#outboxDetails  .scrollme").getNiceScroll().remove();
     $("#outboxDetails .scrollme").css('maxHeight', '475px');
     $("#outboxDetails  .scrollme").niceScroll();
     } else {
     
     $("#calendarDetails .scrollme").niceScroll();
     $("#outboxDetails  .scrollme").getNiceScroll().remove();
     $("#outboxDetails .scrollme").css('maxHeight', '125px');
     $("#outboxDetails  .scrollme").niceScroll();
     }
     });*/
</script>
