<a class="pageload-link pull-right" href="javascript:;" from-action="editPage" onclick="staffCycleSettings.loadStaffdet(this)"> 
        <span class="mini-stat-icon tar">
            <i class="fa fa-reply"></i></span>
        <label class="control-label" style="margin-top:10px;">Go back</label>
    </a>
    <br><br>
<script>
    $(document).ready(function () {
        $('.doj_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
           startDate: '+0d',
        });

        $('#dob').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            endDate: '+0d',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2

        });
        
    });

</script>


<script>
    $(document).ready(function (e) {
        $("#staffEditDetailsForm").on('submit', (function (e) {
//alert('test');
            e.preventDefault();

            $.ajax({
                url: commonSettings.staffAjaxurl + "/updateStaff", // Url to which the request is send
                type: "POST", // Type of request to be send, called as method
                data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                contentType: false, // The content type used when sending data to the server.
                cache: false, // To unable request pages to be cached
                processData: false,
                dataType: "JSON", // To send DOMDocument or non processed data file it is set to false
                success: function (data)   // A function to be called if request succeeds
                {
                    //alert(data);
                    $('.msgBox-title').html('Message');
                    $('.msgBox-body').html(data['message']);
                    $('#messageBoxModal').modal('show');
                    $('#msg_ok').unbind('click').click(function () {
                        if (data['type'] == 'error') {
                            $('#msg_ok').unbind('click').click();
                            return false;
                        }
                        else if (data['type'] == 'success') {
                            window.location.reload();

                        }
                    });
                }
            });
        }));
    });
</script>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => 'javascript:;', 'id' => 'staffEditDetailsForm', 'method' => 'post',
            'enctype' => 'multipart/form-data'));
        ?>
        <?php $hideOrShowFieldset1 = StaffProfileSettings::findFirstById("1");
        if ($hideOrShowFieldset1->hide_or_show != 0) {
            ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Staff Appointment Details
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Appointment No:</label>
                                <div class="col-sm-6">
    <?= $form->render("appointment_no") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Staff Name:</label>
                                <div class="col-sm-6">
    <?= $form->render("staffName") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Date of Appointment :</label>
                                <div class="col-sm-6">
    <?= $form->render("doa") ?>
                                </div>
                            </div>
                               <?php
                    $studentbranch = explode(',', $staff->aggregate_key);
                    foreach ($studentbranch as $aggreval) {
                        $orgval = OrganizationalStructureValues::findFirstById($aggreval);
                        $orgMaster = OrganizationalStructureMaster::findFirstById($orgval->org_master_id);
                        ?><div class="form-group">
                        <label for=""  class="col-sm-3  control-label "><?= $orgMaster->name ?></label>  
                        <div class="col-sm-6">   <?= $orgval->name ?> </div> 
                        
                </div>
                    <?php } ?>


                            <?php
                            $hideOrShowFields = StaffProfileSettings::find("parent_id = '1' and hide_or_show=1");
                            foreach ($hideOrShowFields as $field) {
                                ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
                                <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
    <?php }
    ?>
                        </div>
                    </div>
                </div>
            </section>
        <?php } ?>
<?php $hideOrShowFieldset1 = StaffProfileSettings::findFirstById("2");
if ($hideOrShowFieldset1->hide_or_show != 0) {
    ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Staff Personal Details
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Date Of Birth:</label>
                                <div class="col-sm-6">
    <?= $form->render("dob") ?>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Gender:</label>
                                <div class="col-sm-6">
    <?= $form->render("gender") ?>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Address Line1:</label>
                                <div class="col-sm-6">
    <?= $form->render("address1") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Address Line2:</label>
                                <div class="col-sm-6">
    <?= $form->render("address2") ?>
                                </div>
                            </div><div class="form-group">
                                <label for=""  class="col-sm-3 control-label">State:</label>
                                <div class="col-sm-6">
    <?= $form->render("state") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Country:</label>
                                <div class="col-sm-6">
    <?= $form->render("country") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Pin code:</label>
                                <div class="col-sm-6">
    <?= $form->render("pin") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Phone Number:</label>
                                <div class="col-sm-6">
    <?= $form->render("phone") ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Email ID:</label>
                                <div class="col-sm-6">
                            <?= $form->render("email") ?>
                                </div>
                            </div>
                            <?php
                            $hideOrShowFields = StaffProfileSettings::find("parent_id = '2' and hide_or_show=1");
                            foreach ($hideOrShowFields as $field) {
                                ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
                                <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
    <?php }
    ?>
                        </div>
                    </div>
                </div>
            </section>
<?php } ?>
<?php $hideOrShowFieldset1 = StaffProfileSettings::findFirstById("3");
if ($hideOrShowFieldset1->hide_or_show != 0) {
    ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Staff Spouse Details 
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
    <?php
    $hideOrShowFields = StaffProfileSettings::find("parent_id = '3' and hide_or_show=1");
    foreach ($hideOrShowFields as $field) {
        ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
                                <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
    <?php }
    ?>
                        </div>
                    </div>
                </div>
            </section>
<?php } ?>
<?php $hideOrShowFieldset1 = StaffProfileSettings::findFirstById("4");
if ($hideOrShowFieldset1->hide_or_show != 0) {
    ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Staff Parent/Guardian Details 
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
    <?php
    $hideOrShowFields = StaffProfileSettings::find("parent_id = '4' and hide_or_show=1");
    foreach ($hideOrShowFields as $field) {
        ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
        <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
            <?php }
            ?>
                        </div>
                    </div>
                </div>
            </section>
<?php } ?>
<?php $hideOrShowFieldset1 = StaffProfileSettings::findFirstById("5");
if ($hideOrShowFieldset1->hide_or_show != 0) {
    ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Staff Medical Details
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                                    <?php
                                    $hideOrShowFields = StaffProfileSettings::find("parent_id = '5' and hide_or_show=1");
                                    foreach ($hideOrShowFields as $field) {
                                        ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
        <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
            <?php }
            ?>
                        </div>
                    </div>
                </div>
            </section>
<?php } ?>
<?php $hideOrShowFieldset1 = StaffProfileSettings::findFirstById("6");
if ($hideOrShowFieldset1->hide_or_show != 0) {
    ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Staff Other Details
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                                    <?php
                                    $hideOrShowFields = StaffProfileSettings::find("parent_id = '6' and hide_or_show=1");
                                    foreach ($hideOrShowFields as $field) {
                                        ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
        <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
    <?php }
    ?>
                        </div>
                    </div>
                </div>
            </section>
<?php } ?>

        <input type="hidden" name="appointment_no" id="appointment_no" value="<?= $appointment_no; ?>" />

        <div class="form-group">
            <div class="col-md-9">  
                <button class="btn btn-success pull-right" type="submit"
                        onclick=""  
                        id="stf_save"> Save</button>
            </div>
        </div>
        </form>
    </div>
</div>