<?php
echo $this->tag->javascriptInclude("js/appscripts/report/report.js");
?>

<?php
$varcols1 = 3 + count($mandnode) + 3;
for ($i = 0; $i < $varcols1; $i++)
    $varsort[] = $i;
?>

<div class="row">
    <script>


        staffSearchSettings.loadStaffdet = function (cntrl)
        {

            var submitAction = $(cntrl).attr('from-action') ? $(cntrl).attr('from-action') : '';
            if (submitAction === "stateReset")
            {
                $('#fromreset').val('');
            }
            var resetAction = $('#fromreset').val() ? $('#fromreset').val() : '';
            //alert(resetAction)

            var staffdata = {};
            var params = {};
            var i = 0;
            staffdata.emptySearch = 1;

            $("#staffSearchForm").find('input,select,textarea').each(function () {
                staffdata.emptySearch = 0;
                staffdata[$(this).attr('name')] = $.trim($(this).val());
                if (resetAction === '') {
                    //                         alert('test')
                    staffSearchSettings.searchVal[$(this).attr('name')] = $.trim($(this).val());
                }
            });

            if (resetAction === 'editPage') {
//                alert('test')
//                console.log('mani')
//                console.log(studentprofileSettings.searchVal)
                $.each(staffSearchSettings.searchVal, function (key, value) {
//                    alert(key + ": " + value);
                    staffdata[key] = value;
                });
            }

            params = staffdata;
            console.log(staffdata);

            $('.actionbtns').addClass('hide')
            $.ajax({
                type: "POST",
                url: commonSettings.staffAjaxurl + "/loadtableHeader",
                data: staffdata,
                dataType: "html",
                success: function (res) {
                    $('#loadReport').html(res);
                    $('#loadReport').removeClass('hide');

                    var tablectrl = '#staffdetails';
                    var column = [];
                    var sortingDisabled = [<?= implode(',', $varsort) ?>];

                    var tbldata = $(tablectrl).dataTable({
                        //                "sDom": 'C<"clear">lrtip',
                        "sDom": '<"top"if>rt<"bottopm"p><"clear">',
                        "bProcessing": true,
                        "bServerSide": true,
                        "bStateSave": true,
                        "sAjaxSource": commonSettings.staffAjaxurl + '/loadtableData',
                        "sPaginationType": "full_numbers",
                        "iDisplayLength": commonSettings.NumberOfRecords,
                        "aoColumnDefs": [{
                                "sDefaultContent": "",
                                "aTargets": column
                            }, {
                                "bSortable": false,
                                "sDefaultContent": "",
                                "aTargets": sortingDisabled
                            }],
                        "aaSorting": [[1, "desc"]],
                        "bLengthChange": false,
                        // "bInfo": false,
                        "oLanguage": {
                            "sInfo": "<i class='fa fa-info activity-icon'></i> <i class='text-muted'><b>Showing _START_ to _END_ of _TOTAL_ Staffs</b></i>",
                            "sInfoFiltered": " ",
                        },
                        "fnServerData": function (surl, aoData, l) {
                            for (var key in params) {
                                aoData.push({
                                    "name": key,
                                    "value": params[key]
                                });
                            }
                            $.ajax({
                                dataType: "json",
                                type: "POST",
                                url: surl,
                                contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                                data: aoData,
                                success: l
                            });
                        },
                        "fnStateSave": function (oSettings, oData) {
                            save_dt_view(oSettings, oData);
                        },
                        "fnStateLoad": function (oSettings) {
                            return load_dt_view(oSettings);
                        },
                        "fnDrawCallback": function (o) {
                            if (o._iRecordsDisplay <= staffSearchSettings.noOfRecordsToDisplay) {
                                $(tablectrl + '_paginate').hide();
                                //console.log(tablectrl+'_paginate');
                            }

                            $('.actionbtns').removeClass('hide')
                            $('.dataTables_filter').addClass('col-md-5');
                            $('.dataTables_info').addClass('col-md-6');
                            $('.dataTables_filter').find('label').css('display', ' inline');
                            $('.dataTables_filter').find('input').addClass('form-control').css('width', ' 50%');
                        },
                        "fnRowCallback": function (nRow, aData, iDisplayIndex) {

                            var rowText = '<tr id="' + aData.id + '">';


                            //                    


                            rowText += '<td class="student_name col-md-2">';
                            rowText += aData.Staff_Name;
                            rowText += '</td>';

                            rowText += '<td>';
                            rowText += '<span class="tooltip tooltip-effect-2">\n\
                                    <span class="tooltip-item"  >';
                            rowText += aData.appointment_no;
                            rowText += '<span class="tooltip-content clearfix">\n\
                                   <section class="panel">\n\
                                   <header class="panel-heading">\n\
                                   Login Details</header>\n\
                                   <div class="panel-body">';

                            rowText += ' <table border="2"  class="table general-table">\n\
                                 <tbody> <tr><td><font size="2%">Staff Login</font> </td>\n\
                               <td><font size="2%">' + aData.stfflogin + '</font></td>\n\
                                </tr> </tbody></table>';
                            rowText += '</div></section></span></span></span>';
                            rowText += '</td>';

                            //                    rowText += '<td class="new-patient invoiceview sorting_1">';
                            //                    rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" >' + aData.appointment_no + '</span>';
                            //                    rowText += '</td>';

                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.gender + '</span>';
                            rowText += '</td>';

<?php foreach ($mandnode as $key => $mandnodeval) { ?>

                                rowText += '<td>';
                                rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + ((typeof (aData[<?= $key ?>]) != 'undefined') ? aData[<?= $key ?>] : '-') + '</span>';
                                rowText += '</td>';

<?php } ?>

                            //                    rowText += '<td class="new-patient invoiceview sorting_1">';
                            //                    rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.stfflogin + '</span>';
                            //                    rowText += '</td>';
                            //
                            //                    rowText += '<td class="new-patient invoiceview sorting_1">';
                            //                    rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.email + '</span>';
                            //                    rowText += '</td>';

                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.dob + '</span>';
                            rowText += '</td>';

                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.doj + '</span>';
                            rowText += '</td>';


                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += aData.Actions;
                            rowText += '</td>';

                            //                    rowText += '<td class="new-patient invoiceview sorting_1">';
                            //                    rowText +=  aData.Print;
                            //                    rowText += '</td>';


                            //                    rowText += '<td class="new-patient invoiceview sorting_1">';
                            //                    rowText +=  aData.assignsal;
                            //                    rowText += '</td>';

                            rowText += '</tr>';
                            var newRow = $(rowText);
                            $(nRow).html(newRow.html());
                            commonSettings.copyAttributes(newRow, nRow);
                            return nRow;
                        }
                    });

                    if (submitAction === "stateReset")
                    {
//                        alert('ter')
                        tbldata.fnDraw();
                    }

                }
            });
            /*}
             else
             {
             $('.modal-title').html('Message');
             $('.modal-body').html('<div class="alert alert-block alert-danger fade in">You Should Fill Atleast One Field.</div>');
             $('#messageBox').click();
             }*/

        };

        $(document).ready(function () {

            staffSearchSettings.loadStaffdet();
        });

    </script>
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel">
            <header class="panel-heading">
                Staff Profile
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'staffSearchForm')); ?>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Appointment No:</label>
                            <div class="col-md-6">  
                                <input type="text" name="appointment_no" id="appointment_no" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Login ID:</label>
                            <div class="col-md-6">  
                                <input type="text" name="loginid" id="loginid" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Name:</label>
                            <div class="col-md-6">  

                                <input type="text" name="name" id="name" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Status:</label>
                            <div class="col-md-6">  

                                <?php
//                               echo \Phalcon\Tag::select(
//                                        array(
//                                            'status',
//                                            StaffInfo::find(array(
//                                                'columns'=> 'distinct status',
//                                                'status !="NULL"'
//                                            )),
//                                            "using" => array("status", "status"),
//                                            'useEmpty' => true,
//                                            'emptyText' => 'Select',
//                                            'emptyValue' => '',
//                                            'class' => 'form-control',
//                                            'title' => 'Status',
//                                           
//                                        ));

                                echo \Phalcon\Tag::select(
                                        array(
                                            'status',
                                            array("Appointed" => "Appointed",
                                                "Relieving initiated" => "Relieving Initiated",
                                                "Relieved" => "Relieved"
                                            ),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control'
                                        )
                                );
                                ?>
                            </div>
                        </div>
                        <input type="hidden" id="fromreset" name="fromreset" value="<?= $frmreset ?>"/>	

                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-6">  
                                <button class="btn btn-success pull-right" from-action="stateReset" onclick="staffSearchSettings.loadStaffdet(this)" type="button"> 
                                    Search
                                </button>   
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        Manage Staff Details
        <span class="tools pull-right actionbtns">
            <a  href="javascript:;" class="label label-primary"  title="Staff List"  onclick="reportSettings.getStaffReports()" ><i class="zmdi zmdi-archive"></i> Staff List</a>
        </span>
    </header>
    <div id='loadReport'class='hide'></div>	
</section>
