<?php echo $this->tag->javascriptInclude("js/appscripts/staff/staffSearch.js"); ?>

<?php
$varcols1 = 2 + count($mandnode) + 4;
for ($i = 0; $i < $varcols1; $i++)
    $varsort[] = $i;
?>
<div class="row">
    <script>


        staffSearchSettings.loadStaffListdet = function ()
        {
            var staffdata = {};
            var params = {};
            var i = 0;
            staffdata.emptySearch = 1;

            $("#staffSearchForm").find('input,select,textarea').each(function () {
                staffdata.emptySearch = 0;
                staffdata[$(this).attr('name')] = $.trim($(this).val());
            });
            params = staffdata;
            console.log(params);
            $.ajax({
                type: "POST",
                url: commonSettings.staffAjaxurl + "/loadStaffListtableHeader",
                data: staffdata,
                dataType: "html",
                success: function (res) {
                    $('#loadReport').html(res);
                    $('#loadReport').removeClass('hide');

                    var tablectrl = '#staffdetails';
                    var column = [];
                    var sortingDisabled = [<?= implode(',', $varsort) ?>];

                    $(tablectrl).dataTable({
                        //                "sDom": 'C<"clear">lrtip',
                        "sDom": '<"top"if>rt<"bottopm"p><"clear">',
                        "bProcessing": true,
                        "bServerSide": true,
                        "sAjaxSource": commonSettings.staffAjaxurl + '/loadStaffListtableData',
                        "sPaginationType": "full_numbers",
                        "iDisplayLength": commonSettings.NumberOfRecords,
                        "aoColumnDefs": [{
                                "sDefaultContent": "",
                                "aTargets": column
                            }, {
                                "bSortable": false,
                                "sDefaultContent": "",
                                "aTargets": sortingDisabled
                            }],
                        "aaSorting": [[1, "desc"]],
                        "bLengthChange": false,
                        // "bInfo": false,
                        "oLanguage": {
                            "sInfo": "<i class='fa fa-info activity-icon'></i> <i class='text-muted'><b>Showing _START_ to _END_ of _TOTAL_ Appointments</b></i>",
                            "sInfoFiltered": " ",
                        },
                        "fnServerData": function (surl, aoData, l) {
                            for (var key in params) {
                                aoData.push({
                                    "name": key,
                                    "value": params[key]
                                });
                            }
                            $.ajax({
                                dataType: "json",
                                type: "POST",
                                url: surl,
                                contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                                data: aoData,
                                success: l
                            });
                        },
                        "fnDrawCallback": function (o) {
                            if (o._iRecordsDisplay <= staffSearchSettings.noOfRecordsToDisplay) {
                                $(tablectrl + '_paginate').hide();
                                //console.log(tablectrl+'_paginate');
                            }

                            $('.dataTables_filter').addClass('col-md-5');
                            $('.dataTables_filter').find('label').addClass('col-md-3').css('display', ' inline');
                            $('.dataTables_filter').find('input').addClass('form-control pull-right');
                        },
                        "fnRowCallback": function (nRow, aData, iDisplayIndex) {

                            var rowText = '<tr id="' + aData.id + '">';

                            //
                            //                    rowText += '<td class="new-patient invoiceview sorting_1">';
                            //                    rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" >' + aData.appointment_no + '</span>';
                            //                    rowText += '</td>';


                            rowText += '<td class="student_name col-md-25">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.Staff_Name + '</span>';
                            rowText += '</td>';

                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.gender + '</span>';
                            rowText += '</td>';

<?php foreach ($mandnode as $key => $mandnodeval) { ?>

                                rowText += '<td>';
                                rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + ((typeof (aData[<?= $key ?>]) != 'undefined') ? aData[<?= $key ?>] : '-') + '</span>';
                                rowText += '</td>';

<?php } ?>

                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.stfflogin + '</span>';
                            rowText += '</td>';


                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.dob + '</span>';
                            rowText += '</td>';

                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.doj + '</span>';
                            rowText += '</td>';


                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += aData.Actions;
                            rowText += '</td>';



                            //                    rowText += '<td class="new-patient invoiceview sorting_1">';
                            //                    rowText +=  aData.assignsal;
                            //                    rowText += '</td>';

                            rowText += '</tr>';
                            var newRow = $(rowText);
                            $(nRow).html(newRow.html());
                            commonSettings.copyAttributes(newRow, nRow);
                            return nRow;
                        }
                    });

                }
            });
            /*}
             else
             {
             $('.modal-title').html('Message');
             $('.modal-body').html('<div class="alert alert-block alert-danger fade in">You Should Fill Atleast One Field.</div>');
             $('#messageBox').click();
             }*/

        };

        $(document).ready(function () {

            staffSearchSettings.loadStaffListdet();
        });

    </script>
    <div class="col-md-12" id='mainDiv'>
        <section class="panel">
            <header class="panel-heading">
                Staffs Appointments
                <span class="tools pull-right" >
                    <a href="javascript:;" class=" pull-right"  onclick="staffCycleSettings.loadAppointment()">
                        <span class="mini-stat-icon tar" 
                              style="width: 30px;height: 30px;line-height: 30px;margin-top: -4px;">
                            <i class="fa fa-plus" style="margin-top: 6px;"></i></span>
                        <span class="">Add New Appointment</span></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'staffSearchForm')); ?>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Appointment No:</label>
                            <div class="col-md-6">  
                                <input type="text" name="appointment_no" id="appointment_no" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Login ID:</label>
                            <div class="col-md-6">  
                                <input type="text" name="loginid" id="loginid" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Name:</label>
                            <div class="col-md-6">  

                                <input type="text" name="name" id="name" class="form-control"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-6">  
                                <button class="btn btn-success pull-right" onclick="staffSearchSettings.loadStaffListdet()" type="button"> 
                                    Search
                                </button>   
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                Manage Appointments
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>

            </header>
            <div id='loadReport'class=' panel-body hide'></div>	
        </section>
    </div>
</div>	

