
<div class="panel-body">
    <?php if ($staffAdv && count($staffAdv) > 0) { ?>
        <table class="table  table-hover general-table">
            <thead>
                <tr>
                    
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Split-up</th>
                    <!--<th>Actions</th>--> 
                </tr>                            
            </thead>
            <tbody>
    <?php
    foreach ($staffAdv as $staffav):

        $staff_adv_splitup = StaffAdvanceSplitup::find('staff_advance_id=' . $staffav->id);
        $statuslablecls = ($staffav->status == "Approved") ? 'success' : (($staffav->status == 'FORWARD') ? 'warning' :
                        (($staffav->status == 'Rejected') ? 'danger' : 'info') );
        ?>
                    <tr>
                                               
                        <td><?= money_format('%i', ($staffav->amount ? $staffav->amount : '')) ?>  </td>
                        
                        <td>
                            <?=  isset($staffav->modified_date) ? date('d-m-Y',$staffav->modified_date) :
                                    (isset($staffav->created_date) ? date('d-m-Y',$staffav->created_date) : '-'); ?>
                            
                        </td>
                        <td><span class="label label-<?= $statuslablecls ?>" ><?= $staffav->status ?></span> </td>
                        <td>  <?php if (count($staff_adv_splitup) > 0): ?>
                                <button data-original-title="Splitup Details" style="font-size:12px;padding: 7px;"
                                        data-content="<table class='table table-striped table-hover table-bordered' style='font-size:12px;'>
                                        <thead>
                                        <tr>
                                        <th>Split-up Month</th>
                                        <th>Amount(Rs)</th>
                                        </tr>
                                        </thead>  
                                        <tbody>
            <?php foreach ($staff_adv_splitup as $splt) : ?>
                                            <tr>
                                            <td><?= $splt->month ?></td>
                                            <td><?= money_format('%i', ($splt->amount ? $splt->amount : '')) ?></td>
                                            </tr>
            <?php endforeach; ?>

                                        </tbody>                    
                                        </table>"
                                        data-placement="top" data-trigger="hover" class="btn btn-info popovers">
                                    Split-up</button>                       
        <?php endif; ?>

                        </td>
                        <!--<td> </td>-->
                    </tr>
    <?php endforeach; ?>

            </tbody>
        </table>
<?php } else { ?>
        <div class="center scaffold">
            <span>No advance made yet</span>
        </div>
<?php } ?>
</div>

<script>
    $('.popovers').popover({
        html: true
    });
</script>
