<div class="widget-container margin-top-0 " id="inboxDiv"  >
    <div class="widget-content makefullwidth">
        <div class="scrollme " id="timeline-body">
            <div id="page-wrap" class="js-yes" >
                <ul id="main" class="clearfix">
                    <?php
                    if (count($result) > 0) {
                        foreach ($result as $key => $value) {
                            ?>
                            <li id="col-<?= strtotime($key . ' 00:00:00 ') ?>" class="column day container_12 section-container clearfix">
                                <div class="column-inner-wrap clearfix">
                                    <div class="day-header-wrap clearfix">
                                        <div class="header-placeholder">
                                            <div class="day-header-inner">&nbsp;&nbsp;&nbsp;&nbsp;</div><!-- /.day-header-inner -->
                                        </div><!-- /.header-placeholder -->
                                        <h2 class="day-header section-header clearfix">
                                            <div class="day-header-inner">
                                                <time datetime="<?php $key ?>" class="icon">
                                                    <em><?= date('l', strtotime($key)) ?></em>
                                                    <strong><?= date('F', strtotime($key)) ?></strong>
                                                    <span><?= date('d', strtotime($key)) ?></span>
                                                </time>
                                                <!-- /.day-header-inner -->
                                            </div><!-- /.day-header-inner -->
                                        </h2><!-- /.day-header -->
                                    </div>

                                    <div class="content events-wrap col-md-10">
                                        <div class="content-inner">
                                            <ul class="events-list">
                                                <?php
                                                $curdt = date('Y-m-d');
                                                for ($i = 0; $i < count($value); $i++) {
                                                    if ($value[$i]['type'] == 'Announcement') {
                                                        ?>
                                                        <li id="event-events-<?= $value[$i]['id'] ?>" class="event  last">
                                                            <div class="result-item">
                                                                <div class="flex-row"  >
                                                                    <div class="flex-column timecol"  >
                                                                        <div class="time secondary-text " >
                                                                            <?php echo AnnouncementController::time_elapsed_string($value[$i]['datetime']); ?>
                                                                        </div>
                                                                    </div>
                                                                    <span  class="mini-stat-icon  pink"><i class="fa fa-bullhorn"></i></span>
                                                                    <div class="info layout-column flex" >
                                                                        <div onclick="announcementSettings.viewAnnouncement(<?= $value[$i]['id'] ?>)" 
                                                                             class="name text-truncate "  > <?= $value[$i]['by'] ?>  
                                                                        </div>
                                                                        <div class="message secondary-text  "> <?= $value[$i]['message'] ?>
                                                                        </div>

                                                                        <div class="message secondary-text text-truncate " >
                                                                            <table class="actions">
                                                                                <tbody>
                                                                                    <tr fromPage="allapproval" applicationId="<?= $ids[0] ?>" appitemID = "<?= $ids[1] ?>"
                                                                                        appType ="<?= $ids[2] ?>" itemID ="<?= $ids[3] ?>">
                                                                                        <td> <span data-layout="topRight" data-type="success" onclick="announcementSettings.anouncementAcknwldg(<?= $value[$i]['id'] ?>, this)"  class="text small mute forward"> 
                                                                                                <i class="zmdi zmdi-check"></i> Acknowledge
                                                                                            </span> </td>
                                                                                    </tr>   
                                                                                </tbody>
                                                                            </table> 
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                                <!--                                                        <li id="event-announcement-<?= $value[$i]['id'] ?>" class="event ">
                                                                                                                            <div class="card bg-white no-border taskitem ">
                                                                                                                                <div class="card-block">
                                                                                                                                    <div class="profile-timeline-header">
                                                                                                                                        <a href="#" class="profile-timeline-user">
                                                                                                                                            <span class="mini-stat-icon  pink">
                                                                                                                                                <i class="fa fa-bullhorn"></i></span>
                                                                                                                                            <p class="text small"> <?= date('H:i', strtotime($value[$i]['datetime'])) ?></p>
                                                                                                                                        </a>
                                                                                                                                        <div class="profile-timeline-user-details">
                                                                                                                                            <div class="user-intro">

                                                                                                                                                <div class=" btn-group topic" onclick="announcementSettings.viewAnnouncement(<?= $value[$i]['id'] ?>)"  >
                                                        <?= $value[$i]['by'] ?>  
                                                                                                                                                </div>
                                                                                                                                                <span class="timtick pull-right">
                                                        <?php echo AnnouncementController::time_elapsed_string($value[$i]['datetime']); ?>
                                                                                                                                                </span>
                                                                                                                                            </div>

                                                                                                                                            <div class="marginleft">
                                                                                                                                                <p class="text small shordesc shrink-text" title="">
                                                        <?= $value[$i]['message'] ?>
                                                                                                                                                </p>
                                                                                                                                                <table class="actions">
                                                                                                                                                    <tbody>
                                                                                                                                                        <tr fromPage="allapproval" applicationId="<?= $ids[0] ?>" appitemID = "<?= $ids[1] ?>"
                                                                                                                                                            appType ="<?= $ids[2] ?>" itemID ="<?= $ids[3] ?>">
                                                                                                                                                            <td> <span data-layout="topRight" data-type="success" onclick="announcementSettings.anouncementAcknwldg(<?= $value[$i]['id'] ?>, this)"  class="text small mute forward"> 
                                                                                                                                                                    <i class="zmdi zmdi-check"></i> Acknowledge
                                                                                                                                                                </span> </td>

                                                                                                                                                        </tr>   
                                                                                                                                                    </tbody>
                                                                                                                                                </table> 
                                                                                                                                            </div>


                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </li>-->
                                                        <?php
                                                    }
                                                    ?>
                                                    <?php
                                                    if ($value[$i]['type'] == 'Events') {
                                                        ?>
                                                        <li id="event-events-<?= $value[$i]['id'] ?>" class="event  last">
                                                            <div class="result-item">
                                                                <div class="flex-row"  >
                                                                    <div class="flex-column timecol"  >
                                                                        <div class="time secondary-text " >
                                                                            <?php echo AnnouncementController::time_elapsed_string($value[$i]['datetime']); ?>
                                                                        </div>
                                                                    </div>

                                                                    <span class="mini-stat-icon  orange">  <i class="fa fa-calendar"></i></span>
                                                                    <div class="info layout-column flex" >
                                                                        <div onclick="eventsSettings.viewEvents(<?= $value[$i]['id'] ?>)" 
                                                                             class="name text-truncate "  > <?= $value[$i]['by'] ?>  
                                                                        </div>
                                                                        <div class="message secondary-text  "> <?= $value[$i]['message'] ?>
                                                                        </div>

                                                                        <div class="message secondary-text text-truncate " >
                                                                            <table class="actions">
                                                                                <tbody>
                                                                                    <tr fromPage="allapproval" applicationId="<?= $ids[0] ?>" appitemID = "<?= $ids[1] ?>"
                                                                                        appType ="<?= $ids[2] ?>" itemID ="<?= $ids[3] ?>">
                                                                                        <td> <span data-layout="topRight" data-type="warning" onclick="eventsSettings.acceptEvents(<?= $value[$i]['id'] ?>, this)"  class="text small mute forward"> 
                                                                                                <i class="zmdi zmdi-check"></i> Accept
                                                                                            </span> </td>

                                                                                    </tr>   
                                                                                </tbody>
                                                                            </table> 
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                      <!--                                                        <li id="event-events-<?= $value[$i]['id'] ?>" class="event ">
                                                                                                                  <div class="card bg-white no-border taskitem ">
                                                                                                                      <div class="card-block">
                                                                                                                          <div class="profile-timeline-header">
                                                                                                                              <a href="#" class="profile-timeline-user">
                                                                                                                                  <span class="mini-stat-icon  orange">
                                                                                                                                      <i class="fa fa-calendar"></i></span>
                                                                                                                                  <p class="text small"> <?= date('H:i', strtotime($value[$i]['datetime'])) ?></p>
                                                                                                                              </a>
                                                                                                                              <div class="profile-timeline-user-details">
                                                                                                                                  <div class="user-intro">
                                                                                                                                      <div class=" btn-group topic" onclick="eventsSettings.viewEvents(<?= $value[$i]['id'] ?>)" >
                                                        <?= $value[$i]['by'] ?>  
                                                                                                                                      </div>
                                                                                                                                      <span class="timtick pull-right"> <?php echo AnnouncementController::time_elapsed_string($value[$i]['datetime']);
                                                        ?>
                                                                                                                                      </span>
                                                                                                                                  </div> 
                                                                                                                                  <div class="marginleft">
                                                                                                                                      <p class="text small shordesc shrink-text" title="">
                                                        <?= $value[$i]['message'] ?></p>
                                                                                                                                      <table class="actions">
                                                                                                                                          <tbody>
                                                                                                                                              <tr fromPage="allapproval" applicationId="<?= $ids[0] ?>" appitemID = "<?= $ids[1] ?>"
                                                                                                                                                  appType ="<?= $ids[2] ?>" itemID ="<?= $ids[3] ?>">
                                                                                                                                                  <td> <span data-layout="topRight" data-type="warning" onclick="eventsSettings.acceptEvents(<?= $value[$i]['id'] ?>, this)"  class="text small mute forward"> 
                                                                                                                                                          <i class="zmdi zmdi-check"></i> Accept
                                                                                                                                                      </span> </td>
                                                      
                                                                                                                                              </tr>   
                                                                                                                                          </tbody>
                                                                                                                                      </table> 
                                                                                                                                  </div>
                                                      
                                                                                                                              </div>
                                                                                                                          </div>
                                                                                                                      </div>
                                                                                                                  </div>
                                                                                                              </li>-->
                                                        <?php
                                                    }
                                                    ?>
                                                    <?php
                                                    if ($value[$i]['type'] == 'Approval') {
                                                        ?>

                                                        <li id="event-events-<?= $value[$i]['id'] ?>" class="event  last">
                                                            <div class="result-item">
                                                                <div class="flex-row"  >
                                                                    <div class="flex-column timecol"  >
                                                                        <div class="time secondary-text " >
                                                                            <?php echo AnnouncementController::time_elapsed_string($value[$i]['datetime']); ?>
                                                                        </div>
                                                                    </div>
                                                                     <span class="mini-stat-icon  green-theme">  <i class="fa fa-check-square"></i></span>
                                                                    <div class="info layout-column flex" >
                                                                        <div onclick="approvalviewSettings.viewApprovalDetails(<?= $value[$i]['id'] ?>)"
                                                                             class="name text-truncate "  > <?= $value[$i]['by'] ?>  
                                                                        </div>
                                                                        <div class="message secondary-text  "> <?= $value[$i]['message'] ?>
                                                                        </div>

                                                                        <div class="message secondary-text text-truncate " >
                                                                            <?php $ids = explode(',', $value[$i]['topic']); ?>
                                                                            <table class="actions">
                                                                                <tbody>
                                                                                    <tr fromPage="allapproval" applicationId="<?= $ids[0] ?>" appitemID = "<?= $ids[1] ?>"
                                                                                        appType ="<?= $ids[2] ?>" itemID ="<?= $ids[3] ?>">
                                                                                        <td> <span onclick="approvalSettings.forward(this)" class="text small mute forward"> 
                                                                                                <i class="zmdi zmdi-mail-reply"></i> Forward
                                                                                            </span> | </td>
                                                                                        <td> <span href="javascript:;" onclick="approvalSettings.approve(this)" class="text small mute accept">
                                                                                                <i class="zmdi zmdi-check"></i>  Approve
                                                                                            </span> |</td>
                                                                                        <td><span href="javascript:;" onclick="approvalSettings.reject(this)" class="text small mute decline">
                                                                                                <i class="zmdi zmdi-close"></i>  Reject
                                                                                            </span>     
                                                                                        </td>
                                                                                    </tr>   
                                                                                </tbody>
                                                                            </table> 
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                <!--                                                        <li id="event-application-<?= $value[$i]['id'] ?>" class="event ">
                                                            <div class="card bg-white no-border taskitem ">
                                                                <div class="card-block">
                                                                    <div class="profile-timeline-header">
                                                                        <a href="#" class="profile-timeline-user">
                                                                            <span class="mini-stat-icon  green-theme">
                                                                                <i class="fa fa-check-square"></i></span>
                                                                            <p class="text small"> <?= date('H:i', strtotime($value[$i]['datetime'])) ?></p>
                                                                        </a>
                                                                        <div class="profile-timeline-user-details">
                                                                            <div class="user-intro"> 
                                                                                <div class=" btn-group topic" onclick="approvalviewSettings.viewApprovalDetails(<?= $value[$i]['id'] ?>)" >
                                                        <?= $value[$i]['by'] ?> 
                                                                                </div>
                                                                                <span class="timtick pull-right"><?php echo AnnouncementController::time_elapsed_string($value[$i]['datetime']); ?></span>
                                                                            </div>
                                                                            <div class="marginleft">
                                                                                <p class="text small shordesc shrink-text" title=" ">
                                                        <?= $value[$i]['message'] ?></p>

                                                        <?php $ids = explode(',', $value[$i]['topic']); ?>
                                                                                <table class="actions">
                                                                                    <tbody>
                                                                                        <tr fromPage="allapproval" applicationId="<?= $ids[0] ?>" appitemID = "<?= $ids[1] ?>"
                                                                                            appType ="<?= $ids[2] ?>" itemID ="<?= $ids[3] ?>">
                                                                                            <td> <span onclick="approvalSettings.forward(this)" class="text small mute forward"> 
                                                                                                    <i class="zmdi zmdi-mail-reply"></i> Forward
                                                                                                </span> | </td>
                                                                                            <td> <span href="javascript:;" onclick="approvalSettings.approve(this)" class="text small mute accept">
                                                                                                    <i class="zmdi zmdi-check"></i>  Approve
                                                                                                </span> |</td>
                                                                                            <td><span href="javascript:;" onclick="approvalSettings.reject(this)" class="text small mute decline">
                                                                                                    <i class="zmdi zmdi-close"></i>  Reject
                                                                                                </span>     
                                                                                            </td>
                                                                                        </tr>   
                                                                                    </tbody>
                                                                                </table> 
                                                                            </div> 
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>-->
                                                        <?php
                                                    }
                                                    ?>
                                                    <?php
                                                    if ($value[$i]['type'] == 'Task') {
                                                        $taskact = TaskActivities::findFirstById($value[$i]['id']);
                                                        $taskmaster = TaskMaster::findFirstById($taskact->task_id);
                                                        $comments = TaskActivities::find('task_id=' . $taskact->task_id . ' and comments != "" ');
                                                        ?>


                                                        <li id="event-events-<?= $value[$i]['id'] ?>" class="event  last">
                                                            <div class="result-item">
                                                                <div class="flex-row"  >
                                                                    <div class="flex-column timecol"  >
                                                                        <div class="time secondary-text " >
                                                                            <?php echo AnnouncementController::time_elapsed_string($value[$i]['datetime']); ?>
                                                                        </div>
                                                                    </div>
                                                                    <span class="mini-stat-icon bg-terques"> <i class="fa fa-tasks"></i></span>
                                                                    <div class="info layout-column flex" >
                                                                        <div onclick="announcementSettings.viewTasks(<?= $value[$i]['id'] ?>)" 
                                                                             class="name text-truncate "  > <?= $value[$i]['by'] ?>  
                                                                        </div>
                                                                        <div class="message secondary-text  "> <?= $value[$i]['message'] ?>
                                                                        </div>

                                                                        <div class="message secondary-text text-truncate " >
                                                                            <?php $ctext = '<i class="fa fa-times"></i>  Comments'; ?>
                                                                            <table class="actions">
                                                                                <tbody>
                                                                                    <tr fromPage="allapproval" applicationId="<?= $ids[0] ?>" appitemID = "<?= $ids[1] ?>"
                                                                                        appType ="<?= $ids[2] ?>" itemID ="<?= $ids[3] ?>">
                                                                                            <?php if ($taskmaster->status == 'Assigned' || $taskmaster->status == 'Forwarded') { ?>
                                                                                            <td> <span  data-layout="topRight" data-type="warning" 
                                                                                                        onclick="announcementSettings.acceptTask(<?= $value[$i]['id'] ?>, 'Accept', this)" 
                                                                                                        class="text small mute forward"> 
                                                                                                    <i class="zmdi zmdi-check"></i> Accept
                                                                                                </span> | </td>
                                                                                            <td> <span href="javascript:;" data-layout="topRight" data-type="warning" 
                                                                                                       onclick="announcementSettings.forwardTask(<?= $value[$i]['id'] ?>, this)"  
                                                                                                       class="text small mute accept">
                                                                                                    <i class="zmdi zmdi-mail-reply"></i>  Forward
                                                                                                </span> |</td>
                                                                                            <td><span href="javascript:;" data-layout="topRight" data-type="warning" 
                                                                                                      onclick="announcementSettings.acceptTask(<?= $value[$i]['id'] ?>, 'Decline', this)" 
                                                                                                      class="text small mute decline">
                                                                                                    <i class="zmdi zmdi-close"></i>  Decline
                                                                                                </span> |     
                                                                                            </td>
                                                                                            <td><span href="javascript:;" data-layout="topRight" data-type="warning" 
                                                                                                      onclick="announcementSettings.addComments(<?= $value[$i]['id'] ?>)" 
                                                                                                      class="text small mute decline">
                                                                                                    <?= '<i class="zmdi zmdi-comment-outline"></i> ' . count($comments) . '  Comment' . (count($comments) > 1 ? 's' : '') ?></a> 
                                                                                                </span>     
                                                                                            </td>
                                                                                            <?php if ($taskmaster->files) { ?>
                                                                                                <td> | <span href="javascript:;" data-layout="topRight" data-type="warning" 
                                                                                                             onclick="announcementSettings.downloadTaskFile(<?= $taskmaster->id ?>)" 
                                                                                                             class="text small mute decline">
                                                                                                        <i class="zmdi zmdi-download"></i>  Download
                                                                                                    </span>     
                                                                                                </td>
                                                                                            <?php } ?>
                                                                                        <?php } elseif ($taskmaster->status == 'Accepted') { ?>
                                                                                            <td><span href="javascript:;" data-layout="topRight" data-type="warning"
                                                                                                      onclick="announcementSettings.acceptTask(<?= $value[$i]['id'] ?>, 'Finish', this)"
                                                                                                      class="text small mute decline">
                                                                                                    <i class="zmdi zmdi-check-all"></i>  Finish
                                                                                                </span>     
                                                                                            </td>

                                                                                            <td><span href="javascript:;" data-layout="topRight" data-type="warning"
                                                                                                      onclick="announcementSettings.addComments(<?= $value[$i]['id'] ?>)"
                                                                                                      class="text small mute decline">
                                                                                                    <i class="zmdi zmdi-comments"></i>  Discuss 
                                                                                                </span>    
                                                                                            </td>
                                                                                        <?php } ?>
                                                                                    </tr>   
                                                                                </tbody>
                                                                            </table> 
                                                                        </div>
                                                                      <div class="" >
                                                                            <div class="card-block comments-div hide" id="comm-<?= $value[$i]['id'] ?>">
                                                                            <textarea placeholder="Type here" rows="3"  id="comment-<?= $value[$i]['id'] ?>"
                                                                                      activity_id ="<?= $value[$i]['id'] ?>" 
                                                                                      class="form-control shadow no-border"></textarea>

                                                                            <div class="">
                                                                                <a href="javascript:;" data-layout="topRight" data-type="warning" onclick="announcementSettings.saveComments(<?= $value[$i]['id'] ?>, this)"><i class="fa fa-paper-plane-o"></i> Submit</a>
                                                                                &nbsp;&nbsp; &nbsp;&nbsp;<a href="javascript:;" data-layout="topRight" data-type="warning" onclick="announcementSettings.cancelComments(<?= $value[$i]['id'] ?>, this)"><i class="zmdi zmdi-close"></i> Cancel</a>
                                                                            </div>
                                                                            <br>  
                                                                            <div class="post-comments">
                                                        <?php
                                                        foreach ($comments as $cvalue) {
                                                            if ($cvalue->type == 'staff') {
                                                                $namelist = StaffInfo::findFirstById($cvalue->task_from);
                                                                $user = $namelist->Staff_Name;
                                                            } else {
                                                                $namelist = StudentInfo::findFirstById($cvalue->task_from);
                                                                $user = $namelist->Student_Name;
                                                            }
                                                            ?>
                                                                                        <div class="media">
                                                                                            <a class="pull-left" href="javascript:;">
                                                                                                <span class="mini-stat-icon-small square   tar activity-circle">
                                                            <?php
                                                            if ($lname->photo) {

                                                                echo $this->tag->image(array(
                                                                    "src" => $namelist->photo ? (FILES_URI . $namelist->photo) : ('images/user.jpg')));
                                                            } else {
                                                                ?> 
                                                                <?= substr($user, 0, 1); ?>
                                                            <?php }
                                                            ?> 
                                                                                                </span> 
                                                                                            </a>
                                                                                            <div class="comment">
                                                                                                <div class="comment-author heading-font">
                                                                                                    <a href="javascript:;"><?= $user ?>  </a>
                                                                                                    <span class="pull-right " style="color:#888;">
                                                            <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i', $cvalue->created_date)); ?></span>  
                                                                                                </div>
                                                                                                <p><?= $cvalue->comments ?> </p>
                                                                                                <hr class="pad10px">
                                                                                            </div>
                                                                                        </div>
                                                        <?php } ?>
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
<!--                                                                   <li id="event-task-<?= $value[$i]['id'] ?>" class="event ">
                                                            <div class="card bg-white no-border taskitem ">
                                                                <div class="card-block">
                                                                    <div class="profile-timeline-header">
                                                                        <a href="#" class="profile-timeline-user">
                                                                            <span class="mini-stat-icon bg-terques">
                                                                                <i class="fa fa-tasks"></i></span>
                                                                            <p class="text small"> <?= date('H:i', strtotime($value[$i]['datetime'])) ?></p>
                                                                        </a>
                                                                        <div class="profile-timeline-user-details">

                                                                            <div class="user-intro">

                                                                                <div class=" btn-group topic" onclick="announcementSettings.viewTasks(<?= $value[$i]['id'] ?>)"   >
                                                        <?= $value[$i]['by'] ?>  
                                                                                </div>
                                                                                <span class="timtick pull-right">
                                                        <?php echo AnnouncementController::time_elapsed_string($value[$i]['datetime']); ?>
                                                                                </span>
                                                                            </div>
                                                                            <div class="marginleft">
                                                                                <p class="text small shordesc shrink-text" title=" ">
                                                        <?= $value[$i]['message'] ?></p>
                                                        <?php $ctext = '<i class="fa fa-times"></i>  Comments'; ?>
                                                                                <table class="actions">
                                                                                    <tbody>
                                                                                        <tr fromPage="allapproval" applicationId="<?= $ids[0] ?>" appitemID = "<?= $ids[1] ?>"
                                                                                            appType ="<?= $ids[2] ?>" itemID ="<?= $ids[3] ?>">
                                                        <?php if ($taskmaster->status == 'Assigned' || $taskmaster->status == 'Forwarded') { ?>
                                                                                                    <td> <span  data-layout="topRight" data-type="warning" 
                                                                                                                onclick="announcementSettings.acceptTask(<?= $value[$i]['id'] ?>, 'Accept', this)" 
                                                                                                                class="text small mute forward"> 
                                                                                                            <i class="zmdi zmdi-check"></i> Accept
                                                                                                        </span> | </td>
                                                                                                    <td> <span href="javascript:;" data-layout="topRight" data-type="warning" 
                                                                                                               onclick="announcementSettings.forwardTask(<?= $value[$i]['id'] ?>, this)"  
                                                                                                               class="text small mute accept">
                                                                                                            <i class="zmdi zmdi-mail-reply"></i>  Forward
                                                                                                        </span> |</td>
                                                                                                    <td><span href="javascript:;" data-layout="topRight" data-type="warning" 
                                                                                                              onclick="announcementSettings.acceptTask(<?= $value[$i]['id'] ?>, 'Decline', this)" 
                                                                                                              class="text small mute decline">
                                                                                                            <i class="zmdi zmdi-close"></i>  Decline
                                                                                                        </span> |     
                                                                                                    </td>
                                                                                                    <td><span href="javascript:;" data-layout="topRight" data-type="warning" 
                                                                                                              onclick="announcementSettings.addComments(<?= $value[$i]['id'] ?>)" 
                                                                                                              class="text small mute decline">
                                                            <?= '<i class="zmdi zmdi-comment-outline"></i> ' . count($comments) . '  Comment' . (count($comments) > 1 ? 's' : '') ?></a> 
                                                                                                        </span>     
                                                                                                    </td>
                                                            <?php if ($taskmaster->files) { ?>
                                                                                                            <td> | <span href="javascript:;" data-layout="topRight" data-type="warning" 
                                                                                                                         onclick="announcementSettings.downloadTaskFile(<?= $taskmaster->id ?>)" 
                                                                                                                         class="text small mute decline">
                                                                                                                    <i class="zmdi zmdi-download"></i>  Download
                                                                                                                </span>     
                                                                                                            </td>
                                                            <?php } ?>
                                                        <?php } elseif ($taskmaster->status == 'Accepted') { ?>
                                                                                                    <td><span href="javascript:;" data-layout="topRight" data-type="warning"
                                                                                                              onclick="announcementSettings.acceptTask(<?= $value[$i]['id'] ?>, 'Finish', this)"
                                                                                                              class="text small mute decline">
                                                                                                            <i class="zmdi zmdi-check-all"></i>  Finish
                                                                                                        </span>     
                                                                                                    </td>

                                                                                                    <td><span href="javascript:;" data-layout="topRight" data-type="warning"
                                                                                                              onclick="announcementSettings.addComments(<?= $value[$i]['id'] ?>)"
                                                                                                              class="text small mute decline">
                                                                                                            <i class="zmdi zmdi-comments"></i>  Discuss 
                                                                                                        </span>    
                                                                                                    </td>
                                                        <?php } ?>
                                                                                        </tr>   
                                                                                    </tbody>
                                                                                </table> 
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-block comments-div hide" id="comm-<?= $value[$i]['id'] ?>">
                                                                            <textarea placeholder="Type here" rows="3"  id="comment-<?= $value[$i]['id'] ?>"
                                                                                      activity_id ="<?= $value[$i]['id'] ?>" 
                                                                                      class="form-control shadow no-border"></textarea>

                                                                            <div class="">
                                                                                <a href="javascript:;" data-layout="topRight" data-type="warning" onclick="announcementSettings.saveComments(<?= $value[$i]['id'] ?>, this)"><i class="fa fa-paper-plane-o"></i> Submit</a>
                                                                                &nbsp;&nbsp; &nbsp;&nbsp;<a href="javascript:;" data-layout="topRight" data-type="warning" onclick="announcementSettings.cancelComments(<?= $value[$i]['id'] ?>, this)"><i class="zmdi zmdi-close"></i> Cancel</a>
                                                                            </div>
                                                                            <br>  
                                                                            <div class="post-comments">
                                                        <?php
                                                        foreach ($comments as $cvalue) {
                                                            if ($cvalue->type == 'staff') {
                                                                $namelist = StaffInfo::findFirstById($cvalue->task_from);
                                                                $user = $namelist->Staff_Name;
                                                            } else {
                                                                $namelist = StudentInfo::findFirstById($cvalue->task_from);
                                                                $user = $namelist->Student_Name;
                                                            }
                                                            ?>
                                                                                        <div class="media">
                                                                                            <a class="pull-left" href="javascript:;">
                                                                                                <span class="mini-stat-icon-small square   tar activity-circle">
                                                            <?php
                                                            if ($lname->photo) {

                                                                echo $this->tag->image(array(
                                                                    "src" => $namelist->photo ? (FILES_URI . $namelist->photo) : ('images/user.jpg')));
                                                            } else {
                                                                ?> 
                                                                <?= substr($user, 0, 1); ?>
                                                            <?php }
                                                            ?> 
                                                                                                </span> 
                                                                                            </a>
                                                                                            <div class="comment">
                                                                                                <div class="comment-author heading-font">
                                                                                                    <a href="javascript:;"><?= $user ?> |
                                                            <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i', $cvalue->created_date)); ?>
                                                                                                        <time datetime="2015-09-01" id="timecol" class="time"><?= date('F dS,Y', $cvalue->created_date) ?></time></a>
                                                                                                </div>
                                                                                                <p><?= $cvalue->comments ?> </p>
                                                                                                <hr class="pad10px">
                                                                                            </div>
                                                                                        </div>
                                                        <?php } ?>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                        </li> -->
                                                        <?php
                                                    }
                                                }
                                                ?>        
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                            <?php
                        }
                    }
                    ?>

                    <li id="footer" class="hide" > </li>
                </ul><!-- /#main -->
            </div> 
        </div> 
    </div>
</div> 
<script>
    $("#inboxDetails .scrollme").css('maxHeight', '385px');
    $('#inboxCnt').text('(' +<?= $inbxcnt ?> + ')');
    $("#inboxDetails  .scrollme").getNiceScroll().remove();
    $("#inboxDetails .scrollme").niceScroll();
</script>