<style>
    .clr{
        color:#222227;
    }
</style>
<div class="widget-container " id="inboxDiv"  >
    <div class="widget-content ">
        <div class="scrollme event" id="timeline-body" style="margin-left:0; overflow-x: hidden">
            <?php
            if (count($value) > 0) {
                ?>
                <?php
                for ($i = 0; $i < count($value); $i++) {
                    if ($value[$i]['type'] == 'Announcement') {
                        $annun_comments = AnnouncementComments::find('master_id=' . $value[$i]['id'] . ' ORDER BY created_date DESC');
                        ?>
                        <div class="result-item row">
                            <div style="min-height:57px;" >
                                <div class="col-md-1">
                                    <span  class="mini-stat-icon  <?= $value[$i]['iconclr'] ?>"> <?= $value[$i]['icon'] ?>  </span>
                                </div><div class="col-md-3 custom-width"  onclick="announcementSettings.viewAnnouncement(<?= $value[$i]['id'] ?>, 'inbox')" >           
                                    <span class="clr"><?= $value[$i]['by'] ?></span>
                                    <br><div class=" smalltext">
                                        <span class="shrink half-width">     <?= $value[$i]['subtype'] ?></span> |  <?php echo AnnouncementController::time_elapsed_string($value[$i]['createddt']); ?>  <br>   
                                    </div>
                                    <span class=" smalltext"><i class="zmdi zmdi-time"></i>  <?= date('d M', strtotime($value[$i]['datetime'])) ?></span>
                                </div>
                                <div class="col-md-8">
                                    <span class="shrink-text"><?= $value[$i]['message'] ?></span>
                                    <table class="actions" id="announcement_table_<?= $value[$i]['id'] ?>">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <?php if ($statussearch == "Open") { ?>
                                                        <a href="javascript:;" data-layout="topRight" data-type="success" onclick="announcementSettings.anouncementAcknwldg(<?= $value[$i]['id'] ?>, this)"  class="text small mute forward"> 
                                                            <i class="zmdi zmdi-check"></i> Acknowledge | 
                                                        </a>
                                                        <a href="javascript:;"  id="announcement_count_<?= $value[$i]['id'] ?> "  onclick="announcementSettings.addComments(<?= $value[$i]['id'] ?>, 'announcement')" 
                                                           class="text small mute decline">
                                                            <i class="zmdi zmdi-comment-outline"></i> <span>
                                                                <?= (count($annun_comments) > 1 ? count($annun_comments) . ' Comments' : count($annun_comments) . ' Comment') ?>
                                                            </span>
                                                        </a>   
                                                    <?php } elseif ($statussearch == "Closed") { ?>
                                                        <a href="javascript:;" data-layout="topRight" data-type="success" class="text small mute forward"> 
                                                            <i class="zmdi zmdi-check"></i> Acknowledged
                                                        </a>
                                                    <?php } ?>
                                                </td>
                                            </tr>   
                                        </tbody>
                                    </table> 
                                    <div class="commentblk "  id="announcementcomments_<?= $value[$i]['id'] ?>">
                                        <div class="card-block comments-div hide" id="comm-announcement-<?= $value[$i]['id'] ?>">
                                            <textarea placeholder="Type here" rows="3"  id="comment-announcement-<?= $value[$i]['id'] ?>"
                                                      activity_id ="<?= $value[$i]['id'] ?>" 
                                                      class="form-control shadow no-border"></textarea>
                                            <div class="padd5">
                                                <a href="javascript:;" type="announcement" data-layout="topRight" data-type="warning" onclick="announcementSettings.saveComments(<?= $value[$i]['id'] ?>, this)"><i class="fa fa-paper-plane-o"></i> Submit</a>
                                                &nbsp;&nbsp; &nbsp;&nbsp;<a href="javascript:;" type="announcement" data-layout="topRight" data-type="warning" onclick="announcementSettings.cancelComments(<?= $value[$i]['id'] ?>, this)"><i class="zmdi zmdi-close"></i> Cancel</a>
                                            </div>
                                            <br>  
                                            <div class="post-comments">
                                                <?php
                                                if (count($annun_comments) > 0) {
                                                    foreach ($annun_comments as $cvalue) {
                                                        $namelist = StaffInfo::findFirstByLoginid($cvalue->comments_by);
                                                        $user = $namelist->Staff_Name;
                                                        ?>
                                                        <div class="media">
                                                            <a class="pull-left" href="javascript:;">
                                                                <span class="mini-stat-icon-small square    tar activity-circle">
                                                                    <?php
                                                                    if ($namelist->photo) {

                                                                        echo $this->tag->image(array(
                                                                            "src" => $namelist->photo ? (FILES_URI . $namelist->photo) : ('images/user.jpg')));
                                                                    } else {
                                                                        ?> 
                                                                        <?= substr($user, 0, 1); ?>
                                                                    <?php }
                                                                    ?> 
                                                                </span> 
                                                            </a>
                                                            <div class="comment">
                                                                <div class="comment-author heading-font bold">
                                                                    <a href="javascript:;" class="clr"><?= $user ?>  </a>
                                                                    <span class="pull-right " style="color:#888;">
                                                                        <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $cvalue->modified_date)); ?></span>  
                                                                </div>
                                                                <p><?= $cvalue->comments ?> </p>
                                                                <hr class="pad10px">
                                                            </div>
                                                        </div>
                                                        <?php
                                                    }
                                                }
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php
                            if ($value[$i]['files']) {
                                $explode = array();
                                $storeFolder = UPLOAD_DIR . 'announcement/announcement_' . $value[$i]['id'];
                                $explode = scandir($storeFolder, 1);
                                $word = array("doc", "docx", "dotx", "docm", "dot", "docb");
                                $excel = array("xls", "xlsx", "xltx", "xlt", "xlsb", "xlsm");
                                $pdf = array("pdf");
                                $text = array("txt");
                                ?>
                                <div  style="padding: 15px;">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-8 attachmain">
                                        <?php
                                        foreach ($explode as $f1) {
                                            if (is_file(UPLOAD_DIR . "announcement/announcement_" . $value[$i]['id'] . '/' . $f1)) {
                                                $path_parts = pathinfo(UPLOAD_DIR . "announcement/announcement_" . $value[$i]['id'] . '/' . $f1);
                                                $fexp = $path_parts["extension"]; //explode('.', $f1);
                                                $fname = $path_parts['filename'];
                                                $f1new = str_replace(' ', '%20', $f1);
                                                if (exif_imagetype($this->url->get(UPLOAD_URI . "announcement/announcement_" . $value[$i]['id'] . '/' . $f1new)) > 0) {
                                                    ?>
                                                    <div  class="attach11">
                                                        <div  style="margin-right: 8px;">
                                                            <div class=" attachimg"><img class="imgatch" src="<?= $this->url->get(UPLOAD_URI . "announcement/announcement_" . $value[$i]['id'] . '/' . $f1) ?>"  ></div>
                                                        </div>
                                                    </div>

                                                <?php } else { ?>
                                                    <div  class="attach11">
                                                        <div  class="attach1">
                                                            <div  class="attach2"><?= $fname ?></div>
                                                            <div class="attach5">
                                                                <?php if (in_array($fexp, $pdf)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_3_pdf_x32.png') ?>" class="attach3 " onclick="announcementSettings.dashboardFileDownload('announcement_<?= $value[$i]['id'] ?>_<?= $f1 ?>')" />
                                                                    <!--<span  class="attach4">PDF</span>-->
                                                                <?php } elseif (in_array($fexp, $excel)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_1_excel_x32.png') ?>" class="attach3 " onclick="announcementSettings.dashboardFileDownload('announcement_<?= $value[$i]['id'] ?>_<?= $f1 ?>')" />
                                                                      <?php } elseif (in_array($fexp, $word)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_1_word_x32.png') ?>" class="attach3 "  onclick="announcementSettings.dashboardFileDownload('announcement_<?= $value[$i]['id'] ?>_<?= $f1 ?>')"/>
                                                                      <?php } elseif (in_array($fexp, $text)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_1_text_x16.png') ?>" class="attach3 " onclick="announcementSettings.dashboardFileDownload('announcement_<?= $value[$i]['id'] ?>_<?= $f1 ?>')" />
                                                                      <?php } ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <?php } ?>
                                                <?php
                                            }
                                        }
                                        ?>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>
                        <?php
                    }
                    ?>

                    <?php
                    if ($value[$i]['type'] == 'Events') {
                        $event_comments = EventsComments::find('master_id=' . $value[$i]['id'] . ' ORDER BY created_date Desc');
                        ?>
                        <div class="result-item row"  >
                            <div style="min-height:57px;" >
                                <div class="col-md-1">
                                    <span  class="mini-stat-icon  <?= $value[$i]['iconclr'] ?>"> <?= $value[$i]['icon'] ?>  </span>
                                </div>
                                <div class="col-md-3 custom-width" onclick="eventsSettings.viewEvents(<?= $value[$i]['id'] ?>, 'inbox')">
                                    <span class="clr"><?= $value[$i]['by'] ?></span>
                                    <br>
                                    <div class=" smalltext">
                                        <span class="shrink half-width"><?= $value[$i]['subtype'] ?></span> |  <?php echo AnnouncementController::time_elapsed_string($value[$i]['createddt']); ?>
                                    </div>
                                    <span class=" smalltext"><i class="zmdi zmdi-time"></i>  <?= date('d M', strtotime($value[$i]['datetime'])) ?> <?= $value[$i]['todate'] ? ' - ' . $value[$i]['todate'] : '' ?></span>
                                </div>
                                <div class="col-md-8">
                                    <span class="shrink-text"><?= $value[$i]['message'] ?></span>
                                    <table class="actions" id="events_table_<?= $value[$i]['id'] ?>">
                                        <tbody>
                                            <tr>
                                                <td> 
                                                    <?php if ($statussearch == "Open") { ?>
                                                        <a data-layout="topRight" data-type="warning" onclick="eventsSettings.acceptEvents(<?= $value[$i]['id'] ?>, this)"  class="text small mute cursor forward"> 
                                                            <i class="zmdi zmdi-check"></i> Accept | 
                                                        </a> 
                                                        <a href="javascript:;"    onclick="announcementSettings.addComments(<?= $value[$i]['id'] ?>, 'events')" 
                                                           class="text small mute decline">
                                                            <i class="zmdi zmdi-comment-outline"></i>   <span id="events_count_<?= $value[$i]['id'] ?>"><?= count($event_comments) . '  Comment' . (count($event_comments) > 1 ? 's' : '') ?></span>
                                                        </a>   
                                                    <?php } elseif ($statussearch == "Closed") { ?>
                                                        <a class="text small mute forward"> 
                                                            <i class="zmdi zmdi-check"></i> Accepted
                                                        </a> 
                                                    <?php } ?>
                                                </td>
                                            </tr>   
                                        </tbody>
                                    </table> 

                                    <div class="commentblk " id="eventscomments_<?= $value[$i]['id'] ?>">
                                        <div class="card-block comments-div hide" id="comm-events-<?= $value[$i]['id'] ?>">
                                            <textarea placeholder="Type here" rows="3"  id="comment-events-<?= $value[$i]['id'] ?>"
                                                      activity_id ="<?= $value[$i]['id'] ?>" 
                                                      class="form-control shadow no-border"></textarea>

                                            <div class="padd5">
                                                <a href="javascript:;" type="events" data-layout="topRight" data-type="warning" onclick="announcementSettings.saveComments(<?= $value[$i]['id'] ?>, this)"><i class="fa fa-paper-plane-o"></i> Submit</a>
                                                &nbsp;&nbsp; &nbsp;&nbsp;<a href="javascript:;" type="events" data-layout="topRight" data-type="warning" onclick="announcementSettings.cancelComments(<?= $value[$i]['id'] ?>, this)"><i class="zmdi zmdi-close"></i> Cancel</a>
                                            </div>
                                            <br>  
                                            <div class="post-comments">
                                                <?php
                                                foreach ($event_comments as $cvalue) {
                                                    $namelist = StaffInfo::findFirstByLoginid($cvalue->comments_by);
                                                    $user = $namelist->Staff_Name;
                                                    ?>
                                                    <div class="media">
                                                        <a class="pull-left" href="javascript:;">
                                                            <span class="mini-stat-icon-small square   tar activity-circle">
                                                                <?php
                                                                if ($namelist->photo) {

                                                                    echo $this->tag->image(array(
                                                                        "src" => $namelist->photo ? (FILES_URI . $namelist->photo) : ('images/user.jpg')));
                                                                } else {
                                                                    ?> 
                                                                    <?= substr($user, 0, 1); ?>
                                                                <?php }
                                                                ?> 
                                                            </span> 
                                                        </a>
                                                        <div class="comment">
                                                            <div class="comment-author heading-font">
                                                                <a href="javascript:;" class="clr"><?= $user ?>  </a>
                                                                <span class="pull-right " style="color:#888;">
                                                                    <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $cvalue->modified_date)); ?></span>  
                                                            </div>
                                                            <p><?= $cvalue->comments ?> </p>
                                                            <hr class="pad10px">
                                                        </div>
                                                    </div>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <?php
                            if ($value[$i]['files']) {
                                $explode = array();
                                $storeFolder = UPLOAD_DIR . 'event/event_' . $value[$i]['id'];
                                $explode = scandir($storeFolder, 1);
                                $word = array("doc", "docx", "dotx", "docm", "dot", "docb");
                                $excel = array("xls", "xlsx", "xltx", "xlt", "xlsb", "xlsm");
                                $pdf = array("pdf");
                                $text = array("txt");
                                ?>
                                <div  style="padding: 15px;">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-8 attachmain">
                                        <?php
                                        foreach ($explode as $f1) {
                                            if (is_file(UPLOAD_DIR . "event/event_" . $value[$i]['id'] . '/' . $f1)) {
                                                $path_parts = pathinfo(UPLOAD_DIR . "event/event_" . $value[$i]['id'] . '/' . $f1);
                                                $fexp = $path_parts["extension"]; //explode('.', $f1);
                                                $fname = $path_parts['filename'];
                                                $f1new = str_replace(' ', '%20', $f1);
                                                if (exif_imagetype($this->url->get(UPLOAD_URI . "event/event_" . $value[$i]['id'] . '/' . $f1new)) > 0) {
                                                    ?>
                                                    <div  class="attach11">
                                                        <div  style="margin-right: 8px;">
                                                            <div class=" attachimg"><img class="imgatch" src="<?= $this->url->get(UPLOAD_URI . 'event/event_' . $value[$i]['id'] . '/' . $f1) ?>"  ></div>
                                                        </div>
                                                    </div>

                                                <?php } else { ?>
                                                    <div  class="attach11">
                                                        <div  class="attach1">
                                                            <div  class="attach2"><?= $fname ?></div>
                                                            <div class="attach5">
                                                                <?php if (in_array($fexp, $pdf)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_3_pdf_x32.png') ?>" class="attach3 " onclick="announcementSettings.dashboardFileDownload('event_<?= $value[$i]['id'] ?>_<?= $f1 ?>')" />
                                                                    <!--<span  class="attach4">PDF</span>-->
                                                                <?php } elseif (in_array($fexp, $excel)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_1_excel_x32.png') ?>" class="attach3 " onclick="announcementSettings.dashboardFileDownload('event_<?= $value[$i]['id'] ?>_<?= $f1 ?>')" />
                                                                      <?php } elseif (in_array($fexp, $word)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_1_word_x32.png') ?>" class="attach3 "  onclick="announcementSettings.dashboardFileDownload('event_<?= $value[$i]['id'] ?>_<?= $f1 ?>')"/>
                                                                      <?php } elseif (in_array($fexp, $text)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_1_text_x16.png') ?>" class="attach3 " onclick="announcementSettings.dashboardFileDownload('event_<?= $value[$i]['id'] ?>_<?= $f1 ?>')" />
                                                                      <?php } ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <?php
                                                }
                                            }
                                        }
                                        ?>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>

                        <?php
                    }
                    ?>
                    <?php
                    if ($value[$i]['type'] == 'Approval') {
                        $apprvmas = ApprovalMaster::findFirstById($value[$i]['id']);
                        ?>
                        <div class="result-item row" >

                            <div class="col-md-1" >
                                <span  class="mini-stat-icon  <?= $value[$i]['iconclr'] ?>"> <?= $value[$i]['icon'] ?>  </span>
                            </div>
                            <div class="col-md-3 custom-width">
                                <span class="clr"  onclick="approvalviewSettings.viewApprovalDetails(<?= $value[$i]['id'] ?>)"><?= $value[$i]['by'] ?></span>
                                <br>
                                <div class=" smalltext">
                                    <span class="shrink half-width">     <?= $value[$i]['subtype'] ?></span> |  <?php echo AnnouncementController::time_elapsed_string($value[$i]['createddt']); ?>
                                </div>
                                <span class=" smalltext"><?=  $value[$i]['item'] ?></span>
                            </div>
                            <div class="col-md-7">
                                <span class="shrink-text"><?= $value[$i]['message'] ?></span>
                                <?php $ids = explode(',', $value[$i]['topic']); ?>
                                <table class="actions ">
                                    <tbody>
                                        <?php if ($statussearch == "Open") { ?>
                                            <tr fromPage="allapproval" applicationId="<?= $ids[0] ?>" appitemID = "<?= $ids[1] ?>"
                                                appType ="<?= $ids[2] ?>" itemID ="<?= $ids[3] ?>">
                                                <td> <a href="javascript:;"  onclick="approvalSettings.forward(this)" class="text small mute forward"> 
                                                        <i class="zmdi zmdi-mail-reply"></i> Forward
                                                    </a> | </td>
                                                <td> <a href="javascript:;" onclick="approvalSettings.approve(this)" class="text small mute accept">
                                                        <i class="zmdi zmdi-check"></i>  Approve
                                                    </a> |</td>
                                                <td><a href="javascript:;" onclick="approvalSettings.reject(this)" class="text small mute decline">
                                                        <i class="zmdi zmdi-close"></i>  Reject
                                                    </a>     
                                                </td>
                                            </tr>  
                                            <?php
                                        }if ($statussearch == "Closed") {
                                            if ($apprvmas->approval_status == 'Approved') {
                                                ?>
                                                <tr> <td> <a class="text small mute decline"> 
                                                            <i class="zmdi zmdi-check"></i> Approved
                                                        </a></td>  </tr> 
                                            <?php } elseif ($apprvmas->approval_status == 'Rejected') { ?>
                                                <tr> <td> <a class="text small mute decline"> 
                                                            <i class="zmdi zmdi-close"></i> Rejected
                                                        </a></td>  </tr> <?php } ?>
                                        <?php } ?>
                                    </tbody>
                                </table> 
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <?php
                    }
                    ?>
                    <?php
                    if ($value[$i]['type'] == 'Task') {
                        $taskact = TaskActivities::findFirstById($value[$i]['id']);
                        $taskmaster = TaskMaster::findFirstById($taskact->task_id);
                        $comments = TaskActivities::find('task_id=' . $taskact->task_id . ' and comments != "" ORDER BY created_date desc');
                        ?>

                        <div class="result-item row" >
                            <div style="min-height:57px;" >
                                <div class="col-md-1">
                                    <span  class="mini-stat-icon  <?= $value[$i]['iconclr'] ?>"> <?= $value[$i]['icon'] ?>  </span>
                                </div>
                                <div class="col-md-3 custom-width"   onclick="announcementSettings.viewTasks(<?= $value[$i]['id'] ?>, 'inbox')"  >
                                    <span class="clr"><?= $value[$i]['by'] ?></span>
                                    <br>
                                    <div class=" smalltext">
                                        <span class="shrink half-width">     <?= $value[$i]['subtype'] ?></span> |  <?php echo AnnouncementController::time_elapsed_string($value[$i]['createddt']); ?>
                                    </div>
                                    <span class=" smalltext">
                                        <i class="zmdi zmdi-time"></i> <?= date('d M', strtotime($value[$i]['datetime'])) ?> -   <?= date('d M', strtotime($value[$i]['duedate'])) ?> </span> 
                                </div>
                                <div class="col-md-7">
                                    <span class="shrink-text"><?= $value[$i]['message'] ?></span>
                                    <?php $ctext = '<i class="fa fa-times"></i>  Comments'; ?>
                                    <table class="actions " id="task_table_<?= $value[$i]['id'] ?>">
                                        <tbody>
                                            <tr fromPage="allapproval" applicationId="<?= $ids[0] ?>" appitemID = "<?= $ids[1] ?>"
                                                appType ="<?= $ids[2] ?>" itemID ="<?= $ids[3] ?>">
                                                    <?php if ($taskmaster->status == 'Assigned' || $taskmaster->status == 'Forwarded') { ?>
                                                    <td> <a href="javascript:;" data-layout="topRight" data-type="warning"   onclick="announcementSettings.acceptTask(<?= $value[$i]['id'] ?>, 'Accept', this)" 
                                                            class="text small mute forward"> 
                                                            <i class="zmdi zmdi-check"></i> Accept
                                                        </a> | </td>
                                                    <td> <a href="javascript:;" data-layout="topRight" data-type="warning"   onclick="announcementSettings.forwardTask(<?= $value[$i]['id'] ?>, this)"  
                                                            class="text small mute accept">
                                                            <i class="zmdi zmdi-mail-reply"></i>  Forward
                                                        </a> |</td>
                                                    <td><a href="javascript:;"  data-layout="topRight" data-type="warning"  onclick="announcementSettings.acceptTask(<?= $value[$i]['id'] ?>, 'Decline', this)" 
                                                           class="text small mute decline">
                                                            <i class="zmdi zmdi-close"></i>  Decline
                                                        </a> |     
                                                    </td>
                                                    <td><a href="javascript:;" id="task_count_<?= $value[$i]['id'] ?> "   data-layout="topRight" data-type="warning"  onclick="announcementSettings.addComments(<?= $value[$i]['id'] ?>, 'task')" 
                                                           class="text small mute decline">
                                                            <i class="zmdi zmdi-comment-outline"></i> <span><?= '' . count($comments) . '  Comment' . (count($comments) > 1 ? 's' : '') ?></span> 
                                                        </a>     
                                                    </td>
                                                <?php } elseif ($taskmaster->status == 'Accepted') { ?>
                                                    <td><a href="javascript:;"  data-layout="topRight" data-type="warning"  onclick="announcementSettings.acceptTask(<?= $value[$i]['id'] ?>, 'Finish', this)"
                                                           class="text small mute decline">
                                                            <i class="zmdi zmdi-check-all"></i>  Finish
                                                        </a>     
                                                    </td>
                                                    <td><a href="javascript:;"   data-layout="topRight" data-type="warning"   onclick="announcementSettings.addComments(<?= $value[$i]['id'] ?>, 'task')"
                                                           class="text small mute decline">
                                                            <i class="zmdi zmdi-comment-outline"></i> <span> <?= count($comments) . '  Comment' . (count($comments) > 1 ? 's' : '') ?></span>
                                                        </a>    
                                                    </td>
                                                <?php } elseif ($taskmaster->status == 'Completed') { ?>
                                                    <td><a  class="text small mute decline">
                                                            <i class="zmdi zmdi-check-all"></i> Completed 
                                                        </a>    
                                                    </td>
                                                <?php } elseif ($taskmaster->status == 'Rejected') { ?>
                                                    <td><a  class="text small mute decline">
                                                            <i class="zmdi zmdi-close"></i> Rejected 
                                                        </a>    
                                                    </td>
                                                <?php } ?>
                                            </tr>   
                                        </tbody>
                                    </table>

                                    <div class="commentblk " id="taskcomments_<?= $value[$i]['id'] ?>">
                                        <div class="card-block comments-div hide" id="comm-task-<?= $value[$i]['id'] ?>">
                                            <textarea placeholder="Type here" rows="3"  id="comment-task-<?= $value[$i]['id'] ?>"
                                                      activity_id ="<?= $value[$i]['id'] ?>" 
                                                      class="form-control shadow no-border"></textarea>

                                            <div class="padd5">
                                                <a href="javascript:;" type="task" data-layout="topRight" data-type="warning" onclick="announcementSettings.saveComments(<?= $value[$i]['id'] ?>, this)"><i class="fa fa-paper-plane-o"></i> Submit</a>
                                                &nbsp;&nbsp; &nbsp;&nbsp;<a href="javascript:;" type="task" data-layout="topRight" data-type="warning" onclick="announcementSettings.cancelComments(<?= $value[$i]['id'] ?>, this)"><i class="zmdi zmdi-close"></i> Cancel</a>
                                            </div>
                                            <br>  
                                            <div class="post-comments">
                                                <?php
                                                foreach ($comments as $cvalue) {
                                                    if ($cvalue->type == 'staff') {
                                                        $namelist = StaffInfo::findFirstById($cvalue->task_from);
                                                        $user = $namelist->Staff_Name;
                                                    } else {
                                                        $namelist = StudentInfo::findFirstById($cvalue->task_from);
                                                        $user = $namelist->Student_Name;
                                                    }
                                                    ?>
                                                    <div class="media">
                                                        <a class="pull-left" href="javascript:;">
                                                            <span class="mini-stat-icon-small square   tar activity-circle">
                                                                <?php
                                                                if ($lname->photo) {

                                                                    echo $this->tag->image(array(
                                                                        "src" => $namelist->photo ? (FILES_URI . $namelist->photo) : ('images/user.jpg')));
                                                                } else {
                                                                    ?> 
                                                                    <?= substr($user, 0, 1); ?>
                                                                <?php }
                                                                ?> 
                                                            </span> 
                                                        </a>
                                                        <div class="comment">
                                                            <div class="comment-author heading-font">
                                                                <a href="javascript:;" class="clr"><?= $user ?>  </a>
                                                                <span class="pull-right " style="color:#888;">
                                                                    <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $cvalue->created_date)); ?></span>  
                                                            </div>
                                                            <p><?= $cvalue->comments ?> </p>
                                                            <hr class="pad10px">
                                                        </div>
                                                    </div>
                                                <?php } ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>      
                            </div>
                            <?php
                            if ($value[$i]['files']) {
                                $explode = array();
                                $storeFolder = UPLOAD_DIR . 'task/task_' . $taskmaster->id;
                                $explode = scandir($storeFolder, 1);
                                $word = array("doc", "docx", "dotx", "docm", "dot", "docb");
                                $excel = array("xls", "xlsx", "xltx", "xlt", "xlsb", "xlsm");
                                $pdf = array("pdf");
                                $text = array("txt");
                                ?>
                                <div  style="padding: 15px;">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-8 attachmain">
                                        <?php
                                        foreach ($explode as $f1) {
                                            if (is_file(UPLOAD_DIR . "task/task_" . $taskmaster->id . '/' . $f1)) {
                                                $path_parts = pathinfo(UPLOAD_DIR . "task/task_" . $taskmaster->id . '/' . $f1);
                                                $fexp = $path_parts["extension"]; //explode('.', $f1);
                                                $fname = $path_parts['filename'];


                                                $f1new = str_replace(' ', '%20', $f1);
                                                if (exif_imagetype($this->url->get(UPLOAD_URI . "task/task_" . $taskmaster->id . '/' . $f1new)) > 0) {
                                                    ?>
                                                    <div  class="attach11">
                                                        <div  style="margin-right: 8px;">
                                                            <div class=" attachimg"><img class="imgatch" src="<?= $this->url->get(UPLOAD_URI . "task/task_" . $taskmaster->id . '/' . $f1) ?>"  ></div>
                                                        </div>
                                                    </div>

                                                <?php } else { ?>
                                                    <div  class="attach11">
                                                        <div  class="attach1">
                                                            <div  class="attach2"><?= $fname ?></div>
                                                            <div class="attach5">
                                                                <?php if (in_array($fexp, $pdf)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_3_pdf_x32.png') ?>" class="attach3 " onclick="announcementSettings.dashboardFileDownload('task_<?= $taskmaster->id ?>_<?= $f1 ?>')" />
                                                                    <!--<span  class="attach4">PDF</span>-->
                                                                <?php } elseif (in_array($fexp, $excel)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_1_excel_x32.png') ?>" class="attach3 " onclick="announcementSettings.dashboardFileDownload('task_<?= $taskmaster->id ?>_<?= $f1 ?>')" />
                                                                      <?php } elseif (in_array($fexp, $word)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_1_word_x32.png') ?>" class="attach3 "  onclick="announcementSettings.dashboardFileDownload('task_<?= $taskmaster->id ?>_<?= $f1 ?>')"/>
                                                                      <?php } elseif (in_array($fexp, $text)) { ?>
                                                                    <img  src="
                                                                          <?= $this->url->get('images/files/icon_1_text_x16.png') ?>" class="attach3 " onclick="announcementSettings.dashboardFileDownload('task_<?= $taskmaster->id ?>_<?= $f1 ?>')" />
                                                                <?php } ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <?php
                                                }
                                            }
                                        }
                                        ?>
                                    </div>
                                </div>
                            <?php } ?>

                        </div>

                        <?php
                    }
                }
                ?>         
                <?php
            } else {
                ?> 
                <div align="center">No Activities Found </div>
            <?php }
            ?>
        </div> 
    </div> 
</div>
<script>
    $("#inboxDetails .scrollme").css({'minHeight': '306px', 'maxHeight': '385px'});
    $('#inboxCnt').text('(' +<?= $inbxcnt ?> + ')');
    $("#inboxDetails .scrollme").getNiceScroll().remove();
    $("#inboxDetails .scrollme").niceScroll({horizrailenabled: false});
</script>
