<div class="panel-body">
    <table id="staffdetails" cellspacing="0" class="table table-hover general-table">
        <thead>
            <tr>

                <th>Staff Name</th>
                <th>Appointment No</th>
                <th>Gender</th>
                <?php
                foreach ($mandnode as $node) {
                    echo '<th>' . ucfirst($node) . '</th>';
                }
                ?>
                <th>Date Of Birth</th>
                <th>Date Of Joining</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
