
<table id="staffdetails" cellspacing="0" class="table table-condensed table-hover general-table">
    <thead>
        <tr>
            <th>Staff Name</th>
            <th>Gender</th>
            <?php
            foreach ($mandnode as $node) {
                echo '<th>' . ucfirst($node) . '</th>';
            }
            ?>
            <th>Login</th>
            <th>Date Of Birth</th>
            <th>Date Of Joining</th>
            <th>Status</th>
        </tr>
    </thead>
</table>