<div class="commentblk " >
    <div class="card-block comments-div " id="comm-<?= $type ?>-<?= $id ?>">
        <input type="text" class="hide" id="count_<?= $type ?>_<?= $id ?>" value="<?= count($comments) ?>" />
        <textarea placeholder="Type here" rows="3"  id="comment-<?= $type ?>-<?= $id ?>"
                  activity_id ="<?= $id ?>" 
                  class="form-control shadow no-border"></textarea>
        <div class="padd5">
            <a href="javascript:;" type="<?= $type ?>" data-layout="topRight" data-type="warning" onclick="announcementSettings.saveComments(<?= $id ?>, this)"><i class="fa fa-paper-plane-o"></i> Submit</a>
            &nbsp;&nbsp; &nbsp;&nbsp;<a href="javascript:;" type="<?= $type ?>" data-layout="topRight" data-type="warning" onclick="announcementSettings.cancelComments(<?= $id ?>, this)"><i class="zmdi zmdi-close"></i> Cancel</a>
        </div>
        <br>  
        <div class="post-comments">
            <?php
            foreach ($comments as $cvalue) {
                if ($type == 'task' || $type == 'viewtask') {
                    $namelist = StaffInfo::findFirstById($cvalue->task_from);
                    $user = $namelist->Staff_Name;
                } else {
                    $namelist = StaffInfo::findFirstByLoginid($cvalue->comments_by);
                    $user = $namelist->Staff_Name;
                }
                ?>
                <div class="media">
                    <a class="pull-left" href="javascript:;">
                        <span class="mini-stat-icon-small square    tar activity-circle">
                            <?php
                            if ($namelist->photo) {

                                echo $this->tag->image(array(
                                    "src" => $namelist->photo ? (FILES_URI . $namelist->photo) : ('images/user.jpg')));
                            } else {
                                ?> 
                                <?= substr($user, 0, 1); ?>
                            <?php }
                            ?> 
                        </span> 
                    </a>
                    <div class="comment">
                        <div class="comment-author heading-font bold">
                            <a href="javascript:;" class="clr"><?= $user ?>  </a>
                            <span class="pull-right " style="color:#888;">
                                <?php
                                if ($type == 'task' || $type == 'viewtask') {
                                    $date = $cvalue->created_date;
                                } else {
                                    $date = $cvalue->modified_date;
                                }
                                echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $date));
                                ?></span>  
                        </div>
                        <p><?= $cvalue->comments ?> </p>
                        <hr class="pad10px">
                    </div>
                </div>
<?php } ?>
        </div>
    </div>
</div>