<?php $stfGen = StaffGeneralMaster::findFirstByStaffId($staffinfo->id); ?>

<div class="row" style="overflow-x:hidden; ">
    <div class="col-md-3">
        <aside class="profile-nav fixed_sidebar alt">
            <section class="panel">
                <div class="user-heading alt gray-bg">
                    <a href="#">
                        <?php echo $this->tag->image($photo_url) ?>
                    </a>
                    <h1><?php echo $staff_name; ?> </h1>
                     <p>
                        <?php
                        //print_r($stfclsdet);
                        foreach ($stfclsdet as $subdiv) {
                            echo $subdiv['name'] . ' - ' . $subdiv['value'] . '<br>';
                        }
                        ?>
                    </p>
                        <br> Appointment No : <b><em style="margin-left: 100px;"><?php echo $appointment_no ?></em></b>
                    </p>
                </div>
                
                <ul class="nav nav-pills nav-stacked">
                                     <li class="stud-calc1"><a href="javascript:;">
                                            <i class="fa fa-clock-o"></i> Date of Joining <span class="badge label-success pull-right r-activity"><?= date('d-m-Y', $staffinfo->Date_of_Joining) ?></span></a></li>
                                    <li class="stud-calc1"><a href="javascript:;">
                                            <i class="fa fa-anchor"></i> Appointment No <span class="badge label-warning pull-right r-activity"><?= $staffinfo->appointment_no ? $staffinfo->appointment_no : '-' ?> </span></a></li>
                               
                                    <li class="stud-calc1"><a href="javascript:;">
                                            <i class="fa fa-filter"></i> Category <span class="badge label-warning pull-right r-activity">
                                            <?php
                                                               echo 'staff';
                                                                ?> 
                                            </span></a></li>
                                    <li class="stud-calc1"><a href="javascript:;">
                                            <i class="fa fa-book"></i> Department <span class="badge label-warning pull-right r-activity"><?php
                                           $cntval=count($stfclsdet);
                                               echo $stfclsdet[$cntval-1]['value'];
                                                    ?> </span></a></li>
                               
                </ul>
            </section>

            

        </aside>

    </div>
       <div class="col-md-9">
        <div class="row">
    <div id="generalprofile" class="tab-pane ">
 
                        <div id="schedule" class="tab-pane ">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="well">
                                            <div class="row">
                                        <h4><div class="col-md-12">
                                                <span class="mini-stat-icon-profile yellow-b">
                                                    <i class="fa fa-graduation-cap"></i>
                                                </span>
                                                <label class="control-label" style="margin-top:10px;">Appointment Details</label>
                                            </div>  </h4><br><br>
                                                <div class="col-md-12">  
                                                <div class="col-md-12">          
                                                <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Academic Year') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?php // AcademicYearMaster::findFirstById($staffinfo->academic_year_id)->academic_year_name; ?> </p>
                                                        </div>
                                                    </div>
                                                    

                                                <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Category') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?php
                                                               echo 'staff';
                                                                ?> </p>
                                                        </div>
                                                    </div>


                                                <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Date of Joining') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= date('d-m-Y', $staffinfo->Date_of_Joining) ?> </p>
                                                        </div>
                                                    </div>
                                                    

                                                <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Department') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?php
                                                            $cntval=count($stfclsdet);
                                               echo $stfclsdet[$cntval-1]['value']; ?> </p>
                                                        </div>
                                                    </div>
                                                    
                                                <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Appointment No') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $staffinfo->appointment_no ? $staffinfo->appointment_no : '-' ?> </p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
            </div>
       </div>

</div>