<div class="widget-container margin-top-0 ">
    <div class="widget-content">
        <div class="recent-users">
            <div class="recent-users-list scrollme" >
                <?php
                $outbx = 0;
                if (count($outbox) > 0) {
                    $j = 0;
                    $infoexpand = '';
                    for ($i = 0; $i < count($outbox); $i++) {
                        if ($outbox[$i]['type'] == 'Announcement') {
                            $arr = array();
                            $ackldgid = $allloginIds = array();
                            $annc = Announcement::findFirstById($outbox[$i]['id']);
                            $annclist = AnnouncementTolist::find('announcement_id=' . $outbox[$i]['id']);
                            foreach ($annclist as $annl) {
                                $allloginIds[] = $annl->to;
                                if ($annl->status == 'Acknowledge'):
                                    $ackldgid[] = $annl->to;
                                endif;
                            }
                            foreach ($allloginIds as $loginids) {
                                $name = StaffInfo::findFirstByLoginid($loginids) ? StaffInfo::findFirstByLoginid($loginids)->Staff_Name :
                                        (StudentInfo::findFirstByLoginid($loginids) ? StudentInfo::findFirstByLoginid($loginids)->Student_Name :
                                                StudentInfo::findFirstByParentLoginid($loginids)->Student_Name . "'S Parent");
                                $arr[] = $name;
                            }
                            $idCheck = 0;
                            if (count($search_ids) > 0) {
                                if ($search_ids[0] == 'staff') {
                                    $stf_loginid = StaffInfo::findFirstById($search_ids[1])->loginid;
                                    if (!in_array($stf_loginid, $allloginIds)) {
                                        $idCheck = 1;
                                    }
                                }
                                if ($search_ids[0] == 'student') {
                                    $stu_loginid = StudentInfo::findFirstById($search_ids[1])->loginid;
                                    if (!in_array($stu_loginid, $allloginIds)) {
                                        $idCheck = 1;
                                    }
                                }
                                if ($search_ids[0] == 'parent') {
                                    $par_loginid = StudentInfo::findFirstById($search_ids[1])->parent_loginid;
                                    if (!in_array($par_loginid, $allloginIds)) {
                                        $idCheck = 1;
                                    }
                                } 
                            }
                            $pending = array_diff($allloginIds, $ackldgid);
                            if ((count($pending) != 0) && ($statussearch == 'Open') && ($idCheck == 0)) {
                                $infoexpand = $j++ == 0 ? 'info-expand' : '';
                                $outbx ++;
                                ?>
                                <div class="individual-user <?= $infoexpand ?>">
                                    <div class="user-intro">

                                        <div class="user-thumb"> 
                                            <span class="mini-stat-icon-small square  bg-terques" title="<?= $annc->type ?>" ><i class="fa fa-bullhorn"></i></span>
                                        </div>
                                        <div class="users-info">
                                            <ul>
                                                <li class="btn-group topic shrink-text shrink-text-77 small-font"><a href="javascript:;" class="" title="<?= implode(',', $arr) ?>"  onclick="announcementSettings.viewAnnouncement(<?= $outbox[$i]['id'] ?>, 'outbox')">
                                                        <?= count($arr) < 2 ? (implode(',', $arr)) : $arr[0] ?></a></li>
                                                <li class="u-location">
                                                    <?= $outbox[$i]['subtype'] ?> |  <?php echo AnnouncementController::time_elapsed_string($outbox[$i]['datetime']); ?> 
                                                    |  <label class="text text-warning"> <?= count($arr) . '/' . count($pending) ?> Pending</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="user-details-toggle"><i class="zmdi"></i></span>
                                    </div>
                                    <div class="users-details ">
                                        <p class="margin shrink-text" title=" "><?= $annc->message ?> </p>
                                    </div> 
                                </div>
                                <?php
                            } if ((count($pending) == 0) && ($statussearch == 'Closed') && ($idCheck == 0)) {
                                $n1 = array();
                                foreach ($valu2 as $v2) {
                                    $n1[] = StaffInfo::findFirstByLoginid($v2) ? StaffInfo::findFirstByLoginid($v2)->Staff_Name :
                                            (StudentInfo::findFirstByLoginid($v2) ? StudentInfo::findFirstByLoginid($v2)->Student_Name :
                                                    StudentInfo::findFirstByParentLoginid($v2)->Student_Name . "'S Parent");
                                }
                                $infoexpand = $j++ == 0 ? 'info-expand' : '';
                                $outbx ++;
                                ?>
                                <div class="individual-user <?= $infoexpand ?>">
                                    <div class="user-intro">
                                        <div class="user-thumb"> 
                                            <span class="mini-stat-icon-small square  bg-terques" title="<?= $annc->type ?>" ><i class="fa fa-bullhorn"></i></span>
                                        </div>
                                        <div class="users-info">
                                            <ul>
                                                <li class="btn-group topic shrink-text shrink-text-77 small-font"><a href="javascript:;" class="" title="<?= implode(',', $arr) ?>"  onclick="announcementSettings.viewAnnouncement(<?= $outbox[$i]['id'] ?>, 'inbox')">
                                                        <?= count($arr) < 2 ? (implode(',', $arr)) : $arr[0] ?></a></li>
                                                <li class="u-location">
                                                    <?= $outbox[$i]['subtype'] ?> |  <?php echo AnnouncementController::time_elapsed_string($outbox[$i]['datetime']); ?> 
                                                    |  <label class="text text-warning"> <?= count($arr) . '/' . count($pending) ?> Pending</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="user-details-toggle"><i class="zmdi"></i></span>
                                    </div>
                                    <div class="users-details ">
                                        <p class="margin shrink-text" title=" "><?= $annc->message ?> </p>
                                    </div> 
                                </div>
                                <?php
                            }
                        }
                        ?>
                        <?php
                        if ($outbox[$i]['type'] == 'Events') {
                            $arry = $allloginIds = $accptid = array();
                            $event = Events::findFirstById($outbox[$i]['id']);
                            $eventlist = EventsList::find('event_id=' . $outbox[$i]['id']);
                            foreach ($eventlist as $list) {
                                $allloginIds[] = $list->events_to;
                                if ($list->status == 'Accepted'):
                                    $accptid[] = $list->events_to;
                                endif;
                            }
                            foreach ($allloginIds as $loginids) {
                                $name = StaffInfo::findFirstByLoginid($loginids) ? StaffInfo::findFirstByLoginid($loginids)->Staff_Name :
                                        (StudentInfo::findFirstByLoginid($loginids) ? StudentInfo::findFirstByLoginid($loginids)->Student_Name :
                                                StudentInfo::findFirstByParentLoginid($loginids)->Student_Name . "'S Parent");
                                $arry[] = $name;
                            }
//                            $val1 = array_unique($allloginIds);
//                            $val2 = array_unique($accptid);
                            $event_pending = array_diff($allloginIds, $accptid);
                            $idCheck = 0;
                            if (count($search_ids) > 0) {
                                if ($search_ids[0] == 'staff') {
                                    $stf_loginid = StaffInfo::findFirstById($search_ids[1])->loginid;
                                    if (!in_array($stf_loginid, $allloginIds)) {
                                        $idCheck = 1;
                                    }
                                }
                                if ($search_ids[0] == 'student') {
                                    $stu_loginid = StudentInfo::findFirstById($search_ids[1])->loginid;
                                    if (!in_array($stu_loginid, $allloginIds)) {
                                        $idCheck = 1;
                                    }
                                }
                                if ($search_ids[0] == 'parent') {
                                    $par_loginid = StudentInfo::findFirstById($search_ids[1])->parent_loginid;
                                    if (!in_array($par_loginid, $allloginIds)) {
                                        $idCheck = 1;
                                    }
                                } 
                            }
                            if ((count($event_pending) != 0) && ($statussearch == 'Open') && ($idCheck == 0)) {
                                $infoexpand = $j++ == 0 ? ' info-expand' : '';
                                $outbx ++;
                                ?>
                                <div class="individual-user <?= $infoexpand ?>">
                                    <div class="user-intro">
                                        <div class="user-thumb"> 
                                            <span class="mini-stat-icon-small square  orange"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <div class="users-info">
                                            <ul>
                                                <li class="btn-group topic shrink-text shrink-text-77 small-font"><a  href="javascript:;" class="  "  title="<?= implode(',', $arry) ?>"  onclick="eventsSettings.viewEvents(<?= $outbox[$i]['id'] ?>, 'outbox')">
                                                        <?= count($arry) < 2 ? (implode(',', $arry)) : $arry[0] ?></a></li>
                                                <li class="u-location">
                                                    <?= $outbox[$i]['subtype'] ?> |     <?php echo AnnouncementController::time_elapsed_string($outbox[$i]['datetime']); ?>
                                                    | <label class="text text-warning"> <?= count($arry) . '/' . count($event_pending) ?> Pending</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="user-details-toggle"><i class="zmdi"></i></span>
                                    </div>
                                    <div class="users-details ">
                                        <p class="margin shrink-text" title=""><?= $event->description ?> </p>
                                    </div>
                                </div>
                                <?php
                            } if ((count($event_pending) == 0) && ($statussearch == 'Closed') && ($idCheck == 0)) {
                                $infoexpand = $j++ == 0 ? ' info-expand' : '';
                                $outbx ++;
                                ?>
                                <div class="individual-user <?= $infoexpand ?>">
                                    <div class="user-intro">
                                        <div class="user-thumb"> 
                                            <span class="mini-stat-icon-small square  orange"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <div class="users-info">
                                            <ul>
                                                <li class="btn-group topic shrink-text shrink-text-77 small-font"><a  href="javascript:;" class="  "  title="<?= implode(',', $arry) ?>"  onclick="eventsSettings.viewEvents(<?= $outbox[$i]['id'] ?>, 'inbox')">
                                                        <?= count($arry) < 2 ? (implode(',', $arry)) : $arry[0] ?></a></li>
                                                <li class="u-location">
                                                    <?= $outbox[$i]['subtype'] ?> |     <?php echo AnnouncementController::time_elapsed_string($outbox[$i]['datetime']); ?>
                                                    | <label class="text text-warning"> <?= count($arry) . '/' . count($event_pending) ?> Pending</label>   
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="user-details-toggle"><i class="zmdi"></i></span>
                                    </div>
                                    <div class="users-details ">
                                        <p class="margin shrink-text" title=""><?= $event->description ?> </p>
                                    </div>
                                </div> 
                                <?php
                            }
                        }
                        ?>
                        <?php
                        if ($outbox[$i]['type'] == 'Task') {
                            $taskact = TaskActivities::findFirstById($outbox[$i]['id']);
                            $task = TaskMaster::findFirstById($taskact->task_id);
                            $labelclass = ($taskact->status == 'Assigned') ? 'primary' : (($taskact->status == 'Accepted') ? 'success' :
                                            (($taskact->status == 'Forwarded') ? 'warning' : ($taskact->status == 'Completed' ? 'success' : 'danger')));
                            if ($taskact->type == 'staff') {
                                $toname = StaffInfo::findFirstById($taskact->task_to)->Staff_Name;
                            } else {
                                $toname = StudentInfo::findFirstById($taskact->task_to)->Student_Name;
                            }
                            $idCheck = 0;
                            if (count($search_ids) > 0) {
                                if ($search_ids[0] == 'staff') {
                                    if ($search_ids[1] != $taskact->task_to) {
                                        $idCheck = 1;
                                    }
                                } else {
                                    $idCheck = 1;
                                }
                            }
                            if (!in_array($taskact->status, array('Completed', 'Rejected')) && ($statussearch == 'Open') && ($idCheck == 0)) {
                                $infoexpand = $j++ == 0 ? ' info-expand' : '';
                                $outbx ++;
                                ?>
                                <div class="individual-user <?= $infoexpand ?>">
                                    <div class="user-intro">
                                        <div class="user-thumb"> 
                                            <span class="mini-stat-icon-small square yellow-b"><i class="fa fa-tasks"></i></span>
                                        </div>
                                        <div class="users-info">
                                            <ul>
                                                <li class="btn-group topic shrink-text shrink-text-77  small-font">
                                                    <a class="" href="javascript:;" title="<?= $toname ?>" onclick="announcementSettings.viewTasks(<?= $outbox[$i]['id'] ?>, 'outbox')">
                                                        <?= $toname ?></a></li>
                                                <li class="u-location">
                                                    <?= 'Task - ' . $task->type ?> |   <?php echo AnnouncementController::time_elapsed_string($outbox[$i]['datetime']); ?>
                                                    | <label class="text text-<?= $labelclass ?>"><?= $taskact->status ?></label> </li>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="user-details-toggle"><i class="zmdi"></i></span>
                                    </div>
                                    <div class="users-details">
                                        <p class="margin shrink-text" title=""><?= $task->message ?> </p>
                                    </div>
                                </div>
                                <?php
                            } if (in_array($taskact->status, array('Completed', 'Rejected')) && ($statussearch == 'Closed') && ($idCheck == 0)) {
                                $infoexpand = $j++ == 0 ? ' info-expand' : '';
                                $outbx ++;
                                ?>
                                <div class="individual-user <?= $infoexpand ?>">
                                    <div class="user-intro">
                                        <div class="user-thumb"> 
                                            <span class="mini-stat-icon-small square yellow-b"><i class="fa fa-tasks"></i></span>
                                        </div>
                                        <div class="users-info">
                                            <ul>
                                                <li class="btn-group topic shrink-text shrink-text-77  small-font">
                                                    <a class="" href="javascript:;" title="<?= $toname ?>" onclick="announcementSettings.viewTasks(<?= $outbox[$i]['id'] ?>, 'inbox')">
                                                        <?= $toname ?></a></li>
                                                <li class="u-location">
                                                    <?= 'Task - ' . $outbox[$i]['subtype'] ?>  |   <?php echo AnnouncementController::time_elapsed_string($outbox[$i]['datetime']); ?>
                                                    | <label class="text text-<?= $labelclass ?>"><?= $taskact->status ?></label> </li>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="user-details-toggle"><i class="zmdi"></i></span>
                                    </div>
                                    <div class="users-details">
                                        <p class="margin shrink-text" title=""><?= $task->message ?> </p>
                                    </div>
                                </div>
                                <?php
                            }
                        }
                    }
                } if ($outbx == 0) {
                    ?>
                    <div align="center"> No Activities Found </div>
                <?php } ?>
            </div>
        </div>
    </div>
</div>
<script>
    $("#outboxDetails .scrollme").css({'minHeight': '475px', 'maxHeight': '475px'});
    $('#outboxCnt').text('(' +<?= $outbx ?> + ')');
    $("#outboxDetails  .scrollme").getNiceScroll().remove();
    $("#outboxDetails  .scrollme").niceScroll();

    $(".user-details-toggle").each(function () {
        var $user = $(this).parents(".user-intro").next(".users-details");
        var $ui = $(this).children("i");
        if ($user.is(':visible')) {
            $ui.removeClass("zmdi-plus");
            $ui.addClass("zmdi-minus");
        } else {
            $ui.removeClass("zmdi-minus");
            $ui.addClass("zmdi-plus");
        }
    });

    $(".user-details-toggle").on("click", function () {
        var $user = $(this).parents(".user-intro").next(".users-details");
        var $ui = $(this).children("i");
        if ($user.is(':visible')) {
            $ui.removeClass("zmdi-minus");
            $ui.addClass("zmdi-plus");
            $user.slideUp();
        } else {
            $ui.removeClass("zmdi-plus");
            $ui.addClass("zmdi-minus");
            $user.slideDown();
        }
    });

</script>
<style>
</style>
