
<script>
    $(document).ready(function () {
        $('.doj_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            startDate: '+0d',
        });

        $('#dob').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            endDate: '+0d',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2

        });
    });

</script>
<script>
//     $(document).ready(function() {
//                                  
//       	var options = {};
//	$('#dob').datepicker(options);
//                    
//    });

    var params = {};
    params.staffid = '<?= $staffinfo->id ?>';
    params.department = '<?= '' //$staffinfo->Department   ?>';
    params.academicYrId = '<?= '' //$staffinfo->academic_year_id   ?>';
    console.log(params)
    $(document).ready(function () {

        var inputval = '';
        inputval = '<?= $input; ?>';

        // alert(inputval);
        /*Default view*/
        if (inputval == '' || inputval == 'schedule')
        {
            $("#schedule").show();
            $("#generalprofile").hide();
            $("#attendance").hide();
            $("#rating").hide();
            $("#settings").hide();
        }
        else if (inputval == 'rating')
        {
            $("#schedule").hide();
            $("#generalprofile").hide();
            $("#attendance").hide();
            $("#rating").show();
            $("#settings").hide();
            loadrating();
        }
        else if (inputval == 'attendance')
        {
            $("#schedule").hide();
            $("#generalprofile").hide();
            $("#attendance").show();
            $("#rating").hide();
            $("#settings").hide();

        }
        else if (inputval == 'general')
        {
            $("#schedule").hide();
            $("#generalprofile").show();
            $("#attendance").hide();
            $("#rating").hide();
            $("#settings").hide();

        }//settings

        /*Schedule View*/
        $("#schedule_section").click(function () {
            //    alert('res')
            $("#schedule").show();
            $("#generalprofile").hide();
            $("#attendance").hide();
            $("#rating").hide();
            $("#settings").hide();
        });
        /*Profile View*/
        $("#generalprofile_section").click(function () {

            $("#schedule").hide();
            $("#generalprofile").show();
            $("#attendance").hide();
            $("#rating").hide();
            $("#settings").hide();
        });
        /*Attendance View*/
        $("#attendance_section").click(function () {

            $("#schedule").hide();
            $("#generalprofile").hide();
            $("#attendance").show();
            $("#rating").hide();
            $("#settings").hide();
        });
        /*Rating View*/
        /* $("#rating_section").click(function() {
         $("#schedule").hide();
         $("#generalprofile").hide();
         $("#attendance").hide();
         $("#rating").show();
         $("#settings").hide();
         });*/
        /*Settings View*/
        $("#settings_section").click(function () {

            $("#schedule").hide();
            $("#generalprofile").hide();
            $("#attendance").hide();
            $("#rating").hide();
            $("#settings").show();
        });

        /*Rating View*/
        $("#rating_section").click(function () {

            $("#schedule").hide();
            $("#generalprofile").hide();
            $("#attendance").hide();
            $("#rating").show();
            $("#settings").hide();
            //ratingSettings.mainCatRatinInitial(params);
            //alert('test');
            loadrating();
        });


    });

    function loadrating()
    {
        $.ajax({
            type: "POST",
            url: commonSettings.staffAjaxurl + "/ratingView",
            data: params,
            dataType: "html",
            success: function (res) {
                $('#ratingTable').html(res);
                $("#ratingTable").show();
                $("#rating").show();
            }
        });
    }
</script>

<?php
$hidclass = '';
if ($input == 'general') {
    $hidclass = 'hide';
}
$stfGen = StaffGeneralMaster::findFirstByStaffId($staffinfo->id);
?>

<div class="row" style="overflow-x:hidden; ">
    <div class="col-md-3">
        <aside class="profile-nav fixed_sidebar alt">
            <section class="panel">
                <div class="user-heading alt gray-bg">
                    <a href="#">
                        <?php echo $this->tag->image($photo_url) ?>
                    </a>
                    <h1><?php echo $staff_name; ?> </h1>
                    <p>
                        <?php
                        //print_r($stfclsdet);
                        foreach ($stfclsdet as $subdiv) {
                            echo $subdiv['name'] . ' - ' . $subdiv['value'] . '<br>';
                        }
                        ?>
                    </p> 
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li class="stud-calc1"><a href="javascript:;">
                            <i class="fa fa-clock-o"></i> Date of Joining <span class="badge label-success pull-right r-activity"><?= date('d-m-Y', $staffinfo->Date_of_Joining) ?></span></a></li>
                    <li class="stud-calc1"><a href="javascript:;">
                            <i class="fa fa-anchor"></i> Appointment No <span class="badge label-warning pull-right r-activity"><?= $staffinfo->appointment_no ? $staffinfo->appointment_no : '-' ?> </span></a></li>

                    <li class="stud-calc1"><a href="javascript:;">
                            <i class="fa fa-filter"></i> Category <span class="badge label-warning pull-right r-activity">
                                <?php
                                echo 'staff';
                                ?> 
                            </span></a></li>
                    <li class="stud-calc1"><a href="javascript:;">
                            <i class="fa fa-book"></i> Department <span class="badge label-warning pull-right r-activity"><?php
                                $cntval = count($stfclsdet);
                                echo $stfclsdet[$cntval - 1]['value'];
                                ?> </span></a></li>

                </ul>
            </section>



        </aside>

    </div>
    <div class="col-md-9">
        <div class="row <?= $hidclass ?>">
            <div class="col-md-3">
                <div class="mini-stat clearfix "  tabactive ="schedule" id="schedule_section"> <!--onclick=" dashboardSettings.loadAttendanceChart(params);">-->
                    <span class="mini-stat-icon yellow-b"><i class="fa fa-clock-o"></i></span>
                    <div class="mini-stat-info">
                        <span>Schedule</span>
                    </div>
                </div>
            </div>
            <!--            <div class="col-md-25">
                            <div class="mini-stat clearfix " tabactive ="generalprofile" id="generalprofile_section" >   onclick=" dashboardSettings.loadMainexamChart(params);">
                                <span class="mini-stat-icon tar"><i class="fa fa-user"></i></span>
                                <div class="mini-stat-info">
                                    <span>Profile</span>
                                </div>
                            </div>
                        </div>-->
            <!--            <div class="col-md-25">
                            <div class="mini-stat clearfix "  tabactive ="attendance" id="attendance_section"> onclick=" dashboardSettings.loadAttendanceChart(params);">
                                <span class="mini-stat-icon orange"><i class="fa fa-calendar"></i></span>
                                <div class="mini-stat-info">
                                    <span>Attendance</span>
                                </div>
                            </div>
                        </div>-->
            <div class="col-md-3">
                <div class="mini-stat clearfix "  tabactive ="rating" id="rating_section"> <!--onclick="dashboardSettings.loadsubjRating(params);">-->
                    <span class="mini-stat-icon green"><i class="fa fa-star"></i></span>
                    <div class="mini-stat-info">
                        <span>Ratings</span>
                    </div>
                </div>
            </div>

        </div>

        <section class="panel">

            <div class="panel-body">
                <div class="tasi-tab">


                    <div id="schedule" class="tab-pane ">
                        <div class="col-md-12">


                            <div class="timeline-messages">
                                <h3>Handling Subjects</h3>
                                <?php
                                if ($subjectteacherexist) {
                                    ?>
                                    <!--<h3>Assignment</h3>-->
                                    <!-- Comment -->
                                    <?php
                                    $i = 0;
//                                     echo '<pre>';
//                                     print_r($subject_teacher_list);
//                                     exit;                                      
                                    foreach ($subject_teacher_list as $subject_teacher_val) {
                                        $bgclass = array('bg-red', 'bg-purple', 'bg-green', 'bg-yellow', 'bg-blue');
                                        $departmentval = '';
                                        $section = '';
                                        $standard = '';

//                                        if ($subject_teacher_val[0] != $standard) {
//                                            if ($i == 4)
//                                                $i = 0;
//
//                                            $clorcls = $bgclass[$i++];
//                                            $ival = $i;
//                                        }
//                                        else {
//                                            $clorcls = $bgclass[$ival];
//                                        }
                                        ?>
                                        <div class="msg-time-chat">
                                            <div class="message-body msg-in">
                                                <span class="arrow"></span>
                                                <div class="text">
                                                    <?php
                                                    $clschng = 1;
                                                    foreach ($subject_teacher_val as $subject_teacherval) {
                                                        ?>
                                                        <div class="<?php if ($clschng == 1)
                                                echo 'first';
                                            else
                                                echo 'second ';
                                            ?>">
                                                        <?= $subject_teacherval ?> 
                                                        </div>
                                                        <?php
                                                        $clschng++;
                                                    }
                                                    ?>

                                                </div>
                                            </div>
                                        </div> 

                                        <?php
                                    }
                                    ?> 
                                    <?php
                                } else {
                                    ?>
                                    <span class="text-muted">Not yet assigned with any subjects!</span>
    <?php
}
?>
                            </div>


                        </div>

                        <!-- Class Teacher -->
                        <div class="col-md-12">


                            <div class="timeline-messages">
                                <h3>Handling Classes</h3>
<?php
if ($class_teacher) {
    ?>
                                    <!--<h3>Assignment</h3>-->
                                    <!-- Comment -->
                                    <?php
                                    $i = 0;
//                                     echo '<pre>';
//                                     print_r($class_teacher);
//                                     exit;                                      
                                    foreach ($class_teacher as $class_teacher_val) {
                                        $bgclass = array('bg-red', 'bg-purple', 'bg-green', 'bg-yellow', 'bg-blue');
                                        $departmentval = '';
                                        $section = '';
                                        $standard = '';

//                                        if ($subject_teacher_val[0] != $standard) {
//                                            if ($i == 4)
//                                                $i = 0;
//
//                                            $clorcls = $bgclass[$i++];
//                                            $ival = $i;
//                                        }
//                                        else {
//                                            $clorcls = $bgclass[$ival];
//                                        }
                                        ?>
                                        <div class="msg-time-chat">
                                            <div class="message-body msg-in">
                                                <span class="arrow"></span>
                                                <div class="text">
                                                         <?php
                                                         $clschng = 1;
                                                         foreach ($class_teacher_val as $class_teacherval) {
                                                             ?>
                                                        <div class="<?php if ($clschng == 1)
                                                                 echo 'first';
                                                             else
                                                                 echo 'second';
                                                             ?>">
            <?= $class_teacherval ?> 
                                                        </div>
            <?php
            $clschng++;
        }
        ?>

                                                </div>
                                            </div>
                                        </div> 

                                        <?php
                                    }
                                    ?> 
    <?php
} else {
    ?>
                                    <span class="text-muted">Not yet assigned with any Class!</span>
                        <?php
                    }
                    ?>
                            </div>


                        </div>
                    </div>
<?php $stfGen = StaffGeneralMaster::findFirstByStaffId($staffinfo->id); ?>
                    <div id="generalprofile" class="tab-pane ">

                        <div id="schedule" class="tab-pane ">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="well">
                                        <div class="row">
                                            <h4><div class="col-md-12">
                                                    <span class="mini-stat-icon-profile yellow-b">
                                                        <i class="fa fa-graduation-cap"></i>
                                                    </span>
                                                    <label class="control-label" style="margin-top:10px;">Appointment Details</label>
                                                </div>  </h4><br><br>
                                            <div class="col-md-12">  
                                                <div class="col-md-12">          
                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Academic Year') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?php // AcademicYearMaster::findFirstById($staffinfo->academic_year_id)->academic_year_name;   ?> </p>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Category') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?php
echo 'staff';
?> </p>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Date of Joining') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= date('d-m-Y', $staffinfo->Date_of_Joining) ?> </p>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Department') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?php
$cntval = count($stfclsdet);
echo $stfclsdet[$cntval - 1]['value'];
?> </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Appointment No') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $staffinfo->appointment_no ? $staffinfo->appointment_no : '-' ?> </p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="well">
                                        <div class="row">
                                            <h4><div class="col-md-12">
                                                    <span class="mini-stat-icon-profile pink">
                                                        <i class="fa fa-bullseye"></i>
                                                    </span>
                                                    <label class="control-label" style="margin-top:10px;">Previous Profile</label>
                                                </div>  </h4><br><br>
                                            <div class="col-md-12">
                                                <div class="col-md-12">   

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Organization') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->organization ? $stfGen->organization : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Extra curricular Activities') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->extra_curricular ? $stfGen->extra_curricular : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Designation') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->designation ? $stfGen->designation : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Additional Qualifications') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->additional_qualifications ? $stfGen->additional_qualifications : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Classes Handling') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->classes_handling ? $stfGen->classes_handling : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>



                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Co-curricular Activities') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->co_curricular ? $stfGen->co_curricular : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Subjects Handling') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->subjects_handling ? $stfGen->subjects_handling : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>



                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Comments') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->comments ? $stfGen->comments : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Previous Work Experience (years)') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->experience ? $stfGen->experience : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="well">
                                        <div class="row">
                                            <h4><div class="col-md-12">
                                                    <span class="mini-stat-icon-profile tar">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <label class="control-label" style="margin-top:10px;">Personal Details </label>
                                                </div>  </h4><br><br>
                                            <div class="col-md-12">


                                                <!--                                                <div class="col-md-3 profile-information">
                                                                                                    <div class="profile-pic text-center">
<?php echo $this->tag->image($photo_url); ?>
                                                                                                    </div>
                                                                                                </div> -->
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Staff Name') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $staffinfo->Staff_Name ?> </p> 
                                                        </div>
                                                    </div>                

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label"><?= ('Address Line1') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $staffinfo->Address1 ?> </p>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Date of birth') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= date('d-m-Y', $staffinfo->Date_of_Birth) ?> </p> 
                                                        </div>
                                                    </div>



                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Address Line2') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $staffinfo->Address2 ?> </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Gender') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= ($staffinfo->Gender == 2) ? 'Male' : 'Female'; ?> </p> 
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('State') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $staffinfo->State ?> </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Qualification') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->qualification ? $stfGen->qualification : '-' ) : '-'; ?> </p> 
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Country') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?php echo CountryMaster::findFirstByCountryCode($staffinfo->Country)->country_name; ?> </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Nationality') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?php
echo $stfGen ? CountryMaster::findFirstByCountryCode($stfGen->nationality)->country_name : '';
?> </p> 
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Pin code') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $staffinfo->Pin ?> </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Email ID') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $staffinfo->Email ?> </p>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Phone Number') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $staffinfo->Mobile_No ?> </p>
                                                        </div>
                                                    </div>






                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="well">
                                        <div class="row">
                                            <h4><div class="col-md-12">
                                                    <span class="mini-stat-icon-profile orange-theme">
                                                        <i class="fa fa-group"></i>
                                                    </span>
                                                    <label class="control-label" style="margin-top:10px;">Family Details </label>
                                                </div>  </h4><br><br>
                                            <div class="col-md-12">
                                                <div class="col-md-12">     

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Spouse Name') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->spouse_name ? $stfGen->spouse_name : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Parent/Guardian Name') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->parent_name ? $stfGen->parent_name : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Spouse Occupation') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->s_occupation ? $stfGen->s_occupation : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Parent/Guardian Occupation') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->p_occupation ? $stfGen->p_occupation : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Spouse Designation') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->s_designation ? $stfGen->s_designation : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Parent/Guardian Designation') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->p_designation ? $stfGen->p_designation : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Spouse Phone') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->s_phoneno ? $stfGen->s_phoneno : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Parent/Guardian Phone') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->p_phoneno ? $stfGen->p_phoneno : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="well">
                                        <div class="row">
                                            <h4><div class="col-md-12">
                                                    <span class="mini-stat-icon-profile orange">
                                                        <i class="fa fa-medkit"></i>
                                                    </span>
                                                    <label class="control-label" style="margin-top:10px;">Medical Details </label>
                                                </div>  </h4><br><br>
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Blood Group') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->blood_group ? $stfGen->blood_group : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Other details') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stfGen ? ( $stfGen->medical_details ? $stfGen->medical_details : '-' ) : '-'; ?> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div id="rating" class="tab-pane ">
                        <div class="tabs tabs-style-linebox">

                            <div class="content-wrap" id="ratingParentTable"
                                 staff_id = "<?= $staffinfo->id ?>">

                                <div id="ratingTable"> </div><br>                          

                            </div>
                        </div>    <br>   
                    </div>




                </div>
            </div>
        </section>
    </div>
</div>



