

<div class="row">
    <div class="col-sm-12">
            <div class="panel-body">
                <?php   if ($ratingArr && count($ratingArr) > 0) {
					
				?>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr> 
								<th>Rating Category</th>
								<th>Rating Value</th>
                                                                <th>Points</th>
								<th>Ratings</th>
                                                                
							</tr>
						</thead>
                     <tbody>
                            <?php foreach ($ratingArr as $rowRat):
                                
								?> <tr>
							
                                     <td><?= $rowRat['rating_catgrynam']; ?></td>                               
                                    <td><?= $rowRat['rating_level_name']; ?></td>                               
                                     <td> <?php echo $rowRat['ratingPoints'] .'/'. $rowRat['ratingWeightage'];  ?></td>                                                                
                             
                               <td> <div class="ratingDiv" data-average="<?= (($rowRat['ratingPoints']*20)/$rowRat['ratingWeightage']) ?>" data-id="1"> </div>
                                   <span style="position: relative; left:20px; top: -18px;"> (<?= ($rowRat['ratingPoints']*100)/$rowRat['ratingWeightage'] ?> %) </span> 
                               </td>
							   
							   </tr>
                            <?php
							
							endforeach; 
							?>
                        </tbody>
                    </table>
                <?php }else { ?>
                    <div class="center scaffold">
                     <div class="alert alert-block alert-danger fade in">
                                <strong>Not found!</strong> Your performance not yet rated!
                            </div> 
                    </div>
                <?php } ?>
            </div>
        <!--</section>-->
    </div>
</div>

<script type="text/javascript">

    $(function() {

        $('.ratingDiv').jRating({
            isDisabled: true
        });
    });

</script>