<?php
echo $this->tag->javascriptInclude("js/extra/cycle/app.js");
echo $this->tag->javascriptInclude("js/appscripts/staff/staffSearch.js");
echo $this->tag->stylesheetLink("css/calendar.css");
?>

<script>
    $(document).ready(function () {

        $(".mini-stat.tabactive").unbind().on('click', function () {
            var activetab = $(this).attr('tabactive')
            console.log('clicked' + activetab)
            $('.nav li').removeClass('active')
            $('.nav li.' + activetab).addClass('active')
            $('.tab-pane').removeClass('active')
            $('#' + activetab).addClass('active')

        });

        $('#advance_section').on('click', function () {
            staffSearchSettings.loadStaffAdvanceSalary(<?= $staffinfo->id; ?>)
        });

        $('#leave_section').on('click', function () {
            staffSearchSettings.loadManageLeave()
        });

        $('.form_date').datetimepicker({
            format: 'mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 3,
            minView: 3,
            forceParse: 0
        });

        /*Attendance View*/
//        $("#attendance_section").click(function() {
//              $("#payroll").hide();
//              $("#attendance").show();
//         
//        });

    });
</script>



<div class="row">


    <div class="col-md-3">
        <div class="mini-stat clearfix tabactive"  tabactive ="attendance" id="attendance_section"> 

            <span class="mini-stat-icon orange"><i class="fa fa-calendar"></i></span>
            <div class="mini-stat-info">
                <span>Attendance</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix tabactive" tabactive ="stfAdvanceSalary" id="advance_section" > 

            <span class="mini-stat-icon tar"><i class="fa fa-suitcase"></i></span>
            <div class="mini-stat-info">
                <span>Advance</span>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="mini-stat clearfix tabactive" tabactive ="payroll_data" id="payroll_section" > 

            <span class="mini-stat-icon bg-yellow"><i class="fa fa-rupee"></i></span>
            <div class="mini-stat-info">
                <span>Payroll</span>
            </div>
        </div>
    </div>
    <?php if (isset($type) && $type == 'myprofile') { ?>

        <div class="col-md-3">
            <div class="mini-stat clearfix tabactive" tabactive ="leave_data" id="leave_section" > 

                <span class="mini-stat-icon bg-terques"><i class="fa fa-paper-plane"></i></span>
                <div class="mini-stat-info">
                    <span>My Leave</span>
                </div>
            </div>
        </div>
    <?php } ?>


</div>

<section class="panel" id="other_section">
    <div class="tab-content tasi-tab">

        <div id="attendance" class="tab-pane active">
            <div class="calendarAtt" style=" min-height: 1000px; "> 
                <div class="col-md-12">

                    <div class="event-calendar clearfix">
                        <div class="col-md-9 calendar-block">
                            <div class="clndr-controls">
                                <div class="clndr-control-button"  data-calendar-nav="prev">
                                    <span class="clndr-previous-button">
                                        <i class="fa fa-chevron-left"></i>
                                    </span>
                                </div>
                                <div class="monthname"></div>
                                <div class="clndr-control-button leftalign"  data-calendar-nav="next"> 
                                    <span class="clndr-next-button">
                                        <i class="fa fa-chevron-right"></i></span>
                                </div>
                            </div>
                            <div id="calendar"></div>
                        </div>
                        <div class="col-md-3 event-list-block">
                            <div class="cal-day">
                                <span>Today</span>
                                <?= date('l') ?>
                                <br><br>
                                <span>Holidays for <?= date('F, Y') ?></span>
                            </div>

                            <ul class="event-list">
                                <?php
                                $holidays_month = array();
                                $today = strtotime(date('d-m-Y'));
                                $holidays_month[] = date("m-Y", $today);
                                if ($attendanceHolidays != '') {
                                    foreach ($attendanceHolidays as $holiday) {
                                        $todayList = $holiday->date;
                                        if (in_array(date('m-Y', $todayList), $holidays_month)):
                                            ?>   

                                            <li><?= date('d F, Y', $todayList) ?>
                                                <a href="#" class="event-close">
                                                    <i class="fa fa-close"></i></a>
                                            </li>


                                            <?php
                                        endif;
                                    }
                                }
                                ?>

                            </ul>
                        </div>
                    </div>
                    <div class="legend_title">
                        <span>Legend</span>
                    </div>                        
                    <ul class="bar-legend">
                        <?php
                        if ($staff_att_legend != '') {
                            foreach ($staff_att_legend as $attVal) {
                                ?>
                                <li class="col-md-25"><span class="bar-legend-pointer"
                                                            style=" background-color: <?= $attVal->color ?>"></span><?= $attVal->attendancename ?></li>                                    
                                    <?php
                                }
                            }
                            ?>
                    </ul>

                </div>                        
            </div>
            <br> <br> <br> 

            <div id="attendanceTable"> </div>
        </div>

        <div id="stfAdvanceSalary" class="tab-pane ">  
            <!--  mainexam content goes here-->
            <div id="stfAdvanceSalarydiv" class=""></div>

        </div>

        <div id="payroll_data" class="tab-pane ">

            <section class="panel">
                <header class="panel-heading">
                    Payroll

                </header>
                <div class="panel-body">
                    <div class="col-md-9">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'staffSalaryForm')); ?>


                        <div class="form-group">
                            <label for=""  class="col-md-3 control-label">Month:</label>
                            <div class="col-md-8">
                                <?php
                                echo Phalcon\tag::hiddenfield(array("staffid",
                                    "Value" => $staffinfo->id));

                                echo Phalcon\Tag::textField(array("month",
                                    'class' => 'form-control form_date',
                                        //"value" => date('d-m-Y', time())
                                ));
                                ?>

                            </div>
                        </div> 


                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">  
                                <button class="btn btn-success pull-right" onclick="staffSearchSettings.loadStaffSalary()" type="button"> 
                                    Search
                                </button>   
                            </div>
                        </div>

                        </form>
                    </div>

                    <div id="payrollTable"> 

                    </div>

                </div>
            </section>
            <br>                          

        </div>

        <div id="leave_data" class="tab-pane ">  
            <div id="leaveDatadiv" class=""></div>
        </div>

    </div>

</section>



<script type="text/javascript">
    $(function () {
        calendarSettings.options.holidays = '<?= $staffattendanceEveJson ?>';
        calendarSettings.options.events_source = '<?php
                                echo $this->url->get('staff/getStaffAttendanceForMonth', array('staff_id' => $staffinfo->id))
                                ?>',
                calendarSettings.calendar = $('#calendar').calendar(calendarSettings.options);
        console.log(calendarSettings.calendar);
        $('.event').each(function () {
            $this = $(this);
            var myStringArray = this.className.split(' ');
            for (var i = 0; i < myStringArray.length; i++) {
                if (myStringArray[i].indexOf("event-custom") != -1) {
                    var color = myStringArray[i].replace("event-custom-", "");
                    //                    console.log($this.attr('data-original-title'))
                    $this.css('background-color', '#' + color)
                }

            }
        });
    });
</script>

