<div class="row">
    <div class="col-sm-12">
            <div class="panel-body">
                <?php   if (count($salary_earning_arr) > 0 && count($salary_detect_arr) > 0) {
					
				?>
                <span  class="label label-primary fee_text pull-right">Net Pay :
                <?= $netpay ? number_format($netpay, 2, '.', '') : '0.00' ?>
            </span>
                <br><br>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr> 
                                <th colspan="2" class="col-md-6">Earnings</th>
                                <th colspan="2" class="col-md-6">Detection</th>
                                                               
                                                                
							</tr>
                                                        
						</thead>
                     <tbody>
                        
                            <?php 
                            $earn_arr_cnt=count($salary_earning_arr);
                            $detct_arr_cnt=count($salary_detect_arr);
                            
                            $tot_earnings = 0;
                            $tot_detect = 0;
                            $mx_cnt=0;
                            
                            if($earn_arr_cnt < $detct_arr_cnt){
                                $mx_cnt = $detct_arr_cnt; 
                            }else{
                                $mx_cnt = $earn_arr_cnt;
                            }
                                
                            
                            for($i=0; $i < $mx_cnt; $i++):
                                
				$expld_earn = isset($salary_earning_arr[$i]) ? explode('-',$salary_earning_arr[$i]) : '-';	
                                $expld_detect = isset($salary_detect_arr[$i]) ? explode('-',$salary_detect_arr[$i]) : '-';	
                                
                                $tot_earnings +=  ($expld_earn != '-') ? $expld_earn[1] : 0 ;
                                $tot_detect += ($expld_detect != '-') ? $expld_detect[1] : 0 ;
                                ?> <tr>
							
                                     <td><?= ($expld_earn != '-') ? $expld_earn[0] : '-'; ?></td>                               
                                    <td><?= ($expld_earn != '-') ? number_format($expld_earn[1], 2, '.', '') : '-'; ?></td>  
                                    <td><?= ($expld_detect != '-') ? $expld_detect[0] : '-'; ?></td>   
                                    <td><?= ($expld_detect != '-') ? number_format($expld_detect[1], 2, '.', '') : '-'; ?></td>   
                                    
							   
							   </tr>
                            <?php
						
							endfor; 
							?>
                                                           <tr>
                                                               <td><b>Gross Pay</b></td>
                                                               <td> <b><?= ($tot_earnings > 0) ? number_format($tot_earnings, 2, '.', '') : '0.00'; ?></b></td>
                                                               <td><b>Loss Pay</b></td>
                                                               <td> <b><?= ($tot_detect > 0) ? number_format($tot_detect, 2, '.', '') : '0.00'; ?></b></td>
                                                               
                                                           </tr>
                        </tbody>
                    </table>
                <?php }else { ?>
                    <div class="center scaffold">
                     <div class="alert alert-block alert-danger fade in">
                                <strong>Not found!</strong> Your Payroll not yet generated!
                            </div> 
                    </div>
                <?php } ?>
            </div>
        <!--</section>-->
    </div>
</div>