<ul class="right-side-accordion">
    <li class="widget-collapsible">
        <a href="#" class="head widget-head red-bg active clearfix">
            <span class="pull-left">Tasks received <span class=" text text-<?= $revcls ?>"> (<?= $asscnt ?>)</span></span>
            <span class="pull-right widget-collapse"><i class="fa fa-minus"></i></span>
        </a>
        <?php
        if ($asscnt > 0) {
            ?>
            <ul class="widget-container" id="acceptDiv">
                <?php
                foreach ($taskItem as $value) {
                    $asstask = TaskActivities::findFirstById($value->id);
                    $tskmsg = TaskMaster::findFirstById($value->task_id);
                    $loginby = StaffInfo::findFirstById($asstask->initiator_id);
                    $hideaaevcls  = ($asstask->action == 1)?'hide':'';
                    if (($asstask->status == 'Assigned' && $asstask->task_to == $uid && $asstask->action != 1) ||
                            ($asstask->status == 'Forwarded' && $asstask->task_to == $uid && $asstask->action != 1)) {
                        ?>
                        <li class="tabel-full <?= $hideaaevcls ?>"> 
                            <span class="table-cel shrink shrink-text-14"><?= $tskmsg->message; ?> </span> |
                            <span class="table-cel shrink shrink-text-14"> <?= $loginby->Staff_Name; ?> </span> |
                            <span class="table-cel shrink shrink-text-14"> 
                                <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $asstask->created_date)); ?></span>
                            <span class="table-cel shrink shrink-text-14 text text-muted cursor" taskid='<?= $asstask->id ?>' 
                                  title="Accept"  onclick="announcementSettings.acceptTask('<?= $asstask->id ?>', 'Accept','','private')">
                                <i class="fa fa-check"></i></span>
                            <span class="table-cel shrink shrink-text-14 text text-muted cursor"
                                  taskid='<?= $asstask->id ?>' type="accept"
                               title="Decline"    onclick="announcementSettings.deleteTask(this)">
                                <i class="fa fa-close"></i></span>
                        </li> <?php
                    }
                }
                ?>
            </ul>

        <?php } else {
            ?>
            <ul class="widget-container"> <li>No new task(s) found  </li>  </ul>
        <?php } ?> 
    </li>
    <li class="widget-collapsible">
        <a href="#" class="head widget-head red-bg active clearfix">
            <span class="pull-left">Tasks accepted  <span class=" text text-<?= $acccls ?>"> (<?= $acccnt ?>)</span> </span>
            <span class="pull-right widget-collapse"><i class="fa fa-minus"></i></span>
        </a>
        <?php
        if ($acccnt > 0) {
            ?>
            <ul class="widget-container">
                <?php
                foreach ($taskItem as $value) {
                    $asstask = TaskActivities::findFirstById($value->id);
                    $tskmsg = TaskMaster::findFirstById($value->task_id);
                    $loginby = StaffInfo::findFirstById($asstask->initiator_id);
                    $hideevcls  = ($asstask->action == 1)?'hide':'';
                    if ($asstask->status == 'Accepted' && $asstask->task_to == $uid && $asstask->action != 1) {
                        ?>
                        <li class="tabel-full <?= $hideevcls ?>">
                            <span class="table-cel shrink shrink-text-14"><?= $tskmsg->message; ?> </span> |
                            <span class="table-cel shrink shrink-text-14"><?= $loginby->Staff_Name; ?> </span> |
                            <span class="table-cel shrink shrink-text-14">
                                <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $asstask->created_date)); ?> |</span>
                            <span class="table-cel shrink shrink-text-14 text text-muted cursor" taskid='<?= $asstask->id ?>'
                                title="Finish"    onclick="announcementSettings.acceptTask('<?= $asstask->id ?>', 'Finish','','private')"> 
                                <i class="zmdi zmdi-check-all"></i></span>
                        </li> <?php
                    }
                }
                ?> 
            </ul>
        <?php } else {
            ?>
            <ul class="widget-container"> 
                <li>No task(s) accepted</li>
            </ul>
        <?php } ?> 
    </li>
    <li class="widget-collapsible">
        <a href="#" class="head widget-head red-bg active clearfix">
            <span class="pull-left">Tasks gave out <span class=" text text-<?= $gavcls ?>"> (<?= $gavcnt ?>)</span></span>
            <span class="pull-right widget-collapse"><i class="fa fa-minus"></i></span>
        </a>
        <?php if ($gavcnt > 0) { ?>
            <ul class="widget-container">
                <?php
                foreach ($taskItem as $value) {
                    $asstask = TaskActivities::findFirstById($value->id);
                    $tskmsg = TaskMaster::findFirstById($value->task_id);
                    $loginby = StaffInfo::findFirstById($asstask->initiator_id);
                    $hidecls  = ($tskmsg->action == 1)?'hide':'';
                    if ($tskmsg->action != 1 && (($asstask->status == 'Assigned' && $asstask->initiator_id == $uid) ||
                            ($asstask->status == 'Forwarded' && $asstask->initiator_id == $uid) ||
                            ($asstask->status == 'Accepted' && $asstask->initiator_id == $uid) )) {
                        ?>
                        <li class="tabel-full <?= $hidecls ?>">
                            <span class="table-cel shrink shrink-text-14"> <?= $tskmsg->message; ?> </span>|
                            <span class="table-cel shrink shrink-text-14"> <?= $loginby->Staff_Name; ?></span> |
                            <span class="table-cel shrink shrink-text-14">
                                <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $asstask->created_date)); ?></span>
                            <span class="table-cel shrink shrink-text-14 text text-muted cursor" taskid='<?= $asstask->id ?>' type="gaveout" 
                                title="Hide"     onclick="announcementSettings.deleteTask(this)"> 
                                <i class="fa fa-trash-o"></i></span>
                        </li>
                        <?php
                    }
                }
                ?>  </ul>

        <?php } else {
            ?>
            <ul class="widget-container"> <li>No task(s) assigned to users  </li>  </ul>
                <?php } ?> 
    </li>
</ul><br><br>
<script>
    $('.widget-head').click(function (e) {
        var widgetElem = $(this).children('.widget-collapse').children('i');
        $(this)
                .next('.widget-container')
                .slideToggle('slow');
        if ($(widgetElem).hasClass('fa fa-minus')) {
            $(widgetElem).removeClass('fa fa-minus');
            $(widgetElem).addClass('fa fa-plus');
        } else {
            $(widgetElem).removeClass('fa fa-plus');
            $(widgetElem).addClass('fa fa-minus');
        }
        e.preventDefault();
    });
</script>