<?php
echo $this->tag->javascriptInclude('js/appscripts/home-work/homework.js');
echo $this->tag->stylesheetLink("css/appstyles/classroom-page.css");
$identity = $this->auth->getIdentity();
?>
<script type="text/javascript">
    $(document).ready(function () {
        $(".rightlink>li>a").unbind().on('click', function () {
            $('.rightlink > li').removeClass('active')
            $(this).parent().addClass('active')
            var activetab = $(this).attr('href')
            $('.tab-act').removeClass('active')
            $(activetab).addClass('active')

        });

        classroomSettings.loadCombination();
        $('#attendance_section').on('click', function () {
            classroomSettings.loadCombination();
        });
        $('#mainexam_section').on('click', function () {
            classroomSettings.loadXamCombination();
        });
        $('#classtest_section').on('click', function () {
            classroomSettings.loadTestCombination();
        });
        $('#assignment_section').on('click', function () {
            classroomSettings.loadAssignCombination();
        });
        $('#rating_section').on('click', function () {
            $('.rtingdiv').empty()
            classroomSettings.loadsubjRatCombination();
        });
        $('#clasRat_section').on('click', function () {
            $('.rtingdiv').empty()
            classroomSettings.loadclsRatCombination();
        });
        $('#studentvideos_section').on('click', function () {
            classroomSettings.loadVideoCombination();
        })


        //  $('#examReport_section').on('click', function () {
        //      classroomSettings.loadExamReport();
        //  })


        //  $('#clstestReport_section').on('click', function () {
        //      classroomSettings.loadClasTestReport();
        //   })
        $('#homework_section').on('click', function () {
            classroomSettings.loadsubjHomeworkCombination();
        })



//        $('#studentvideos_section').off();
    });
</script>



<div class="row">
    <div class="col-md-12">
        <div class="widget-wrap material-table-widget">

            <div class="widget-container margin-top-0">
                <div class="widget-content">
                    <div class="data-action-bar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="data-align-right">
                                    <ul class="rightlink">
                                        <li class="active"><a href="#attendance" id="attendance_section"><i class="fa fa-calendar"></i> Attendance</a></li>
                                        <li><a href="#mainexam_tabpane" id="mainexam_section"><i class="fa fa-book"></i> Main Exam</a></li>
                                        <li><a href="#classtest" id="classtest_section" ><i class="fa fa-pencil"></i> Class Test</a></li>
                                        <li><a href="#assignment" id="assignment_section"><i class="fa fa-list-alt"></i> Assignment</a></li>
                                        <li><a href="#rating" id="rating_section"><i class="fa fa-star"></i> Subject Ratings</a></li>
                                        <li><a href="#clasRat" id="clasRat_section"><i class="fa fa-star-half-empty"></i> Class Ratings</a></li>
                                        <li><a href="#homework" id="homework_section"><i class="fa fa-edit"></i>  Homework</a></li>
                                        <li><a href="#videos" id="studentvideos_section"><i class="fa fa-youtube-play"></i>  Videos</a></li>
                                    </ul>
                                    <!--<a href="#clear" class="clear-filter btn btn-link" title="clear filter">Clear Filter</a>-->

                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="panel" id="other_section">
                        <div class="tab-content tasi-tab">

                            <div id="attendance" class="tab-act tab-pane active">
                                <!--  attendance content goes here-->
                                <div id="attcombiDiv" class="hide"></div>
                            </div>

                            <div id="mainexam_tabpane" class="tab-act tab-pane ">  
                                <!--  mainexam content goes here-->
                                <div id="xamcombiDiv" class="hide"></div>

                            </div>

                            <div id="classtest" class="tab-act tab-pane ">
                                <!--classtest content goes here-->
                                <div id="tstcombiDiv" class="hide"></div>
                            </div>

                            <div id="assignment" class="tab-act tab-pane  ">
                                <!--assignment content goes here-->
                                <div id="assigncombiDiv" class="hide"></div>
                            </div>

                            <div id="rating" class="tab-act tab-pane ">
                                <!--rating content goes here-->
                                <div id="subjRating" class="hide rtingdiv"></div>
                            </div>
                            <div id="clasRat" class="tab-act tab-pane ">
                                <!--assignment content goes here-->
                                <div id="classRating" class="hide rtingdiv"></div>
                            </div>
                            <div id="videos" class="tab-act tab-pane ">
                                <!--assignment content goes here-->
                                <div id="videoscombiDiv" class="hide"></div>
                            </div>

                            <div id="examReport" class="tab-act tab-pane ">
                                <!--assignment content goes here-->
                                <div id="examReportDiv" class="hide"></div>
                            </div>


                            <div id="clstestReport" class="tab-act tab-pane ">
                                <!--assignment content goes here-->
                                <div id="clstestReportDiv" class="hide"></div>
                            </div>



                            <div id="homework" class="tab-act tab-pane ">
                                <!--assignment content goes here-->
                                <section class="panel">
                                    <div class="panel-body">
                                        <div id="subjhomeworkcombiDiv" class="hide"></div>
                                    </div>
                                </section>
                            </div>



                        </div>      
                    </section>
                </div>
            </div>
        </div>
    </div>
</div> 
<!--<div class="row">
    <div class="col-md-2">
        <div class="mini-stat clearfix tabactive"  tabactive ="attendance" id="attendance_section"> 

            <span class="mini-stat-icon orange"><i class="fa fa-calendar"></i></span>
            <div class="mini-stat-info">
                <span>Attendance</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="mini-stat clearfix tabactive" tabactive ="mainexam_tabpane" id="mainexam_section" > 

            <span class="mini-stat-icon tar"><i class="fa fa-book"></i></span>
            <div class="mini-stat-info">
                <span>Main Exam</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="mini-stat clearfix tabactive"  tabactive ="classtest" id="classtest_section">

            <span class="mini-stat-icon pink"><i class="fa fa-pencil"></i></span>
            <div class="mini-stat-info">
                <span>Class Test</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="mini-stat clearfix tabactive"  tabactive ="assignment" id="assignment_section">

            <span class="mini-stat-icon yellow-b"><i class="fa fa-list-alt"></i></span>
            <div class="mini-stat-info">
                <span>Assignment</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="mini-stat clearfix tabactive"  tabactive ="rating" id="rating_section">

            <span class="mini-stat-icon green"><i class="fa fa-star"></i></span>
            <div class="mini-stat-info">
                <span>Ratings</span>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="mini-stat clearfix tabactive"  tabactive ="homework" id="homework_section"> 
            <span class="mini-stat-icon orange-theme"><i class="fa fa-edit"></i></span>
            <div class="mini-stat-info">
                <span>Home Work</span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="mini-stat clearfix tabactive"  tabactive ="videos" id="studentvideos_section"> 
            <span class="mini-stat-icon bg-terques"><i class="fa fa-youtube-play"></i></span>
            <div class="mini-stat-info">
                <span>Videos</span>
            </div>
        </div>
    </div>
<?php if (in_array('ReportManager', $identity['role_name'])) { ?>
                         <div class="col-md-3">
                         <div class="mini-stat clearfix tabactive"  tabactive ="examReport" id="examReport_section"> 
                             <span class="mini-stat-icon orange-theme"><i class="fa fa-bookmark"></i></span>
                             <div class="mini-stat-info">
                                 <span>Main exam marks view </span>
                             </div>
                         </div>
                     </div>
                     <div class="col-md-3">
                         <div class="mini-stat clearfix tabactive"  tabactive ="clstestReport" id="clstestReport_section"> 
                             <span class="mini-stat-icon orange-theme"><i class="fa fa-pencil-square"></i></span>
                             <div class="mini-stat-info">
                                 <span>Class tests marks view</span>
                             </div>
                         </div>
                     </div>
<?php } ?>
        <div class="col-md-3">
            <div class="mini-stat clearfix tabactive"  tabactive ="awards" id="awards_section">
                <span class="mini-stat-icon orange-theme"><i class="fa fa-trophy"></i></span>
                <div class="mini-stat-info">
                    <span>Awards & Honors</span>
                </div>
            </div>
        </div>
</div>-->


