 
<?php
foreach ($org_value as $chilvalue) {
    $orgmaster = OrganizationalStructureMaster::findFirst('id= ' . $chilvalue->org_master_id );
    if ($orgmaster) {
        $orgvalueslist = OrganizationalStructureValues::find('org_master_id = ' . $orgmaster->id . ' and parent_id = ' . $orgvalueid);
        $mandatory = ($orgmaster->mandatory_for_admission == '1' && count($orgvalueslist) > 0 ) ? ' mandatory' : '';
        ?>
        <div class="form-group">
            <label for=""  class="col-sm-3 control-label <?= $mandatory ?>">Select <?= $orgmaster->name; ?>: </label>
            <div class="col-sm-6">
                <?php
                echo \Phalcon\Tag::select(
                        array(
                            'jaggregate_' . strtolower(str_replace(' ', '', $orgmaster->name)),
                            $orgvalueslist,
                            "using" => array("id", "name"),
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '',
                            'class' => 'form-control',
                            'title' => $orgmaster->name,
                            'onchange' => 'relievingSettings.loadjSubtree(this)'
                        )
                );
                ?>
            </div>   </div>

        <div class="subtreediv hide"></div>
        <?php
    }
}
?>





