

<?php
echo $this->tag->javascriptInclude("js/appscripts/relieving/relieving.js");
$varcols1 = 2 + count($mandnode) + 4;
for ($i = 0; $i < $varcols1; $i++)
    $varsort[] = $i;
?>

<script>

    relievingSettings.getStaff = function () {


        var stuSearchData = {};
        var params = {};
        stuSearchData.emptySearch = 1;
        $("#staffSearchForm").find('input,select').each(function () {
            if ($.trim($(this).val()) != 0 && $.trim($(this).val()) != '' && $.trim($(this).val()).length > 0) {
                stuSearchData.emptySearch = 0;
                stuSearchData[$(this).attr('name')] = $.trim($(this).val());
            }
        });


        params = stuSearchData;

        console.log(params);
        $.ajax({
            type: "POST",
            url: commonSettings.relievingAjaxurl + "/stftblhdr",
            dataType: "html",
            success: function (res) {
                $('#relieveStaffList').html(res);
                var tablectrl = '#stfRelievTable';

                var column = [];
                var sortingDisabled = [<?= implode(',', $varsort) ?>];
                $(tablectrl).dataTable({
//                "sDom": 'C<"clear">lrtip',
                    "sDom": '<"top"if>rt<"bottopm"p><"clear">',
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": commonSettings.relievingAjaxurl + '/loadRelieveStfData',
                    "sPaginationType": "full_numbers",
                    "iDisplayLength": commonSettings.NumberOfRecords,
                    // 'iDisplayStart':patientsapp.startIndex,
                    "aoColumnDefs": [{
                            "sDefaultContent": "",
                            "aTargets": column
                        }, {
                            "bSortable": false,
                            "sDefaultContent": "",
                            "aTargets": sortingDisabled
                        }],
                    "aaSorting": [[0, "desc"]],
                    "bLengthChange": false,
//                "bInfo": false,
                    "oLanguage": {
                        "sInfo": "<i class='fa fa-info activity-icon'></i> <i class='text-muted'><b>Showing _START_ to _END_ of _TOTAL_ Staffs</b></i>",
                        "sInfoFiltered": " ",
                    },
                    "fnServerData": function (surl, aoData, l) {
                        for (var key in params) {
                            aoData.push({
                                "name": key,
                                "value": params[key]
                            });
                        }
                        $.ajax({
                            dataType: "json",
                            type: "POST",
                            url: surl,
                            contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                            data: aoData,
                            success: l
                        });
                    },
                    "fnDrawCallback": function (o) {
                        if (o._iRecordsDisplay <= commonSettings.NumberOfRecords) {
                            $(tablectrl + '_paginate').hide();
                        }
                        $('.dataTables_filter').addClass('col-md-5');
                        $('.dataTables_filter').find('label').addClass('col-md-3').css('display', ' inline');
                        $('.dataTables_filter').find('input').addClass('form-control pull-right');
                    },
                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                        var rowText = '<tr>';

//                    rowText += '<td>';
//                    rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" >' + aData.appointment_no + '</span>';
//                    rowText += '</td>';

                        rowText += '<td class="student_name col-md-2">';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" >' + aData.Staff_Name + '</span>';
                        rowText += '</td>';

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.Gender + '</span>';
                        rowText += '</td>';

<?php foreach ($mandnode as $key => $mandnodeval) { ?>

                            rowText += '<td>';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + ((typeof (aData[<?= $key ?>]) != 'undefined') ? aData[<?= $key ?>] : '-') + '</span>';
                            rowText += '</td>';

<?php } ?>

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.loginid + '</span>';
                        rowText += '</td>';

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.Date_of_Joining + '</span>';
                        rowText += '</td>';


                        rowText += '<td>';
                        rowText += aData.status;
                        rowText += '</td>';


                        rowText += '<td>';
                        rowText += aData.Actions;
                        rowText += '</td>';

//                    rowText += '<td class="new-patient invoiceview sorting_1">';
//                    rowText +=  aData.Print;
//                    rowText += '</td>';


                        rowText += '</tr>';
                        var newRow = $(rowText);
                        $(nRow).html(newRow.html());
                        commonSettings.copyAttributes(newRow, nRow);
                        return nRow;
                    }
                });
            }
        });
    };


    relievingSettings.getStaff();
</script>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <header class="panel-heading">
                List staff from
            </header>
            <div class="panel-body">
                <div class="row">

                    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'staffSearchForm')); ?>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Appointment No:</label>
                        <div class="col-md-6">  
                            <input type="text" name="appointment_no" id="appointment_no" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Login ID:</label>
                        <div class="col-md-6">  
                            <input type="text" name="loginid" id="loginid" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Name:</label>
                        <div class="col-md-6">  

                            <input type="text" name="name" id="name" class="form-control"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-6">  
                            <input class="btn btn-success pull-right" type="button" value="Search"
                                   id="getliststaf" onclick='relievingSettings.getStaff()' />
                        </div>
                    </div>

                    </form>
                </div>
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading">
                Relieve staff
            </header>
            <div class="panel-body">
                <div id="relieveStaffList"></div>
            </div>
        </section>

    </div>
</div>
