<script>
    $(document).ready(function () {

                $('.form_date').datetimepicker({
                    format: 'dd-mm-yyyy',
                    language: 'en',
                    weekStart: 1,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    minView: 2,
                    forceParse: 0
                });
            });
    </script>
<section class="panel" id="relieveStaff">
    <div class="panel-body">
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'relieveStaffForm')); ?>
        <div class="center scaffold">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="dor" class="col-md-3 control-label">Relieve staff :</label>
                    <div class="col-md-6">  
                        <span class="form-control">

                            <?php echo $form->render("staffID", array('value' =>  $staff->id)); ?> 
                            <?= $staff->Staff_Name . " (" . $staff->appointment_no . ") " ?></span>  
                    </div>
                </div>
                <div class="form-group">
                    <label for="dor" class="col-md-3 control-label">Date of Relieving:</label>
                    <div class="col-md-6">  
                        <?php echo $form->render("dor", array('value' => date('d-m-Y', time()))) ?> 
                    </div>
                </div>

                <div class="form-group">
                    <label for="relievReason" class="col-md-3 control-label">Reason:</label>
                    <div class="col-md-6">  
                        <?php echo $form->render("relievReason") ?> 
                    </div>
                </div>
            </div>            
        </div>
        </form>
    </div>
</section>