
        <table id="stfRelievTable" cellspacing="0" width="100%" class="table  table-hover general-table">
            <thead>
                <tr>
<!--                    <th>Appointment No</th>-->
                    <th>Staff Name</th>
                    <th>Gender</th>
                    <?php //  print_r($nodes);
            //exit;
 foreach ($mandnode as $node){
     echo '<th>' . ucfirst($node) .'</th>';
 }
            
            ?>
                    <th>Login Id</th>
                    <th>Date of Appointment</th>
                    <th>Status</th>
                    <th>Actions</th>
<!--                    <th>Print</th>-->
                </tr>
            </thead>
            <tbody></tbody>
        </table>
       