<script>
    $(document).ready(function () {
        $('.form_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
//            startDate: '+0d',
        });
    });

</script>
<?php
$readonly = $isrelieved ? 'readonly' : '';
echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'relieveStudentForm'));
?>
<section class="panel" id="relieveStaff">
    <header class="panel-heading">
        Student relieving details
        <span class="tools pull-right">
             <?php if ($isrelieved->status == 'Initiated') { ?>
                <label class="btn btn-success pull-right" type="button" 
                       onclick="relievingSettings.loadForwardDetails(<?= $isrelieved->id ?>)"
                       id="stu_onitiate_status">Forward</label>  
             <?php } ?>
            <?php if ($isrelieved && !in_array($isrelieved->status, array('Relieved', 'Approved','Initiated'))): ?>
                <label class="btn btn-warning pull-right" type="button" itemID = "<?= $isrelieved->id ?>" appType = "8"  
                       onclick="relievingSettings.viewForwardDetails(this)"
                       id="stu_reliev_status"><?= $isrelieved->status ?></label>  
                   <?php endif; ?>

        </span>
    </header>
    <div class="panel-body">
        <div class="center scaffold">
            <div class="col-md-12">
                <?php
                //Traverse the form
                foreach ($form as $element) {
                    //Get any generated messages for the current element
                    $messages = $form->getMessagesFor($element->getName());

                    if (count($messages)) {
                        //Print each element
                        echo '<div class="messages">';
                        foreach ($messages as $message) {
                            echo $message;
                        }
                        echo '</div>';
                    }

                    echo ($element->getLabel()) ? '<div class="form-group">
                    <label for="' . $element->getName() . '" class="col-md-3 control-label mandatory">' . $element->getLabel() . '</label>
                    <div class="col-md-6">  ' : '';

//            print_r($element->getValidators());exit;
                    echo $element;
                    echo '    </div>
                </div>';
                }
                ?>
            </div>            
        </div>
    </div>
</section>

<!--<section class="panel" id=''>
    <header class="panel-heading">
        Student Joining class 
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">-->

<?php
$stu = StudentHistory::findFirst('id=' . $student->id . ' order by id asc');
$studentbranch = explode(',', $stu->aggregate_key);
foreach ($studentbranch as $aggreval) {
    $orgval = OrganizationalStructureValues::findFirstById($aggreval);
    $orgMaster = OrganizationalStructureMaster::findFirstById($orgval->org_master_id);
    ?>
    <!--<div class="form-group">-->
    <input type="hidden" name="jaggregate_<?= strtolower(str_replace(' ', '', $orgMaster->name)) ?>"
           id="jaggregate_<?= strtolower(str_replace(' ', '', $orgMaster->name)) ?>" value="<?= $aggreval ?>" /> 
    <!--                        <label for=""  class="col-sm-3  control-label"><?= $orgMaster->name ?></label>  
    <div class="col-sm-6">   <?= $orgval->name ?> </div> -->

    <!--</div>-->
<?php } ?>

<!--            </div>
        </div>
    </div>
</section>-->
<section class="panel" id=''>
    <header class="panel-heading">
        Student relieving class details
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <?php if (!$isrelieved || $isrelieved->status == "Rejected") { ?>
                    <?php
                    $stu = StudentMapping::findFirstById($student->id);
                    $studentbranch = explode(',', $stu->aggregate_key);
                    foreach ($studentbranch as $aggreval) {
                        $orgval = OrganizationalStructureValues::findFirstById($aggreval);
                        $orgMaster = OrganizationalStructureMaster::findFirstById($orgval->org_master_id);
                        ?><div class="form-group">
                            <input type="hidden" name="raggregate_<?= strtolower(str_replace(' ', '', $orgMaster->name)) ?>"
                                   id="jaggregate_<?= strtolower(str_replace(' ', '', $orgMaster->name)) ?>" value="<?= $aggreval ?>" /> 
                            <label for=""  class="col-sm-3  control-label"><?= $orgMaster->name ?></label>  
                            <div class="col-sm-6">   <?= $orgval->name ?> </div> 

                        </div>
                    <?php } ?>
                    
                    <?php
                } else {
                    $rstudentbranch = explode(',', $isrelieved->relieving_aggregate_key);
                    foreach ($rstudentbranch as $raggreval) {
                        $rorgval = OrganizationalStructureValues::findFirstById($raggreval);
                        $rorgMaster = OrganizationalStructureMaster::findFirstById($rorgval->org_master_id);
                        ?><div class="form-group">
                            <label for=""  class="col-sm-3  control-label"><?= $rorgMaster->name ?></label>  
                            <div class="col-sm-6">   <?= $rorgval->name ?> </div> 

                        </div>
                        <?php
                    }
                }
                ?>


                <div class="subtreediv hide"></div>
            </div>
        </div>
    </div>
</section>


<div class="form-group">
    <div class="col-md-9">  
        <?php if ($isrelieved->status == 'Relieved') { ?>
            <button class="btn btn-success pull-right" type="button"
                    onclick="relievingSettings.printTc()"  
                    id="stu_reliev_print">Print TC</button>
                <?php } else if ($isrelieved->status == 'Approved') { ?>        
            <button class="btn btn-success pull-right" type="button"
                    onclick="relievingSettings.relievStudentPermanently(this)"  
                    itemID = "<?= $isrelieved->id ?>"  id="stu_reliev_save">Relieve & print TC</button>
                <?php } else if (!$isrelieved || $isrelieved->status == "Rejected") { ?>   
            <button class="btn btn-success pull-right" type="button"
                    onclick="relievingSettings.relievStudent()"  
                    id="stu_reliev_initiate">Initiate relieving</button>
                    <i class="fa fa-spinner fa-spin hide loading_stu_reliev_initiate  pull-right"></i>
        <?php } ?>
    </div>
</div>
</form> 