<?php
echo $this->tag->javascriptInclude("js/profilesettings/toggle-init.js");
echo $this->tag->javascriptInclude("js/bootstrap-switch.js");
echo $this->tag->stylesheetLink("css/bootstrap-switch.css");
?>
<script>
    $(function () {
    $('.hideSwitch').on('switch-change', function (e, data) {
        var $element = $(data.el),
                value = data.value;
        relievingSettings.updateRelievingStatus($element);
    });
});
    </script>
    
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'studentRelieveForm', 'method' => 'post', 'enctype' => 'multipart/form-data')); ?>
        <section class="panel">
            <header class="panel-heading">                   
                Student  Relieving Conditions
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <table class="table  table-hover general-table">
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Condition Name</th>
                            <th>Condition Description</th>
                            <th>Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if ($fieldlist && count($fieldlist) > 0) {
                            foreach ($fieldlist as $field) :
                                $hchecked = $field->is_enabled == 1 ? 'checked' : '';
                                ?>  
                                <tr style="background-color: #F5F5F5;" itemid="<?= $field->id ?>">
                                    <td><?= $field->module ?></td>
                                    <td><?= $field->condition_name ?></td>
                                    <td><?= $field->condition_desc ?></td>
                                    <td>  <input type="checkbox" class="switch-small hideSwitch" <?= $hchecked ?> id="hideSwitch_<?= $field->id ?>"></td>
                                </tr>

                                <?php
                            endforeach;
                        }else {
                            ?>
                            <tr>
                                <td colspan="6">No Fields found</td>
                            </tr>
<?php } ?>
                    </tbody>
                </table>
            </div>
        </section>

        </form>
    </div>
</div>