<ul class="to-do-list" id="sortable-todo">
                
<?php  foreach ($relivstatus as $st ): ?>

<li class="clearfix">
                    <span class="drag-marker">
                    <i></i>
                    </span><div class="todo-check pull-left">
                        <label for="todo-check"><i class="fa fa-<?= ( $st->module_status==1)? 'check' : 'close' ?>   text-<?= ( $st->module_status==1)? 'success' : 'danger' ?>" style="
    font-size: 25px;
    margin-top: -4px;
"></i></label>
                    </div>
                    <p class="todo-title" style="  margin-right:0 !important;line-height: 1.5;">
                      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <?= $st->comments; ?>
                    </p>
                    <!--<div class="todo-actionlist pull-right clearfix">
                        <?php if( $st->module_status==1){ ?><a href="#" class="todo-done text-success"><i class="fa fa-check"></i></a>
			<?php }else{ ?>
                        <a href="#" class="todo-remove text-danger"><i class="fa fa-close"></i></a>
			<?php } ?>
                    </div>-->
                </li>
<?php endforeach; ?>
                
            </ul>
