<table class="table  table-hover general-table table-responsive " id="stafRelieveList">
    <thead>
        <tr>
<!--            <th>Appointment No</th>-->
            <th>Staff Name</th>
            <th>Gender</th>
            <?php //  print_r($nodes);
            //exit;
 foreach ($mandnode as $node){
     echo '<th>' . ucfirst($node) .'</th>';
 }
            
            ?>
            
            <th>Date of Joining</th>
             <th>Reason</th>
            <th>Relieving Status</th>
            <th>Forwarded History</th>
            <th>Actions</th>

        </tr>
    </thead>

    <tbody></tbody>
</table>
