<table class="table  table-hover general-table table-responsive " id="studentApplicationList">
    <thead>
        <tr>
<!--            <th>Application No</th>-->
            <th>Applicant Name</th>
            <th>Gender</th>
            <?php //  print_r($nodes);
            //exit;
 foreach ($mandnode as $node){
     echo '<th>' . ucfirst($node) .'</th>';
 }
            
            ?>
            
            <th>Date of birth</th>
            <th>Application Status</th>
            <th>Fee Status </th>
            <th>Forwarded History</th>
            <th>Actions</th>

        </tr>
    </thead>

    <tbody></tbody>
</table>
