<table class="table  table-hover general-table table-responsive " id="staffApplicationList">
    <thead>
        <tr>
<!--            <th>Appoinment No</th>-->
            <th>Name</th>
            <th>Gender</th>
            <?php //  print_r($nodes);
            //exit;
 foreach ($mandnode as $node){
     echo '<th>' . ucfirst($node) .'</th>';
 }
            
            ?>
            
            <th>Date of birth</th>
          
            <th>Appoinment Status</th>
            <th>Forwarded History</th>
            <th>Actions</th>

        </tr>
    </thead>

    <tbody></tbody>
</table>
