<?php
echo $this->tag->javascriptInclude("js/appscripts/approval/approval.js");
echo $this->tag->javascriptInclude("js/appscripts/application/application.js");
echo $this->tag->javascriptInclude("js/appscripts/approval-view/approvalview.js");
?>


<?php
$varcols1 = 2 + count($mandnode) + 5;
for ($i = 0; $i < $varcols1; $i++)
    $varsort[] = $i;
?>

<script>
    approvalviewSettings.loadApplicationList = function () {
        //  alert('test');

        console.log('im here app aproval')
        var applnSearchData = {};
        var params = {};
        var academic = "";
        applnSearchData.emptySearch = 1;
        //studentProfileSearchForm

        approvalviewSettings.request = 'call';

        $("#studentApplicationForm").find('input,select,textarea').each(function () {
            console.log($(this).attr('name') + ' : ' + $.trim($(this).val()))
            //if ($.trim($(this).val()) != 0 && $.trim($(this).val()) != '' && $.trim($(this).val()).length > 0) {
            applnSearchData[$(this).attr('name')] = $.trim($(this).val());
            applnSearchData.emptySearch = 0
            // }

        });

        params = applnSearchData;

        console.log(params);
        $.ajax({
            type: "POST",
            url: commonSettings.approvalViewAjaxurl + "/applicationTblHdr",
            dataType: "html",
            success: function (res) {
                $('#ApplicationTableDiv').html(res);
                var tablectrl = '#studentApplicationList';
                var sortingDisabled = [<?= implode(',', $varsort) ?>];
                approvalviewSettings.NumberOfRecords = 20;
                var appdynamicTabl = $(tablectrl).dataTable({
                    //"sDom": 'C<"clear">lrtip',
                    "sDom": '<"top"if>rt<"bottopm"p><"clear">',
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": commonSettings.approvalViewAjaxurl + '/loadApplicationData',
                    "sPaginationType": "full_numbers",
                    "iDisplayLength": approvalviewSettings.NumberOfRecords,
                    // 'iDisplayStart':patientsapp.startIndex,
                    "aoColumnDefs": [{
                            "sDefaultContent": "",
                            "aTargets": []
                        }, {
                            "bSortable": false,
                            "sDefaultContent": "",
                            "aTargets": sortingDisabled
                        }],
                    "aaSorting": [[0, "desc"]],
                    "bLengthChange": false,
                   //     "bInfo": false,
                    "oLanguage": {
                        "sInfo": "<i class='fa fa-info activity-icon'></i> <i class='text-muted'><b>Showing _START_ to _END_ of _TOTAL_ applications</b></i>",
                        "sInfoFiltered": " ",
                    },
                    "fnServerData": function (surl, aoData, l) {
                        for (var key in params) {
                            aoData.push({
                                "name": key,
                                "value": params[key]
                            });
                        }
                        $.ajax({
                            dataType: "json",
                            type: "POST",
                            url: surl,
                            contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                            data: aoData,
                            success: l
                        });
                    },
                    "fnDrawCallback": function (o) {
//                        if (o._iRecordsDisplay <= approvalviewSettings.NumberOfRecords) {
//                            $(tablectrl + '_paginate').hide();
//                        }
                        $('#studentApplicationList_info').addClass('col-md-5');
                        $('.dataTables_filter').addClass('col-md-5');
                        $('.dataTables_filter').find('label').addClass('col-md-3 search-txt1').css('display', ' inline');
                        $('.dataTables_filter').find('input').addClass('form-control pull-right search-tbox1');
                    },
                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {

                        var rowText = '<tr fromPage="StuApplication" applicationId="' + aData.application_id + '" appitemID = "'
                                + aData.approval_id + '" appType ="' + aData.approval_type_id + '" itemID ="' + aData.item_id + '">';

//                        rowText += '<td>';
//                        rowText += '<a href= "javascript:;" onclick="applicationSettings.viewAppDetails(' + aData.application_id + ')">';
//                        rowText += aData.application_no;
//                        rowText += '</a>';
//                        rowText += '</td>';


                        rowText += '<td class="student_name col-md-2">';
                        rowText += '<a href= "javascript:;" onclick="applicationSettings.viewAppDetails(' + aData.application_id + ')">';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" style="cursor:default;">' + aData.Student_Name + '</span>';
                        rowText += '</a></td>';

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.gender + '</span>';
                        rowText += '</td>';

<?php foreach ($mandnode as $key => $mandnodeval) { ?>

                            rowText += '<td>';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + ((typeof (aData[<?= $key ?>]) != 'undefined') ? aData[<?= $key ?>] : '-') + '</span>';
                            rowText += '</td>';

<?php } ?>

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.dob + '</span>';
                        rowText += '</td>';

                        rowText += '<td>';
                        rowText += '<span class="label label-' + aData.labelclass + ' label-mini">' + aData.approval_status + '</span>';
                        rowText += '</td>';

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.appfeestatus + '</span>';
                        rowText += '</td>';


                        rowText += '<td>';
                        rowText += '<a href="javascript:void(0)" onclick="approvalSettings.viewForwardDetails(this)"> <i class="fa fa-eye fa-2x"></i>  </a>';
                        rowText += '</td>';



                        rowText += '<td>';
                        rowText += aData.Actions;
                        rowText += '</td>';

                        rowText += '</tr>';
                        var newRow = $(rowText);
                        $(nRow).html(newRow.html());
                        commonSettings.copyAttributes(newRow, nRow);
                        return nRow;
                    }
                });

            }
        });
    }
    $(document).ready(function () {

        $('.form_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        approvalviewSettings.loadApplicationList();
    });




</script>
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Student Applications
                      <!--                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>-->
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'studentApplicationForm')); ?>



                        <div class="form-group">
                            <?php $fields = OrganizationalStructureMaster::findFirst('mandatory_for_admission =1 and cycle_node =1'); ?>
                            <label for=""  class="col-md-4   control-label"><?= $fields->name ?></label>  
                            <div class="col-md-8">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            'aggregate_' . strtolower(str_replace(' ', '', $fields->name)),
                                            OrganizationalStructureValues::find('org_master_id = ' . $fields->id),
                                            "using" => array("id", "name"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control',
                                            'title' => $fields->name,
                                            'onchange' => 'approvalviewSettings.loadSubtree(this)'
                                        )
                                );
                                ?>

                            </div> 

                        </div>
                        <div class="subtreediv hide"></div>


                        <div class="form-group">
                            <label for=""  class="col-md-4 control-label">From Date:</label>
                            <div class="col-md-8">
                                <?php
                                echo Phalcon\Tag::textField(array("fdate",
                                    'class' => 'form-control form_date',
                                        //"value" => date('d-m-Y', time())
                                ));
                                ?>

                            </div>
                        </div> 
                        <div class="form-group">
                            <label for=""  class="col-md-4 control-label">To Date:</label>
                            <div class="col-md-8">
                                <?php
                                echo Phalcon\Tag::textField(array("tdate",
                                    'class' => 'form-control form_date',
                                        // "value" => date('d-m-Y', time())
                                ));
                                ?>

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-8">  
                                <button class="btn btn-success pull-right" onclick="approvalviewSettings.loadApplicationList()" type="button"> 
                                    Search
                                </button>   
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Manage Approvals
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div id="ApplicationTableDiv" style="overflow:hidden"></div>
            </div>
        </section>
    </div>
</div>

<script>$('#ApplicationTableDiv').niceScroll()</script>


