<table class="table  table-hover general-table table-responsive " id="advanceApprovalList">
    <thead>
        <tr>
<!--                                <th>Appointment No</th>-->
                                <th>Name</th>
                                <?php //  print_r($nodes);
            //exit;
 foreach ($mandnode as $node){
     echo '<th>' . ucfirst($node) .'</th>';
 }
            
            ?>
				
                                <th>Status</th>
                                <th>Forward History</th>
                                <th>Actions</th>

        </tr>
    </thead>

    <tbody></tbody>
</table>
