<table class="table  table-hover general-table table-responsive " id="studentApplicationList">
    <thead>
        <tr>
          
            <th>Student Name</th>
              <th>Fee ID</th>
               <?php //  print_r($nodes);
            //exit;
 foreach ($mandnode as $node){
     echo '<th>' . ucfirst($node) .'</th>';
 }
            
            ?>
          
             <th>Fee Name</th>
              <th>Fee Amount</th>
<!--               <th>Requested By</th>
                <th>Requested Date</th>-->
             <th> Status</th>
            <th>Forwarded History</th>
            <th>Actions</th>

        </tr>
    </thead>

    <tbody></tbody>
</table>