<table class="table  table-hover general-table table-responsive " id="studentRelivList">
    <thead>
        <tr>
<!--            <th>Admission No</th>-->
            <th> Name</th>
            <th>Gender</th>
               <?php //  print_r($nodes);
            //exit;
 foreach ($mandnode as $node){
     echo '<th>' . ucfirst($node) .'</th>';
 }
            
            ?>
         
             <th> Status</th>
            <th>Forwarded History</th>
            <th>Checklist</th>
            <th>Actions</th>

        </tr>
    </thead>

    <tbody></tbody>
</table>
