 
<?php
foreach ($org_value as $chilvalue) {
    $orgmaster = OrganizationalStructureMaster::findFirst('id= '.$chilvalue->org_master_id.' and mandatory_for_admission =1');
    if($orgmaster):
    $orgvalueslist = OrganizationalStructureValues::find('org_master_id = ' . $orgmaster->id . ' and parent_id = ' . $orgvalueid);
    $mandatory = ($orgmaster->mandatory_for_admission =='1' && count($orgvalueslist)>0 )?' mandatory':'';
    ?>
    <div class="form-group">
        <label for=""  class="col-md-4 control-label">Select <?= $orgmaster->name; ?>: </label>
        <div class="col-md-8">
            <?php
            echo \Phalcon\Tag::select(
                    array(
                         'aggregate_'.strtolower(str_replace(' ', '', $orgmaster->name)),
                        $orgvalueslist,
                        "using" => array("id", "name"),
                        'useEmpty' => true,
                        'emptyText' => 'Select',
                        'emptyValue' => '',
                        'class' => 'form-control',
                        'title' =>  $orgmaster->name,
                        'onchange' => 'approvalviewSettings.loadSubtree(this)'
                    )
            );
            ?>
        </div>   </div>

    <div class="subtreediv hide"></div>
    <?php
        
    endif;
}
?>





