

<section class="panel">
    <header class="panel-heading">
        Manage Approvals
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <table class="table  table-hover general-table table-responsive " id="ApprovalList">
            <thead>
                <tr>
                    <th>Voucher Id</th>
                    <th>Voucher Item</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Amount</th>
                    <th> Status</th>
                    <th>Forwarded History</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</section>

<style>
    .bs-glyphicons li:hover {
        color: #fff;
        background-color: #563d7c;
    }

    ul{
        list-style: none;
    }
    .bs-glyphicons {
        margin-right: 0;
        margin-left: 0;
    }
    .bs-glyphicons {
        margin: 0 -10px 20px;
        overflow: hidden;
    }  
    .bs-glyphicons li {
        width: 12.5%;
        font-size: 12px;
    }
    .bs-glyphicons li {
        float: left;
        width: 25%;
        xheight: 115px;
        padding: 10px;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        background-color: #f9f9f9;
        border: 1px solid #fff;
    }
</style>