<?php
echo $this->tag->javascriptInclude("js/appscripts/approval.js");
echo $this->tag->javascriptInclude("js/appscripts/application.js");
echo $this->tag->javascriptInclude("js/approval-view/approvalview.js");
?>

<script type="text/javascript">
    $(document).ready(function () {
        $(".mini-stat.tabactive").unbind().on('click', function () {
            var activetab = $(this).attr('tabactive')
            console.log('clicked' + activetab)
            $('.nav li').removeClass('active')
            $('.nav li.' + activetab).addClass('active')
            $('.tab-pane').removeClass('active')
            $('#' + activetab).addClass('active')

        });
<?php if (in_array("AdvanceApproval", $identity['role_name'])) { ?>
            approvalviewSettings.loadAdvanceApprvl();
<?php } else if (in_array("LeaveApproval", $identity['role_name'])) { ?>
            approvalviewSettings.loadLeaveapprvl();
<?php } else if (in_array("SalaryApproval", $identity['role_name'])) { ?>
            approvalviewSettings.loadStaffSalryapprvl();
<?php } ?>

        $('#advanceapproval_section').on('click', function () {
            approvalviewSettings.loadAdvanceApprvl();
        });
        $('#leaveapproval_section').on('click', function () {
               approvalviewSettings.loadLeaveapprvl();
        });

        $('#stfsalarypproval_section').on('click', function () {
            approvalviewSettings.loadStaffSalryapprvl();
        });


    });
</script>
<div class="row">
    <?php if (in_array("AdvanceApproval", $identity['role_name'])) { ?>
        <div class="col-md-4">
            <div class="mini-stat clearfix tabactive"  tabactive ="advanceapprvl" id="advanceapproval_section"> 
                <span class="mini-stat-icon orange"><i class="fa fa-suitcase"></i></span>
                <div class="mini-stat-info">
                    <span>Advance Approval</span>
                </div>
            </div>
        </div>
    <?php } ?>

    <?php if (in_array("LeaveApproval", $identity['role_name'])) { ?>
        <div class="col-md-4">
            <div class="mini-stat clearfix tabactive" tabactive ="leaveapproval" id="leaveapproval_section" > 
                <span class="mini-stat-icon tar"><i class="fa fa-pagelines"></i></span>
                <div class="mini-stat-info">
                    <span>Leave Approval</span>
                </div>
            </div>
        </div>
    <?php } ?>

    <?php if (in_array("SalaryApproval", $identity['role_name'])) { ?>
        <div class="col-md-4">
            <div class="mini-stat clearfix tabactive" tabactive ="stfsalarypproval" id="stfsalarypproval_section" > 
                <span class="mini-stat-icon tar"><i class="fa fa-money"></i></span>
                <div class="mini-stat-info">
                    <span>Salary Approval</span>
                </div>
            </div>
        </div>
    <?php } ?>

</div>


<section class="panel" id="other_section">
    <div class="tab-content tasi-tab">

        <div id="advanceapprvl" class="tab-pane active">
            <!--  attendance content goes here-->
            <div id="advanceapprvlDiv" class="hide"></div>
        </div>

        <div id="leaveapproval" class="tab-pane ">  
            <!--  mainexam content goes here-->
            <div id="leaveapprovaldiv" class="hide"></div>

        </div>

        <div id="stfsalarypproval" class="tab-pane ">  
            <!--  mainexam content goes here-->
            <div id="stfsalaryapprovaldiv" class="hide"></div>

        </div>



    </div>      
</section>