<?php
echo $this->tag->javascriptInclude("js/appscripts/approval.js");
echo $this->tag->javascriptInclude("js/appscripts/application.js");
echo $this->tag->javascriptInclude("js/approval-view/approvalview.js");
echo $this->tag->javascriptInclude("js/feepayment/feepayment.js");
echo $this->tag->javascriptInclude("js/fee/fee.js");
$identity = $this->auth->getIdentity();
?>

<script type="text/javascript">
    $(document).ready(function () {
        $(".mini-stat.tabactive").unbind().on('click', function () {
            var activetab = $(this).attr('tabactive')
            console.log('clicked' + activetab)
            $('.nav li').removeClass('active')
            $('.nav li.' + activetab).addClass('active')
            $('.tab-pane').removeClass('active')
            $('#' + activetab).addClass('active')

        });

        approvalviewSettings.loadFeecancelApprvl();
        $('#feecancel_section').on('click', function () {
            approvalviewSettings.loadFeecancelApprvl();
        });
        $('#feeconcession_section').on('click', function () {
            approvalviewSettings.loadFeeConcessionapprvl();
        });

        $('#feeReqApprvl_section').on('click', function () {
            approvalviewSettings.loadFeeReqapprvl();
        });



//         
<?php if (in_array("FeeAssigningApproval", $identity['role_name'])) {
    ?>
            $('#feeReqApprvl_section').click();
<?php } ?>

<?php if (in_array("FeeConsessionApproval", $identity['role_name'])) {
    ?>
            $('#feeconcession_section').click();
<?php } ?>
<?php if (in_array("FeeCancelApproval", $identity['role_name'])) {
    ?>
            $('#feecancel_section').click();
<?php } ?>
    });
</script>
<div class="row">
    <?php
//         
    if (in_array("FeeCancelApproval", $identity['role_name'])) {
        ?>
        <div class="col-md-4">
            <div class="mini-stat clearfix tabactive"  tabactive ="feecancel" id="feecancel_section"> 

                <span class="mini-stat-icon orange"><i class="fa fa-suitcase"></i></span>
                <div class="mini-stat-info">
                    <span>Fee Cancel</span>
                </div>
            </div>
        </div>
    <?php } ?>
    <?php if (in_array("FeeConsessionApproval", $identity['role_name'])) {
        ?>
        <div class="col-md-4">
            <div class="mini-stat clearfix tabactive" tabactive ="feeconcession" id="feeconcession_section" > 

                <span class="mini-stat-icon tar"><i class="fa fa-pagelines"></i></span>
                <div class="mini-stat-info">
                    <span>Fee Concession</span>
                </div>
            </div>
        </div>
    <?php } ?>
    <?php if (in_array("FeeAssigningApproval", $identity['role_name'])) {
        ?>
        <div class="col-md-4">
            <div class="mini-stat clearfix tabactive" tabactive ="feeReqApprvl" id="feeReqApprvl_section" > 

                <span class="mini-stat-icon tar"><i class="fa fa-money"></i></span>
                <div class="mini-stat-info">
                    <span>Fee Assigning</span>
                </div>
            </div>
        </div>
    <?php } ?>




</div>

<section class="panel" id="other_section">
    <div class="tab-content tasi-tab">

        <div id="feecancel" class="tab-pane">
            <!--  attendance content goes here-->
            <div id="feecancelapprvlDiv" class="hide"></div>
        </div>

        <div id="feeconcession" class="tab-pane ">  
            <!--  mainexam content goes here-->
            <div id="feeconcessionapprovaldiv" class="hide"></div>

        </div>
        <div id="feeReqApprvl" class="tab-pane">  
            <!--  mainexam content goes here-->
            <div id="feeReqApprvldiv" class="hide"></div>

        </div>





    </div>      
</section>