<?php
echo $this->tag->javascriptInclude("js/appscripts/approval.js");
echo $this->tag->javascriptInclude("js/appscripts/application.js");
echo $this->tag->javascriptInclude("js/approval-view/approvalview.js");
?>

<?php

//print_r($mandnode);
//exit;
//$varcols = count($mandnode) + count($nodes) + 5;
$varcols1 = 2 + count($mandnode) + 4;
//$varcols2 = 5 + count($mandnode) + count($nodes) - 1;
//echo $varcols1. $varcols2;exit;
for ($i = 0; $i < $varcols1; $i++)
    $varsort[] = $i;
?>
<script>
approvalviewSettings.loadReliveStundentdet = function ()   {
        var applnSearchData = {};
        var params = {};
        var academic = "";
        applnSearchData.emptySearch = 1;
        //studentProfileSearchForm

        approvalviewSettings.request = 'call';

        $("#studentReliveForm").find('input,select,textarea').each(function () {
            console.log($(this).attr('name') + ' : ' + $.trim($(this).val()))
            //if ($.trim($(this).val()) != 0 && $.trim($(this).val()) != '' && $.trim($(this).val()).length > 0) {
                applnSearchData[$(this).attr('name')] = $.trim($(this).val());
                applnSearchData.emptySearch = 0
           // }

        });

        params = applnSearchData;

        console.log(params);
        $.ajax({
            type: "POST",
            url: commonSettings.approvalViewAjaxurl + "/loadRelieveStuTblHdr",
            dataType: "html",
            success: function (res) {
                $('#StudentRelivTableDiv').html(res);
                var tablectrl = '#studentRelivList';
                              var sortingDisabled = [<?= implode(',', $varsort) ?>];
                              approvalviewSettings.NumberOfRecords = 20;
                var appdynamicTabl = $(tablectrl).dataTable({
                    //"sDom": 'C<"clear">lrtip',
                    "sDom": '<"top"if>rt<"bottopm"p><"clear">',
                    "bProcessing": true,
                    "bServerSide": true,
                    "destroy": true,
                    "sAjaxSource": commonSettings.approvalViewAjaxurl + '/loadRelieveStuData',
                    "sPaginationType": "full_numbers",
                    "iDisplayLength": approvalviewSettings.NumberOfRecords,
                    // 'iDisplayStart':patientsapp.startIndex,
                    "aoColumnDefs": [ {
                        "sDefaultContent": "",
                        "aTargets": []
                    }, {
                        "bSortable": false,
                        "sDefaultContent": "",
                        "aTargets": sortingDisabled
                    }],
                    "aaSorting": [[0, "desc"]],
                    "bLengthChange": false,
                    //"bInfo": false,
                     "oLanguage":{
                        "sInfo":"<i class='fa fa-info activity-icon'></i> <i class='text-muted'><b>Showing _START_ to _END_ of _TOTAL_ Students</b></i>",
                        "sInfoFiltered": " ",
                    },
                    "fnServerData": function (surl, aoData, l) {
                        for (var key in params) {
                            aoData.push({
                                "name": key,
                                "value": params[key]
                            });
                        }
                        $.ajax({
                            dataType: "json",
                            type: "POST",
                            url: surl,
                            contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                            data: aoData,
                            success: l
                        });
                    },
                    "fnDrawCallback": function (o) {
//                        if (o._iRecordsDisplay <= approvalviewSettings.NumberOfRecords) {
//                            $(tablectrl + '_paginate').hide();
//                        }

                    $('.dataTables_filter').addClass('col-md-5');
                    $('.dataTables_filter').find('label').addClass('col-md-3 search-txt1').css('display', ' inline');
                    $('.dataTables_filter').find('input').addClass('form-control pull-right search-tbox1');
                    },
                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                        
                        var rowText = '<tr fromPage="StuRelievApplication" applicationId="' + aData.application_id + '" appitemID = "'
                                + aData.approval_id + '" appType ="' + aData.approval_type_id + '" itemID ="' + aData.item_id + '">';

//                        rowText += '<td>';
//                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" >';
//                        rowText += aData.admission_no;
//                        rowText += '</span>';
//                        rowText += '</td>';


                        rowText += '<td class="student_name col-md-2">';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" >' + aData.Student_Name + '</span>';
                        rowText += '</td>';

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.gender + '</span>';
                        rowText += '</td>';
                        
                        <?php foreach ($mandnode as $key=>$mandnodeval){ ?>

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + ((typeof(aData[<?= $key ?>]) != 'undefined') ? aData[<?= $key ?>] : '-') + '</span>';
                        rowText += '</td>';
                         
                         <?php } ?>
                             
                        //rowText += '<td>';
                        //rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.dateofjoin + '</span>';
                        //rowText += '</td>';

                        rowText += '<td>';
                        rowText += '<span class="label label-'+ aData.labelclass +' label-mini">' + aData.approval_status + '</span>';
                        rowText += '</td>';

                        rowText += '<td>';
                        rowText += '<a href="javascript:void(0)" onclick="approvalSettings.viewForwardDetails(this)"> <i class="fa fa-eye fa-2x"></i>  </a>';
                        rowText += '</td>';
                        rowText += '<td>';
                        rowText += aData.checklist;
                        rowText += '</td>';

                        rowText += '<td>';
                        rowText += aData.Actions;
                        rowText += '</td>';

                        rowText += '</tr>';
                        var newRow = $(rowText);
                        $(nRow).html(newRow.html());
                        commonSettings.copyAttributes(newRow, nRow);
                        return nRow;
                    }
                });
                
            }
        });
    }
   
    $(document).ready(function () {

        $('.form_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        
        approvalviewSettings.loadReliveStundentdet();
    });

</script>
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Relieve Students
                      <!--                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>-->
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
<?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'studentReliveForm')); ?>
                        

                        <div class="form-group">
                            <label for=""  class="col-md-4 control-label">From Date:</label>
                            <div class="col-md-8">
<?php
echo Phalcon\Tag::textField(array("fdate",
    'class' => 'form-control form_date',
        //"value" => date('d-m-Y', time())
));
?>

                            </div>
                        </div> 
                        <div class="form-group">
                            <label for=""  class="col-md-4 control-label">To Date:</label>
                            <div class="col-md-8">
<?php
echo Phalcon\Tag::textField(array("tdate",
    'class' => 'form-control form_date',
        // "value" => date('d-m-Y', time())
));
?>

                            </div>
                        </div>

                       
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-8">  
                                <button class="btn btn-success pull-right" onclick="approvalviewSettings.loadReliveStundentdet()" type="button"> 
                                    Search
                                </button>   
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Manage Approvals
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div id="StudentRelivTableDiv"></div>
            </div>
        </section>
    </div>
</div>




<script>
    

</script>
