<?php
echo $this->tag->stylesheetLink("css/appstyles/dashboard-page.css");
echo $this->tag->stylesheetLink("css/appstyles/task-page.css");
echo $this->tag->javascriptInclude("js/appscripts/approval-view/approvalview.js");
echo $this->tag->javascriptInclude("js/appscripts/approval/approval.js");
echo $this->tag->javascriptInclude('js/appscripts/application/application.js');
echo $this->tag->javascriptInclude('js/appscripts/application/manageApplication.js');
echo $this->tag->javascriptInclude('js/appscripts/relieving/relieving.js');
echo $this->tag->javascriptInclude('js/appscripts/relieving/relieving.js');
echo $this->tag->javascriptInclude('js/appscripts/appointment/appointment.js');
?>
<?php $stf_name = StaffInfo::findFirstById($appmaster->requested_by)->Staff_Name; ?>
<div id="dashboard-popup" >
    <div class="row" >
        <div class="result-item row col-md-12 padnormal">
            <div class="col-md-12 full-width"> 
                <span class="bold"><?= $appType->approval_type ?> </span>
                <div class=" smalltext">
                    <span class="shrink "><?= $stf_name ?> | <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $appmaster->requested_date)); ?></span> 
                </div>
                <br>
                <table class="actions">
                    <tbody>
                        <tr fromPage="ApprovalView" applicationId="<?= $application->id ?>" appitemID = "<?= $appmaster->id ?>"
                            appType ="<?= $appType->id ?>" itemID ="<?= $appmaster->Item_id ?>">
                                <?php if (!in_array($appmaster->approval_status, array('Approved', 'Rejected'))) { ?>
                                <td> <a  action="view" href="javascript:;"  onclick="approvalSettings.forward(this)" class="text small mute forward"> 
                                        <i class="zmdi zmdi-mail-reply"></i> Forward
                                    </a> | </td>
                                <td> <a action="view" href="javascript:;" onclick="approvalSettings.approve(this)" class="text small mute accept">
                                        <i class="zmdi zmdi-check"></i>  Approve
                                    </a> |</td>
                                <td><a action="view"  href="javascript:;" onclick="approvalSettings.reject(this)" class="text small mute decline">
                                        <i class="zmdi zmdi-close"></i>  Reject
                                    </a>     
                                </td>
                            <?php } else { ?>
                                <td><a  class="text small mute decline">
                                        <i class="zmdi zmdi-<?= $appmaster->approval_status == 'Approved' ? 'check-all' : 'close' ?>"></i><?= $appmaster->approval_status ?>
                                    </a> 
                                </td>
                            <?php } ?> 
                        </tr>
                    </tbody>
                </table> 
             
                <div class="commentblk ">
                    <div class="card-block comments-div ">
                        <div id="commentsscroll">
                            <div class="post-comments" >
                                <?php
                                if (count($appHistory) > 0) {
                                    foreach ($appHistory as $items) {
                                        $namelist = StaffInfo::findFirstById($items->created_by);
                                        $user = $namelist->Staff_Name;
                                        ?>
                                        <div class="media">
                                            <a class="pull-left" href="javascript:;">
                                                <span class="mini-stat-icon-small square   tar activity-circle">
                                                    <?php
                                                    if ($namelist->photo) {
                                                        echo $this->tag->image(array(
                                                            "src" => $namelist->photo ? (FILES_URI . $namelist->photo) : ('images/user.jpg')));
                                                    } else {
                                                        ?> 
                                                        <?= substr($user, 0, 1); ?>
                                                    <?php }
                                                    ?> 
                                                </span> 
                                            </a>
                                            <div class="comment">
                                                <div class="comment-author heading-font">
                                                    <a href="javascript:;" > <?= $items->status ?>  by <b><?= $user ?> </b> </a>
                                                    <span class="pull-right " style="color:#888;">
                                                        <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $items->created_date)); ?></span>  
                                                </div>
                                                <p> <span class="smalltext" ><?= $items->comments ?></span></p>
                                                <hr class="pad10px">
                                            </div>
                                        </div>
                                        <?php
                                    }
                                }
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
                   <?php
                if ($appType->approval_type == 'Relieving(student)') {
                    $studrelieving = StudentRelievingMaster::findFirstById($appmaster->Item_id);
                    $stud = StudentInfo::findFirstById($studrelieving->student_id);
                    ?>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for=""  class="col-md-8  control-label">Student Name</label>  
                            <div class="col-md-4 justify"><?= $stud->Student_Name ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-8  control-label left ">Date of Admission</label>  
                            <div class="col-md-4 justify"><?= date('d-m-Y', $studrelieving->admission_date) ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-8  control-label left ">Class</label>  
                            <div class="col-md-4 justify"><?= StaffController::getDepartment(explode(',', $studrelieving->relieving_aggregate_key)); ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-8  control-label left ">Date when the student left the school</label>  
                            <div class="col-md-4 justify"><?= date('d-m-Y', $studrelieving->scl_left_date) ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-8  control-label left ">Conduct & Character of the student</label>  
                            <div class="col-md-4 justify"><?= $studrelieving->stdcharacter ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-8  control-label left ">Whether completed the course successfully</label>  
                            <div class="col-md-4 justify"><?= $studrelieving->course_complete == 1 ? 'No' : 'Yes' ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-8  control-label left ">Course completion details</label>  
                            <div class="col-md-4 justify"><?= $studrelieving->course_comp_det ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-8  control-label left ">Reason</label>  
                            <div class="col-md-4 justify"><?= $studrelieving->reason ?></div>
                        </div>
                    </div>
                    <?php
                } if ($appType->approval_type == 'Application') {
                    $application = Application::findFirstById($appmaster->Item_id);
                    ?>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for=""  class="col-md-4  control-label left">Application No</label>  
                            <div class="col-md-8 justify"><?= $application->application_no ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-4  control-label left">Student Name</label>  
                            <div class="col-md-8 justify"><?= $application->Student_Name ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-4  control-label left ">Date of Birth</label>  
                            <div class="col-md-8 justify"><?= date('d-m-Y', $application->Date_of_Birth) ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-4  control-label left ">Gender</label>  
                            <div class="col-md-8 justify"><?= $application->Gender == 1 ? 'Female' : 'Male' ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-4  control-label left ">Class</label>  
                            <div class="col-md-8 justify"><?= StaffController::getDepartment(explode(',', $application->aggregate_key)); ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-4  control-label left ">Phone</label>  
                            <div class="col-md-8 justify"><?= $application->Phone ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-4  control-label left ">Email</label>  
                            <div class="col-md-8 justify"><?= $application->Email ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-4  control-label left bold">Address</label>  
                            <div class="col-md-8 justify"><?php
                                $country = CountryMaster::findFirst('country_code="' . $application->Country . '"')->country_name;
                                echo $application->Address1 . ',' .
                                $application->Address2 . ',' . $application->State . ',' . $country . '-' . $application->Pin
                                ?></div>
                        </div>
                    </div>
                    <?php
                } if ($appType->approval_type == 'Appointment' || $appType->approval_type == 'Relieving(staff)') {
                    $staff = StaffInfo::findFirstById($appmaster->Item_id);
                    $staffmas = StaffGeneralMaster::findFirst('staff_id=' . $staff->id);
                    ?>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for=""  class="col-md-6  control-label left ">Staff Name</label>  
                            <div class="col-md-6 justify"><?= $staff->Staff_Name ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-6  control-label left ">Date of Birth</label>  
                            <div class="col-md-6 justify"><?= date('d-m-Y', $staff->Date_of_Birth) ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-6  control-label left ">Gender</label>  
                            <div class="col-md-6 justify"><?= $staff->Gender == 1 ? 'Female' : 'Male' ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-6  control-label left ">Date of Joining</label>  
                            <div class="col-md-6 justify"><?= date('d-m-Y', $staff->Date_of_Joining) ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-6  control-label left ">Department</label>  
                            <div class="col-md-6 justify"><?= StaffController::getDepartment(explode(',', $staff->aggregate_key)); ?></div>
                        </div>
                        <div class="col-md-12">
                            <label for=""  class="col-md-6  control-label left ">Category</label>  
                            <div class="col-md-6 justify"><?= $staffmas->catg_id == 1 ? 'Teaching' : 'Non-Teaching' ?></div>
                        </div>
                        <?php if ($appType->approval_type == 'Appointment') { ?>
                            <div class="col-md-12">
                                <label for=""  class="col-md-6  control-label left ">Address</label> 
                                <?php $country = CountryMaster::findFirst('country_code="' . $staff->Country . '"')->country_name; ?>
                                <div class="col-md-6 justify"><?= $staff->Address1 . ',' . $staff->Address2 . ',' . $staff->State . ',' . $country . '-' . $staff->Pin ?></div>
                            </div>
                        <?php } ?>
                        <?php if ($appType->approval_type == 'Relieving(staff)') { ?>
                            <div class="col-md-12">
                                <label for=""  class="col-md-6  control-label left ">Staff Name</label>  
                                <div class="col-md-6 justify"><?= $staffmas->relieving_reason ?></div>
                            </div>
                        <?php } ?>
                    </div>
                <?php }
                ?>
            </div>
        </div>
    </div>
</div>