
<section class="panel">
    <header class="panel-heading">
        Add/Update MAIN EXAM MARK
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <?php
                    if (!$errorMessage) {
                        foreach ($combinations as $key => $combival) {

                            $exp_combival = explode("-", $combival);
                            $subdivsval = $exp_combival;
                            $subdivs = array_shift($subdivsval);
                            ?>  
                            <div class="col-md-2">
                                <div class="stats-counter inactive combispan" id = "span_<?= $key ?>" 
                                     teacherType ="<?= $type ?>"   onclick = "markSettings.loadExams(this)">
                                    <span class="mini-stat-icon yellow-b"><?= $exp_combival[0] ?></span>
                                    <h6><?= implode('-', $subdivsval) ?></h6>
                                </div>
                            </div>
        <?php
    }
} else {
    ?>                      

                        <div class = "center scaffold">
                            <span><div class="alert alert-block alert-danger fade in"><?= $errorMessage ?></div></span>
                        </div>                            
<?php } ?>
                </div>
            </div>
            <div class="col-md-12 hide" id="stuExamList"> </div>
            <div class="col-md-12 hide" id="stuMarkList"> </div>
        </div>
    </div>
</section>
