<!--<div id="add_class_test_msg"></div>-->
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <header class="panel-heading">
                Select Subject to Add Marks
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <?php if (!$errorMessage) { ?>
                                    <!--<label for = "" class = "col-md-2 control-label">Select Subject:</label>-->
                                    <?php
                                    foreach ($combinations as $key => $combival) {
                            //print_r (explode("-",$combival));
$exp_combival= explode("-",$combival);
$subdivsval = $exp_combival;
//print_r ($exp_combival);
$subdivs = array_shift($subdivsval);
                                        ?>
                                    <div class="col-md-2">
                        <div class="stats-counter inactive combispan" id = "span_<?= $key ?>" teacherType ="<?= $type ?>" cdate ="<?= date('Y-m-d', time()) ?>"
                                  onclick = "markSettings.loadClassTestMark(this)">
				<span class="mini-stat-icon orange-theme"><?= $exp_combival[0] ?></span>
                                <h6 class="col-md-12"><?= implode('-', $subdivsval) ?></h6>
				<!--<h6><?= $exp_combival[1] ?> - <?= $exp_combival[2] ?> - <?= $exp_combival[3] ?></h6>-->
<!--				<h6><?= $exp_combival[2] ?></h6>
				<h6><?= $exp_combival[3] ?></h6>-->
			</div>
                    </div>
<!--                                        <span class="btn btn-round btn-primary inactive combispan"
                                              id = "span_<?= $key ?>" teacherType ="<?= $type ?>" cdate ="<?= date('Y-m-d', time()) ?>"
                                              onclick = "markSettings.loadClassTestMark(this)"><?= $combival ?></span>                                -->
                                              <?php
                                          }
                                      } else {
                                          ?>
                                    <div class = "center scaffold">
                                        <span><div class="alert alert-block alert-danger fade in"><?= $errorMessage ?></div></span>
                                    </div>                            
                                <?php } ?>
                            </div>                           
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">

                            </div>       
                        </div>                 
                    </div>
                </div>                       
            </div>
        </section>       
    </div>
</div>
<div id='loadClassTest'class='hide'></div>
<div id='loadClassTestStudents'class='hide'></div>

<div id = 'viewclasstest' class='hide'></div>   