

<table  border="0" class="table general-table" id="clsTestrpt">
    <thead class="thead_default">
        <tr style="height:100px;">
            <?php
            if (count($tests) > 0):
                foreach ($tests as $test):
                    ?>
                    <td>
                        <div class="form-group">
                            <label class="control-label">
                              <?= (strlen($test['testname']) > 15 ? substr($test['testname'],0,15)."..." : $test['testname']) ?> 
                            </label><br>
                            <div class="col-md-12">                                 
                                <span class="label label-success" title="<?= $test['outoff'] ?>"
                                          style="display: inline-block; width: 100px;"> 
                                
                                         <?= $test['outoff'] ?>
                                    </span>


                            </div>
                        </div> </td>
                    <?php
                endforeach;
            endif;
            ?> 
            <td>
                <span class="pull-right"
                      onclick="classroomSettings.closeClasstestReport()" style="cursor: pointer;"><i class="fa fa-close"></i>
                </span>
            </td>
        </tr>
    </thead>
    <tbody>
        <?php
        if (count($studentMarkList) > 0) {
            foreach ($studentMarkList as $stum) {
                ?>
                <tr>
                    <?php
                    if (count($tests) > 0):
                        foreach ($tests as $key => $test):
                            ?>
                            <td>
                                <label class="label label-primary" style="display: inline-block; width: 100px;"> 
                                                   <?= $stum[$key]['ObtainedMarks'] ?>  
                                </label>
                                </td>
                            <?php
                        endforeach;
                    endif;
                    ?>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>

<!------------------------------------------------------------------------------------------>
<script>   
  //  $('#clsTestrpt tbody tr').height(max);
 //   $('#assignmentlisttbl tbody tr').height(max);

        var max = 100
        markSettings.updateHeight(max, 'classlisttbl', 'clsTestrpt')
        markSettings.updateHeight(max, 'classlisttbl', 'clsTestMark')

</script>
