 <section class="panel">

        <div class="panel-body"> 
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-3">Select Exam</label>
                    <div class="col-md-5">
                        <?php
                        echo \Phalcon\Tag::Select(
                                array(
                                    "mainexamsId",
                                    $mainexams,
                                    "using" => array("id", "exam_name"),
                                    'useEmpty' => false,
                                    'emptyText' => 'Select',
                                    'emptyValue' => '0',
                                    'class' => 'form-control',
                                    'onchange' => 'markSettings.getStudentList(this.value)'
                                )
                        );
                        ?>

                    </div>
                </div>
            </div>
        </div>
 </section>
<script type="text/javascript">
    markSettings.getStudentList(<?= $mainexams[0]->id ?>)
   </script>