
<?php
if (count($students) > 0) {
    $mainexOtof = MainexamMarks::findFirst('mainexam_id = ' . $mainExId
                    . ' and subject_id = ' . $subsujectid .
                            ' and grp_subject_teacher_id = ' . $master_id);
    ?>

<table id="markStuTable" frame="box" class="table general-table  " style=" border-color: #ddd;">
        <thead class="thead_default">
            <tr style="">
                
                <th class="col-md-4">
        <div class="form-group">
            <span style="text-align: center;">
           <?= $title ?>  <br>   Total Marks:</span><br>
                <div class="col-md-6" style="margin-left: 33%;">
                <?php
                echo Phalcon\Tag::textField(
                        array(
                            'class' => 'form-control totalMark',
                            'name' => 'MainTotalMarks',
                            'onBlur' => 'markSettings.updateMainExamMarkTotal(this)',
                            'value' => $mainexOtof->outof
                ));
                ?> 
                <input type="hidden" id="mainexTotVal" value="<?= $mainexOtof->outof ?> " />
            </div>
            <i class="fa fa-spinner fa-spin hide loading_<?= $mainExId ?>"></i>
            <i class="fa fa-check green hide done_<?= $mainExId ?>"></i>
        </div>
    </th>
    <th class="col-md-5">
        <div class="form-group">
            <span style="text-align: center;">
                   <?= $title ?>  <br> Contributed Mark 
            </span>
            <br>
                <div class="col-md-6" style="margin-left: 33%;">
                <?php
                echo Phalcon\Tag::textField(
                        array(
                            'class' => 'form-control outOfMark',
                            'name' => 'formulaoutOfMark',
                            //'onBlur' => 'markSettings.updateMainExamMarkTotal(this)',
                            'value' => isset($formuladet->outof) ? $formuladet->outof : ''
                ));
                ?> 
                <input type="hidden" id="formulaoutofTotVal" value="<?= isset($formuladet->outof) ? $formuladet->outof : '' ?> " />
            
        </div>
            <div class="col-md-1">
                <span class="mini-stat-icon-action yellow-b" title="Update Formula" onclick="markSettings.updateFormula(<?= $mainExId ?>,<?= $subsujectid ?>)">
                        <i class="fa fa-edit"></i></span>
            </div>
            
    </th>
    <th style="  vertical-align: top;">
        <span class="pull-right" onclick="markSettings.loadBackStudentMarkList(<?= $mainExId ?>)" style="cursor: pointer;"><i class="fa fa-close"></i></span>
    </th>
    </tr>
    </thead>
    <tbody>
        <?php
        if (count($students) > 0) {
            foreach ($students as $stu) {
                $stuGenInfo = StudentInfo::findFirstById($stu->student_info_id);
                $stumarks = MainexamMarks::findFirst('mainexam_id = ' . $mainExId
                                . ' and student_id = ' . $stu->student_info_id
                                . ' and subject_id = ' . $subsujectid .
                            ' and grp_subject_teacher_id = ' . $master_id);
                ?>
                <tr>
                    
                      <td>
                        <label class="control-label col-sm-4"></label>
                        <div class="col-sm-6">
                            <?php
                            $disabled = $mainexOtof->outof > 0 ? "" : "disabled";
                            echo Phalcon\Tag::textField(
                                    array(
                                        'class' => 'form-control stuMark col-md-1 enable_' . $mainExId,
                                        "name" => "StuMarks[]",
                                        $disabled => '',
                                        'onBlur' => 'markSettings.updateStuMainExamMark(this)',
                                        'stu_id' => $stu->student_info_id,
                                        'value' => $stumarks->marks
                            ));
                            ?> 
                        </div>  
                        <i class="fa fa-spinner fa-spin hide loading_<?= $mainExId . '_' . $stu->student_info_id ?>"></i>
                        <i class="fa fa-check green hide done_<?= $mainExId . '_' . $stu->student_info_id ?>"></i>
                    </td>
                    
                     <td>
                        <label class="control-label col-sm-4"></label>
                        <div class="col-sm-6">
                            <input type="text" value="<?= isset($formuladet->outof) ?$stumarks->inherited_marks:'' ?>" name="StuContributeMark[]"
                                   class="form-control StuContributeMark col-md-1 enable_10 " disabled="" 
                                   stu_id="<?= $stu->student_info_id ?>">
                        </div>
                     </td>
                     <td></td>
                </tr>

                <?php
            }
        }
        ?>
    </tbody>

    </table>
    <?php
}
?>


<!------------------------------------------------------------------------------------------>
<script>
//    var max = 0;
//    $('#mainmrkStuTable:visible tbody td').each(function () {
//        max = Math.max($(this).height(), max);
//    });
//
//    $('#markStuTable tbody td').each(function () {
//        max = Math.max($(this).height(), max);
//    });
//
//    $('#markStuTable tbody td').height(max);
//    $('#mainmrkStuTable tbody td').height(max);

</script>