<div class="col-md-12"> <div class="col-md-9"><h3>Update Students marks for <?= implode(' >> ', $node_id) ?> <?= Mainexam::findFirstById($mainExId)->exam_name ?> Exam </h3></div><div class="col-md-3" style="cursor: pointer;"> <span class="mini-stat-icon-smalli mini-stat-icon tar" onclick="examSettings.loadBackExams()"> <i class="fa fa-reply"></i></span> <label class="control-label" style="margin-top:5px;margin-left: 5px;">Back to Exam List</label> </div></div><br><br><div class="col-md-12 scrollpane" > <style>#mymarkDiv1{overflow: auto; display:none; text-align:justify;}</style> <?php $identity = $this->auth->getIdentity();
if (count($students) > 0) {
    $mainexOtof = MainexamMarks::findFirst('mainexam_id=' . $mainExId . ' and subject_id=' . $subject_id . ' and grp_subject_teacher_id=' . $master_id); ?> <div class="col-md-4"> <table id="mainmrkStuTable" class="table general-table table-bordered"> <thead class="thead_default"> <tr style=""> <th><label for="" class="">Students </label> </th> </tr></thead> <tbody> <?php foreach ($students as $stu) {
        $stuGenInfo = StudentInfo::findFirstById($stu->student_info_id); ?> <tr> <td class="student_name col-md-4"> <?php if ($stuGenInfo->photo) { ?> <span title="<?php echo $stuGenInfo->rollno ?>" class="mini-stat-icon" > <?php echo $this->tag->image(array("src" => $stuGenInfo->photo ? (FILES_URI . $stuGenInfo->photo) : ('images/user.jpg'), 'style' => 'border-radius:50%', 'width' => '40px', 'height' => '40px')); ?></span> <?php } else { ?> <span title="<?php echo $stuGenInfo->rollno ?>" class="mini-stat-icon tar" style="cursor: default;"><?= substr($stuGenInfo->Student_Name, 0, 1); ?></span> <?php } ?> <span class="name" title="<?= $stuGenInfo->Student_Name . ' (' . $stuGenInfo->rollno . ') ' ?>"> <?= (strlen($stuGenInfo->Student_Name) > 30 ? substr($stuGenInfo->Student_Name, 0, 30) . "..." : $stuGenInfo->Student_Name) ?> </span> </td></tr><?php } ?> </tbody> </table> </div><div class="col-md-8" style="display: inline; left: -46px"> <div class="col-md-12" id="mymarkDiv1"> <table class="table general-table table-bordered" style="margin-bottom: 0 !important;" id="getExamMArkList"> <thead> <tr> <?php $exist = OrganizationalStructureValues::find('parent_id IN ( ' . $subject_id . ')'); ?> <td colspan="<?= count($exist) ?>"> <?php $orgval = OrganizationalStructureValues::findFirstById($subject_id);
    echo isset($orgval->name) ? $orgval->name : '';
    if (count($exist) == 0) {
        $marks = MainexamMarks::findFirst(array('columns' => '(outof+inherited_outof) as outof ', " mainexam_id=$mainExId and subject_id=$orgval->id" . ' and grp_subject_teacher_id=' . $master_id));
        echo '<i class="fa fa-edit lastchild" onclick="markSettings.loadStudentDiv(' . $orgval->id . ');" ></i><br>' . ' <span class="label label-success">' . $marks->outof . '</span>';
    } else {
        $res = MarkController::get_rowvalinput($master_id, $mainExId, array($subject_id));
        $exp = array_values($res[1]);
        foreach ($exp[0] as $nodes) {
            $ressb[] = MarkController::gteSubjectsInOrder($nodes);
        }echo $res[0];
    } ?> </td></tr></thead> <tbody id="subMrk" > <?php $myhtl = '';
    if (count($students) > 0) {
        foreach ($students as $stu) { ?> <tr stu-id="<?= $stu->student_info_id ?>"> <?php if (count($exist) == 0) {
                $marks = MainexamMarks::findFirst(array('columns' => '(marks+inherited_marks) as mark ', "student_id=$stu->student_info_id " . " and mainexam_id=$mainExId and" . " subject_id=$subject_id" . " and grp_subject_teacher_id=$master_id"));
                echo '<td><span class="label label-info">' . $marks->mark . '</span></td>';
            } else {
                echo MarkController::find_childtreevalinput($ressb, array($stu->student_info_id, $mainExId, $master_id));
            } ?> </tr><?php }
    } ?> </tbody> </table> <script>var tot = $("#getExamMArkList.table > tbody").find("> tr:first > td").length;
    $("#getExamMArkList.table").find("tr:first td").attr('colspan', tot)</script> </div><div class="col-md-12" id="mymarkDiv"> </div></div><?php } ?></div><script>$('.scrollpane').css('height', '667px');
        $('.scrollpane').getNiceScroll().remove();
        $('.scrollpane').niceScroll();</script>
