<br>



<div class="col-md-12">
    <div class="col-md-9"><h3>Update Students marks for <b>
                <?= implode(' >> ', $node_id) ?>,
                <?= Mainexam::findFirstById($mainExId)->exam_name ?> Exam</b>
        </h3></div>

    <div class="col-md-3" style="cursor: pointer;">
        <span class="mini-stat-icon tar" onclick="examSettings.loadBackExams()">
            <i class="fa fa-reply"></i></span>
        <label class="control-label" style="margin-top:10px;">Back to Exam List</label>
    </div>  

</div><br><br><br><br>


<style>
    #mymarkDiv1 {
        overflow: auto;
        display:none;
        text-align:justify;
    }
</style>
<?php
$identity = $this->auth->getIdentity();

if (count($students) > 0) {
    $mainexOtof = MainexamMarks::findFirst('mainexam_id = ' . $mainExId
                    . ' and subject_id = ' . $subject_id);
    ?>
    <?php $exist = OrganizationalStructureValues::find('parent_id IN ( ' . $subject_id . ')'); ?>

    <?php
    $orgval = OrganizationalStructureValues::findFirstById($subject_id);
    $htlres = isset($orgval->name) ? $orgval->name : '';
    if (count($exist) == 0) {

        $marks = MainexamMarks::findFirst(array(
                    'columns' => '(outof+inherited_outof) as outof ',
                    " mainexam_id= $mainExId and subject_id= $orgval->id"
        ));
        $htlres .= '<i class="fa fa-edit lastchild" onclick="markSettings.loadStudentDiv(' . $orgval->id . ');" ></i><br>'
                . ' <span class="label label-success">' . $marks->outof . '</span>';
    } else {
        $res = MarkController::get_rowvalinput($mainExId, array($subject_id));
    }
    ?>
    <div class="col-md-12" >
        <table id="mainmrkStuTable"  class="table general-table  table-bordered">
            <thead class="thead_default">
                <tr style="">
                    <th rowspan="<?= $res[3] + 1 ?>"><label for=""  class="">Students </label> </th>
                    <th rowspan="<?= $res[3] + 1 ?>"><label for=""  class="">Admission no </label> </th>

                    <th  rowspan="<?= $res[3] + 1 ?>" class="updatemark" style="display:none" > 
            <div class="form-group">
                <span style="text-align: center;">
                    <div class="col-md-6" style="margin-left: 33%;">
                        <?= $title ?> Total Marks:
                        <?php
                        echo Phalcon\Tag::textField(
                                array(
                                    'class' => 'form-control totalMark',
                                    'name' => 'MainTotalMarks',
                                    'onBlur' => 'markSettings.updateMainExamMarkTotal(this)',
                                    'value' => $mainexOtof->outof
                        ));
                        ?> 
                        <input type="hidden" id="mainexTotVal" value="<?= $mainexOtof->outof ?> " />
                    </div>
                    <i class="fa fa-spinner fa-spin hide loading_<?= $mainExId ?>"></i>
                    <i class="fa fa-check green hide done_<?= $mainExId ?>"></i>
            </div>
            </th>
            <th rowspan="<?= $res[3] + 1 ?>" class=" updatemark" style="display:none" >

                <span class="mini-stat-icon tar  pull-right" onclick="markSettings.loadStudentDiv();">
                    <i class="fa fa-reply"></i></span>
            <div class="form-group">
                <span class="mini-stat-icon-action yellow-b " title="Update Formula" 
                      style="top:43px; right:106px;position: absolute"
                          onclick="markSettings.updateFormula(<?= $mainExId ?>,<?= $subsujectid ?>)">
                        <i class="fa fa-edit"></i></span>
                <div class="col-md-7" >
                    <?= $title ?>  <br> Contributed Mark 
                    <?php
                    echo Phalcon\Tag::textField(
                            array(
                                'class' => 'form-control outOfMark',
                                'name' => 'formulaoutOfMark',
                                //'onBlur' => 'markSettings.updateMainExamMarkTotal(this)',
                                'value' => isset($formuladet->outof) ? $formuladet->outof : ''
                    ));
                    ?> 
                    <input type="hidden" id="formulaoutofTotVal" value="<?= isset($formuladet->outof) ? $formuladet->outof : '' ?> " />
                    
                </div>
            </div>
            </th>
            <th colspan="<?= count($exist) ?>" class="viewmark" >
                <?php
                echo count($res) > 0 ? $htlres . $res[0] : $htlres;
                ?>
            </th>

            </tr>
            </thead>
            <tbody>
                <?php
                foreach ($students as $stu) {
                    $stuGenInfo = StudentInfo::findFirstById($stu->student_info_id);
                    ?>
                    <tr> 
                        <td class="student_name col-md-4"> 
                            <?php
                            if ($stuGenInfo->photo) {
                                ?>
                                <span title="<?php echo $stuGenInfo->rollno ?>" 
                                      class="mini-stat-icon"  >
                                          <?php
                                          echo $this->tag->image(array(
                                              "src" => $stuGenInfo->photo ? (FILES_URI . $stuGenInfo->photo) : ('images/user.jpg'),
                                              'style' => 'border-radius:50%',
                                              'width' => '40px',
                                              'height' => '40px'));
                                          ?></span>
                                <?php
                            } else {
                                ?>
                                <span title="<?php echo $stuGenInfo->rollno ?>" class="mini-stat-icon tar" style="cursor: default;">
                                    <?= substr($stuGenInfo->Student_Name, 0, 1); ?>
                                </span>
                            <?php }
                            ?> 
                            <span style="vertical-align: middle;position: relative;top: 10px;cursor:default;text-transform: uppercase !important; word-break: break-all;" title="<?= $stuGenInfo->Student_Name . ' (' . $stuGenInfo->rollno . ') ' ?>">
                                <?= (strlen($stuGenInfo->Student_Name) > 15 ? substr($stuGenInfo->Student_Name, 0, 15) . "..." : $stuGenInfo->Student_Name) ?>
                            </span>
                        </td>
                        <td class="col-md-2" id="getExamMArkList"><?= $stuGenInfo->Admission_no ?></td>


                        <td style="display:none" class=" updatemark">
                            <label class="control-label col-sm-4"></label>
                            <div class="col-sm-6">
                                <?php
                                $disabled = $mainexOtof->outof > 0 ? "" : "disabled";
                                echo Phalcon\Tag::textField(
                                        array(
                                            'class' => 'form-control stuMark col-md-1 enable_' . $mainExId,
                                            "name" => "StuMarks[]",
                                            $disabled => '',
                                            'onBlur' => 'markSettings.updateStuMainExamMark(this)',
                                            'stu_id' => $stu->student_info_id,
                                            'value' => $stumarks->marks
                                ));
                                ?> 
                            </div>  
                            <i class="fa fa-spinner fa-spin hide loading_<?= $mainExId . '_' . $stu->student_info_id ?>"></i>
                            <i class="fa fa-check green hide done_<?= $mainExId . '_' . $stu->student_info_id ?>"></i>
                        </td>

                        <td class=" updatemark" style="display:none" >
                            <label class="control-label col-sm-4"></label>
                            <div class="col-sm-6">
                                <input type="text" value="<?= $stumarks->inherited_marks ?>" name="StuContributeMark[]" class="form-control StuContributeMark col-md-1 enable_10 " disabled=""  stu_id="<?= $stu->student_info_id ?>">
                            </div>
                        </td>

                        <?php
                        if (count($exist) == 0) {
                            $marks = MainexamMarks::findFirst(array(
                                        'columns' => '(marks+inherited_marks) as mark ,(outof+inherited_outof) as outof ',
                                        "student_id = $stu->student_info_id and mainexam_id= $mainExId and subject_id= $subject_id"
                            ));
                            echo '<td class="viewmark" ><span class="label label-info">' . $marks->mark . '</span></td>';
                        } else {
                            echo MarkController::find_childtreevalinput($res[1], array($stu->student_info_id, $mainExId));
                        }
                        ?>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>

    <!--    <div class="col-md-6" style="display: inline; left: -46px">

            <div class="col-md-12" id ="mymarkDiv1">
                <table class="table general-table table-bordered" style="margin-bottom: 0 !important;" id="getExamMArkList">

                    <thead>
                        <tr>
    <?php $exist = OrganizationalStructureValues::find('parent_id IN ( ' . $subject_id . ')'); ?>
                            <td colspan="<?= count($exist) ?>">

    <?php
    $orgval = OrganizationalStructureValues::findFirstById($subject_id);
    echo isset($orgval->name) ? $orgval->name : '';
    if (count($exist) == 0) {

        $marks = MainexamMarks::findFirst(array(
                    'columns' => '(outof+inherited_outof) as outof ',
                    " mainexam_id= $mainExId and subject_id= $orgval->id"
        ));
        echo '<i class="fa fa-edit lastchild" onclick="markSettings.loadStudentDiv(' . $orgval->id . ');" ></i><br>'
        . ' <span class="label label-success">' . $marks->outof . '</span>';
    } else {
        $res = MarkController::get_rowvalinput($mainExId, array($subject_id));
        echo $res[0];
    }
    ?>
                            </td>
                        </tr>

                    </thead>
                    <tbody id="subMrk" >
    <?php
    $myhtl = '';
    if (count($students) > 0) {
        foreach ($students as $stu) {
            ?>
                                                                        <tr>
            <?php
            if (count($exist) == 0) {
                $marks = MainexamMarks::findFirst(array(
                            'columns' => '(marks+inherited_marks) as mark ,(outof+inherited_outof) as outof ',
                            "student_id = $stu->student_info_id and mainexam_id= $mainExId and subject_id= $subject_id"
                ));
                echo '<td><span class="label label-info">' . $marks->mark . '</span></td>';
            } else {
                echo MarkController::find_childtreevalinput($res[1], array($stu->student_info_id, $mainExId));
            }
            ?> 
                                                                        </tr>
            <?php
        }
    }
    ?>

                    </tbody>
                </table>

                <script>
                    var tot = $("#getExamMArkList.table > tbody").find("> tr:first > td").length;
                    $("#getExamMArkList.table").find("tr:first td").attr('colspan', tot)

                </script>
                                    <span style="" class="mini-stat-icon-action tar" id="classtest_addmark" title="Add Marks" onclick="markSettings.loadStudentDiv('<?= $mainExId ?> ', '<?= $master_id; ?>','<?= $resarr[1][$i] ?>');">


                                            <table  border="0" id="subMrk" class="table general-table">
                                                
                                            </table>
            </div>
            <div class="col-md-12" id ="mymarkDiv">

            </div>
        </div>-->

    <?php
}
?>

<!------------------------------------------------------------------------------------------>
<script>
//    $(document).ready(function () {
//
//        var tablectrl = '#mainmrkStuTable';
//        $(document).ready(function () {
//            $(tablectrl).dataTable({
//                "sDom": 'C<"clear">lrti',
//                "bProcessing": true,
//                "sPaginationType": "full_numbers",
//                "iDisplayLength": <?= count($students) ?>,
//                "aoColumnDefs": [{
//                        "sDefaultContent": "",
//                        "aTargets": [0,1]
//                    }, {
//                        "bSortable": false,
//                        "sDefaultContent": "",
//                        "aTargets": []
//                    }],
//                "bLengthChange": false,
//                "bInfo": false,
//                "fnDrawCallback": function (o) {
//                }
//            });
//        });
//
//    });
</script>