
<style>
    #testmyDiv {
        overflow: auto;
        display:none;
        text-align:justify;
    }   

</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#test_report_btn").on('click', function () {

            $.ajax({
                type: "POST",
                url: commonSettings.markAjaxurl + "/getClassTestListByCombination",
                dataType: 'html',
                data: {
                    subject_masterid: <?= $grp_subject_teacher_id ?>,
                    test_id: <?= $test_id ?>
                },
                success: function (res) {
                    if (res) {
                        $("#testmyDiv").html(res);
                        $('#testmyDiv').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                        $('#testmyDiv1').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                        return false;

                    }
                }
            });

        });

        $("#excel_report_btn").on('click', function () {

            var clsrptdata = {};

            clsrptdata['subject_masterid'] = <?= $grp_subject_teacher_id ?>;
            clsrptdata['test_id'] = <?= $test_id ?>;
            event.preventDefault();
            event.stopPropagation();

            console.log(clsrptdata);

            var newForm = $('<form>', {
                'action': commonSettings.markAjaxurl + "/getClassTestListByCombinationReport",
                'target': '_blank',
                'id': 'getClassReportForm',
                'method': 'POST'
            });
            newForm.append($('<input>', {
                'name': 'clsrptdata',
                'value': JSON.stringify(clsrptdata),
                'type': 'hidden'
            }));
            newForm.appendTo("body").submit();

        });

        $("#classtest_print_report_btn").on('click', function () {

            var params = {};
            params['subject_masterid'] = <?= $grp_subject_teacher_id ?>;
            params['test_id'] = <?= $test_id ?>;
            params['action'] = 'getClassTestPrintReport';


            event.preventDefault();
            event.stopPropagation();
            var newForm = $('<form>', {
                'action': commonSettings.templateAjaxurl + "/pdfPrintDet",
                'target': '_blank',
                'id': 'stuClassTestPrintForm',
                'method': 'POST'
            });
            newForm.append($('<input>', {
                'name': 'params',
                'value': JSON.stringify(params),
                'type': 'hidden'
            }));
            newForm.appendTo("body").submit();
        });




    });
</script>
<!--<section class="panel" id=''>-->
<div class="col-md-12">
    <div class="form-group col-md-8">
        <?php if ($display_students == 0) { ?>
            <div class="alert alert-block alert-danger fade in">No Students were found for the selected combination</div>
        <?php
        } else {
            echo '<h3>'.$message.'</h3>';
        }
        ?>
    </div>

    <div class="col-md-4 pull-right"  style="cursor: pointer;">
        <span class="mini-stat-icon-smalli mini-stat-icon tar" onclick="examSettings.viewClassTests(<?= $grp_subject_teacher_id ?>)">
            <i class="fa fa-reply"></i>
        </span>
        <label class="control-label staticon-label">Back to list</label>
    </div> 

</div>


<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-11" >
                <table id="classlisttbl" border="0" class="table general-table">
                    <thead class="thead_default">
                        <tr style="height:100px;">
                            <th>Students </th>
                            <th>Gender </th>
                            <th>
                    <div class="form-group">
                        <label class="control-label col-sm-4">  Total Marks:</label>
                        <div class="col-sm-4">
                            <?php
                            echo Phalcon\tag::textField(array(
                                "Total_Mark",
                                "value" => $rows[0][3],
                                "placeholder" => $rows[0][3],
                                'class' => 'form-control totmark',
                                'onBlur' => 'markSettings.updateClassTestTotalMark(this.value)'
                            ));
                            ?> 
                        </div>
                        <i class="fa fa-spinner fa-spin hide loading_totmark"></i>
                        <i class="fa fa-check green hide done_totmark"></i>
                    </div>
                    </th>
                    <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($rows as $row) {
                            ?>

                            <tr>
                                <td class="student_name col-md-3"> 
                                    <?php
                                    if ($stuGenInfo->photo) {
                                        ?>
                                        <span title="<?= $row[4] ?>" 
                                              class="mini-stat-icon"  >
                                                  <?php
                                                  echo $this->tag->image(array(
                                                      "src" => $row[5] ? (FILES_URI . $row[5]) : ('images/user.jpg'),
                                                      'style' => 'border-radius:50%',
                                                      'width' => '40px',
                                                      'height' => '40px'));
                                                  ?></span>
                                        <?php
                                    } else {
                                        ?>
                                        <span title="<?= $row[4] ?>" class="mini-stat-icon tar " style="cursor: default;">
                                            <?= substr($row[0], 0, 1); ?></span>
                                        <?php }
                                        ?><span class="name" title="<?= $row[0] . ' (' . $row[4] . ')' ?>"> 
                                    <?= (strlen($row[0]) > 30 ? substr($row[0], 0, 30) . "..." : $row[0]) ?>
                                    </span></td>  
                                <td>
    <?= $row[6] ?>
                                </td>
                                <td> 
                                    <div class="form-group">
                                        <label class="control-label col-sm-4"> </label>
                                        <div class="col-sm-4">
                                            <?php
                                            echo Phalcon\tag::textField(array(
                                                "$row[1]",
                                                "value" => "$row[2]",
                                                'min' => '0',
                                                'max' => $total_mark,
                                                'class' => 'form-control stuMark',
                                                'onBlur' => 'markSettings.updateClassTestMark(this.value, this.id)'
                                            ));
                                            ?> </div>
                                    </div></td>
                            <?php $div = "div_" . "$row[1]" ?>
                                <td><div id = <?php echo "$div" ?> > </td>
                            </tr>
<?php } ?>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9" id ="testmyDiv"> </div>  
        </div>
    </div>
</div>
<!--</section>-->


<!------------------------------------------------------------------------------------------>
<script>
    var max = 65;
//    $('#classlisttbl tbody td').each(function () {
//        max = Math.max($(this).height(), max);
//    });
//
//    $('#clsTestMark tbody td').each(function () {
//        max = Math.max($(this).height(), max);
//    });
    $('#classlisttbl').dataTable({
        "sDom": 'C<"clear">lrti',
        "bProcessing": true,
        "sPaginationType": "full_numbers",
        "iDisplayLength": 100,
        "aoColumnDefs": [{
                "sDefaultContent": "",
                "aTargets": [0, 1]
            }, {
                "bSortable": false,
                "sDefaultContent": "",
                "aTargets": [2, 3]
            }],
        "bLengthChange": false,
        "bInfo": false
    });
    $('#clsTestMark tbody tr').height(max);
    $('#classlisttbl tbody tr').height(max);

</script>



