
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <header class="panel-heading">
                Choose <?= $divname ?> Test
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>    
            <div class="panel-body">
                <div class="row">    
                    <?php if ($display > 0) { ?>
                        <div class="form-group col-md-12">
                            <label for=""  class="col-md-2 control-label">Select <?= $divname ?> Test: </label>
                            <div class="col-md-4">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            "testid",
                                            $classtests,
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '-1',
                                            'class' => 'form-control',
                                            'onchange' => 'markSettings.loadClassTestStudents(this.value)'
                                        )
                                );
                                ?>
                            </div>
                        </div>     

                    <?php } else { ?>
                        <div class="center scaffold">
                            <span align = "center">No <?= $divname ?> Tests found!!</span>
                        </div>
                    <?php } ?> 
                </div>
            </div>
        </section>
    </div>
</div>





