<?php
echo $this->getContent();
$msg = $this->flashSession->getMessages();
if ($msg && isset($msg['error'])) {

if (count($msg['error'])) {

echo '<div class="alert alert-error">';
foreach ($msg['error'] as $msgs) {
echo $msgs . '<br>';
}
echo '</div>';
} else if (count($msg['success'])) {
echo '<div class="alert alert-success">';
foreach ($msg['success'] as $msgs) {
echo $msgs . '<br>';
echo '</div>';
}
}
} ?>
<div class="row">
    <div id = 'display'> </div>
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <?php
            if ($display_students == 0) {
            echo '<div class="alert alert-block alert-danger fade in">' ."No Students were found for the selected combination". '</div>';
            } else {
                $summation = 0;
                 echo '<div class="alert alert-block alert-info fade in">'.$message.'</div>';
                ?>
                <div class="form-group">
                <table class="table  table-hover general-table">
                    <thead>
                        <tr>
                            <th>S.No </th>
                            <th>Student Name</th>
                            <?php
                            if($count_refering_mainexams > 0)
                            {
                                foreach($referal_mainexams as $ref)
                                { ?>
                                <th>Contributed By Main Exam: <?= $ref['name']?><br>Weightage: <?= $ref['weightage']?></th>
                                <?php
                                $summation = $summation + $ref['weightage'];
                                } 
                            } 
                            if($count_refering_classtests > 0)
                            {
                                foreach($referal_classtests as $ref)
                                { ?>
                                <th>Contributed By Class Test: <?= $ref['name']?><br>Weightage: <?= $ref['weightage']?></th>
                                <?php
                                $summation = $summation + $ref['weightage'];
                                } 
                            } ?>                                
                            <th>Total Marks: <?= $total_mark ?> <br/>
                            Enterable Marks: <?= $enterable = $total_mark - $summation ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        echo Phalcon\tag::hiddenfield(array("Total_Mark",
                                                            "Value" => $total_mark - $summation));
                        $i = 0;
                        foreach($rows as $row)
                        {
                            $i++;                            
                        ?>
                        
                        <tr>
                            <td> <?= $i ?> </td>
                            <td> <?= $row[0] ?> </td> 
                            
                            <?php
                            if($count_refering_mainexams > 0)
                            {
                                foreach($row[3] as $ref)
                                { ?>
                                    <td> <?= $ref?> </td>
                                <?php
                                } 
                            }
                            if($count_refering_classtests > 0)
                            {
                                
                                foreach($row[4] as $classtest_ref)
                                { ?>
                                    <td> <?= $classtest_ref?> </td>
                                <?php
                                } 
                            }?>                                    
                            <td> <?php 
                           $disabled= ($enterable>0)?'':'disabled';
                            echo Phalcon\tag::textField(array(
                                                                    "$row[1]",
                                                                    "placeholder" => "$row[2]",
                                                                    'min' => '0',
                                                                    'max' => $total_mark,
                                                                    'onChange' => 'markSettings.updateMainExamMark(this.value, this.id)',
                                                                    $disabled =>'',
                                
                                                                    )); ?> </td>
                            <?php $div = "div_"."$row[1]" ?>
                            <td><div id = <?php echo "$div"?> > </td>
                        </tr>                        
                        <?php 
                        } 
                        ?>
                    </tbody>
                </table>   
                    </div>
            </section>
                </div>
    <?php
}
?>
    </div>
</div>

