<?php if ($display_subdiv) {
    ?>
<div class="form-group">
    <label for=""  class="col-sm-3 control-label">Select <?= $subdivname; ?>: </label>
    <div class="col-sm-6">

        <?php
        echo \Phalcon\Tag::select(
                array(
                    "subDivVal",
                    $subdivVal,
                    "using" => array("id", "name"),
                    'useEmpty' => true,
                    'emptyText' => 'Select',
                    'emptyValue' => '0',
                    'class' => 'form-control',
                    'onchange' => 'markSettings.loadSubjectsBySection(this.value)'
                )
        );
        ?>
    </div>
</div>  
<?php } else {
    ?>
    <div class="center scaffold">
        <span><?php
            echo '<div class="alert alert-block alert-danger fade in">'
            . 'Sorry!! You Are Not Assigned With Any '.$subdivname. ' Yet!</div>';
            ?></span>
    </div>                            
<?php } ?>  
