
<div class="form-group">
    <?php 
if($div){
?>
    <label for=""  class="col-sm-3 control-label">Select <?= $div->divname ?>:</label>
    <div class="col-sm-6">
        <?php
        echo \Phalcon\Tag::select(
                array(
                    "divValID",
                    DivisionValues::find('divID = ' . $div->id),
                    "using" => array("id", "classname"),
                    'class' => 'form-control',
                    'useEmpty' => true,
                    'emptyText' => 'Select',
                    'emptyValue' => '0',
                    'onchange' => 'markSettings.loadSectionsByClass(this.value)'
                )
        );
        ?>
    </div>
    
<?php 
}else{ ?>

    <label for=""  class="col-sm-6 control-label">No Class Found for this year</label>
    
<?php } ?>
</div>