
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <?php
            if ($display_mainexams == 0) {
                
            echo '<div class="alert alert-block alert-danger fade in">' ."No Main Exams Were Found". '</div>';

            } else {
                ?>

                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Select Main Exam: </label>
                    <div class="col-sm-6">
                         <?php
                            echo \Phalcon\Tag::Select(
                                             array(
                                                "testid",
                                                $tests,
                                                'useEmpty' => true,
                                                'emptyText' => 'Select',
                                                'emptyValue' => '-1',
                                                'class' => 'form-control',
                                                'onchange' => 'markSettings.loadMainExamStudents(this.value)'
                                                  )
                                                  );
                        ?>
                    </div>
                </div>
            <?php
            }
            ?>
        </section>
    </div>
</div>

