<div class="container-fluid">
    <div class="row-fluid ">
        <div class="col-lg-6">
            <div id="banner">
                <div id="loginimg">
                    <?php echo $this->tag->image(array("images/login_image.png","width"=>"90%")) ?>
                </div>
            </div>
        </div>
        <div class="col-lg-6 martop10per">

            <div align="center">
                <div id="loginlogo">
                    <?php echo $this->tag->image(array("images/logo_white.png","style"=>"float:left;margin-left:10%")) ?>
                    <h2 style="margin-right: 11%">  Welcome to Edusparrow</h2>
                </div>
            </div>
            <br>
            <form class="form-horizontal col-md-12"  method="post" autocomplete="off" >
                <div class="input-group m-bot15">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <?php echo $form->render("login") ?> 
                </div>

                <div class="input-group m-bot15">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <?php echo $form->render("password") ?> 
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <?php echo $form->render("Login") ?> 
                    </div>
                </div>   

                <div class="form-group">
                    <label class="col-lg-4 control-label"></label>
                    <div class="col-lg-4">
                        <?php //echo \Phalcon\Tag::linkTo(array("users/forgotPassword", "Forgot password?", "class" => "pull-left need-help")); ?>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



