
<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
    <div class="login-form-container">
        <form action="" method="post" class="j-forms" id="forms-login" novalidate>
            <div class="login-form-header">
                <div class="logo">
                    <a href="" title="Edusparrow"><img src="<?=  $this->url->get('images/logo_primary.png') ?>" alt="logo"></a>
                    <h2>Create Super User</h2>
                </div>
            </div>
            <div class="login-form-content">


                <?php echo $form->render("userRole") ?>
                <!-- start login -->
                <div class="unit">
                    <?php
                    $m = $form->getMessagesFor('login');
                    $err = $cls = '';
                    foreach ($m as $message) {
                        $err .= $message . '<br>';
                        $cls = 'error-view';
                        break;
                    }
                    ?>
                    <div class="input login-input  <?= $cls ?>">
                        <label class="icon-left" for="login">
                            <i class="fa fa-user"></i>
                        </label>
                        <?php echo $form->render("login") ?>
                        <span class="text text-danger"> <?= $err ?></span>
                    </div>
                </div>
                <!-- end login -->

                <div class="unit">
                    <?php
                    $m = $form->getMessagesFor('email');
                    $err = $cls = '';
                    foreach ($m as $message) {
                        $err .= $message . '<br>';
                        $cls = 'error-view';
                        break;
                    }
                    ?>
                    <div class="input login-input <?= $cls ?>">
                        <label class="icon-left" for="email">
                            <i class="fa fa-envelope"></i>
                        </label>
                        <?php echo $form->render("email", array('value' => $saEmail)) ?>

                        <span class="text text-danger"> <?= $err ?></span>
                    </div>
                </div>
                <!-- start password -->
                <div class="unit">
                    <?php
                    $m = $form->getMessagesFor('password');
                    $err = $cls = '';
                    foreach ($m as $message) {
                        $err .= $message . '<br>';
                        $cls = 'error-view';
                        break;
                    }
                    ?>
                    <div class="input login-input <?= $cls ?>">
                        <label class="icon-left" for="password">
                            <i class="fa fa-key"></i>
                        </label>
                        <?php echo $form->render("password") ?>

                        <span class="text text-danger"> <?= $err ?></span>
                    </div>
                </div>
                <div class="unit">
                    <?php
                    $m = $form->getMessagesFor('confirmPassword');
                    $err = $cls = '';
                    foreach ($m as $message) {
                        $err .= $message . '<br>';
                        $cls = 'error-view';
                        break;
                    }
                    ?>
                    <div class="input login-input <?= $cls ?>">
                        <label class="icon-left" for="confirmPassword">
                            <i class="fa fa-key"></i>
                        </label>
                        <?php echo $form->render("confirmPassword") ?>

                        <span class="text text-danger"> <?= $err ?></span>

                    </div>
                </div>
                <!-- end password -->

                <!-- start response from server -->
                <div class="response">
                    <?php if ($servererror): ?>
                        <div class="alert alert-danger"><?= $servererror ?></div>
                    <?php endif; ?></div>
                <!-- end response from server -->



            </div>
            <div class="login-form-footer">
                <button type="submit" class="btn-block btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>