<script>
    $('.form_date').datetimepicker({
        format: 'dd-mm-yyyy',
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

</script>
<section class="panel">
<!--    <header class="panel-heading">
        Assignment Management
    </header>-->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 classroomdiv"  style="max-height: 765px;">
                <div>
                    <?php if (!$errorMessage) { ?>
                        <?php
                        foreach ($combinations as $key => $combival) {
                            $exp_combival = implode("<br>", $combival);
                            ?>  
                    

                            <div class=" label label-default col-md-12 combispan"  id = "span_<?= $key ?>" 
                                     teacherType ="<?= $type ?>" cdate ="<?= date('d-m-Y', time()) ?>"
                                     onclick = "assignmentSettings.Subjectsloaded(this)">
                                <i class="fa fa-building-o pull-left"></i>
                                <?= $combival['name'] . ' >> ' . $combival['subject'] ?>
                            </div>
                            <br> <br> 
<!--                            <button type="button" class="btn btn-info btn-small std_acd_btn">
                                <div class="combispan" id = "span_<?= $key ?>" 
                                     teacherType ="<?= $type ?>" cdate ="<?= date('d-m-Y', time()) ?>"
                                     onclick = "assignmentSettings.Subjectsloaded(this)">
                                    <span> 
                                        <ul class="breadcrumbs-alt" style="margin: 0px;">
                                            <li><span><?= $combival['name'] . ' >> ' . $combival['subject'] ?></span></li> 
                                        </ul>
                                    </span>

                                </div>
                            </button>-->


                            <?php
                        }
                    } else {
                        ?>                      

                        <div class = "center scaffold">
                            <span><div class="alert alert-block alert-danger fade in"><?= $errorMessage ?></div></span>
                        </div>                            
                    <?php } ?>
                </div>
            </div>
            <!--<div class="col-md-10 hide" id="stuAttList"> </div>-->
            <div id="subjTechMatrix" class="hide col-md-10 "></div>
        </div>
    </div>
</section>
<script>
    $('.classroomdiv').getNiceScroll().remove();
    $('.classroomdiv').niceScroll();
</script>
