<?php
echo $this->tag->javascriptInclude("js/appscripts/transport/transport.js");
?>
<script>
    $('.form_date').datetimepicker({
        format: 'dd-mm-yyyy',
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>

<section class="panel" id="addNewAssignment">
    <div class="panel-body">
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addNewAssignmentForm')); ?>
        <div class="center scaffold">
            <div class="col-md-12">

                <?php
                $fields = OrganizationalStructureValues::findFirstById($subject->subject_id);
                $org_mas = OrganizationalStructureMaster::findFirstById($fields->org_master_id);
                ?>

                <div class="form-group">
                    <label for=""  class="col-sm-3  control-label mandatory"><?= ucfirst($org_mas->name) ?></label>  
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="subjectname" name="subjectname" value="<?= $fields->name ?>" readonly=""/>
                        <input type="hidden" class="form-control" id="aggregate_subjectid" name="aggregate_subjectid" value="<?= $fields->id ?>" readonly=""/>
                    </div>
                </div>
                <?php
                $field_col = OrganizationalStructureValues::findFirst('parent_id = ' . $subject->subject_id);
                if ($field_col) {
                    $org_mas_1 = OrganizationalStructureMaster::findFirstById($field_col->org_master_id);
                    $subchk = OrganizationalStructureValues::find('org_master_id = ' . $org_mas_1->id . ' and parent_id = ' . $subject->subject_id);
                    if (count($subchk) > 0) {
                        ?>
                        <div class="form-group">
                            <label for=""  class="col-sm-3  control-label mandatory"><?php
                                echo ucfirst($org_mas_1->name);
                                ?></label>  
                            <div class="col-sm-6">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            'aggregate_' . strtolower(str_replace(' ', '', $org_mas_1->name)),
                                            OrganizationalStructureValues::find('org_master_id = ' . $org_mas_1->id . ' and parent_id = ' . $subject->subject_id),
                                            "using" => array("id", "name"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control',
                                            'title' => 'Subject Modules',
                                            'onchange' => 'assignmentSettings.loadSubtrees(this)'
                                        )
                                );
                                ?>

                            </div> 

                        </div>
                        <div class="subtreediv hide"></div>
                    <?php }
                }
                ?>

                <div class="form-group">
                    <label for="AssignmentTopic" class="col-md-3 control-label mandatory">Topic:</label>
                    <div class="col-md-6">
                        <?php echo $form->render("staffID", array('value' => $uid)) ?>
<?php echo $form->render("AssignmentTopic") ?>
                        <label for="errmsgAssignmentTopic" class="col-md-12 red errmsgAssignmentTopic hide"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="AssignmentDesc" class="col-md-3 control-label mandatory">Description:</label>
                    <div class="col-md-6">
<?php echo $form->render("AssignmentDesc") ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="AssignmentDeadline" class="col-md-3 control-label mandatory">Deadline:</label>
                    <div class="col-md-6">
<?php echo $form->render("AssignmentDeadline") ?>
                        <label for="errmsgAssignmentDeadline" class="col-md-12 red errmsgAssignmentDeadline hide"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="AssignmentComments" class="col-md-3 control-label">Comments:</label>
                    <div class="col-md-6">
<?php echo $form->render("AssignmentComments") ?>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="is_upload" class="control-label">
                            <?php
                            echo \Phalcon\Tag::checkField(
                                    array(
                                        "is_upload",
                                        'class' => 'box'
                                    )
                            );
                            ?>
                            Check this box if students can upload the assignment online
                        </label> 
                    </div>      
                </div>        

                <div class="form-group">
                    <div class="col-md-12">
                        <label for="is_evaluation" class="control-label">
                            <?php
                            echo \Phalcon\Tag::checkField(
                                    array(
                                        "is_evaluation",
                                        'class' => 'box',
                                    //  'onchange' => 'assignmentSettings.mainexamlink()'
                                    )
                            );
                            ?>
                            Check this box if this assignment carry marks
                        </label> 
                    </div>      
                </div>      

            </div>
        </div>
        </form>
    </div>
</section>