

<table  border="0" class="table general-table" id="assigRpt">
    <thead class="thead_default">
        <tr style="height:90px;">
            <?php
            if (count($tests) > 0):
                foreach ($tests as $test):
                    ?>

                    <td>
                        <div class="form-group">
                            <label class="control-label">
                              <?= (strlen($test['assignmenttopic']) > 15 ? substr($test['assignmenttopic'],0,15)."..." : $test['assignmenttopic']) ?> 
                            
                            </label><br>
                            <div class="col-md-12">                                 
                                <span class="label label-success"
                                      style="display: inline-block; width: 75px;height: 30px;"> 
                                          <?= $test['outoff'] ?>
                                </span>


                            </div>
                        </div> </td>
                    <?php
                endforeach;
            endif;
            ?> 
            <td>
                <span class="pull-right"
                      onclick="classroomSettings.closeAssignmtReport()" style="cursor: pointer;"><i class="fa fa-close"></i>
                </span>
            </td>
        </tr>
    </thead>
    <tbody>
        <?php
        if (count($studentMarkList) > 0) {
            foreach ($studentMarkList as $stum) {
                ?>
                <tr>
                    <?php
                    if (count($tests) > 0):
                        foreach ($tests as $key => $test):
                            ?>
                            <td>
                                <label class="label label-primary" style="display: inline-block; width: 75px;"> 
                                    <?= $stum[$key]['ObtainedMarks'] ?>  
                                </label>
                            </td>
                            <?php
                        endforeach;
                    endif;
                    ?>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>

<!------------------------------------------------------------------------------------------>
<script>

        var max = 100
        markSettings.updateHeight(max, 'assigRpt', 'assignmentlisttbl')
        markSettings.updateHeight(max, 'assigMrk', 'assignmentlisttbl')
//$('#assignmentlisttbl tbody td').each(function() {
//    max = Math.max($(this).height(), max);
//});
//
//$('#assigRpt tbody td').each(function() {
//    max = Math.max($(this).height(), max);
//});

  //  $('#assigRpt tbody tr').height(max);
   // $('#assignmentlisttbl tbody tr').height(max);

</script>
