<?php //echo $this->tag->javascriptInclude("js/scripts.js");   ?>






    <?php if (count($subjects) > 0) { ?>
        <div class="form-group">
            <label for=""  class="col-sm-3 control-label">Choose a Subject: </label>
            <div class="col-sm-6">
                <?php foreach ($subjects as $subject):
                   // echo SubjectsDivision::findfirst('id = ' . $subject->subject_id)->subjectName;
                    $subjectvalues[$subject->subject_id] = SubjectsDivision::findfirst('id = ' . $subject->subject_id)->subjectName;


                endforeach;
            ?>
                    <?php

                    echo \Phalcon\Tag::select(
                        array(
                            "subid",
                            $subjectvalues,
                            "using" => array("id", "name"),
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '0',
                            'class' => 'form-control',
                            'onchange' => 'assignmentSettings.Subjectsloaded(this.value)'
                        )
                    );
                    ?>

                <?php //endforeach; ?>
            </div>
        </div>





    <?php } else { ?>
        <div class="center scaffold">
            <span>Sorry!! No subjects found. Assign subjects to the class before adding a assignment!</span>
        </div>
    <?php } ?>





