
<style>
    #assmyDiv {
        overflow: auto;
        display:none;
        text-align:justify;
    }

</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#assignment_report_btn").off();
        $("#assignment_report_btn").on('click', function () {

            $.ajax({
                type: "POST",
                url: commonSettings.assignmentAjaxurl + "/getAssignmentListByCombination",
                dataType: 'html',
                data: {subject_masterid: <?= $grp_subject_teacher_id ?>},
                success: function (res) {
                    if (res) {
                        console.log(attSettings.options)
                        $("#assmyDiv").html(res);
                        $('#assmyDiv').toggle('slide', {direction: "right"}, 500);
                        $('#myassDiv1').toggle('slide', {direction: "right"}, 500);
                        return false;

                    }
                }
            });

        });
        $("#assignment_excel_report_btn").on('click', function () {
            var params = {};
            params['subject_masterid'] = <?= $grp_subject_teacher_id ?>;
            params['limit'] = 500;

            event.preventDefault();
            event.stopPropagation();

            var newForm = $('<form>', {
                'action': commonSettings.assignmentAjaxurl + "/getAssignmentListExcelReport",
                'target': '_blank',
                'id': 'AssignmentForm',
                'method': 'POST'
            });
            newForm.append($('<input>', {
                'name': 'params',
                'value': JSON.stringify(params),
                'type': 'hidden'
            }));
            newForm.appendTo("body").submit();
        });
    });
</script>
<section class="panel" id=''>

    <div class="col-md-12">
        <div class="form-group col-md-6">

            <?php if ($display_students == 0) { ?>
                <div class="alert alert-block alert-danger fade in">No Students were found for the selected combination</div>
            <?php } else { ?>
                <h3><?= $message ?></h3>
            <?php } ?>
        </div>

        <div class="col-md-6" style="cursor: pointer;">
            <label class="control-label pull-right staticon-label">Back</label>
            <span class="mini-stat-icon-smalli mini-stat-icon tar pull-right" onclick="assignmentSettings.SubjectsloadedAfterMarks(<?= $grp_subject_teacher_id ?>)">
                <i class="fa fa-reply"></i>
            </span>
        </div>
    </div>
    <div class="panel-body scrollpane">
        <div class="row">
            <div class="col-md-12">
                <table id="assignmentlisttbl" border="0" class="table general-table">
                    <thead class="thead_default">
                        <tr style="height:90px;">
                            <th>Students </th>
                            <th>Gender </th>
                            <?php if ($is_upload == 1) { ?>
                                <th> <i class="fa fa-paperclip"></i> Submitted Files: </th>
                            <?php } ?>
                            <?php if ($is_evaluation == 1) { ?>
                                <th>

                        <div class="form-group">
                            <label class="control-label col-sm-4">  Total Marks:</label>
                            <div class="col-sm-6">
                                <?php
                                echo Phalcon\tag::textField(array(
                                    "Total_Mark",
                                    "value" => $out_of, //  "value" => $rows[0][3],
                                    "placeholder" => $out_of, // "placeholder" => $rows[0][3],
                                    'class' => 'form-control totmark',
                                    'onBlur' => 'assignmentSettings.updateAssignmentTotalMark(this.value)'
                                ));
                                ?>  </div>
                            <i class="fa fa-spinner fa-spin hide loading_totmark"></i>
                            <i class="fa fa-check green hide done_totmark"></i>
                        </div>
                        </th>
                    <?php } ?>

                    </tr>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($rows as $row) {
                            ?>
                            <tr>
                                <td class="student_name col-md-3"> 
                                    <?php
                                    if ($row[8]) {
                                        ?>
                                        <span title="<?= $row[4] ?>" 
                                              class="mini-stat-icon"  >
                                                  <?php
                                                  echo $this->tag->image(array(
                                                      "src" => $row[8] ? (FILES_URI . $row[8]) : ('images/user.jpg'),
                                                      'style' => 'border-radius:50%',
                                                      'width' => '40px',
                                                      'height' => '40px'));
                                                  ?></span>
                                        <?php
                                    } else {
                                        ?>
                                        <span title="<?= $row[4] ?>" 
                                              class="mini-stat-icon tar " style="cursor:default;"  >
                                            <?= substr($row[0], 0, 1); ?></span>
                                    <?php }
                                    ?>

                                    <span class="name" title="<?= $row[0] . ' (' . $row[4] . ') ' ?>" > 
                                        <?= (strlen($row[0]) > 30 ? substr($row[0], 0, 30) . "..." : $row[0]) ?>
                                    </span>                                        

                                </td>
                                <td>
                                    <?= $row[9] ?>
                                </td>
                                <?php if ($is_upload == 1) { ?>
                                    <td> 
                                        <?php if ($row[5]) {
                                            ?>
                                            <div class="notification-info text-success" style="margin-top: 10px !important; " >

                                                <?php
                                                $fnmae = $row[5] ? explode('.', $row[5]) : '';

                                                echo substr($fnmae[0], 0, 20) . '.' . $fnmae[1];
                                                ?>
                                                <span class="notification-time text-muted" >on <?= date('d-m-Y', $row[6]) ?></span>
                                                <p >   <a target="_blank" href="<?php echo $this->url->get(ASSIGNMENT_URI . $row[5]); ?>"> Click here to view file </a> </p>

                                            </div>
                                        <?php } else { ?>
                                            <p class=" text-danger">Not yet submitted</p> 
                                        <?php }
                                        ?>
                                    </td>
                                <?php } ?>    
                                <?php if ($is_evaluation == 1) { ?>
                                    <td> 
                                        <div class="form-group">
                                            <label class="control-label col-sm-4"> </label>
                                            <div class="col-sm-6">
                                                <?php
                                                echo Phalcon\tag::textField(array(
                                                    "$row[1]",
                                                    "value" => "$row[2]",
                                                    'min' => '0',
                                                    'max' => $total_mark,
                                                    'class' => 'form-control stuMark',
                                                    'onBlur' => 'assignmentSettings.updateAssignmentMark(this.value, this.id)'
                                                ));
                                                ?> </div>
                                        </div>
                                        <i class="fa fa-spinner fa-spin hide loading_<?= $row[1] ?>"></i>
                                        <i class="fa fa-check green hide done_<?= $row[1] ?>"></i>
                                    </td>
                                <?php } ?> 

                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<!------------------------------------------------------------------------------------------>
<script>
    $('.scrollpane').css('height', '700px')
    $('.scrollpane').getNiceScroll().remove();
    $('.scrollpane').niceScroll();
    var max = 65;
//    $('#assignmentlisttbl tbody td').each(function () {
//        max = Math.max($(this).height(), max);
//    });
//
//    $('#assigMrk tbody td').each(function () {
//        max = Math.max($(this).height(), max);
//    });

    var i = 2;
    var sortingDisabled = new Array();
<?php if ($is_upload == 1) { ?>
        sortingDisabled = i++;
<?php } ?>
<?php if ($is_evaluation == 1) { ?>

        sortingDisabled.push(i++);
<?php } ?>
    $('#assignmentlisttbl').dataTable({
        "sDom": 'C<"clear">lrti',
        "bProcessing": true,
        "sPaginationType": "full_numbers",
        "iDisplayLength": 100,
        "aoColumnDefs": [{
                "sDefaultContent": "",
                "aTargets": [0, 1]
            }, {
                "bSortable": false,
                "sDefaultContent": "",
                "aTargets": sortingDisabled
            }],
        "bLengthChange": false,
        "bInfo": false
    });
    $('#assigMrk tbody tr').height(max);
    $('#assignmentlisttbl tbody tr').height(max);

</script>