
<section class="panel" id=''>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8"> <h3>List Of Assignments in <?= $combinations; ?></h3></div> 
                <div class="col-md-4" style="cursor: pointer;">
                    <label class="control-label pull-right staticon-label">Add New</label>
                    <span class="mini-stat-icon-smalli mini-stat-icon tar  pull-right" onclick="assignmentSettings.addnewAssignment()">
                        <i class="zmdi zmdi-plus"></i></span>
                </div>  
            </div><br>
            <div class="col-md-12">
                <table id="assignmentlisttbl" class="table table-hover general-table">
                    <thead class="thead_default">
                        <tr>
                            <th>Subject </th>
                            <th>DeadLine </th>
                            <th>Topic </th>
                            <th>Assignment Details </th>
                            <th>Assigned by</th>
                            <th>Actions </th>
                            <th>Manage</th>
                        </tr>

                    </thead>
                    <tbody>
                        <?php
                        if (count($assignmentslist) > 0) {
                            foreach ($assignmentslist as $assignmentitem) {
                                $combinations = ControllerBase::getCommonIdsForKeys($assignmentitem->subjct_modules);
                                $inquery = array();
                                foreach ($combinations as $orvalue) {
                                    $narr = explode('-', $orvalue);
                                    $splicedarr = array_slice($narr, array_search($subject_id, $narr) + 1);
                                    $namerepl = count($splicedarr) > 0 ? $splicedarr : 
                                            (array_slice($narr, array_search($subject_id, $narr)));
                                    $inquery[] = implode(' - ', preg_replace_callback('/^([\d-])*/', function($matches) {
                                                return OrganizationalStructureValues::findFirstById($matches[0])->name;
                                            }, $namerepl));
                                }
                                ?>
                                <tr >
                                    <td><?= implode(' >> ', $inquery) ?></td>
                                    <td><?php echo(date('d-m-Y', $assignmentitem->submission_date)); ?></td>
                                    <td><span title="<?= $assignmentitem->topic ?>"><?= (strlen($assignmentitem->topic) > 20 ? substr($assignmentitem->topic, 0, 20) . "..." : $assignmentitem->topic) ?></span></td>
                                    <td class="col-md-3"><span title="<?= $assignmentitem->desc ?>"><?= (strlen($assignmentitem->desc) > 100 ? substr($assignmentitem->desc, 0, 100) . "..." : $assignmentitem->desc) ?></span> </td>
                                    <td> <?php $login = StaffInfo::findFirstById($assignmentitem->created_by); ?>
                                        <span title="<?= $login->Staff_Name . ' (' . $login->loginid . ') ' ?>">
                                            <?php
                                            echo (strlen($login->Staff_Name) > 20 ? substr($login->Staff_Name, 0, 20) . "..." : $login->Staff_Name)
                                            ?></span></td>
                                    <td>
                                        <span class="mini-stat-icon-smalli mini-stat-icon-action pink" title="Edit" 
                                              onclick="assignmentSettings.editassignment(<?= $assignmentitem->id ?>)">
                                            <i class="fa fa-edit"></i></span>

                                        <span class="mini-stat-icon-smalli mini-stat-icon-action red-bg" title="Delete" 
                                              onclick="assignmentSettings.deleteassignment('<?= $assignmentitem->id ?>');">
                                            <i class="fa fa-trash-o"></i></span>

                                    </td>
                                    <td>
                                        <?php
                                        if ($assignmentitem->is_evaluation == 1 || $assignmentitem->is_upload == 1) {
                                            ?>
                                            <span class="mini-stat-icon-smalli mini-stat-icon-action tar" title="Manage student's assignments" 
                                                  onclick="assignmentSettings.loadAssignmentMark(<?= $assignmentitem->id ?>)">
                                                <i class="fa fa-check-square-o"></i></span>

                                            <?php
                                        }
                                        ?>
                                    </td>
                                </tr>
                                <tr class="hide assDet">
                                    <td colspan="5">
                                        <div class="col-md-12">
                                            <div class="col-md-5">

                                                <h4 class="mgbt-xs-15 mgtp-10 leftalign col-md-12" style="text-transform: uppercase;">
                                                    <i class="fa fa-bookmark" style="color:#000"></i> Assignment Details</h4>
                                                <div contenteditable="true" class=" col-md-12">
                                                    <p  style="text-align: justify">
                                                        <?= $assignmentitem->desc ?>
                                                    </p>

                                                </div>


                                            </div>
                                            <div class="col-md-6">
                                                <h4 class="mgbt-xs-15 mgtp-10 leftalign" style="text-transform: uppercase;">
                                                    <i class="fa fa-ticket" style="color:#000"></i> Explanation</h4>
                                                <div contenteditable="true">
                                                    <p  style="text-align: justify">
                                                        <?= $assignmentitem->comments ?>
                                                    </p>                                        
                                                </div>
                                            </div>                               
                                        </div>

                                    </td>
                                </tr>
                                <?php
                            }
                        } else {
                            ?>
                            <tr><td colspan="5">No Assignment added yet!</td></tr>
                        <?php } ?>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>









