<script>
    $('.form_date').datetimepicker({
        format: 'dd-mm-yyyy',
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

</script>
<section class="panel" id="viewAssignment">
    <div class="panel-body">
        <?php if ($action == 'View'): ?>
            <div align="right" class="bs-glyphicons">
                <ul class="bs-glyphicons-list">
                    <li  onclick="assignmentSettings.editassignment(<?= $selectedAssignment ?>)">
                        <span class="glyphicon glyphicon-pencil" onclick=""></span>
                        <span class="glyphicon-class">Edit</span>
                    </li> <li onclick="assignmentSettings.deleteassignment(<?= $selectedAssignment ?>)">
                        <span class="glyphicon glyphicon-trash" ></span>
                        <span class="glyphicon-class">Delete</span>
                    </li> 
                </ul>

            </div>

            <div align="right">

            </div>
        <?php endif; ?>

        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'viewAssignmentForm')); ?>
        <div class="center scaffold">
            <div class="col-md-12">
                
                <div class="form-group">
                        <label for=""  class="col-md-3 control-label"> Assignment Subject: </label>
                        <div class="col-md-6">
                            <?php
                            $aggregate_keys = $assignmentslist->subjct_modules ? explode('-',$assignmentslist->subjct_modules) : '';

                            $subjects = array();
                            foreach ($aggregate_keys as $agindvvalue):
                                $agindvValRec = OrganizationalStructureValues::findFirstById($agindvvalue);
                                $subjects[] = $agindvValRec->name;
                            endforeach;

                            echo \Phalcon\Tag::TextField(
                                    array(
                                        "examsubjects",
                                        "class" => "form-control",
                                        "value" => implode('>>',$subjects),
                                        "readonly"=>'',
                                        'title'=>' Subject'
                                    )
                            );
                            ?>
                            
                            <input type="hidden" value="<?= $assignmentslist->subjct_modules ?>" id="subject_modules" name="subject_modules" />
                        </div>
                    </div>
                
                <div class="form-group">
                    <label for="AssignmentTopic1" class="col-md-3 control-label mandatory">Topic:</label>
                    <div class="col-md-6">
                        <?php echo $form->render("staffID", array('value' => $uid)) ?>
                        <?php echo $form->render("assignmentId", array('value' => $selectedAssignment)) ?>
                        <?php echo $form->render("AssignmentTopic") ?>
                        <label for="errmsgAssignmentTopic" class="col-md-12 red errmsgAssignmentTopic hide"></label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="AssignmentDesc1" class="col-md-3 control-label mandatory">Description:</label>
                    <div class="col-md-6">
                        <?php echo $form->render("AssignmentDesc") ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="AssignmentDeadline1" class="col-md-3 control-label mandatory">Deadline:</label>
                    <div class="col-md-6">
                        <?php echo $form->render("AssignmentDeadline") ?>
                        <label for="errmsgAssignmentDeadline" class="col-md-12 red errmsgAssignmentDeadline hide"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="AssignmentComments1" class="col-md-3 control-label">Comments:</label>
                    <div class="col-md-6">
                        <?php echo $form->render("AssignmentComments") ?>
                    </div>
                </div>

                <?php
                if ($assignmentslist->is_upload == 0) {
                    ?>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="is_upload" class="control-label">
                                <?php
                                echo \Phalcon\Tag::checkField(
                                        array(
                                            "is_upload",
                                            'class' => 'box'
                                        )
                                );
                                ?>
                                Check this box if students can upload the assignment online
                            </label> 
                        </div>      
                    </div>  
                    <?php
                } else {
                    ?>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="is_upload" class="control-label">
                                <?php
                                echo \Phalcon\Tag::checkField(
                                        array(
                                            "is_upload",
                                            'class' => 'box',
                                            'checked' => 'checked'
                                        )
                                );
                                ?>
                                Check this box if students can upload the assignment online
                            </label> 
                        </div>      
                    </div> 
                    <?php
                }
                ?>


                <?php
                if ($assignmentslist->is_evaluation == 0) {
                    ?>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="is_evaluation" class="control-label">
                                <?php
                                echo \Phalcon\Tag::checkField(
                                        array(
                                            "is_evaluation",
                                            'class' => 'box',
                                            'onchange' => 'assignmentSettings.mainexamlink()'
                                        )
                                );
                                ?>
                                Check this box if this assignment carry marks
                            </label> 
                        </div>      
                    </div>   




                            
                    <?php
                } else {
                    ?>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="is_evaluation" class="control-label">
    <?php
    echo \Phalcon\Tag::checkField(
            array(
                "is_evaluation",
                'class' => 'box',
                'checked' => 'checked'
            )
    );
    ?>
                                Check this box if this assignment carry marks
                            </label> 
                        </div>      
                    </div> 
   
                            <?php
                        
                    }
                    ?>                

            </div>
        </div>
        </form>
    </div>
</section>