
<div id="academic-page">
    <div class="page-header filled full-block light ">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2><?= $classroom->name ?> </h2>
                <p>Manage classroom activities</p>
            </div>
<!--            <div class="col-md-6 col-sm-6">
                <ul class="list-page-breadcrumb">
                    <li><a href="#">Home <i class="zmdi zmdi-chevron-right"></i></a></li>
                    <li><a href="#">My Class <i class="zmdi zmdi-chevron-right"></i></a></li>
                    <li><a href="#">Grade I <i class="zmdi zmdi-chevron-right"></i></a></li>
                </ul>
            </div>-->

        </div>
    </div>
    <div id="activity" >
        <div class="row">
            <div class="col-md-12">
                <div class="widget-wrap material-table-widget">

                    <div class="widget-container margin-top-0">
                        <div class="widget-content">
                            <div class="data-action-bar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="widget-header">
                                            <h3>Class Activities</h3>
                                            <p>
                                                Manage student's performance
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="data-align-right">
                                            <ul class="rightlink">
                                                <li><a href="#attendance" id = "span_<?= $masterid ?>" 
                                                       teacherType ="classTeacher" cdate ="<?= date('d-m-Y', time()) ?>"
                                                       onclick = "attendanceSettings.getStudentList(this)" ><i class="fa fa-calendar"></i> Attendance</a></li>
                                                <li><a href="#rating" id = "span_<?= $masterid ?>" 
                                                       return_uri ="class_teacher_rating"
                                                       teacherType ="classTeacher" cdate ="<?= date('d-m-Y', time()) ?>"
                                                       onclick = "ratingSettings.loadRatingName(this)"><i class="fa fa-star-half-empty"></i> Rating</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabpane">
                                <div class="tabpane-items active" id="attendance">
                                    <div id="attcombiDiv" class="row">
                                        <div class="panel-body">
                                            <div class="col-md-12 hide" id="stuAttList"> </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tabpane-items " id="rating">
                                    <div id="classRating"  class="row">
                                        <div class="panel-body">
                                            <div class=' col-md-12 '>
                                                <div class='loadRatingName'class='hide'></div>
                                                <div class='loadStudenRating'class='hide'></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<script>
    $('ul.rightlink > li > a').on('click', function () {
        $('.rightlink > li').removeClass('active')
        $(this).parent().addClass('active')
        var tabactive = $(this).attr('href')
        $('.tabpane-items').removeClass('active')
        $(tabactive).addClass('active')
    })
</script>