<?php
echo $this->tag->stylesheetLink("js/lib/fileupload/jquery.fileupload.css");
?>
<div id="academic-page">
    <div class="page-header filled full-block light ">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2><?= $classroom->name ?>, <?= OrganizationalStructureValues::findFirstById($subjmaster->subject_id)->name ?></h2>
                <p>Manage subject activities</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="data-align-right">
                    <ul class="rightlink national" role="tablist">
                        <li class="active">
                            <a data-toggle="tab" href="#activity">
                                Course Activity
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#evaluation" >
                                Course Evaluation
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-content tasi-tab subcontent">
        <div id="activity" class="tab-pane active">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-wrap material-table-widget">

                        <div class="widget-container margin-top-0">
                            <div class="widget-content">
                                <div class="data-action-bar">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="widget-header">
                                                <h3>Subject Activities</h3>
                                                <p id="headerlist">
                                                    Showing 10 of 50 Course Palns
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="data-align-right">
                                                <ul class="rightlink">
                                                    <li class="active"><a href="#courseplan" ><i class="fa fa-list-alt"></i> Course Plan</a></li>
                                                    <li><a href="#content"><i class="fa fa-paper-plane"></i> Content</a></li>
                                                    <li><a href="#attendance" id = "span_<?= $masterid ?>" 
                                                           cdate ="<?= date('d-m-Y', time()) ?>"
                                                           onclick = "attendanceSettings.getStudentListBySession(this)" >
                                                            <i class="fa fa-calendar"></i> Attendance</a></li>
                                                    <li><a href="#homework" id="homeworksec_<?= $masterid ?>" 
                                                           teacherType ="subjectTeacher" cdate ="<?= date('d-m-Y', time()) ?>"
                                                           onclick = "homeworkSettings.loadHomeworkName(this)"><i class="fa fa-edit"></i>  Homework</a></li>
                                                </ul>
                                                <!--<a href="#clear" class="clear-filter btn btn-link" title="clear filter">Clear Filter</a>-->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabpane">
                                    <div class="tabpane-items active" id="courseplan">

                                        <div class="table-filter-header">
                                            <div class="row">
                                                <div class="col-md-8 col-sm-8">
                                                    <div class="row">
                                                        <div class="col-md-4 col-sm-4">
                                                            <span class="tfh-label mandatory">Title: </span>
                                                            <input class="form-control" id="filter" type="text"/>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4">
                                                            <span class="tfh-label">Select Assignment: </span> 
                                                            <select class="filter-status  form-control">
                                                                <option value="active">Active</option>
                                                                <option value="disabled">Disabled</option>
                                                                <option value="suspended">Suspended</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4"> 
                                                            <span class="tfh-label">Choose content(one or more): </span>
                                                            <select id="multiple" class="form-control select2-multiple filter-status  " multiple >
                                                                <option value="AK">Alaska</option>
                                                                <option value="HI">Hawaii</option>
                                                                <option value="CA">California</option>
                                                                <option value="NV">Nevada</option>
                                                                <option value="OR">Oregon</option>
                                                                <option value="WA">Washington</option>
                                                                <option value="AZ">Arizona</option>
                                                                <option value="CO">Colorado</option>
                                                                <option value="ID">Idaho</option>
                                                                <option value="MT">Montana</option>
                                                                <option value="NE">Nebraska</option>
                                                                <option value="NM">New Mexico</option>
                                                                <option value="ND">North Dakota</option>
                                                                <option value="UT">Utah</option>
                                                                <option value="WY">Wyoming</option>

                                                            </select>
                                                            <!--                                                  
                                                                                                                <select class="filter-status  form-control">
                                                                                                                    <option value="active">Active</option>
                                                                                                                    <option value="disabled">Disabled</option>
                                                                                                                    <option value="suspended">Suspended</option>
                                                                                                                </select>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 marbot0">
                                                    <div class="row ">
                                                        <div class="data-align-right">
                                                            <div class="col-md-9 "> 
                                                                <a href="#reset" class="btn add-row btn-danger">Reset</a>
                                                            </div>
                                                            <div class="col-md-3"> 
                                                                <a href="#add" class="btn add-row btn-primary">Add New</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table foo-data-table-filterable" data-filter="#filter" data-filter-text-only="true" data-page-size="5" data-limit-navigation="3">
                                            <thead>
                                                <tr>
                                                    <th  data-hide="phone">
                                                        Date
                                                    </th>
                                                    <th  data-hide="all">
                                                        Lecture
                                                    </th>
                                                    <th data-sort-ignore="true">
                                                        Session
                                                    </th>
                                                    <th  data-hide="phone">
                                                        Assignment
                                                    </th>
                                                    <th>
                                                        Contents
                                                    </th>
                                                    <th  data-sort-ignore="true" data-hide="phone"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td data-value="78025368997">22 Jun 2016</td>
                                                    <td>Introduction to Newton's law</td>
                                                    <td><a href="#">1</a></td>
                                                    <td>Case study - 1</td>
                                                    <td data-value="1"><span class="label label-success"  title="Shared">Shared</span></td>
                                                    <td class="td-right"><a class="row-edit" href="#">
                                                            <span class="zmdi zmdi-edit"></span></a> <a class="row-delete" href="#"><span class="zmdi zmdi-close"></span></a></td>
                                                </tr>
                                                <tr>
                                                    <td data-value="78025368997">1 Nov 2016</td>
                                                    <td>Flemings rule</td>
                                                    <td><a href="#">3</a></td>
                                                    <td>Flemings rule experiments</td>
                                                    <td data-value="1"><span class="label label-danger"  title="Nil">No content</span></td>
                                                    <td class="td-right"><a class="row-edit" href="#">
                                                            <span class="zmdi zmdi-edit"></span></a> <a class="row-delete" href="#"><span class="zmdi zmdi-close"></span></a></td>
                                                </tr>

                                                <tr>
                                                    <td data-value="78025368997">23 Jun 2015</td>
                                                    <td>Pythagoras's theorem</td>
                                                    <td><a href="#">5</a></td>
                                                    <td></td>
                                                    <td data-value="1"><span class="label label-danger"  title="Nil">No content</span></td>
                                                    <td class="td-right"><a class="row-edit" href="#">
                                                            <span class="zmdi zmdi-edit"></span></a> <a class="row-delete" href="#"><span class="zmdi zmdi-close"></span></a></td>
                                                </tr>

                                                <tr>
                                                    <td data-value="78025368997">30 Dec 2015</td>
                                                    <td>Activity</td>
                                                    <td><a href="#">1</a></td>
                                                    <td>Book review</td>
                                                    <td data-value="1"><span class="label label-success"  title="Shared">Shared</span></td>
                                                    <td class="td-right"><a class="row-edit" href="#">
                                                            <span class="zmdi zmdi-edit"></span></a> <a class="row-delete" href="#"><span class="zmdi zmdi-close"></span></a></td>
                                                </tr>
                                            </tbody>
                                            <tfoot class="hide-if-no-paging">
                                                <tr>
                                                    <td colspan="6" class="footable-visible">
                                                        <div class="pagination pagination-centered"></div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="tabpane-items " id="content">
                                        <form id="fileuploadreading" action="" method="POST" enctype="multipart/form-data" class="form-horizontal fileupload">
                                            <div class="table-filter-header">
                                                <div class="row">
                                                    <input type="hidden" id="masterid" name="masterid" value="<?= $masterid ?>"/>
                                                    <div class="col-md-6 col-sm-8">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-4">
                                                                <span class="control-label mandatory">Title: </span>
                                                                <input class="form-control" id="content_title" name="content_title" title="Title" type="text"/>
                                                            </div>
                                                            <div class="col-md-8 col-sm-4">
                                                                <span class="control-label">Description: </span>
                                                                   <textarea id="content_description" rows="1" class="form-control" name="content_description" title="Description"  ></textarea>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-8 marbot0">
                                                        <div class="row ">
                                                            <div class="data-align-right">
                                                                <div class="row fileupload-buttonbar col-md-12 " id="uploadfileenable">
                                                                    <div>
                                                                        <span class="btn btn-success fileinput-button" style="    background-color: #95b75d;
                                                                              border-color: #95b75d;">
                                                                            <i class="glyphicon glyphicon-plus"></i>
                                                                            <span>Add files...</span>
                                                                            <input type="file" name="files[]" multiple>
                                                                        </span>
                                                                        <button type="submit" class="btn btn-primary start">
                                                                            <i class="glyphicon glyphicon-upload"></i>
                                                                            <span>Start upload</span>
                                                                        </button>
                                                                        <button type="reset" class="btn btn-warning cancel">
                                                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                                                            <span>Cancel upload</span>
                                                                        </button>
                                                                        <button type="button" class="btn btn-success " onclick="contentsharingSettings.saveReadingFiles()" value="submit">Save
                                                                        </button>
                                                                        <span class="fileupload-process"></span>
                                                                    </div>
                                                                    <div class="col-lg-5 fileupload-progress fade">
                                                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                                                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                                                        </div>
                                                                        <div class="progress-extended">&nbsp;</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row fileupload-buttonbar col-md-12 " id="sharefileenable">
                                            </div>
                                            <table id="readingsfile" role="presentation" class="table table-striped table foo-data-table-filterable" style=""><tbody class="files"></tbody></table>

                                        </form>
                                    </div>
                                    <div class="tabpane-items " id="attendance">
                                        <div id="attcombiDiv" class="row">
                                            <div class="panel-body">
                                                <div class="col-md-12 hide" id="stuAttList"> </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tabpane-items " id="homework">
                                        <!--  mainexam content goes here-->
                                        <div id="subjhomeworkcombiDiv" class="row">
                                            <div class="">
                                                <div class="col-md-12">
                                                    <div class='loadHomeworkName'class='hide'></div>
                                                    <div class='loadHomeworkdata scrollpane'class='hide'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div id="evaluation" class="tab-pane ">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-wrap material-table-widget">

                        <div class="widget-container margin-top-0">
                            <div class="widget-content">
                                <div class="data-action-bar">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="widget-header">
                                                <h3>Evaluation</h3>
                                                <p>
                                                    Evaluate student's academic performance
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="data-align-right">
                                                <ul class="rightlink">
                                                    <li><a href="#mainexam_tabpane"
                                                           teacherType ="subjectTeacher" cdate ="<?= date('d-m-Y', time()) ?>"
                                                           onclick = "markSettings.UpdateCurrentView(this)"  classname ='<?= $classroom->name ?>'
                                                           id="mainexamsec_<?= $masterid ?>"><i class="fa fa-book"></i> Main Exam</a></li>
                                                    <li><a href="#classtest" 
                                                           id = "classtestsec_<?= $masterid ?>" 
                                                           teacherType ="subjectTeacher" cdate ="<?= date('d-m-Y', time()) ?>"
                                                           onclick = "examSettings.activeTest(this)" ><i class="fa fa-pencil"></i> Class Test</a></li>
                                                    <li><a href="#assignment" id="assignmentsec_<?= $masterid ?>" 
                                                           teacherType ="subjectTeacher" cdate ="<?= date('d-m-Y', time()) ?>"
                                                           onclick = "assignmentSettings.Subjectsloaded(this)"><i class="fa fa-list-alt"></i> Assignment</a></li>
                                                    <li><a href="#rating" id="ratingsect_<?= $masterid ?>" 
                                                           return_uri ="subject_teacher_rating"
                                                           teacherType ="subjectTeacher" cdate ="<?= date('d-m-Y', time()) ?>"
                                                           onclick = "ratingSettings.loadRatingName(this)"><i class="fa fa-star"></i> Rating</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabpane">
                                    <div class="tabpane-items active" id="mainexam_tabpane">
                                        <!--  mainexam content goes here-->
                                        <div id="xamcombiDiv" class="row">
                                            <div class="panel-body">
                                                <div class="col-md-12 hide" id="stuExamList"> </div>
                                                <div class="col-md-12 hide" id="stuMarkList"> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabpane-items " id="classtest">
                                        <!--classtest content goes here-->
                                        <div id="tstcombiDiv" class="row">
                                            <div class="panel-body">
                                                <div id ='viewclasstest' class='hide col-md-12 '></div>   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabpane-items " id="assignment">
                                        <!--assignment content goes here-->
                                        <div id="assigncombiDiv" class="row">
                                            <div class="panel-body">
                                                <div id ='subjTechMatrix' class='hide col-md-12 '></div>   
                                            </div>
                                        </div>
                                    </div>
                                    <div id="rating" class="tabpane-items ">
                                        <!--rating content goes here-->
                                        <div id="subjRating" class="row">
                                            <div class="panel-body">
                                                <div id ='subjTechMatrix' class=' col-md-12 '>
                                                    <div class='loadRatingName'class='hide'></div>
                                                    <div class='loadStudenRating'class='hide'></div>
                                                </div>   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

</div>
<script id="template-upload" type="text/x-tmpl">
    console.log(files[i]); 
    <table class="table foo-data-table-filterable">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
    <td>
    <span class="preview"></span>
    </td>
    <td>
    <p class="name">{%=file.name%}</p>
    <strong class="error text-danger"></strong>
    </td>
    <td>
    <p class="size">Processing...</p>
    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
    </td>
    <td>
    {% if (!i && !o.options.autoUpload) { %}
    <a class="start" title="Start" style="cursor:pointer;" disabled>
    <i class="glyphicon glyphicon-upload"></i>
    <span id="spanclick"></span>
    </a>
    {% } %}
    {% if (!i) { %}
    &nbsp;<a class=" cancel" title="Cancel" style="cursor:pointer;">
    <i class="glyphicon glyphicon-ban-circle"></i>
    <span></span>
    </a>
    {% } %}
    </td>
    </tr>
    {% } %}
    </table>
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    <table class="table foo-data-table-filterable">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">

    <td>
    <span class="preview">
    {% if (file.thumbnailUrl) { %}
    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery>
    <img width = "48" height="60" src="{%=file.thumbnailUrl%}"></a>
    {% } %}
    </span>
    </td>
    <td>
    <span class="subject">{%=file.description%}</span>
    </td>
    <td>
    <p class="name">
    {% if (file.url) { %}
    <a class="fileretrieve" href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
    {% } else { %}
    <span>{%=file.name%}</span>\n\
    {% } %}
    </p>
    {% if (file.error) { %}
    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
    {% } %}
    </td>
    <td>
    {% if (file.deleteUrl) { %}
    <a class=" delete" title="Delete" style="cursor:pointer;" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
    <i class="glyphicon glyphicon-trash"></i>
    <span></span>
    </a>
    <!--<input type="checkbox" name="delete" value="1" class="toggle">-->
    {% } else { %}
    <a class="cancel" style="cursor:pointer;" title="Cancel">
    <i class="glyphicon glyphicon-ban-circle"></i>
    <span></span>
    </a>
    {% } %} 
            </td>
    </tr>
    {% } %}
    </table>
</script>
<script>
    $('.subcontent ul.rightlink > li > a').on('click', function () {
        $('.subcontent .rightlink > li').removeClass('active')
        $(this).parent().addClass('active')
        var tabactive = $(this).attr('href')
        $('.tabpane-items').removeClass('active')
        $(tabactive).addClass('active');
        $('.widget-header > span').addClass('hide');
        $(tabactive + '_count').removeClass('hide');
    })
</script>
<?php
echo $this->tag->javascriptInclude('js/lib/fileupload/jquery.ui.widget.js');

echo $this->tag->javascriptInclude('js/lib/fileupload/tmpl.min.js');
echo $this->tag->javascriptInclude('js/lib/fileupload/load-image.all.min.js');
echo $this->tag->javascriptInclude('js/lib/fileupload/canvas-to-blob.min.js');
echo $this->tag->javascriptInclude('js/lib/fileupload/jquery.blueimp-gallery.min.js');

echo $this->tag->javascriptInclude('js/lib/fileupload/jquery.iframe-transport.js');
echo $this->tag->javascriptInclude('js/lib/fileupload/jquery.fileupload.js');
echo $this->tag->javascriptInclude('js/lib/fileupload/jquery.fileupload-process.js');
echo $this->tag->javascriptInclude('js/lib/fileupload/jquery.fileupload-image.js');
echo $this->tag->javascriptInclude('js/lib/fileupload/jquery.fileupload-audio.js');
echo $this->tag->javascriptInclude('js/lib/fileupload/jquery.fileupload-video.js');
echo $this->tag->javascriptInclude('js/lib/fileupload/jquery.fileupload-validate.js');
echo $this->tag->javascriptInclude('js/lib/fileupload/jquery.fileupload-ui.js');
echo $this->tag->javascriptInclude('js/lib/fileupload/main.js');
?>