/***** time style ****/
time.icon
{
    float: left;
    font-size: 0.6em;
    display: block;
    position: relative;
    width: 4.5em;
    height: 4.5em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;

}
time.icon * {
    display: block;
    width: 100%;
    font-size: .8em;
    /*font-weight: bold;*/
    font-style: normal;
    text-align: center;
}
time.icon strong {
    position: absolute;
    top: 0;
    /* padding: 0 0; */
    height: 24px;
    color: #fff;
    background-color: #FCB322;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 2px 0 #FCB322;
}
time.icon em {
    position: absolute;
    bottom: 0px;
    color: #fd9f1b;
}

time.icon span {
    font-size: 1.5em;
    letter-spacing: -0.05em;
    padding-top: 1.1em;
    color: #2f2f2f;
}

#timeline-body{
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}