.calendar {
    min-width: 200px;
    min-height: 320px;
}
.calendar-modal {
    display: none;
    position: absolute;
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 2px 3px #ddd
}
.calendar-inner {
    position: relative;
    z-index: 1;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}
.calendar-views {
    transform-style: preserve-3d;
}
.calendar .view {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    *overflow: hidden;
    -webkit-transition: .6s;
    transition: .6s;
}
.calendar-d .view-month,
.calendar-m .view-date {
    transform: rotateY(180deg);
    visibility: hidden;
    z-index: 1;
}
.calendar-d .view-date,
.calendar-m .view-month {
    transform: rotateY(0deg);
    visibility: visible;
    z-index: 2;
}
.calendar-ct,
.calendar-hd,
.calendar-views .week,
.calendar-views .days {
    overflow: hidden;
}
.calendar-views {
    width: 100%;
}
.calendar .view,
.calendar-display,
.calendar-arrow .prev,
.calendar .date-items li {
    float: left;
}
.calendar-arrow,
.calendar-arrow .next {
    float: right;
}
.calendar-hd {
    padding: 10px 0;
    height: 30px;
    line-height: 30px;
}
.calendar-display {
    font-size: 17px;
    text-indent: 10px;
}
.view-month .calendar-hd {
    padding: 10px;
}
.calendar-arrow,
.calendar-display {
    color: #ddd;
    text-decoration: initial;
}
.calendar li[disabled] {
    color: #bbb;
}
.calendar li.old[disabled],
.calendar li.new[disabled] {
    color: #eee;
}
.calendar-display .m,
.calendar-views .week,
.calendar-views .days .old,
.calendar-views .days .new,
.calendar-display:hover,
.calendar-arrow span:hover {
    color: #888;
}

.calendar-arrow span,
.calendar-views .days li[data-calendar-day],
.calendar-views .view-month li[data-calendar-month] {
    cursor: pointer;
} 
.calendar li[disabled] {
    cursor: not-allowed;
}

.calendar-arrow {
    width: 50px;
    margin-right: 10px;
}
.calendar-arrow span {
    font: 500 20px sans-serif;
}

.calendar ol li {
    position: relative;
    float: left;
    text-align: center;
    border-radius: 50%;
}
.calendar .week li,
.calendar .days li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    list-style: none;
    text-align: center !important;
}
.calendar .month-items li {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center !important;
    list-style: none;
    
}
.calendar .days li[data-calendar-day]:hover,
.calendar .view-month li[data-calendar-month]:hover {
    background: #eee; 
}
.calendar .calendar-views .now {
    color: #fff;
    background: #66be8c!important;  
}
.calendar .calendar-views .selected {
    color: #66be8c;
    background: #CDE9D9!important; 
}
.calendar .calendar-views .dot {
    position: absolute;
    left: 50%;
    bottom: 4px;
    margin-left: -2px; 
    width: 4px;
    height: 4px;
    background: #66be8c;
    border-radius: 50%;
}
.calendar-views .now .dot {
    background: #fff;
}

.calendar .date-items {
    width: 300%;
    margin-left: -100%;
}

.calendar-label {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    padding: 5px 10px;
    line-height: 22px;
    color: #fff;
    background: #000;
    border-radius: 3px;
    opacity: .7;
    filter: alpha(opacity=70);
}
.calendar-label i {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -12px;
    width: 0;
    height: 0;
    margin-left: -3px;
    border: 6px solid transparent;
    border-top-color: #000;
}

.calendar-hour{

    display: block; 
    padding-left: 0px;  
    text-decoration: none;  
    height: 55px;
    border-bottom: solid 1px rgba(0,0,0,0.1); 
}
.calendar-hour .cal-from{
    position: absolute;   
      margin-top: 6px;
    font-size: 11px;   
    font-weight: 400;   
    padding-left: 20px;
    color: #666666;   
    opacity: 0.7; 
    width: 80px;  
}
.calendar-hour .cal-to{
    position: absolute;   
    margin-top: 26px;
    font-size: 11px;   
    font-weight: 400;   
    padding-left: 20px;
    color: #666666;  
    opacity: 0.7; 
    width: 80px;
}
.calendar-hour .cal-time{

    position: absolute;
     margin-top: 14px;
    font-weight: 400;
    font-size: 11px;
    padding-left: 20px;  color: #666666;
    opacity: 0.7;
}
.calendar-hour h4{
    font-size: 14px;   
    padding-left: 100px;   
    padding-top: 8px;
  margin-bottom: 0;
}
.calendar-hour em {

    font-style: normal;   font-size: 11px;   padding-left: 100px;   color: #a1a1a1;
}

.indveve{padding:5px;  height: 50px; border-bottom: solid 1px rgba(0,0,0,0.1);}
.caldiv{xbackground-color:#fff;padding:5px;xtop: 100%;position:relative;}
.month-items span.small{
    color : red;
    font-size: 10px;
}