<?php
//<!--icheck init -->
echo $this->tag->javascriptInclude("js/icheck-init.js");
?>
<style>
    .nopad {
        padding: 8px!important;
    }
</style>
<section class="panel" id="addNumofDays">
    <div class="errmsg hide"></div>
    <div class="panel-body">
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addNumofDaysForm')); ?>
        <div class="center scaffold">
            <div class="col-md-12">

                <div class="col-md-12 ">
                    <label for="" class="control-label"> Block attendance value above the allowed count </label>
                    <?php
                    if ($attendancevalbyid->is_allowed_by_count == 1) {
                        $saldedtclass = '';
                        ?>
                        <input type="checkbox" name="is_allowed_by_count" checked="checked" 
                               id="is_allowed_by_count" onclick="settings.enableAllwForm(this)" class=""/>
                               <?php
                           } else {
                               $saldedtclass = 'disabled';
                               ?>
                        <input type="checkbox" name="is_allowed_by_count"   id="is_allowed_by_count" 
                               onclick="settings.enableAllwForm(this)" class=""/>
                           <?php } ?>
                    <br>
                    <br> 

                </div>
                <div class=" form-horizontal col-md-12" id="allowed_count_form"  >
                    <label for="examName" class="control-label ">   Allowed <?= $leavetype; ?> :  </label>                  
                    <div class="form-group ">
                        <label for="Leave" class="col-md-2 nopad">    </label>
                        <div class="col-md-2 nopad">  
                            <?php
                            echo Phalcon\tag::select(array("allowed_days", array(
                                    '1' => '1',
                                    '2' => '2',
                                    '3' => '3',
                                    '4' => '4',
                                    '5' => '5',
                                    '6' => '6',
                                    '7' => '7',
                                    '8' => '8',
                                    '9' => '9',
                                    '10' => '10',
                                    '11' => '11',
                                    '12' => '12',
                                    '13' => '13',
                                    '14' => '14',
                                    '15' => '15',
                                    '16' => '16',
                                    '17' => '17',
                                    '18' => '18',
                                    '19' => '19',
                                    '20' => '20'
                                ),
                                'useEmpty' => true,
                                'emptyText' => 'Select',
                                'emptyValue' => '',
                                'class' => 'form-control',
                                'value' => $attendancevalbyid->allowed_count,
                                $saldedtclass => ''
                            ));
                            ?>
                        </div>   

                        <!--
                                                </div>
                                                <div class="form-group">-->
                        <label for="Leave" class="col-md-3 nopad">  instances per  </label>

                        <div class=" col-md-2 nopad">
                            <?php
                            echo Phalcon\tag::select(array("allowed_month", array(
                                    '1' => '1',
                                    '2' => '2',
                                    '3' => '3',
                                    '4' => '4',
                                    '5' => '5',
                                    '6' => '6',
                                    '7' => '7',
                                    '8' => '8',
                                    '9' => '9',
                                    '10' => '10',
                                    '11' => '11',
                                    '12' => '12'
                                ),
                                'useEmpty' => true,
                                'emptyText' => 'Select',
                                'emptyValue' => '',
                                'class' => 'form-control',
                                'value' => $attendancevalbyid->duration_month,
                                $saldedtclass => ''
                            ));
                            ?> 

                        </div>
                        <label for="Leave" class="col-md-3 nopad"> months. </label>

                    </div> 
                </div>
                
                
<!--                <div class="col-md-12 ">
                    <label for="" class="control-label"> LOP Calacualtion formula: </label>
                    <?php
                    $disableformula = (in_array('Organizational_structure_admin', $identity['role_name']))?'':'disabled'; 
                    $formula = ($attendancevalbyid->school_cal_formula) ? 
                            $attendancevalbyid->school_cal_formula :
                            "\$x=\$n*($attendancevalbyid->attendancevalue);";
                    ?>
                    <input type="text" id="formula" name="formula" class="form-control" <?=  $disableformula ?>
                           style="  font-weight: 600;"    value="<?=  $formula ?>" />

                </div>-->
                <!--
                                <div class="col-md-12 ">
                                    <label for="If Deduct Salary" class="control-label"> Want to Deduct Salary..</label>
                <?php
                if ($attendancevalbyid->punish == 1) {
                    $saldedtclass = '';
                    ?>
                                            <input type="checkbox" name="salarydeduct" checked="checked" value="deductsalary" id="salarydeduct" onclick="settings.viewSalDetect()" class=""/>
                    <?php
                } else {
                    $saldedtclass = 'hide';
                    ?>
                                                  <input type="checkbox" name="salarydeduct"  value="deductsalary" id="salarydeduct" onclick="settings.viewSalDetect()" class=""/>
                <?php } ?>
                                    <br>
                                    <br> 
                
                                </div>
                
                
                
                
                                <div class="salary_detect <?php echo $saldedtclass; ?>" > 
                
                                    <P style="line-height: 3;"><label for="Leave" class=""> Deduct salary of &nbsp;&nbsp; </label>
                <?php
                echo Phalcon\tag::select(array("sal_deduct", array(
                        '0.5' => '0.5',
                        '1.0' => '1.0',
                        '1.5' => '1.5',
                        '2.0' => '2.0',
                        '2.5' => '2.5',
                        '3.0' => '3.0',
                        '3.5' => '3.5',
                        '4.0' => '4.0',
                        '4.5' => '4.5',
                        '5.0' => '5.0',
                        '5.5' => '5.5',
                        '6.0' => '6.0',
                        '6.5' => '6.5',
                        '7.0' => '7.0',
                        '7.5' => '7.5',
                        '8.0' => '8.0',
                        '8.5' => '8.5',
                        '9.0' => '9.0',
                        '9.5' => '9.5',
                        '10.0' => '10.0'
                    ),
                    'useEmpty' => true,
                    'emptyText' => 'Select',
                    'emptyValue' => '',
                    'class' => 'form-attendance',
                    'value' => ($attendancevalbyid->deduct_salary) ? $attendancevalbyid->deduct_salary : ''
                ));
                ?> 
                                        <label for="Leave" class="">&nbsp;&nbsp; days for each &nbsp;&nbsp; </label>  <?php
                echo Phalcon\tag::select(array("deduct_days", array(
                        '1' => '1',
                        '2' => '2',
                        '3' => '3',
                        '4' => '4',
                        '5' => '5',
                        '6' => '6',
                        '7' => '7',
                        '8' => '8',
                        '9' => '9',
                        '10' => '10',
                        '11' => '11',
                        '12' => '12',
                        '13' => '13',
                        '14' => '14',
                        '15' => '15',
                        '16' => '16',
                        '17' => '17',
                        '18' => '18',
                        '19' => '19',
                        '20' => '20'
                    ),
                    'useEmpty' => true,
                    'emptyText' => 'Select',
                    'emptyValue' => '',
                    'class' => 'form-attendance',
                    'value' => ($attendancevalbyid->punish_group) ? $attendancevalbyid->punish_group : ''
                ));
                ?> 
                
                <?php
                echo Phalcon\tag::select(array("deduct_type", array(
                        '1' => 'days',
                        '0' => 'instances',
                    ),
                    'useEmpty' => true,
                    'emptyText' => 'Select',
                    'emptyValue' => '',
                    'class' => 'form-attendance',
                    'onchange' => 'settings.slctDayorInsts(this.value)',
                    'value' => ($attendancevalbyid->punish_type) ? $attendancevalbyid->punish_type : ''
                ));
                ?>
                                        <label for="Leave" class="">when <?= $leavetype; ?> exceeds  &nbsp;&nbsp;   
                                        </label>
                
                
                <?php
                echo Phalcon\tag::select(array("deduct_max_days", array(
                        '1' => '1',
                        '2' => '2',
                        '3' => '3',
                        '4' => '4',
                        '5' => '5',
                        '6' => '6',
                        '7' => '7',
                        '8' => '8',
                        '9' => '9',
                        '10' => '10',
                        '11' => '11',
                        '12' => '12',
                        '13' => '13',
                        '14' => '14',
                        '15' => '15',
                        '16' => '16',
                        '17' => '17',
                        '18' => '18',
                        '19' => '19',
                        '20' => '20'
                    ),
                    'useEmpty' => true,
                    'emptyText' => 'Select',
                    'emptyValue' => '',
                    'class' => 'form-attendance',
                    'value' => ($attendancevalbyid->punish_limit) ? $attendancevalbyid->punish_limit : ''
                ));
                ?>
                
                                        <label for="Leave" class="daysorinsts">   
                <?php
                if ($attendancevalbyid->punish_type == 0)
                    echo 'instance';
                else if ($attendancevalbyid->punish_type == 1)
                    echo 'days';
                else
                    echo '';
                ?>
                                        </label>
                
                                    </P>
                                </div>   
                                <div class="col-md-12 ">
                
                <?php
                if ($attendancevalbyid->show_in_payslip == 1) {
                    $payslipclass = 'hide';
                    ?>
                                                <input type="checkbox" name="showinpayslip" checked="checked" onclick="settings.viewLeaveType()" value="showinpayslip" id="showinpayslip" class=""/>
                    <?php
                } else if ($attendancevalbyid->show_in_payslip == '') {
                    $payslipclass = 'hide';
                    ?>
                                                <input type="checkbox" name="showinpayslip" checked="checked"   onclick="settings.viewLeaveType()" value="showinpayslip" id="showinpayslip" class=""/>
                    <?php
                } else {
                    $payslipclass = '';
                    ?>
                                                <input type="checkbox" name="showinpayslip"  onclick="settings.viewLeaveType()" value="showinpayslip" id="showinpayslip" class=""/>
                <?php } ?>
                                    <label for="Show in Pay Slip" class="control-label"> Show in Pay Slip.</label>
                                    <br>
                                    <br>
                                </div>
                
                                <div class="show_payslip <?php echo $payslipclass; ?>" > 
                                    <label for="Show in Pay Slip" class=""> Attendance Name :</label>
                <?php
                echo Phalcon\tag::select(array(
                    "attendacetype",
                    $attendanceval,
                    "using" => array('id', 'attendancename'),
                    'useEmpty' => true,
                    'emptyText' => 'Select',
                    'emptyValue' => '',
                    'class' => 'form-attendance',
                    'value' => ($attendancevalbyid->substitute) ? $attendancevalbyid->substitute : ''
                ));
                //print_r($attendanceval); 
                ?>
                                </div>-->
            </div>
        </div>
        </form>
    </div>


</section>


<!--<script>
    $(document).ready(function()
    {
        $('#salarydetect').click(function()
        {
           alert('test');
        });
        
    });
    </script>-->