<script>
    $(document).ready(function () {
        $(".form_datetime").datetimepicker({format: 'hh:ii',
            startView: 0,
            autoclose: true});
    });

</script>
<div class="row">
    <div class="col-sm-12">
        <div class="panel-body">

            <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal',  'id' => 'editAttPeriodsForm')); ?>
            <div class="center scaffold">
                <div class="col-md-10" id="">
                    <div class="form-group">
                        <?php
                        $nodenme = explode('-', $periodMastr->node_id);
                        if (count($nodenme) > 0) {
                            ?>
                            <span id="" class="label label-primary">
                                <?php
                                foreach ($nodenme as $nval) {
                                    $newArr[] = OrganizationalStructureValues::findFirstById($nval)->name;
                                }
                                echo implode(' >> ', $newArr);
                                ?>                            
                            </span>
                        <?php } ?>
                    </div>
                    <input type="hidden" id="period_id" name="period_id" value=<?= $id ?>>
                    <div class="form-group">
                        <label  class="col-md-4 control-label mandatory"> Period:</label>
                        <div class="col-md-8">  
                            <input type="text" class="form-control" value="<?= $periodMastr->period ?>"  id="period" name="period" title="Period" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for=""  class="col-md-4 control-label mandatory">Start Time:</label>
                        <div class="col-md-8">
                            <?php
                            echo Phalcon\Tag::textField(array("start_time",
                                'class' => 'form-control form_datetime ',
                                 'title' => 'Start Time',
                                  'value' => $periodMastr->start_time ? date('H:i',$periodMastr->start_time): ''
                            ));
                            ?>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for=""  class="col-md-4 control-label mandatory">End Time:</label>
                        <div class="col-md-8">
                            <?php
                            echo Phalcon\Tag::textField(array("end_time",
                                'class' => 'form-control form_datetime',
                                'title' => 'End Time',
                                 'value' => $periodMastr->end_time ? date('H:i',$periodMastr->end_time) : ''
                            ));
                            ?>
                        </div>
                    </div>
                </div>
                </form>

            </div>  
        </div>  
    </div>  


