<?php
echo $this->tag->javascriptInclude("js/d3.v3.min.js");
?><script>

</script>

<style type="text/css">
    .stu-list{

        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        min-height: 474px;
    }
    .event-list li {
        background:  #F3F3F3; color: #333
    }
    .stu-name{
        vertical-align: middle;position: relative;top: 5px;
        cursor:default;word-break: break-all;
        text-transform: uppercase !important;
    }
    .stu-icon{
        cursor:default;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .event-close{
        color: #ccc; 
    }
    .event-select{
        color: #3c763d ; 
    }
    .d3-context-menu {
        position: absolute;
        display: none;
        /*background-color: #f2f2f2;
        border-radius: 4px;*/

        font-family: Arial, sans-serif;
        font-size: 14px;
        min-width: 150px;
        /*border: 1px solid #d4d4d4;*/

        z-index:1200;
    }

    .d3-context-menu ul {
        /*list-style-type: none;
        
        padding: 0px;

  position: absolute;*/
        cursor: default;
        margin: 4px 0px;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
    }

    .d3-context-menu ul li {
        padding: 4px 16px;
    }
    .d3-context-menu ul li a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.428571429;
        color: #333;
        white-space: nowrap;
    }
    .d3-context-menu ul li a:hover {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.428571429;
        color: #FFF;
        white-space: nowrap;
    }

    .d3-context-menu ul li:hover {
        background-color: #333;
        color: #FFF;
    }
    .node {
        cursor: pointer;
    }

    .overlay{
        background-color:#fff;
    }

    .node circle {
        fill: #fff;
        stroke: #FFF;
        stroke-width: 1.5px;
    }

    .node text {
        font-size:10px; 
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

    .templink {
        fill: none;
        stroke: red;
        stroke-width: 3px;
    }

    .ghostCircle.show{
        display:block;
    }

    .ghostCircle, .activeDrag .ghostCircle{
        display: none;
    }

</style>
<?php
$linkclass = array('primary', 'danger', 'info', 'success', 'warning');
?>

<div class="col-md-8">

    <section class="panel">
        <header class="panel-heading">
            <i class="fa fa-sitemap fa-2x"></i> &nbsp; &nbsp;&nbsp;Student/Staff canvas
            <span class="tools pull-right col-md-2">
            </span>
        </header>

        <div class=" panel-body">
            <aside class="col-lg-9">
                <div id="boog"></div>
            </aside>
        </div>

    </section>
</div>
<div class="col-md-4">
    <section class="panel">
        <header class="panel-heading">
            Node Settings
        </header>
        <div class=" panel-body">

            


            <div id="nodeusers">
            </div>
        </div>

    </section>
</div>
<?php
echo $this->tag->javascriptInclude("js/attendancesettings/student.js");
?>