<div id = "Rating">
    <?php
    echo $this->getContent();
    $msg = $this->flashSession->getMessages();
    if ($msg && isset($msg['error'])) {

        if (count($msg['error'])) {
            echo '<div class="alert alert-error">';
            foreach ($msg['error'] as $msgs) {
                echo $msgs . '<br>';
            }
            echo '</div>';
        } else if (count($msg['success'])) {
            echo '<div class="alert alert-success">';
            foreach ($msg['success'] as $msgs) {
                echo $msgs . '<br>';
                echo '</div>';
            }
        }
    }
    ?>
    <script>
        $(document).ready(function () {


            var wrapper = $("#input_wrapper"); //Fields wrapper
            var add_button = $("#add_category"); //Add button ID

            $(add_button).click(function (e) { //on add input button click

                var pervs_rcrd_cnt = $('#pervs_rcrd_cnt').val();
                pervs_rcrd_cnt = parseInt(pervs_rcrd_cnt) + 1;

                e.preventDefault();
                $(wrapper).append('<div class="form-group"><div class = "col-md-12"><div class = "col-md-2"><input type="text" name="attendance_name" class = "name form-control" placeholder = "Attendance Name"/></div>\n\<div class = "col-md-2"><input type="text" name="attendance_id" class = "attendanceid form-control" maxlength="3" placeholder = "Attendance Id"/></div>\n\
    <div class = "col-md-3"><div><div class="input-group"><input type="number" name="attendance_value" class = "attendance form-control" placeholder = "0" />    </div></div></div>\n\
<div class = "col-md-2"> <input type="checkbox" value="1" onchange="uncheckyesval(this)" class="selctlevtyp" name="selctlevtyp" id="candtlevyes_' + pervs_rcrd_cnt + '" /> Yes <input type="checkbox"  class="selctlevtyp"  onchange="unchecknoval(this)" value="0" name="selctlevtyp" id="candtlevno_' + pervs_rcrd_cnt + '" /> No </div>      \n\
  <div class = "col-md-2"><div class="input-append colorpicker-default color" data-color="" data-color-format="rgb" style="width:100px;"><input type="hidden" class="pickcolor form-control" value="" readonly=""> <br> <span class=" input-group-btn add-on add-on-color"><button style="padding: 8px" type="button" class="btn btn-white"><i></i></button></span></div></div>\n\
<a href="#" class="remove_field"><i class="fa fa-trash-o fa-2x"></a></div></div>'); //add input box
                $('.colorpicker-default').colorpicker({
                    format: 'hex',
                    autoclose: true
                });
                $('.spinner3').spinner({value: 0, step: 0.5, min: -5, max: 1});
                $('.spinner6').spinner({value: 0, min: 1, max: 1});

                $('#pervs_rcrd_cnt').val(pervs_rcrd_cnt);
            });

            $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
                e.preventDefault();
                $(this).parent('div').parent('div').remove();
            });

            $(wrapper).on("click", ".remove_db", function (e) { //user click on remove text for existing category
                e.preventDefault();
                $(this).parent('div').parent('div').hide();
            })

        });

        function uncheckyesval(cntrl)
        {
            //  alert('tes')
            var idvalsplt = $(cntrl).attr('id').split('_');

            $('#candtlevno_' + idvalsplt[1]).prop('checked', false);
        }

        function unchecknoval(cntrl)
        {
            //  alert('no')
            var idvalsplt = $(cntrl).attr('id').split('_');

            $('#candtlevyes_' + idvalsplt[1]).prop('checked', false);
        }
    </script>
    <div class="row">
        <div class="col-sm-12" id='mainDiv'>
            <section class="panel" id='staffattendance-setting'>

<!--                <header class="panel-heading">
                    Staff Attendance Settings
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>            -->

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs nav-justified tab-bg-dark-navy-blue ">
                                <li class="active">
                                    <a data-toggle="tab" href="#attendance-value">
                                        Attendance Value
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#attendance-frequency">
                                        Attendance Frequency
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content tasi-tab">
                                <div id="attendance-value" class="tab-pane active">
                                    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'attendanceSettingsForm')); ?>
                                    <div class="form-group col-sm-12">

                                        <div class="form-group">     

                                            <div class="col-md-12">
                                                <button class="btn btn-success pull-right" id = 'add_category' type="button"> 
                                                    Add Rows
                                                </button>                                
                                            </div>                               
                                            <div id ="input_wrapper">
                                                <div class = "col-md-12">
                                                    <div class = "col-md-2"> <h3>Attendance Name</h3></div>
                                                    <div class = "col-md-2"> <h3>Attendance legend Max(3 Characters)</h3></div>
                                                    <div class = "col-md-2"> <h3>Attendance Value</h3></div>
                                                    <div class = "col-md-3"> <h3> Candidate For Leave </h3></div>
                                                    <div class = "col-md-2"> <h3>Color Code</h3></div>
                                                </div>


                                                <?php
                                                $cnt = 0;
                                                if (count($records) > 0) {
                                                    foreach ($records as $record) {

                                                        if ($record->default) {
                                                            $disabled = 'disabled';
                                                        } else {
                                                            $disabled = '';
                                                        }
                                                        ?>
                                                        <div class="form-group">
                                                            <div class = "col-md-12">
                                                                <div class = "col-md-2">
                                                          <?php
                                                            echo \Phalcon\Tag::textfield(
                                                                    array(
                                                                          "attendance_name",
                                                                           "Value" => $record->attendancename,
                                                                            'class' => 'name form-control',
                                                                          "disabled" => 'disabled'
                                                                     ));
                                                                    ?>
                                                                </div>
                                                                <div class = "col-md-2">
                                                          <?php
                                                               echo \Phalcon\Tag::textfield(
                                                                     array(
                                                                           "attendance_id",
                                                                             "Value" => $record->attendanceid,
                                                                               'class' => 'attendanceid form-control',
                                                                             'maxlength' => '3'
                                                                       ));
                                                                  ?>
                                                                </div>
                                                                <div class = "col-md-3">
                                                                    <div class="spinner3">
                                                                        <div class="input-group">
                                                                  <?php
                                                                      if ($record->default) {
                                                                         echo \Phalcon\Tag::numericfield(
                                                                            array(
                                                                              "attendance_value",
                                                                               "Value" => $record->attendancevalue,
                                                                                'class' => 'attendance form-control',
                                                                                 'disabled' => 'disabled'
                                                                              ));
                                                                            } else {
                                                                                  echo \Phalcon\Tag::numericfield(
                                                                                       array(
                                                                                     "attendance_value",
                                                                                      "Value" => $record->attendancevalue,
                                                                                       'class' => 'attendance form-control'
                                                                                 ));
                                                                         }
                                                                        ?>
                                                                        </div>`
                                                                    </div> 
                                                                </div>

                                                                <div class = "col-md-2">
                                                                    <?php if($record->allowed_leave_typ == 1) { ?>
                                                                    <input type="checkbox"  class="selctlevtyp" checked="true" value="1" onchange="uncheckyesval(this)" name="selctlevtypr" id="candtlevyes_<?= $cnt ?>" /> Yes
                                                                    <input type="checkbox"  class="selctlevtyp" value="0" onchange="unchecknoval(this)"  name="selctlevtypr" id="candtlevno_<?= $cnt ?>" /> No
                                                                    <?php } else { ?>
                                                                    
                                                                    <input type="checkbox"  class="selctlevtyp" value="1" onchange="uncheckyesval(this)" name="selctlevtypr" id="candtlevyes_<?= $cnt ?>" /> Yes
                                                                    <input type="checkbox"  class="selctlevtyp" checked="true" value="0" onchange="unchecknoval(this)"  name="selctlevtypr" id="candtlevno_<?= $cnt ?>" /> No
                                                                   
                                                                    <?php }?>
                                                                </div>

                                                                <div class = "col-md-2">
                                                                    <div class="input-group">
                                                                        <div class="input-append colorpicker-default color" data-color="<?= $record->color ?>" data-color-format="rgb" style="width:100px;">
                                                                            <input type="hidden" class="pickcolor form-control" value="<?= $record->color ?>" readonly="">
                                                                            <br>
                                                                            <span class=" input-group-btn add-on add-on-color">
                                                                                <button style="padding: 8px" type="button" class="btn btn-white">
                                                                                    <i style="background-color:<?= $record->color ?>"></i>
                                                                                </button>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>  
                                                                 <?php
                                                                if ($record->default) {
                                                                  ?>
       
                                                                    (DEFAULT)
                                                                    <?php
                                                                } else {
                                                                    ?>
                                                                    <a href="javascript:;" class="" 
                                                                       onclick="settings.addNumofDays(<?= $record->id; ?>, '<?= $record->attendancename; ?>')">
                                                                        <i class="fa fa-cog"></i></a>  |  <a href="#" class="remove_db"><i class="fa fa-trash-o fa-2x"></i></a>  
                                                                    <?php
                                                                }
                                                                ?>
                                                            </div>
                                                        </div>
                                                                <?php
                                                                $cnt++;
                                                            }
                                                        } else {
                                                            ?>
                                                    <div class="form-group">
                                                        <div class = "col-md-12">
                                                            <div class = "col-md-2">
                                                    <?php
                                                    echo \Phalcon\Tag::textfield(
                                                            array(
                                                                "attendance_name",
                                                                "placeholder" => "Attendance Name",
                                                                'class' => 'name form-control'
                                                    ));
                                                    ?>
                                                            </div>
                                                            <div class = "col-md-2">
                                                                <?php
                                                                echo \Phalcon\Tag::textfield(
                                                                        array(
                                                                            "attendance_id",
                                                                            "placeholder" => "Attendance Id",
                                                                            'class' => 'attendanceid form-control',
                                                                            'maxlength' => '3'
                                                                ));
                                                                ?>
                                                            </div>
                                                            <div class = "col-md-3">
                                                                <div class="spinner3">
                                                                    <div class="input-group">
                                                                         <?php
                                                                             echo \Phalcon\Tag::numericfield(
                                                                                          array(
                                                                                                 "attendance_value",
                                                                                                 "placeholder" => "Attendance Value",
                                                                                                   'class' => 'attendance form-control',
                                                                                             ));
                                                                                    ?>
   
                                                                        <!--                                                                        <div class="spinner-buttons input-group-btn">
                                                                                                                                                    <button type="button" class="btn btn-default spinner-up">
                                                                                                                                                        <i class="fa fa-angle-up"></i>
                                                                                                                                                    </button>
                                                                                                                                                    <button type="button" class="btn btn-default spinner-down">
                                                                                                                                                        <i class="fa fa-angle-down"></i>
                                                                                                                                                    </button>
                                                                                                                                                </div>-->
                                                                    </div>`
                                                                </div> 
                                                            </div>`

                                                            <div class = "col-md-2">
                                                                <input type="checkbox"  class="selctlevtyp" value="1" onchange="uncheckyesval(this)" name="selctlevtypr" id="candtlevyes_<?= $cnt ?>" /> Yes
                                                                <input type="checkbox"   class="selctlevtyp" value="0" onchange="unchecknoval(this)"  name="selctlevtypr" id="candtlevno_<?= $cnt ?>" /> No
                                                            </div>

                                                            <div class = "col-md-2">
                                                                <div class="input-append colorpicker-default color" data-color="" data-color-format="rgb" style="width:100px;">
                                                                    <input type="hidden" class="pickcolor form-control" value="" readonly=""> 
                                                                    <br>
                                                                    <span class=" input-group-btn add-on add-on-color">
                                                                        <button style="padding: 8px" type="button" class="btn btn-white">
                                                                            <i></i></button>
                                                                    </span></div>
                                                            </div>                                                      
                                                        </div>   
                                                    </div>
    <?php
}
?>

                                            </div>      

                                            <div class="col-md-12">
                                                <button class="btn btn-success pull-right" id = 'save_category' type="button" onclick="settings.updateStaffSettings()"> 
                                                    Submit
                                                </button>                                
                                            </div>  

                                            <input type="hidden" name="pervs_rcrd_cnt" value="<?= $cnt ?>" id="pervs_rcrd_cnt" />

                                        </div>
                                    </div>
                                </div>        
                                <!-- <hr/>-->
                                <div id="attendance-frequency" class="col-md-12 tab-pane">
                                    
                                </div>

                            </div>                                


                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div id = "RatingLevel">
</div>