<?php echo $this->tag->stylesheetLink("css/appstyles/task-page.css"); 
echo $this->tag->stylesheetLink("js/lib/mini-upload-form/assets/css/bucketmin.css");
echo $this->tag->stylesheetLink("css/token-input-facebook.css");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.fileupload.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.iframe-transport.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.ui.widget.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.script.js");
echo $this->tag->javascriptInclude("js/lib/mini-upload-form/assets/js/jquery.knob.js");
?>
<script>
    $(document).ready(function () {
        $('.popover').addClass('col-md-7');
        $('.userlst').tokenInput(commonSettings.searchAjaxurl + '/allEventsUserSearch', {
<?= $userids ? 'prePopulate:' . $userids . ',' : '' ?>
            theme: 'facebook',
            preventDuplicates: true,
            prePopulateFromValue: true
        });
        $('.token-input-list-facebook').css('float', 'none');
        $('.token-input-list-facebook').css('height', 'auto');
        $('.token-input-list-facebook').css('overflow', 'hidden');
        $('.token-input-dropdown-facebook').css('z-index', '9999');
        $('.token-input-dropdown-facebook').css('width', '362px');
//        $('#remv_attr ul:nth-child(1)').remove();
    });
</script>
<style>
    ul.token-input-list-facebook {
        width: 100%;
    }
    .token-input-list-facebook > ul:first-child{
        display: none;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <?php
        echo Phalcon\Tag::form(array('class' => ' form-horizontal', 'method' => 'post', 'id' => 'EventsEditForm', 'enctype' => 'multipart/form-data'));
        ?>
        <input type='text'  class='form-control hide' name='eventid' id='eventid'
               value="<?= $event->id ?>" >
        <div class="form-group hide">
            <label class="col-md-3 control-label  mandatory"> User </label>
            <div class="col-md-7 input" id="remv_attr">
                <input type='text'  class='form-control col-md-7 userlst ' name='eventUserIds' id='eventUserIds'
                       value='' title='User Detail'>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"> Title </label>
            <div class="col-md-7">  
                <input type="text" name="event_title" id="event_title" value="<?= $event->title ?>"
                       class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label mandatory"> Description </label>
            <div class="col-md-7">  
                <textarea name="event_text" id="event_text" 
                          class="form-control" ><?= $event->description ?></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label mandatory"> From Date </label>
            <div class="col-md-7">  
                <input type="text" name="event_date" id="event_date" value="<?= date('d-m-Y H:i:s', $event->from_date) ?>" 
                       placeholder='From Date' class="form-control form_datetime" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"> To Date </label>
            <div class="col-md-7">  
                <input type="text" name="event_todate" id="event_todate" value="<?= date('d-m-Y H:i:s', $event->to_date) ?>" 
                       placeholder='To Date' class="form-control form_datetime" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label mandatory"> Type </label>
            <div class="col-md-7">  
                <?php
                echo \Phalcon\Tag::selectStatic(
                        array(
                            "eventtype",
                            array(
                                "" => "Select",
                                "1" => "Seminars",
                                "2" => "Workshops",
                                "3" => "Competitions",
                                "4" => "Events"
                            ),
                            'class' => 'form-control',
                            'value' => $event->type
                        )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"> Location </label>
            <div class="col-md-7">  
                <input type="text" name="location" id="location"   placeholder='Event Location' value="<?= $event->location ?>"
                       class="form-control" />
            </div>
        </div>
               <div class="dropboxupl"  id="upload">
            <input type="text" id="type"  name="type" value="event" multiple class="hide" />
            <input type="text" id="removeid"  name="removeid" value="<?= $event->id ?> " multiple class="hide" />
            <div id="drop">
               <div class="form-group">
           		 <label class="col-md-3 control-label ">  Uplaod files  </label>
			<div class="col-md-7">  <a>Browse</a>  <input type="file" id="upl"  name="upl" multiple  /></div>
 		</div>
            </div>
            <div id="editfileevent">
                <ul>
                    <?php
                    if (count($files) > 0) {
                        foreach ($files as $file) {
                            ?>
                            <li class="working" >
 <i class="fa  fa-file-text"></i> 
                                <p><?= $file['name'] ?><i><b style="display:none;">_</b><?= $file['size'] ?></i></p><span id="event_<?=  $event->id?>" onclick="announcementSettings.removeUploadedFile(this)"></span></li>
                                <?php
                            }
                        }
                        ?>
                </ul>
            </div>
        </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".form_datetime").datetimepicker({format: 'dd-mm-yyyy hh:ii', startDate: new Date(), autoclose: true, defaultDate: 'now'
        });
    });
</script>
<script>
    $("ul.token-input-list-facebook ").css('maxHeight', '100px');
    $("ul.token-input-list-facebook").niceScroll();
</script>