
<script>
    $(document).ready(function () {
        $('.popover').addClass('col-md-8');
        $('.events').tokenInput(commonSettings.searchAjaxurl + '/allEventsUserSearch', {
<?= $userids ? 'prePopulate:' . $userids . ',' : '' ?>
            theme: 'facebook',
            preventDuplicates: true,
            prePopulateFromValue: true
        });
        $('.token-input-list-facebook').css('float', 'none');
        $('.token-input-list-facebook').css('height', 'auto');
        $('.token-input-list-facebook').css('overflow', 'hidden');
        $('.token-input-dropdown-facebook').css('z-index', '9999');
        $('.token-input-dropdown-facebook').css('width', '307px');
    });
</script>
<div class="row">
    <div class="col-md-12 form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label  mandatory"> Users </label>
            <div class="col-md-8 input" id="forhide">
                <input type='text'  class='form-control col-md-8 events' name='events_user_list' id='events_user_list'
                       value='' title='User Detail'>
            </div>
        </div>
    </div>

</form>
</div>