<?php
echo $this->tag->stylesheetLink("css/appstyles/task-page.css");
echo $this->tag->stylesheetLink("css/appstyles/dashboard-page.css");
?>
<?php
$evetyp = array("1" => "Seminars", "2" => "Workshops", "3" => "Competitions", "4" => "Events");
$allloginIds = $acceptlist = array();
foreach ($eventslist as $ids) {
    $allloginIds[] = $ids->events_to;
    if ($ids->status == 'Accepted'):
        $acceptlist[] = $ids->events_to;
    endif;
}
foreach ($allloginIds as $loginids) {
    $name = StaffInfo::findFirstByLoginid($loginids) ? StaffInfo::findFirstByLoginid($loginids)->Staff_Name :
            (StudentInfo::findFirstByLoginid($loginids) ? StudentInfo::findFirstByLoginid($loginids)->Student_Name :
                    StudentInfo::findFirstByParentLoginid($loginids)->Student_Name . "'S Parent" );
    $arr[] = $name;
}
$edit = $edit ? $edit : '';
$val1 = array_unique($allloginIds);
$val2 = array_unique($acceptlist);
$event_pending = array_diff($val1, $val2);
?>
<div id="dashboard-popup">

    <div class="row" >
        <div class="result-item row col-md-9 padnormal">
            <div class="col-md-11 full-width"> 
                <span class="bold"> <?= $evetyp[$event->type]; ?></span>
                <div class=" smalltext">
                    <span class="shrink "><?= $eventby ?> | <?php echo AnnouncementController::time_elapsed_string(date('d-m-Y H:i:s', $event->created_on)); ?></span> 
                </div> 
                <div class=" smalltext"> <span class="shrink"><?= $event->title ? $event->title . ' | ' : '' ?>   <?= date('d M ', $event->from_date) . ($event->to_date ? ' - ' . date('d M ', $event->to_date) : '') ?>   <?= $event->location ? $event->location . ' | ' : '' ?></span></div>
                <span class="wordbreak">   <?= $event->description ?> </span><br>
                <table class="actions" id="viewevent_table_<?= $event->id ?>">
                    <tbody>
                        <tr>
                            <td> 
                                <?php if (in_array($identity['name'], $allloginIds) && !in_array($identity['name'], $acceptlist)) { ?>
                                    <a data-layout="topRight" data-type="warning"  edit="<?= $edit ?>" onclick="eventsSettings.acceptEvents(<?= $event->id ?>, this)"  class="text small mute cursor forward"> 
                                        <i class="zmdi zmdi-check"></i> Accept | 
                                    </a> 
                                <?php } if ($uid->id == $event->created_by || (in_array($identity['name'], $allloginIds) && !in_array($identity['name'], $acceptlist) || $uid == $event->created_by)) { ?>
                                    <a href="javascript:;"    onclick="announcementSettings.addComments(<?= $event->id ?>, 'viewevent')" 
                                       class="text small mute decline">
                                        <i class="zmdi zmdi-comment-outline"></i><span><?= ' ' . count($event_comments) . '  Comment' . (count($event_comments) > 1 ? 's' : '') ?></span>
                                    </a>   
                                <?php } if (in_array($identity['name'], $allloginIds) && in_array($identity['name'], $acceptlist)) { ?>
                                    <a class="text small mute forward"> 
                                        <i class="zmdi zmdi-check"></i> Accepted
                                    </a> 
                                <?php } ?>
                            </td>
                        </tr>   
                    </tbody>
                </table> 
                <div class="commentblk " id="vieweventcomments_<?= $event->id ?>">
                    <div class="card-block comments-div " >
                        <?php
                        if ((in_array($identity['name'], $allloginIds) && !in_array($identity['name'], $acceptlist)) || $uid->id == $event->created_by && $event->status != 'Accepted') {
                            if (count($event_pending) > 0) {
                                ?>
                                <div id="comm-viewevent-<?= $event->id ?>" class="hide">
                                    <textarea placeholder="Type here" rows="3"  id="comment-viewevent-<?= $event->id ?>"
                                              activity_id ="<?= $event->id ?>" 
                                              class="form-control shadow no-border"></textarea>

                                    <div class="padd5">
                                        <a href="javascript:;" edit="<?= $edit ?>" type="viewevent" data-layout="topRight" data-type="warning" onclick="announcementSettings.saveComments(<?= $event->id ?>, this)"><i class="fa fa-paper-plane-o"></i> Submit</a>
                                        &nbsp;&nbsp; &nbsp;&nbsp;<a href="javascript:;" type="viewevent" data-layout="topRight" data-type="warning" onclick="announcementSettings.cancelComments(<?= $event->id ?>, this)"><i class="zmdi zmdi-close"></i> Cancel</a>
                                    </div>
                                </div>
                                <br>  
                            <?php } ?>
                            <div id="commentscroll">
                                <div class="post-comments">
                                    <?php
                                    foreach ($event_comments as $cvalue) {
                                        $namelist = StaffInfo::findFirstByLoginid($cvalue->comments_by);
                                        $user = $namelist->Staff_Name;
                                        ?>
                                        <div class="media">
                                            <a class="pull-left" href="javascript:;">
                                                <span class="mini-stat-icon-small square   tar activity-circle">
                                                    <?php
                                                    if ($namelist->photo) {

                                                        echo $this->tag->image(array(
                                                            "src" => $namelist->photo ? (FILES_URI . $namelist->photo) : ('images/user.jpg')));
                                                    } else {
                                                        ?> 
                                                        <?= substr($user, 0, 1); ?>
                                                    <?php }
                                                    ?> 
                                                </span> 
                                            </a>
                                            <div class="comment">
                                                <div class="comment-author heading-font" style="font-weight:600">
                                                    <a href="javascript:;" ><?= $user ?>  </a>
                                                    <span class="pull-right " style="color:#888;">
                                                        <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $cvalue->modified_date)); ?></span>  
                                                </div>
                                                <p><?= $cvalue->comments ?> </p>
                                                <hr class="pad10px">
                                            </div>
                                        </div>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php
                    if (count($acc_list) > 0) {
                        foreach ($acc_list as $a_name) {
                            $substrval = '';
                            $substrval = substr($a_name->events_to, 0, 1);
                            if ($substrval == 's'):
                                $det = StudentInfo::findFirstByLoginid($a_name->events_to);
                                $name = $det->Student_Name;
                            endif;
                            if ($substrval == 'e' || $substrval == 'S'):
                                $det = StaffInfo::findFirstByLoginid($a_name->events_to);
                                $name = $det->Staff_Name;
                            endif;
                            if ($substrval == 'p'):
                                $det = StudentInfo::findFirstByParentLoginid($a_name->events_to);
                                $name = $det->Parent_Name;
                            endif;
                            ?>
                            <div class="media">
                                <a class="pull-left" href="javascript:;">
                                    <span class="mini-stat-icon-small square   tar activity-circle">
                                        <?php
                                        if ($det->photo) {

                                            echo $this->tag->image(array(
                                                "src" => $det->photo ? (FILES_URI . $det->photo) : ('images/user.jpg')));
                                        } else {
                                            ?> 
                                            <?= substr($name, 0, 1); ?>
                                        <?php }
                                        ?> 
                                    </span> 
                                </a>
                                <div class="comment">
                                    <div class="comment-author heading-font " style="font-weight:600">
                                        <a href="javascript:;" class=""><?= $name ?>  </a>
                                        <span class="pull-right " style="color:#888;">
                                            <?php echo AnnouncementController::time_elapsed_string(date('Y-m-d H:i:s', $a_name->modified_date)); ?></span>  
                                    </div>
                                    <p>Accepted </p>
                                    <hr class="pad10px">
                                </div>
                            </div>
                            <?php
                        }
                    }
                }
                ?>
            </div>
        </div>


        <div class="col-md-3">
            <div class="activities-details">
                <h3 class="activities-header bold"> Attachments </h3>
                <div class="activities-post">
                    <ul class="new-file-lists">
                        <?php
                        $explode = array();
                        $storeFolder = UPLOAD_DIR . 'event/event_' . $event->id;
                        $explode = scandir($storeFolder);
                        if ($explode) {
                            $word = array("doc", "docx", "dotx", "docm", "dot", "docb");
                            $excel = array("xls", "xlsx", "xltx", "xlt", "xlsb", "xlsm");
                            $pdf = array("pdf");
                            $text = array("txt");
                            $audio = array("mp3");
                            $ppt = array("ppt");
                            $video = array("avi", "mp4");
                            $archive = array("zip", "rar", "tar.gz");
                            foreach ($explode as $f1) {
                                if (is_file(UPLOAD_DIR . "event/event_" . $event->id . '/' . $f1)) {
                                    $path_parts = pathinfo(UPLOAD_DIR . "event/event_" . $event->id . '/' . $f1);
                                    $fexp = $path_parts["extension"]; //explode('.', $f1);
                                    $fname = $path_parts['filename'];
                                    $f1new = str_replace(' ', '%20', UPLOAD_URI . "event/event_" . $event->id . '/' . $f1);
                                    $filetype = (in_array($fexp, $pdf)) ? 'fa-file-pdf-o' :
                                            ((in_array($fexp, $excel)) ? 'fa-file-excel-o' :
                                                    ((in_array($fexp, $word)) ? 'fa-file-word-o' :
                                                            ((in_array($fexp, $audio)) ? 'fa-file-audio-o' :
                                                                    ((in_array($fexp, $ppt)) ? 'fa-file-powerpoint-o' :
                                                                            ((in_array($fexp, $video)) ? 'fa-file-video-o' :
                                                                                    ((in_array($fexp, $archive)) ? 'fa-file-archive-o' :
                                                                                            ((exif_imagetype($this->url->get($f1new)) > 0) ? 'fa-file-image-o' :
                                                                                                    ('fa-file-text'))))))));
                                    ?>
                                    <li><a href="javascript:;" onclick="announcementSettings.dashboardFileDownload('event_<?= $event->id ?>_<?= $f1 ?>')"><i class="fa  <?= $filetype ?>"></i> <?= $f1 ?></a></li>

                                    <?php
                                }
                            }
                        } else {
                            ?>
                            <li class=" smalltext" style="margin-left: 15px;"> No Files </li>
                            <?php }
                            ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
//    $("#commentscroll").css('maxHeight', '150px');
//    $("#comment scroll").niceScroll();
</script>
