<?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'name' => 'addMasterTreeForm', 'id' => 'addMasterTreeForm')); ?>
<div class="row">
    <div class="col-md-12">
        <?php $orgmasparntdet = OrganizationalStructureMaster::findFirstById($orgmasdet->parent_id) ?>
        <?php if ($orgmasdet->id > 0): ?>
            <div class="form-group">
                <label for=""  class="col-md-5 control-label">  Parent Node :   </label>
                <span class="col-sm-6"> <label class="form-control " style=" border: none; "> <?= $orgmasdet->name ?></label></span>
            </div>
        <?php endif; ?>
        <input type="hidden" id="org_value" value=" " name="org_value">
        <input id="parentnodeid" type="hidden"    name="parentnodeid"   class="form-control"  value="<?= $orgmasdet->id ?>" /></span>   

        <div class="form-group">
            <label class="col-md-5 mandatory control-label"> Name: </label>
            <span class="col-sm-6"> <input class="form-control" type="text" id="nodevalue" name="nodevalue"  title="Name "></span>
        </div>    
    <div class="form-group">
            <label for=""  class="col-md-5 mandatory control-label"> Node Type : </label>
            <div class="col-sm-6">
                <?php
                $conditions = "module !=''";
                $orgmas_modules = OrganizationalStructureMaster::find(array(
                            'columns' => 'distinct module',
                            $conditions
                ));
                echo \Phalcon\Tag::select(
                        array(
                            'module',
                            $orgmas_modules,
                            "using" => array("module", "module"),
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '',
                            'class' => 'form-control',
                            'title' => 'Node Type'
                        )
                );
                ?>
                <!--<input class="form-control hide" type="text" id="module_name" name="module_name" value="" title="Module Name">-->
            </div>
            
        </div>
        <div class="form-group">
            <label for=""  class="col-md-5 mandatory control-label">
                Is this a cycle node ?
            </label>
            <input type="radio"  name="cyclenode" value="1"  />
            <label for=""  >   Yes   </label>
            <input type="radio" name="cyclenode" value="2" checked/>
            <label for=""  >     No </label>
        </div>
       
        <div class="form-group">
            <label for=""  class="col-md-5 mandatory control-label">
               Is mandatory for admission? 
            </label>
            <input type="radio"  name="admissionmandatory" value="1"  />
            <label for=""  >  Yes </label>
            <input type="radio" name="admissionmandatory" value="2" checked />
            <label for=""  >  No   </label>
        </div>
    
        <div class="form-group">
            <label for=""  class="col-md-5 mandatory control-label">
                  Is mandatory for appointment? 
            </label>
            <input type="radio"  name="appointmentmandatory" value="1"  />
            <label for=""  >    Yes </label>
            <input type="radio" name="appointmentmandatory" value="2" checked/>
            <label for=""  >   No  </label>
        </div>
<div class="form-group">
            <label for=""  class="col-md-5 mandatory control-label">
              Is this a subordinate node? 
            </label>
            <input type="radio"  name="subordinatemandatory" value="1" />
            <label for="">
                Yes
            </label>
            <input type="radio" name="subordinatemandatory" value="0" checked />
            <label for="">
                No
            </label>
        </div>
<!--        <div class="form-group">
            <label class="col-md-5  control-label"> Other Details: </label>
            <span class="col-sm-6"> <?php
                echo \Phalcon\Tag::select(
                        array(
                            'otherdetails',
                            array(
                                "above cycle node" => "Above Cycle Node",
                                "cycle node" => "Cycle Node",
                                "same level" => "Same Level",
                                "common level" => "Common Level"
                            ),
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '',
                            'class' => 'form-control'
                        )
                );
                ?></span>
        </div>-->
        

        

    </div>
</div></form>
