<script>
    $(function () {

        $('[data-toggle="popover"]').each(function () {
            $(this).popover({
                content: $(this).attr("popover-content"),
                title: $(this).attr("popover-title")
            })
            $(this).tooltip({
                placement: 'right',
                title: $(this).attr("tooltip-title")
            })
        })
    })
</script>


<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="<?php echo $this->url->get('') ?>"><i class="fa fa-home"></i> Home</a></li>
            <!--<li class="active">Trust</li><li class="active">Qmis</li><li class="active">2014-2015</li><li class="active">I</li>-->
        </ul>
        <!--breadcrumbs end -->
    </div>
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Organizational structure values
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <?php
                        if (count($childexist) > 0) {
                            foreach ($childexist as $child) {
                                ?>

                                <?php
                            }
                        }
                        ?>
                        <?php
                        if (count($orgvalues) > 0) {
                            foreach ($orgvalues as $value) {
                                $cactive = $value->status == 'C' ? 'active' : '';
                                $nactive = $value->status == 'N' ? 'active' : '';
                                ?>
                                <div class="col-md-9">
                                    <a tabindex="0" class="btn  btn-warning" role="button" ondblclick="orgmasterSettings.openValue (this)"
                                       tooltip-title="Double click on the value buttons to go forward/backward" 
                                       data-toggle="popover"  popover-title="Edit <?= $value->name ?> <button type='button' class='close'
                                       onclick='orgmasterSettings.closepopover(this)'
                                       id='iconclose'>&times;</button>" 
                                       data-html="true" 
                                       popover-content="<div class='col-md-12'><form >

                                       <input type='hidden' id='org_value' value='<?= $root->id ?>' name= 'org_value' />
                                       <input type='hidden' id='parent_id' value='0' name= 'parent_id'  />
                                       <input type='hidden' id='actions' value='edit' name= 'actions'  />
                                       <input type='hidden' id='nodeid' value='<?= $value->id ?>' name= 'nodeid'  />
                                       <label class='col-md-6'>Name: </label>
                                       <input class='col-md-6 form-control' type='text' id='nodevalue' name='nodevalue' 
                                       value ='<?= $value->name ?>'
                                       title='Name of <?= $root->name ?>'  />
                                       <label class='col-md-6'>Status: </label><div class='btn-group' data-toggle='buttons'>
                                       <label class='btn btn-primary <?= $cactive ?>'>
                                       <input type='radio' name='options' id='current' <?= $cactive ? 'checked' : '' ?> value='current'  autocomplete='off' > Current
                                       </label>
                                       <label class='btn btn-primary <?= $nactive ?>' >
                                       <input type='radio' name='options' id='next' <?= $nactive ? 'checked' : '' ?> value='next' name='newnodevalue' autocomplete='off' > Next
                                       </label></div>
                                       <div class='modal-footer' style='  padding: 14px 9px 2px !important;'>
                                       <button class='btn btn-success' type='button' onclick='orgmasterSettings.updatetreevalue(this)' id='confirm_save'>Save</button>
                                       </div>
                                       </form></div>">
                                        <span class="mini-stat-icon bg-yellow" 
                                              onclick=""
                                              style="width: 30px;height: 30px;line-height: 30px;margin-top: -4px;">
                                            <i class="fa fa-pencil" style="margin-top: 6px;"></i>
                                        </span>
                                        <span class=""><b><?= $value->name ?></b></span></a>

                                    <br><br>
                                    <?php
                                }
                            }
                            ?>

                            <!--<div class="col-md-9">-->
                            <a tabindex="0" class="btn  btn-primary" role="button" 
                               data-toggle="popover"  title="Add new <?= $root->name ?> <button type='button' class='close'
                               onclick='orgmasterSettings.closepopover(this)'
                               id='iconclose'>&times;</button>" 
                               data-html="true" 
                               data-content="<div class='col-md-12'><form >

                               <input type='hidden' id='org_value' value='<?= $root->id ?>' name= 'org_value' />
                               <input type='hidden' id='parent_id' value='0' name= 'parent_id'  />
                               <input type='hidden' id='actions' value='add' name= 'actions'  />
                               <label class='col-md-6'>Name: </label>
                               <input class='col-md-6 form-control' type='text' id='newnode' name='newnodevalue' title='Name of <?= $root->name ?>'  />
                               <label class='col-md-6'>Status: </label><div class='btn-group' data-toggle='buttons'>
                               <label class='btn btn-primary active'>
                               <input type='radio' name='options' id='current' checked value='current'  autocomplete='off' > Current
                               </label>
                               <label class='btn btn-primary'>
                               <input type='radio' name='options' id='next' value='next' name='newnodevalue' autocomplete='off' > Next
                               </label></div>
                               <div class='modal-footer' style='  padding: 14px 9px 2px !important;'>
                               <button class='btn btn-success' type='button' onclick='orgmasterSettings.updatetreevalue(this)' id='confirm_save'>Save</button>
                               </div>
                               </form></div>">
                                <span class="mini-stat-icon tar" 
                                      onclick=""
                                      style="width: 30px;height: 30px;line-height: 30px;margin-top: -4px;">
                                    <i class="fa fa-plus" style="margin-top: 6px;"></i>
                                </span>
                                <span class=""><b>Add new <?= $root->name ?></b></span></a>


                        </div>

                        <!--                    <a tabindex="0" class="btn btn-lg btn-danger" role="button" 
                                               data-toggle="popover"  title="Edit Node  <button type='button' class='close'  id='iconclose'>&times;</button>" 
                                               data-html="true" 
                                               data-content="<div class='col-md-12'><form >
                                               <label class='col-md-6'>Name: </label><input class='col-md-6 form-control' type='text' id='newnode'  />
                                               <label class='col-md-6'>Status: </label><div class='btn-group' data-toggle='buttons'>
                                               <label class='btn btn-primary'>
                                               <input type='radio' name='options' id='option2' autocomplete='off' > Current
                                               </label>
                                               <label class='btn btn-primary'>
                                               <input type='radio' name='options' id='option3' autocomplete='off' > Next
                                               </label></div>
                                               <div class='modal-footer' style='  padding: 14px 9px 2px !important;'>
                                               <button class='btn btn-success' type='button' id='confirm_save'>Save</button>
                                               </div>
                                               </form></div>">
                                                Dismissible popover</a>-->
                    </div>

                </div>

        </section>
    </div>
</div>
