<?php
echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'valueSubTreeForm'));
?>        <div class="row">
    <div class="col-md-12">   
        <input id="parent_id" type="hidden"  name="parent_id" class="form-control"  value="<?= $orgvaldet->id ?>"  />     

        <div class="form-group">
            <label for=""  class="col-md-3 mandatory control-label">   Definition :  </label>
            <span class="col-md-8">    <?php
                echo \Phalcon\Tag::select(
                        array(
                            'org_value',
                            $orgmasdata,
                            'using' => array('id', 'name'),
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '',
                            'title' => 'Definition node',
                            'class' => 'form-control ',
                        )
                );
                ?></span>
        </div>
        <div class="form-group">
            <?php
            $orgvaldata = SearchController::findorgvalparent('', $orgvaldet->id);
            $cp = explode('>>', $orgvaldata);
            $first = array_shift($cp);
            array_unshift($cp, "<font color='red'>" . $first . "</font>");
            ?>
            <label for=""  class="col-md-3 mandatory control-label">  Parent Node:   </label>
            <span class="col-sm-8"><label class="form-control " style=" border: none; "><?= implode(' >> ', $cp) ?></label></span> 
        </div>
        <div class="form-group">
            <label class="col-md-3 mandatory control-label"> Name: </label>
            <span class="col-md-8"> <input class="form-control" type="text" 
                                           id="newnodevalue" name="newnodevalue" value="" title="Name"> </span>       
        </div>
        <div id="statusdiv" class="form-group hide">
            <label class="col-md-3 mandatory control-label"> Status: </label>
            <span class="col-md-8">  <?php
                echo \Phalcon\Tag::select(
                        array(
                            'status',
                            array(
                                "C" => "Current",
                                "N" => "Next"
                            ),
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '',
                            'class' => 'form-control',
                            'title' => 'Status'
                        )
                );
                ?></span>
        </div>

        <div id="statusdiv" class="form-group <?= $clss ?>">
            <label class="col-md-3 mandatory control-label"> Status: </label>
            <span class="col-md-8">  <?php
                echo \Phalcon\Tag::select(
                        array(
                            'status',
                            array(
                                "C" => "Current",
                                "N" => "Next"
                            ),
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '',
                            'class' => 'form-control',
                            'title' => 'Status',
                            'value' => $orgvaldet->status
                        )
                );
                ?>
            </span>
        </div>

        <div class="form-group">
            <label class="col-md-3  control-label"> Date range: </label>
            <span class="col-md-4">
                <?php
                echo Phalcon\tag::textField(array(
                    "range_from",
                    "value" => '',
                    "placeholder" => 'From ',
                    'class' => 'form-control form_date',
                    "readonly" => '',
                    "title" => 'From date',
                ));
                ?> 
            </span>
            <span class="col-md-4">
                <?php
                echo Phalcon\tag::textField(array(
                    "range_to",
                    "value" => '',
                    "placeholder" => 'To ',
                    'class' => 'form-control form_date',
                    "readonly" => '',
                    "title" => 'To date',
                ));
                ?> </span>

        </div>
    </div>
</div>
</form>

<script type="text/javascript">
    $('#masparentnode').typeahead({
        ajax: {url: commonSettings.searchAjaxurl + '/orgmasSearch',
            displayField: 'id',
            dataType: "JSON",
            triggerLength: 1,
            preDispatch: function (query) {
                $('#masparentnode').addClass('loadinggif');
                return {
                    search: query,
                }
            },
            preProcess: function (data) {
                $('#masparentnode').removeClass('loadinggif');
                if (data.success === false) {
                    return false;
                } else {
                    return data;
                }
            }
        },
        itemSelected: setorgmasid,
    });



    function setorgmasid(item, val, text) {
        $('#masparentnodeid').val(val);

        if (val) {
            $.ajax({
                type: "POST",
                url: commonSettings.orgmaster + "/cycleNodeCheck",
                data: {valid: val},
                dataType: "JSON",
                success: function (res) {
                    if (res.cyclenode === '1') {
                        $('#statusdiv').removeClass('hide');
                    } else {
                        if (!$('#statusdiv').hasClass('hide'))
                            $('#statusdiv').addClass('hide');
                    }
                }
            });
        }
    }


    $('#parentnode').typeahead({
        ajax: {url: commonSettings.searchAjaxurl + '/orgmasValueSearch',
            displayField: 'id',
            dataType: "JSON",
            triggerLength: 1,
            preDispatch: function (query) {
                $('#parentnode').addClass('loadinggif');
                return {
                    search: query,
                }
            },
            preProcess: function (data) {
                $('#parentnode').removeClass('loadinggif');
                if (data.success === false) {
                    return false;
                } else {
                    return data;
                }
            }
        },
        itemSelected: setorgvalid,
    });



    function setorgvalid(item, val, text) {
        $('#parentnodeid').val(val);

    }


    $(document).ready(function () {

        $('.form_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
//            endDate: '+0d'
        });
    });

</script>
