<?php   echo $this->tag->javascriptInclude("js/orgmaster/orgmaster.js"); ?>
<?php if ($back == 1) { ?>

    <a class="pageload-link pull-right" href="<?php echo $this->url->get('organizational-structure/index'); ?>?view=true"> 
        <span class="mini-stat-icon tar">
            <i class="fa fa-reply"></i></span>
        <label class="control-label" style="margin-top:10px;">Go back</label>
    </a>
<?php } ?>

<script>
    orgmasterSettings.openValue(null)
</script>


<div class="row" id="changevalueDiv">
   
</div>
