
<?php
echo $this->tag->stylesheetLink("js/org/jquery/ui-lightness/jquery-ui-1.10.2.custom.css");
echo $this->tag->stylesheetLink("js/org/jquerylayout/layout-default-latest.css");
echo $this->tag->stylesheetLink("js/org/primitives.latest.css");
echo $this->tag->javascriptInclude("js/org/jquerylayout/jquery.layout-latest.min.js");
echo $this->tag->javascriptInclude("js/org/primitives.min.js?2023");
echo $this->tag->javascriptInclude("js/org/demodata.js");
?>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('body').layout(
                {
                    center__paneSelector: "#contentpanel"
                });
    });
</script>

<style type="text/css">
    .bp-item2 {
        position: absolute;
        overflow: visible;/* redefine this atttribute in bp-item class in order to place items outside of boudaries*/
        font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-sizing:content-box;
    }

    .bp-badge2 {
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        -khtml-border-radius: 16px;
        border-radius: 16px;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        font-weight: bold;
        font-family: Arial;
        padding: 4px;
        float: left;
        width:16px; 
        height:16px;
    }
</style>

<script type="text/javascript">
    var m_timer = null;
    var orgDiagram = null;
    var treeItems = {};

    jQuery(document).ready(function () {
        jQuery.ajaxSetup({
            cache: false
        });

        jQuery('#contentpanel').layout(
                {
                    center__paneSelector: "#centerpanel"
                    , south__paneSelector: "#southpanel"
                    , south__resizable: false
                    , south__closable: false
                    , south__spacing_open: 0
                    , south__size: 50
                    , west__size: 200
                    , west__paneSelector: "#westpanel"
                    , west__resizable: true
                    , center__onresize: function () {
                        if (orgDiagram != null) {
                            jQuery("#centerpanel").orgDiagram("update", primitives.common.UpdateMode.Refresh);
                        }
                    }
                });

        function ContainsKeyValue(obj, key, value) {
            if (obj[key] == value)
                return {exist: true, json: obj};

            for (all in obj) {
                if (obj[all] != null && obj[all][key] == value)
                    return {exist: true, json: obj[all]};

                if (typeof obj[all] == "object" && obj[all] != null) {
                    var found = ContainsKeyValue(obj[all], key, value);
                    if (found.exist == true)
                        return {exist: true, json: found.json};
                }
            }
            return {exist: false, json: null};
        }

        /* Page Fit Mode */
        var pageFitModes = jQuery("#pageFitMode");
        for (var key in primitives.common.PageFitMode) {
            var value = primitives.common.PageFitMode[key];
            pageFitModes.append(jQuery("<br/><label><input name='pageFitMode' type='radio' value='" + value + "' " + (value == primitives.common.PageFitMode.FitToPage ? "checked" : "") + " />" + key + "</label>"));
        }
        ;

        jQuery("input:radio[name=pageFitMode]").change(function () {
            Update(jQuery("#centerpanel"), primitives.common.UpdateMode.Refresh);
        });

        /* Graphics Type */
        var graphicsType = jQuery("#graphicsType");
        for (var key in primitives.common.GraphicsType) {
            var value = primitives.common.GraphicsType[key];
            graphicsType.append(jQuery("<br/><label><input name='graphicsType' type='radio' value='" + value + "' " + (value == primitives.common.GraphicsType.SVG ? "checked" : "") + " />" + key + "</label>"));
        }
        ;

        jQuery("input:radio[name=graphicsType]").change(function () {
            Update(jQuery("#centerpanel"), primitives.common.UpdateMode.Recreate);
        });

        InitData();

        /* Setup & Run */
        Setup(jQuery("#centerpanel"));

        /* Load data */
        LoadData(jQuery("#centerpanel"), 0, []);
    });

    function Setup(selector) {
        orgDiagram = selector.orgDiagram(GetOrgDiagramConfig());

        ShowGraphicsType(selector.orgDiagram("option", "actualGraphicsType"));
    }

    var children = {};
    var treeItems = {};

    function InitData() {
        for (var index = 0; index < data.length; index += 1) {
            var item = data[index];
            treeItems[item.id] = item;
            if (item.parent != null) {
                if (children[item.parent] == null) {
                    children[item.parent] = [];
                }
                children[item.parent].push(item);
            }
        }
    }

    function LoadData(selector, cursorItem, selectedItems) {
        var items = [];

        /* Load first 3 layers */
        var currentLevel = 0;
        var itemsToLoad = [treeItems[0]];
        var preloadedItems = {};

        while (itemsToLoad.length > 0) {
            currentLevel += 1;
            var newItemsToLoad = [];
            for (var index = 0; index < itemsToLoad.length; index += 1) {
                var itemToLoad = jQuery.extend({}, itemsToLoad[index]);
                items.push(itemToLoad);
                itemToLoad.hasChildren = children[itemToLoad.id] != null;
                itemToLoad.childrencount = children[itemToLoad.id] != null ? children[itemToLoad.id].length : '0';
                preloadedItems[itemToLoad.id] = itemToLoad;

                if (currentLevel < 3) {
                    itemToLoad.hasLoaded = true;

                    if (itemToLoad.hasChildren) {
                        newItemsToLoad = newItemsToLoad.concat(children[itemToLoad.id]);
                    }
                } else {
                    itemToLoad.hasLoaded = false;
                }
            }
            itemsToLoad = newItemsToLoad;
        }

        /* load cursor and selected items */
        var itemsToLoad = [];
        itemsToLoad.push(cursorItem);
        itemsToLoad = itemsToLoad.concat(selectedItems);

        for (var index = 0; index < itemsToLoad.length; index += 1) {
            var parentId = itemsToLoad[index];
            while (parentId != null && (!preloadedItems[parentId] || !preloadedItems[parentId].hasLoaded)) {
                var parentItem = jQuery.extend({}, treeItems[parentId]);
                var parentChildren = children[parentId];
                if (parentChildren != null) {
                    for (var childIndex = 0; childIndex < parentChildren.length; childIndex += 1) {
                        var childItem = jQuery.extend({}, parentChildren[childIndex]);
                        if (!preloadedItems[childItem.id]) {
                            items.push(childItem);
                            preloadedItems[childItem.id] = childItem;
                            childItem.hasChildren = (children[childItem.id] != null);
                            childItem.childrencount = children[childItem.id] != null ? children[childItem.id].length : '0';
                        }
                    }
                }
                parentItem.hasLoaded = true;
                parentId = parentItem.parent;
            }
        }

        /* set template for cursor item */
        preloadedItems[cursorItem].templateName = "contactTemplate";

        selector.orgDiagram("option", {
            items: items,
            cursorItem: cursorItem,
            highlightItem: null
        });
        selector.orgDiagram("update");
    }

    function Update(selector, updateMode) {
        selector.orgDiagram("option", GetOrgDiagramConfig());
        selector.orgDiagram("update", updateMode);

        ShowGraphicsType(selector.orgDiagram("option", "actualGraphicsType"));
    }

    function GetOrgDiagramConfig() {
        var graphicsType = parseInt(jQuery("input:radio[name=graphicsType]:checked").val(), 10);
        var pageFitMode = parseInt(jQuery("input:radio[name=pageFitMode]:checked").val(), 10);

        var buttons = [];
        buttons.push(new primitives.orgdiagram.ButtonConfig("delete", "ui-icon-close", "Delete"));
        buttons.push(new primitives.orgdiagram.ButtonConfig("properties", "ui-icon-gear", "Info"));
        buttons.push(new primitives.orgdiagram.ButtonConfig("add", "ui-icon-person", "Add"));

        var templates = [
            getContactTemplate(),
            getRegularTemplate(),
            getLoaderTemplate() /* dummy item indicating children loading process */
        ];

        return {
            graphicsType: graphicsType,
            pageFitMode: pageFitMode,
            hasButtons: primitives.common.Enabled.True,
            hasSelectorCheckbox: primitives.common.Enabled.True,
            buttons: buttons,
            templates: templates,
            onButtonClick: onButtonClick,
            onCursorChanging: onCursorChanging,
            onCursorChanged: onCursorChanged,
            onHighlightChanging: onHighlightChanging,
            onHighlightChanged: onHighlightChanged,
            onSelectionChanged: onSelectionChanged,
            onItemRender: onTemplateRender,
            onHighlightRender: onHighlightRender,
            itemTitleFirstFontColor: primitives.common.Colors.White,
            itemTitleSecondFontColor: primitives.common.Colors.White,
            labelOffset: 2,
            defaultTemplateName: "regularTemplate",
            normalLevelShift: 20,
            dotLevelShift: 20,
            normalItemsInterval: 10,
            dotItemsInterval: 2
        };
    }

    function getContactTemplate() {
        var result = new primitives.orgdiagram.TemplateConfig();
        result.name = "contactTemplate";

        result.itemSize = new primitives.common.Size(220, 120);
        result.minimizedItemSize = new primitives.common.Size(4, 4);
        result.minimizedItemCornerRadius = 2;
        result.highlightPadding = new primitives.common.Thickness(2, 2, 2, 2);


        var itemTemplate = jQuery(
                '<div class="bp-item bp-corner-all bt-item-frame">'
                + '<div name="titleBackground" class="bp-item bp-corner-all bp-title-frame" style="top: 2px; left: 2px; width: 216px; height: 20px;">'
                + '<div name="title" class="bp-item bp-title" style="top: 3px; left: 6px; width: 208px; height: 18px;">'
                + '</div>'
                + '</div>'
                + '<div class="bp-item bp-photo-frame" style="top: 26px; left: 2px; width: 50px; height: 60px;">'
                + '<span name="photo" style="height:60px; width:50px;" > <span class="mini-stat-icon tar cd-timeline-img "><i class=""></i></span></span>'
                + '</div>'
                + '<div name="phone" class="bp-item" style="top: 26px; left: 56px; width: 162px; height: 18px; font-size: 12px;"></div>'
                + '<div class="bp-item" style="top: 44px; left: 56px; width: 162px; height: 18px; font-size: 12px;"><a name="email" href="" target="_top"></a></div>'
                + '<div name="description" class="bp-item" style="top: 62px; left: 56px; width: 162px; height: 36px; font-size: 10px;"></div>'
                + '</div>'
                ).css({
            width: result.itemSize.width + "px",
            height: result.itemSize.height + "px"
        }).addClass("bp-item bp-corner-all bt-item-frame");
        result.itemTemplate = itemTemplate.wrap('<div>').parent().html();

        return result;
    }

    function getRegularTemplate() {
        var result = new primitives.orgdiagram.TemplateConfig();
        result.name = "regularTemplate";

        result.itemSize = new primitives.common.Size(180, 90);
        result.minimizedItemSize = new primitives.common.Size(4, 4);
        result.highlightPadding = new primitives.common.Thickness(2, 2, 2, 2);


        var itemTemplate = jQuery(
                '<div class="bp-item bp-corner-all bt-item-frame">'
                + '<div name="titleBackground" class="bp-item bp-corner-all bp-title-frame" style="top: 2px; left: 2px; width: 176px; height: 18px; overflow: hidden; text-align:center;">'
                + '<div name="title" class="bp-item bp-title" style="top: 2px; left: 2px; width: 172px; height: 14px; font-size: 12px; overflow: hidden;">'
                + '</div>'
                + '</div>'
                + '<div class="bp-item bp-photo-frame" style="top: 22px; left: 2px; width: 50px; height: 60px; overflow: hidden;">'
                + '<span name="photo" style="height:60px; width:50px;" > <span class="mini-stat-icon tar cd-timeline-img "><i class=""></i></span></span>'
                + '</div>'
                + '<div class="bp-item" style="top: 22px; left: 56px; width: 118px; height: 13px; font-size: 11px;"><a name="email" href="" target="_top"></a></div>'
                + '<div name="description" class="bp-item" style="top: 37px; left: 56px; width: 118px; height: 39px; font-size: 11px; overflow: hidden;"></div>'
                + '</div>'
                ).css({
            width: result.itemSize.width + "px",
            height: result.itemSize.height + "px"
        }).addClass("bp-item bp-corner-all bt-item-frame");
        result.itemTemplate = itemTemplate.wrap('<div>').parent().html();

        var highlightTemplate = jQuery("<div></div>")
                .css({
                    position: "absolute",
                    overflow: "visible",
                    width: (result.itemSize.width + result.highlightPadding.left + result.highlightPadding.right) + "px",
                    height: (result.itemSize.height + result.highlightPadding.top + result.highlightPadding.bottom) + "px",
                    "border-style": "solid",
                    "border-width": "1px"
                }).addClass("bp-item2 bp-corner-all bp-cursor-frame");

        highlightTemplate.append("<div name='badge' class='bp-badge2 bp-item' style='top:45px; left:114px; z-index: 1000; background-color:green; color: white;'></div>");

        result.highlightTemplate = highlightTemplate.wrap('<div>').parent().html();

        return result;
    }

    function getLoaderTemplate() {
        var result = new primitives.orgdiagram.TemplateConfig();
        result.name = "loaderTemplate";

        result.itemSize = new primitives.common.Size(32, 32);
        result.minimizedItemSize = new primitives.common.Size(4, 4);
        result.highlightPadding = new primitives.common.Thickness(2, 2, 2, 2);


        var itemTemplate = jQuery(
                '<div class="bp-item2">'
                + "<div name='badge' class='bp-badge2 bp-item' style='top:0px; left:6px; background-color:green; color: white;'></div>"
                + '</div>'
                ).css({
            width: result.itemSize.width + "px",
            height: result.itemSize.height + "px"
        }).addClass("bp-item");
        result.itemTemplate = itemTemplate.wrap('<div>').parent().html();

        var highlightTemplate = jQuery("<div></div>")
                .css({
                    position: "absolute",
                    overflow: "hidden",
                    "border-style": "none"
                });

        result.highlightTemplate = highlightTemplate.wrap('<div>').parent().html();

        return result;
    }

    function onTemplateRender(event, data) {
        switch (data.renderingMode) {
            case primitives.common.RenderingMode.Create:
                data.element.find("[name=email]").click(function (e) {
                    /* Block mouse click propogation in order to avoid layout updates before server postback*/
                    primitives.common.stopPropagation(e);
                });
                /* Initialize widgets here */
                break;
            case primitives.common.RenderingMode.Update:
                /* Update widgets here */
                break;
        }

        var itemConfig = data.context,
                itemTitleColor = itemConfig.itemTitleColor != null ? itemConfig.itemTitleColor : primitives.common.Colors.RoyalBlue;

        data.element.find("[name=photo]").find('i').addClass(itemConfig.image);
        data.element.find("[name=titleBackground]").css({"background": itemTitleColor});
        data.element.find("[name=email]").attr({"href": ("mailto:" + itemConfig.email + "?Subject=Hello%20world")});

        var fields = ["title", "description", "phone", "email"];
        for (var index = 0; index < fields.length; index += 1) {
            var field = fields[index];

            var element = data.element.find("[name=" + field + "]");
            if (element.text() != itemConfig[field]) {
                element.text(itemConfig[field]);
            }
        }

        if (data.templateName == "loaderTemplate") {
            var itemConfig = data.context;

            var badge = data.element.find("[name=badge]");
            badge.text(itemConfig['childrencount']);
            badge.css({"background-color": itemConfig.itemTitleColor});
        }
    }

    function onHighlightRender(event, data) {
        switch (data.renderingMode) {
            case primitives.common.RenderingMode.Create:
                /* Initialize widgets here */
                break;
            case primitives.common.RenderingMode.Update:
                /* Update widgets here */
                break;
        }
        if (data.templateName == "regularTemplate") {
            var itemConfig = data.context;

            var badge = data.element.find("[name=badge]");
            badge.text(itemConfig['childrencount']);
            badge.css({"background-color": itemConfig.itemTitleColor});

            var width = data.element.outerWidth();
            var height = data.element.outerHeight();
            badge.css({"left": Math.round(width / 2) - 16, "top": height - 16});
        }
    }

    function onSelectionChanged(e, data) {
        var selectedItems = jQuery("#centerpanel").orgDiagram("option", "selectedItems");
        var message = "";
        for (var index = 0; index < selectedItems.length; index += 1) {
            var itemConfig = treeItems[selectedItems[index]];
            if (message != "") {
                message += ", ";
            }
            message += "<b>'" + itemConfig.title + "'</b>";
        }
        message += (data.parentItem != null ? " Parent item <b>'" + data.parentItem.title + "'" : "");
        jQuery("#southpanel").empty().append("User selected following items: " + message);
    }

    function onHighlightChanging(e, data) {
        var message = (data.context != null) ? "User is hovering mouse over item <b>'" + data.context.title + "'</b>." : "";
        message += (data.parentItem != null ? " Parent item <b>'" + data.parentItem.title + "'" : "");

        jQuery("#southpanel").empty().append(message);
    }

    function onHighlightChanged(e, data) {
        var message = (data.context != null) ? "User hovers mouse over item <b>'" + data.context.title + "'</b>." : "";
        message += (data.parentItem != null ? " Parent item <b>'" + data.parentItem.title + "'" : "");

        jQuery("#southpanel").empty().append(message);
    }

    function onCursorChanging(e, data) {
        var message = "User is clicking on item '" + data.context.title + "'.";
        message += (data.parentItem != null ? " Parent item <b>'" + data.parentItem.title + "'" : "");

        jQuery("#southpanel").empty().append(message);

        data.oldContext.templateName = null;
        data.context.templateName = "contactTemplate";

        if (!data.context.hasLoaded && data.context.childrencount > 0) {
            /* add dummy item indicating children loading process */
            var selector = jQuery("#centerpanel");
            var items = selector.orgDiagram("option", "items");
            items.push(new primitives.orgdiagram.ItemConfig({
                id: 'badgeitem',
                parent: data.context.id,
                itemTitleColor: data.context.itemTitleColor,
                childrencount: data.context.childrencount,
                hasSelectorCheckbox: primitives.common.Enabled.False,
                hasButtons: primitives.common.Enabled.False,
                templateName: "loaderTemplate"
            }));
        }
    }

    function onCursorChanged(e, data) {
        var message = "User clicked on item '" + data.context.title + "'.";
        message += (data.parentItem != null ? " Parent item <b>'" + data.parentItem.title + "'" : "");
        jQuery("#southpanel").empty().append(message);

        if (!data.context.hasLoaded && data.context.childrencount > 0) {
            if (m_timer == null) {
                m_timer = window.setTimeout(function () {
                    window.clearTimeout(m_timer);
                    var selector = jQuery("#centerpanel");
                    var cursorItem = selector.orgDiagram("option", "cursorItem");
                    var selectedItems = selector.orgDiagram("option", "selectedItems");
                    LoadData(selector, cursorItem, selectedItems);
                    m_timer = null;
                }, 250);
            }
        }
    }

    function onButtonClick(e, data) {
        var message = "User clicked <b>'" + data.name + "'</b> button for item <b>'" + data.context.title + "'</b>.";
        message += (data.parentItem != null ? " Parent item <b>'" + data.parentItem.title + "'" : "");
        jQuery("#southpanel").empty().append(message);
    }

    function ShowGraphicsType(graphicsType) {
        var result = null;

        switch (graphicsType) {
            case primitives.common.GraphicsType.SVG:
                result = "SVG";
                break;
            case primitives.common.GraphicsType.Canvas:
                result = "Canvas";
                break;
            case primitives.common.GraphicsType.VML:
                result = "VML";
                break;
        }
        jQuery("#actualGraphicsType").empty().append("Graphics Type: " + result);
    }

</script>
<div style="top:78px;">
    <div id="contentpanel" style="padding: 0px;">
        <!--bpcontent-->
        <div id="centerpanel" style="overflow: hidden; padding: 0px; margin: 0px; border: 0px;">
        </div>
        <div id="southpanel">
        </div>
        <!--/bpcontent-->
    </div>

</div>