<?php
echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'name' => 'valueSubTreeForm', 'id' => 'valueSubTreeForm'));
$orgmasdet = OrganizationalStructureMaster::findFirstById($orgvaldet->org_master_id);
?>
<div class="row">
    <div class="col-md-12">
        <input type="hidden" id="nodeid" value="<?= $orgvaldet->id ?>" name="nodeid">  
        <!--<input id="org_value" type="hidden"     name="org_value"  class="form-control"  value="<?= $orgvaldet->org_master_id ?>"     />-->
        <input id="parent_id" type="hidden"  name="parent_id"  class="form-control"  value="<?= $orgvaldet->parent_id ?>"  />     


        <?php if ($orgvaldet->parent_id > 0 && $orgmasdet->module != 'Fee'):
                ?>
                <div class="form-group">
                    <?php
                    $orgvaldata = SearchController::findorgvalparent('', $orgvaldet->parent_id);
                    $cpt = explode('>>', $orgvaldata);
                    $firstt = array_shift($cpt);
                    array_unshift($cpt, "<font color='red'>" . $firstt . "</font>");
                    ?>
                    <label for=""  class="col-md-3 mandatory control-label">  Parent Node:   </label>
                    <span class="col-md-8">
                        <input id="parentnode" title="Parent Node" type="text" 
                               name="parentnode" class="form-control"  
                               value="<?= $orgvaldata ?>" autocomplete="off" />
                        <span class=" help-block">Selected Parent : <span id="helpforparent"><?= implode('>>', $cpt) ?></span></span>
                    </span>

                </div>
                <?php endif; ?>

        <div class="form-group">
            <?php
            $orgmasdatahtml = SearchController::findorgmasparent('', $orgvaldet->org_master_id);
            $cp = explode('>>', $orgmasdatahtml);
            $first = array_shift($cp);
            array_unshift($cp, "<font color='red'>" . $first . "</font>");
            ?>
            <label for=""  class="col-md-3 mandatory control-label">   Definition  :    </label>

            <span class="col-md-8" id="orgdefinition">
                <?php
                $parentOrg = OrganizationalStructureValues::findFirstById($orgvaldet->parent_id);
                $orgmasdata = OrganizationalStructureMaster::find('parent_id=' . $parentOrg->org_master_id);
                echo \Phalcon\Tag::select(
                        array(
                            'org_value',
                            $orgmasdata,
                            'using' => array('id', 'name'),
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '',
                            'title' => 'Definition node',
                            'class' => 'form-control ',
                            "value" => $orgvaldet->org_master_id
                        )
                );
                ?>

                <span class=" help-block">Selected Def : <?= implode('>>', $cp) ?></span>
            </span>

        </div>
        <div class="form-group">
            <label class="col-md-3 mandatory control-label"> Name: </label>
            <span class="col-md-8"><input class="form-control" type="text" id="nodevalue" name="nodevalue" value="<?= $orgvaldet->name ?>" title="Name"></span>
        </div>


        <?php
        $cyclenodeval = $orgmasdet->cycle_node ? $orgmasdet->cycle_node : '';
        $clss = 'hide';
        if ($cyclenodeval == 1) {
            $clss = '';
        }
        ?>

        <div id="statusdiv" class="form-group <?= $clss ?>">
            <label class="col-md-3 mandatory control-label"> Status: </label>
            <span class="col-md-8">  <?php
                echo \Phalcon\Tag::select(
                        array(
                            'status',
                            array(
                                "C" => "Current",
                                "N" => "Next"
                            ),
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '',
                            'class' => 'form-control',
                            'title' => 'Status',
                            'value' => $orgvaldet->status
                        )
                );
                ?>
            </span>
        </div>

                <?php if ($cyclenodeval == 1) { ?>
            <div class="form-group">
                <label class="col-md-3 mandatory control-label"> Date range: </label>
                <span class="col-md-4">
                    <?php
                    echo Phalcon\tag::textField(array(
                        "range_from",
                        "value" => '',
                        "placeholder" => 'From ',
                        'class' => 'form-control form_date',
                        "readonly" => '',
                        "title" => 'From date',
                        "value" => $orgvaldet->rangefrom ? date('d-m-Y', $orgvaldet->rangefrom) : ''
                    ));
                    ?> 
                </span>
                <span class="col-md-4">
                    <?php
                    echo Phalcon\tag::textField(array(
                        "range_to",
                        "value" => '',
                        "placeholder" => 'To ',
                        'class' => 'form-control form_date',
                        "readonly" => '',
                        "title" => 'To date',
                        "value" => $orgvaldet->rangeto ? date('d-m-Y', $orgvaldet->rangeto) : ''
                    ));
                    ?> </span>

            </div>
<?php } ?>
    </div>
</div>
</form>

<script type="text/javascript">
    $('#masparentnode').typeahead({
        ajax: {url: commonSettings.searchAjaxurl + '/orgmasSearch',
            displayField: 'id',
            dataType: "JSON",
            triggerLength: 1,
            preDispatch: function (query) {
                $('#masparentnode').addClass('loadinggif');
                return {
                    search: query,
                }
            },
            preProcess: function (data) {
                $('#masparentnode').removeClass('loadinggif');
                if (data.success === false) {
                    return false;
                } else {
                    return data;
                }
            }
        },
        itemSelected: setorgmasid,
    });



    function setorgmasid(item, val, text) {
        $('#org_value').val(val);
        if (val) {
            $.ajax({
                type: "POST",
                url: commonSettings.orgmaster + "/cycleNodeCheck",
                data: {valid: val},
                dataType: "JSON",
                success: function (res) {
                    if (res.cyclenode === '1') {
                        $('#statusdiv').removeClass('hide');
                    } else {
                        if (!$('#statusdiv').hasClass('hide'))
                            $('#statusdiv').addClass('hide');
                    }
                }
            });
        }
    }


    $('#parentnode').typeahead({
        ajax: {url: commonSettings.searchAjaxurl + '/orgmasValueSearch',
            displayField: 'id',
            dataType: "JSON",
            triggerLength: 1,
            preDispatch: function (query) {
                $('#parentnode').addClass('loadinggif');
                return {
                    search: query,
                    editval: <?= $orgvaldet->id ?>
                }
            },
            preProcess: function (data) {
                $('#parentnode').removeClass('loadinggif');
                if (data.success === false) {
                    return false;
                } else {
                    return data;
                }
            }
        },
        itemSelected: setorgvalid,
    });



    function setorgvalid(item, val, text) {
        var help = text.split('>>')
        help[0] = "<font color='red'>" + help[0] + "</font>";
        $('#helpforparent').html(help.join('>>'))
        $('#parent_id').val(val);
        $('#orgdefinition').html('<span class="help-block"><i class="fa fa-spin fa-spinner" ></i> Loading please wait...</span>')
        if (val) {
            $.ajax({
                type: "POST",
                url: commonSettings.orgmaster + "/loadDefinition",
                data: {valueid: val},
                dataType: "HTML",
                success: function (res) {
                    $('#orgdefinition').html(res);
                }
            });
        }
    }

    $(document).ready(function () {

        $('.form_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
//            endDate: '+0d'
        });
    });


</script>
