<?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'name' => 'editMasterTreeForm', 'id' => 'editMasterTreeForm')); ?>
<div class="row">
    <div class="col-md-12">
        <?php $orgmasparntdet = OrganizationalStructureMaster::findFirstById($orgmasdet->parent_id) ?>
        <input type="hidden" id="org_value" value="<?= $orgmasdet->id ?>" name="org_value">
        <input id="parentnodeid" type="hidden"    name="parentnodeid"   class="form-control"  value="<?= $orgmasdet->parent_id ?>" /></span>   


        <div class="form-group">
            <label class="col-md-5 mandatory control-label"> Name: </label>
            <span class="col-sm-6"> <input class="form-control" type="text" id="nodevalue" name="nodevalue" value="<?= $orgmasdet->name ?>" title="Name of Business"></span>
        </div>

        <?php if ($orgmasdet->parent_id > 0): ?>
            <div class="form-group">
                <label class="col-md-5 mandatory control-label">  Parent Node :   </label>
                <span class="col-sm-6"> 
                    <input id="parentnode" type="text"   class="form-control"  value="<?= $orgmasparntdet->name ?>"  autocomplete="off" />
                    <span class=" help-block"> '<label style="color:#1fb5ac"><?= $orgmasparntdet->name ?></label>' is the selected parent node</span>
                </span>
            </div>
        <?php endif; ?>
    
        <div class="form-group">
            <label class="col-md-5 mandatory control-label"> Node Type : </label>
            <div class="col-sm-6">
                <?php
                $conditions = "module !=''";
                $orgmas_modules = OrganizationalStructureMaster::find(array(
                            'columns' => 'distinct module',
                            $conditions
                ));
                echo \Phalcon\Tag::select(
                        array(
                            'module',
                            $orgmas_modules,
                            "using" => array("module", "module"),
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '',
                            'class' => 'form-control',
                            'title' => 'module',
                            'value' => $orgmasdet->module
                        )
                );
                ?>

                <input class="form-control hide" type="text" id="module_name" name="module_name" value="" title="Module Name">

            </div>

        </div>
        <?php
        $cyclenode_yes = '';
        $cyclenode_no = '';
        if ($orgmasdet->cycle_node == 1) {
            $cyclenode_yes = 'checked';
        } else {
            $cyclenode_no = 'checked';
        }
        ?>
        <div class="form-group">
            <label class="col-md-5 mandatory control-label"> Is this a cycle node ? </label>
            <input type="radio"  name="cyclenode" value="1" <?= $cyclenode_yes ?> />
            <label >   Yes   </label>
            <input type="radio" name="cyclenode" value="2" <?= $cyclenode_no ?>/>
            <label >     No </label>
        </div>

        <?php
        $admission_yes = '';
        $admission_no = '';
        if ($orgmasdet->mandatory_for_admission == 1) {
            $admission_yes = 'checked';
        } else {
            $admission_no = 'checked';
        }
        ?>
        <div class="form-group">
            <label class="col-md-5 mandatory control-label"> Is mandatory for admission?  </label>
            <input type="radio"  name="admissionmandatory" value="1" <?= $admission_yes ?> />
            <label >  Yes </label>
            <input type="radio" name="admissionmandatory" value="2" <?= $admission_no ?> />
            <label >  No   </label>
        </div>

        <?php
        $appointment_yes = '';
        $appointment_no = '';
        if ($orgmasdet->mandatory_for_appointment == 1) {
            $appointment_yes = 'checked';
        } else {
            $appointment_no = 'checked';
        }
        ?>

        <div class="form-group">
            <label class="col-md-5 mandatory control-label"> Is mandatory for appointment?  </label>
            <input type="radio"  name="appointmentmandatory" value="1" <?= $appointment_yes ?> />
            <label >    Yes </label>
            <input type="radio" name="appointmentmandatory" value="2" <?= $appointment_no ?> />
            <label >   No  </label>
        </div>
        
    

        <?php
        $subordinate_yes = '';
        $subordinate_no = '';
        if ($orgmasdet->is_subordinate == 1) {
            $subordinate_yes = 'checked';
        } else {
            $subordinate_no = 'checked';
        }
        ?>

        <div class="form-group">
            <label class="col-md-5 mandatory control-label"> Is this a subordinate node?  </label>
            <input type="radio"  name="subordinatemandatory" value="1" <?= $subordinate_yes ?> />
            <label for="">
                Yes
            </label>
            <input type="radio" name="subordinatemandatory" value="0" <?= $subordinate_no ?> />
            <label for="">
                No
            </label>
        </div>
<!--    <div class="form-group">
            <label class="col-md-5 control-label"> Other Details: </label>
            <span class="col-sm-6"> <?php
//                echo \Phalcon\Tag::select(
//                        array(
//                            'otherdetails',
//                            array(
//                                "above cycle node" => "Above Cycle Node",
//                                "cycle node" => "Cycle Node",
//                                "same level" => "Same Level",
//                                "common level" => "Common Level"
//                            ),
//                            'useEmpty' => true,
//                            'emptyText' => 'Select',
//                            'emptyValue' => '',
//                            'class' => 'form-control',
//                            'value' => $orgmasdet->promotion_status
//                        )
//                );
                ?></span>
        </div>-->

    </div>
</div></form>
<script type="text/javascript">
    $('#parentnode').typeahead({
        ajax: {url: commonSettings.searchAjaxurl + '/orgmasSearch',
            displayField: 'id',
            dataType: "JSON",
            triggerLength: 1,
            preDispatch: function (query) {
                $('#parentnode').addClass('loadinggif');
                return {
                    search: query,
                }
            },
            preProcess: function (data) {
                $('#parentnode').removeClass('loadinggif');
                if (data.success === false) {
                    return false;
                } else {
                    return data;
                }
            }
        },
        itemSelected: setorgmasid,
    });


    function setorgmasid(item, val, text) {
        $('#parentnodeid').val(val);
        var par = text.split('>>');
       $('#parentnode').next('.help-block').find('label').html(par[0]);
    }

</script>
