<?php
echo $this->tag->javascriptInclude("js/lib/d3.v3.min.js");
echo $this->tag->javascriptInclude("js/lib/bootstrap-contextmenu.js");
?><script>
    $(function () {

        $('[data-toggle="popover"]').each(function () {
            $(this).popover({
                content: $(this).attr("popover-content"),
                title: $(this).attr("popover-title")
            })
            $(this).tooltip({
                placement: 'right',
                title: $(this).attr("tooltip-title")
            })
        });

    })
</script>

<style type="text/css">
    .d3-context-menu {
        position: absolute;
        display: none;
        /*background-color: #f2f2f2;
        border-radius: 4px;*/

        font-family: Arial, sans-serif;
        font-size: 14px;
        min-width: 150px;
        /*border: 1px solid #d4d4d4;*/

        z-index:1200;
    }

    .d3-context-menu ul {
        /*list-style-type: none;
        
        padding: 0px;

  position: absolute;*/
        cursor: default;
        margin: 4px 0px;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
    }

    .d3-context-menu ul li {
        padding: 4px 16px;
    }
    .d3-context-menu ul li a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.428571429;
        color: #333;
        white-space: nowrap;
    }
    .d3-context-menu ul li a:hover {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.428571429;
        color: #FFF;
        white-space: nowrap;
    }

    .d3-context-menu ul li:hover {
        background-color: #333;
        color: #FFF;
    }
    .node {
        cursor: pointer;
    }

    .overlay{
        background-color:#fff;
    }

    .node circle {
        fill: #fff;
        stroke: #FFF;
        stroke-width: 1.5px;
    }

    .node text {
        font-size:10px; 
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

    .templink {
        fill: none;
        stroke: red;
        stroke-width: 3px;
    }

    .ghostCircle.show{
        display:block;
    }

    .ghostCircle, .activeDrag .ghostCircle{
        display: none;
    }

</style>

<?php
echo $this->tag->javascriptInclude("js/appscripts/orgmaster/mastertree.js");
$linkclass = array('primary', 'danger', 'info', 'success', 'warning');
?>

<section class="panel">
    <header class="panel-heading">
        Organizational Definition
        <?php if (in_array('Siteadmin', $identity['role_name'])) { ?>
            <a class="pageload-link pull-right" href="<?php echo $this->url->get('organizational-structure/valueTreeD3'); ?>?view=true"> 
                <span class="mini-stat-icon tar">
                    <i class="fa fa-reply"></i></span>
                <label class="control-label" style="margin-top:10px;">Go Back</label>
            </a>
        <?php } ?>
        <script>
<?php if (in_array('Siteadmin', $identity['role_name'])) { ?>
                var menu = [
                    {
                        title: '<a tabindex="-1" href="javascript:;"  >View </a>',
                        action: function (elm, d, i) {
                            console.log(d);
                            orgmasSettings.loadViewModal(d.nodeid, d.name);
                        }
                    },
                    {
                        title: '<a tabindex="-1" href="#">Edit</a>',
                        action: function (elm, d, i) {
                            orgmasSettings.loadEditModal(d.nodeid, d.name);
                        }
                    },
                    {
                        title: '<a tabindex="-1" href="#">Delete</a>',
                        action: function (elm, d, i) {
                            orgmasSettings.confirmDelete(d.nodeid, d.name);
                        }
                    },
                    {
                        title: '<a tabindex="-1" href="#">Add node below</a>',
                        action: function (elm, d, i) {
                            orgmasSettings.addnodeModal(d.nodeid, d.name);
                        }
                    }
                ];
<?php } else { ?>
                var menu = [
                    {
                        title: '<a tabindex="-1" href="javascript:;"  >View </a>',
                        action: function (elm, d, i) {
                            console.log(d);
                            orgmasSettings.loadViewModal(d.nodeid, d.name);
                        }
                    }
                ];
<?php } ?>
            orgmasSettings.loadWithSubmodules();
        </script>
        <br><br>
    </header>

    <div class=" panel-body">
        <div class="">
            <div id="tree-container" class=""></div>
        </div>
    </div>
</section>
