
<section class="panel">
    <header class="panel-heading">
        Organizational Structure
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="overflow">
        <div>
            <?= $mastertree ?>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('.tree').tree_structure({
            'add_option': false,
            'edit_option': false,
            'delete_option': false,
            'confirm_before_delete': false,
            'animate_option': [true, 5],
            'fullwidth_option': false,
            'align_option': 'center',
            'draggable_option': false,
            'callback': ''
        });
    });
</script>