<?php
echo $this->tag->javascriptInclude("js/lib/d3.v3.min.js");
echo $this->tag->javascriptInclude("js/lib/bootstrap-contextmenu.js");
?><script>
    $(function () {

        $('[data-toggle="popover"]').each(function () {
            $(this).popover({
                content: $(this).attr("popover-content"),
                title: $(this).attr("popover-title")
            })
            $(this).tooltip({
                placement: 'right',
                title: $(this).attr("tooltip-title")
            })
        });

    })
</script>

<style type="text/css">
    .d3-context-menu {
        position: absolute;
        display: none;
        /*background-color: #f2f2f2;
        border-radius: 4px;*/

        font-family: Arial, sans-serif;
        font-size: 14px;
        min-width: 150px;
        /*border: 1px solid #d4d4d4;*/

        z-index:1200;
    }

    .d3-context-menu ul {
        /*list-style-type: none;
        
        padding: 0px;

  position: absolute;*/
        cursor: default;
        margin: 4px 0px;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
    }

    .d3-context-menu ul li {
        padding: 4px 16px;
    }
    .d3-context-menu ul li a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.428571429;
        color: #333;
        white-space: nowrap;
    }
    .d3-context-menu ul li a:hover {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.428571429;
        color: #FFF;
        white-space: nowrap;
    }

    .d3-context-menu ul li:hover {
        background-color: #333;
        color: #FFF;
    }
    .node {
        cursor: pointer;
    }

    .overlay{
        background-color:#fff;
    }

    .node circle {
        fill: #fff;
        stroke: #FFF;
        stroke-width: 1.5px;
    }

    .node text {
        font-size:10px; 
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

    .templink {
        fill: none;
        stroke: red;
        stroke-width: 3px;
    }

    .ghostCircle.show{
        display:block;
    }

    .ghostCircle, .activeDrag .ghostCircle{
        display: none;
    }

</style>
<?php
$linkclass = array('primary', 'danger', 'info', 'success', 'warning', 'error');
?>
<section class="panel">
    <!--    <header class="panel-heading">
            Organizational Structural canvas
            <span class="tools pull-right col-md-2">
            </span>
        </header>-->

    <div class=" panel-body">
        <div class="">
            <div class="row weather-full-info">
                <div class="col-md-5 today-status" style="cursor:pointer; display: inline-block;  text-align: center;   border-left: 1px solid #f1f2f7;left: -15%;">
                    <a href="<?= $this->url->get('organizational-structure/index?view=true') ?>" target="_blank" style="color:#cbcbcb;">   <i class=" fa fa-sitemap "></i>
                        <h2>View Definition</h2></a>
                </div>
                <div class="col-md-7" style ="direction: rtl;  ">
                    <ul style ="cursor:pointer;  ">
                        <?php $i = 0;
                        foreach ($mastersubor as $subor):
                            ?>
                            <li class="suboor" 
                                onclick="orgvalSettings.loadWithSubmodules('<?= $subor->module ?>')" 
                                style="text-align : center !important;"
                                id="suboor_<?= $subor->module ?>">
                                <h2><?= $subor->module ?></h2>
                                <i class="fa fa-<?= $subor->nodefont ?> text-<?= $linkclass[$i++] ?>  "></i>
                                <div class="">view nodes</div>
                            </li>
<?php endforeach; ?>

                    </ul>

                </div>
            </div>
            <!--<div id="tree-container" class=""></div>-->
            <div id="boog"><div class=" well"><br><br><div style="margin:0 10%"><i class="fa fa-spinner fa-spin"></i> Loading...</div><br><br></div></div>
        </div>
    </div>

</section>

<!--
<image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost/edu_base/default/files/logo.png" x="0" y="0" height="27px" width="27px" style=" height: 25px; width: 25px;  x: 2;  y: 2; "></image>
<div id="main" 	data-toggle = "context" data-target="#context-menu">ads
        </div>

<div id="context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="javascript:;" onclick="orgvalSettings.loadViewModal()" >View </a></li>
    <li><a tabindex="-1" href="#">Edit</a></li>
    <li><a tabindex="-1" href="#">Add node below</a></li>
  </ul>
</div>-->

<script>
</script>
<?php echo $this->tag->javascriptInclude("js/appscripts/orgmaster/static.js"); ?>
