<?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'name' => 'viewMasterTreeForm')); ?>
<div class="row">
    <div class="col-md-12">
        <?php $orgmasparntdet = OrganizationalStructureMaster::findFirstById($orgmasdet->parent_id) ?>
        <div class="form-group">
            <label class="col-sm-5 control-label"> Name: </label>
            <span class="col-sm-6"> <label class="form-control " style=" border: none; "> <?= $orgmasdet->name ?></label></span>
        </div>
        <?php if ($orgmasdet->parent_id > 0): ?>
            <div class="form-group">
                <label for=""  class="col-md-5 control-label">  Parent Node :   </label>
                <span class="col-sm-6"> <label class="form-control " style=" border: none; "> <?= $orgmasparntdet->name ?></label></span>
            </div>
        <?php endif; ?>
        <div class="form-group">
            <label for=""  class="col-md-5 control-label"> Node Type : </label>
            <span class="col-sm-6"> <label class="form-control " style=" border: none; "> <?= $orgmasdet->module ?></label></span>
        </div>
        <?php
        if ($orgmasdet->cycle_node == 1) {
            $cyclenode = 'YES';
        } else {
            $cyclenode = 'NO';
        }
        ?>
        <div class="form-group">
            <label for=""  class="col-md-5 control-label">
                 Is this a cycle node ?
            </label>
            <span class="col-sm-6"> <label class="form-control " style=" border: none; "> <?= $cyclenode ?></label></span>
        </div>

        <?php
        if ($orgmasdet->mandatory_for_admission == 1) {
            $admission = 'YES';
        } else {
            $admission = 'NO';
        }
        ?>
        <div class="form-group">
            <label for=""  class="col-md-5 control-label">
                Is mandatory for admission? 
            </label>
            <span class="col-sm-6"> <label class="form-control " style=" border: none; "> <?= $admission ?></label></span>
        </div>

        <?php
        if ($orgmasdet->mandatory_for_appointment == 1) {
            $appointment = 'YES';
        } else {
            $appointment = 'NO';
        }
        ?>

        <div class="form-group">
            <label for=""  class="col-md-5 control-label">
               Is mandatory for appointment? 
            </label>
            <span class="col-sm-6"> <label class="form-control " style=" border: none; "> <?= $appointment ?></label></span>
        </div>

        <?php
        if ($orgmasdet->is_subordinate == 1) {
            $subordinate = 'YES';
        } else {
            $subordinate = 'NO';
        }
        ?>

        <div class="form-group">
            <label for=""  class="col-md-5 control-label">
               Is this a subordinate node? 
            </label>
            <span class="col-sm-6"> <label class="form-control " style=" border: none; "> <?= $subordinate ?></label></span>
        </div>
<!--        <div class="form-group">
            <label class="col-md-5 control-label"> Other Details: </label>
            <span class="col-sm-6"> <label class="form-control " style=" border: none; "> <?php // $orgmasdet->promotion_status ?></label></span>

        </div>-->


    </div>
</div></form>

