 <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal',   'name'=>'loadEditModal')); ?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
    <?php $orgmasdatahtml = OrganizationalStructureMaster::findFirstById($orgvaldet->org_master_id); ?>
                                <label for=""  class="col-sm-3 control-label">Definition :</label>
    <span class="col-sm-6"><label class="form-control " style=" border: none; "><?= $orgmasdatahtml->name ?></label></span> 
</div>

<div class="form-group">
    <?php $orgvaldata = OrganizationalStructureValues::findFirstById(  $orgvaldet->parent_id); 
 $orgmasdata = OrganizationalStructureMaster::findFirstById(  $orgvaldata->org_master_id); ?>
                                <label for=""  class="col-sm-3 control-label">Parent node:</label>
    <span class="col-sm-6"><label class="form-control " style=" border: none; ">( <?= ucfirst($orgmasdatahtml->module) ?> node) <?= $orgvaldata->name ?></label></span> 
</div>

<div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Node Name:</label>
    <span class="col-sm-6"><label class="form-control " style=" border: none; "><?= $orgvaldet->name ?></label></span> 
</div>

<div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Node Status:</label>
    <span class="col-sm-6"><label class="form-control " style=" border: none; "><?= $orgvaldet->status?(($orgvaldet->status=='C')?'Current':(($orgvaldet->status=='N')?'Next':'Not in use')):'Nil' ?></label></span> 
</div>
</div>
</div>
</form>
