<?php
echo $this->tag->javascriptInclude("js/appscripts/assigning/classroom.js");
echo $this->tag->javascriptInclude("js/appscripts/spacetree/spacetreeutils.js");
echo $this->tag->javascriptInclude("js/appscripts/assigning/assign.js");
?>

<script>
    $(function () {
        classroomAssignSettings.addnewClassroom();
        classroomAssignSettings.allClassroom();
    });
</script>


<?php if ($onboard == '0'): ?>
    <div class="page-header filled full-block light">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2>Class groups</h2>
                <p>Manage class groups</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <a class="pull-right list-page-breadcrumb" href="<?php echo $this->url->get('calendar/classroomScheduling'); ?>" target="_blank">
                        <span class="mini-stat-icon-small orange cd-timeline-img " style="  margin-top: -10px;">
                            <i class=" fa fa-calendar"></i></span>
                        Schedule Classroom
                    </a>
<!--                <ul class="list-page-breadcrumb">
                    <li><a href="#">Home <i class="zmdi zmdi-chevron-right"></i></a></li>
                    <li><a href="#">Administration <i class="zmdi zmdi-chevron-right"></i></a></li>
                    <li><a href="#">Class groups <i class="zmdi zmdi-chevron-right"></i></a></li>
                </ul>-->
            </div>

        </div>
    </div>
<?php endif; ?>

<div class="row">
    <div class="col-md-2 col-sm-2" style="    padding: 5px;">
        <div  id="addclassroomdiv"  style="max-height: 765px;" ></div>
    </div>
    <div class="col-md-10 col-sm-10" style="    padding: 5px;">
        <div id="loadStaffIncharge">  </div>
    </div>
</div>
<!-- 

  <div id="changevalueDiv" class="row">
<!--            <header class="panel-heading">
                Classrooms
                <span class=" pull-right" >
                    <a class="" href="<?php echo $this->url->get('calendar/classroomScheduling'); ?>" target="_blank">
                        <span class="mini-stat-icon orange cd-timeline-img " style="  margin-top: -10px;">
                            <i class=" fa fa-calendar"></i></span>
                        Schedule Classroom
                    </a>

                </span>
            </header>


<?php if ($onboard == '0'): ?>  <div class="panel-body">     <?php endif; ?>
    <div class="col-md-12">
        <div class="col-md-2">
          <div  id="addclassroomdiv"  style="max-height: 765px;" ></div>
        </div>  
        <div class="col-md-10" id="loadStaffIncharge">  </div>
    </div>

<?php if ($onboard == '0'): ?>
            </div>
<?php endif; ?>
</div>
-->
<script>
    $('#addclassroomdiv').niceScroll();
</script>
<style>

    .classroombtn {
        cursor: pointer;
    }
    div#openclassroom {
        /*background: #eee;*/ 
        /*border: 1px solid #ccc;*/
/*        padding: 0px;
        border-radius: 8px;*/
        /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
/*        position: relative;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);*/
    }
    div .openclassroom {
        /* background: #eee; */
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        width: 31%;
        margin-left: 20px;
    }

    /*    div#openclassroom:before {
            position: absolute;
            display: inline-block;
            border-top: 7px solid transparent;
            border-right: 7px solid #eee;
            border-bottom: 7px solid transparent;
            border-right-color: rgba(0, 0, 0, 0.2);
            left: -8px;
            top: 20px;
            content: '';
        }*/
</style>
