
<div id="openclassroom"   class="widget-wrap">
    <div class="widget-header block-header clearfix">
        <div class="pull-left">
            <h3>Add new class group <?= $selectednode>0?(" for ". OrganizationalStructureValues::findFirstById($selectednode)->name):"" ?></h3>
            <p>Create a class group with combination of students</p>
        </div>
    </div>
    <div class="widget-container ">
        <div class="widget-content">
            <div class="form-horizontal row" id="addnewClassroom">
                <div class="col-md-12">
                    <div class="form-group">


                        <div id='common_subjects'> </div>
                        <label  class="col-md-4 control-label ">Choose group combination:</label>
                        <div class="col-md-4">  
                            <a href="javascript:;" class="  form-control"
                               onclick='spacetreeutilsSettings.loadSpaceTreeForSubjectTeachers(<?= $selectednode>0?$selectednode:$cycleID ?>, "node_id", "node_name")'
                               >
                                <i  class="fa fa-plus-circle" ></i> Click here</a>
                                
                            <div id='added_category' class='hide'>
                                <input type='hidden' value='' id='node_id' name='node_id' />
                                <input type='hidden' value='' id='node_name' name='node_name' />
                                <span class="help-block">Selected combination : <span id='returned_node_name' class='text text-success' name='returned_node_name' >  </span></span>
                            </div>
                        </div>
                        <span class="loading hide col-md-2"><i class="fa spinner fa-spin fa-spinner "></i></span>
                        <span class="done hide col-md-2"><i class="fa fa-check "></i></span>



                    </div>
                    <div class="form-group">
                        <input type='hidden' id='actions' value='add' name= 'actions'  />
                        <label  class="col-md-4 control-label ">Enter group name:</label>
                        <div class="col-md-4">  
                            <input class='form-control' type='text' id='newnode' name='newnodevalue' title='Name of Classroom'  />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button class='btn btn-success pull-right' type='button' action = 'add'
                                    onclick='classroomAssignSettings.addOrEditClassroom(this)' id='confirm_save'>Save</button>
                        </div> 
                    </div>
                    <br>
                </div>   
            </div>
        </div>
    </div>
</div> 
