<?php
$cycle_node_master = OrganizationalStructureMaster::findfirst('cycle_node = 1');

$cycle_node_values = OrganizationalStructureValues::find('org_master_id = ' . $cycle_node_master->id);
?>
<div id="addsubj_message"></div>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <header class="panel-heading">
                Add Subject
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal')); ?>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Select <?= $cycle_node_master->name ?>:</label>
                            <div class="col-sm-4">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            "cycle_node_id",
                                            $cycle_node_values,
                                            'using' => array('id', 'name'),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '0',
                                            'class' => 'form-control',
                                            'onChange' => 'assignSettings.getSubjectsByCycle(this.value)'
                                ));
                                ?>
                            </div>
                        </div>                        
                    </div>
                </div>
                </form>
            </div>
        </section>

        <div id='subjDet'class='hide'></div>

        <section class="panel hide" id="addSubjSec">
            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addSubjectForm')); ?>
                <div class="center scaffold">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="subjectName" class="col-md-4 control-label">Subject Name:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("classID", array('value' => $classId)) ?> 
                                <?php echo $form->render("subj") ?> 
                            </div>
                        </div>
                    </div>    

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="subjectName" class="col-md-4 control-label">Subject Code:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("code") ?> 
                            </div>
                        </div>
                    </div>  

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="subjectName" class="col-md-4 control-label">Mandatory Subject:</label>
                            <div class="col-md-6">  
                                <input type="radio" name="mandatory" checked="checked" value="1"/>Yes
                                <input type="radio" name="mandatory" value="0"/>No
                            </div>
                        </div>
                    </div>  
                </div>
                </form>
            </div>
        </section>
    </div>
</div>
