
<div     class="widget-wrap">
<div class="widget-header block-header clearfix">
        <div class="pull-left">
            <h3>Class groups</h3>
            <p>Pick a class groups</p>
        </div>
    </div>
<div class="widget-container ">
<ul class="list-accordion">
<?php $indvclass= array();
if(count($gradeList)>0){
 foreach($gradeList as $grade){
  $gclassrooms = ClassroomMaster::find('find_in_set('.$grade->id.',  replace(replace(aggregated_nodes_id,",",":"),"-",","))');
 ?>
                <li>
                    <a href="#"><i class="fa fa-building-o"></i><span class="list-label"><?= $grade->name ?></span></a>
                    <ul>
<?php
if (count($gclassrooms) > 0) {
    foreach ($gclassrooms as $classroom) {
	$indvclass[]= $classroom->id;
        $nodenames = OrganizationalStructureValues::findFirst(array(
                    'columns' => 'group_concat(name) names',
                    'id IN (' . str_replace('-', ',', $classroom->aggregated_nodes_id) . ') '
                ))
        ?>
 <li><a class="nobackgrnd" href="javascript:;" onclick="classroomAssignSettings.openValue(<?= $classroom->id ?>);classroomAssignSettings.toggleactive(this);"> <?= $classroom->name ?></a></li> 
        <?php
    }
}
?>  
                        <li><a href="javascript:;" style="padding-left:0;color:#333;"  onclick="classroomAssignSettings.addnewClassroom('<?= $grade->id ?>')">   <i class="fa fa-plus"></i> New Classgroup </a>  </li>
                    </ul>
                </li>
 <?php
    }
}
?> 
 <li>
                    <a href="#"><i class="fa fa-building-o"></i><span class="list-label">Interclasses</span></a>
                    <ul>
<?php

  $grclassrooms = ClassroomMaster::find('find_in_set('.$currectacdyr->id.',  replace(aggregated_nodes_id,"-",",")) and id not in ('.implode(',',$indvclass).')');
if (count($grclassrooms) > 0) {
    foreach ($grclassrooms as $classroom) {
        $nodenames = OrganizationalStructureValues::findFirst(array(
                    'columns' => 'group_concat(name) names',
                    'id IN (' . str_replace('-', ',', $classroom->aggregated_nodes_id) . ') '
                ))
        ?>
 <li><a class="nobackgrnd" href="javascript:;" onclick="classroomAssignSettings.openValue(<?= $classroom->id ?>);classroomAssignSettings.toggleactive(this);"> <?= $classroom->name ?></a></li> 
        <?php
    }
}
?>  
 <li> <a href="javascript:;" onclick="classroomAssignSettings.addnewClassroom();"><i class="fa fa-plus" ></i> New Interclass</a></li>
                    </ul>
                </li>
</ul>
</div> 
</div> 

    <?php
/*
<div class=" label label-warning col-md-12 classroombtn" onclick="classroomAssignSettings.addnewClassroom();">
    <i class="fa fa-plus pull-left"></i>
    New Interclass
</div>
 <br> <br> 
if (count($classrooms) > 0) {
    foreach ($classrooms as $classroom) {
        $nodenames = OrganizationalStructureValues::findFirst(array(
                    'columns' => 'group_concat(name) names',
                    'id IN (' . str_replace('-', ',', $classroom->aggregated_nodes_id) . ') '
                ))
        ?>
 
<div class=" label label-default col-md-12 classroombtn" 
     onclick="classroomAssignSettings.openValue(<?= $classroom->id ?>);classroomAssignSettings.toggleactive(this);">
    <i class="fa fa-building-o pull-left"></i>
   <?= $classroom->name ?>
</div>
 <br> <br> 
        <?php
    }
}*/
?> 

<script>

        $('.list-accordion').each(function() {
            $(this).navAccordion({
                eventType: 'click',
                hoverDelay: 100,
                autoClose: true,
                saveState: false,
                disableLink: true,
                speed: 'fast',
                showCount: false,
                autoExpand: true,
                classExpand: 'acc-current-parent'
            });
        });
    $(document).on("mouseleave", ".iconic-leftbar", function() {
        $(".list-accordion .dcjq-parent").removeClass('active');
        $(".list-accordion .acc-parent-li .acc-parent").removeClass('active');
        $(".list-accordion ul").hide();
    });

</script>

<style>
ul.list-accordion{
	font-size: 14px;
}
  .list-accordion .list-title {
    background-color: #fff;
    border-top: 0px;
    border-bottom: rgba(0, 0, 0, 0.08) 1px solid;
    font-weight: 500;
    color: #666666;
}
  .list-accordion > li > a {
    background-color: #fff;
    color: #868686;
}
.list-accordion > li > a:hover, .list-accordion > li > a:focus{
        background-color: rgba(0, 0, 0, 0.05);
    color: #17bab8;
}
.list-accordion > li > a.acc-parent.active{
    background-color: #fff;
    color: #17bab8;

}

</style>
