<?php
$cycle_node_master = OrganizationalStructureMaster::findfirst('cycle_node = 1');

$cycle_node_values = OrganizationalStructureValues::find('org_master_id = ' . $cycle_node_master->id);
?>

<div id="subjTeacher_message"></div>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <header class="panel-heading">
                Select <?= $cycle_node_master->name ?> to assign subject AND teacher(s)
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'assignSubjsandTeachsForm')); ?>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Select <?= $cycle_node_master->name ?>:</label>
                            <div class="col-sm-4">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            "cycle_node_id",
                                            $cycle_node_values,
                                            'using' => array('id', 'name'),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '0',
                                            'class' => 'form-control',
                                            'onChange' => 'assignSettings.loadGroupsSubjectTeachers(this.value)'
                                ));
                                ?>
                            </div>
                        </div>  
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <div id="subjTechandteacherMatrix" class="hide"></div>

        <div id="existsujectandteacherMatrix">
            <?php if ($display_subjectsdivision > 0) { ?>
                <section class="panel">
                    <header class="panel-heading">
                        View Subjects and Teachers
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead><tr>
                                    <th><?php echo $divMaster->divname; ?></th>
                                    <th>Groups</th>
                                    <th>Subject</th>
                                    <th>Teacher(s)</th> 
                                    <th>Action</th> 
                                </tr></thead>
                            <tbody> 
                                <?php for ($lp = 0; $lp < count($suject_teachers); $lp++): ?>
                                    <tr>  
                                        <td><?= $suject_teachers[$lp]['class_name'] ?></td>
                                        <?php
                                        $class = $suject_teachers[$lp]['class_name'];
                                        $cnt = count($suject_teachers[$lp]['subdiv_names']);
                                        for ($grp = 0; $grp < $cnt; $grp++) {
                                            ?>
                                    <span class="label label-primary fee_text groupspan"> <?= $class . '-' . $suject_teachers[$lp]['subdiv_names'][$grp] ?> </span><br>
                                <?php } ?>
                                <td><?= $suject_teachers[$lp]['subject_name'] ?></td>
                                <td><?= $suject_teachers[$lp]['teacher_name'] ?></td>
                                <td><button class="btn btn-success" type="button" id="subjteach_remove" onclick="assignSettings.editSubjectsandTeachers('<?= $suject_teachers[$lp]['subdivsubj_serid'] ?>');"> Edit Teacher(s)</button>
                                    <button class="btn btn-success" type="button" id="subjteach_remove" onclick="assignSettings.removeSubjectsandTeachers('<?= $suject_teachers[$lp]['subdivsubj_serid'] ?>');"> Remove</button></td>
                                </tr>
                            <?php endfor; ?>
                            </tbody>
                        </table>
                    </div>
                </section>
            <?php } ?>
        </div>
        <div id="displayGroupSubjectTeachers" class="hide">
            
        </div>
    </div>
</div>
