
<script type="text/javascript">
    $(document).ready(function () {
        $(".mini-stat.tabactive").unbind().on('click', function () {
            var activetab = $(this).attr('tabactive')
            console.log('clicked' + activetab)
            $('.nav li').removeClass('active')
            $('.nav li.' + activetab).addClass('active')
            $('.tab-pane').removeClass('active')
            $('#' + activetab).addClass('active')

        });

//        assignSettings.loadClassteacher();
//        $('#classteacher_section').on('click', function () {
//            assignSettings.loadClassteacher();
//        });
//        assignSettings.loadaddsubject();
            assignSettings.loadsubjectTeacher();
        $('#subjectteacher_section').on('click', function () {
            assignSettings.loadsubjectTeacher();
        });
        $('#classteacher_section').on('click', function () {
            assignSettings.loadClassteacher();
        });
        $('#addsubject_section').on('click', function () {
            assignSettings.loadaddsubject();
        });
    });
</script>
<div class="row">
<!--    <div class="col-md-4">
        <div class="mini-stat clearfix tabactive" tabactive ="addsubject" id="addsubject_section" > 

            <span class="mini-stat-icon pink"><i class="fa fa-book"></i></span>
            <div class="mini-stat-info">
                <span>Add Subject</span>
            </div>
        </div>
    </div>-->
    <!--   -->
    <div class="col-md-4">
        <div class="mini-stat clearfix tabactive" tabactive ="subjectteacher" id="subjectteacher_section" > 

            <span class="mini-stat-icon tar"><i class="fa fa-trophy"></i></span>
            <div class="mini-stat-info">
                <span>Add Classrooms</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mini-stat clearfix tabactive"  tabactive ="classteacher" id="classteacher_section"> 

            <span class="mini-stat-icon orange"><i class="fa fa-list-alt"></i></span>
            <div class="mini-stat-info">
                <span>Staff In-Charge</span>
            </div>
        </div>
    </div>

</div>


<section class="panel" id="other_section">
    <div class="tab-content tasi-tab">

<!--        <div id="addsubject" class="tab-pane ">
              attendance content goes here
            <div id="addsubjectDiv" class="hide"></div>
        </div>-->
        <!--       -->

        <div id="subjectteacher" class="tab-pane active">  
            <!--  mainexam content goes here-->
            <div id="subjectteacherDiv" class="hide"></div>

        </div>
        <div id="classteacher" class="tab-pane active">
            <div id="classteacherDiv" class="hide"></div>
        </div>
    </div>      
</section>
