<?php
$cycle_node_master = OrganizationalStructureMaster::findfirst('cycle_node = 1');

$cycle_node_values = OrganizationalStructureValues::find('org_master_id = ' . $cycle_node_master->id);
?>

<div id="subjTeacher_message"></div>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <header class="panel-heading">
                Select <?= $cycle_node_master->name ?> to assign Class teacher(s)
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'assignClsTeachsForm')); ?>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Select <?= $cycle_node_master->name ?>:</label>
                            <div class="col-sm-4">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            "cycle_node_id",
                                            $cycle_node_values,
                                            'using' => array('id', 'name'),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '0',
                                            'class' => 'form-control',
                                            'onChange' => 'assignSettings.loadGroupsClsTeachers(this.value)'
                                ));
                                ?>
                            </div>
                        </div>  
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <div id="ClsTechandteacherMatrix" class="hide"></div>

        <div id="displayGroupClsTeachers" class="hide">
            
        </div>
    </div>
</div>
