   

<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <header class="panel-heading">
                Assign Roll-No for students
            </header>
            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'assignSecSearchForm')); ?>
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="form-group">
                            <?php $fields = OrganizationalStructureMaster::findFirst('mandatory_for_admission =1 and cycle_node =1'); ?>
                            <label for=""  class="col-sm-3  control-label mandatory"><?= $fields->name ?></label>  
                            <div class="col-sm-6">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            'aggregate_' . strtolower(str_replace(' ', '', $fields->name)),
                                            OrganizationalStructureValues::find('org_master_id = ' . $fields->id),
                                            "using" => array("id", "name"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control',
                                            'title' => $fields->name,
                                            'onchange' => 'assignSectionSettings.loadSubtree(this)'
                                        )
                                );
                                ?>

                            </div> 

                        </div>
                        <div class="subtreediv hide"></div>
                        <div class="form-group">
                            <div class="col-md-9">  
                                <button class="btn btn-success pull-right" type="button"
                                        id="stu_list" onclick='assignSectionSettings.loadStudents(this)'> Search</button>
                            </div>
                        </div>
                    </div>
                </div>

                </form>
            </div>
        </section>

        <div id='StudentDet'class='hide'></div>
    </div>
</div>
