          
<section class="panel">
    <header class="panel-heading">
        Session Handling Groups
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <?php if (count($subject_teachers_groups) > 0) { ?>
            <div class="col-md-3">
                <section class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <?php
                        $n = 0;
                        foreach ($subject_teachers_groups as $subject_teachers_group) {
                            ?>
                            <li class="alert-info">
                                <a href="#subnodetable_<?= $n++ ?>"> 
                                    <?php
                                    $imparr = array();
                                   $namsubj = explode('<br>',$subject_teachers_group[0]['pathname']);
                                    foreach ($namsubj as $value) {
                                    $namearrr= explode('>>', $value);
                                    if(count($namearrr)>1)array_shift($namearrr);
                                    $imparr[] = implode('-', $namearrr);
                                    }
                                    echo implode(', ', $imparr);
                                    ?>
                                </a>
                            </li> <?php }
                                ?>
                    </ul> 
                </section>
            </div>
        <div class="col-md-9 node_table_top" style="height: 600px; overflow-x: hidden;">

            <?php
            $j = 0;
            foreach ($subject_teachers_groups as $subject_teachers_group) {
                ?>

                <div class="col-md-12 pull-right node_table" id="subnodetable_<?= $j++ ?>">
                    <span class="label label-primary"><?php
                        
                                    $imparr = array();
                                   $namsubj = explode('<br>',$subject_teachers_group[0]['pathname']);
                                    foreach ($namsubj as $value) {
                                    $namearrr= explode('>>', $value);
                                    if(count($namearrr)>1)array_shift($namearrr);
                                    $imparr[] = implode('-', $namearrr);
                                    }
                                    echo implode(', ', $imparr);?></span>
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <!--<th>Id</th>-->
                                <th>Subject(Code)</th>
                                <th>Teacher(s)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <?php
                            $i = 0;
                            foreach ($subject_teachers_group as $subject):
                                ?>
                                <tr masterid="<?= $subject['id'] ?>">

                                    <td><?= ++$i; ?></td>
                                    <!--<td><?= $subject['id'] ?></td>-->
                                    <td><?= $subject['subject_name'] ?></td>
                                    <td>
                                        <span class="col-md-3  hide editteach "></span>
                                        <span class="col-md-7 hide editteach">
                                            <input type="text"  class="staff-edit" class="form-control" value=""> 
                                        </span>
                                        <span class="col-md-2 hide editteach">
                                            <input type="button" class="btn btn-round btn-primary" 
                                   name ='assignSubj'
                                   value="Update" onclick='assignSettings.updtSubjsandteachrs(this)'
                                   id="addsubj">
                                        </span> 
                                             
                                             <span class="teachlist" ><?= $subject['teacher_name'] ?></span></td>
                                     <td>
                                         <span class="fa fa-edit"
                                               onclick="assignSettings.loadSubTeacherEdit(this)"></span>
                                         <span class="fa fa-trash-o  "
                                               onclick="assignSettings.loadSubTeacherDelete(<?= $subject['id']; ?>)"></span>
                                     </td>
                                </tr>
                            <?php endforeach; ?>

                        </tbody>
                    </table>
                </div>

                <?php
            }
        }
        ?>
        </div>
    </div>
</section>




<script>

    $(document).ready(function() {

        $(".staff-edit").tokenInput(commonSettings.searchAjaxurl + '/mailstfAutocomplt', {
            theme: "facebook",
            preventDuplicates: true,
            prePopulateFromValue: true,
        });
    });
</script>