          
<section class="panel">
    <header class="panel-heading">
        Session Handling Groups
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <?php if (count($subject_teachers_groups) > 0) { ?>
        <div class="col-md-12 node_table_top" style="height: 600px; overflow-x: hidden;">

                <div class="col-md-12 pull-right node_table" id="subnodetable_<?= $j++ ?>">
                    <table class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Group</th>
                                <th>Teacher(s)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
            <?php
            $j = 0;
            foreach ($subject_teachers_groups as $subject) {
                                ?>
                                <tr>

                                    <td>  <span class="label label-primary">
                                        <?php  $imparr = array();
                                        foreach ( $subject['pathname'] as $gvalue) { 
                                       $namearrr= explode('>>', $gvalue);
                                    if(count($namearrr)>1)array_shift($namearrr);
                                    $imparr[] = implode('-', $namearrr);
                                    }
                                    echo implode(', ', $imparr);
                                    ?>
                                      </span> </td>
                                    <td><?= $subject['teacher_name'] ?></td>
                                    <td><span class="fa fa-trash-o   fa-2x" onclick="assignSettings.loadClsTeacherDelete(<?= $subject['id']; ?>)"></span></td>
                                </tr>
                           

               <?php 
            }
        }
        ?>
                        </tbody>
                    </table>
                </div>

        </div>
    </div>
</section>


