<div class="row">
    <div class="col-sm-12">
        <section class="panel">

            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id'=>'updateSubjectForm')); ?>
                <div class="center scaffold">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="subjectName" class="col-md-4 control-label">Subject Name:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("classID",array('value'=>$subject->node_id)); ?> 
                                <?php echo $form->render("subj",array('value'=>$subject->subjectName)) ?> 
                            </div>
                        </div>
                    </div>   
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="subjectName" class="col-md-4 control-label">Subject Code:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("code",array('value'=>$subject->subjectCode)) ?> 
                            </div>
                        </div>
                    </div>  
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="subjectName" class="col-md-4 control-label">Mandatory Subject:</label>
                            <div class="col-md-6">  
                                <?php if($subject->is_mandatory){ ?> 
                                <input type="radio" name="mandatory" checked="checked" value="1"/>Yes
                                <input type="radio" name="mandatory" value="0"/>No
                                <?php }
                                else { ?>
                                <input type="radio" name="mandatory" value="1"/>Yes
                                <input type="radio" name="mandatory" checked="checked" value="0"/>No
                                <?php } ?>
                            </div>
                        </div>
                    </div>                     

                </div>
                </form>
            </div>
        </section>
    </div>
</div>