
<?php
if (count($subjects) > 0) {
    ?>

    <?php
    echo \Phalcon\Tag::select(
            array(
                "subjID",
                $subjects,
                "using" => array("id", "name"),
                'class' => 'form-control',
            )
    );
    ?>
    <input type="hidden" id="aggregate_key" value="<?= $aggregate ?>"/>
    <!--<input type="hidden" id="student_count" value=""/>-->
    <?php
}
else
{
?>
    <input type="hidden" id="aggregate_key" value="<?= $aggregate ?>"/>
    <!--<input type="hidden" id="student_count" value=""/>-->
    <span style="color:red">No Subjects Found For The Group Selected!</span>
<?php } ?>
