<section class="panel">
    <header class="panel-heading">
        List of subjects for this Node
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <?php 
//        if (count($subjects) > 0) { 
            ?>

            <div class="col-md-3">
                <section class="panel-body"> 
                    <div class="col-md-12">
                        <!--<span class="label label-info col-md-4" onclick='assignSettings.showAllTable()'><?= $acd_value ?></span>-->
                        <div class="mini-stat-node col-md-8" onclick="assignSettings.loadSpaceTreeForAllSubject('<?= $cycleID ?>', 'node_id', 'node_name')" style="cursor: pointer;"> 
                            <span class="mini-stat-icon pink"><i class="fa fa-plus"></i></span>
                            <div class="mini-stat-info">
                                <span>Add</span>
                            </div>
                        </div>                        
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                        <?php
                        $n = 0;
                        if($subjects && count($subjects)):
                        foreach ($subjects as $subject) {
                            ?>
                            <li class="alert-info">
                                <a href="#nodetable_<?= $n++ ?>" >
                                    <?php
                                    echo $subject['name'];
                                    ?></a></li> 
                                        <?php }
                                        endif;
                                ?>
                    </ul>
                </section>

            </div>
            <div class="col-md-9 node_table_top" style="height: 600px; overflow-x: hidden;">

                    <div id="added_category" class='hide'>
                        <input type="hidden" value="" id='node_id'/>
                        <input type="hidden" value="" id='node_name'/>
                        <span id="returned_node_nameall" class="label label-primary">

                        </span>
                    </div>
                <?php
                $j = 0;
                if($subjects && count($subjects)):
                foreach ($subjects as $subject) {
                    ?>

                    <div class="col-md-12 pull-right node_table" id="nodetable_<?= $j++ ?>">
                        <span class="label label-primary"><?= $subject['name'] ?><a href='javascript:void(0)' class='' onclick='assignSettings.createSubject("<?= $subject['id'] ?>")' title='Add Subject'>  
                                <i class='fa fa-plus activity-icon bg-red' style='margin-top: 6px;'></i></a> </span>
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <!--<th>Name</th>-->
                                    <th>Subject(Code)</th>
                                    <th>Is Mandatory</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <?php
                                $i = 0;
                                foreach ($subject['subject'] as $subject):
                                    ?>
                                    <tr>

                                        <td><?= ++$i; ?></td>
                                        <!--<td><?= $subject->node_id ?></td>-->
                                        <td><?php echo $subject->subjectName . '(' . $subject->subjectCode . ')'; ?></td>
                                        <td><?php echo ($subject->is_mandatory) ? 'Yes' : 'No'; ?></td>
                                        <td><span class="fa fa-pencil fa-2x" onclick="assignSettings.loadSingleSubject(<?= $subject->id; ?>)"></span></td>
                                    </tr>
                                <?php endforeach; ?>

                            </tbody>
                        </table>


                    </div>

                    <?php
                }
                    
                endif;
//            }else {
                ?>
            </div>
<!--            <div class="center scaffold">
                <span>It looks there are no subjects added yet!Click the following button to start adding subjects</span>
                <div class="col-md-12">
                        <button class="btn btn-success pull-right" id = 'add_category' type="button" onclick="assignSettings.loadSpaceTreeForSubject('<?= $cycleID ?>', 'node_id', 'node_name')"> 
                        Add Category
                    </button>                                
                    <div class="mini-stat-node col-md-8" onclick="assignSettings.loadSpaceTreeForAllSubject('<?= $cycleID ?>', 'node_id', 'node_name')" style="cursor: pointer;"> 
                        <span class="mini-stat-icon pink"><i class="fa fa-plus"></i></span>
                        <div class="mini-stat-info">
                            <span>Add</span>
                        </div>
                    </div>   
                </div>
                <div id="added_category" class='hide'>
                    <input type="hidden" value="" id='node_id'/>
                    <input type="hidden" value="" id='node_name'/>
                    <span id="returned_node_name" class="label label-primary">

                    </span>
                </div>
            </div>-->
        <?php //} ?>
    </div>
</section>