<input type="hidden" id="stufromnode" value="<?= $stufromnode ?>" />
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo" style=" background-color: #1fb5ac">
            <h4 class="panel-title">
                <a class="collapsed white_font" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <?= count($staff) ?> Staff(2) in this node  
                </a>
                <i class="fa fa-check event-selectall"></i>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in  " role="tabpanel" aria-labelledby="headingTwo">
            <div class="stu-list " > 
                <ul id="draggable"  class="event-list">
                    <?php
                    if (count($staff) > 0) {
                        foreach ($staff as $stf):
                            $noname = ControllerBase::getNameForKeys($stf->aggregate_key);
                            $c = explode('>>', array_shift($noname));
                            $stfInfo = StaffGeneralMaster::findFirstByStaffId($stf->id);
                            ?>
                            <li stulid="<?= $stf->id ?>"><?php
                                if ($stf->photo) {

                                    echo $this->tag->image(array(
                                        "src" => $stf->photo ? (FILES_URI . $stf->photo) : ('images/user.jpg'),
                                        'title' => " $stf->appointment_no ",
                                        'style' => 'border-radius:50%',
                                        'width' => '30px',
                                        'height' => '30px'));
                                } else {
                                    ?>

                                    <span title= "<?= $stf->appointment_no ?>" class="mini-stat-icon tar stu-icon" style="">
                                        <?= strtoupper(substr($stf->Staff_Name, 0, 1)) ?></span>
                                <?php }
                                ?>  
                                <span title= "<?= $stf->Staff_Name . '(' . $stf->appointment_no . ')' ?>" 
                                      class="stu-name">
                                          <?= strlen($stf->Staff_Name) > 15 ? substr($stf->Staff_Name, 0, 15) . "..." : $stf->Staff_Name; ?>
                                          <?= implode(' ', $c); ?>
                                </span> 
                                <a href="#" class="event-close" style=" "><i class="fa fa-check"></i></a>
                            </li>
                            <?php
                        endforeach;
                    } else {
                        ?>
                        <br> <br> 
                        <span class="text text-muted  well center-block" >No staff appointed yet for this combination</span>
                    <?php } ?>
                </ul>
            </div>
        </div>
    </div><br>
</div>
<script>
    $('.event-selectall').on('click', function () {
        $(this).toggleClass('event-select')
        if ($(this).hasClass('event-select'))
            $('.event-close').addClass('event-select');
        else
            $('.event-close').removeClass('event-select');
    })
    $("#collapseTwo").niceScroll();
    var body = d3.selectAll("rect");
    d3.selectAll("rect").on('mouseover', function (d, i) {
        DragDropManager.droppable = d;
    });
    d3.selectAll("rect").on('mouseout', function (e) {
        DragDropManager.droppable = null;
    });
    var selectedClass = 'ui-state-selected',
            clickDelay = 600,
            // click time (milliseconds)
            lastClick, diffClick,
            btnclass = 'event-select'; // timestamps

    $("#draggable li")
            // Script to deferentiate a click from a mousedown for drag event
            .bind('mousedown mouseup', function (e) {
                if (e.type == "mousedown") {
                    lastClick = e.timeStamp; // get mousedown time
                } else {
                    diffClick = e.timeStamp - lastClick;
                    if (diffClick < clickDelay) {
                        // add selected class to group draggable objects
                        $(this).toggleClass(selectedClass);
                        $(this).find('.event-close').toggleClass(btnclass);
                    }
                }
            })
            .draggable({
                cursor: "move",
                cursorAt: {top: -2, left: 2}, opacity: 0.7,
                helper: function (event) {
//                    console.log($('.' + selectedClass).length)
                    $ele = $("<span class='label label-info'> " + $('.' + selectedClass).length + " Staff selected</span>");
//                    $('.' + selectedClass).appendTo($ele)
                    return $ele;
                },
                revertDuration: 10,
                // grouped items animate separately, so leave this number low
//        containment: '#main-content',
                start: function (e, ui) {
//                    ui.helper.addClass(selectedClass);
                },
                stop: function (e, ui) {
                    // reset group positions
                    $('.' + selectedClass).css({
                        top: 0,
                        left: 0
                    });
                    body.style("cursor", function () {
                        return "";
                    });
                    matches = DragDropManager.draggedMatchesTarget();
                    if (matches) {
                        var selectedStu = {};
                        selectedStu.loginid = [];
                        selectedStu.nodeid = DragDropManager.droppable.nodeid;
                        selectedStu.stufromnode = $('#stufromnode').val();
                        $('.' + selectedClass).each(function () {
                            selectedStu.loginid.push($(this).attr('stulid'))
                        })
                        console.log(selectedStu)
                        $('#formModal .formBox-title').html('Assigning Student');
                        $('#formModal .formBox-body').html('You are trying to assign ' + ($('.' + selectedClass).length) + ' Staff(s) in <b> ' + DragDropManager.droppable.fullname + '</b><br><br> \n\
                1. Copy - This action will append selected node to student.<br>\n\
                2. Move - This action will newly assign selected node to student (<i>note:  previous selection will be cleared<i>).<br>');
                        $('#formModal').modal('show')
                        $('#formModal .modal-footer').html(' ');
                        $('#formModal .modal-footer').append('<button class="btn btn-success" type="button" id="confirm_save">Copy</button>');
                        $('#formModal .modal-footer').append('<button class="btn btn-warning" type="button" id="save_now">Move</button>');
                        $('#formModal .modal-footer').append(' <button data-dismiss="modal" class="btn btn-default" type="button"  id="confirm_close">Cancel</button>');
                        $('#confirm_save').unbind('click').click(function () {
                            $('#formModal').modal('hide');
                            assignStudentSettings.copyNodeToStf(selectedStu)

                        });
                        $('#save_now').unbind('click').click(function () {
                            $('#formModal').modal('hide');
                            assignStudentSettings.moveNodeToStf(selectedStu)
                        });

                    } else if (!DragDropManager.draggedMatchesTarget())
                        return;
                },
                drag: function (e, ui) {
                    // set selected group position to main dragged object
                    // this works because the position is relative to the starting position
                    $('.' + selectedClass).css({
                        top: ui.position.top,
                        left: ui.position.left,
//                        "z-index": 9999
                    });
                    body.style("cursor", function () {
                        matches = DragDropManager.draggedMatchesTarget();
                        return (matches) ? "copy" : "move";
                    });
                }
            });


</script>