<?php ?>

<section class="panel">
    <header class="panel-heading">
        Assign Subjects and Teachers To Groups
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body ">  
        <form class="form-horizontal" id="addSubjsandTeachrs">

            <table class="table table-bordered table-striped table-condensed">
                <thead><tr>
                        <th>Groups</th>
                        <th>Subject</th>
                        <th>Teacher(s)</th> 
                        <th>Action</th> 
                    </tr></thead>
                <tbody>
                    <tr class="odd">   

                        <td> 
                            <div class="add_group hide">

                                <span class="col-md-4">
                                    <button class="btn btn-success" id = 'add_category' type="button" onclick="spacetreeutilsSettings.loadSpaceTreeForSubjectTeachers('<?= $cycleID ?>', 'node_id', 'node_name')"> 
                                        Add Group
                                    </button>  
                                    <br>
                                    <div id="added_category" class='hide'>
                                        <input type="hidden" value="" id='node_id'/>
                                        <input type="hidden" value="" id='node_name'/>
                                        <span id="returned_node_name" class="label label-primary">

                                        </span>
                                    </div>
                                </span>
                                <span class="col-md-4"><input type="text" value="" name='node_grp_name' id="node_grp_name" class="form-control"/></span>

                            </div>

                            <div class="select_group">
                                <span class="col-md-2"></span>
                                <span class="col-md-6">
                                    <?php
                                    echo \Phalcon\Tag::select(
                                            array(
                                                "node_group",
                                                GroupSubjectsTeachers::find(array(
                                                    'columns' => ' DISTINCT name,  aggregated_nodes_id ',
                                                    'group' => 'aggregated_nodes_id'
                                                )),
                                                "using" => array("aggregated_nodes_id", "name"),
                                                'class' => 'form-control',
                                                'useEmpty' => true,
                                                'emptyText' => 'Select',
                                                'emptyValue' => '',
                                                'onchange' => 'assignSettings.loadStuCountnSubj(this.value)'
                                            )
                                    );
                                    ?>
                                </span>

                            </div>
                            <span class="col-md-4">
                                <span id="add_group" class="mini-stat-icon tar " onclick="assignSettings.toggleaddgroup(this)">
                                    <i class="fa fa-plus"></i></span>
                                <span id="select_group" class="mini-stat-icon tar hide" onclick="assignSettings.toggleaddgroup(this)">
                                    <i class="fa fa-reply"></i></span>
                            </span>
                        </td>

                        <td>
                            <div id="common_subjects">

                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <input type="text" tabindex="1" id="staff" class="form-control col-md-4" value="">     
                            </div>

                        </td>
                        <td>

                            <input type="button" class="btn btn-round btn-primary" 
                                   name ='assignSubj'
                                   value="Add" onclick='assignSettings.addSubjsandteachrs(this)'
                                   id="addsubj">
                        </td>
                    </tr>

                </tbody>
            </table>
        </form>
    </div>
</section>

<script>

    $(document).ready(function () {

        $("#staff").tokenInput(commonSettings.searchAjaxurl + '/mailstfAutocomplt', {
            theme: "facebook",
            preventDuplicates: true,
            prePopulateFromValue: true,
            onAdd: function (item) {
                teachingstaff_obj[item.id] = item;
                usrlist['teachingstaff'] = teachingstaff_obj;
                $.extend(true, lookupSettings.tomailData, usrlist);
            },
        });
    });
</script>