<?php
?>

<section class="panel">
    <header class="panel-heading">
        Assign Class Teachers To Groups
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">  
        <form class="form-horizontal" id="addClsTeachrs">

            <table class="table table-bordered table-striped table-condensed">
                <thead><tr>
                        <th>Groups</th>
                        <th>Teacher(s)</th> 
                        <th>Action</th> 
                    </tr></thead>
                <tbody>
                    <tr class="odd">   

                        <td>
                            <button class="btn btn-success" id = 'add_category' type="button" onclick="spacetreeutilsSettings.loadSpaceTreeForClassTeachers('<?= $cycleID ?>', 'node_id', 'node_name')"> 
                                Add Group
                            </button>   
                            <br>
                            
                            <div id="common_subjects">

                            </div>
                            <div id="added_category" class='hide'>
                                <input type="hidden" value="" id='node_id'/>
                                <input type="hidden" value="" id='node_name'/>
                                <span id="returned_node_name" class="label label-primary">

                                </span>
                            </div>
                        </td>

                        <td>
                            <div align="center">
                            <input type="text" tabindex="1" id="staff" class="form-control col-md-4" value="">     
                            </div>

                        </td>
                        <td>

                            <input type="button" class="btn btn-round btn-primary" 
                                   name ='assignSubj'
                                   value="Add" onclick='assignSettings.addClsteachrs(this)'
                                   id="addsubj">
                        </td>
                    </tr>

                </tbody>
            </table>
        </form>
    </div>
</section>

<script>

    $(document).ready(function() {

        $("#staff").tokenInput(commonSettings.searchAjaxurl + '/mailstfAutocomplt', {
            theme: "facebook",
            preventDuplicates: true,
            prePopulateFromValue: true
        });
    });
</script>