<style>
</style>
<input type="hidden" id="stufromnode" value="<?= $stufromnode ?>" />
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading " role="tab" id="headingOne" style=" background-color: #1fb5ac">
            <h4 class="panel-title">
                <a role="button"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Student
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" style=" max-height: 386px;">
            <div class="stu-list " > 
                <ul id="draggable"  class="event-list">
                    <?php
                    if (count($students) > 0) {
                        foreach ($students as $stu):
                            $noname = ControllerBase::getNameForKeys($stu->aggregate_key);
                            $c = explode('>>', array_shift($noname));
                            $stuInfo = StudentInfo::findFirstById($stu->student_info_id);
                            $labelclass = ($stu->status == 'Approved') ? 'success' :
                                    (($stu->status == 'Rejected') ? 'danger' : 'info');
                            $studentid = $stu->student_info_id;
                            ?>
                            <li stulid="<?= $stuInfo->id ?>"
                                stuname ='$row[0]'
                                gender ='$row[1]'
                                dob ='$row[2]'
                                doj ='$row[3]'
                                fatname ='$row[4]'
                                motname ='$row[5]'
                                addr1 ='$row[6]'
                                addr2 ='$row[7]'
                                pin ='$row[8]'
                                state ='$row[9]'
                                country ='$row[10]'
                                fphonest ='$row[11]'
                                fphone ='$row[12]'
                                mphonest ='$row[13]'
                                mphone ='$row[14]'
                                > 
                                <span   class='mini-stat-icon tar' style='cursor:default;' >" . ( substr($row[0], 0, 1)) . "</span> " .
                                "<span title= '$row[0]' style='vertical-align: middle;position: relative;top: 10px;cursor:default;word-break: break-all;text-transform: uppercase !important;'>" .
                                    (strlen($row[0]) > 15 ? substr($row[0], 0, 15) . "..." : $row[0])
                                    . "</span>

                                <a href="#" class="event-close" style=" "><i class="fa fa-check"></i></a>
                            </li>
                            <?php
                        endforeach;
                    } else {
                        ?>
                        <br> <br> 
                        <span class="text text-muted  well center-block" > No students admitted yet for this combination</span>
                    <?php } ?>
                </ul>
            </div>
        </div>
    </div><br>

</div>

<script>

    var body = d3.selectAll("rect");

    d3.selectAll("rect").on('mouseover', function (d, i) {
        DragDropManager.droppable = d;
    });
    d3.selectAll("rect").on('mouseout', function (e) {
        DragDropManager.droppable = null;
    });

    $("#collapseOne").niceScroll();
    var selectedClass = 'ui-state-selected',
            clickDelay = 600,
            // click time (milliseconds)
            lastClick, diffClick,
            btnclass = 'event-select'; // timestamps

    $("#draggable li")
            // Script to deferentiate a click from a mousedown for drag event
            .bind('mousedown mouseup', function (e) {
                if (e.type == "mousedown") {
                    lastClick = e.timeStamp; // get mousedown time
                } else {
                    diffClick = e.timeStamp - lastClick;
                    if (diffClick < clickDelay) {
                        // add selected class to group draggable objects
                        $(this).toggleClass(selectedClass);
                        $(this).find('.event-close').toggleClass(btnclass);
                    }
                }
            })
            .draggable({
                cursor: "move",
                cursorAt: {top: -2, left: 2}, opacity: 0.7,
                helper: function (event) {
//                    console.log($('.' + selectedClass).length)
                    $ele = $("<span class='label label-info'> " + $('.' + selectedClass).length + " Students selected</span>");
//                    $('.' + selectedClass).appendTo($ele)
                    return $ele;
                },
                revertDuration: 10,
                // grouped items animate separately, so leave this number low
//        containment: '#main-content',
                start: function (e, ui) {
//                    ui.helper.addClass(selectedClass);
                },
                stop: function (e, ui) {
                    // reset group positions
                    $('.' + selectedClass).css({
                        top: 0,
                        left: 0
                    });
                    body.style("cursor", function () {
                        return "";
                    });
                    matches = DragDropManager.draggedMatchesTarget();
                    if (matches) {
                        var selectedStuNew = [];
                        $('.' + selectedClass).each(function () {
                            var selectedStu = {};
                            selectedStu.nodeid = DragDropManager.droppable.nodeid;
                            selectedStu.stuname = $(this).attr('stuname');
                            selectedStu.gender = $(this).attr('gender');
                            selectedStu.dob = $(this).attr('dob');
                            selectedStu.doj = $(this).attr('doj');
                            selectedStu.fatname = $(this).attr('fatname');
                            selectedStu.motname = $(this).attr('motname');
                            selectedStu.addr1 = $(this).attr('addr1');
                            selectedStu.addr2 = $(this).attr('addr2');
                            selectedStu.pin = $(this).attr('pin');
                            selectedStu.state = $(this).attr('state');
                            selectedStu.country = $(this).attr('country');
                            selectedStu.fphonest = $(this).attr('fphonest');
                            selectedStu.fphone = $(this).attr('fphone');
                            selectedStu.mphonest = $(this).attr('mphonest');
                            selectedStu.mphone = $(this).attr('mphone');
                            selectedStuNew.push(selectedStu)
                        })
                        console.log(selectedStuNew)
                        $('#formModal .formBox-title').html('Adding Student');
                        $('#formModal .formBox-body').html('You are trying to add ' + ($('.' + selectedClass).length) + ' Student(s) in <b> ' + DragDropManager.droppable.fullname + '</b><br><br> \n\
                             1. Add - This action will admit selected student in selected node.<br>');
                        $('#formModal').modal('show')
                        $('#formModal .modal-footer').html(' ');
                        $('#formModal .modal-footer').append('<button class="btn btn-success" type="button" id="confirm_save">Add</button>');
                        $('#formModal .modal-footer').append(' <button data-dismiss="modal" class="btn btn-default" type="button"  id="confirm_close">Cancel</button>');
                        $('#confirm_save').unbind('click').click(function () {
                            $('#formModal').modal('hide');
                            assignStudentSettings.addStuToNode(selectedStuNew)

                        });

                    } else if (!DragDropManager.draggedMatchesTarget())
                        return;
                },
                drag: function (e, ui) {
                    // set selected group position to main dragged object
                    // this works because the position is relative to the starting position
                    $('.' + selectedClass).css({
                        top: ui.position.top,
                        left: ui.position.left,
//                        "z-index": 9999
                    });
                    body.style("cursor", function () {
                        matches = DragDropManager.draggedMatchesTarget();
                        return (matches) ? "copy" : "move";
                    });
                }
            });


</script>
<table class="table table-condensed dynamicTblPrincDb table-hover table-responsive"  id="dynamicStuList" >
    <thead>
        <tr>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($students as $stu):
            ?>
            <tr   stuname ="<?= $row[0] ?>">
                <td class="student_name col-md-2">  
                    <span title= " " class="mini-stat-icon tar " style="cursor:default;" >
                        <?= substr($row[0], 0, 1); ?></span> 
                    <span title= "<?= $row[0] ?>" style="vertical-align: middle;position: relative;top: 10px;cursor:default;word-break: break-all;text-transform: uppercase !important;">
                        <?= strlen($row[0]) > 15 ? substr($row[0], 0, 15) . "..." : $row[0]; ?>
                    </span>
                </td>
            </tr>

        <?php endforeach; ?>
    </tbody></table>