<?php $totselstu = $classgroupStu ? explode(',', $classgroupStu->students_id) : array(); ?>
<section class="panel addboxshad">
    <header class="panel-heading">
        <span class="text" style="font-size: 20px;"><?= count($totselstu) ?> / <?= count($students) ?> </span>&nbsp;  STUDENTS 
    </header>
    <div class="panel-body scrollpane" style="height: 520px;">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-xs-9 btn-add-task">
                <button type="button"  
                        onclick="classroomAssignSettings.updateClassgroupStudents(<?= $masterid ?>)"
                        class="btn btn-default btn-primary"><i class="fa fa-check"></i> 
                    Update Students </button>
            </div>
        </div>
        <ul id="draggable"  class="to-do-list ui-sortable" id="sortable-todo">
            <?php
            foreach ($students as $stu):
                $stuInfo = StudentInfo::findFirstById($stu->student_info_id);
                $labelclass = ($stu->status == 'Approved') ? 'success' :
                        (($stu->status == 'Rejected') ? 'danger' : 'info');
                $studentid = $stu->student_info_id;
                $selected = !$classgroupStu ? 'event-select' : (in_array($studentid, $totselstu) ? 'event-select' : '');
                ?>
                <li class="clearfix student_name" stuId = "<?= $stu->student_info_id ?>"  stuname ="<?= $stuInfo->Student_Name ?>">
                    <?php
                    if ($stuInfo->photo) {
                        ?>
                        <span title='<?= $stuInfo->Admission_no ?>' class='mini-stat-icon' style='cursor:default;' >
                            <?php
                            echo $this->tag->image(array(
                                "src" => $stuInfo->photo ? (FILES_URI . $stuInfo->photo) : ('images/user.jpg'),
                                'title' => " $stuInfo->Admission_no ",
                                'style' => 'border-radius:50%',
                                'width' => '40px',
                                'height' => '40px'));
                            ?>
                        </span>
                        <?php
                    } else {
                        ?>
                        <span title= "<?= $stuInfo->Admission_no ?>" class="mini-stat-icon tar " style="cursor:default;" >
                            <?= substr($stuInfo->Student_Name, 0, 1); ?></span>
                    <?php }
                    ?> 
                    <span title= "<?= $stuInfo->Student_Name . '(' . $stuInfo->Admission_no . ')' ?>" class="name">
                        <?= strlen($stuInfo->Student_Name) > 30 ? substr($stuInfo->Student_Name, 0, 30) . "..." : $stuInfo->Student_Name; ?>
                    </span> 
                    <a href="javascript:;" class="event-close <?= $selected ?>" stuid="<?= $stu->student_info_id ?> "><i class="fa fa-check-circle"></i></a>
                </li>

            <?php endforeach; ?>

        </ul>
    </div>
</section>



<script>
    $(".scrollpane").niceScroll();
    $('#draggable li').click(function () {
        $(this).find('.event-close').toggleClass('event-select');
    })
</script>