<div class="panel-body" >
    <form id="addSubjectTeachOnlyForm">
        <div class="row">
            <div class="form-group col-md-12 ">
                <input type='hidden' id='subjclasid' value='<?= $classmaterid ?>' name= 'subjclasid' title='classroom' />
                <input type='text'  class='form-control hide subjID' name='subjID' id='subjID' value='<?= $subid ?>'> 
                <label for=""  class="col-md-4 control-label">Select Staff:</label>
                <div class=" col-md-6">
                    <input type='text' class=' form-control staff' name='staff_list' value='' title='Staff'>   
                </div>
            </div>  
        </div>
    </form> 
</div>

<script>

    $(document).ready(function () {

        $('.popover').addClass('col-md-12');
        $('.staff').tokenInput(commonSettings.searchAjaxurl + '/mailstfAutocomplt', {
            theme: 'facebook',
            preventDuplicates: true,
            prePopulateFromValue: true,
        });

        $('.token-input-list-facebook').css('float', 'none');
        $('.token-input-dropdown-facebook').css('z-index', '9999');
    });
</script>