<?php
$acadamicyearnm = explode('-', $academicyear->name);
?>
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Student List
                <span class="tools pull-right col-sm-6">
                    <table class="rollnogen-table"><tr><td><label>Rollno Format</label></td>
                            <td> <?=
                                Phalcon\Tag::TextField(
                                        array(
                                            "rollno_format",
                                            "class" => "form-control",
                                            "onchange" => 'assignSectionSettings.get_rollnostartval(this)',
                                        )
                                );
                                ?>&nbsp;<br/><span>Example Format: <?= $acadamicyearnm[0]; ?>***</span></td>
                            <td><?=
                                Phalcon\Tag::TextField(
                                        array(
                                            "rollnostart_val",
                                            "class" => "form-control",
                                            "onchange" => 'assignSectionSettings.change_rollnostartval(this)',
                                        )
                                );
                                ?>&nbsp;</td>        
                            <td><input type="button" id="gen_studrollno" onclick="assignSectionSettings.genstudrollno('<?= count($students); ?>')" value="Generate" name="gen_studrollno" class="btn btn-round btn-primary"></td>
                        </tr>
                    </table>

                    <!--<a class="fa fa-chevron-down" href="javascript:;"></a>-->
                </span>
            </header>
            <div class="panel-body">
                <?php if ($students && count($students) > 0) { ?>
                    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'assignSecrollnoForm')); ?>
                                                                                                           <!--<table class="table table-condensed dynamicTblPrincDb"  id="dynamicStuList" >-->
                    <input type="hidden" id="rollstartval" name="rollstartval" value="0"/>
                   <!--<table class="table table-condensed dynamicTblPrincDb">-->
                    <table class="table table-condensed dynamicTblPrincDb table-hover table-responsive"  id="dynamicStuList" >
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <?php
                                $i = 0;
                                foreach ($mandnode as $mkey => $mnode) {
                                    $class = ($i === 0) ? '' : 'no-sort';
                                    $i++;
                                    ?>                                
                                    <th class=""><?= $mnode ?></th>
                                <?php } ?>
                                <th class="no-sort">Date of birth</th>
                                <th class="no-sort">Status</th>

                                <?php
                                $i = 0;
                                foreach ($nodes as $key => $node) {
                                    $class = ($i === 0) ? '' : 'no-sort';
                                    $i++;
                                    ?>                                
                                    <th class=""><?= $node ?></th>
                                <?php } ?>
                                <th class="no-sort">Roll No</th>
                                <th class="no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            foreach ($students as $stu):
                                $stuInfo = StudentInfo::findFirstById($stu->student_info_id);
                                $labelclass = ($stu->status == 'Approved') ? 'success' :
                                        (($stu->status == 'Rejected') ? 'danger' : 'info');
                                $studentid = $stu->student_info_id;
                                ?>
                                <tr stuId = "<?= $stu->student_info_id ?>"  stuname ="<?= $stuInfo->Student_Name ?>">
                                    <td class="student_name col-md-2"> 
                                        <?php
                                        if ($stuInfo->photo) {

                                            echo $this->tag->image(array(
                                                "src" => $stuInfo->photo ? (FILES_URI . $stuInfo->photo) : ('images/user.jpg'),
                                                'title' => " $stuInfo->Admission_no ",
                                                'style' => 'border-radius:50%',
                                                'width' => '40px',
                                                'height' => '40px'));
                                        } else {
                                            ?>
                                            <!--<span class="mini-stat-icon tar " title="click here to view fee assigning">-->
                                            <span title= "<?= $stuInfo->Admission_no ?>" class="mini-stat-icon tar " 
                                                  style="cursor:default;" >
                                                <?= substr($stuInfo->Student_Name, 0, 1); ?></span>
                                        <?php }
                                        ?> 
                                        <span title= "<?= $stuInfo->Student_Name . '(' . $stuInfo->Admission_no . ')' ?>" 
                                              class="name">
                                        <?= strlen($stuInfo->Student_Name) > 15 ? substr($stuInfo->Student_Name,0,15)."..." : $stuInfo->Student_Name; ?>
                                        </span>
                                        </td>

                                    <?php
                                    $i = 0;
                                    $aggreage = explode(',', $stu->aggregate_key);
                                    foreach ($mandnode as $mkey => $mnode) {
                                        $class = ($i === 0) ? '' : 'no-sort';
                                        $i++;
                                        $orgvalues = OrganizationalStructureValues::findFirst('org_master_id=' . $mkey .
                                                        ' and id IN(' . $stu->aggregate_key . ')');
                                        ?>                                
                                        <td><?= $orgvalues->name ?></td>
                                    <?php } ?>
                                    <td><?= date('d-m-Y', $stuInfo->Date_of_Birth); ?> </td>
                                    <!--<td><?= $stuInfo->loginid; ?></td>-->
                                    <td>
                                        <span 
                                            class="label label-<?= $labelclass ?>
                                            label-mini"><?= $stu->status; ?></span>
                                    </td>
                                        <!--<input type="hidden" class="aggrgate_val" name="append_aggregate_<?= $stu->student_info_id ?>" value="" id="append_aggregate_<?= $stu->student_info_id ?>" />-->
                                    <?php
                                    $i = 0;
                                    foreach ($nodes as $key => $node) {
                                        $class = ($i === 0) ? '' : 'no-sort';
                                        $i++;
                                        $orgvalues = OrganizationalStructureValues::find('org_master_id=' . $key . ' and parent_id IN(' . $aggregateid . ')');
                                        $existingorgvalues = OrganizationalStructureValues::findFirst(
                                                        'org_master_id=' . $key
                                                        . ' and parent_id IN(' . $aggregateid . ')'
                                                        . ' and id IN(' . $stu->aggregate_key . ')');
                                        ?>                                

                                        <td class="<?= $class ?>"><?php
                                            if (count($orgvalues) > 0) {

                                                echo \Phalcon\Tag::select(
                                                array(
                                                "subaggregate[]",
                                                $orgvalues,
                                                "using" => array("id", "name"),
                                                'useEmpty' => true,
                                                "stud_id" => $stu->student_id,
                                                'emptyText' => 'Select',
                                                'emptyValue' => '',
                                                'class' => 'form-control',
                                                'divname' => $node,
                                                'value' => $existingorgvalues->id
                                                )
                                                );
                                            } else {
                                                echo '-';
                                            }
                                            ?></td>
                                    <?php }
                                    ?>
                                    <td><?php
                                        if ($stuInfo->rollno) {
                                            $rollno = $stuInfo->rollno;
                                        } else {
                                            $rollno = '';
                                        }
                                        ?>
                                        <?=
                                        Phalcon\Tag::TextField(
                                                array(
                                                    "id" => "RollNo_" . $stu->student_info_id,
                                                    "name" => "RollNo",
                                                    "class" => "form-control rollno",
                                                    "stud_id" => $stu->student_info_id,
                                                    "stud_nm" => $stuInfo->Student_Name,
//                                                    'onChange' => 'assignSectionSettings.upadterollno(this)',
                                                    'value' => $rollno,
                                                )
                                        );
                                        ?>
                                        <span class="hide loading1_<?= $stu->student_info_id ?>" >Loading...
                                            <i class="fa fa-spin fa-spinner"></i></span>
                                        <span class="hide message1_<?= $stu->student_info_id ?>" ></span>
                                    </td>
                                    <td class="<?= $stu->student_info_id ?>_action_data">
                                        <?php if (empty($stu->rollno)) { ?>
                                            <input type="button" id="addsubj_1" 
                                                   onclick="assignSectionSettings.updateRollno(this)" action ="insert"
                                                   value="Save" name="assignSubj" class="btn btn-round btn-primary">
                                               <?php } else { ?>
                                            <span>Added</span>
                                        <?php } ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>

                        </tbody>
                    </table>
                    </form>
                <?php } else { ?>
                    <div class="center scaffold">
                        <span>No student admitted yet</span>
                    </div>
                <?php } ?>

            </div>
        </section>

    </div>
</div>

<?php
$varcols = count($mandnode) + count($nodes) + 5;
$varcols1 = 3 + count($mandnode);
$varcols2 = 3 + count($mandnode) + count($nodes) - 1;
//echo $varcols1. $varcols2;exit;
for ($i = $varcols1; $i <= $varcols2; $i++)
    $varsort[] = $i;
?>
<script type="text/javascript">

    var tablectrl = '#dynamicStuList';
    $(document).ready(function () {
        $(tablectrl).dataTable({
            "sDom": 'C<"clear">lrtip',
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            "iDisplayLength": commonSettings.NumberOfRecords,
            "aoColumnDefs": [
//                {"aTargets": [0], "bSortable": true},
                {"aTargets": [<?= implode(',', $varsort) ?>], "orderDataType": "dom-select", "bSortable": true},
                {
                    "bSortable": false,
                    "sDefaultContent": "",
                    "aTargets": ["no-sort"]
                }
            ],
            "bLengthChange": false,
            "bInfo": false,
            "fnDrawCallback": function (o) {
            }
        });
    });
    $.fn.dataTable.ext.order['dom-select'] = function (settings, col)
    {
//        console.log(col)
        return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
            var id = $('select', td).closest('td').nextAll(':has(.rollno):first').find('.rollno').attr('id');
            console.log(id)
            $('select', td).closest('td').nextAll(':has(.rollno):first').find('.rollno').attr('id', id);
            return   $('select', td).find('option:selected').text();
        });
    }

</script>