<script>
    $(function () {

        $('[data-toggle="tooltip"]').each(function () {
            $(this).tooltip({
                placement: 'right',
                title: $(this).attr("tooltip-title")
            })
        });
        $('[data-toggle="popover"]').each(function () {
            $(this).popover({
                content: $(this).attr("popover-content"),
                title: $(this).attr("popover-title")
            })
            $(this).tooltip({
                placement: 'right',
                title: $(this).attr("tooltip-title")
            })
        })

        $('.popover').addClass('col-md-12');
    })
</script>

<div id="openclassroom" class="widget-wrap">
    <div class="widget-header block-header clearfix">
        <div class="pull-left">
            <h3 id="name">  <?= $classmaster->name ?> </h3>
            <div class="">
                <input  class="form-control clstxt hide" 
                        type='text' id='nodevalue' name='nodevalue'
                        value ='<?= $classmaster->name ?>' />
            </div>
            <p>Comprises of students who belongs to <b><?= str_replace('>>', '  and  ', $classname) ?></b></p>
        </div>
        <div class="pull-right w-action">
            <div class="col-md-6 clsedit">
                <a class=' btn btn-success white_font ' 
                   onclick='classroomAssignSettings.loadClassroomEditDet(<?= $classmaster->id ?>)'>
                    Edit
                </a>
            </div>
            <div class="col-md-6 clsdelete">
                <a class=' btn btn-danger white_font ' 
                   onclick='classroomAssignSettings.deleteSelectClassroom(<?= $classmaster->id ?>)'>
                    Delete
                </a>
            </div>
            <div class="col-md-6  clsupdate hide">
                <a class=' btn btn-success white_font' 
                   onclick='classroomAssignSettings.editClassroomUpdateDet(<?= $classmaster->id ?>)'  id='confirm_save'>
                    Save
                </a>
            </div>
            <div class="col-md-6  clscancel hide" >
                <a class=' btn btn-danger white_font' 
                   onclick='classroomAssignSettings.editClassroomCancelDet(this)'>
                    Cancel
                </a>
            </div>
        </div>
    </div>
    <div class="widget-container margin-top-0">
        <div class="widget-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4" id="loadstaffandstu"> </div>
                    <div class="col-md-4">
                        <section class="panel addboxshad">
                            <header class="panel-heading">
                                <span class="text" style="font-size: 20px;"><?= count($subjteac) ?></span>&nbsp; SUBJECTS
                            </header>
                            <div class="panel-body scrollpane" style="height: 520px;">

                                <div class="row" style="margin-bottom: 15px;">
                                    <div class="col-xs-6 btn-add-task pull-right">
                                        <button type="button"  onclick="classroomAssignSettings.loadSubjTeach(<?= $classmaster->id ?>, ' <?= $classmaster->name ?>')" class="btn btn-default btn-primary"><i class="fa fa-plus"></i> 
                                            Subject </button>
                                    </div>
                                </div>

                                <div class="panel-group m-bot20" id="accordion">
                                    <?php
                                    if (count($subjteac) > 0) {
                                        foreach ($subjteac as $subjt) {
                                            $nodenames = OrganizationalStructureValues::findFirstById($subjt->subject_id);
                                            $staff = explode(',', $subjt->teachers_id);
                                            ?>   
                                            <div class="panel ">
                                                <div class="panel-heading label-default">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle white_font" >
                                                            &nbsp;&nbsp; <?= strlen($nodenames->name) > 15 ? substr($nodenames->name, 0, 15) . "..." : $nodenames->name; ?>

                                                        </a>
                                                        <span class="tools pull-left">
                                                            <a  onclick="classroomAssignSettings.iconfn(<?= $subjt->subject_id ?>)" data-toggle="collapse" data-parent="#accordion" href="#collapse_<?= $subjt->subject_id ?>" class="subicon_<?= $subjt->subject_id ?> white_font fa fa-chevron-right" ></a>
                                                        </span>
                                                        <span class="tools pull-right">
                                                            <a href="javascript:;" onclick="classroomAssignSettings.removeSubjectTeachers(<?= $subjt->classroom_master_id ?>,<?= $subjt->subject_id ?>)" class=" white_font fa fa-minus" title="Delete Subject"></a>
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div id="collapse_<?= $subjt->subject_id ?>" class="panel-collapse collapse " style="height: auto;">

                                                    <ul class="to-do-list ui-sortable" id="sortable-todo">
                                                        <?php
                                                        $showhide = (count($staff) > 1) ? 'show' : 'hide';
                                                        foreach ($staff as $stfs):
                                                            $stf = StaffInfo::findFirstById($stfs);
                                                            $stfGen = StaffGeneralMaster::findFirst('staff_id=' . $stf->id);
                                                            ?>
                                                            <li class="clearfix student_name">
                                                                <?php
                                                                if ($stfGen->photo) {
                                                                    echo $this->tag->image(array(
                                                                        "src" => $stfGen->photo ? (FILES_URI . $stfGen->photo) : ('images/user.jpg'),
                                                                        'title' => "$stf->appointment_no",
                                                                        'style' => 'border-radius:50%',
                                                                        'width' => '40px',
                                                                        'height' => '40px'));
                                                                } else {
                                                                    ?>
                                                                    <span title= "<?= $stf->appointment_no ?>" class="mini-stat-icon tar " 
                                                                          style="cursor:default;" >
                                                                        <?= substr($stf->Staff_Name, 0, 1); ?></span>
                                                                <?php }
                                                                ?> 
                                                                <span title= "<?= $stf->Staff_Name . '(' . $stf->appointment_no . ')' ?>" 
                                                                      class="name">
                                                                          <?= strlen($stf->Staff_Name) > 30 ? substr($stf->Staff_Name, 0, 30) . "..." : $stf->Staff_Name; ?>
                                                                </span>

                                                                <div class="todo-actionlist pull-right clearfix <?= $showhide ?>" style="top: 22px;" style="top: 22px;">      
                                                                    <a href="#" class="todo-remove" onclick="classroomAssignSettings.removeSubjectTeachers(<?= $subjt->classroom_master_id ?>,<?= $subjt->subject_id ?>,<?= $stf->id ?>)"><i class="fa fa-close"></i></a>
                                                                </div>
                                                            </li>
                                                        <?php endforeach; ?>
                                                        <div class="todo-action-bar">
                                                            <div class="row">
                                                                <div class="col-xs-8 btn-add-task pull-right">
                                                                    <button type="button" onclick="classroomAssignSettings.loadSubjTeacherOnly(<?= $classmaster->id ?>,<?= $subjt->subject_id ?>, '<?= $classmaster->name ?>')" class="btn btn-default btn-primary"><i class="fa fa-plus"></i> 
                                                                        Subject Teacher</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                            <?php
                                        }
                                    }
                                    ?>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-4 scrollpane">
                        <section class="panel addboxshad">
                            <header class="panel-heading">
                                <?php
                                $cls = $clsteac;
                                $staff = $cls?explode(',', $cls->teachers_id): array();
                                ?>
                                <span class="text" style="font-size: 20px;"><?= count($staff) ?> </span>&nbsp;   STAFF INCHARGE
                            </header>
                            <div class="panel-body scrollpane" style="height: 520px;">

                                <div class="panel-group m-bot20" id="accordion">
                                    <div class="panel">

                                        <ul class="to-do-list ui-sortable" id="sortable-todo">
                                            <?php
                                            if (count($staff) > 0) {
//                                                foreach ($clsteac as $cls) {
                                                ?>
                                                <?php
                                                foreach ($staff as $stfs):
                                                    $stf = StaffInfo::findFirstById($stfs);
                                                    $stfGen = StaffGeneralMaster::findFirst('staff_id=' . $stf->id);
                                                    ?>
                                                    <li class="clearfix student_name">
                                                                    <!--<span class="mini-stat-icon tar " title="click here to view fee assigning">-->
                                                        <?php
                                                        if ($stfGen->photo) {

                                                            echo $this->tag->image(array(
                                                                "src" => $stfGen->photo ? (FILES_URI . $stfGen->photo) : ('images/user.jpg'),
                                                                'title' => "$stf->appointment_no",
                                                                'style' => 'border-radius:50%',
                                                                'width' => '40px',
                                                                'height' => '40px'));
                                                        } else {
                                                            ?>
                                                            <span title= "<?= $stf->appointment_no ?>" class="mini-stat-icon tar " 
                                                                  style="cursor:default;" >
                                                                <?= substr($stf->Staff_Name, 0, 1); ?></span>
                                                            <?php }
                                                            ?> 
                                                        <span title= "<?= $stf->Staff_Name . '(' . $stf->appointment_no . ')' ?>" 
                                                              class="name">
                                                                  <?= strlen($stf->Staff_Name) > 30 ? substr($stf->Staff_Name, 0, 30) . "..." : $stf->Staff_Name; ?>
                                                        </span>
                                                        <div class="todo-actionlist pull-right clearfix" style="top: 22px;">      
                                                            <a href="#" class="todo-remove" onclick="classroomAssignSettings.removeClassTeachers(<?= $stf->id ?>,<?= $cls->classroom_master_id ?>)"><i class="fa fa-close"></i></a>
                                                        </div>
                                                    </li>
                                                    <?php
                                                endforeach;
//                                                }
                                            }
                                            ?>

                                            <div class="todo-action-bar">
                                                <div class="row">
                                                    <div class="col-xs-7 btn-add-task pull-right">
                                                        <button type="button" onclick="classroomAssignSettings.loadStaffIncharge(<?= $classmaster->id ?>, '<?= $classmaster->name ?>')" class="btn btn-default btn-primary"><i class="fa fa-plus"></i>
                                                            Staff Incharge</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

