<?php
echo $this->tag->stylesheetLink("css/lib/spacetree/base.css");
echo $this->tag->stylesheetLink("css/lib/spacetree/Spacetree.css");
echo $this->tag->javascriptInclude("js/lib/spacetree/jit.js");
echo $this->tag->javascriptInclude("js/lib/spacetree/spacetree.js");
echo $this->tag->javascriptInclude("js/lib/spacetree/multiselectspacetree.js");
?>

<div id="infovis"></div>    

<div id="log"></div>
