
<?php
echo $this->tag->javascriptInclude("js/appscripts/attendance/stuattendance.js");
if (count($staff) > 0) {
    ?>
    <section class="panel">
        <h3>Attendance For staff on <?= date('d M, Y', $cdate) ?></h3>

        <div class="panel-body"> 
            <div class="col-md-12">
                <div class="form-group col-md-5">
                    <label class="control-label col-md-2" style="margin-top:10px;">Date</label>
                    <div class="col-md-10">
                        <?php
                        echo Phalcon\Tag::textField(array("tdate",
                            'class' => 'form-control form_date',
                            'utype' => 'staff',
                            'onchange' => 'attendanceSettings.changeDate(this)',
                            "value" => date('d-m-Y', $cdate)
                        ))
                        ?>

                    </div>
                </div>

                <div class="col-md-2 hide">
                    <label class="control-label " style="margin-top:10px;margin-left: 65px;">Help</label>
                    <span class="mini-stat-icon yellow-b pull-right" onclick="attendanceSettings.helpLegend()"
                          ><i class="fa fa-question"></i></span>


                </div>
                <div class=" hide helpLegend">
                    <div class="">
                        <div class="">
                            <div class="form-group ">
                                <h3 class="control-label" style="margin-top:10px;margin-left: 125px;">Steps</h3>
                                <label class="control-label" style="margin-top:10px;margin-left: 125px;">1. Select the date of the attendance.</label>
                                <label class="control-label" style="margin-top:10px;margin-left: 125px;">2. Choose the  day status (either Workday (OR) Holiday).</label>
                                <label class="control-label" style="margin-top:10px;margin-left: 125px;">3. Click the period of attendance in the column Header.</label>
                                <label class="control-label" style="margin-top:10px;margin-left: 125px;">4. All Students will be marked as Present by default.</label>
                                <label class="control-label" style="margin-top:10px;margin-left: 125px;">5. Teacher can edit the attendance if needed.</label>

                            </div>
                            <div class="form-group ">
                                <span title="click here to make attendance"  class="mini-stat-icon tar">
                                    <i class="fa fa-plus"></i></span>
                                <label class="control-label" style="margin-top:10px;margin-left: 75px;">Click to make attendance</label>

                            </div>

                            <div class="form-group ">
                                <span class="mini-stat-icon working" title="Period Attendance" >P</span>
                                <label class="control-label" style="margin-top:10px;margin-left: 75px;">Period Attendance</label>

                            </div>

                            <div class="form-group ">
                                <span class="mini-stat-icon working" title="Working Day" >W</span>
                                <label class="control-label" style="margin-top:10px;margin-left: 75px;">Working Day</label>

                            </div>
                            <div class="form-group ">
                                <span class="mini-stat-icon holiday" title="Holiday"  >H</span>
                                <label class="control-label" style="margin-top:10px;margin-left: 75px;">Holiday</label>  
                            </div>

                            <?php foreach ($attValues as $attval): ?>
                                <div class="form-group ">
                                    <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>" 
                                          title="<?= $attval->attendancename ?>"   > <?= strtoupper($attval->attendanceid) ?></span>
                                    <label class="control-label" style="margin-top:10px;margin-left: 75px;"><?= $attval->attendancename ?></label>

                                </div>        
                            <?php endforeach; ?>        
                        </div>
                    </div>




                </div>
                <table id="attenStuTable" border="0" class="table general-table">
                    <thead class="thead_default">
                        <tr>
                            <th><label for=""  class="col-sm-3">Staff</label> </th>
                            <?php foreach ($noofperiods as $pvalue) { ?>
                                <td class="att_table">
                                    <span class="mini-stat-icon periodVal attend-taken select-menu" id="periodval_<?= $pvalue->id ?>" 
                                          title="Period (<?= date('H:i',$pvalue->start_time) . '-' . date('H:i',$pvalue->end_time) ?>)"   >
                                        <?= $pvalue->period ?></span>
                                     <nav class=" attend-menu attend-menu_<?= $pvalue->id ?> ">
                                            <?php foreach ($attValues as $attval): ?>
                                                <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>"                                                
                                                      periodId ="<?= $pvalue->id ?>"   attId ="<?= $attval->id ?>"   
                                                      title="<?= $attval->attendancename ?>"    
                                                      onclick="attendanceSettings.addOrUpdateAttnValFull(this)">
                                                    <?= strtoupper($attval->attendanceid) ?></span>
                                            <?php endforeach; ?>
                                        </nav>
                                        <i class="fa fa-spinner fa-spin hide loading_<?= $pvalue->id ?>"></i>
                                        <i class="fa fa-check green  hide done_<?= $pvalue->id ?>"></i>
                                </td>
                            <?php } ?>

                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($staff as $stf) {
                            $stfGenInfo = StaffGeneralMaster::findFirstByStaffId($stf->id);

                            $attvalueforthePeriod = array();
                            ?>
                            <tr>
                                <td class="student_name col-md-3" period="<?= $pvalue->id ?>" userId ="<?= $stf->id ?>"> 
                                    <?php
                                    if ($stfGenInfo->photo) {

                                        echo $this->tag->image(array(
                                            "src" => $stfGenInfo->photo ? (FILES_URI . $stfGenInfo->photo) : ('images/user.jpg'),
                                            'title' => " $stf->loginid ",
                                            'style' => 'border-radius:50%',
                                            'width' => '30px',
                                            'height' => '30px'));
                                    } else {
                                        ?>
                                          <!--  <span title="click here to make attendance" 
                                                  class="mini-stat-icon tar "  > -->
                                        <span title="<?= $stf->loginid ?>" 
                                              class="mini-stat-icon tar " style="cursor:default;"  >
                                            <?= substr($stf->Staff_Name, 0, 1); ?></span>
                                    <?php }
                                    ?>
                                    <span style="cursor:default;vertical-align: middle;position: relative;top: 5px;"
                                          title="<?= $stf->Staff_Name . ' (' . $stf->loginid . ') ' ?>" > 
                                              <?= (strlen($stf->Staff_Name) > 15 ? substr($stf->Staff_Name, 0, 15) . "..." : $stf->Staff_Name) ?>
                                    </span>
                                    <!--  <?= $stf->Staff_Name . ' (' . strtolower($stf->loginid) . ') ' ?> -->
                                </td>
                                <?php
                                foreach ($noofperiods as $pvalue) {
                                    $att_valu_mastr = AttendanceSelectbox::findFirstById($attvaluestaff[$stf->loginid][$pvalue->id]); //loaded attendance
                                    ?>
                                    <td>

                                        <?php if (strtotime(date('d-m-Y', $stf->Date_of_Joining)) <= strtotime(date('d-m-Y', $cdate))) { ?>
                                            <div class="form-group ">
                                                <?php if ($att_valu_mastr) { ?>
                                                    <span title="<?= $att_valu_mastr->attendancename ?>" style=" background-color: <?= $att_valu_mastr->color ?>" 
                                                          class="mini-stat-icon select-menu " id="attendnav_btn_<?= $pvalue->id ?>" >
                                                        <?= strtoupper($att_valu_mastr->attendanceid) ?></span>
                                                    <?php } else { ?>
                                                    <span title="click here to make attendance" 
                                                          class="mini-stat-icon tar select-menu " id="attendnav_btn_<?= $pvalue->id ?>" >
                                                        <i class="fa fa-plus"></i></span>
                                                <?php } ?>
                                                <nav class=" attend-menu attend-menu_<?= $pvalue->id ?> ">
                                                    <?php foreach ($attValues as $attval): ?>

                                                        <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>"                                                
                                                              periodId ="<?= $pvalue->id ?>"   userId ="<?= $stf->id ?>" attId ="<?= $attval->id ?>"   
                                                              title="<?= $attval->attendancename ?>"    
                                                              onclick="attendanceSettings.addOrUpdateAttnVal(this)">
                                                            <?= strtoupper($attval->attendanceid) ?></span>
                                                        <?php endforeach; ?>
                                                </nav>
                                                <i class="fa fa-spinner fa-spin hide loading_<?= $stf->id ?>_<?= $pvalue->id ?>"></i>
                                                <i class="fa fa-check green  hide done_<?= $stf->id ?>_<?= $pvalue->id ?>"></i>
                                            </div>
                                            <?php
                                        }else {
                                            echo ' <span  class="label label-warning label-mini  pull-left"> NA </span>';
                                        }
                                        ?>
                                    </td>
                                <?php } ?>

                            </tr>

                            <?php
                        }
                        ?>
                    </tbody>

                </table>
            </div>
    </section>
    <?php
}
?>
