<?php
echo $this->tag->javascriptInclude("js/appscripts/attendance/stuattendance.js");
?>
<style>
    #myDiv {
        overflow: auto;
        display:none;
        text-align:justify;
    }

    #mysubDiv {
        overflow: auto;
        display:none;
        text-align:justify;
    }
    #attenStuTable_wrapper{
        width: 100%;
        margin: 0 auto;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#report_btn").on('click', function () {

            $.ajax({
                type: "POST",
                url: commonSettings.attendanceAjaxurl + "/loadMonthlyReport",
                dataType: 'html',
                data: {masterid: '<?= $master_id ?>'},
                success: function (res) {
                    if (res) {
                        $("#myDiv").html(res);
                        $('#myDiv').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                        console.log($('#mysubDiv').is(':visible'))
                        if ($('#mysubDiv').is(':visible')) {
                            $('#mysubDiv').hide();
                        } else {
                            $('#myDiv1').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                        }

                    }
                }
            });

        });
    });

    attSettings.loadDailyReport = function (ctrl) {
        console.log('in')
        var month = $(ctrl).attr('month');
        var year = $(ctrl).attr('year');
        $.ajax({
            type: "POST",
            url: commonSettings.attendanceAjaxurl + "/loadDailyReport",
            dataType: 'html',
            data: {
                masterid: '<?= $master_id ?>',
                month: month,
                year: year
            },
            success: function (res) {
                if (res) {
                    $("#mysubDiv").html(res);
                    $('#myDiv').hide();
                    $("#mysubDiv").show("clip", {direction: "horizontal"}, 500);
                }
            }
        });
    };
</script>
<?php
if (count($students) > 0) {
    ?>
    <section class="panel">
        <div class=""> 
            <div class="col-md-12">
                <h3 class="col-md-6">Attendance For students on <?= date('d M, Y', $cdate) ?> </h3>
                <div class="form-group col-md-6">
                    <label class="control-label pull-left" style="margin-top:10px;">Date</label>
                    <div class="col-md-10">
                        <?php
                        echo Phalcon\Tag::textField(array("tdate",
                            'class' => 'form-control form_date',
                            'utype' => 'student',
                            'onchange' => 'attendanceSettings.changeDate(this)',
                            "value" => date('d-m-Y', $cdate)))
                        ?>

                    </div>
                </div>
            </div>
            <div class="col-md-11 scrollpane" style="max-height: 667px;width: 100%">
                <table id="attenStuTable" border="0" class="table general-table">
                    <thead class="thead_default">
                        <tr style="height:50px;">
                            <th>Students </th>
                            <th>Gender </th>
                            <?php foreach ($noofperiods as $pvalue) { ?>
                                <th class="att_table" style="min-width: <?= count($noofperiods) * 40 * 3.2 ?>px;">
                                    <span class="mini-stat-icon periodVal attend-taken select-menu " id="periodval_<?= $pvalue->id ?>" 
                                          title="Period (<?= date('H:i', $pvalue->start_time) . '-' . date('H:i', $pvalue->end_time) ?>)"   >
                                        <?= $pvalue->period ?></span>
                        <nav class="attend-menu attend-menu_<?= $pvalue->id ?>  ">
                            <?php foreach ($attValues as $attval): ?>
                                <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>"                                                
                                      periodId ="<?= $pvalue->id ?>"   attId ="<?= $attval->id ?>"   
                                      title="<?= $attval->attendancename ?>"    
                                      onclick="attendanceSettings.addOrUpdateAttnValFull(this)">
                                    <?= strtoupper($attval->attendanceid) ?></span>
                            <?php endforeach; ?>
                        </nav>
                        <i class="fa fa-spinner fa-spin hide loading_<?= $pvalue->id ?>"></i>
                        <i class="fa fa-check green  hide done_<?= $pvalue->id ?>"></i>
                        </th>
                    <?php } ?>
                    </tr>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($students as $stu) {
                            ?>

                            <tr>
                                <td class="student_name "  style="width:30%"> 
                                    <?php
                                    if ($stu->photo) {
                                        ?>
                                        <span title="click here to make attendance" 
                                              class="mini-stat-icon"  >

                                            <?php
                                            echo $this->tag->image(array(
                                                "src" => $stu->photo ? (FILES_URI . $stu->photo) : ('images/user.jpg'),
                                                'title' => $stu->rollno,
                                                'style' => 'border-radius:50%',
                                                'width' => '40px',
                                                'height' => '40px'));
                                            ?></span>
                                        <?php
                                    } else {
                                        ?>
                                        <span title= "<?= $stu->rollno ?>" class="mini-stat-icon tar " style="cursor:default;" >                                        
                                            <?= substr($stu->Student_Name, 0, 1); ?>
                                        </span>

                                    <?php }
                                    ?> 
                                    <span class="name"
                                          title="<?= $stu->Student_Name . ' (' . $stu->rollno . ') ' ?>" > 
                                        <?= (strlen($stu->Student_Name) > 30 ? substr($stu->Student_Name, 0, 30) . "..." : $stu->Student_Name) ?></span>
                                </td>
                                <td>
                                    <?= $stu->Gender == 1 ? 'Female' : 'Male' ?>
                                </td>
                                <?php
                                foreach ($noofperiods as $pvalue) {
                                    $att_valu_mastr = AttendanceSelectbox::findFirstById($attvaluestu[$stu->loginid][$pvalue->id]); //loaded attendance
                                    ?>
                                    <td   style="text-align:left;" class="att_table " period="<?= $pvalue->id ?>" userId="<?= $stu->student_info_id ?>"> 
                                        <?php if (strtotime(date('d-m-Y', $stu->Date_of_Joining)) <= strtotime(date('d-m-Y', $cdate))) { ?>

                                            <div class="form-group ">
                                                <?php if ($att_valu_mastr) { ?>
                                                    <span title="<?= $att_valu_mastr->attendancename ?>" style=" background-color: <?= $att_valu_mastr->color ?>" 
                                                          class="mini-stat-icon select-menu " id="attendnav_btn_<?= $pvalue->id ?>" >
                                                        <?= strtoupper($att_valu_mastr->attendanceid) ?></span>
                                                <?php } else { ?>
                                                    <span title="click here to make attendance" 
                                                          class="mini-stat-icon tar select-menu " id="attendnav_btn_<?= $pvalue->id ?>" >
                                                        <i class="zmdi zmdi-plus"></i></span>

                                                <?php } ?>
                                                <nav class=" attend-menu attend-menu_<?= $pvalue->id ?> ">
                                                    <?php foreach ($attValues as $attval): ?>

                                                        <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>"                                                
                                                              periodId ="<?= $pvalue->id ?>"   userId ="<?= $stu->student_info_id ?>" attId ="<?= $attval->id ?>"   
                                                              title="<?= $attval->attendancename ?>"    
                                                              onclick="attendanceSettings.addOrUpdateAttnVal(this)">
                                                            <?= strtoupper($attval->attendanceid) ?></span>
                                                    <?php endforeach; ?>
                                                </nav>

                                            </div>

                                            <i class="fa fa-spinner fa-spin hide loading_<?= $stu->student_info_id ?>_<?= $pvalue->id ?>"></i>
                                            <i class="fa fa-check green  hide done_<?= $stu->student_info_id ?>_<?= $pvalue->id ?>"></i> 
                                            <?php
                                        }else {
                                            echo ' <span  class="label label-warning label-mini  pull-left"> NA   </span>';
                                        }
                                        ?>

                                    </td>
                                <?php } ?>

                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12" id ="myDiv">

            </div>
            <div class="col-md-12" id ="mysubDiv">

            </div>
        </div>
    </div>
    </section>
    <?php
}
?>



<!------------------------------------------------------------------------------------------>
<script>
    var i = 2;
    var sortingDisabled = new Array();
<?php foreach ($noofperiods as $pvalue) { ?>
        sortingDisabled.push(i++);
<?php } ?>
    console.log(sortingDisabled)
    $('#attenStuTable').dataTable({
        "sDom": 'C<"clear">lrti',
        "bProcessing": true,
        "sPaginationType": "full_numbers",
        "iDisplayLength": 100,
        "aoColumnDefs": [{
                "sDefaultContent": "",
                "aTargets": [0, 1]
            }, {
                "bSortable": false,
                "sDefaultContent": "",
                "aTargets": sortingDisabled
            }],
        "scrollX" :true,
        "bLengthChange": false,
        "bInfo": false
    });
    $(document).ready(function () {

        var max = 50;
//var max = 0;    
//$('#attenStuTable tbody td').each(function() {
//    max = Math.max($(this).height(), max);
//});
//
//$('#stuPrd tbody td').each(function() {
//    max = Math.max($(this).height(), max);
//});

        $('#stuPrd tbody tr').height(max);
        $('#attenStuTable tbody tr').height(max);
    });
    $('.scrollpane').getNiceScroll().remove();
    $('.scrollpane').niceScroll();
</script>
