<?php
//echo $this->tag->javascriptInclude("js/jquery-ui.js");
echo $this->tag->javascriptInclude("js/attendance/stuattendance.js");
?>
<style>
        #myDiv {
        overflow: auto;
        display:none;
        text-align:justify;
    }

    #mysubDiv {
        overflow: auto;
        display:none;
        text-align:justify;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $("#report_btn").on('click', function() {

            $.ajax({
                type: "POST",
                url: commonSettings.attendanceAjaxurl + "/loadMonthlyReport",
                dataType: 'html',
                data: {masterid: '<?= $master_id ?>' },
                success: function(res) {
                    if (res) {
                        $("#myDiv").html(res);
                        $('#myDiv').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                        console.log($('#mysubDiv').is(':visible'))
                        if ($('#mysubDiv').is(':visible')) {
                            $('#mysubDiv').hide();
                        } else {
                            $('#myDiv1').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                        }

                    }
                }
            });

        });
    });
    
attSettings.loadDailyReport = function(ctrl) {
    console.log('in')
    var month = $(ctrl).attr('month');
    var year = $(ctrl).attr('year');
    $.ajax({
        type: "POST",
        url: commonSettings.attendanceAjaxurl + "/loadDailyReport",
        dataType: 'html',
        data: {
            masterid: '<?= $master_id ?>' ,
            month: month,
            year: year
        },
        success: function(res) {
            if (res) {
                $("#mysubDiv").html(res);
                $('#myDiv').hide();
                $("#mysubDiv").show("clip", {direction: "horizontal"}, 500);
            }
        }
    });
};
</script>
<?php
if (count($students) > 0) {
    ?>
    <section class="panel">
        <h3>Attendance For students on <?= date('d M, Y', $cdate) ?> </h3>

        <div class="panel-body"> 
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    <label class="control-label pull-left" style="margin-top:10px;">Date</label>
                    <div class="col-md-10">
                        <!--<input type="hidden" id="currdate" name="currdate" value="<?= $cdate ?>" />-->
                        <!--<input type="hidden" id="UType" name="UType" value="student" />-->
                        <?php
                        echo Phalcon\Tag::textField(array("tdate",
                            'class' => 'form-control form_date',
                            'utype' => 'student',
                            'onchange' => 'attendanceSettings.changeDate(this)',
                            "value" => date('d-m-Y', $cdate)))
                        ?>

                    </div>
                </div>

                <div class="col-md-4">
                    <label class="control-label col-md-4" style="margin-top:10px;">Day Status</label>
                    <span class="mini-stat-icon <?= ($attdays->day_type == 1) ? 'holiday' : (($attdays->day_type == 2) ? 'working' : 'tar') ?> select-menu"
                          id="daynav_btn" title="<?= ($attdays->day_type == 1) ? 'Holiday' : (($attdays->day_type == 2) ? 'Working Day' : 'Click here to add attendance') ?>">
                              <?= ($attdays->day_type == 1) ? 'H' : (($attdays->day_type == 2) ? 'W' : '<i class="fa fa-plus"></i>') ?>

                    </span>
                    <nav class="dayattend-menu">
                        <span class="mini-stat-icon working" title="Working Day" onclick="attendanceSettings.addOrUpdateSlot('2')">W</span>
                        <span class="mini-stat-icon holiday" title="Holiday"  onclick="attendanceSettings.addOrUpdateSlot('1')">H</span>
                    </nav>

                </div>

                <div class="col-md-2">
                    <span class="mini-stat-icon yellow-b" onclick="attendanceSettings.helpLegend()">
                        <i class="fa fa-question"></i>
                    </span>
                    <label class="control-label " style="margin-top:10px;">Help</label>
                </div>

                <div class="col-md-2 " id ="report_btn" style="cursor: pointer;">
                    <span class="mini-stat-icon orange-theme">
                        <i class="fa fa-pie-chart"></i></span>
                    <label class="control-label " style="margin-top:10px;">Report</label>
                </div>


                <div class=" hide helpLegend">
                    <div class="">
                        <div class="form-group ">
                            <h3 class="control-label" style="margin-top:10px;margin-left: 10px;">Help to Take the Attendance</h3>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">1. Select the date of the attendance.</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">2. Choose the  day status (either Workday (OR) Holiday).</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">3. Click the period of attendance in the column Header.</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">4. All Students will be marked as Present by default.</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">5. Teacher can edit the attendance if needed.</label>

                        </div>
                        
                        <div class="form-group ">
                            <h3 class="control-label" style="margin-top:10px;margin-left: 10px;">Help to access the Reports</h3>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">1. Click the Report Icon.</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">2. Teacher can able to view the Monthwise Attendance % for each Student.</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">3. Click the Month at the Header .</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">4. Teacher can able to view the Daywise Attendance % for each Student.</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 10px;">5. Click the "x" button in the header to return the Attendance taken screen.</label>

                        </div>

                        <div class="form-group ">
                            <span title="click here to make attendance"  class="mini-stat-icon tar">
                                <i class="fa fa-plus"></i></span>
                            <label class="control-label" style="margin-top:10px;margin-left: 75px;">Click to make attendance</label>

                        </div>

                        <div class="form-group ">
                            <span class="mini-stat-icon working" title="Period Attendance" >P</span>
                            <label class="control-label" style="margin-top:10px;margin-left: 75px;">Period Attendance</label>

                        </div>

                        <div class="form-group ">
                            <span class="mini-stat-icon working" title="Working Day" >W</span>
                            <label class="control-label" style="margin-top:10px;margin-left: 75px;">Working Day</label>

                        </div>
                        <div class="form-group ">
                            <span class="mini-stat-icon holiday" title="Holiday"  >H</span>
                            <label class="control-label" style="margin-top:10px;margin-left: 75px;">Holiday</label>  
                        </div>

                        <?php foreach ($attValues as $attval): ?>
                            <div class="form-group ">
                                <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>" 
                                      title="<?= $attval->attendancename ?>"   > <?= strtoupper($attval->attendanceid) ?></span>
                                <label class="control-label" style="margin-top:10px;margin-left: 75px;"><?= $attval->attendancename ?></label>

                            </div>        
                        <?php endforeach; ?>        
                    </div>
                </div>




            </div>
            <div class="col-md-3" >
                <table id="attenStuTable" border="0" class="table general-table">
                    <thead class="thead_default">
                        <tr style="height:60px;">
                            <td><label for=""  class="">Students </label> </td>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($students as $stu) {
                            $stuGenInfo = StudentInfo::findFirstById($stu->student_info_id);
//                            $stuAcdInfo = StudentHistory::findFirstBy($stu->student_info_id);
                            ?>
                            <tr><td class="student_name "> 
                                    <?php
                                    if ($stuGenInfo->photo) {
                                        ?>
                                        <span title="click here to make attendance" 
                                              class="mini-stat-icon"  >

                                            <?php
                                        echo $this->tag->image(array(
                                            "src" => $stuGenInfo->photo ? (FILES_URI . $stuGenInfo->photo) : ('images/user.jpg'),
                                            'title' =>  $stuGenInfo->rollno,
                                            'style' => 'border-radius:50%',
                                            'width' => '40px',
                                            'height' => '40px'));
                                            ?></span>
                                        <?php
                                    } else {
                                        ?>
                                        <!-- <span title="click here to make attendance"  class="mini-stat-icon tar "  > -->
                                        
                                        <span title= "<?= $stuGenInfo->rollno ?>" class="mini-stat-icon tar " style="cursor:default;" >                                        
                                            <?= substr($stuGenInfo->Student_Name, 0, 1); ?>
                                        </span>
                                        
                                    <?php }
                                    ?> <!--<span style="vertical-align: middle;position: relative;top: 5px;" title="<?= $stuGenInfo->rollno ?>" > <?= $stuGenInfo->Student_Name . ' (' . $stuGenInfo->rollno . ') ' ?></span></td>-->

                                    <span style="vertical-align: middle;position: relative;top: 10px;cursor:default;text-transform: uppercase !important; word-break: break-all;"
                                     title="<?= $stuGenInfo->Student_Name . ' (' . $stuGenInfo->rollno . ') ' ?>" > 
                                     <?= (strlen($stuGenInfo->Student_Name) > 15 ? substr($stuGenInfo->Student_Name,0,15)."..." : $stuGenInfo->Student_Name) ?></span></td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9" style="display: inline;">
                <div class="col-md-12" id ="myDiv1">
                    <table  border="0" class="table general-table" id="stuPrd">
                        <thead class="thead_default">
                            <tr style="height:60px;">
                                <?php
                                $markedAtt = explode(',', $attPeriod);
                                for ($i = 1; $i <= $noofperiods; $i++):
                                    $attclass = (in_array($i, $markedAtt)) ? 'attend-taken' : 'not-taken'
                                    ?>
                                    <td class="att_table">
                                        <span class="mini-stat-icon <?= $attclass ?> periodVal" id="periodval_<?= $i ?>" 
                                              title="click here to update period attendance"     onclick="attendanceSettings.selectedperiods(<?= $i ?>)" >
                                            <?= AttendanceController::_toRoman($i); ?></span>
                                        <i class="fa fa-spinner fa-spin hide loading_<?= $i ?>"></i>
                                        <i class="fa fa-check green  hide done_<?= $i ?>"></i>

                                    </td>
                                <?php endfor; ?>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($students as $stu) { 
                            $stuGenInfo = StudentInfo::findFirstById($stu->student_info_id); ?>
                                <tr><?php
                                    for ($i = 1; $i <= $noofperiods; $i++):

                                        $attPeriod = $attdays->id ?
                                                AttendancePeriods::findFirst("att_days_id =" . $attdays->id . " and period_value =" . $i) : '';
                                        $att_val = $attPeriod ? AttendanceValues::findFirst("att_days_id=" . $attdays->id .
                                                        " and att_period_id =" . $attPeriod->id .
                                                        " and user_id =" . $stu->student_info_id) : '';

                                        $defaultPresent = $attPeriod ? '1' : '0';
                                        $att_valu_mastr = $att_val ? AttendanceSelectbox::findFirstById($att_val->value_id) :
                                                (($defaultPresent == 1) ? AttendanceSelectbox::findFirst("attendance_for ='student' and default = 1") :
                                                        '');
                                        ?>
                                        <td class="att_table"> 
                                            <?php if (strtotime(date('d-m-Y', $stuGenInfo->Date_of_Joining)) <= strtotime(date('d-m-Y', $cdate))) { ?>

                                                <div class="form-group ">
                                                    <?php if ($att_valu_mastr) { ?>
                                                        <span title="<?= $att_valu_mastr->attendancename ?>" style=" background-color: <?= $att_valu_mastr->color ?>" 
                                                              class="mini-stat-icon select-menu " id="attendnav_btn_<?= $i ?>" >
                                                            <?= strtoupper($att_valu_mastr->attendanceid) ?></span>
                                                    <?php } else { ?>
                                                        <span title="click here to make attendance" 
                                                              class="mini-stat-icon tar select-menu " id="attendnav_btn_<?= $i ?>" >
                                                            <i class="fa fa-plus"></i></span>
                                                    <?php } ?>
                                                    <nav class=" attend-menu attend-menu_<?= $i ?> ">
                                                        <?php foreach ($attValues as $attval): ?>

                                                            <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>"                                                
                                                                  periodId ="<?= $i ?>"   userId ="<?= $stu->student_info_id ?>" attId ="<?= $attval->id ?>"   
                                                                  title="<?= $attval->attendancename ?>"    
                                                                  onclick="attendanceSettings.addOrUpdateAttnVal(this)">
                                                                <?= strtoupper($attval->attendanceid) ?></span>
                                                        <?php endforeach; ?>
                                                    </nav>

                                                </div>

                                                <i class="fa fa-spinner fa-spin hide loading_<?= $stu->student_info_id ?>_<?= $i ?>"></i>
                                                <i class="fa fa-check green  hide done_<?= $stu->student_info_id ?>_<?= $i ?>"></i> 
                                                <?php
                                            }else {
                                                echo ' <span  class="label label-warning label-mini  pull-left"> NA   </span>';
                                            }
                                            ?>

                                        </td>
                                    <?php endfor; ?> </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12" id ="myDiv">

                </div>
                <div class="col-md-12" id ="mysubDiv">

                </div>
            </div>
        </div>
    </section>
    <?php
}
?>



<!------------------------------------------------------------------------------------------>
<script>
    
$(document).ready(function () {

    var max = 65;
//var max = 0;    
//$('#attenStuTable tbody td').each(function() {
//    max = Math.max($(this).height(), max);
//});
//
//$('#stuPrd tbody td').each(function() {
//    max = Math.max($(this).height(), max);
//});

    $('#stuPrd tbody tr').height(max);
    $('#attenStuTable tbody tr').height(max);
});
</script>
