

<script type="text/javascript">

    $(document).ready(function() {
        $('.report_btn').click(function() {
            $.ajax({
                type: "POST",
                url: commonSettings.attendanceAjaxurl + "/loadMonthlyHdr",
                dataType: 'html'
            }).done(function(resHtml) {
                $('.report_table').html(resHtml);
                $.ajax({
                    type: "POST",
                    url: commonSettings.attendanceAjaxurl + "/loadMonthlyReport",
                    dataType: 'html',
                    data: {masterid:<?= $attdays->master_id ?>},
                    success: function(res) {
                        if (res) {
                            $("#stuAttList").removeClass('hide')
                            $("#stuAttList").html(res);
                            $('.att_table').toggleClass('hide');
                            $('.report_table').toggle('slide', {direction: "right"}, 500);
                        }
                    }
                });
            });
        });


    });</script>
<?php
//echo $this->tag->javascriptInclude("js/jquery-2.0.2.min.js");
echo $this->tag->javascriptInclude("js/jquery-ui.js");
echo $this->tag->javascriptInclude("js/attendance/stuattendance.js");
if (count($students) > 0) {
    ?>
    <section class="panel">
        <h3>Attendance For students on <?= date('d M, Y', $cdate) ?> </h3>

        <div class="panel-body"> 
            <div class="col-md-12">
                <div class="form-group col-md-4">
                    <label class="control-label col-md-2" style="margin-top:10px;">Date</label>
                    <div class="col-md-10">
                        <!--<input type="hidden" id="currdate" name="currdate" value="<?= $cdate ?>" />-->
                        <!--<input type="hidden" id="UType" name="UType" value="student" />-->
                        <?php
                        echo Phalcon\Tag::textField(array("tdate",
                            'class' => 'form-control form_date',
                            'utype' => 'student',
                            'onchange' => 'attendanceSettings.changeDate(this)',
                            "value" => date('d-m-Y', $cdate)))
                        ?>

                    </div>
                </div>

                <div class="col-md-4">
                    <label class="control-label col-md-3" style="margin-top:10px;">Day Status</label>
                    <span class="mini-stat-icon <?= ($attdays->day_type == 1) ? 'holiday' : (($attdays->day_type == 2) ? 'working' : 'tar') ?> select-menu"
                          id="daynav_btn" title="<?= ($attdays->day_type == 1) ? 'Holiday' : (($attdays->day_type == 2) ? 'Working Day' : 'Click here to add attendance') ?>">
                              <?= ($attdays->day_type == 1) ? 'H' : (($attdays->day_type == 2) ? 'W' : '<i class="fa fa-plus"></i>') ?>

                    </span>
                    <nav class="dayattend-menu">
                        <span class="mini-stat-icon working" title="Working Day" onclick="attendanceSettings.addOrUpdateSlot('2')">W</span>
                        <span class="mini-stat-icon holiday" title="Holiday"  onclick="attendanceSettings.addOrUpdateSlot('1')">H</span>
                    </nav>

                </div>

                <div class="col-md-2">
                    <label class="control-label col-md-2" style="margin-top:10px;margin-left: 65px;">Help</label>
                    <span class="mini-stat-icon yellow-b pull-right" onclick="attendanceSettings.helpLegend()">
                        <i class="fa fa-question"></i>
                    </span>
                </div>

                <div class="col-md-2 report_btn" style="cursor: pointer;">
                    <label class="control-label col-md-2" style="margin-top:10px;margin-left: 65px;">Report</label>
                    <span class="mini-stat-icon orange-theme pull-right">
                        <i class="fa fa-pie-chart"></i></span>
                </div>


                <div class=" hide helpLegend">
                    <div class="">
                        <div class="form-group ">
                            <h3 class="control-label" style="margin-top:10px;margin-left: 125px;">Steps</h3>
                            <label class="control-label" style="margin-top:10px;margin-left: 125px;">1. Select the date of the attendance.</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 125px;">2. Choose the  day status (either Workday (OR) Holiday).</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 125px;">3. Click the period of attendance in the column Header.</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 125px;">4. All Students will be marked as Present by default.</label>
                            <label class="control-label" style="margin-top:10px;margin-left: 125px;">5. Teacher can edit the attendance if needed.</label>

                        </div>

                        <div class="form-group ">
                            <span title="click here to make attendance"  class="mini-stat-icon tar">
                                <i class="fa fa-plus"></i></span>
                            <label class="control-label" style="margin-top:10px;margin-left: 75px;">Click to make attendance</label>

                        </div>

                        <div class="form-group ">
                            <span class="mini-stat-icon working" title="Period Attendance" >P</span>
                            <label class="control-label" style="margin-top:10px;margin-left: 75px;">Period Attendance</label>

                        </div>

                        <div class="form-group ">
                            <span class="mini-stat-icon working" title="Working Day" >W</span>
                            <label class="control-label" style="margin-top:10px;margin-left: 75px;">Working Day</label>

                        </div>
                        <div class="form-group ">
                            <span class="mini-stat-icon holiday" title="Holiday"  >H</span>
                            <label class="control-label" style="margin-top:10px;margin-left: 75px;">Holiday</label>  
                        </div>

                        <?php foreach ($attValues as $attval): ?>
                            <div class="form-group ">
                                <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>" 
                                      title="<?= $attval->attendancename ?>"   > <?= strtoupper($attval->attendanceid) ?></span>
                                <label class="control-label" style="margin-top:10px;margin-left: 75px;"><?= $attval->attendancename ?></label>

                            </div>        
                        <?php endforeach; ?>        
                    </div>
                </div>




            </div>

            <table id="attenStuTable" border="0" class="table general-table col-md-12">
                <thead class="thead_default">
                    <tr>
                        <td><label for=""  class="col-sm-2">Students</label> </td>

                        <?php
                        $markedAtt = explode(',', $attPeriod);
                        for ($i = 1; $i <= $noofperiods; $i++):
                            $attclass = (in_array($i, $markedAtt)) ? 'attend-taken' : 'not-taken'
                            ?>
                            <td class="att_table">
                                <span class="mini-stat-icon <?= $attclass ?> periodVal" id="periodval_<?= $i ?>" 
                                      title="click here to update period attendance"     onclick="attendanceSettings.selectedperiods(<?= $i ?>)" >
                                    <?= AttendanceController::_toRoman($i); ?></span>
                                <i class="fa fa-spinner fa-spin hide loading_<?= $i ?>"></i>
                                <i class="fa fa-check green  hide done_<?= $i ?>"></i>

                            </td>
                        <?php endfor; ?>

                        <td class="att_table "><span class="mini-stat-icon orange-theme"><i class="fa fa-eye"></i></span></td>
                        <td class="report_table">

                        </td>

                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($students as $stu) {
                        $stuGenInfo = StudentGeneralMaster::findFirstByStudentId($stu->id);
                        $stuAcdInfo = StudentAcademicMaster::findFirstByStudentId($stu->id);
                        $params['student_id'] = $stu->id;
                        $params['divValId'] = $stu->Division_Class;
                        $params['subDivValId'] = $stu->Subdivision;
                        $params['academicYrId'] = $currentYr;
                        $params['overalPercent'] = 1;
                        //$overallPercent = StudentDashboardController::_getAttendancePercentage($params);
                        ?>
                        <tr>
                            <td class="student_name col-md-2"> 
                                <?php
                                if ($stuGenInfo->photo) {

                                    echo $this->tag->image(array(
                                        "src" => $stuGenInfo->photo ? (FILES_URI . $stuGenInfo->photo) : ('images/user.jpg'),
                                        'style' => 'border-radius:50%',
                                        'width' => '40px',
                                        'height' => '40px'));
                                } else {
                                    ?>
                                    <span title="click here to make attendance" 
                                          class="mini-stat-icon tar "  >
                                        <?= substr($stu->Student_Name, 0, 1); ?></span>
                                <?php }
                                ?> <?= $stu->Student_Name . ' (' . $stuAcdInfo->rollno . ') ' ?></td>
                                <?php
                                for ($i = 1; $i <= $noofperiods; $i++):

                                    $attPeriod = $attdays->id ?
                                            AttendancePeriods::findFirst("att_days_id =" . $attdays->id . " and period_value =" . $i) : '';
                                    $att_val = $attPeriod ? AttendanceValues::findFirst("att_days_id=" . $attdays->id .
                                                    " and att_period_id =" . $attPeriod->id .
                                                    " and user_id =" . $stu->id) : '';

                                    $defaultPresent = $attPeriod ? '1' : '0';
                                    $att_valu_mastr = $att_val ? AttendanceSelectbox::findFirstById($att_val->value_id) :
                                            (($defaultPresent == 1) ? AttendanceSelectbox::findFirst("attendance_for ='student' and default = 1") :
                                                    '');
                                    ?>
                                <td class="att_table"> 
                                    <?php if (strtotime(date('d-m-Y', $stu->Date_of_Joining)) <= strtotime(date('d-m-Y', $cdate))) { ?>

                                        <div class="form-group ">
                                            <?php if ($att_valu_mastr) { ?>
                                                <span title="<?= $att_valu_mastr->attendancename ?>" style=" background-color: <?= $att_valu_mastr->color ?>" 
                                                      class="mini-stat-icon select-menu " id="attendnav_btn_<?= $i ?>" >
                                                    <?= strtoupper($att_valu_mastr->attendanceid) ?></span>
                                            <?php } else { ?>
                                                <span title="click here to make attendance" 
                                                      class="mini-stat-icon tar select-menu " id="attendnav_btn_<?= $i ?>" >
                                                    <i class="fa fa-plus"></i></span>
                                            <?php } ?>
                                            <nav class=" attend-menu attend-menu_<?= $i ?> ">
                                                <?php foreach ($attValues as $attval): ?>

                                                                                                                                                                                                                                                          <!--<span class="mini-stat-icon  " >P</span>-->
                                                    <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>"                                                
                                                          periodId ="<?= $i ?>"   userId ="<?= $stu->id ?>" attId ="<?= $attval->id ?>"   
                                                          title="<?= $attval->attendancename ?>"    
                                                          onclick="attendanceSettings.addOrUpdateAttnVal(this)">
                                                        <?= strtoupper($attval->attendanceid) ?></span>
                                                <?php endforeach; ?>
                                            </nav>

                                        </div>

                                        <i class="fa fa-spinner fa-spin hide loading_<?= $stu->id ?>_<?= $i ?>"></i>
                                        <i class="fa fa-check green  hide done_<?= $stu->id ?>_<?= $i ?>"></i> 
                                        <?php
                                    }else {
                                        echo ' <span  class="label label-warning label-mini  pull-left"> NA   </span>';
                                    }
                                    ?>

                                </td>
                            <?php endfor; ?>
                            <td class="att_table"><span class="mini-stat-icon orange-theme">
                                    <?php // $overallPercent[0][0] ?>
                                </span></td>
                            <td class="report_table">

                            </td>
        <!--                                <td class="pollSlider"><div class="progress progress-striped progress-xs">
                                           <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                               <span class="sr-only">40% Complete (success)</span>
                                           </div>
                                       </div></td>-->

                                                                                <!--<td class=""></td>-->
                        </tr>

                        <?php
                    }
                    ?>
                </tbody>
            </table>            
        </div>
    </section>
    <?php
}
?>