
<script type="text/javascript">
    $(document).ready(function() {
        $(".mini-stat.tabactive").unbind().on('click', function() {
            var activetab = $(this).attr('tabactive')
            console.log('clicked' + activetab)
            $('.nav li').removeClass('active')
            $('.nav li.' + activetab).addClass('active')
            $('.tab-pane').removeClass('active')
            $('#' + activetab).addClass('active')

        });

        attendanceSettings.loadattSett();
        $('#attendancesettings_section').on('click', function() {
            attendanceSettings.loadattSett();
        });
        $('#attendance_section').on('click', function() {
            attendanceSettings.loadStaffatt();
        });
         $('#staffAttn_report').on('click', function() {
            attendanceSettings.loadStaffAttReport();
        });
    });
</script>
<div class="row">
    <div class="col-md-4">
        <div class="mini-stat clearfix tabactive"  tabactive ="attendancesettings" id="attendancesettings_section"> 

            <span class="mini-stat-icon orange"><i class="fa fa-calendar"></i></span>
            <div class="mini-stat-info">
                <span>Attendance settings</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mini-stat clearfix tabactive" tabactive ="attendance" id="attendance_section" > 

            <span class="mini-stat-icon tar"><i class="fa fa-calendar-o"></i></span>
            <div class="mini-stat-info">
                <span>Manage Attendance</span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mini-stat clearfix tabactive" tabactive ="staffAttn" id="staffAttn_report" > 
            <span class="mini-stat-icon bg-terques"><i class="fa fa-calendar"></i></span>
            <div class="mini-stat-info">
                <span>Attendance Report</span>
            </div>
        </div>
    </div>
    

</div>


<section class="panel" id="other_section">
    <div class="tab-content tasi-tab">

        <div id="attendancesettings" class="tab-pane active">
            <!--  attendance content goes here-->
            <div id="attendancesettingsDiv" class="hide"></div>
        </div>

        <div id="attendance" class="tab-pane ">  
            <!--  mainexam content goes here-->
            <div id="attendancediv" class="hide"></div>

        </div>

        <div id="leave" class="tab-pane ">  
            <!--  mainexam content goes here-->
            <div id="leavediv" class="hide"></div>

        </div>
        <div id="staffAttn" class="tab-pane ">  
            <!--  mainexam content goes here-->
            <div id="staffAttndiv" class="hide"></div>

        </div>
    </div>      
</section>
