<input type="hidden" id="month" name="month" value="<?= $month ?>"/>
<input type="hidden" id="year" name="year" value="<?= $year ?>"/>
<table class="table general-table table-responsive" id="stuDay">
    <thead class="thead_default">
        <tr style="height:60px;">
            <?php foreach ($daillyPer[0][0] as $monthhdr) { ?>
                <td><span class="btn btn-round btn-info" style="cursor: default;"><?= $monthhdr['text']  ?>  (%)</span></td>
            <?php }
            ?>     
            <td>
                <?php
                if ($fromPage == 'academic') {
                    $link = 'academicSettings.closeDailyReport();';
                } else {
                    $link = 'attSettings.closeDailyReport();';
                }
                ?>
                <span class="pull-right" onclick="<?= $link ?>" style="cursor: pointer;"><i class="fa fa-close"></i></span>
            </td>
        </tr>
    </thead>
    <tbody>
        <?php
        if (count($daillyPer) > 0):
            foreach ($daillyPer as $per) {
                ?>
                <tr>
                  <?php foreach ($per[1] as $stuPer) { ?>
                        <td> <span class="mini-stat-icon-report btn-success"><?= $stuPer['percent'] ?></span> </td>
                <?php }
                ?>
                </tr>
                <?php
            }
        endif;
        ?>

    </tbody>
</table>

<!------------------------------------------------------------------------------------------>
<script>
var max = 0;    
$('#attenStuTable tbody td').each(function() {
    max = Math.max($(this).height(), max);
});

$('#stuDay tbody td').each(function() {
    max = Math.max($(this).height(), max);
});
    $('#stuDay tbody td').height(max);
    $('#attenStuTable tbody td').height(max);

</script>