<?php if (count($legend) > 0) { ?>
    <p id="daily" class="text text-muted small">Legend : <?= implode(' , ', $legend) ?></p> <?php } else { ?> <br><br> <?php } ?>
<table id="stfDailyAttTable" class="table general-table table-bordered" >
    <thead class="thead_default">
        <?php foreach ($result['thead'] as $row) { ?>
            <tr>
                <?php foreach ($row as $col) { ?>
                    <th colspan="<?= $col['colspan'] ?>" rowspan="<?= $col['rowspan'] ?>"> <?= $col['text'] ?> </th>
                <?php } ?>
            </tr> 
        <?php } ?>
    </thead>
    <tbody>
        <?php
        foreach ($classStudents as $classStudent) {
            $cnt = $totalper = 0;
            $totalcnt = array();
            ?>
            <tr>
                <td class="student_name col-md-3" style="min-width:300px;"> 
                    <?php
                    if ($classStudent->photo) {
                        ?>
                        <span  title="<?php echo $classStudent->rollno ?>" 
                               class="mini-stat-icon appnd "  >
                                   <?php
                                   echo $this->tag->image(array(
                                       "src" => $classStudent->photo ? (FILES_URI . $classStudent->photo) : ('images/user.jpg'),
                                       'style' => 'border-radius:50%',
                                       'width' => '40px',
                                       'class' => 'remnameexcel',
                                       'height' => '40px'));
                                   ?></span>
                        <?php
                    } else {
                        ?>
                        <span title="<?php echo $classStudent->rollno ?>"  class="mini-stat-icon tar" style="cursor: default;">
                            <?= substr($classStudent->Staff_Name, 0, 1); ?>
                        </span>
                    <?php }
                    ?> 
                    <span style="vertical-align: middle;position: relative;top: 10px;cursor:default;text-transform: uppercase !important; word-break: break-all;" title="<?= $classStudent->Staff_Name . ' (' . $classStudent->loginid . ') ' ?>">
                        <?= $classStudent->Staff_Name ?>
                    </span>
                </td>
                <?php $aggr_key = explode(',',$classStudent->aggregate_key);
                                    $dept_name = OrganizationalStructureValues::findFirstById(end($aggr_key))->name; ?>
                <td><?= $dept_name ?></td>
                <?php
                if (count($monthhead) > 0) {
                    foreach ($monthhead as $hvalue) {
                        if ($reptyp == 0) {
                            if (count($valhead) > 0) {
                                foreach ($valhead as $vvalue) {
//                                        print_r($hvalue);exit;
//                                           echo $classStudent->loginid.' - '.$hvalue.' - '.$vvalue.' - '.$dailyPercent[$classStudent->loginid][$hvalue][$vvalue].'<br>';
                                    $noofperiods = PeriodMaster::find('LOCATE(node_id,"' . str_replace(',', '-', $classStudent->aggregate_key) . '" )' . " and user_type = 'staff'");
                                    $valcnt = $dailyPercent[$classStudent->loginid][$hvalue][$vvalue] ? ($dailyPercent[$classStudent->loginid][$hvalue][$vvalue] / $noofperiods) : '';
                                    $cnt = $valcnt ? $valcnt : 0;
                                    $totalcnt[$vvalue] = $totalcnt[$vvalue] ? ($totalcnt[$vvalue] + $cnt) : $cnt;
                                    ?>
                                    <td><?= $valcnt; ?></td>
                                    <?php
                                }
                            }
                        } else {
                            $cnt = ($dailyPercent[$classStudent->loginid][$hvalue]['percent'] === '') ? $cnt : ($cnt + 1);
                            $totalper += $dailyPercent[$classStudent->loginid][$hvalue]['percent'];
                            ?>
                            <td><?= $dailyPercent[$classStudent->loginid][$hvalue]['percent']; ?></td>
                            <?php
                        }
                    }
                }
                ?><?php
                if ($reptyp == 0) {
                    if (count($valhead) > 0) {
                        foreach ($valhead as $vvalue) {
                            ?>
                            <td><?= $totalcnt[$vvalue] ?></td>
                            <?php
                        }
                    }
                } else {
                    ?>
                    <td><?= ($cnt > 0) ? (round($totalper / $cnt,2)) : 0; ?></td>
                <?php }
                ?>
            </tr>
        <?php } ?>

    </tbody>
</table>
