
<style>

    #myDiv {
        display:none;
        text-align:justify;
    }
    
    #mysubDiv {
        display:none;
        text-align:justify;
    }
</style>
<?php
echo $this->tag->javascriptInclude("js/jquery-ui.js");
?>
<script type="text/javascript">
    var attSettings = {};
    // Set the effect type
    attSettings.effect = 'slide';

    // Set the options for the effect type chosen
    attSettings.options = {direction: $('.mySelect').val()};

    // Set the duration (default: 400 milliseconds)
    attSettings.duration = 500;
    $(document).ready(function() {
        $(".myButton").on('click', function() {

            $.ajax({
                type: "POST",
                url: commonSettings.attendanceAjaxurl + "/loadMonthlyReport",
                dataType: 'html',
                data: {masterid: 1},
                success: function(res) {
                    if (res) {
                        $("#myDiv").html(res);
                        $('#myDiv').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                        console.log($('#mysubDiv').is(':visible'))
                        if( $('#mysubDiv').is(':visible')){
                             $('#mysubDiv').hide();
                        }else{
                        $('#myDiv1').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                        }
                       
                    }
                }
            });

        });
    });
    attSettings.loadDailyReport = function(ctrl) {
        console.log('in')
        var month = $(ctrl).attr('month');
        var year = $(ctrl).attr('year');
        $.ajax({
            type: "POST",
            url: commonSettings.attendanceAjaxurl + "/loadDailyReport",
            dataType: 'html',
            data: {
                masterid: 1,
                month: month,
                year: year
            },
            success: function(res) {
                if (res) {
                    $("#mysubDiv").html(res);
                    $('#myDiv').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                    $('#mysubDiv').toggle(attSettings.effect, attSettings.options, attSettings.duration);
                }
            }
        });
    };
</script>
<section class="panel">
    <div class="panel-body">
        <h2>Slide toggle from right to left and left to right.</h2>
        <div class="row">

            <hr/>
            <p>
                <select class="mySelect">
                    <option value="right">Right</option>
                    <option value="left">Left</option>            
                    <option value="up">Up</option>
                    <option value="down">Down</option>
                </select>
                <button id="button" class="myButton">Run Effect</button>
            </p>
            <div class="col-md-12" id ="myDiv2">
                <div class="col-md-2" >

                    <table class=" table table-hover general-table">
                        <thead>
                            <tr>
                                <th>Students </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Stu1</td> </tr>
                            <tr><td>Stu1</td> </tr>
                            <tr><td>Stu1</td> </tr>
                            <tr><td>Stu1</td> </tr>
                            <tr><td>Stu1</td> </tr>
                            <tr><td>Stu1</td> </tr>
                            <tr><td>Stu1</td> </tr>
                            <tr><td>Stu1</td> </tr>
                            <tr><td>Stu1</td> </tr>
                            <tr><td>Stu1</td> </tr>
                            <tr><td>Stu1</td> </tr>


                        </tbody>
                    </table>
                </div>
                <div class="col-md-10" id ="myDiv1">

                    <table class="table table-hover general-table">
                        <thead>
                            <tr>
                                <th>Period </th>
                                <th>I </th>
                                <th>II </th>
                                <th>II I'd</th>
                                <th>IV </th>
                                <th>V </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td> </tr>
                            <tr><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td> </tr>
                            <tr><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td> </tr>
                            <tr><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td> </tr>
                            <tr><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td> </tr>
                            <tr><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td> </tr>
                            <tr><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td> </tr>
                            <tr><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td> </tr>
                            <tr><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td> </tr>
                            <tr><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td> </tr>
                            <tr><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td><td>p</td> </tr>


                        </tbody>
                    </table>

                </div>
                <div class="col-md-10" id ="myDiv">

                </div>
                <div class="col-md-10" id ="mysubDiv">

                </div>
            </div>
        </div>
    </div>
</section>
