<script>
    $(document).ready(function () {
        $('.form_date').datetimepicker({
            format: 'mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 3,
            minView: 3,
            forceParse: 0
        });
    });
</script>
<section class="panel att-panel">
    <header class="panel-heading">
        staff attendance
        <span class="tools pull-right">
        </span>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-9">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'staffAttendanceReport')); ?>
                <div class="form-group">
                    <?php $fields = OrganizationalStructureMaster::findFirst('module = "Department" and cycle_node =1'); ?>
                    <label for=""  class="col-sm-4  control-label mandatory"><?= $fields->name ?></label>  
                    <div class="col-sm-7">
                        <?php
                        echo \Phalcon\Tag::select(
                                array(
                                    'aggregate_' . strtolower(str_replace(' ', '', $fields->name)),
                                    OrganizationalStructureValues::find('org_master_id = ' . $fields->id),
                                    "using" => array("id", "name"),
                                    'useEmpty' => true,
                                    'emptyText' => 'Select',
                                    'emptyValue' => '',
                                    'class' => 'form-control',
                                    'title' => $fields->name,
                                    'onchange' => 'attendanceSettings.loadSubtree(this)'
                                )
                        );
                        ?>

                    </div> 
                </div> 
                <div class="subtreediv hide"></div>
                <div class="form-group">
                    <label for=""  class="col-sm-4  control-label mandatory">Select Report Type:</label>  
                    <div class="col-sm-7">
                        <?php
                        echo \Phalcon\Tag::selectStatic(
                                array(
                                    "reptyp",
                                    array(
                                        "" => "Select",
                                        "0" => "By Attendance Value",
                                        "1" => "By Percentage(%)"
                                    ),
                                    'class' => 'form-control',
                                    'title' => 'Report Type'
                                )
                        );
                        ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-md-4 control-label mandatory">From:</label>
                    <div class="col-md-3">
                        <?php
                        echo Phalcon\Tag::textField(array("fdate",
                            'class' => 'form-control form_date',
                            'title' => ' From Date'
                        ));
                        ?>

                    </div>
                    <label for=""  class="col-md-1 control-label mandatory left">To:</label>
                    <div class="col-md-3">
                        <?php
                        echo Phalcon\Tag::textField(array("tdate",
                            'class' => 'form-control form_date',
                            'title' => 'To date'
                            
                        ));
                        ?>

                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-7">  
                            <button class="btn btn-success pull-right" onclick="attendanceSettings.viewStaffAttendance()" type="button"> 
                                Search
                            </button>   
                    </div>


                </div>
            </div>
            </form>
        </div>


    </div>
</section>

<div id="staffAttDiv" class="hide"></div>	


