<script type="text/javascript">
    $(document).ready(function () {
        <?php if($fromPage == 'academic'){ ?>
        $('#excel_report_btn').attr('onclick', ' attendanceSettings.attendanceMonthlyReport()');
        <?php } else {?>
         $('#overallattendance').attr('onclick', 'academicSettings.attendanceExcelReport()');
        <?php } ?>
    });
</script>
<table class="table general-table table-responsive" id="stuMnth">
    <thead class="thead_default">

        <tr style="height:60px;">
            <?php foreach ($monthlyPer[0][0] as $monthhdr) { ?>
                <td><a href="javascript:void(0)" onclick="attSettings.loadDailyReport(this)"
                       class="monthExpand" month="<?= $monthhdr['month'] ?>" year="<?= $monthhdr['year'] ?>">
                        <span class="btn btn-round btn-info"><?= $monthhdr['text'] ?> (%)</span></a> </td>
            <?php }
            ?>   
            <td>
                <span class="pull-right" onclick="attSettings.closeMonthlyReport();" style="cursor: pointer;"><i class="fa fa-close"></i></span>
            </td>
        </tr>
    </thead>
    <tbody>
        <?php
        if (count($monthlyPer) > 0):
            foreach ($monthlyPer as $per) {
                ?>
                <tr>
                    <?php foreach ($per[1] as $stuPer) { ?>
                    <td>   <span class="mini-stat-icon-report btn-success"><?= $stuPer['percent'] ?></span>  </td>
                <?php }
                ?>
                </tr>
                <?php
            }
        endif;
        ?>

    </tbody>
</table>

<!------------------------------------------------------------------------------------------>
<script>

    $(document).ready(function() {

        var max = 65;
//    var max = 0;
//    $('#attenStuTable tbody td').each(function() {
//        max = Math.max($(this).height(), max);
//    });
//
//    $('#stuMnth tbody td').each(function() {
//        max = Math.max($(this).height(), max);
//    });

        $('#stuMnth tbody tr').height(max);
        $('#attenStuTable tbody tr').height(max);
    });
</script>