
<section class="panel">
    <header class="panel-heading">
        Staff Attendance
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <div class="row">
            <!--            <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-1">
                                    <div class="stats-counter inactive combispan" 
                                         id = "span_staff_att" 
                                         cdate ="<?= date('d-m-Y', time()) ?>"
                                              onclick = "attendanceSettings.getStaffList(this)">
                                            <span class="mini-stat-icon orange-theme">Staff</span>
                                            <h6>Staff</h6>
                                            
                                    </div>
                                </div>           
                            </div>
                        </div>-->
            <div class="col-md-12">
                <div class="form-group">
                    <?php
                    if (!$errorMessage) {
                        foreach ($combinations as $key => $combival) {
                            ?>  
                            <div class="col-md-1">
                                <div class="stats-counter inactive combispan" id = "span_<?= $key ?>"   cdate ="<?= date('d-m-Y', time()) ?>"
                                     onclick = "attendanceSettings.getStaffList(this)">
                                    <span class="mini-stat-icon orange-theme"><?= $combival[0] ?></span>
                                    <h6><?= $combival ?></h6>
                                </div>
                            </div>
                            <?php
                        }
                    } else {
                        ?>                      

                        <div class = "center scaffold">
                            <span><div class="alert alert-block alert-danger fade in"><?= $errorMessage ?></div></span>
                        </div>                            
                    <?php } ?>
                </div>
            </div>
            <div class="col-md-12 hide" id="stfAttList"> </div>
        </div>
    </div>
</section>
