<?php
if(count($stuarr) > 0)
{ ?>
<section class="panel">
    <header class="panel-heading">
        Attendance For staff on <?= date('d M, Y', $cdate) ?>
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body"> 
        <table id="attenStuTable" border="0" class="table  table-hover general-table table-bordered">
            <thead>
                <tr>
                    <th><label for=""  class="col-sm-3">Staff</label> </th>
                    <th>   <?php
                        $nexttime = strtotime(date('d-m-Y', strtotime("+1 day", $cdate) . " 00:00:00"));
                        $prevtime = strtotime(date('d-m-Y', strtotime("-1 day", $cdate) . " 00:00:00"));
                        ?>
                        <span class="glyphicon glyphicon-chevron-left col-sm-1" utype ='staff'
                              onclick="attendanceSettings.changeDate(<?= $prevtime ?>,this)">
                            <!--<input type="hidden" value="<?= $cdate ?>" id="currentDate"/>-->
                        </span>
                        <label for=""  class="col-sm-2"><?= date('d M, Y', $cdate) ?>
                            <span class='daytType'>
                            <?php
                            if ($attdays->day_type == 1)
                                echo "<label class='alert-danger' >Holiday</label>";
                            elseif ($attdays->day_type == 2)
                                echo "<label class='alert-success' >Working Day</label>";
                            else
                                echo "";
                            ?></span>
                        </label>
            <div class="col-sm-6"><?php
                echo \Phalcon\Tag::select(
                        array(
                            "datType",
                            array(
                                '1' => 'Holiday',
                                '2' => 'Working Day'
                            ),
                            "using" => array("id", "attendancename"),
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '0',
                            'class' => 'form-control',
                            'divvalid' => $divvalid,
                            'subdivvalid' => $subdivvalid,
                            'current_acd_yr' => $current_acd_yr,                            
                            'value' => $attdays->day_type,                            
                            'onchange' => 'attendanceSettings.addOrUpdateSlot(this)',
                            'currDate' => $cdate,
                            'UType' => 'staff'
                        )
                );
                ?> 
                <span class="hide loading" >Loading... <i class="fa fa-spin fa-spinner"></i></span>
            </div>

            <span class="glyphicon glyphicon-chevron-right col-sm-1" utype ='staff'
                  onclick="attendanceSettings.changeDate(<?= $nexttime ?>,this)"></span>

            </th>
            </tr>
            </thead>
            <tbody>
<?php
//$stuarr = StaffInfo::find();
if ($stuarr):
    foreach ($stuarr as $stu) {
        ?>
                        <tr>
                            <td><?= $stu->Staff_Name ?></td>
                            <td><div class="col-sm-6">
                                    <?php 
                                    $attvalue = AttendanceValues::findFirst("date = '" . $cdate . "' and user_type='staff' and user_id=" . $stu->id)?
                                            AttendanceValues::findFirst("date = '" . $cdate . "' and user_type='staff' and user_id=" . $stu->id)->value_id : '1';
                                    $disabled ='';
                                                if(!in_array($attdays->day_type, array('2')))
                                                      $disabled = 'disabled';
                                    echo \Phalcon\Tag::select(
                                            array(
                                                "stfAttID",
                                                AttendanceSelectbox::find("attendance_for ='staff'"),
                                                "using" => array("id", "attendancename"),
                                                "value" => $attvalue,
                                                'class' => 'form-control',
                                                'onchange' => 'attendanceSettings.addOrUpdateAttnVal(this)',
                                                'currDate ' => $cdate,
                                                'stuid'  => $stu->id, 
                                              //  'dayType' => $attdays->day_type,
                                                'UType' => 'staff',
                                                $disabled=> ''
                                             )
                                    );
                                    ?>
                                    <span class="hide loading" >Loading... <i class="fa fa-spin fa-spinner"></i></span>
                                </div>

                            </td>
                        </tr>
    <?php
    }
endif;
?>
            </tbody>

        </table>
    </div>
</section>
<?php
}else{
echo '<div class="alert alert-block alert-danger fade in">' . "No Students were found" . '</div>';
}
?>