<?php
if (count($stuarr) > 0) {
    ?>
    <section class="panel">
        <header class="panel-heading">
            Attendance For students on <?= date('d M, Y', $cdate) ?>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" href="javascript:;"></a>
            </span>
        </header>
        <div class="panel-body"> 
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    <label class="control-label col-md-2">Date</label>
                    <div class="col-md-8">
                        <input class="form-control form-control-inline input-medium default-date-picker"  size="16" type="text" value="<?= date('d M, Y', $cdate) ?>" />
                    </div>
                </div>
                <!--            <div class="col-sm-4">
                <?php
                $nexttime = strtotime(date('d-m-Y', strtotime("+1 day", $cdate) . " 00:00:00"));
                $prevtime = strtotime(date('d-m-Y', strtotime("-1 day", $cdate) . " 00:00:00"));
                ?>
                                        <span class="glyphicon glyphicon-chevron-left col-sm-1" utype ='student' 
                                              onclick="attendanceSettings.changeDate(<?= $prevtime ?>,this)">
                                       </span>
                                        <label for=""  class="col-sm-4"><?= date('d M, Y', $cdate) ?>
                                            <span class='daytType'>
                <?php
                if ($attdays->day_type == 1)
                    echo "<label class='alert-danger'>Holiday</label>";
                elseif ($attdays->day_type == 2)
                    echo "<label class='alert-success'>Working Day</label>";
                else
                    echo "";
                ?></span>
                                        </label>
                            
                
                            <span class="glyphicon glyphicon-chevron-right col-sm-1"  utype ='student'
                                  onclick="attendanceSettings.changeDate(<?= $nexttime ?>,this)"></span>
                            </div>-->
                <!--            <div class="col-md-4">
                                                    <input type="text" class="colorpicker-default form-control" value="#8fff00" />
                                                </div>-->

                <div class="col-md-3">
                    <span class="mini-stat-icon tar" id="daynav_btn" onclick="attendanceSettings.selectday()">S</span>
                    <nav class="dayattend-menu">
                        <span class="mini-stat-icon working">W</span>
                        <span class="mini-stat-icon holiday">H</span>
                    </nav>

                </div>

                <div class="form-group col-md-6">
                    <label class="control-label col-md-2">Select Hours</label>
                    <span class="mini-stat-icon tar" id="hrsnav_btn" onclick="attendanceSettings.selecthrs()">S</span>
                    <nav class="hrsattend-menu">
                        <span class="mini-stat-icon attend-taken">I</span>
                        <span class="mini-stat-icon attend-taken">II</span>
                        <span class="mini-stat-icon attend-taken">III</span>
                        <span class="mini-stat-icon attend-nottaken">IV</span>
                        <span class="mini-stat-icon attend-taken">V</span>
                        <span class="mini-stat-icon attend-nottaken">VI</span>
                        <span class="mini-stat-icon attend-nottaken">VII</span>
                        <span class="mini-stat-icon attend-nottaken">VIII</span>
                    </nav>

                </div>

            </div>
            <table id="attenStuTable" border="0" class="table general-table">
                <thead class="thead_default">
                    <tr>
                        <th><label for=""  class="col-sm-3">Students</label> </th>
                        <th> Status</th>
                        <th>Percentage</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    if ($stuarr):
                        foreach ($stuarr as $stu) {
                            ?>
                            <tr>
                                <td class="student_name col-md-3"> 
                                    <?php
                                    echo $this->tag->image(array(
                                        "src" => $stuGenInfo->photo ? (FILES_URI . $stuGenInfo->photo) : ('images/user.jpg'),
                                        'style' => 'border-radius:50%',
                                        'width' => '30px',
                                        'height' => '30px'))
                                    ?> <?= $stu->Student_Name ?></td>
                                <td class="col-md-4">
                                    <div class="form-group">
                                        <span class="mini-stat-icon tar" id="attendnav_btn" onclick="attendanceSettings.selectattend()">S</span>
                                        <nav class="attend-menu col-md-10">
                                            <span class="mini-stat-icon present">P</span>
                                            <span class="mini-stat-icon leave">L</span>
                                            <span class="mini-stat-icon absent">A</span>
                                            <span class="mini-stat-icon afternoon">AN</span>
                                            <span class="mini-stat-icon forenoon">FN</span>
                                        </nav>

                                    </div>

                                </td>
                                <td><div class="progress progress-striped progress-xs">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div></td>
                                <td><i class="fa fa-eye view-icon"></i></td>
                            </tr>
                            <?php
                        }
                    endif;
                    ?>
                </tbody>

            </table>
        </div>
    </section>
    <?php
} else {
    echo '<div class="alert alert-block alert-danger fade in">' . "No Students were found" . '</div>';
}
?>