<section class="panel">
<!--    <header class="panel-heading">
        Manage Student's attendance
    </header>-->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"  style="max-height: 765px;" id="classroomdiv" >
                <div >
                    <?php
                    if (!$errorMessage) {
                        foreach ($combinations as $key => $combival) {
                            ?>  
                            <div class=" label label-default col-md-12 combispan" id = "span_<?= $key ?>" 
                                 teacherType ="<?= $type ?>" cdate ="<?= date('d-m-Y', time()) ?>"
                                 onclick = "attendanceSettings.getStudentList(this)" >
                                <i class="fa fa-building-o pull-left"></i>
                                <?= $combival['name'] ?>
                            </div>
                            <br> <br> 

                            <?php
                        }
                    } else {
                        ?>                    

                        <div class = "center scaffold">
                            <span><div class="alert alert-block alert-danger fade in"><?= $errorMessage ?></div></span>
                        </div>                            
                    <?php } ?>
                </div>
            </div>
            <div class="col-md-10 hide" id="stuAttList"> </div>
        </div>
    </div>
</section>

<script>
    $('#classroomdiv').getNiceScroll().remove();
    $('#classroomdiv').niceScroll();
</script>