<?php
echo $this->tag->javascriptInclude("js/appscripts/attendance/stuattendance.js");
?><?php
if (count($students) > 0) {
    ?>
    <section class="panel">
        <div class="col-md-12">
            <h3 class="col-md-6">Subject Attendance For students on <?= date('d M, Y', $cdate) ?> </h3>
            <div class="form-group col-md-6">
                <label class="control-label pull-left" style="margin-top:10px;">Date</label>
                <div class="col-md-10">
                    <?php
                    echo Phalcon\Tag::textField(array("tdate",
                        'class' => 'form-control form_date',
                        'utype' => 'student',
                        'onchange' => 'attendanceSettings.changeDateBySession(this)',
                        "value" => date('d-m-Y', $cdate)))
                    ?>

                </div>
            </div>
        </div>
        <div class="col-md-11 scrollpane" style="max-height: 667px;width: 100%">
            <table id="attenStuTable" border="0" class="table general-table">
                <thead class="thead_default">
                    <tr style="height:50px;">
                        <th>Students </th>
                        <th>Gender </th>
                        <?php foreach ($noofperiods as $key => $pvalue) {
                            $periodid = str_replace(array(' ', '.'), '_', $pvalue->id);
                            ?>
                            <th class="att_table" style="min-width: <?= count($noofperiods) * 40 * 3.2 ?>px;">
                                <span class="mini-stat-icon periodVal attend-taken select-menu " id="periodval_<?= $periodid ?>" 
                                      title="Period (<?= date('H:i', $pvalue->start) . '-' . date('H:i', $pvalue->end) ?>)"   >
                        <?= AttendanceController::_toRoman( ++$key); ?></span>
                    <nav class="attend-menu attend-menu_<?= $periodid ?>  ">
        <?php foreach ($attValues as $attval): ?>
                            <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>"                                                
                                  periodId ="<?= $periodid ?>"   attId ="<?= $attval->id ?>"   
                                  title="<?= $attval->attendancename ?>"    
                                  onclick="attendanceSettings.addOrUpdateAttnValFull(this)">
                            <?= strtoupper($attval->attendanceid) ?></span>
        <?php endforeach; ?>
                    </nav>
                    <i class="fa fa-spinner fa-spin hide loading_<?= $periodid ?>"></i>
                    <i class="fa fa-check green  hide done_<?= $periodid ?>"></i>
                    </th>
    <?php } ?>
                </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($students as $stu) {
                        ?>

                        <tr>
                            <td class="student_name "  style="width:30%"> 
                                <?php
                                if ($stu->photo) {
                                    ?>
                                    <span title="click here to make attendance" 
                                          class="mini-stat-icon"  >

                                        <?php
                                        echo $this->tag->image(array(
                                            "src" => $stu->photo ? (FILES_URI . $stu->photo) : ('images/user.jpg'),
                                            'title' => $stu->rollno,
                                            'style' => 'border-radius:50%',
                                            'width' => '40px',
                                            'height' => '40px'));
                                        ?></span>
                                    <?php
                                } else {
                                    ?>
                                    <span title= "<?= $stu->rollno ?>" class="mini-stat-icon tar " style="cursor:default;" >                                        
            <?= substr($stu->Student_Name, 0, 1); ?>
                                    </span>

                                <?php }
                                ?> 
                                <span class="name"
                                      title="<?= $stu->Student_Name . ' (' . $stu->rollno . ') ' ?>" > 
        <?= (strlen($stu->Student_Name) > 30 ? substr($stu->Student_Name, 0, 30) . "..." : $stu->Student_Name) ?></span>
                            </td>
                            <td>
                            <?= $stu->Gender == 1 ? 'Female' : 'Male' ?>
                            </td>
                            <?php
                            foreach ($noofperiods as $pvalue) {
                                $periodid = str_replace(array(' ', '.'), '_', $pvalue->id);
                                $att_valu_mastr = AttendanceSelectbox::findFirstById($attvaluestu[$stu->loginid][$periodid]); //loaded attendance
                                ?>
                                <td   style="text-align:left;" class="att_table " period="<?= $periodid ?>" userId="<?= $stu->student_info_id ?>"> 
            <?php if (strtotime(date('d-m-Y', $stu->Date_of_Joining)) <= strtotime(date('d-m-Y', $cdate))) { ?>

                                        <div class="form-group ">
                <?php if ($att_valu_mastr) { ?>
                                                <span title="<?= $att_valu_mastr->attendancename ?>" style=" background-color: <?= $att_valu_mastr->color ?>" 
                                                      class="mini-stat-icon select-menu " id="attendnav_btn_<?= $periodid ?>" >
                                                <?= strtoupper($att_valu_mastr->attendanceid) ?></span>
                <?php } else { ?>
                                                <span title="click here to make attendance" 
                                                      class="mini-stat-icon tar select-menu " id="attendnav_btn_<?= $periodid ?>" >
                                                    <i class="zmdi zmdi-plus"></i></span>

                                                <?php } ?>
                                            <nav class=" attend-menu attend-menu_<?= $periodid ?> ">
                <?php foreach ($attValues as $attval): ?>

                                                    <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>"                                                
                                                          periodId ="<?= $periodid ?>"   userId ="<?= $stu->student_info_id ?>" attId ="<?= $attval->id ?>"   
                                                          title="<?= $attval->attendancename ?>"    
                                                          onclick="attendanceSettings.addOrUpdateAttnVal(this)">
                                                    <?= strtoupper($attval->attendanceid) ?></span>
                <?php endforeach; ?>
                                            </nav>

                                        </div>

                                        <i class="fa fa-spinner fa-spin hide loading_<?= $stu->student_info_id ?>_<?= $periodid ?>"></i>
                                        <i class="fa fa-check green  hide done_<?= $stu->student_info_id ?>_<?= $periodid ?>"></i> 
                                        <?php
                                    }else {
                                        echo ' <span  class="label label-warning label-mini  pull-left"> NA   </span>';
                                    }
                                    ?>

                                </td>
        <?php } ?>

                        </tr>
    <?php } ?>
                </tbody>
            </table>
        </div>
    </section>
    <?php
}
?>



<!------------------------------------------------------------------------------------------>
<script>
    var i = 2;
    var sortingDisabled = new Array();
<?php foreach ($noofperiods as $pvalue) { ?>
        sortingDisabled.push(i++);
<?php } ?>
    console.log(sortingDisabled)
    $('#attenStuTable').dataTable({
        "sDom": 'C<"clear">lrti',
        "bProcessing": true,
        "sPaginationType": "full_numbers",
        "iDisplayLength": 100,
        "aoColumnDefs": [{
                "sDefaultContent": "",
                "aTargets": [0, 1]
            }, {
                "bSortable": false,
                "sDefaultContent": "",
                "aTargets": sortingDisabled
            }],
        "scrollX": true,
        "bLengthChange": false,
        "bInfo": false
    });
    $('.scrollpane').getNiceScroll().remove();
    $('.scrollpane').niceScroll();
</script>
