<?php
echo $this->tag->stylesheetLink("css/appstyles/reportnav.css");
echo $this->tag->javascriptInclude("js/extra/jquery.battatech.excelexport.min.js");
?>
<script>
    var params = {
        "aggregateids": "<?= $aggregateids ?>", "reptyp": "<?= $reptyp ?>"
    }
</script>
<style>
    .sub-panel{
        width:100%;
    }
    .dwnldicn{
        width: 30px;height: 30px;line-height: 30px;margin-top: -4px; font-size: 15px;
    }
</style>
<?php
if ($error) {
    echo $error;
} else {
    ?>

    <section class="panel">
        <header class="panel-heading" >
            <span class="tools pull-right actionbtns">
                <a href="javascript:;" id="downloadStaffMnthlyAtt" class=" pull-right  ">
                    <span class="mini-stat-icon tar dwnldicn" style="">
                        <i class="fa fa-file-text-o " style="margin-top: 6px;"></i></span>
                    <span class=""><b>Excel</b></span></a>
                <a href="javascript:;" id="downloadStaffDailyAtt" class=" pull-right hide ">
                    <span class="mini-stat-icon tar dwnldicn" style="">
                        <i class="fa fa-file-text-o" style="margin-top: 6px;"></i></span>
                    <span class=""><b>Excel</b></span></a>
                <a href="javascript:;" id="goback" class=" pull-right hide " onclick="attendanceSettings.viewStaffAttendance()" >
                    <span class="mini-stat-icon tar dwnldicn" 
                          style="">
                        <i class="fa fa-reply" style="margin-top: 6px;"></i>
                    </span>
                    <span class=""><b>Back</b></span>
                </a>
            </span>
            Staff attendance 
        </header>
        <div class="panel-body ">
            <div id="monthlystaffAtt" class=" sub-panel">
                <?php if (count($legend) > 0): ?><p id="mnth" class="text text-muted small">Legend : <?= implode(' , ', $legend) ?></p> <?php endif; ?>
                <table id="stfMnthlyAttTable" class="table general-table table-bordered">
                    <thead class="thead_default">
                        <?php foreach ($result['thead'] as $row) { ?>
                            <tr>
                                <?php foreach ($row as $col) { ?>
                                    <th colspan="<?= $col['colspan'] ?>" rowspan="<?= $col['rowspan'] ?>"> <?= $col['text'] ?> </th>
                                <?php } ?>
                            </tr> 
                        <?php } ?>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($classStudents as $classStudent) {
                            $cnt = $totalper = 0;
                            $totalcnt = array();
                            ?>
                            <tr>
                                <td class="student_name col-md-3" style="min-width:300px;"> 
                                    <?php
                                    if ($classStudent->photo) {
                                        ?>
                                        <span  title="<?php echo $classStudent->rollno ?>" 
                                               class="mini-stat-icon appnd "  >
                                                   <?php
                                                   echo $this->tag->image(array(
                                                       "src" => $classStudent->photo ? (FILES_URI . $classStudent->photo) : ('images/user.jpg'),
                                                       'style' => 'border-radius:50%',
                                                       'width' => '40px',
                                                       'class' => 'remnameexcel',
                                                       'height' => '40px'));
                                                   ?></span>
                                        <?php
                                    } else {
                                        ?>
                                        <span title="<?php echo $classStudent->loginid ?>"  class="mini-stat-icon tar" style="cursor: default;">
                                            <?= substr($classStudent->Staff_Name, 0, 1); ?>
                                        </span>
                                    <?php }
                                    ?> 
                                    <span style="vertical-align: middle;position: relative;top: 10px;cursor:default;text-transform: uppercase !important; word-break: break-all;" title="<?= $classStudent->Staff_Name . ' (' . $classStudent->loginid . ') ' ?>">
                                        <?= $classStudent->Staff_Name ?>
                                    </span>
                                </td>
                                <?php $aggr_key = explode(',',$classStudent->aggregate_key);
                                    $dept_name = OrganizationalStructureValues::findFirstById(end($aggr_key))->name;
                                    ?>
                                <td><?= $dept_name ?></td>
                                <?php
                                if (count($monthhead) > 0) {
                                    foreach ($monthhead as $hvalue) {
                                        if ($reptyp == 0) {
                                            if (count($valhead) > 0) {
                                                foreach ($valhead as $vvalue) {
                                                    $noofperiods = PeriodMaster::find('LOCATE(node_id,"' . str_replace(',', '-', $classStudent->aggregate_key) . '" )' . " and user_type = 'staff'");
                                                    $valcnt = $monthlyPercent[$classStudent->loginid][$hvalue][$vvalue] ? ($monthlyPercent[$classStudent->loginid][$hvalue][$vvalue] / $noofperiods) : '';
                                                    $cnt = $valcnt ? $valcnt : 0;
                                                    $totalcnt[$vvalue] = $totalcnt[$vvalue] ? ($totalcnt[$vvalue] + $cnt) : $cnt;
                                                    ?>
                                                    <td><?= $valcnt; ?></td>
                                                    <?php
                                                }
                                            }
                                        } else {
                                            $cnt = ($monthlyPercent[$classStudent->loginid][$hvalue]['percent'] === '') ? $cnt : ($cnt + 1);
                                            $totalper += $monthlyPercent[$classStudent->loginid][$hvalue]['percent'];
                                            ?>
                                            <td><?= $monthlyPercent[$classStudent->loginid][$hvalue]['percent']; ?></td>
                                            <?php
                                        }
                                    }
                                }
                                ?>
                                <?php
                                if ($reptyp == 0) {
                                    if (count($valhead) > 0) {
                                        foreach ($valhead as $vvalue) {
                                            ?>
                                            <td><?= $totalcnt[$vvalue] ?></td>
                                            <?php
                                        }
                                    }
                                } else {
                                    ?>
                                    <td><?= ($cnt > 0) ? (round($totalper / $cnt,2)) : 0; ?></td>
                                <?php }
                                ?>
                            </tr>
                        <?php } ?>

                    </tbody>
                </table>

            </div>
            <div id="stfDailyAttBody" class="hide sub-panel"></div>
        </div>
    </section>
<?php } ?>
<script type="text/javascript">
    $('#stfDailyAttBody').niceScroll();
    $('#monthlystaffAtt').niceScroll();
    $(function () {
        $("#downloadStaffMnthlyAtt").click(function () {
            var uri = $("#stfMnthlyAttTable").battatech_excelexport({
                containerid: "stfMnthlyAttTable"
                , datatype: 'table',
                returnUri: true
            });
            $(this).attr('download', 'StaffMonthlyAttendanceReport_<?= date('d m Y', time()); ?>.xls').attr('href', uri).attr('target', '_blank');
        });
        $("#downloadStaffDailyAtt").click(function () {
            var uri = $("#stfDailyAttTable").battatech_excelexport({
                containerid: "stfDailyAttTable"
                , datatype: 'table',
                returnUri: true
            });
            $(this).attr('download', 'StaffDailyAttendanceReport_<?= date('d m Y', time()); ?>.xls').attr('href', uri).attr('target', '_blank');

        });
    });
</script>