
<?php
echo $this->tag->javascriptInclude("js/pageexpand/snap.svg-min.js");
echo $this->tag->stylesheetLink('fonts/BebasNeuewebfont/font.css');
$stfcount = StaffInfo::findFirst(array('columns' => 'count(*) as stfcount', 'status IN ("Appointed","Relieving initiated")'));
//print_r();exit;
?>

<div id="pagewrap" class="pagewrap">

    <div class="pg-container show" id="page-1">
        <!-- Top Navigation -->

        <section class="columns clearfix">
            <div class="column">

                <div class="col-md-12 panel">

                    <div class="text-center">

                        <svg version="1.1" id="Elements" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="1000px" height="1000px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve" style="margin-top:-200px;">
                            <g>
                                <path fill="#32B196" d="M361.813,389.983v-1.701h-32.686c-2.239-21.447-10.649-41.546-24.371-58.204l-0.943,0.944
                                      c13.254,16.159,21.955,36.188,24.122,58.11h0.014v0.851H361.813z"/>
                                <path fill="#ED7774" d="M77.514,409.852v1.701H110.2c2.239,21.446,10.649,41.547,24.372,58.204l0.944-0.943
                                      c-13.255-16.16-21.955-36.188-24.122-58.11h-0.014v-0.852H77.514z"/>
                                <a class="pageload-link white_font icon1" 
                                   title="Expense" href="#page-6" onclick="inventorycycleSettings.loadStockList()" style="cursor: pointer;"">
                                <text transform="matrix(1 0 0 1 368.3345 408.1455)" fill="#DBC921" font-family="'FontAwesome'" font-size="48"></text>
                                </a>
                                <path fill="#ED7774" d="M65.189,415.201"/>
                                <rect x="169.969" y="230.727" fill="none" width="100.548" height="39.415"/>
                                <text transform="matrix(1 0 0 1 179.9692 244.4067)" fill="#555555" font-family="BebasNeueRegular" font-size="18">Material IN</text>
                                <rect x="187.508" y="555.189" fill="none" width="100.548" height="39.414"/>
                                <text transform="matrix(1 0 0 1 177.5088 568.8691)" fill="#555555" font-family="BebasNeueRegular" font-size="18">Sales Expense </text>
                                <rect x="343.684" y="424.34" fill="none" width="112.632" height="17.604"/>
                                <text transform="matrix(1 0 0 1 363.6836 440.2998)" fill="#555555" font-family="BebasNeueRegular" font-size="21">INVENTORY</text>
                                <rect x="22.883" y="425.75" fill="none" width="112.632" height="17.604"/>
                                <text transform="matrix(1 0 0 1 28.8833 439.4297)" fill="#555555" font-family="BebasNeueRegular" font-size="18">Vendor </text>
                                <path fill="#32B196" d="M147.333,339.725l-11.263-9.351c-23.592,22.779-24.676,58.758-24.676,58.758l14.757,1.43
                                      C127.992,371.327,135.643,353.79,147.333,339.725z"/>
                                <path fill="#ED7774" d="M126.198,409.182l-14.805,1.521c2.255,35.816,24.122,58.11,24.122,58.11l11.611-9.574
                                      C135.66,445.348,128.118,428.096,126.198,409.182z"/>
                                <path fill="#ED7774" d="M182.876,485.658l-5.816,13.94c35.846,15.556,63.396,6.506,63.396,6.506l-3.025-15.054
                                      C218.584,494.859,199.671,492.676,182.876,485.658z"/>
                                <path fill="#ED7774" d="M227.578,492.99l1.274,14.657c0,0,36.912-1.567,58.961-24.137l-9.151-11.232
                                      C264.487,483.841,246.867,491.335,227.578,492.99z"/>
                                <path fill="#ED7774" d="M312.717,409.146c-1.931,19.105-9.603,36.513-21.259,50.48l11.798,9.835c0,0,23.98-25.001,24.677-58.758
                                      L312.717,409.146z"/>
                                <path fill="#32B196" d="M312.829,391.323l15.118-1.34c0,0-0.204-32.789-24.135-58.961l-11.622,9.448
                                      C303.687,354.594,311.149,372.128,312.829,391.323z"/>
                                <path fill="#32B196" d="M299.952,351.494l12.729-7.729c0,0-11.462-26.502-47.682-42.283l-6.146,13.426
                                      C276.407,322.919,290.474,335.866,299.952,351.494z"/>
                                <path fill="#32B196" d="M211.045,306.242l-1.316-14.609c0,0-32.671-0.048-58.96,24.136l9.278,11.323
                                      C174.185,315.495,191.776,307.956,211.045,306.242z"/>
                                <path fill="#32B196" d="M169.969,319.105l-7.797-12.424c0,0-29.143,14.772-41.606,48.248l13.403,5.885
                                      C141.313,344.067,153.573,329.37,169.969,319.105z"/>
                                <path fill="#32B196" d="M262.202,316.23l6.87-12.96c0,0-27.351-17.872-62.578-11.954l1.595,14.553
                                      C226.266,303.867,245.121,307.15,262.202,316.23z"/>
                                <path fill="#ED7774" d="M145.296,457.737l-11.661,9.249c21.171,28.977,51.598,36.003,51.598,36.003l4.637-14.317
                                      C172.729,483.132,157.09,472.648,145.296,457.737z"/>
                                <path fill="#ED7774" d="M251.083,487.336l4.652,13.958c0,0,35.531-10.122,51.719-37.206l-11.516-8.793
                                      C284.847,469.842,269.457,481.234,251.083,487.336z"/>
                            </g>
                             <a class="pageload-link white_font icon1" 
                                title="Expense" href="#page-2" onclick="inventorycycleSettings.loadVendorList()" style="cursor: pointer;">
                             
                            <text transform="matrix(1 0 0 1 36.3345 416.9482)" fill="#504F61" font-family="'FontAwesome'" font-size="36"></text>
                            </a>
                            <text transform="matrix(1 0 0 1 727.668 404)" fill="#504F61" font-family="'FontAwesome'" font-size="36"></text>
                           <a class="pageload-link white_font icon1" 
                                title="Expense" href="#page-2" onclick="inventorycycleSettings.movementinReport()" style="cursor: pointer;">
                            <text transform="matrix(1 0 0 1 202.3345 543.6689)" fill="#ED7774" font-family="'FontAwesome'" font-size="36"></text>
                           </a>
                            <a class="pageload-link white_font icon1" 
                                title="Expense" href="#page-2" onclick="inventorycycleSettings.movementoutReport()" style="cursor: pointer;">
                            <text transform="matrix(1 0 0 1 558.668 547.6689)" fill="#32B196" font-family="'FontAwesome'" font-size="36"></text>
                            </a>
                            <g>
                                <path fill="#ED7774" d="M715.496,392.983v-1.701h-32.686c-2.239-21.447-10.649-41.546-24.371-58.204l-0.943,0.944
                                      c13.254,16.159,21.954,36.188,24.121,58.11h0.014v0.851H715.496z"/>
                                <path fill="#32B196" d="M431.197,412.852v1.701h32.687c2.239,21.446,10.649,41.547,24.372,58.204l0.943-0.943
                                      c-13.255-16.16-21.955-36.188-24.122-58.11h-0.015v-0.852H431.197z"/>
                                <path fill="#ED7774" d="M418.873,418.201"/>
                                <rect x="516.672" y="233.727" fill="none" width="129.18" height="47.415"/>
                                <text transform="matrix(1 0 0 1 530.6719 247.4067)" fill="#555555" font-family="BebasNeueRegular" font-size="18">Material OUT</text>
                                <rect x="544.192" y="558.189" fill="none" width="100.549" height="39.414"/>
                                <text transform="matrix(1 0 0 1 535.1934 571.8691)" fill="#555555" font-family="BebasNeueRegular" font-size="18">Billing Details</text>
                                <g>
                                    <rect x="708.201" y="416.947" fill="none" width="112.633" height="17.604"/>
                                    <text transform="matrix(1 0 0 1 718.2012 430.627)" fill="#555555" font-family="BebasNeueRegular" font-size="18">Customer</text>
                                </g>
                                <path fill="#ED7774" d="M501.017,342.725l-11.263-9.351c-23.593,22.779-24.677,58.758-24.677,58.758l14.757,1.43
                                      C481.676,374.327,489.326,356.79,501.017,342.725z"/>
                                <path fill="#32B196" d="M479.882,412.182l-14.805,1.521c2.255,35.816,24.122,58.11,24.122,58.11l11.611-9.574
                                      C489.344,448.348,481.802,431.096,479.882,412.182z"/>
                                <path fill="#32B196" d="M536.561,488.658l-5.816,13.94c35.846,15.556,63.396,6.506,63.396,6.506l-3.025-15.054
                                      C572.268,497.859,553.355,495.676,536.561,488.658z"/>
                                <path fill="#32B196" d="M581.262,495.99l1.273,14.657c0,0,36.912-1.567,58.961-24.137l-9.15-11.232
                                      C618.171,486.841,600.551,494.335,581.262,495.99z"/>
                                <path fill="#32B196" d="M666.4,412.146c-1.931,19.105-9.602,36.513-21.258,50.48l11.798,9.835c0,0,23.979-25.001,24.677-58.758
                                      L666.4,412.146z"/>
                                <path fill="#ED7774" d="M666.513,394.323l15.118-1.34c0,0-0.203-32.789-24.135-58.961l-11.622,9.448
                                      C657.37,357.594,664.832,375.128,666.513,394.323z"/>
                                <path fill="#ED7774" d="M653.636,354.494l12.729-7.729c0,0-11.462-26.502-47.682-42.283l-6.146,13.426
                                      C630.091,325.919,644.157,338.866,653.636,354.494z"/>
                                <path fill="#ED7774" d="M564.729,309.242l-1.316-14.609c0,0-32.672-0.048-58.961,24.136l9.278,11.323
                                      C527.868,318.495,545.46,310.956,564.729,309.242z"/>
                                <path fill="#ED7774" d="M523.652,322.105l-7.797-12.424c0,0-29.143,14.772-41.605,48.248l13.402,5.885
                                      C494.996,347.067,507.256,332.37,523.652,322.105z"/>
                                <path fill="#ED7774" d="M615.886,319.23l6.87-12.96c0,0-27.352-17.872-62.578-11.954l1.594,14.553
                                      C579.949,306.867,598.805,310.15,615.886,319.23z"/>
                                <path fill="#32B196" d="M498.979,460.737l-11.661,9.249c21.171,28.977,51.598,36.003,51.598,36.003l4.637-14.317
                                      C526.413,486.132,510.773,475.648,498.979,460.737z"/>
                                <path fill="#32B196" d="M604.768,490.336l4.652,13.958c0,0,35.531-10.122,51.719-37.206l-11.516-8.793
                                      C638.531,472.842,623.141,484.234,604.768,490.336z"/>
                            </g>
                              <a class="pageload-link white_font icon1" 
                                 title="Expense" href="#page-3" onclick="inventorycycleSettings.loadPurchaseList()" style="cursor: pointer;">
                               <text transform="matrix(1 0 0 1 200.3345 409.1455)" fill="#504F61" font-family="'FontAwesome'" font-size="40"></text>
                               </a>
                             <a class=" white_font icon1"  title="Expense">
                              <text transform="matrix(1 0 0 1 558.1006 409.8516)" fill="#504F61" font-family="'FontAwesome'" font-size="40"></text>
                             </a>
                             <a class="pageload-link white_font icon1" 
                                 title="Expense" href="#page-4" onclick="inventorycycleSettings.loadMaterialinList()" style="cursor: pointer;">
                            <text transform="matrix(1 0 0 1 198.7676 278.8086)" fill="#32B196" font-family="'FontAwesome'" font-size="36"></text>
                             </a>
                            <a class="pageload-link white_font icon1" 
                                 title="Expense" href="#page-5" onclick="inventorycycleSettings.loadMaterialoutList()" style="cursor: pointer;">
                            <text transform="matrix(1 0 0 1 555.1016 281.1421)" fill="#ED7774" font-family="'FontAwesome'" font-size="36"></text>
                            </a>
                            <g>
                                <text transform="matrix(1 0 0 1 170.5083 436.3027)" fill="#555555" font-family="BebasNeueRegular" font-size="18">Purchase Order</text>
                            </g>
                            <g>
                                <text transform="matrix(1 0 0 1 553.1914 436.9971)" fill="#555555" font-family="BebasNeueRegular" font-size="18">Receipt</text>
                            </g>
                        </svg>






                    </div>
                </div>
        </section>
    </div><!-- /container -->

    <!-- The new page dummy; this would be dynamically loaded content -->
    
    <div class="pg-container" id="page-2">
        <p>
            <a class="pageload-link" href="#page-1"> 
                <span class="mini-stat-icon tar">
                    <i class="fa fa-reply"></i></span>
                <label class="control-label" style="margin-top:10px;">Go back</label>
            </a>
        </p>
        <div id="vendor"></div>

    </div><!-- /container -->

    <div class="pg-container" id="page-3">
        <p>
            <a class="pageload-link" href="#page-1"> 
                <span class="mini-stat-icon tar">
                    <i class="fa fa-reply"></i></span>
                <label class="control-label" style="margin-top:10px;">Go back</label>
            </a>
        </p>
        <div id="purchase"></div>
    </div>
    <div class="pg-container" id="page-4">
        <p>
            <a class="pageload-link" href="#page-1"> 
                <span class="mini-stat-icon tar">
                    <i class="fa fa-reply"></i></span>
                <label class="control-label" style="margin-top:10px;">Go back</label>
            </a>
        </p>
        <div id="materialin"></div>
    </div>

    <div class="pg-container" id="page-5">
        <p>
            <a class="pageload-link" href="#page-1"> 
                <span class="mini-stat-icon tar">
                    <i class="fa fa-reply"></i></span>
                <label class="control-label" style="margin-top:10px;">Go back</label>
            </a>
        </p>
        <div id="materialout"></div>
    </div>
    <div class="pg-container" id="page-6">
        <p>
            <a class="pageload-link" href="#page-1"> 
                <span class="mini-stat-icon tar">
                    <i class="fa fa-reply"></i></span>
                <label class="control-label" style="margin-top:10px;">Go back</label>
            </a>
        </p>
        <div id="stock"></div>
    </div>
    <div id="loader" class="pageload-overlay" data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
            <path d="M30,30 50,30 50,30 30,30 Z"/>
        </svg>
    </div><!-- /pageload-overlay -->

</div>

<script>


</script>

<?php
echo $this->tag->javascriptInclude("js/pageexpand/classie.js");
echo $this->tag->javascriptInclude("js/pageexpand/svgLoader.js");
?>
<script>
    $(document).ready(function () {

    });
    (function () {
        var pageWrap = document.getElementById('pagewrap'),
                pages = [].slice.call(pageWrap.querySelectorAll('div.pg-container')),
                currentPage = 0,
                triggerLoading = [].slice.call(pageWrap.querySelectorAll('a.pageload-link')),
                loader = new SVGLoader(document.getElementById('loader'), {speedIn: 100});

        function init() {
            triggerLoading.forEach(function (trigger) {
                trigger.addEventListener('click', function (ev) {
                    ev.preventDefault();

                    var $this = ev.target
                    console.log($($this).parents('a.pageload-link').attr('href'))
                    var cpage = $($this).parents('a.pageload-link').attr('href').split('-');
                    loader.show();
                    // after some time hide loader
                    setTimeout(function () {
                        loader.hide();
                        classie.removeClass(pages[ currentPage ], 'show');
                        // update..
                        currentPage = currentPage ? 0 : (cpage[1] - 1);
                        console.log(cpage[1] + currentPage)
                        console.log(pages[ currentPage ])
                        classie.addClass(pages[ currentPage ], 'show');

                    }, 2000);
                });
            });
        }

        init();
    })();
</script>


<script>
    $(function () {
        $('.date-reset').on('click', function () {
            $('#name').val('')
            $('#stfAppointTxt').html('Make a new appointment')
            $('#stfPayrollTxt').html('Staff payroll management')
            $('#stuEvalTxt').html('Staff Relieving management')
            $('#stuAcdTxt').html('Schedule and review staff performance')
            $('#Staffname').html('Staff')
            $('#staffLogin').html('DATABASE  <tspan fill="#E40E09" font-family="BebasNeueBold"> ( <?= $stfcount->stfcount ?> )</tspan>')
            $('#studb').attr('class', '')
            $('#stfpic').html('')
            $('#appoint_stf').attr('onclick', 'staffCycleSettings.loadAppointment()')

            $('#class_activity_stf').attr('class', 'pageload-link white_font hide')
            $('#class_activity').attr('class', '')

//            $('#menu-wrapper').attr('class', 'menu-wrapper')
//            $('#menu-wrapper1').attr('class', 'menu-wrapper1')
//            $('#menu-wrapper2').attr('class', 'menu-wrapper2')
//            $('#menu-wrapper3').attr('class', 'menu-wrapper3')

            $('#appoint_stf').attr('class', 'pageload-link white_font hide')
            $('#appoint_stf_indv').attr('class', '')

            $('#stf_relieve_icon').attr('class', 'hide')
            $('#relieve_icon').attr('class', '')
            $('#payroll').attr('class', 'menu-toggle-button2')
            $('#payroll_stf').attr('class', 'pageload-link white_font hide')

        });
        $('#name').typeahead({
            ajax: {url: commonSettings.searchAjaxurl + '/stfAutocomplt',
                dataType: "JSON",
                triggerLength: 1,
                loadingClass: 'ui-autocomplete-loading'
            },
            itemSelected: displayResult
        });

        function displayResult(item, val, text) {
            $('#selectedID').val(val);
            staffCycleSettings.loadstaff(val, 'search')
        }

<?php if ($staffId) { ?>
            staffCycleSettings.loadstaff(<?= $staffId ?>, 'myprofile')
<?php } ?>

        $('#stf_setng_list').hover(function () {
            $('.stf_setng').addClass('hide');
        });

        $('#stf_setng').hover(function () {
            $('.stf_setng').removeClass('hide');
        });

        $('#activ_stf_list').hover(function () {
            $('.activ_list').addClass('hide');
        });

        $('#activ_list').hover(function () {
            $('.activ_list').removeClass('hide');
        });

        $('#appoint_stf').hover(function () {
            $('.applcn_list').addClass('hide');
        });

        $('#applcn_list').hover(function () {
            $('.applcn_list').removeClass('hide');
        });

        $('#relieve_icon').hover(function () {
            $('.relive_appln_list').addClass('hide');
        });

        $('#relive_appln_list').hover(function () {
            $('.relive_appln_list').removeClass('hide');
        });

    });

    $("#appoint_stf .s-icon").mouseover(function () {
        $("#appoint_stf .s-icon").css("fill", "#0097A7");
    });

    $("#appoint_stf .s-icon").mouseout(function () {
        $("#appoint_stf .s-icon").css("fill", "#00BCD4");
    });


    $("#class_activity_stf .s-icon").mouseover(function () {
        $("#class_activity_stf .s-icon").css("fill", "#00796B");
    });

    $("#class_activity_stf .s-icon").mouseout(function () {
        $("#class_activity_stf .s-icon").css("fill", "#32B196");
    });


//    $("#stf_relieve_icon .s-icon").mouseover(function() {
//        $("#stf_relieve_icon .s-icon").css("fill", "#B71C1C");
//    });
//
//    $("#stf_relieve_icon .s-icon").mouseout(function() {
//        $("#stf_relieve_icon .s-icon").css("fill", "#ED7774");
//    });


    $("#payroll_stf .s-icon").mouseover(function () {
        $("#payroll_stf .s-icon").css("fill", "#757575");
    });

    $("#payroll_stf .s-icon").mouseout(function () {
        $("#payroll_stf .s-icon").css("fill", "#98AAA9");
    });

</script>
