
<?php
echo $this->tag->javascriptInclude("js/extra/pageexpand/snap.svg-min.js");
echo $this->tag->stylesheetLink('fonts/BebasNeuewebfont/font.css');
$currectacdyr = ControllerBase::get_current_academic_year();
$stucount = StudentMapping::findFirst(array('columns' => 'count(*) as stucount', 'status != "Relieved" and find_in_set (' . $currectacdyr->id . ', aggregate_key)'));


//print_r();exit;
?>

<div id="pagewrap" class="pagewrap ">

    <div class="pg-container show studentcycle" id="page-1">
        <!-- Top Navigation -->

        <section class="columns clearfix">

            <div class="col-md-12 panel">

                <div class="text-center">

                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="800px"
                         height="800px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve">
                        <path fill="#32B196" d="M387.75,264.028l-1.917-21.276c0,0-47.583-0.07-85.87,35.151l13.512,16.492
                              C334.066,277.504,359.687,266.524,387.75,264.028z"></path>
                        <g id="Background">
                            <radialGradient id="SVGID_1_" cx="400" cy="400" r="400" gradientUnits="userSpaceOnUse">
                                <stop  offset="0" style="stop-color:#FFFFFF"/>
                                <stop  offset="1" style="stop-color:#ffffff"/>
                            </radialGradient>
                            <rect fill="url(#SVGID_1_)" width="800" height="800"/>
                        </g>
                        <g id="Elements">
                            <g>
                                <path display="none" fill="#504F61" d="M500.709,277.836l0.876,0.876l34.513-34.513h105.506v-2.477H534.759v0.413l-0.05-0.05
                                      l-33.662,33.662c-24.392-19.781-53.751-31.819-85.037-34.842v1.869c31.927,3.156,61.097,15.827,84.631,35.131L500.709,277.836z"/>
                                <path display="none" fill="#504F61" d="M299.895,523.078l-0.876-0.875l-34.513,34.512H158.999v2.478h106.846v-0.413l0.05,0.05
                                      l33.662-33.661c24.392,19.78,53.751,31.819,85.038,34.842v-1.868c-31.927-3.156-61.098-15.827-84.632-35.131L299.895,523.078z"/>
                                <path fill="#ED7774" d="M607.328,385.988v-2.477h-47.604c-3.261-31.235-15.509-60.508-35.494-84.768l-1.374,1.375
                                      c19.304,23.535,31.975,52.705,35.131,84.632h0.02v1.239H607.328z"/>
                                <path fill="#32B196" d="M383.355,241.036c-31.235,3.261-60.507,15.508-84.768,35.494l1.375,1.375
                                      c23.534-19.304,52.705-31.975,84.632-35.131v-0.021h1.238v-49.322h-2.477V241.036z"/>
                                <path display="none" fill="#98AAA9" d="M275.591,299.712c-19.781,24.392-31.819,53.751-34.842,85.038h1.868
                                      c3.157-31.927,15.827-61.097,35.131-84.632l-0.068-0.068l0.875-0.875l-34.875-34.875l-0.455,0.455v-0.817H136.38v2.477h105.912
                                      L275.591,299.712z"/>
                                <path fill="#00BCD4" d="M193.275,414.926v2.478h47.604c3.261,31.234,15.509,60.508,35.494,84.768l1.375-1.374
                                      c-19.304-23.535-31.975-52.705-35.131-84.632h-0.02v-1.239H193.275z"/>
                                <path display="none" fill="#98AAA9" d="M558.312,534.501l-33.299-33.298c19.78-24.393,31.819-53.752,34.842-85.038h-1.868
                                      c-3.156,31.927-15.827,61.097-35.132,84.632l0.068,0.067l-0.876,0.876l34.876,34.875l0.05-0.05v0.413h106.846v-2.478H558.312z"/>
                                <g display="none">
                                    <path display="inline" fill="#32B196" d="M419.854,618.344c0,2.738-2.225,4.962-4.963,4.962c-2.729,0-4.954-2.224-4.954-4.962
                                          c0-2.739,2.225-4.954,4.954-4.954C417.63,613.39,419.854,615.604,419.854,618.344L419.854,618.344z M419.854,618.344"/>
                                    <path display="inline" fill="#32B196" d="M432.24,631.975l-4.614-0.961c-1.573-0.327-3.131,0.392-3.947,1.674
                                          c-0.802-0.41-1.655-0.766-2.57-1.059v-2.739c0-2.08-1.698-3.778-3.772-3.778h-4.721c-2.081,0-3.779,1.698-3.779,3.778v2.757
                                          c-0.898,0.285-1.753,0.64-2.552,1.05c-0.817-1.281-2.374-2.01-3.947-1.683l-4.625,0.961c-2.026,0.428-3.342,2.438-2.925,4.473
                                          l1.166,5.551c0.417,2.025,2.436,3.342,4.464,2.916l1.458-0.303c0.739,1.086,1.752,2.071,3.041,2.925
                                          c2.704,1.771,6.27,2.738,10.057,2.738c5.799,0,10.788-2.328,13.081-5.673l1.486,0.313c2.035,0.426,4.045-0.891,4.464-2.916
                                          l1.163-5.551C435.593,634.413,434.269,632.402,432.24,631.975L432.24,631.975z M414.971,648.39c-3.423,0-6.624-0.862-9.017-2.436
                                          c-0.817-0.542-1.502-1.139-2.044-1.769l1.12-0.241c2.037-0.419,3.353-2.427,2.925-4.465l-1.04-4.978
                                          c0.605-0.33,1.245-0.615,1.921-0.863v0.915c0,2.071,1.698,3.77,3.779,3.77h4.721c2.074,0,3.772-1.698,3.772-3.77v-0.961
                                          c0.683,0.251,1.334,0.526,1.938,0.845l-1.059,5.042c-0.417,2.038,0.898,4.046,2.927,4.474l1.139,0.232
                                          C423.936,646.683,419.766,648.39,414.971,648.39L414.971,648.39z M414.971,648.39"/>
                                    <g display="inline">
                                        <defs>
                                            <rect id="SVGID_2_" x="393.755" y="613.39" width="43.161" height="38.699"/>
                                        </defs>
                                        <clipPath id="SVGID_3_">
                                            <use xlink:href="#SVGID_2_"  overflow="visible"/>
                                        </clipPath>
                                        <path clip-path="url(#SVGID_3_)" fill="#32B196" d="M436.189,624.86c0,2.739-2.215,4.954-4.953,4.954
                                              c-2.739,0-4.954-2.215-4.954-4.954c0-2.738,2.215-4.953,4.954-4.953C433.975,619.907,436.189,622.122,436.189,624.86
                                              L436.189,624.86z M436.189,624.86"/>
                                        <path clip-path="url(#SVGID_3_)" fill="#32B196" d="M399.73,629.707c2.677-0.56,4.394-3.182,3.834-5.859
                                              c-0.563-2.686-3.185-4.402-5.871-3.843c-2.675,0.563-4.392,3.185-3.832,5.871C394.422,628.551,397.044,630.268,399.73,629.707
                                              L399.73,629.707z M399.73,629.707"/>
                                    </g>
                                </g>
                                <g display="none">
                                    <path display="inline" fill="#98AAA9" d="M121.547,299.66c-0.471-1.526-0.707-3.173-0.707-4.816
                                          c0-7.166,4.817-13.274,11.514-15.273v2l8.812-4.466l-8.812-4.464v3.173c-8.577,2.231-15.038,9.867-15.038,19.031
                                          c0,1.292,0.118,2.586,0.354,3.759l0.351-1.879L121.547,299.66z M121.547,299.66"/>
                                    <path display="inline" fill="#98AAA9" d="M150.33,297.663l-0.589,9.87l8.226-5.403l-2.702-1.647
                                          c0.586-1.762,0.822-3.642,0.822-5.639c0-8.459-5.521-15.624-13.041-18.327l1.409,1.058l-4.229,1.762
                                          c7.048,1.644,12.336,7.988,12.336,15.507c0,1.292-0.236,2.583-0.471,3.759L150.33,297.663z M150.33,297.663"/>
                                    <path display="inline" fill="#98AAA9" d="M148.45,305.535c-2.937,3.173-7.05,5.17-11.75,5.17c-4.228,0-8.105-1.765-10.925-4.466
                                          l1.762-0.939l-8.223-5.404l0.586,9.867l2.702-1.644c3.526,3.759,8.577,6.107,14.098,6.107c4.817,0,9.166-1.762,12.572-4.699
                                          l-1.408,0.472L148.45,305.535z M148.45,305.535"/>
                                    <path display="inline" fill="#98AAA9" d="M135.41,283.801v2.583c-2.938,0.589-4.582,2.469-4.582,4.817
                                          c0,2.586,1.998,3.995,4.817,4.935c1.998,0.707,2.82,1.293,2.82,2.351c0,1.056-1.06,1.645-2.587,1.645
                                          c-1.762,0-3.288-0.589-4.463-1.176l-0.822,3.173c1.058,0.586,2.82,1.057,4.582,1.172v2.586h2.702v-2.82
                                          c3.056-0.586,4.817-2.583,4.817-4.935c0-2.466-1.293-3.877-4.464-5.05c-2.351-0.822-3.29-1.411-3.29-2.351
                                          c0-0.704,0.588-1.526,2.351-1.526c1.998,0,3.17,0.588,3.877,0.94l0.822-3.056c-0.94-0.468-2.116-0.822-3.877-0.939v-2.349
                                          L135.41,283.801z M135.41,283.801"/>
                                </g>
                                <path fill="#98AAA9" d="M416.161,559.071c31.234-3.261,60.508-15.509,84.768-35.494l-1.374-1.374
                                      c-23.535,19.304-52.705,31.975-84.632,35.131v0.021h-1.239v49.321h2.478V559.071z"/>
                                <g display="none">
                                    <path display="inline" fill="#504F61" d="M660.665,255.441h-16.901c0.188-0.343,0.317-0.717,0.317-1.144
                                          c0-1.371-1.108-2.477-2.477-2.477c-1.369,0-2.487,1.106-2.487,2.477c0,0.427,0.142,0.801,0.317,1.144h-16.892
                                          c-1.257,0-2.281,1.035-2.281,2.281v25.143c0,1.256,1.024,2.281,2.281,2.281h13.819l-2.691,9.471
                                          c-0.187,0.65,0.214,1.294,0.884,1.414l1.062,0.205c0.682,0.131,1.38-0.308,1.565-0.958l2.868-10.131h3.108l2.87,10.131
                                          c0.187,0.651,0.894,1.089,1.563,0.958l1.062-0.205c0.67-0.119,1.061-0.763,0.875-1.414l-2.683-9.471h13.819
                                          c1.249,0,2.281-1.025,2.281-2.281v-25.143C662.946,256.476,661.924,255.441,660.665,255.441L660.665,255.441z M658.608,280.706
                                          h-34.008v-21.288h34.008V280.706z M658.608,280.706"/>
                                    <path display="inline" fill="#504F61" d="M628.605,277.13c0.977,0,1.769-0.792,1.769-1.769c0-0.179-0.055-0.336-0.103-0.494
                                          c2.255-1.826,6.248-5.03,8.064-6.436c0.288,0.205,0.624,0.346,0.996,0.346c0.317,0,0.596-0.103,0.847-0.243
                                          c1.175,0.997,3.158,2.682,4.572,3.883c-0.017,0.103-0.064,0.195-0.064,0.298c0,0.978,0.801,1.769,1.778,1.769
                                          s1.769-0.792,1.769-1.769c0-0.167-0.055-0.327-0.103-0.484l4.572-4.124c0.243,0.129,0.513,0.222,0.801,0.222
                                          c0.978,0,1.771-0.792,1.771-1.769c0-0.977-0.794-1.769-1.771-1.769c-0.968,0-1.759,0.792-1.759,1.769
                                          c0,0.234,0.048,0.458,0.131,0.661c-1.275,1.146-3.252,2.925-4.47,4.033c-0.279-0.176-0.596-0.307-0.941-0.307
                                          c-0.42,0-0.782,0.167-1.09,0.41c-1.163-0.997-3.054-2.598-4.396-3.735c0.076-0.195,0.122-0.391,0.122-0.603
                                          c0-0.98-0.792-1.771-1.76-1.771c-0.978,0-1.769,0.792-1.769,1.771c0,0.212,0.045,0.417,0.119,0.603l-8.11,6.305
                                          c-0.278-0.186-0.605-0.327-0.977-0.327c-0.978,0-1.77,0.792-1.77,1.762C626.836,276.338,627.628,277.13,628.605,277.13
                                          L628.605,277.13z M628.605,277.13"/>
                                </g>
                                <g display="none">
                                    <g display="inline">
                                        <defs>
                                            <rect id="SVGID_4_" x="644.823" y="546.188" width="37.989" height="36.066"/>
                                        </defs>
                                        <clipPath id="SVGID_5_">
                                            <use xlink:href="#SVGID_4_"  overflow="visible"/>
                                        </clipPath>
                                        <path clip-path="url(#SVGID_5_)" fill="#98AAA9" d="M680.701,565.848c0.336-0.431,0.501-0.985,0.353-1.557l-4.422-16.751
                                              c-0.259-0.97-1.253-1.549-2.215-1.29l-28.239,7.443c-0.964,0.259-1.551,1.252-1.293,2.222l4.414,16.749
                                              c0.259,0.964,1.253,1.543,2.225,1.293l9.979-2.631v5.604c0,3.141,5.197,4.783,10.331,4.783c5.143,0,10.349-1.643,10.349-4.783
                                              v-8.499C682.182,567.404,681.616,566.545,680.701,565.848L680.701,565.848z M677.501,560.079l0.461,1.737l-5.612,1.486
                                              l-0.461-1.745L677.501,560.079z M674.245,549.043l0.876,3.32l-8.767,2.316l-0.876-3.326L674.245,549.043z M670.308,561.973
                                              l0.453,1.707c-2.082,0.094-4.102,0.455-5.721,1.072l-0.345-1.299L670.308,561.973z M650.764,568.993l-0.455-1.745l5.612-1.479
                                              l0.463,1.745L650.764,568.993z M657.502,565.354l5.612-1.486l0.423,1.604c-0.14,0.078-0.267,0.165-0.391,0.251l-5.182,1.368
                                              L657.502,565.354z M680.302,576.798c0,1.823-3.788,3.31-8.469,3.31c-4.673,0-8.46-1.486-8.46-3.31v-2.065
                                              c0-0.064,0.038-0.127,0.046-0.196c0.267,1.736,3.913,3.115,8.414,3.115c4.508,0,8.156-1.379,8.423-3.115
                                              c0.008,0.069,0.046,0.132,0.046,0.196V576.798z M680.302,572.742c0,1.825-3.788,3.313-8.469,3.313
                                              c-4.673,0-8.46-1.487-8.46-3.313v-2.058c0-0.07,0.038-0.132,0.046-0.196c0.267,1.731,3.913,3.107,8.414,3.107
                                              c4.508,0,8.156-1.376,8.423-3.107c0.008,0.064,0.046,0.126,0.046,0.196V572.742z M671.833,571.734
                                              c-4.673,0-8.46-1.48-8.46-3.304c0-1.832,3.787-3.311,8.46-3.311c4.681,0,8.469,1.479,8.469,3.311
                                              C680.302,570.254,676.514,571.734,671.833,571.734L671.833,571.734z M671.833,571.734"/>
                                    </g>
                                </g>
                                <g display="none">
                                    <path display="inline" fill="#504F61" d="M158.995,582.424c-7.116,0-12.89,5.764-12.89,12.89c0,4.333,2.159,8.147,5.451,10.483
                                          h14.887c3.282-2.336,5.438-6.15,5.438-10.483C171.893,588.197,166.119,582.424,158.995,582.424L158.995,582.424z
                                          M158.995,603.627c-0.749,0-1.35-2.234-1.35-4.994s0.601-5.005,1.35-5.005s1.359,2.245,1.359,5.005
                                          S159.744,603.627,158.995,603.627L158.995,603.627z M158.995,603.627"/>
                                    <path display="inline" fill="#504F61" d="M151.594,616.429h3.489c0.464,1.092,2,1.919,3.912,1.919
                                          c1.92,0,3.448-0.827,3.912-1.919h3.497v-9.116h-14.81V616.429z M153.221,609.244h11.558v1.635h-11.558V609.244z M153.221,612.517
                                          h11.558v1.634h-11.558V612.517z M153.221,612.517"/>
                                    <path display="inline" fill="#504F61" d="M157.368,571.319h3.271v7.696h-3.271V571.319z M140.47,580.314l2.306-2.315l5.449,5.431
                                          l-2.306,2.323L140.47,580.314z M169.773,583.438l5.438-5.448l2.315,2.315l-5.438,5.448L169.773,583.438z M169.773,583.438"/>
                                </g>
                                <g display="none">
                                    <path display="inline" fill="#32B196" d="M400.696,160.675c0,0-0.21-2.465-1.833-3.83c-0.91-0.768-1.777-0.867-2.397-0.811v4.651
                                          h-1.112v-5.098c-0.333-0.711-1-1.831-2.056-2.243c-1.043-0.433-2.121-0.321-2.786-0.199v5.254h-1.101v-5.9
                                          c-0.478-0.565-1.322-1.231-2.809-1.319c-0.799-0.057-1.51,0.264-2.078,0.62l-0.111,5.044h-1.109l0.031-9.152
                                          c3.6-1.12,6.221-4.441,6.221-8.408c0-4.887-3.966-8.851-8.851-8.851c-4.888,0-8.843,3.963-8.843,8.851
                                          c0,3.822,2.434,7.051,5.832,8.285v15.539c0,0-2.866-6.153-5.286-6.963c-2.434-0.81-3.943,0.643-3.943,0.643
                                          s2.755,5.109,4.777,10.773c1.299,3.645,1.686,7.876,2.832,9.963c2.92,5.342,6.642,5.896,11.128,5.896
                                          c4.486,0,10.574,0.424,12.194-3.31C401.018,176.393,400.696,160.675,400.696,160.675L400.696,160.675z M375.673,139.274
                                          c0-2.775,2.255-5.03,5.033-5.03c2.786,0,5.041,2.255,5.041,5.03c0,1.822-0.966,3.389-2.388,4.276l0.012-3.255
                                          c0,0-0.654-3.398-2.755-3.398c-2.11,0-2.92,2.912-2.92,2.912v3.486C376.472,142.385,375.673,140.929,375.673,139.274
                                          L375.673,139.274z M375.673,139.274"/>
                                </g>
                                <g display="none">
                                    <path display="inline" fill="#ED7774" d="M660.115,379.625c-0.376-8.98-7.069-16.125-15.287-16.125
                                          c-8.229,0-14.912,7.145-15.298,16.115c-1.206,0.321-2.092,1.404-2.092,2.705v6.985c0,1.554,1.255,2.809,2.809,2.809
                                          c1.557,0,2.809-1.255,2.809-2.809v-0.538c1.329,6.184,4.553,14.185,11.772,14.185c7.209,0,10.433-7.991,11.762-14.175v0.528
                                          c0,1.245,0.802,2.28,1.914,2.649c-0.075,1.421-0.85,8.896-8.153,12.016c-0.451-0.282-1.019-0.387-1.563-0.179l-3.214,1.188
                                          c-0.934,0.35-1.404,1.385-1.066,2.318c0.35,0.934,1.385,1.414,2.318,1.063l3.214-1.187c0.707-0.254,1.151-0.905,1.178-1.603
                                          c8.182-3.619,9.031-12.262,9.106-13.627c1.093-0.379,1.884-1.414,1.884-2.64v-6.985
                                          C662.207,381.029,661.313,379.937,660.115,379.625L660.115,379.625z M644.828,368.825c-6.39,0-11.659,5.079-12.479,11.649
                                          c-0.217-0.246-0.48-0.454-0.763-0.613c0.264-7.822,6.078-14.081,13.242-14.081c7.153,0,12.969,6.259,13.241,14.081
                                          c-0.292,0.16-0.545,0.367-0.772,0.613C656.477,373.904,651.217,368.825,644.828,368.825L644.828,368.825z M644.828,368.825"/>
                                </g>
                                <path display="none" fill="#ED7774" d="M179.26,407.162c-1.263-3.076-3.655-4.637-7.107-4.637h-4.146
                                      c0.7-1.578,1.48-3.873,1.48-6.634c0-0.763-0.061-1.542-0.202-2.349c-0.543-3.206-2.733-4.915-5.854-4.574
                                      c-1.236,0.141-1.655,1.314-2.681,4.155c-0.851,2.358-2.017,5.582-3.7,8.175c-1.245,1.902-3.453,3.41-5.301,4.339v-0.238h-13.663
                                      v20.288h13.663v-1.113c2.147-0.105,3.375-0.042,3.664,0.045l2.437,1.421l1.831,1.137c1.77,0.956,9.535,1.053,12.864,0.562
                                      c4.288-0.631,5.319-4.135,5.364-4.285C178.242,422.287,181.188,411.849,179.26,407.162L179.26,407.162z M175.325,422.716
                                      c-0.018,0.069-0.648,1.999-3.163,2.358c-3.585,0.533-10.228,0.211-11.21-0.263c0,0.009-1.62-1.017-1.62-1.017l-3.076-1.728
                                      c-0.711-0.235-2.324-0.263-4.505-0.166v-13.364c2.199-0.895,5.609-2.804,7.554-5.774c1.857-2.858,3.085-6.248,3.978-8.729
                                      c0,0,0.781-1.963,0.974-2.418c1.36,0.009,2.111,0.753,2.392,2.375c0.115,0.64,0.16,1.27,0.16,1.874
                                      c0,4.022-2.069,7.222-2.104,7.267l-1.357,2.077h8.808c2.347,0,3.776,0.92,4.626,2.979
                                      C178.112,411.42,176.176,419.772,175.325,422.716L175.325,422.716z M175.325,422.716"/>
                                <g>
                                    <rect x="211.861" y="136.027" fill="none" width="201.969" height="57.404"/>
                                    <text transform="matrix(1 0 0 1 211.8608 164.0269)" fill="#424242" font-family="'BebasNeueRegular'" font-size="35">Academic</text>
                                </g>
                                <g>
                                    <rect x="452.636" y="615.983" fill="none" width="146.438" height="57.404"/>
                                    <text transform="matrix(1 0 0 1 485.6357 643.9844)" font-size="35" font-family="BebasNeueRegular" fill="#424242">Fee</text>
                                </g>
                                <rect x="181.882" y="595.459" fill="none" width="146.438" height="22.889"/>
                                <text transform="matrix(1 0 0 1 181.8818 602.4932)" display="none"><tspan x="0" y="0" display="inline" fill="#A8A8A9" font-family="'OpenSans-Light'" font-size="9.9087">LoLorem ipsum dolor sit amet, </tspan><tspan x="0" y="11.891" display="inline" fill="#A8A8A9" font-family="'OpenSans-Light'" font-size="9.9087">consectetur adipiscing elit, sed </tspan></text>
                                <rect x="500.913" y="556.614" fill="none" width="164.037" height="25.64"/>
                                <text transform="matrix(1 0 0 1 500.9131 563.6504)" display="none"><tspan x="0" y="0" display="inline" fill="#A8A8A9" font-family="'OpenSans-Light'" font-size="9.9087">LoLorem ipsum dolor sit amet, </tspan><tspan x="0" y="11.891" display="inline" fill="#A8A8A9" font-family="'OpenSans-Light'" font-size="9.9087">consectetur adipiscing elit, sed </tspan></text>
                                <g>
                                    <rect x="577.22" y="241.095" fill="none" width="216.286" height="147.296"/>
                                    <text transform="matrix(1 0 0 1 590.2197 323.0952)"><tspan x="0" y="0"  fill="#424242" font-family="'BebasNeueRegular'" font-size="35">Level Out</tspan></text>
                                </g>
                                <rect x="89.789" y="453.334" fill="none" width="206.974" height="105.02"/>
                                <!--<text transform="matrix(1 0 0 1 89.7881 481.334)" fill="#424242" font-family="'BebasNeueRegular'" font-size="35">Admission</text>-->
                                <text transform="matrix(1 0 0 1 99.7881 481.334)" fill="#424242" font-family="'BebasNeueRegular'" font-size="35">Admission</text>
                                <rect x="536.375" y="211.946" fill="none" width="146.438" height="22.889"/>
                                <text transform="matrix(1 0 0 1 536.375 218.9805)" display="none"><tspan x="0" y="0" display="inline" fill="#A8A8A9" font-family="'OpenSans-Light'" font-size="9.9087">LoLorem ipsum dolor sit amet, </tspan><tspan x="0" y="11.89" display="inline" fill="#A8A8A9" font-family="'OpenSans-Light'" font-size="9.9087">consectetur adipiscing elit, sed </tspan></text>
                                <rect x="106.69" y="233.959" fill="none" width="146.438" height="22.889"/>
                                <text transform="matrix(1 0 0 1 106.6904 240.9946)" display="none"><tspan x="0" y="0" display="inline" fill="#A8A8A9" font-family="'OpenSans-Light'" font-size="9.9087">LoLorem ipsum dolor sit amet, </tspan><tspan x="0" y="11.89" display="inline" fill="#A8A8A9" font-family="'OpenSans-Light'" font-size="9.9087">consectetur adipiscing elit, sed </tspan></text>
                                <g display="none">
                                    <rect display="inline" fill="#32B196" width="200" height="13.11"/>
                                    <rect x="200" display="inline" fill="#ED7774" width="200" height="13.11"/>
                                    <rect x="400" display="inline" fill="#98AAA9" width="200" height="13.11"/>
                                    <rect x="600" display="inline" fill="#504F61" width="200" height="13.11"/>
                                </g>
                                <g display="none">
                                    <rect y="786.891" display="inline" fill="#32B196" width="200" height="13.109"/>
                                    <rect x="200" y="786.891" display="inline" fill="#ED7774" width="200" height="13.109"/>
                                    <rect x="400" y="786.891" display="inline" fill="#98AAA9" width="200" height="13.109"/>
                                    <rect x="600" y="786.891" display="inline" fill="#504F61" width="200" height="13.109"/>
                                </g>
                                <path fill="#32B196" d="M294.959,312.792l-16.403-13.618c-34.36,33.176-35.939,85.575-35.939,85.575l21.493,2.083
                                      C266.792,358.818,277.935,333.276,294.959,312.792z"/>
                                <path fill="#00BCD4" d="M264.179,413.125l-23.562,2.215c3.284,52.164,35.131,84.632,35.131,84.632l16.911-13.943
                                      C277.959,466.621,266.975,441.496,264.179,413.95z"/>
                                <path fill="#00BCD4" d="M313.033,505.243l-14.014,16.959c43.352,35.87,85.576,35.939,85.576,35.939l2.168-22.258
                                      C368.886,533.201,333.458,522.142,313.033,505.243z"/>
                                <path fill="#98AAA9" d="M411.828,536.009l1.855,21.346c0,0,53.758-2.282,85.871-35.152l-13.327-16.358
                                      C465.583,522.683,439.921,533.598,411.828,536.009z"/>
                                <path fill="#98AAA9" d="M535.825,413.897c-2.813,27.824-13.985,53.177-30.961,73.519l17.183,14.324
                                      c0,0,34.925-36.411,35.939-85.575L535.825,413.897z"/>
                                <path fill="#ED7774" d="M535.988,387.941l22.018-1.953c0,0-0.296-47.753-35.15-85.871l-15.926,13.761
                                      C522.673,334.448,533.541,359.985,535.988,387.941z"/>
                                <path fill="#ED7774" d="M487.657,296.34l13.928-16.628c0,0-28.233-31.166-85.575-35.939l-2.179,21.396
                                      C441.792,266.982,467.259,278.237,487.657,295.34z"/>
                                <path fill="#32B196" d="M387.75,264.028l-1.916-21.276c0,0-45.583-0.07-85.87,35.151l13.512,16.492
                                      C339.086,277.504,359.687,266.524,387.75,264.028z"/>

                                <!--<text transform="matrix(1 0 0 1 404.2798 452.373)" fill="#424242" id="Studentname"
                                      font-family="'BebasNeueBold'" font-size="30" text-anchor="middle">STUDENT</text>
                                <text transform="matrix(1 0 0 1 350.4658 481.9102)" fill="#424242"  id="studentLogin"
                                      font-family="'BebasNeueBook'" font-size="23.1902">DATABASE <tspan fill="#E40E09" font-family="'BebasNeueBold'"> ( <?= $stucount->stucount ?> )</tspan></text>-->

                                <text transform="matrix(1 0 0 1 398.2798 464.373)" fill="#424242" id="Studentname"
                                      font-family="'BebasNeueBold'" font-size="30" text-anchor="middle">STUDENT</text>
                                <text transform="matrix(1 0 0 1 398.4658 489.9102)" fill="#424242"  id="studentLogin"
                                      font-family="'BebasNeueBook'" font-size="23.1902" text-anchor="middle">DATABASE <tspan fill="#E40E09" font-family="'BebasNeueBold'"> ( <?= $stucount->stucount ?> )</tspan></text>
                                <g display="none">
                                    <g display="inline">
                                        <g>
                                            <path fill="#606060" d="M302.235,774.454v-0.202c-0.272,0.314-0.541,0.567-0.808,0.764c-0.265,0.196-0.552,0.344-0.862,0.445
                                                  c-0.31,0.101-0.648,0.153-1.015,0.153c-0.486,0-0.936-0.103-1.35-0.309c-0.414-0.206-0.772-0.5-1.074-0.882
                                                  c-0.303-0.38-0.532-0.83-0.688-1.347c-0.157-0.515-0.234-1.072-0.234-1.673c0-1.269,0.31-2.257,0.93-2.968
                                                  c0.62-0.708,1.435-1.063,2.447-1.063c0.585,0,1.078,0.102,1.48,0.304c0.402,0.198,0.792,0.509,1.174,0.924v-2.997
                                                  c0-0.416,0.083-0.73,0.249-0.945c0.166-0.211,0.403-0.32,0.71-0.32c0.308,0,0.545,0.1,0.711,0.296
                                                  c0.166,0.195,0.249,0.484,0.249,0.864v8.956c0,0.386-0.089,0.676-0.268,0.868c-0.179,0.194-0.41,0.292-0.692,0.292
                                                  c-0.278,0-0.506-0.1-0.687-0.301C302.326,775.111,302.235,774.824,302.235,774.454z M298.242,771.472
                                                  c0,0.552,0.085,1.018,0.256,1.405c0.171,0.385,0.407,0.677,0.703,0.872c0.296,0.198,0.622,0.295,0.975,0.295
                                                  c0.356,0,0.682-0.091,0.977-0.278c0.295-0.186,0.53-0.47,0.707-0.855c0.175-0.384,0.263-0.864,0.263-1.438
                                                  c0-0.543-0.088-1.005-0.263-1.396c-0.177-0.387-0.415-0.685-0.714-0.891c-0.3-0.205-0.628-0.309-0.985-0.309
                                                  c-0.372,0-0.704,0.104-0.996,0.316c-0.292,0.211-0.52,0.513-0.68,0.907C298.322,770.495,298.242,770.951,298.242,771.472z"/>
                                            <path fill="#606060" d="M311.858,771.984h-3.971c0.005,0.462,0.096,0.868,0.279,1.22c0.182,0.352,0.421,0.615,0.721,0.795
                                                  s0.631,0.268,0.993,0.268c0.243,0,0.465-0.027,0.665-0.084c0.2-0.056,0.395-0.147,0.583-0.268
                                                  c0.188-0.123,0.362-0.253,0.521-0.391c0.158-0.139,0.364-0.328,0.617-0.565c0.104-0.09,0.252-0.135,0.446-0.135
                                                  c0.208,0,0.376,0.058,0.505,0.17c0.129,0.114,0.194,0.275,0.194,0.485c0,0.183-0.072,0.396-0.215,0.644
                                                  c-0.145,0.245-0.361,0.48-0.651,0.705c-0.29,0.225-0.654,0.414-1.094,0.563c-0.439,0.147-0.942,0.223-1.513,0.223
                                                  c-1.304,0-2.317-0.372-3.042-1.117c-0.723-0.743-1.085-1.751-1.085-3.025c0-0.599,0.09-1.157,0.268-1.669
                                                  c0.178-0.514,0.439-0.955,0.781-1.321c0.342-0.363,0.763-0.647,1.264-0.844c0.5-0.195,1.056-0.294,1.667-0.294
                                                  c0.792,0,1.473,0.168,2.04,0.501c0.569,0.337,0.992,0.768,1.277,1.299c0.283,0.529,0.423,1.07,0.423,1.62
                                                  c0,0.512-0.147,0.843-0.439,0.996C312.799,771.909,312.389,771.984,311.858,771.984z M307.887,770.831h3.681
                                                  c-0.049-0.692-0.237-1.212-0.562-1.557c-0.324-0.344-0.752-0.517-1.282-0.517c-0.505,0-0.921,0.173-1.246,0.524
                                                  C308.154,769.63,307.956,770.146,307.887,770.831z"/>
                                            <path fill="#606060" d="M321.778,772.959c0,0.56-0.138,1.04-0.41,1.439c-0.272,0.398-0.675,0.701-1.208,0.907
                                                  c-0.531,0.206-1.182,0.309-1.944,0.309c-0.729,0-1.354-0.114-1.874-0.335c-0.522-0.223-0.905-0.503-1.153-0.837
                                                  c-0.247-0.335-0.372-0.669-0.372-1.008c0-0.223,0.08-0.414,0.238-0.573c0.159-0.157,0.359-0.237,0.603-0.237
                                                  c0.213,0,0.376,0.053,0.491,0.155c0.114,0.105,0.224,0.251,0.327,0.439c0.208,0.361,0.458,0.633,0.747,0.811
                                                  c0.29,0.178,0.687,0.268,1.187,0.268c0.406,0,0.74-0.09,1-0.271c0.26-0.18,0.391-0.387,0.391-0.619
                                                  c0-0.359-0.136-0.619-0.405-0.782c-0.271-0.163-0.716-0.32-1.335-0.468c-0.7-0.174-1.268-0.355-1.707-0.547
                                                  c-0.438-0.19-0.79-0.441-1.052-0.756c-0.262-0.313-0.394-0.695-0.394-1.152c0-0.406,0.121-0.79,0.364-1.152
                                                  c0.242-0.363,0.602-0.649,1.074-0.866c0.474-0.216,1.046-0.324,1.715-0.324c0.525,0,0.997,0.057,1.416,0.163
                                                  c0.419,0.11,0.77,0.258,1.05,0.441c0.28,0.184,0.492,0.384,0.639,0.608c0.146,0.225,0.22,0.441,0.22,0.654
                                                  c0,0.232-0.079,0.423-0.235,0.573c-0.155,0.147-0.378,0.223-0.665,0.223c-0.208,0-0.386-0.061-0.531-0.178
                                                  c-0.147-0.12-0.314-0.3-0.503-0.535c-0.154-0.199-0.333-0.359-0.542-0.478c-0.208-0.118-0.491-0.178-0.848-0.178
                                                  c-0.368,0-0.672,0.079-0.915,0.235c-0.242,0.154-0.365,0.349-0.365,0.58c0,0.216,0.09,0.39,0.269,0.526
                                                  s0.418,0.249,0.721,0.339c0.301,0.09,0.719,0.198,1.249,0.327c0.631,0.155,1.144,0.337,1.544,0.55
                                                  c0.398,0.214,0.7,0.465,0.907,0.755C321.674,772.256,321.778,772.587,321.778,772.959z"/>
                                            <path fill="#606060" d="M324.522,766.415c-0.284,0-0.525-0.09-0.725-0.262c-0.201-0.172-0.301-0.417-0.301-0.733
                                                  c0-0.288,0.103-0.527,0.309-0.711c0.205-0.188,0.444-0.279,0.718-0.279c0.261,0,0.494,0.084,0.699,0.251
                                                  c0.203,0.171,0.305,0.415,0.305,0.739c0,0.311-0.099,0.554-0.297,0.729C325.029,766.325,324.795,766.415,324.522,766.415z
                                                  M325.526,768.511v5.868c0,0.406-0.097,0.713-0.291,0.923c-0.194,0.208-0.438,0.313-0.735,0.313
                                                  c-0.297,0-0.54-0.108-0.726-0.321c-0.185-0.214-0.278-0.517-0.278-0.914v-5.808c0-0.402,0.093-0.704,0.278-0.908
                                                  c0.186-0.204,0.429-0.305,0.726-0.305c0.297,0,0.542,0.101,0.735,0.305S325.526,768.15,325.526,768.511z"/>
                                            <path fill="#606060" d="M335.089,768.846v5.896c0,0.676-0.072,1.254-0.216,1.74c-0.143,0.486-0.374,0.889-0.691,1.205
                                                  c-0.317,0.318-0.732,0.554-1.245,0.707c-0.514,0.153-1.152,0.23-1.915,0.23c-0.7,0-1.324-0.1-1.875-0.294
                                                  c-0.55-0.196-0.974-0.449-1.271-0.758c-0.297-0.311-0.446-0.629-0.446-0.956c0-0.249,0.084-0.449,0.254-0.606
                                                  c0.168-0.155,0.371-0.233,0.61-0.233c0.296,0,0.557,0.131,0.779,0.393c0.11,0.135,0.223,0.27,0.339,0.406
                                                  c0.117,0.137,0.246,0.252,0.386,0.35c0.141,0.098,0.313,0.169,0.51,0.215c0.198,0.047,0.427,0.071,0.684,0.071
                                                  c0.525,0,0.934-0.072,1.224-0.219c0.29-0.147,0.493-0.352,0.61-0.613c0.117-0.264,0.183-0.545,0.204-0.846
                                                  c0.019-0.298,0.035-0.781,0.046-1.445c-0.313,0.437-0.674,0.768-1.084,0.996c-0.408,0.229-0.894,0.342-1.459,0.342
                                                  c-0.679,0-1.272-0.172-1.781-0.52c-0.509-0.347-0.898-0.833-1.171-1.458c-0.272-0.625-0.409-1.348-0.409-2.165
                                                  c0-0.608,0.083-1.158,0.249-1.65c0.167-0.49,0.402-0.903,0.71-1.242c0.307-0.337,0.662-0.592,1.063-0.76
                                                  c0.402-0.173,0.843-0.259,1.325-0.259c0.573,0,1.072,0.11,1.493,0.333c0.421,0.22,0.813,0.565,1.176,1.035v-0.273
                                                  c0-0.35,0.086-0.625,0.26-0.817c0.173-0.194,0.396-0.292,0.668-0.292c0.392,0,0.652,0.129,0.781,0.386
                                                  C335.024,767.998,335.089,768.365,335.089,768.846z M329.206,771.419c0,0.823,0.181,1.446,0.54,1.867
                                                  c0.36,0.421,0.824,0.631,1.394,0.631c0.337,0,0.657-0.09,0.955-0.27c0.301-0.182,0.545-0.454,0.733-0.819
                                                  c0.189-0.365,0.283-0.805,0.283-1.327c0-0.827-0.183-1.473-0.546-1.935c-0.364-0.46-0.845-0.69-1.44-0.69
                                                  c-0.58,0-1.045,0.219-1.394,0.66C329.381,769.98,329.206,770.605,329.206,771.419z"/>
                                            <path fill="#606060" d="M338.987,768.481v0.247c0.357-0.472,0.746-0.818,1.171-1.037c0.423-0.221,0.91-0.333,1.46-0.333
                                                  c0.535,0,1.013,0.116,1.436,0.348c0.42,0.236,0.735,0.565,0.943,0.992c0.135,0.247,0.221,0.517,0.26,0.803
                                                  c0.04,0.286,0.06,0.655,0.06,1.101v3.777c0,0.406-0.093,0.713-0.278,0.923c-0.186,0.208-0.428,0.313-0.725,0.313
                                                  c-0.303,0-0.548-0.108-0.736-0.321c-0.189-0.214-0.282-0.517-0.282-0.914v-3.383c0-0.67-0.093-1.183-0.279-1.538
                                                  c-0.187-0.352-0.557-0.529-1.111-0.529c-0.363,0-0.692,0.106-0.991,0.323c-0.295,0.214-0.515,0.511-0.654,0.887
                                                  c-0.098,0.304-0.148,0.87-0.148,1.697v2.543c0,0.412-0.096,0.721-0.286,0.927c-0.192,0.206-0.439,0.309-0.74,0.309
                                                  c-0.293,0-0.532-0.108-0.721-0.321c-0.188-0.214-0.283-0.517-0.283-0.914v-5.868c0-0.385,0.084-0.673,0.252-0.864
                                                  c0.167-0.19,0.4-0.288,0.692-0.288c0.177,0,0.34,0.041,0.482,0.127c0.143,0.085,0.26,0.21,0.346,0.378
                                                  C338.942,768.032,338.987,768.238,338.987,768.481z"/>
                                            <path fill="#606060" d="M352.006,771.984h-3.97c0.004,0.462,0.097,0.868,0.279,1.22c0.18,0.352,0.421,0.615,0.721,0.795
                                                  c0.299,0.18,0.63,0.268,0.993,0.268c0.243,0,0.464-0.027,0.666-0.084c0.199-0.056,0.395-0.147,0.584-0.268
                                                  c0.188-0.123,0.361-0.253,0.52-0.391c0.159-0.139,0.365-0.328,0.617-0.565c0.104-0.09,0.253-0.135,0.446-0.135
                                                  c0.209,0,0.376,0.058,0.506,0.17c0.128,0.114,0.194,0.275,0.194,0.485c0,0.183-0.071,0.396-0.216,0.644
                                                  c-0.143,0.245-0.36,0.48-0.651,0.705c-0.289,0.225-0.653,0.414-1.093,0.563c-0.438,0.147-0.943,0.223-1.513,0.223
                                                  c-1.304,0-2.317-0.372-3.042-1.117c-0.723-0.743-1.085-1.751-1.085-3.025c0-0.599,0.091-1.157,0.268-1.669
                                                  c0.179-0.514,0.44-0.955,0.782-1.321c0.342-0.363,0.763-0.647,1.263-0.844c0.501-0.195,1.055-0.294,1.666-0.294
                                                  c0.793,0,1.473,0.168,2.041,0.501c0.568,0.337,0.992,0.768,1.276,1.299c0.283,0.529,0.423,1.07,0.423,1.62
                                                  c0,0.512-0.146,0.843-0.437,0.996C352.948,771.909,352.538,771.984,352.006,771.984z M348.036,770.831h3.681
                                                  c-0.05-0.692-0.237-1.212-0.562-1.557c-0.325-0.344-0.752-0.517-1.283-0.517c-0.505,0-0.921,0.173-1.246,0.524
                                                  C348.303,769.63,348.104,770.146,348.036,770.831z"/>
                                            <path fill="#606060" d="M360.952,774.454v-0.202c-0.273,0.314-0.541,0.567-0.806,0.764c-0.266,0.196-0.554,0.344-0.863,0.445
                                                  c-0.311,0.101-0.648,0.153-1.015,0.153c-0.485,0-0.936-0.103-1.35-0.309c-0.414-0.206-0.772-0.5-1.075-0.882
                                                  c-0.301-0.38-0.531-0.83-0.687-1.347c-0.156-0.515-0.235-1.072-0.235-1.673c0-1.269,0.31-2.257,0.93-2.968
                                                  c0.619-0.708,1.435-1.063,2.446-1.063c0.586,0,1.079,0.102,1.479,0.304c0.401,0.198,0.793,0.509,1.175,0.924v-2.997
                                                  c0-0.416,0.083-0.73,0.25-0.945c0.167-0.211,0.401-0.32,0.71-0.32c0.307,0,0.543,0.1,0.71,0.296
                                                  c0.167,0.195,0.249,0.484,0.249,0.864v8.956c0,0.386-0.089,0.676-0.268,0.868c-0.179,0.194-0.41,0.292-0.691,0.292
                                                  c-0.278,0-0.507-0.1-0.688-0.301C361.043,775.111,360.952,774.824,360.952,774.454z M356.959,771.472
                                                  c0,0.552,0.086,1.018,0.256,1.405c0.171,0.385,0.405,0.677,0.704,0.872c0.298,0.198,0.623,0.295,0.973,0.295
                                                  c0.358,0,0.684-0.091,0.979-0.278c0.293-0.186,0.53-0.47,0.706-0.855c0.177-0.384,0.265-0.864,0.265-1.438
                                                  c0-0.543-0.088-1.005-0.265-1.396c-0.176-0.387-0.414-0.685-0.714-0.891c-0.299-0.205-0.629-0.309-0.985-0.309
                                                  c-0.373,0-0.704,0.104-0.997,0.316c-0.292,0.211-0.52,0.513-0.68,0.907C357.04,770.495,356.959,770.951,356.959,771.472z"/>
                                            <path fill="#606060" d="M370.59,765.498v3.103c0.382-0.398,0.771-0.699,1.167-0.909c0.397-0.213,0.888-0.318,1.474-0.318
                                                  c0.673,0,1.264,0.161,1.773,0.481c0.508,0.318,0.902,0.782,1.182,1.39c0.282,0.606,0.42,1.329,0.42,2.16
                                                  c0,0.615-0.077,1.179-0.234,1.691c-0.155,0.513-0.382,0.96-0.68,1.334c-0.296,0.376-0.658,0.67-1.082,0.876
                                                  s-0.892,0.309-1.401,0.309c-0.313,0-0.606-0.039-0.881-0.114c-0.275-0.073-0.509-0.17-0.703-0.292
                                                  c-0.193-0.121-0.358-0.247-0.496-0.376c-0.136-0.127-0.314-0.322-0.538-0.58v0.202c0,0.382-0.09,0.67-0.275,0.866
                                                  c-0.184,0.194-0.417,0.294-0.7,0.294c-0.286,0-0.517-0.1-0.688-0.294c-0.171-0.196-0.257-0.484-0.257-0.866v-8.866
                                                  c0-0.409,0.083-0.722,0.25-0.932c0.167-0.211,0.396-0.318,0.694-0.318c0.313,0,0.554,0.102,0.722,0.304
                                                  S370.59,765.128,370.59,765.498z M370.687,771.531c0,0.809,0.185,1.428,0.554,1.862c0.371,0.434,0.854,0.65,1.454,0.65
                                                  c0.51,0,0.949-0.221,1.321-0.666c0.368-0.443,0.553-1.079,0.553-1.906c0-0.535-0.077-0.996-0.23-1.383
                                                  c-0.153-0.388-0.372-0.686-0.655-0.896c-0.282-0.213-0.612-0.316-0.989-0.316c-0.386,0-0.73,0.104-1.033,0.316
                                                  c-0.303,0.211-0.541,0.517-0.715,0.915C370.773,770.506,370.687,770.981,370.687,771.531z"/>
                                            <path fill="#606060" d="M379.908,775.867l0.186-0.455l-2.499-6.291c-0.154-0.363-0.231-0.625-0.231-0.787
                                                  c0-0.175,0.046-0.336,0.135-0.485c0.089-0.147,0.211-0.266,0.367-0.355c0.156-0.09,0.32-0.135,0.488-0.135
                                                  c0.293,0,0.513,0.094,0.662,0.279c0.149,0.185,0.281,0.45,0.395,0.799l1.717,4.998l1.629-4.646
                                                  c0.128-0.378,0.246-0.67,0.349-0.887c0.105-0.212,0.214-0.355,0.333-0.431c0.116-0.075,0.281-0.112,0.494-0.112
                                                  c0.154,0,0.302,0.041,0.442,0.123c0.142,0.083,0.25,0.191,0.327,0.33c0.077,0.142,0.115,0.286,0.115,0.439
                                                  c-0.02,0.094-0.051,0.229-0.095,0.402c-0.045,0.174-0.1,0.35-0.165,0.527l-2.647,6.932c-0.229,0.609-0.451,1.087-0.671,1.433
                                                  c-0.216,0.349-0.505,0.614-0.865,0.801c-0.359,0.186-0.844,0.279-1.453,0.279c-0.595,0-1.042-0.065-1.339-0.192
                                                  c-0.297-0.129-0.445-0.365-0.445-0.708c0-0.233,0.07-0.411,0.211-0.538c0.141-0.128,0.35-0.191,0.628-0.191
                                                  c0.109,0,0.214,0.017,0.32,0.047c0.128,0.03,0.239,0.043,0.334,0.043c0.233,0,0.415-0.035,0.55-0.103
                                                  c0.134-0.069,0.255-0.191,0.36-0.363C379.646,776.451,379.77,776.198,379.908,775.867z"/>
                                        </g>
                                        <g>
                                            <path fill="#606060" d="M417.475,767.538h0.484v-0.61c0-0.636,0.081-1.141,0.241-1.514c0.159-0.372,0.435-0.647,0.818-0.817
                                                  c0.385-0.172,0.911-0.259,1.581-0.259c1.185,0,1.777,0.292,1.777,0.872c0,0.189-0.062,0.349-0.188,0.483
                                                  c-0.121,0.135-0.269,0.202-0.439,0.202c-0.08,0-0.215-0.018-0.408-0.045c-0.192-0.03-0.356-0.045-0.49-0.045
                                                  c-0.366,0-0.603,0.108-0.705,0.321c-0.104,0.218-0.157,0.526-0.157,0.927v0.484h0.498c0.772,0,1.16,0.232,1.16,0.698
                                                  c0,0.333-0.104,0.544-0.31,0.632c-0.205,0.089-0.487,0.135-0.851,0.135h-0.498v5.376c0,0.402-0.097,0.708-0.288,0.919
                                                  c-0.189,0.212-0.438,0.316-0.739,0.316c-0.286,0-0.525-0.104-0.717-0.316c-0.192-0.211-0.286-0.517-0.286-0.919v-5.376h-0.56
                                                  c-0.303,0-0.533-0.069-0.698-0.207c-0.164-0.134-0.245-0.311-0.245-0.53C416.456,767.781,416.797,767.538,417.475,767.538z"/>
                                            <path fill="#606060" d="M424.728,772.684v1.695c0,0.412-0.098,0.721-0.292,0.927s-0.438,0.309-0.737,0.309
                                                  c-0.29,0-0.529-0.104-0.719-0.313c-0.188-0.21-0.282-0.517-0.282-0.923v-5.65c0-0.914,0.327-1.37,0.986-1.37
                                                  c0.34,0,0.581,0.108,0.729,0.321c0.149,0.21,0.23,0.526,0.245,0.943c0.245-0.417,0.494-0.733,0.748-0.943
                                                  c0.257-0.213,0.597-0.321,1.023-0.321c0.425,0,0.839,0.108,1.241,0.321c0.402,0.21,0.603,0.494,0.603,0.847
                                                  c0,0.249-0.086,0.453-0.259,0.613c-0.17,0.161-0.354,0.241-0.554,0.241c-0.071,0-0.252-0.045-0.539-0.137
                                                  c-0.284-0.093-0.535-0.138-0.754-0.138c-0.298,0-0.541,0.078-0.728,0.235c-0.188,0.155-0.335,0.386-0.438,0.696
                                                  c-0.104,0.307-0.178,0.67-0.217,1.095C424.744,771.558,424.728,772.074,424.728,772.684z"/>
                                            <path fill="#606060" d="M434.667,771.984h-3.971c0.006,0.462,0.1,0.868,0.279,1.22c0.182,0.352,0.421,0.615,0.722,0.795
                                                  c0.302,0.18,0.631,0.268,0.992,0.268c0.241,0,0.466-0.027,0.666-0.084c0.2-0.056,0.395-0.147,0.584-0.268
                                                  c0.188-0.123,0.363-0.253,0.521-0.391c0.157-0.139,0.365-0.328,0.616-0.565c0.104-0.09,0.254-0.135,0.447-0.135
                                                  c0.208,0,0.376,0.058,0.503,0.17c0.131,0.114,0.194,0.275,0.194,0.485c0,0.183-0.07,0.396-0.215,0.644
                                                  c-0.146,0.245-0.361,0.48-0.649,0.705c-0.292,0.225-0.654,0.414-1.097,0.563c-0.438,0.147-0.94,0.223-1.512,0.223
                                                  c-1.304,0-2.318-0.372-3.04-1.117c-0.723-0.743-1.088-1.751-1.088-3.025c0-0.599,0.092-1.157,0.268-1.669
                                                  c0.18-0.514,0.441-0.955,0.78-1.321c0.345-0.363,0.766-0.647,1.267-0.844c0.502-0.195,1.056-0.294,1.666-0.294
                                                  c0.791,0,1.473,0.168,2.039,0.501c0.569,0.337,0.996,0.768,1.276,1.299c0.281,0.529,0.425,1.07,0.425,1.62
                                                  c0,0.512-0.147,0.843-0.438,0.996C435.608,771.909,435.198,771.984,434.667,771.984z M430.696,770.831h3.681
                                                  c-0.049-0.692-0.235-1.212-0.562-1.557c-0.323-0.344-0.752-0.517-1.281-0.517c-0.506,0-0.921,0.173-1.246,0.524
                                                  C430.964,769.63,430.768,770.146,430.696,770.831z"/>
                                            <path fill="#606060" d="M443.718,771.984h-3.97c0.003,0.462,0.097,0.868,0.278,1.22c0.18,0.352,0.421,0.615,0.721,0.795
                                                  c0.301,0.18,0.631,0.268,0.993,0.268c0.241,0,0.464-0.027,0.664-0.084c0.201-0.056,0.396-0.147,0.584-0.268
                                                  c0.189-0.123,0.363-0.253,0.522-0.391c0.159-0.139,0.365-0.328,0.615-0.565c0.105-0.09,0.253-0.135,0.447-0.135
                                                  c0.208,0,0.376,0.058,0.506,0.17c0.129,0.114,0.192,0.275,0.192,0.485c0,0.183-0.071,0.396-0.215,0.644
                                                  c-0.145,0.245-0.359,0.48-0.651,0.705c-0.29,0.225-0.653,0.414-1.091,0.563c-0.44,0.147-0.945,0.223-1.516,0.223
                                                  c-1.303,0-2.317-0.372-3.041-1.117c-0.723-0.743-1.084-1.751-1.084-3.025c0-0.599,0.088-1.157,0.265-1.669
                                                  c0.182-0.514,0.441-0.955,0.781-1.321c0.343-0.363,0.764-0.647,1.266-0.844c0.499-0.195,1.057-0.294,1.663-0.294
                                                  c0.796,0,1.477,0.168,2.044,0.501c0.566,0.337,0.991,0.768,1.276,1.299c0.282,0.529,0.423,1.07,0.423,1.62
                                                  c0,0.512-0.146,0.843-0.44,0.996C444.661,771.909,444.25,771.984,443.718,771.984z M439.748,770.831h3.681
                                                  c-0.051-0.692-0.238-1.212-0.562-1.557c-0.326-0.344-0.753-0.517-1.284-0.517c-0.505,0-0.921,0.173-1.246,0.524
                                                  C440.014,769.63,439.814,770.146,439.748,770.831z"/>
                                            <path fill="#606060" d="M448.774,768.496v0.245c0.384-0.47,0.778-0.815,1.19-1.035c0.411-0.223,0.877-0.333,1.397-0.333
                                                  c0.625,0,1.199,0.161,1.726,0.483c0.525,0.325,0.94,0.793,1.248,1.414c0.303,0.618,0.454,1.352,0.454,2.201
                                                  c0,0.623-0.088,1.197-0.264,1.722c-0.176,0.523-0.417,0.961-0.726,1.315c-0.308,0.355-0.668,0.628-1.088,0.819
                                                  c-0.419,0.19-0.87,0.286-1.351,0.286c-0.58,0-1.066-0.118-1.462-0.352c-0.393-0.23-0.769-0.573-1.126-1.025v3.05
                                                  c0,0.893-0.325,1.338-0.973,1.338c-0.382,0-0.635-0.116-0.76-0.346c-0.124-0.23-0.184-0.567-0.184-1.007v-8.762
                                                  c0-0.385,0.084-0.673,0.251-0.864c0.168-0.19,0.398-0.288,0.692-0.288c0.286,0,0.521,0.098,0.701,0.294
                                                  C448.685,767.849,448.774,768.129,448.774,768.496z M452.753,771.449c0-0.535-0.081-0.996-0.246-1.38
                                                  c-0.162-0.385-0.389-0.679-0.679-0.885c-0.292-0.205-0.61-0.309-0.964-0.309c-0.56,0-1.032,0.219-1.416,0.66
                                                  c-0.386,0.444-0.576,1.093-0.576,1.95c0,0.809,0.19,1.436,0.572,1.885c0.382,0.448,0.855,0.673,1.42,0.673
                                                  c0.339,0,0.651-0.097,0.938-0.295c0.286-0.195,0.517-0.487,0.69-0.88C452.667,772.479,452.753,772.005,452.753,771.449z"/>
                                            <path fill="#606060" d="M457.445,766.415c-0.282,0-0.525-0.09-0.724-0.262c-0.2-0.172-0.302-0.417-0.302-0.733
                                                  c0-0.288,0.104-0.527,0.307-0.711c0.206-0.188,0.446-0.279,0.719-0.279c0.262,0,0.496,0.084,0.698,0.251
                                                  c0.204,0.171,0.305,0.415,0.305,0.739c0,0.311-0.099,0.554-0.294,0.729C457.954,766.325,457.719,766.415,457.445,766.415z
                                                  M458.448,768.511v5.868c0,0.406-0.095,0.713-0.29,0.923c-0.192,0.208-0.438,0.313-0.735,0.313
                                                  c-0.297,0-0.537-0.108-0.724-0.321c-0.188-0.214-0.279-0.517-0.279-0.914v-5.808c0-0.402,0.092-0.704,0.279-0.908
                                                  c0.187-0.204,0.427-0.305,0.724-0.305c0.298,0,0.543,0.101,0.735,0.305C458.354,767.867,458.448,768.15,458.448,768.511z"/>
                                            <path fill="#606060" d="M465.604,774.683l-1.793-2.945l-1.101,1.042v1.615c0,0.391-0.103,0.692-0.309,0.903
                                                  c-0.208,0.212-0.443,0.316-0.709,0.316c-0.314,0-0.558-0.104-0.737-0.313c-0.18-0.21-0.268-0.517-0.268-0.923v-8.656
                                                  c0-0.45,0.084-0.795,0.26-1.029c0.173-0.235,0.423-0.355,0.745-0.355c0.311,0,0.56,0.109,0.743,0.32
                                                  c0.183,0.215,0.274,0.529,0.274,0.945v4.923l2.281-2.394c0.286-0.299,0.498-0.501,0.647-0.611
                                                  c0.149-0.106,0.329-0.163,0.543-0.163c0.254,0,0.464,0.082,0.632,0.243c0.169,0.161,0.255,0.363,0.255,0.604
                                                  c0,0.298-0.277,0.694-0.827,1.19l-1.076,0.989l2.081,3.271c0.155,0.243,0.264,0.429,0.329,0.554
                                                  c0.069,0.125,0.102,0.249,0.102,0.361c0,0.323-0.088,0.576-0.265,0.764c-0.176,0.185-0.407,0.278-0.693,0.278
                                                  c-0.247,0-0.44-0.065-0.573-0.202C466.012,775.279,465.832,775.036,465.604,774.683z"/>
                                            <path fill="#606060" d="M470.623,775.614c-0.308,0-0.573-0.1-0.796-0.3c-0.223-0.196-0.337-0.475-0.337-0.832
                                                  c0-0.304,0.109-0.562,0.32-0.78c0.215-0.219,0.479-0.326,0.79-0.326c0.313,0,0.576,0.107,0.801,0.322
                                                  c0.219,0.217,0.329,0.478,0.329,0.784c0,0.354-0.11,0.629-0.329,0.831C471.177,775.515,470.92,775.614,470.623,775.614z"/>
                                            <path fill="#606060" d="M481.326,773.1c0,0.252-0.078,0.521-0.232,0.812c-0.147,0.286-0.38,0.562-0.687,0.821
                                                  c-0.313,0.261-0.703,0.47-1.171,0.627c-0.474,0.159-1.004,0.238-1.595,0.238c-1.252,0-2.232-0.365-2.936-1.095
                                                  c-0.704-0.731-1.056-1.712-1.056-2.941c0-0.835,0.159-1.57,0.48-2.21c0.322-0.639,0.79-1.135,1.401-1.482
                                                  c0.607-0.35,1.339-0.525,2.187-0.525c0.523,0,1.005,0.078,1.444,0.231s0.812,0.352,1.115,0.594
                                                  c0.305,0.245,0.539,0.503,0.7,0.776c0.16,0.277,0.239,0.533,0.239,0.771c0,0.243-0.09,0.449-0.27,0.618
                                                  c-0.182,0.168-0.4,0.25-0.659,0.25c-0.168,0-0.309-0.041-0.419-0.129c-0.112-0.084-0.237-0.225-0.376-0.417
                                                  c-0.247-0.378-0.505-0.662-0.776-0.85c-0.27-0.188-0.614-0.282-1.031-0.282c-0.599,0-1.083,0.233-1.45,0.703
                                                  c-0.365,0.466-0.55,1.109-0.55,1.922c0,0.382,0.047,0.731,0.141,1.052c0.097,0.319,0.233,0.593,0.409,0.817
                                                  c0.178,0.227,0.395,0.396,0.647,0.515c0.253,0.114,0.531,0.174,0.835,0.174c0.404,0,0.752-0.093,1.044-0.282
                                                  c0.29-0.188,0.544-0.476,0.769-0.862c0.126-0.229,0.259-0.408,0.402-0.535c0.145-0.13,0.32-0.193,0.528-0.193
                                                  c0.247,0,0.452,0.094,0.615,0.281C481.242,772.688,481.326,772.888,481.326,773.1z"/>
                                            <path fill="#606060" d="M490.693,771.486c0,0.604-0.094,1.162-0.282,1.673c-0.188,0.513-0.463,0.948-0.819,1.315
                                                  s-0.782,0.649-1.278,0.846c-0.496,0.194-1.054,0.294-1.673,0.294c-0.614,0-1.168-0.1-1.66-0.3
                                                  c-0.486-0.196-0.915-0.479-1.274-0.849c-0.359-0.371-0.632-0.807-0.815-1.309c-0.188-0.505-0.281-1.063-0.281-1.671
                                                  c0-0.613,0.094-1.177,0.283-1.688c0.187-0.513,0.458-0.947,0.81-1.311c0.353-0.36,0.779-0.64,1.278-0.836
                                                  c0.504-0.196,1.056-0.294,1.66-0.294c0.615,0,1.171,0.101,1.673,0.298c0.501,0.2,0.93,0.48,1.285,0.848
                                                  c0.359,0.366,0.631,0.805,0.815,1.31C490.6,770.318,490.693,770.876,490.693,771.486z M488.655,771.486
                                                  c0-0.827-0.183-1.473-0.546-1.933c-0.365-0.462-0.854-0.692-1.469-0.692c-0.396,0-0.747,0.103-1.05,0.309
                                                  c-0.3,0.206-0.535,0.509-0.698,0.909c-0.164,0.402-0.245,0.872-0.245,1.407c0,0.531,0.081,0.994,0.241,1.391
                                                  c0.161,0.396,0.392,0.699,0.692,0.911c0.3,0.211,0.651,0.316,1.06,0.316c0.615,0,1.104-0.232,1.469-0.696
                                                  C488.473,772.946,488.655,772.304,488.655,771.486z"/>
                                            <path fill="#606060" d="M499.045,771.636v2.698c0,0.427-0.098,0.745-0.29,0.959c-0.193,0.213-0.449,0.321-0.766,0.321
                                                  c-0.309,0-0.558-0.108-0.748-0.321c-0.189-0.214-0.287-0.532-0.287-0.959v-3.235c0-0.511-0.017-0.905-0.052-1.188
                                                  c-0.034-0.284-0.129-0.517-0.283-0.696c-0.151-0.18-0.395-0.271-0.728-0.271c-0.666,0-1.102,0.227-1.312,0.684
                                                  c-0.212,0.456-0.318,1.111-0.318,1.965v2.742c0,0.423-0.096,0.741-0.286,0.955c-0.191,0.217-0.441,0.325-0.754,0.325
                                                  c-0.306,0-0.56-0.108-0.755-0.325c-0.196-0.214-0.293-0.532-0.293-0.955v-5.808c0-0.38,0.086-0.67,0.264-0.87
                                                  c0.174-0.197,0.408-0.298,0.694-0.298c0.278,0,0.511,0.094,0.696,0.279c0.185,0.185,0.28,0.443,0.28,0.771v0.192
                                                  c0.35-0.419,0.726-0.731,1.128-0.928c0.404-0.198,0.848-0.3,1.338-0.3c0.512,0,0.951,0.102,1.317,0.307
                                                  c0.367,0.203,0.67,0.51,0.906,0.921c0.343-0.415,0.709-0.726,1.102-0.924c0.392-0.202,0.825-0.304,1.303-0.304
                                                  c0.554,0,1.033,0.108,1.434,0.328c0.402,0.219,0.701,0.529,0.897,0.938c0.177,0.366,0.263,0.942,0.263,1.732v3.963
                                                  c0,0.427-0.098,0.745-0.292,0.959c-0.19,0.213-0.445,0.321-0.764,0.321c-0.307,0-0.56-0.108-0.754-0.325
                                                  c-0.196-0.214-0.296-0.532-0.296-0.955v-3.413c0-0.436-0.019-0.785-0.054-1.05c-0.04-0.262-0.139-0.48-0.304-0.66
                                                  c-0.161-0.18-0.409-0.268-0.743-0.268c-0.268,0-0.52,0.08-0.761,0.237c-0.24,0.161-0.427,0.373-0.563,0.641
                                                  C499.119,770.161,499.045,770.766,499.045,771.636z"/>
                                        </g>
                                        <g>
                                            <path fill="#606060" d="M401.481,762.125c-0.043-0.13-0.087-0.261-0.13-0.39c0.682-0.062,1.138-0.878,0.805-1.485
                                                  c-0.303-0.684-1.354-0.768-1.76-0.141c-0.435,0.554-0.096,1.43,0.57,1.605c0.041,0.139,0.081,0.28,0.121,0.423
                                                  c-1.021,0.063-2.063,0.292-2.92,0.876c0.087,0.247,0.175,0.498,0.263,0.744c1.73-0.756,3.671-0.591,5.498-0.409
                                                  c0.06-0.241,0.12-0.483,0.18-0.725C403.283,762.254,402.377,762.119,401.481,762.125z"/>
                                            <path fill="#606060" d="M411.77,764.918c-0.275,0.139-0.326,0.467-0.31,0.745c-0.305,0.296-0.162,0.741-0.196,1.113
                                                  c-0.067,0.208-0.318,0.23-0.488,0.309c-0.239-0.362-0.496-0.713-0.814-1.011v-0.019c-0.348-0.325-0.724-0.621-1.122-0.881
                                                  c-0.322,0.343-0.657,0.68-0.966,1.036c0.61,0.672,1.174,1.387,1.673,2.146c0.341,0.576,0.619,1.19,0.857,1.815
                                                  c0.515-0.262,1.021-0.539,1.536-0.809c-0.271-0.629-0.58-1.238-0.911-1.841c0.228-0.124,0.533-0.243,0.568-0.539
                                                  c0.026-0.329-0.047-0.686,0.152-0.974c0.396,0.263,1-0.033,1.006-0.516C412.808,764.995,412.179,764.634,411.77,764.918z"/>
                                            <path fill="#606060" d="M408.984,768.649c-0.668-1.109-1.394-2.216-2.378-3.072c-1.142-1.003-2.62-1.681-4.154-1.673
                                                  c-1.94-0.024-3.904,0.292-5.689,1.07c-1.684,0.741-3.148,2.055-3.89,3.761c-0.714,1.533-0.706,3.297-0.383,4.927
                                                  c1.785,0.445,3.599,0.845,5.44,0.933c1.816,0.054,3.643,0.099,5.447-0.155c2.48-0.326,4.906-1.111,7.069-2.377
                                                  C410.446,772.063,410.148,770.431,408.984,768.649z M400.215,770.845c-0.335,0.488-0.819,0.87-1.373,1.081
                                                  c-1.043,0.39-2.313,0.124-3.063-0.709c-0.525-0.576-0.834-1.351-0.778-2.135c0.039-0.979,0.645-1.89,1.502-2.349
                                                  c0.654-0.355,1.445-0.417,2.157-0.217c0.299,0.075,0.578,0.215,0.833,0.386c0.525,0.374,0.924,0.928,1.099,1.551
                                                  C400.838,769.252,400.682,770.152,400.215,770.845z M407.732,769.082c-0.121,0.834-0.92,1.543-1.777,1.491
                                                  c-0.494,0.041-0.969-0.194-1.306-0.543c-0.24-0.299-0.442-0.647-0.472-1.038c-0.116-0.85,0.482-1.726,1.313-1.93
                                                  c0.366-0.101,0.748-0.045,1.107,0.038C407.381,767.381,407.896,768.264,407.732,769.082z"/>
                                            <path fill="#606060" d="M392.896,766.166c-0.725,0.437-1.321,1.054-1.818,1.735c-0.147-0.268-0.191-0.59-0.379-0.831
                                                  c-0.108-0.145-0.302-0.086-0.454-0.088c-0.191,0.021-0.379-0.032-0.56-0.088c0.21-0.3,0.157-0.758-0.17-0.951
                                                  c-0.346-0.248-0.884-0.033-0.975,0.382c-0.146,0.451,0.335,0.906,0.78,0.786c0.235,0.348,0.661,0.292,1.022,0.307
                                                  c0.164,0.283,0.288,0.592,0.498,0.85c-0.388,0.768-0.607,1.624-0.626,2.485c0.499,0.208,0.998,0.419,1.498,0.629
                                                  c0.026-0.543,0.088-1.082,0.171-1.617c0.167-1.164,0.841-2.178,1.638-3.009C393.325,766.546,393.104,766.363,392.896,766.166z"
                                                  />
                                            <path fill="#606060" d="M404.563,774.95c-1.842,0.4-3.738,0.517-5.619,0.436c-1.271-0.065-2.541-0.184-3.783-0.458
                                                  c-0.881-0.18-1.743-0.435-2.608-0.682c0.138,1.108,0.585,2.165,1.224,3.076c0.754,1.06,1.762,2.034,3.017,2.426
                                                  c0.977,0.262,2.146,0.599,4.155,0.564c1.664-0.031,3.297-0.243,4.756-0.86c0.943-0.406,1.823-0.956,2.579-1.646
                                                  c0.658-0.618,1.169-1.387,1.523-2.216c0.342-0.78,0.652-2.18,0.617-2.902C408.627,773.713,406.614,774.604,404.563,774.95z"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                            <path fill="#ED7774" d="M509.957,316.465l17.299-13.76c0,0-26.558-39.688-76.644-52.297l-6.544,20.809
                                  C468.373,279.159,490.514,294.483,508.957,316.465z"/>
                            <path fill="#00BCD4" d="M277.211,462.656l-19.477,10.554c25.73,50.336,65.026,65.137,65.026,65.137l10.6-19.871
                                  C308.692,505.64,289.518,485.933,277.211,462.656z"/>
                            <path fill="#98AAA9" d="M464.771,521.494l10.123,18.884c0,0,48.5-23.298,65.048-66.169l-18.698-9.777
                                  C505.912,486.048,488.636,508.199,463.771,521.494z"/>
                            <path fill="#32B196" d="M347.08,274.744l-6.702-19.878c-46.162,12.262-73.04,57.27-73.04,57.27l17.762,12.278
                                  C303.275,300.246,325.439,283.355,350.28,273.744z"/>

                            <foreignObject width="200" height="150" transform="matrix(1 0 0 1 297.2183 318.0977)"
                                           fill="#DBC921" font-family="'FontAwesome'" font-size="100"   >
                                               <?php
                                               if (in_array("Student", $identity['role_name'])) {
                                                   $url = $this->url->get('student-dashboard/index');
                                               } else {
                                                   $url = 'javascript:;';
                                               }
                                               ?>
                                <a id="stupicurl"  href="#page-2" class="pageload-link white_font" onclick="<?= $url ?>" >                          
                                    <span id="stupic"></span></a>

                                <foreignObject width="168" height="40">

                                    <?php if (in_array("StudentDbSearch", $identity['role_name'])) { ?>
                                        <form>
                                            <div class="input-group bootstrap-timepicker s-txt1" style="z-index: 999; position: fixed; top: 1px; left: 6px;">
                                                <input type="text" name="name" id="name" title='Student name' placeholder="Search student .. " class="form-control" autocomplete="off" />
                                                <input type="hidden" value="" id="selectedID" name="selectedID" title='Valid Student'/>

                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary date-reset"><i class="fa fa-times"></i></button>
                                                </span>

                                            </div>
                                        </form>
                                    <?php } ?>

                                </foreignObject>

                            </foreignObject>
                            <!--student picture icon code ends-->
                            <?php if (in_array("StudentManagement", $identity['role_name'])) { ?>
                                <!--student picture icon code starts-->
                                <foreignObject width="200" height="150" transform="matrix(1 0 0 1 300.2183 345.0977)" 
                                               fill="#DBC921" font-family="'FontAwesome'" font-size="75px"   >
                                    <a  href="#page-6" onclick="studentCycleSettings.loadGeneralprofileal(this)" 
                                        class="pageload-link" style="color:#DBC921">
                                        <text fill="#DBC921" font-family="'FontAwesome'" font-size="50" id="studb" class="" >
                                        </text>
                                    </a> 
                                </foreignObject>
                            <?php } else { ?>       
                                <foreignObject width="200" height="150" transform="matrix(1 0 0 1 300.2183 345.0977)" 
                                               fill="#DBC921" font-family="'FontAwesome'" font-size="75px" style="color:#DBC921"  >
                                    <text fill="#DBC921" font-family="'FontAwesome'" font-size="50" id="studb" class="" >
                                    </text>
                                </foreignObject>
                            <?php } ?>
                            <!--student picture icon code ends-->
                            <?php if (in_array("LevelOut", $identity['role_name'])) { ?>
                                <text transform="matrix(1 0 0 1 620.0781 400)" 
                                      class="menu-toggle-button3" id="relieve_icon"
                                      fill="#ED7774" font-family="'FontAwesome'" font-size="50"></text>
                                  <?php } else { ?>       
                                <text transform="matrix(1 0 0 1 620.0781 400)" 
                                      class="" id="relieve_icon"
                                      fill="#ED7774" font-family="'FontAwesome'" font-size="50"></text>
                                  <?php } ?>
                            <a class="hide" title="" id="stu_relieve_icon" > 
                                <text class="s-icon" transform="matrix(1 0 0 1 620.0781 400)" 
                                      fill="#ED7774" font-family="'FontAwesome'" font-size="50"></text>
                            </a>
                            <?php if (in_array("Academic", $identity['role_name'])) { ?>
                                <text transform="matrix(1 0 0 1 350.2803 182.3115)"
                                      class="menu-toggle-button1" id="academic_icon"
                                      fill="#32B196" font-family="'FontAwesome'" font-size="50"></text>
                                  <?php } else { ?>      
                                <text transform="matrix(1 0 0 1 350.2803 182.3115)"
                                      id="academic_icon"
                                      fill="#32B196" font-family="'FontAwesome'" font-size="50"></text> 
                                  <?php } ?>
                            <a class="pageload-link white_font hide" title="Academic Profile" id="stu_academic_icon"
                               href="#page-3" > <text class="s-icon" transform="matrix(1 0 0 1 350.2803 182.3115)"
                                                   fill="#32B196" font-family="'FontAwesome'" font-size="50"></text>
                            </a>
                            <?php if (in_array("Admission", $identity['role_name'])) { ?>
                                <text transform="matrix(1 0 0 1 132.7793 428.0273)"
                                      class="menu-toggle-button" id="admission_icon"
                                      fill="#00BCD4" font-family="'FontAwesome'" font-size="50"></text>
                                  <?php } else { ?>       
                                <text transform="matrix(1 0 0 1 132.7793 428.0273)"
                                      id="admission_icon"
                                      fill="#00BCD4" font-family="'FontAwesome'" font-size="50"></text>
                                  <?php } ?>
                            <a class="pageload-link white_font hide" title="General Profile" id="stu_admission_icon"
                               href="#page-2" > 
                                <text transform="matrix(1 0 0 1 132.7793 428.0273)" class="s-icon"
                                      fill="#00BCD4" font-family="'FontAwesome'" font-size="50"></text>
                            </a>
                            <?php if (in_array("Fee", $identity['role_name'])) { ?>
                                <text transform="matrix(1 0 0 1 399.9995 657.8447)" 
                                      class="menu-toggle-button2" id="fee_icon"
                                      fill="#98AAA9" font-family="'FontAwesome'" font-size="50"></text>
                                  <?php } else { ?>       
                                <text transform="matrix(1 0 0 1 399.9995 657.8447)" 
                                      class="" id="fee_icon"
                                      fill="#98AAA9" font-family="'FontAwesome'" font-size="50"></text>
                                  <?php } ?>
                            <a class="pageload-link white_font hide" title="Student Fee details" id="stu_fee_icon"
                               href="#page-4" > 
                                <text class="s-icon" transform="matrix(1 0 0 1 399.9995 657.8447)" 
                                      fill="#98AAA9" font-family="'FontAwesome'" font-size="50"></text>
                            </a>

                            <text transform="matrix(1 0 0 1 156 505)" fill="#424242" id="stuAdmissionTxt"  font-family="'BebasNeueBook'" font-size="18" text-anchor="middle" >Initiate student admission</text>
                            <text transform="matrix(1 0 0 1 508.0684 673.3867)" id="stuFeeTxt"  font-size="18" font-family="'BebasNeueBook'" fill="#424242" y="0" x="0" text-anchor="middle">Student fee management</text> 
                            <text transform="matrix(1 0 0 1 643.3281 347.5146)"  id="stuEvalTxt" fill="#424242" font-family="'BebasNeueBook'" font-size="18" text-anchor="middle" >Promotion / Relieving</text>
                            <text transform="matrix(1 0 0 1 262.6172 193.4307)"  id="stuAcdTxt"  fill="#424242" font-family="'BebasNeueBook'" font-size="18" text-anchor="middle" >Review student performance</text>
                        </g>
                    </svg>

                    <div class="share hide">

                        <ul class="share-items">
                            <li class="share-item">

                                <?php if (in_array("StudentManagement", $identity['role_name'])) { ?>
                                    <a  href="#page-6" onclick="studentCycleSettings.loadGeneralprofileal(this)" 
                                        class="pageload-link white_font share-button blue">
                                        <i class="share-icon fa fa-child"></i>
                                    </a>  
                                <?php } else { ?>       
                                    <a    class="white_font ">
                                        <i class="share-icon fa fa-child"></i>
                                    </a>  
                                <?php } ?>
                                <i class="" style=" left: -95px; top: 78px; position: absolute; font-family: BebasNeueRegular;">General</i>

                            </li>
                            <li class="share-item">
                                <a  href="#page-6" onclick="studentCycleSettings.loadGeneralprofileal(this)" 
                                    class="pageload-link white_font share-button  blue">
                                    <i class="share-icon fa fa-bar-chart-o"></i>
                                </a>
                                <i class="" style=" left: 49px; top: 78px; position: absolute; font-family: BebasNeueRegular;">Academic</i>
                            </li>

                        </ul>
                    </div>
                    <div class="menu-wrapper" id="menu-wrapper" style="z-index: -9999;">
                        <ul class="menu-items">
                            <li class="menu-item">
                                <?php if (in_array("StudentManagement", $identity['role_name'])) { ?>
                                    <span class="badge_cycle_top applcn_list">
                                        <a class="pageload-link white_font" title="Profile Settings" href="#page-2" onclick="studentCycleSettings.loadProfilesettings()">
                                            <i class="menu-item-icon fa fa-gear fa-2x" style=" color: #ED7774;   font-size: 1.5em; transform: rotate(-185deg);"></i>
                                        </a>
                                    </span>
                                <?php } ?>
                                <?php if (in_array("AdmissionApproval", $identity['role_name'])) { ?>
                                    <span class="badge_cycle_top1 applcn_list"><a class="pageload-link white_font" title="Application Approval" href="#page-2" onclick="studentCycleSettings.loadApplicationApproval()">
                                            <i class="menu-item-icon fa fa-check-circle-o text-success" style="font-size: 1.5em; transform: rotate(-185deg);"></i>
                                        </a>
                                    </span>
                                <?php } ?>

                                <span class="menu-item-button" id="applcn_list">
                                    <?php if (in_array("StudentManagement", $identity['role_name'])) { ?>

                                        <a class="pageload-link white_font" title="Applications" href="#page-2" onclick="studentCycleSettings.loadApplications()" target="_blank">
                                            <i class="menu-item-icon fa fa-graduation-cap fa-2x" style="left: 17px; position: absolute;  top: 21px;"></i></a>                                  
                                    <?php } else { ?>       
                                        <a class="white_font" title="Applications" >
                                            <i class="menu-item-icon fa fa-graduation-cap fa-2x" style="left: 17px; position: absolute;  top: 21px;"></i></a>      
                                    <?php } ?>
                                    <i class="menu-item-icon fa" style="left: 15px; color: rgb(85, 85, 85); top: 100px; position: absolute; font-family: BebasNeueRegular; transform: rotate(-140deg); ">Admission</i> 
                                </span>
                            </li>
                        </ul>
                    </div>


                    <div class="menu-wrapper1" id="menu-wrapper1" style="z-index: -9999;">
                        <ul class="menu-items1">
                            <li class="menu-item1">
                                <?php if (in_array("ClassroomAdmin", $identity['role_name'])) { ?>
                                    <span class="badge_cycle_top4 academic_applcn_list">
                                        <a class="pageload-link white_font" title="Assigning" href="#page-3" onclick="studentCycleSettings.loadstudentAssigning()">
                                            <i class="menu-item-icon fa fa-gear fa-2x" style=" color: #ED7774;   font-size: 1.5em; transform: rotate(-185deg);"></i>
                                        </a>
                                    </span>
                                <?php } ?> 
                                <?php if (in_array("ClassroomAdmin", $identity['role_name'])) { ?>
                                    <span class="badge_cycle_top5 academic_applcn_list">
                                        <a class="pageload-link white_font" title="Classroom admin" href="#page-3" onclick="studentCycleSettings.loadClassroomadmin()">
                                            <i class="menu-item-icon fa fa-user text-warning" style="font-size: 1.5em; transform: rotate(-180deg);"></i>
                                        </a>
                                    </span>
                                <?php } ?> 
                                <?php if (in_array("Classroom", $identity['role_name'])) { ?>
                                    <span class="badge_cycle_top1-1 academic_applcn_list">
                                        <a class="pageload-link white_font" title="Classroom Reports" href="#page-3" onclick="studentCycleSettings.loadAcademicRepotrts()">
                                            <i class="menu-item-icon fa fa-table text-success" style="font-size: 1.5em; transform: rotate(-180deg);"></i>
                                        </a>
                                    </span>
                                <?php } ?> 

                                <span class="menu-item-button1" title="Classroom" id="academic_applcn_list" >
                                    <?php if (in_array("Classroom", $identity['role_name'])) { ?>
                                        <a class="pageload-link white_font" href="#page-3" onclick="studentCycleSettings.loadClassroom()" target="_blank">                          
                                            <i class="menu-item-icon1 fa fa-puzzle-piece fa-2x" style="position:absolute; top:20px; left:20px;"></i></a>                       
                                    <?php } else { ?>       
                                        <a class=" white_font" >                          
                                            <i class="menu-item-icon1 fa fa-puzzle-piece fa-2x"></i></a>
                                    <?php } ?> 
                                    <i class="menu-item-icon1" style="left: 8px; top: -22px; position: absolute; font-family: BebasNeueRegular; color: rgb(85, 85, 85); transform: rotate(92deg);">Classroom</i>
                                </span>

                            </li>

                        </ul>
                    </div>


                    <div class="menu-wrapper2" id="menu-wrapper2" style="z-index: -9999;">
                        <ul class="menu-items2">
                            <li class="menu-item2">
                                <?php if (in_array("FeeApproval", $identity['role_name'])) { ?>
                                    <span class="badge_cycle_top6 fee_applcn_list">
                                        <a class="pageload-link white_font" title="Fee Approval" href="#page-4" onclick="studentCycleSettings.loadApprovals()"> <!-- studentCycleSettings.loadfeeCancel() -->
                                            <i class="menu-item-icon fa fa-check-circle-o fa-2x text-success" style="font-size: 1.5em; transform: rotate(-85deg);"></i>
                                        </a>
                                    </span>
                                <?php } ?>
                                <?php if (in_array("FeeCollector", $identity['role_name'])) { ?>
                                    <span class="badge_cycle_top8 fee_applcn_list">
                                        <a class="pageload-link white_font" title="Fee Settings" href="#page-4" onclick="studentCycleSettings.loadfeeSettings()">
                                            <i class="menu-item-icon fa fa-gears text-danger" style="font-size: 1.5em; transform: rotate(-85deg);"></i>
                                        </a>
                                    </span>

                                <?php } ?>

                                <span class="menu-item-button2" title="Fee Collection" id="fee_applcn_list">
                                    <?php if (in_array("FeeCollector", $identity['role_name'])) { ?>
                                        <a class="pageload-link white_font" title="Fee Collection" id="fee_applcn_list" href="#page-4"  onclick="studentCycleSettings.loadfeeCollection()" target="_blank">
                                            <i class="menu-item-icon2 fa fa-money fa-2x" style="left: 17px; position: absolute;top: 21px;"></i>
                                        </a>  
                                    <?php } else { ?>       
                                        <a class=" white_font" >                          
                                            <i class="menu-item-icon1 fa fa-money fa-2x"></i></a>
                                    <?php } ?> 
                                    <i class="menu-item-icon2" style="left: 47px; top: 20px; width: 77px; position: absolute; font-family: BebasNeueRegular; color: rgb(85, 85, 85); transform: rotate(309deg);">Fee Details</i>
                                </span>

                            </li>
                        </ul>
                    </div>


                    <div class="menu-wrapper3" id="menu-wrapper3" style="z-index: -9999;">
                        <ul class="menu-items3">
                            <li class="menu-item3">
                                <?php if (in_array("StudentRelievingApproval", $identity['role_name'])) { ?>
                                    <span class="badge_cycle_top2 relive_appln_list">
                                        <a class="pageload-link white_font" title="Relieving Approval" href="#page-5" onclick="studentCycleSettings.loadStuApplicationReleivApproval()">
                                            <i class="menu-item-icon fa fa-check-circle-o text-success" style="font-size: 1.5em; transform: rotate(40deg);"></i>
                                        </a>
                                    </span>
                                    <span class="badge_cycle_top3 relive_appln_list">
                                        <a class="pageload-link white_font" title="Relieving Settings" href="#page-5" onclick="studentCycleSettings.loadStuApplicationReleivSettings()">
                                            <i class="menu-item-icon fa fa-gear text-danger" style="font-size: 1.5em; transform: rotate(40deg);"></i>
                                        </a>
                                    </span>
                                <?php } ?>
                                <span class="menu-item-button3"  title="Relieving Students" id="relive_appln_list" >
                                    <?php if (in_array("StudentManagement", $identity['role_name'])) { ?>
                                        <a class="pageload-link white_font" href="#page-5" onclick="studentCycleSettings.loadStudentReleiv()" target="_blank"> 
                                            <i class="menu-item-icon3 fa fa-paper-plane-o fa-2x" style="left: 18px;position: absolute;top: 18px;"></i></a>                
                                    <?php } else { ?>       
                                        <a class="white_font" > 
                                            <i class="menu-item-icon3 fa fa-paper-plane-o fa-2x" style="left: 18px;position: absolute;top: 18px;"></i></a>
                                    <?php } ?>
                                    <i class="menu-item-icon3 fa" style="left: 4px; top: 151px; position: absolute; font-family: BebasNeueRegular; transform: rotate(-267deg); width: 200px; color: rgb(85, 85, 85);">Relieving Students</i> 
                                </span>

                            </li>
                            <li class="menu-item3">
                                <?php if (in_array("SchoolAdmin", $identity['role_name'])) { ?>
                                    <span class="badge_cycle_top3 promote_appln_list">
                                        <a class="" title="Promotion Settings" href="javascript:;" onclick="studentCycleSettings.loadPromotionSettings()">
                                            <i class="menu-item-icon fa fa-gear fa-2x text-danger" style="font-size: 1.5em; transform: rotate(0deg);"></i>
                                        </a>
                                    </span> 
                                <?php } ?> 
                                <?php if (in_array("Promotion", $identity['role_name'])) { ?>
                                    <span class="menu-item-button3" title="Promote Students" id="promote_appln_list" >
                                        <a class="pageload-link white_font" href="#page-5" onclick="studentCycleSettings.loadStudentPromotion()" target="_blank">  
                                            <i class="menu-item-icon3 fa fa-thumbs-o-up fa-2x" style="left: 23px; position: absolute; top: 20px;"></i></a>             

                                        <i class="menu-item-icon3 fa" style="left: 83px; top: 35px; position: absolute; font-family: BebasNeueRegular; transform: rotate(-312deg); width: 100px; color: rgb(85, 85, 85);">Promote Students</i>
                                    </span>
                                <?php } ?> 


                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
    </div><!-- /container -->

    <!-- The new page dummy; this would be dynamically loaded content -->
    <div class="pg-container" id="page-2">

        <!-- Top Navigation -->

        <div class="row">
            <div class="col-sm-12"> 
                <p>
                    <a class="pageload-link" href="#page-1"> 
                        <span class="mini-stat-icon tar">
                            <i class="fa fa-reply"></i></span>
                        <label class="control-label" style="margin-top:10px;"> Go back</label>
                    </a>
                </p>
                <div id="application"><i class="fa fa-spin fa-spinner" style="  padding: 90px; "></i> Loading please wait...</div>

            </div>
        </div>
    </div><!-- /container -->

    <div class="pg-container" id="page-3">
        <div class="page-header filled full-block light">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h3 class="cycle-title">Classroom Activities</h3>
                    <p  class="cycle-desc">  Manage student's academic progress  </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="pull-right">
                        <a class="pageload-link" href="#page-1"> 
                            <span class="mini-stat-icon tar">
                                <i class="fa fa-reply"></i></span>
                            <label class="control-label" style="margin-top:10px;"> Go back</label>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div id="classroom"><i class="fa fa-spin fa-spinner" style="  padding: 90px; "></i> Loading please wait...</div>
    </div>
    <div class="pg-container" id="page-4">
        <p>
            <a class="pageload-link" href="#page-1"> 
                <span class="mini-stat-icon tar">
                    <i class="fa fa-reply"></i></span>
                <label class="control-label" style="margin-top:10px;"> Go back</label>
            </a>
        </p>
        <div id="feesection"><i class="fa fa-spin fa-spinner" style="  padding: 90px; "></i> Loading please wait...</div>
    </div>

    <div class="pg-container" id="page-5">
        <p>
            <a class="pageload-link" href="#page-1"> 
                <span class="mini-stat-icon tar">
                    <i class="fa fa-reply"></i></span>
                <label class="control-label" style="margin-top:10px;"> Go back</label>
            </a>
        </p>
        <div id="lvloutsection"><i class="fa fa-spin fa-spinner" style="  padding: 90px; "></i> Loading please wait...</div>
    </div>

    <div class="pg-container" id="page-6">
        <p>
            <a class="pageload-link" href="#page-1"> 
                <span class="mini-stat-icon tar">
                    <i class="fa fa-reply"></i></span>
                <label class="control-label" style="margin-top:10px;"> Go back</label>
            </a> 
        </p>
        <div id="profilesection"><i class="fa fa-spin fa-spinner" style="  padding: 90px; "></i> Loading please wait...</div>
    </div>
    <div class="pg-container" id="page-7">
        <p>
            <a class="pageload-link" href="#page-1"> 
                <span class="mini-stat-icon tar">
                    <i class="fa fa-reply"></i></span>
                <label class="control-label" style="margin-top:10px;"> Go back</label>
            </a>
        </p>
        <div id="stuprofsection"><i class="fa fa-spin fa-spinner" style="  padding: 90px; "></i> Loading please wait...</div>
    </div>
    <div id="loader"  class="pageload-overlay" data-opening="M20,15 50,30 50,30 30,30 Z;M0,0 80,0 50,30 20,45 Z;M0,0 80,0 60,45 0,60 Z;M0,0 80,0 80,60 0,60 Z" data-closing="M0,0 80,0 60,45 0,60 Z;M0,0 80,0 50,30 20,45 Z;M20,15 50,30 50,30 30,30 Z;M30,30 50,30 50,30 30,30 Z">
        <svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
            <path  d="M30,30 50,30 50,30 30,30 Z"/>
        </svg>
    </div>

    <!-- /pageload-overlay -->

</div>


<?php
echo $this->tag->javascriptInclude("js/extra/pageexpand/classie.js");
echo $this->tag->javascriptInclude("js/extra/pageexpand/svgLoader.js");
?>
<script>
    $(document).ready(function () {
    });
    (function () {

        console.log($('#loader').find('path').attr('d'))
        $('#loader').find('path').attr('d', 'M40,20 c 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 0,0 Z')
        console.log($('#loader').find('path').attr('d'))
        var pageWrap = document.getElementById('pagewrap'),
                pages = [].slice.call(pageWrap.querySelectorAll('div.pg-container')),
                currentPage = 0,
                triggerLoading = [].slice.call(pageWrap.querySelectorAll('a.pageload-link')),
                loader = new SVGLoader(document.getElementById('loader'), {speedIn: 100});

        function init() {
            triggerLoading.forEach(function (trigger) {
                trigger.addEventListener('click', function (ev) {
                    ev.preventDefault();
                    var $this = ev.target
                    console.log($($this).parents('a').length)
                    console.log($($this).parents('a.pageload-link').attr('href'))
                    var cpage = $($this).parents('a.pageload-link').attr('href').split('-');
                    loader.show();
                    // after some time hide loader
                    setTimeout(function () {
                        loader.hide();
                        classie.removeClass(pages[ currentPage ], 'show');
                        // update..
                        currentPage = currentPage ? 0 : (cpage[1] - 1);
                        if (cpage[1] == 1) {
                            console.log('ins')
                            $('#lvloutsection').html()
                        }
                        console.log(cpage[1] + currentPage)
                        console.log(pages[ currentPage ])
                        classie.addClass(pages[ currentPage ], 'show');

                    }, 2000);
                });
            });
        }

        init();
    })();
</script>
<script>
    $(function () {
        $('.date-reset').on('click', function () {
            $('#name').val('')
            $('#stuAdmissionTxt').html('Initiate student admission')
            $('#stuFeeTxt').html('Student fee management')
            $('#stuEvalTxt').html('Promotion / Relieving')
            $('#stuAcdTxt').html('Review student performance')
            $('#Studentname').html('Student')
            $('#studentLogin').html('DATABASE <tspan fill="#E40E09" font-family="BebasNeueBold"> ( <?= $stucount->stucount ?> )')
            $('#studb').attr('class', '')
            $('#stupic').html('')


            $('#stu_admission_icon').attr('class', 'pageload-link white_font hide')
            $('#admission_icon').attr('class', '')

            $('#stu_academic_icon').attr('class', 'pageload-link white_font hide')
            $('#academic_icon').attr('class', '')

            $('#stu_fee_icon').attr('class', 'pageload-link white_font hide')
            $('#fee_icon').attr('class', '')

            $('#stu_relieve_icon').attr('class', 'hide')
            $('#relieve_icon').attr('class', '')

//            $('#menu-wrapper').attr('class', 'menu-wrapper')
//            $('#menu-wrapper1').attr('class', 'menu-wrapper1')
//            $('#menu-wrapper2').attr('class', 'menu-wrapper2')
//            $('#menu-wrapper3').attr('class', 'menu-wrapper3')

        });
        // commonSettings.studentListByLoggedUser['stu_ids']
        $('#name').typeahead({
            ajax: {url: commonSettings.searchAjaxurl + '/stuAutocomplt',
                dataType: "JSON",
                triggerLength: 1,
                preDispatch: function (query) {
                    $('#name').addClass('loadinggif');
                    return {
                        query: query,
                        search: query,
                        stulist: commonSettings.studentListByLoggedUser.stu_ids,
                    }
                },
                preProcess: function (data) {
                    $('#name').removeClass('loadinggif');
                    if (data.success === false) {
                        return false;
                    } else {
                        return data;
                    }
                }
            },
            itemSelected: displayResult
        });

        function displayResult(item, val, text) {
            $('#selectedID').val(val);
            studentCycleSettings.loadstudent(val)
        }

<?php if ($studentid) { ?>
            studentCycleSettings.loadstudent(<?= $studentid ?>)
<?php } ?>

        $('#academic_icon').hover(function () {
            $('.academic_applcn_list').addClass('hide');
        });

        $('#academic_applcn_list').hover(function () {
            $('.academic_applcn_list').removeClass('hide');
        });

        $('#admission_icon').hover(function () {
            $('.applcn_list').addClass('hide');
        });

        $('#applcn_list').hover(function () {
            $('.applcn_list').removeClass('hide');
        });

        $('#fee_icon').hover(function () {
            $('.fee_applcn_list').addClass('hide');
        });

        $('#fee_applcn_list').hover(function () {
            $('.fee_applcn_list').removeClass('hide');
        });

        $('#relieve_icon').hover(function () {
            $('.relive_appln_list').addClass('hide');
            $('.promote_appln_list').addClass('hide');
        });

        $('#relive_appln_list').hover(function () {
            $('.relive_appln_list').removeClass('hide');
            $('.promote_appln_list').addClass('hide');
        });

        $('#promote_appln_list').hover(function () {
            $('.promote_appln_list').removeClass('hide');
            $('.relive_appln_list').addClass('hide');
        });

        commonSettings.getStudentListByCurrentLoginID();

    });

    $("#stu_admission_icon .s-icon").mouseover(function () {
        $("#stu_admission_icon .s-icon").css("fill", "#0097A7");
    });

    $("#stu_admission_icon .s-icon").mouseout(function () {
        $("#stu_admission_icon .s-icon").css("fill", "#00BCD4");
    });


    $("#stu_academic_icon .s-icon").mouseover(function () {
        $("#stu_academic_icon .s-icon").css("fill", "#00796B");
    });

    $("#stu_academic_icon .s-icon").mouseout(function () {
        $("#stu_academic_icon .s-icon").css("fill", "#32B196");
    });


//    $("#stu_relieve_icon .s-icon").mouseover(function() {
//        $("#stu_relieve_icon .s-icon").css("fill", "#B71C1C");
//    });
//
//    $("#stu_relieve_icon .s-icon").mouseout(function() {
//        $("#stu_relieve_icon .s-icon").css("fill", "#ED7774");
//    });


    $("#stu_fee_icon .s-icon").mouseover(function () {
        $("#stu_fee_icon .s-icon").css("fill", "#757575");
    });

    $("#stu_fee_icon .s-icon").mouseout(function () {
        $("#stu_fee_icon .s-icon").css("fill", "#98AAA9");
    });

</script>
