 <body class="body-404">
    <div class="error-head"> </div>
    <div class="container ">
      <section class="error-wrapper text-center">
          <h1><img src="<?= $this->url->get('images/403.png') ?>" alt=""></h1>
          <div class="error-desk">
              <h2>Access Denied</h2>
              <p class="nrml-txt">You are not authorized to access this page</p>
          </div>
          <a href="<?= $this->url->get('index') ?>" class="back-btn"><i class="fa fa-home"></i> Back To Home</a>
      </section>
    </div>
  </body>