<body class="body-404">
    <div class="error-head"> </div>
    <div class="container ">
        <section class="error-wrapper text-center">
            <h1><img src="<?= $this->url->get('images/404.png') ?>" alt=""></h1>
            <div class="error-desk">
                <h2>page not found</h2>
                <p class="nrml-txt">We Couldn't Find This Page</p>
            </div>
            <a href="<?= $this->url->get('index') ?>" class="back-btn"><i class="fa fa-home"></i> Back To Home</a>
        </section>
    </div>  
</body>