<body class="body-500">
    <div class="error-head"> </div>
    <div class="container ">
        <section class="error-wrapper text-center">
            <h1><img src="<?= $this->url->get('images/500.png') ?>" alt=""></h1>
            <div class="error-desk">
                <h2>OOOPS!!!</h2>
                <p class="nrml-txt-alt">Something went wrong.</p>
                <p>Why not try refreshing you page? Or you can
                    <a href="#" class="sp-link">contact our support</a> if the problem persists.</p>
            </div>
            <a href="<?= $this->url->get('index') ?>" class="back-btn"><i class="fa fa-home"></i> Back To Home</a>
        </section>
    </div>