<section class="panel" id="addSubjSec">
    <div class="panel-body">
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addExamForm')); ?>
        <div class="center scaffold">
            <div class="col-md-12">

                <?php $nodenme = explode('-', $classId);
                if (count($nodenme) > 0) {
                    ?>
                    <span id="" class="label label-primary">
                        <?php
                        foreach ($nodenme as $nval) {
                            $newArr[] = OrganizationalStructureValues::findFirstById($nval)->name;
                        }
                        echo implode(' >> ', $newArr);
                        ?>                            
                    </span>
<?php } ?>
                <br><br>
                <div class="form-group">
                    <label for="subjectName" class="col-md-4 control-label">Exam Name:</label>
                    <div class="col-md-6">  
<?php echo $form->render("classID", array('value' => $classId)) ?> 
<?php echo $form->render("exname") ?> 
                    </div>
                </div>
            </div>    

            <div class="col-md-12">
                <div class="form-group">
                    <label for="subjectName" class="col-md-4 control-label">Exam Code:</label>
                    <div class="col-md-6">  
<?php echo $form->render("excode") ?> 
                    </div>
                </div>
            </div>  
            <div class="col-md-12">
                <div class="form-group">
                    <label for="markStart" class="col-md-4 control-label">Mark Recording Start Date:</label>
                    <div class="col-md-6">  
<?php echo $form->render("mark_record_start") ?> 
                    </div>                        
                </div>
            </div>     

            <div class="col-md-12">
                <div class="form-group">
                    <label for="markEnd" class="col-md-4 control-label">Mark Recording End Date:</label>
                    <div class="col-md-6">  
<?php echo $form->render("mark_record_end") ?> 
                    </div>                        
                </div>
            </div>    

<!--            <div class="col-md-12">

                <label id = 'labellinkmainexam'for="examName" class="col-md-9 control-label">
<?php //echo $form->render("link_check_box") ?> 
                    Want to link this main exam to another main exam
                </label> 

            </div> -->

            <!--<div id = 'mainexamlink' class =''>  </div>-->

        </div>
        </form>
    </div>
</section>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        format: 'dd-mm-yyyy',
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>