
<div id="add_main_exam"></div>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addMainExamForm', 'name' => 'addMainExamForm')); ?>
                <div class="center scaffold">
                    <input type="hidden" id="examType" name="examType" value="1" />
                    <?php                    //print_r($form);exit; ?>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="examName" class="col-md-3 control-label">Main Exam Name:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("exam_text") ?> 
                            </div>                        
                        </div>
                    </div>    

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="markStart" class="col-md-3 control-label">Mark Recording Start Date:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("mark_record_start") ?> 
                            </div>                        
                        </div>
                    </div>     

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="markEnd" class="col-md-3 control-label">Mark Recording End Date:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("mark_record_end") ?> 
                            </div>                        
                        </div>
                    </div>    

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="divVal" class="col-md-3 control-label">Select <?= $division_name ?>:</label>
                            <div class="col-md-6">  
                                  <?php echo $form->render("divVal"); ?>
                            </div>                        
                        </div>
                    </div>    

<!--                    <div class="col-md-12">

                        <label id = 'labellinkmainexam'for="examName" class="col-md-9 control-label">
                            <?php //echo $form->render("link_check_box") ?> 
                            Want to link this main exam to another main exam
                        </label> 

                    </div> 

                    <div id = 'mainexamlink' class =''>
                    </div>-->

                                       
                </div>  
                </form>
            </div>                
        </section>
    </div>
</div>



<script type="text/javascript">
    $('.form_date').datetimepicker({
        format: 'dd-mm-yyyy',
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.square-blue input').on('ifToggled', function(event) {
        if ($(this).is(':checked') == true) {
            console.log($(this).val())
            $(':input', '#addMainExamForm')
                    .not(':button, :submit, :reset, :hidden, :radio')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
            document.addMainExamForm.action = commonSettings.examAjaxurl + '/addExam'
            document.addMainExamForm.submit();
            return false;
        }
    });


//    $('#link_check_box').prop("checked", function(i, val) {
//        $('#link_check_box').prop("checked", <?= ($mainexamchecked) ? 'true' : 'false' ?>);
//        examSettings.linkmainexamtomainexam()
//    });
//
//    $('#exam_check_box').prop("checked", function(i, val) {
//        $('#exam_check_box').prop("checked", <?= ($alclasschecked) ? 'true' : 'false' ?>);
//        examSettings.hidemainexambyclass()
//    });

</script>