
<div>
    <?php
    if ($display_subject == 0) {
        echo '<div class="alert alert-block alert-danger fade in">' . "No Subjects Found" . '</div>';
    } else {
        ?>

        <div class="form-group">
            <label for=""  class="col-sm-3 control-label">Subject: </label>
            <div class="col-sm-6">
                <?php
                $id = "subid_".$formname;
                echo \Phalcon\Tag::Select(
                        array(
                            $id,
                            $subjects,
                            'useEmpty' => true,
                            'emptyText' => 'Select',
                            'emptyValue' => '-1',
                            'class' => 'form-control',
                            'onchange' => 'examSettings.loadmainexamlink(this)'
                        )
                );
                ?>
            </div>
        </div>

        <?php
    }
    ?>
</div>

