                        <?php if ($this->view->display_mainexam) { ?>
                            <div class="form-group">
                                <div id = "linkmain" class="col-sm-12 hide">
                                <label for=""  class="col-sm-3 control-label">Main Exam: </label>
                                <div  class="col-sm-3 ">
                                    <?php
                                        echo \Phalcon\Tag::select(
                                            array(
                                            "linkmainexam",
                                            $mainexams,
                                            'useEmpty' => false,
                                            'class' => 'form-control'
                                                   )
                                                   );
                                    ?>
                                </div>
                                </div>
    
                                <div id = "linkweight" class="col-sm-12 hide">
                                <label for=""  class="col-sm-3 control-label">Weightage: </label>
                                <div  class="col-sm-3 ">
                                    <?php
                                    echo \Phalcon\Tag::NumericField(
                                        array(
                                        "linkweightage",
                                        "placeholder" => "Weightage",
                                        "class" => "form-control",
                                        "min" => "1", "max" => "300"
                                            )
                                            );
                                    ?>
                                </div>
                                </div>
                     <label id = 'labellinkmainexam'for="examName" class="col-md-6 control-label">
                        <?php echo \phalcon\tag::checkfield(array('link_main_exam',
                                                                'onclick' => 'examSettings.hidetextbox(this)')); ?> 
                        Want to link this main exam to another main exam?
                    </label>                                 
                                
                            </div>     
                                                 
                        <?php } else { ?>
                            <div class="center scaffold">
                                <span>No main exams found which is applicable to all classes/sections/subjects</span>
                            </div>
                        <?php } ?>