<div id="add_class_test_msg"></div>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <header class="panel-heading">
                Select Subject to Add <?= $divname ?> Test
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <?php if (!$errorMessage) { ?>
                                    <?php
                                    foreach ($combinations as $key => $combival) {
                                        $exp_combival = explode("-", $combival);
                                        $subdivsval = $exp_combival;
                                        $subdivs = array_shift($subdivsval);
                                        ?>
                                        <div class="col-md-2">
                                            <div class="stats-counter inactive combispan" id = "span_<?= $key ?>" teacherType ="<?= $type ?>" cdate ="<?= date('Y-m-d', time()) ?>"
                                                 onclick = "examSettings.loadClassTestForm(this)">
                                                <span class="mini-stat-icon orange-theme"><?= $exp_combival[0] ?></span>
                                                <h6 class="col-md-12"><?= implode('-', $subdivsval) ?></h6>
                                            </div>
                                        </div><?php
                                    }
                                } else {
                                    ?>
                                    <div class = "center scaffold">
                                        <span><div class="alert alert-block alert-danger fade in"><?= $errorMessage ?></div></span>
                                    </div>                            
                                <?php } ?>
                            </div>                           
                        </div>
                    </div>
                </div>                       
            </div>
        </section>       
    </div>
</div>
<div id = 'loadmainexam' class='hide'></div>   

<div id = 'viewclasstest' class='hide'></div>   
