
            <div class="col-md-3" >
                <table id="testStuTable" border="0" class="table general-table">
                    <thead class="thead_default">
                        <tr>
                            <td><label for=""  class="">Students </label> </td>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        foreach ($students as $stu) {
                            $stuGenInfo = StudentGeneralMaster::findFirstByStudentId($stu->id);
                            $stuAcdInfo = StudentAcademicMaster::findFirstByStudentId($stu->id);
                            ?>
                            <tr><td class="student_name "> 
                                    <?php
                                    if ($stuGenInfo->photo) {

                                        echo $this->tag->image(array(
                                            "src" => $stuGenInfo->photo ? (FILES_URI . $stuGenInfo->photo) : ('images/user.jpg'),
                                            'style' => 'border-radius:50%',
                                            'width' => '40px',
                                            'height' => '40px'));
                                    } else {
                                        ?>
                                        <span title="click here to make attendance" 
                                              class="mini-stat-icon tar "  >
                                            <?= substr($stu->Student_Name, 0, 1); ?></span>
                                    <?php }
                                    ?> <?= $stu->Student_Name . ' (' . $stuAcdInfo->rollno . ') ' ?></td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9" id ="myDiv1">
                <table  border="0" class="table general-table">
                    <thead class="thead_default">
                        <tr>
                            <?php
                            $markedAtt = explode(',', $attPeriod);
                            for ($i = 1; $i <= $noofperiods; $i++):
                                $attclass = (in_array($i, $markedAtt)) ? 'attend-taken' : 'not-taken'
                                ?>
                                <td class="att_table">
                                    <span class="mini-stat-icon <?= $attclass ?> periodVal" id="periodval_<?= $i ?>" 
                                          title="click here to update period attendance"     onclick="attendanceSettings.selectedperiods(<?= $i ?>)" >
                                        <?= AttendanceController::_toRoman($i); ?></span>
                                    <i class="fa fa-spinner fa-spin hide loading_<?= $i ?>"></i>
                                    <i class="fa fa-check green  hide done_<?= $i ?>"></i>

                                </td>
                            <?php endfor; ?>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($students as $stu) { ?>
                            <tr><?php
                                for ($i = 1; $i <= $noofperiods; $i++):

                                    $attPeriod = $attdays->id ?
                                            AttendancePeriods::findFirst("att_days_id =" . $attdays->id . " and period_value =" . $i) : '';
                                    $att_val = $attPeriod ? AttendanceValues::findFirst("att_days_id=" . $attdays->id .
                                                    " and att_period_id =" . $attPeriod->id .
                                                    " and user_id =" . $stu->id) : '';

                                    $defaultPresent = $attPeriod ? '1' : '0';
                                    $att_valu_mastr = $att_val ? AttendanceSelectbox::findFirstById($att_val->value_id) :
                                            (($defaultPresent == 1) ? AttendanceSelectbox::findFirst("attendance_for ='student' and default = 1") :
                                                    '');
                                    ?>
                                    <td class="att_table"> 
                                        <?php if (strtotime(date('d-m-Y', $stu->Date_of_Joining)) <= strtotime(date('d-m-Y', $cdate))) { ?>

                                            <div class="form-group ">
                                                <?php if ($att_valu_mastr) { ?>
                                                    <span title="<?= $att_valu_mastr->attendancename ?>" style=" background-color: <?= $att_valu_mastr->color ?>" 
                                                          class="mini-stat-icon select-menu " id="attendnav_btn_<?= $i ?>" >
                                                        <?= strtoupper($att_valu_mastr->attendanceid) ?></span>
                                                <?php } else { ?>
                                                    <span title="click here to make attendance" 
                                                          class="mini-stat-icon tar select-menu " id="attendnav_btn_<?= $i ?>" >
                                                        <i class="fa fa-plus"></i></span>
                                                <?php } ?>
                                                <nav class=" attend-menu attend-menu_<?= $i ?> ">
                                                    <?php foreach ($attValues as $attval): ?>

                                                        <span class="mini-stat-icon " style=" background-color: <?= $attval->color ?>"                                                
                                                              periodId ="<?= $i ?>"   userId ="<?= $stu->id ?>" attId ="<?= $attval->id ?>"   
                                                              title="<?= $attval->attendancename ?>"    
                                                              onclick="attendanceSettings.addOrUpdateAttnVal(this)">
                                                            <?= strtoupper($attval->attendanceid) ?></span>
                                                    <?php endforeach; ?>
                                                </nav>

                                            </div>

                                            <i class="fa fa-spinner fa-spin hide loading_<?= $stu->id ?>_<?= $i ?>"></i>
                                            <i class="fa fa-check green  hide done_<?= $stu->id ?>_<?= $i ?>"></i> 
                                            <?php
                                        }else {
                                            echo ' <span  class="label label-warning label-mini  pull-left"> NA   </span>';
                                        }
                                        ?>

                                    </td>
                                <?php endfor; ?> </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9" id ="myDiv">

            </div>