<?php
//echo $this->tag->javascriptInclude("js/exam/exam.js");
echo $this->getContent();
$msg = $this->flashSession->getMessages();
if ($msg && isset($msg['error'])) {

    if (count($msg['error'])) {

        echo '<div class="alert alert-error">';
        foreach ($msg['error'] as $msgs) {
            echo $msgs . '<br>';
        }
        echo '</div>';
    } else if (count($msg['success'])) {
        echo '<div class="alert alert-success">';
        foreach ($msg['success'] as $msgs) {
            echo $msgs . '<br>';
            echo '</div>';
        }
    }
}
?>
<div id="add_main_exam"></div>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <!--            <header class="panel-heading">
                                Add/Update Main Exam
                            <span class="tools pull-right">
                                <a class="fa fa-chevron-down" href="javascript:;"></a>
                            </span>
                        </header>-->

            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addMainExamForm', 'name' => 'addMainExamForm')); ?>
                <div class="center scaffold">
                    <input type="hidden" id="examType" name="examType" value="2" />
                    <!--                    <div class="col-md-12">
                                            <div class="form-group">
                    
                                                <label for="" class="col-md-3 control-label">Choose type:</label>
                                                <div class="col-md-9">  
                                                    <div class="col-sm-3 icheck ">
                                                        <div class="square-blue search-row">
                                                            <div class="radio exam">
                                                                <input type="radio"  id="examType_1" <?= ($examTypeActive == 1) ? 'checked' : '' ?>  name="examType" value='1'>
                                                                <label>Add Exam </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 <div class="col-sm-3 icheck ">
                                                    <div class="square-blue  search-row">
                                                        <div class="radio ">
                                                            <input type="radio"  id="examType_2" <?= ($examTypeActive == 2) ? 'checked' : '' ?> name="examType" value='2'>
                                                            <label>Edit Exam </label>
                                                        </div>
                                                    </div>
                                                </div>                              
                                                </div>                        
                                            </div>
                                        </div>   -->
                    <?php //print_r($form);exit; ?>
                    <?php echo $form->render("exam_type_id") ?> 
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="examName" class="col-md-3 control-label">Main Exam Name:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("exam_text") ?> 
                            </div>                        
                        </div>
                    </div>    

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="markStart" class="col-md-3 control-label">Mark Recording Start Date:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("mark_record_start") ?> 
                            </div>                        
                        </div>
                    </div>     

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="markEnd" class="col-md-3 control-label">Mark Recording End Date:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("mark_record_end") ?> 
                            </div>                        
                        </div>
                    </div>    

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="divVal" class="col-md-3 control-label">Select <?= $division_name ?>:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("divVal"); ?>
                            </div>                        
                        </div>
                    </div>    

                    <!--                    <div class="col-md-12">
                                            <div class="form-group">
                                                <label for=""  class="col-sm-3 control-label">Max Marks Per Subject: </label>
                                                <div class="col-sm-6">
                    <?php //echo $form->render("totalmarks"); ?>
                                                </div>    
                                            </div> 
                                        </div>-->

                    <div class="col-md-12">
                        <!--                        <label for="examName" class="col-md-6 control-label">
                        <?php //echo $form->render("exam_check_box") ?> 
                                                    Want to add exam by individual class/section?
                                                </label>   -->  

                        <label id = 'labellinkmainexam'for="examName" class="col-md-9 control-label">
                            <?php echo $form->render("link_check_box") ?> 
                            Want to link this main exam to another main exam
                        </label> 

                    </div> 

                    <div id = 'mainexamlink' class =''>
                        <!--                        <div class="col-md-9">
                                                <button class="btn btn-success pull-right" type="button" id="exam_add" onclick='examSettings.addmainexam(0)'> Save</button>                                
                                            </div>   -->
                    </div>


                </div>  
                </form>
            </div>                
        </section>
    </div>
</div>



<script type="text/javascript">
    $('.form_date').datetimepicker({
        format: 'dd-mm-yyyy',
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.square-blue input').on('ifToggled', function(event) {
        if ($(this).is(':checked') == true) {
            console.log($(this).val())
            $(':input', '#addMainExamForm')
                    .not(':button, :submit, :reset, :hidden, :radio')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
            document.addMainExamForm.action = commonSettings.examAjaxurl + '/addExam'
            document.addMainExamForm.submit();
            return false;
        }
    });


    $('#link_check_box').prop("checked", function(i, val) {
        $('#link_check_box').prop("checked", <?= ($mainexamchecked) ? 'true' : 'false' ?>);
        examSettings.linkmainexamtomainexam()
    });

    $('#exam_check_box').prop("checked", function(i, val) {
        $('#exam_check_box').prop("checked", <?= ($alclasschecked) ? 'true' : 'false' ?>);
        examSettings.hidemainexambyclass()
    });

</script>