

<section class="panel" id="addSubjSec">
    <div class="panel-body">
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addExamForm')); ?>
        <div class="center scaffold">
            <div class="col-md-12">

                <?php
                $classId = $mainexam->node_id;
                $nodenme = explode('-', $classId);
                if (count($nodenme) > 0) {
                    ?>
                    <span id="returned_node_nameall" class="label label-primary">
                        <?php
                        foreach ($nodenme as $nval) {
                            $newArr[] = OrganizationalStructureValues::findFirstById($nval)->name;
                        }
                        echo implode(' >> ', $newArr);
                        ?>                            
                    </span>
                <?php } ?>
                <br><br>
                <div class="form-group">
                    <label for="subjectName" class="col-md-4 control-label">Exam Name:</label>
                    <div class="col-md-6">  
                        <input type="hidden" value="<?= $mainexam->id ?>" id="examid" name="examid" />
                        <?php echo $form->render("classID", array('value' => $classId)) ?> 
                        <?php echo $form->render("exname", array('value' => $mainexam->exam_name)) ?> 
                    </div>
                </div>
            </div>    

            <div class="col-md-12">
                <div class="form-group">
                    <label for="subjectName" class="col-md-4 control-label">Exam Code:</label>
                    <div class="col-md-6">  
                        <?php echo $form->render("excode", array('value' => $mainexam->examCode)) ?> 
                    </div>
                </div>
            </div>  
            <div class="col-md-12">
                <div class="form-group">
                    <label for="markStart" class="col-md-4 control-label">Mark Recording Start Date:</label>
                    <div class="col-md-6">  
                        <?php echo $form->render("mark_record_start", array('value' => date('d-m-Y', $mainexam->mark_record_start_date))) ?> 
                    </div>                        
                </div>
            </div>     

            <div class="col-md-12">
                <div class="form-group">
                    <label for="markEnd" class="col-md-4 control-label">Mark Recording End Date:</label>
                    <div class="col-md-6">  
                        <?php echo $form->render("mark_record_end", array('value' => date('d-m-Y', $mainexam->mark_record_end_date))) ?> 
                    </div>                        
                </div>
            </div>   

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="" class="col-md-3 control-label">Evaluation Status:</label>
                            <div class="col-md-6">  
                                <div class="col-md-6">
                                     <label for="evalstatus" class="col-md-3 control-label">Open</label>
                                     <span class="col-md-3"><input type="radio" name="evalstatus" value="0"></span>
                                </div>
                                <label for="evalstatus" class="col-md-3 control-label">Close</label>
                                     <span class="col-md-3"><input type="radio" name="evalstatus" value="1"></span>
                            </div>                        
                        </div>
                    </div> 
<!--            <div class="col-md-12">

                <label id = 'labellinkmainexam'for="examName" class="col-md-9 control-label">
                    <?php
//                    $checked = $mainexam->mainexam_id ? 'checked' : '';
//                    $disabled = $mainexam->mainexam_id ? 'disabled' : '';
                   // echo $form->render("link_check_box", array($checked => '', $disabled => ''))
                    ?> 
                    Want to link this main exam to another main exam
                </label> 

            </div> 

            <div id = 'mainexamlink' class =''>  </div>-->

        </div>
        </form>
    </div>
</section>
<script type="text/javascript">
    examSettings.loadMainExLnk();
    $('.form_date').datetimepicker({
        format: 'dd-mm-yyyy',
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>