<div class="row">
    <div class="col-sm-12" id='editmainDiv'>
        <section class="panel" id='editclassSelector'>  
            <div class="panel-body">
                <div class="row">    
                    <input type="hidden" value="<?= $test->class_test_id ?>" id="test_id" />

                    <div class="form-group col-md-12">
                        <label for=""  class="col-md-4 control-label"> Exam Subject: </label>
                        <div class="col-md-6">
                            <?php
                            $aggregate_keys = $test->subjct_modules ? explode('-',$test->subjct_modules) : '';

                            $subjects = array();
                            foreach ($aggregate_keys as $agindvvalue):
                                $agindvValRec = OrganizationalStructureValues::findFirstById($agindvvalue);
                                $subjects[] = $agindvValRec->name;
                            endforeach;

                            echo \Phalcon\Tag::TextField(
                                    array(
                                        "examsubjects",
                                        "class" => "form-control",
                                        "value" => implode('>>',$subjects),
                                        "readonly"=>'',
                                        'title'=>implode('>>',$subjects)
                                    )
                            );
                            ?>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for=""  class="col-md-4 control-label"> Test Name: </label>
                        <div class="col-md-6">
                            <?php
                            echo \Phalcon\Tag::TextField(
                                    array(
                                        "editclasstestname",
                                        "class" => "form-control",
                                        "value" => $test->class_test_name
                                    )
                            );
                            ?>
                        </div>
<!--                        <div class="col-md-9">
                            <label for="examName" class="control-label">
                                <?php
                                $checked = ($test->mainexam_id) ? "checked" : "";
                                $disabled = ($test->mainexam_id) ? "disabled" : '';
                                echo \Phalcon\Tag::checkField(
                                        array(
                                            "editlinkmainexam",
                                            'class' => 'box',
                                            'onchange' => 'examSettings.edit_hidemainexamlink()',
                                            $checked => '',
                                            $disabled => ''
                                        )
                                );
                                ?>
                                Link it to Main Exam
                            </label> 
                        </div>-->
                    </div>


<!--                    <div id = "editmainexamlink" class = <?= $test->mainexam_id ? "" : "hide" ?>>
                        <?php if ($display > 0) { ?>
                            <div class="form-group col-md-12">
                                <label for=""  class="col-md-4 control-label">Select Main Exam: </label>
                                <div class="col-md-6">
                                    <?php
                                    echo \Phalcon\Tag::select(
                                            array(
                                                "editmainexam",
                                                $mainexams,
                                                'value' => $test->mainexam_id,
                                                'class' => 'form-control',
                                                $disabled => ''
                                            )
                                    );
                                    ?>
                                </div>
                            </div>     

                            <div class="form-group col-md-12">
                                <label for=""  class="col-sm-4 control-label">Marks Contributed To The Selected Main Exam: </label>
                                <div class="col-sm-6">
                                    <?php
                                    echo \Phalcon\Tag::NumericField(
                                            array(
                                                "editweightage",
                                                "placeholder" => "Weightage",
                                                "class" => "form-control",
                                                "min" => "1", "max" => "300",
                                                "value" => $test->mainexam_outof
                                            )
                                    );
                                    ?>
                                </div>
                            </div>  

                        <?php } else { ?>
                            <div class="center scaffold">
                                <span align = "center">No main exams found!!</span>
                            </div>
                        <?php } ?>
                    </div>    -->
                </div>
            </div>
        </section>
    </div>
</div>



