        <section class="panel">
            <header class="panel-heading">
                Add Exam For Entire School
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id'=>'addExamForm')); ?>
                <div class="center scaffold">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="examName" class="col-md-3 control-label">Exam Name:</label>
                            <div class="col-md-6">  
                                <?php echo $form->render("exam_text") ?> 
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success pull-left" type="button" id="exam_add" onclick='examSettings.addexam_entireschool(this)'> Add</button>                                
                            </div>
                        </div>
                    </div>                    
                </div>
                </form>
            </div>
        </section>