<section class="panel">
    <header class="panel-heading">
        List of Exam for this Node
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <?php 
            ?>

            <div class="col-md-3">
                <section class="panel-body"> 
                    <div class="col-md-12">
                         <div class="mini-stat-node col-md-8" onclick="spacetreeutilsSettings.loadSpaceTreeForAllExam('<?= $cycleID ?>', 'node_id', 'node_name')" style="cursor: pointer;"> 
                            <span class="mini-stat-icon pink"><i class="fa fa-plus"></i></span>
                            <div class="mini-stat-info">
                                <span>Add</span>
                            </div>
                        </div>                        
                    </div><br><br><br>
                    <ul class="nav nav-pills nav-stacked">
                        <?php
                        if($subjects && count($subjects)):
                        foreach ($subjects as $key =>$subject) {
                            ?>
                            <li class="alert-info">
                                <a href="#nodetable_<?= $key ?>" >
                                    <?= $key; ?></a></li> 
                                        <?php } endif;  ?>
                    </ul>
                </section>

            </div>
            <div class="col-md-9 node_table_top" style="height: 600px; overflow-x: hidden;">

                    <div id="added_category" class='hide'>
                        <input type="hidden" value="" id='node_id'/>
                        <input type="hidden" value="" id='node_name'/>
                        <span id="returned_node_nameall" class="label label-primary">

                        </span>
                    </div>
                <?php
                if($subjects && count($subjects)):
                foreach ($subjects as $key =>$subject) {
                    ?>

                    <div class="col-md-12 pull-right node_table" id="nodetable_<?= $key ?>">
                        <span class="label label-primary"><?= $key ?>
                            <a href='javascript:void(0)' class='' onclick='examSettings.createExam("<?= $subject[0]['node_id'] ?>")' 
                               title='Add Exam'>  
                                <i class='fa fa-plus activity-icon bg-red' style='margin-top: 6px;'></i></a>
                        </span>
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Exam(Code)</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
<!--                                    <th>Contributes to Exam (Weightage)</th>-->
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <?php
                                $i = 0;
                                foreach ($subject as $exam):
                                    ?>
                                    <tr>

                                        <td><?= ++$i; ?></td>
                                        <td><?= $exam['exam_name'] . '(' . $exam['exam_code'] . ')'; ?></td>
                                        <td><?= date('d-m-Y', $exam['mark_record_start_date']) ?></td>
                                        <td><?= date('d-m-Y', $exam['mark_record_end_date']) ?></td>
                                        <!--<td><?= $exam['C_mainexam_id']->exam_name . '(' . $exam['mainexam_outof'] . ')'; ?></td>-->
                                        <td>                                            
                                            <span class="mini-stat-icon-action pink" title="Edit" onclick="examSettings.editExam(<?= $exam['id']; ?>)">
                                                <i class="fa fa-edit"></i></span>
                                            <span class="mini-stat-icon-action red-bg" title="Delete" onclick="examSettings.deleteExam(<?= $exam['id']; ?>)">
                                                <i class="fa fa-trash-o"></i></span>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>

                            </tbody>
                        </table>


                    </div>

                    <?php
                }
                    
                endif;
                ?>
            </div>
    </div>
</section>