<div class="col-md-12">
    <div class="col-md-10"></div>

    <div class="col-md-2 hide">
        <span class="mini-stat-icon yellow-b" onclick="examSettings.mainexamhelpLegend()">
            <i class="fa fa-question"></i>
        </span>
        <label class="control-label " style="margin-top:10px;">Help</label>
    </div>


    <div class=" hide mainexamhelpLegend">
        <div class="">
            <div class="form-group ">
                <h3 class="control-label" style="margin-top:10px;margin-left: 10px;">Help to Add Exam</h3>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">1. Select the Main Exam tab on the Screen.</label>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">2. Select the Class/Grade which you want to add the Exam.</label>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">3. Click the Add New button on the screen.</label>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">4. Fill Exam Name, Marks recording dates, Class to add the exam.</label>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">5. Select the Check box, if this exam marks contributes to any other main exams.</label>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">6. Select the Main exam for contributing this exam, if the check box is selected.</label>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">7. Give the Mark Weightage for contributing this exam.</label><br>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">8. Click the Save button.</label>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">9. User can able to Edit/Delete the Exams by using the Action button on the screen.</label>

            </div>

            <div class="form-group ">
                <h3 class="control-label" style="margin-top:10px;margin-left: 10px;">Help to Add Marks</h3>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">1. Click the update Marks icon for the Main Exam which for which you want to add marks.</label>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">2. User can able to view the all Subjects for the Students.</label>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">3. Click the edit icon in the header of the highligted subject.</label>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">4. Give the Total marks in the header.</label><br>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">5. Update the Marks for each Student.</label>
                <label class="control-label" style="margin-top:10px;margin-left: 10px;">6. Then click the back button to return the Exam list page.</label>

            </div>

        </div>
    </div>




</div>
<h3>List Of Exams For <?= $combinations;//implode('>>', $combinations) ?></h3>
<table id="examTable" border="0" class="table general-table table-hover">
    <thead class="thead_default">
        <tr>
            <th>Exam(Code)</th>
<!--            <th>Contributes to Exam (Weightage)</th>-->
            <th>Mark Recording Start Date</th>
            <th>Mark Recording End Date</th>
            <th>Total Marks</th>
            <th>Update marks</th>
           
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($mainexams as $mex) {
            $master = GroupSubjectsTeachers::findfirst('id = ' . $master_id);
            $marks = MainexamMarks::findfirst('mainexam_id = ' . $mex->id 
                    . ' and grp_subject_teacher_id = '.$master->id
                    . ' and subject_id = ' . $master->subject_id);
            $outof = '-';
            if ($marks) {
                $outof = $marks->outof + $marks->inherited_outof;
            }
            ?>
            <tr>
                <td> <?= $mex->exam_name . '(' . $mex->examCode . ')' ?></td> 
                <!--<td>  <?= $mex->mainexam_id ? Mainexam::findFirstById($mex->mainexam_id)->exam_name : '-' ?> (<?= $mex->mainexam_outof ? $mex->mainexam_outof : '-' ?>) </td>-->
                <td>  <?= date('d F, y', $mex->mark_record_start_date)  ?></td>
                <td>  <?= date('d F, y', $mex->mark_record_end_date) ?></td>
                <td>  <?= $outof ?></td>

                <td>                    
                    <span class="mini-stat-icon-action yellow-b" 
                          title="Update Marks" onclick="markSettings.loadStudentMarkList(<?= $mex->id ?>)">
                        <i class="fa fa-check-square-o"></i></span>

                </td>
                
            </tr>
        <?php } ?>
    </tbody>

</table>