<?php
echo $this->tag->javascriptInclude("js/appscripts/transport/transport.js");
?>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addNewClassTestForm')); ?>

                <div class="center scaffold">
                    <div class="row">    
                        <?php
                        $fields = OrganizationalStructureValues::findFirstById($subject->subject_id);

                        $org_mas = OrganizationalStructureMaster::findFirstById($fields->org_master_id);
                       
                        
                        ?>

                        <div class="form-group">
                            <label for=""  class="col-sm-3  control-label mandatory"><?= ucfirst($org_mas->name) ?></label>  
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="subjectname" name="subjectname" value="<?= $fields->name ?>" readonly=""/>
                                <input type="hidden" class="form-control" id="aggregate_subjectid" name="aggregate_subjectid" value="<?= $fields->id ?>" readonly=""/>
                            </div>
                        </div>
                        <?php
                        $field_col = OrganizationalStructureValues::findFirst('parent_id = ' . $subject->subject_id);
                       if($field_col){
                   
                        $org_mas_1 = OrganizationalStructureMaster::findFirstById($field_col->org_master_id);
                        
                         $subchk = OrganizationalStructureValues::find('org_master_id = ' . $org_mas_1->id . ' and parent_id = ' . $subject->subject_id);
                        
                        if(count($subchk) > 0){
                            ?>
                        <div class="form-group">
                            <label for=""  class="col-sm-3  control-label mandatory"><?php
                             
                        echo ucfirst($org_mas_1->name);
                        ?></label>  
                            <div class="col-sm-6">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            'aggregate_' . strtolower(str_replace(' ', '', $org_mas_1->name)),
                                            OrganizationalStructureValues::find('org_master_id = ' . $org_mas_1->id . ' and parent_id = ' . $subject->subject_id),
                                            "using" => array("id", "name"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control',
                                            'title' => $fields->name,
                                            'onchange' => 'transportSettings.loadSubtrees(this)'
                                        )
                                );
                                ?>

                            </div> 

                        </div>
                        <div class="subtreediv hide"></div>
                        <?php  }
                       }?>


                        <div class="form-group">
                            <label for=""  class="col-md-3 control-label"> Test Name: </label>
                            <div class="col-md-6">
                                <?php
                                //$subject_masterid
                                echo \Phalcon\Tag::TextField(
                                        array(
                                            "classtestname",
                                            "class" => "form-control"
                                        )
                                );
                                ?>
                            </div>
                            <!--                            <div class="col-md-9">
                                                            <label for="examName" class="control-label">
                            <?php
                            echo \Phalcon\Tag::checkField(
                                    array(
                                        "linkmainexam",
                                        'class' => 'box',
                                        'onchange' => 'examSettings.hidemainexamlink()'
                                    )
                            );
                            ?>
                                                                Link it to Main Exam
                                                            </label> 
                                                        </div>-->
                        </div>


                        <div id = "mainexamlink" class = "hide">
                            <?php if ($display > 0) { ?>
                                <div class="form-group col-md-12">
                                    <label for=""  class="col-md-4 control-label">Select Main Exam: </label>
                                    <div class="col-md-6">
                                        <?php
                                        echo \Phalcon\Tag::select(
                                                array(
                                                    "mainexam",
                                                    $mainexams,
                                                    'useEmpty' => true,
                                                    'emptyText' => 'Select',
                                                    'emptyValue' => '-1',
                                                    'class' => 'form-control'
                                                )
                                        );
                                        ?>
                                    </div>
                                </div>     

                                <div class="form-group col-md-12">
                                    <label for=""  class="col-sm-4 control-label">Marks Contributed To The Selected Main Exam: </label>
                                    <div class="col-sm-6">
                                        <?php
                                        echo \Phalcon\Tag::NumericField(
                                                array(
                                                    "weightage",
                                                    "placeholder" => "Weightage",
                                                    "class" => "form-control",
                                                    "min" => "1", "max" => "300"
                                                )
                                        );
                                        ?>
                                    </div>
                                </div>  
                            <?php } else { ?>
                                <div class="center scaffold">
                                    <span align = "center">No main exams found!!</span>
                                </div>
                            <?php } ?>
                        </div>    
                    </div>
                </div>
                </form>
            </div>
        </section>
    </div>
</div>





