<?php //echo $this->tag->javascriptInclude("js/scripts.js");   ?>

    <?php if ($display) { ?>
        <div class="form-group">
            <label for=""  class="col-sm-3 control-label">Select Subject: </label>
            <div class="col-sm-6">
                        <?php
                        echo \Phalcon\Tag::Select(
                                array(
                                    "subid",
                                    $subjects,
                                    'useEmpty' => true,
                                    'emptyText' => 'Select',
                                    'emptyValue' => '-1',       
                                    'class' => 'form-control',
                                    'onchange' => 'examSettings.loadmainexam(this.value)'
                                )
                                );
                        ?>
            </div>
        </div>
    
    <?php } else { ?>
        <div class="center scaffold">
            <span><?php echo '<div class="alert alert-block alert-danger fade in">'
            . 'Sorry!! You Are Not Assigned With Any Subjects Yet!</div>';?></span>
        </div>
    <?php } ?>     
       





