<div class="row">
    <div class="col-md-12">
        <div class="form-group">
                <!--<label for=""  class="col-md-2 control-label"><?= $subdiv_name ?>:</label> -->
            <div class="col-md-10">
                <?php
                if ($display_subdiv) {
                    foreach ($subdivvals as $subdivval) {
                        ?>
                        <span class="mini-stat-icon tar inactive"
                              id = "span_<?= $subdivval->id ?>"
                              onclick = "examSettings.loadSection(<?= $subdivval->id ?>)"> <?= $subdivval->name ?></span>
                              <?php
                          }
                      } else {
                          ?>
                    <div class = "center scaffold">
                        <span><?php
                            echo '<div class="alert alert-block alert-danger fade in">'
                            . 'Sorry!! You Do NoT Have Access Right To See Any' . $subdiv_name . ' Yet!</div>';
                            ?></span>
                    </div>                            
<?php } ?>
            </div>
        </div>
    </div>
</div>

<!--
<?php if ($display_subdiv) {
    ?>
        <div class="form-group">

            <label for=""  class="col-sm-3 control-label">Select <?= $subdiv_name; ?>: </label>
            <div class="col-sm-6">

    <?php
    //$subdivVal = SubDivisionValues::find('divValID =' . $this->view->classId . ' and subDivID=' . $subdiv->id);
    echo \Phalcon\Tag::select(
            array(
                "subDivVal",
                $subdivvals,
                "using" => array("id", "name"),
                'useEmpty' => true,
                'emptyText' => 'Select',
                'emptyValue' => '0',
                'class' => 'form-control',
                'onchange' => 'examSettings.loadSubjects(this.value)'
            )
    );
    ?>
            </div>            
        </div>  
<?php } else {
    ?>
        <div class="center scaffold">
            <span><?php
    echo '<div class="alert alert-block alert-danger fade in">'
    . 'Sorry!! You Are Not Assigned With Any ' . $subdiv_name . ' Yet!</div>';
    ?></span>
        </div>                            
<?php } ?>  -->
