<?php 
          $messages = $form->getMessages();

            if (count($messages)) {
                
                echo '<div class="alert alert-error">';
                foreach ($messages as $message) {
                    echo $message.'<br>';
                }
                echo '</div>';
            }
        ?>
<div align="center" class="well">

    <form method="post" autocomplete="off" >

<?php $this->getContent(); ?>

<div class="center scaffold">
    <h2>Create a User</h2>

    <div class="clearfix">
         <?php echo $form->render("userRole") ?> 
        <label for="name">Name</label>
        <?php echo $form->render("login") ?> 
    </div>

    <div class="clearfix">
        <label for="email">E-Mail</label>  
            <?php echo $form->render("email", array('value'=>$saEmail)) ?> 
    </div>

     <div class="clearfix">
            <label for="password">Password</label>
           <?php echo $form->render("password") ?>  
        </div>

        <div class="clearfix">
            <label for="confirmPassword">Confirm Password</label>
         <?php echo $form->render("confirmPassword") ?>   
        </div>

        <div class="clearfix">
        <?php echo \Phalcon\Tag::submitButton(array("Save", "class" => "btn btn-big btn-success")) ?>
        </div>

</div>

</form>
    
    </div>