
<section class="panel">
    <header class="panel-heading">
        Manage Exams
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <?php
                    if (!$errorMessage) {
                        foreach ($combinations as $key => $combival) {

                            $exp_combival = implode("<br>", $combival);
                            ?>  
                            <div class="combispan" id = "span_<?= $key ?>" 
                                 teacherType ="<?= $type ?>" cdate ="<?= date('d-m-Y', time()) ?>"
                                 onclick = "markSettings.UpdateCurrentView(this)">
                                <span> 
                                    <ul class="breadcrumbs-alt">
                                        <?php
                                        foreach ($combival['name'] as $val) {
                                            ?>
                                            <li><span><?= $val . ' >> ' . $combival['subject'] ?></span></li> 
                                        <?php } ?>
                                    </ul>
                                </span>

                            </div>
                            <?php
                        }
                    } else {
                        ?>                      

                        <div class = "center scaffold">
                            <span><div class="alert alert-block alert-danger fade in"><?= $errorMessage ?></div></span>
                        </div>                            
                    <?php } ?>
                </div>
            </div>
            <div class="col-md-12 hide" id="stuExamList"> </div>
            <div class="col-md-12 hide" id="stuMarkList"> </div>
        </div>
    </div>
</section>
