<style>
    ul.to-do-list>li {
        padding: 13px;
    }
</style>


<?php
echo $this->tag->javascriptInclude("js/jquery-ui.js");

echo $this->tag->javascriptInclude("js/tagit/tag-it.js");
echo $this->tag->stylesheetLink("js/tagit/jquery.tagit.css");
echo $this->tag->stylesheetLink("js/tagit/tagit.ui-zendesk.css");
?>
<script type="text/javascript">
    $("#allfields li").draggable({
        appendTo: "body",
        helper: "clone",
        cursor: "select",
        revert: "invalid"
    });
    initDroppable($("#formula"));
    function initDroppable($elements) {
        $elements.droppable({
            hoverClass: "textarea",
            accept: ":not(.ui-sortable-helper)",
            drop: function (event, ui) {
                var $this = $(this);

                var tempid = ui.draggable.text();
                var fromdragid = ui.draggable.attr('ids').split('_');
                var resultObj = '';
                var stringToAppend = '';

                var dropText;


                if (fromdragid[0] === 'mainexam')
                {

                    dropText = 'M_' + fromdragid[1];

                    resultObj = $("#mainmexam_ids");
                    stringToAppend = resultObj.val().length > 0 ? resultObj.val() + "," : "";
                    resultObj.val(stringToAppend + fromdragid[1]);

                }

                if (fromdragid[0] === 'classtest')
                {
                    dropText = 'C_' + fromdragid[1];

                    resultObj = $("#classtest_ids");
                    stringToAppend = resultObj.val().length > 0 ? resultObj.val() + "," : "";
                    resultObj.val(stringToAppend + fromdragid[1]);
                }

                if (fromdragid[0] === 'assignment')
                {
                    dropText = 'A_' + fromdragid[1];

                    resultObj = $("#assignment_ids");
                    stringToAppend = resultObj.val().length > 0 ? resultObj.val() + "," : "";
                    resultObj.val(stringToAppend + fromdragid[1]);
                    // alert('assignment');
//                    
                }


                // " ##" + tempid + "## ";
                // dropText="<span class='label label-success'>"+tempid+"</span>";
                var droparea = document.getElementById('formula');
                var range1 = droparea.selectionStart;
                var range2 = droparea.selectionEnd;
                var val = droparea.value;
                var str1 = val.substring(0, range1);
                var str3 = val.substring(range1, val.length);
                droparea.value = str1 + dropText + str3;
                //droparea.innerHtml= str1 + dropText + str3;
            }
        });
    }

</script>
<section class="panel" id="addSubjSec">
    <div class="panel-body">
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'addFormulaForm')); ?>
        <input type="hidden" name="masterid" id="masterid" value="<?= $master_id ?>"/>
        <div class="center scaffold">
            <div class="col-md-12">
                <?php // print_r($expld_val);exit; ?>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="markEnd" class="control-label">Exams,Tests & Assignments:</label>
                    </div>
                </div>   
                <div class="form-group">
                    
                    <div class="col-md-12">
                        <select multiple="multiple" class="multi-select" id="my_multi_select2" name="my_multi_select2[]">
                            <optgroup label="Main Exam">
                                <?php
                                if (count($main_exms) > 0) {
                                    foreach ($main_exms as $main_exm) {
                                        $option = '';
                                        if ($expld_val != '') {
                                            foreach ($expld_val as $exam_id) {
                                                $expldval = explode('_', $exam_id);
                                                if ($expldval[0] == 'M') {

                                                    $option = ($expldval[1] == $main_exm->id) ? 'selected' : '';

                                                    if ($option == 'selected')
                                                        break;
                                                }
                                            }
                                        }
                                        ?>
                                        <option value="M_<?= $main_exm->id ?>" <?= $option ?>> <?= $main_exm->exam_name ?> </option>

                                        <?php
                                    }
                                }
                                ?>                               
                            </optgroup>


                            <optgroup label="Class Test">
                                <?php
                                if (count($class_test) > 0) {
                                    $i = 0;
                                    foreach ($class_test as $test_val) {
                                        $option = '';

                                        if ($expld_val != '') {
                                            foreach ($expld_val as $exam_id) {
                                                $expldval = explode('_', $exam_id);
                                                if ($expldval[0] == 'C') {

                                                    $option = ($expldval[1] == $test_val->class_test_id) ? 'selected' : '';
                                                    //echo  $i++ . '-'. $option .'-';
                                                    if ($option == 'selected')
                                                        break;
                                                }
                                            }
                                        }
                                        ?>
                                        <option value="C_<?= $test_val->class_test_id ?>" <?= $option ?>> <?= $test_val->class_test_name ?> </option>

                                        <?php
                                    }
                                }
//                                exit;
                                ?>                               
                            </optgroup>

                            <optgroup label="Assignment">
                                <?php
                                if (count($assignments) > 0) {
                                    foreach ($assignments as $assignment) {
					//rint_r(($assignment));exit;
                                        $option = '';
                                        if ($expld_val != '') {
                                            foreach ($expld_val as $exam_id) {
                                                $expldval = explode('_', $exam_id);
                                                if ($expldval[0] == 'A') {

                                                    $option = ($expldval[1] == $assignment->id) ? 'selected' : '';
                                                    if ($option == 'selected')
                                                        break;
                                                }
                                            }
                                        }
                                        ?>
                                        <option value="A_<?= $assignment->id ?>" <?= $option ?>> <?= $assignment->topic ?> </option>

                                        <?php
                                    }
                                }
                                ?>                               
                            </optgroup>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Formula" class="control-label col-md-2">Formula:</label>
                    <div class="col-md-7">
<!--                        <select id="select_formula" name="select_formula" class="form-control" onchange="markSettings.selectedFormula(this.value)">
                            <option value="">Select</option>
                            <option value="Max">Max</option>
                            <option value="Sum">Sum</option>
                            <option value="Avg">Average</option>
                            <option value="Bestof">Bestof</option>
                        </select>-->

                        <?php
                        $hide = 'hide';
                        $expld_val = isset($formula_tabl->formula) ? explode('-', $formula_tabl->formula) : '';
                        if ($expld_val != '') {
                            $hide = ($expld_val[0] == "Bestof") ? '' : 'hide';
                        }
                        echo \Phalcon\Tag::select(
                                array(
                                    'select_formula',
                                    array("Max" => "Max",
                                        "Sum" => "Sum",
                                        "Avg" => "Avg",
                                        "Bestof" => "Bestof"),
                                    'useEmpty' => true,
                                    'emptyText' => 'Select',
                                    'emptyValue' => '',
                                    'class' => 'form-control',
                                    'onchange' => 'markSettings.selectedFormula(this.value)',
                                    'value' => ($expld_val != '') ? $expld_val[0] : ''
                                )
                        );
                        ?>
                    </div>
                </div>

                <div class="form-group">
                    <label for="markEnd" class="control-label col-md-2">Outof:</label>
                    <div class="col-md-7">
                        <input type="text" placeholder="Outof Mark" value="<?= isset($formula_tabl->outof) ? $formula_tabl->outof : '' ?>" id="contribute_outof" name="contribute_outof" class="form-control"/>
                    </div>
                </div>


                <div class="col-md-12 <?= $hide ?>" id="bestofdiv">

                    <div class="form-group">

                        <div class="col-md-6">

                            <input type="text" value="<?= ($expld_val != '') ? $expld_val[1] : '' ?>" placeholder="Best of Value" id="bestofval" name="bestofval" class="form-control"/>


<!--                        <textarea class="form-control" style="height:150px;" name="formula" id="formula" placeholder="Enter Formula here"></textarea>-->

<!--                    <textarea style="height:150px;" name="tempcontent" id="tempcontent" onkeyup="characterLimitCheck(this)" class="form-control"></textarea>
                            -->
                        </div>
                        <div class="col-md-6">

                            <?php
                            echo \Phalcon\Tag::select(
                                    array(
                                        'select_formula_forbestof',
                                        array(
                                            "Sum" => "Sum",
                                            "Avg" => "Avg",
                                        ),
                                        'useEmpty' => true,
                                        'emptyText' => 'Select',
                                        'emptyValue' => '',
                                        'class' => 'form-control',
                                        //'onchange' => 'markSettings.selectedFormula(this.value)',
                                        'value' => ($expld_val != '') ? $expld_val[2] : ''
                                    )
                            );
                            ?>
<!--                            <select id="select_formula_forbestof" name="select_formula_forbestof" class="form-control">
    <option value="">Select</option>
    <option value="Max">Max</option>
    <option value="Sum">Sum</option>
    <option value="Avg">Average</option>

</select>-->


                        </div>

                    </div>
                </div>  







                <input type="hidden" name="exam_id" id="exam_id" value="<?= $examid ?>" />
                <input type="hidden" name="subject_id" id="subject_id" value="<?= $subjectid ?>" />

            </div> 

        </div>
        </form>
    </div>
</section>

<?php
echo $this->tag->javascriptInclude("js/jquery-multi-select/js/jquery.multi-select.js");
echo $this->tag->javascriptInclude("js/jquery-multi-select/js/jquery.quicksearch.js");
echo $this->tag->javascriptInclude("js/advanced-form.js");
?>
