<section class="panel">  
    <div class="col-md-12">
        <div class="col-md-8">
            <h3>List Of Classtest For <?= $combinations; ?></h3></div>

        <div class="col-md-4 pull-right" id ="" style="cursor: pointer;" onclick="examSettings.loadClassTestAddForm()">
            <label class="control-label pull-right staticon-label">Add new</label>
            <span class="mini-stat-icon-smalli mini-stat-icon tar pull-right">
                <i class="zmdi zmdi-plus"></i></span>
        </div>
    </div>

    <?php if ($viewclasstest > 0) { ?>
        <div class="panel-body">
            <table class="table general-table table-hover">
                <thead class="thead_default"><tr>
                        <th>Subject</th>
                        <th>Test</th>
                        <th>Action </th>  
                        <th>Add Marks </th>                         
                    </tr></thead>
                <tbody> 
                    <?php foreach ($rows as $row) {
                        ?>
                        <tr>  
                            <td><?= implode(' >> ', $row['subject']) ?></td>
                            <td><?= $row['test_name'] ?></td>
                            <td>

                                <span class="mini-stat-icon-smalli mini-stat-icon-action pink" id="classtest_edit" title="Edit" onclick="examSettings.editClassTest('<?= $row['class_test_id'] ?>');">
                                    <i class="fa fa-edit"></i></span>

                                <span class="mini-stat-icon-smalli mini-stat-icon-action red-bg" id="classtest_remove" title="Delete" onclick="examSettings.removeClassTest('<?= $row['class_test_id'] ?>');">
                                    <i class="fa fa-trash-o"></i></span>
                            </td>
                            <td>
                                <span class="mini-stat-icon-smalli mini-stat-icon-action tar" id="classtest_addmark" title="Add Marks" onclick="markSettings.loadClassTestStudents('<?= $row['class_test_id'] ?>');">
                                    <i class="zmdi zmdi-plus"></i></span>


                            </td>                           
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        </div><?php } else { ?>
        <div class = "center scaffold col-lg-6">
            <span><div class="alert alert-block alert-danger fade in">No Test added yet</div></span>
        </div>                            
    <?php } ?>

</section>
