
<div id = 'mainexamlinkDiv' ><br> <br>
    <?php if ($display_mainexam) { ?>
        <div class="form-group">
            <label for=""  class="col-sm-4 control-label">Select Main Exam: </label>
            <div class="col-sm-6">
                <?php
                $allclasschecked = ($mainexamVal && $mainexamVal->mainexam_id) ? 'disabled' : '';
                echo \Phalcon\Tag::select(
                        array(
                            "mainexam",
                            $mainexams,
                            "using" => array("id", "exam_name"),
                            'useEmpty' => false,
                            'class' => 'form-control',
                            'value' => $mainexamVal ? Mainexam::findFirstById($mainexamVal->mainexam_id)->exam_name : '',
                            'onchange' => 'examSettings.loadAvailWeight(this)',
                            $allclasschecked => ''
                        )
                );
                ?>
            </div>

        </div>      
        <div class="form-group">
            <label for=""  class="col-sm-4 control-label">Weightage(In Marks) of this main exam to selected main exam: </label>
            <div class="col-sm-6">
                <?php
                echo \Phalcon\Tag::NumericField(
                        array(
                            "weightage",
                            "placeholder" => "Weightage",
                            "class" => "form-control",
                            "min" => "1", "max" => "300",
                            'value' => $mainexamVal ? $mainexamVal->mainexam_outof : '',
                        //   'onchange' => 'examSettings.validOutOf(this)'
                        )
                );
                ?>




            </div>
        </div>     

    <?php } else { ?>
        <div class="center scaffold">
            <span>No main exams found for this combination</span>
        </div>
    <?php } ?>
</div>
