<?php
echo $this->getContent();
$msg = $this->flashSession->getMessages();
if ($msg && isset($msg['error'])) {

if (count($msg['error'])) {

echo '<div class="alert alert-error">';
foreach ($msg['error'] as $msgs) {
echo $msgs . '<br>';
}
echo '</div>';
} else if (count($msg['success'])) {
echo '<div class="alert alert-success">';
foreach ($msg['success'] as $msgs) {
echo $msgs . '<br>';
echo '</div>';
}
}
}
?>

<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <header class="panel-heading">
                Main Exams
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>

            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'action' => '', 'id' => 'viewMainExamForm')); ?>
                <div class="center scaffold">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="examName" class="col-md-3 control-label">Academic Year:</label>
                            <div class="col-md-3">  
                                <?php echo $form->render("academic_year_name"); ?> 
                            </div>
                            <div class="col-md-4"> 
                                <input type="button" class="btn btn-round btn-primary" 
                                        name ='submitsearch'
                                        value="Display" onclick='viewexamSettings.viewmainexam()'
                                        id="searchbutton">
                            </div>
                        </div>
                    </div>                       
                </div>    
            <div id = "viewMainExamByAcdYear" class = 'hide'> </div>
            <div> </div>
            <div> </div>                
            </div>
            
            </form>
    </div>
</section>

<div id='display_exam_all'></div>
</div>


