
        <div class="form-group">
            <?php  $cacdyr = AcademicYearMaster::findFirstByStatus('c');
            $div = DivisionMaster::findFirst('divType = "student" and academicYrID='.$cacdyr->id);
                $subdivs = SubDivisionMaster::find('divID =' . $div->id);
                
            foreach ($subdivs as $subdiv) :
                ?>
                <label for=""  class="col-sm-3 control-label">Select <?= $subdiv->subdivname; ?>: </label>
                <div class="col-sm-6">
                     
                    <?php
                    $subdivVal = SubDivisionValues::find('divValID =' . $this->view->classId . ' and subDivID=' . $subdiv->id);
                    echo \Phalcon\Tag::select(
                            array(
                                "subDivVal",
                                $subdivVal,
                                "using" => array("id", "name"),
                                'useEmpty' => true,
                                'emptyText' => 'Select',
                                'emptyValue' => '0',
                                'class' => 'form-control',
                                'onchange' => 'viewexamSettings.viewClassTestTable(this.value)'
                            )
                    );
                    ?>
                </div>
            <?php endforeach; ?>
                
              

        </div>  
