<?php
echo $this->getContent();
$msg = $this->flashSession->getMessages();
if ($msg && isset($msg['error'])) {

if (count($msg['error'])) {

echo '<div class="alert alert-error">';
foreach ($msg['error'] as $msgs) {
echo $msgs . '<br>';
}
echo '</div>';
} else if (count($msg['success'])) {
echo '<div class="alert alert-success">';
foreach ($msg['success'] as $msgs) {
echo $msgs . '<br>';
echo '</div>';
}
}
}
?>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <?php
            if($display_table == 0)
            {
                echo '<div class="alert alert-block alert-danger fade in">No Class Tests Were Found</div>';
            }
            else
            {
            ?>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Filter Results by <?php echo $div_name ?>: </label>
                    <div class="col-sm-6">
                        <?php
                         echo \Phalcon\Tag::setDefault("divID", $class_id);                                    
                         echo \Phalcon\Tag::select(
                             array(
                                 "divID",
                                 $divs,
                                 "using" => array("id", "classname"),
                                 'useEmpty' => true,
                                 'emptyText' => 'Show Me All',
                                 'emptyValue' => '-1',
                                 'class' => 'form-control',
                                 'onchange' => 'viewexamSettings.viewMainExamByClass(this.value)'
                             )
                     );
                        ?>
                    </div>
                </div>
               
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>S.No </th>
                            <th>Main Exam Name</th>
                            <th><?php echo $div_name ?> </th> 
                            <th><?php echo $subdiv_name ?> </th>
                            <th>Mark Record Start Date </th>
                            <th>Mark Record End Date </th>
                            <th>Linked Main Exam </th>
                            <th>Weightage </th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        $i = 0;
                        foreach($rows as $row)
                        {
                        $i++;                            
                        ?>
                        
                        <tr>
                            <td> <?= $i ?> </td>
                            <td> <?= $row[0] ?> </td>
                            <td> <?= $row[1] ?> </td>
                            <td> <?= $row[2] ?> </td>
                            <td> <?= $row[3] ?> </td>
                            <td> <?= $row[4] ?> </td>  
                            <td> <?= $row[5] ?> </td>  
                            <td> <?= $row[6] ?> </td>  

                        </tr>                        
                        <?php 
                        } 
                        ?>
                    </tbody>
                </table>           
            <?php
            }
            ?>
        </section> 
    </div>
</div>
