.menu {
    position: absolute;
    top: 50%; left: 50%;
    /*	width: 300px;
            height: 200px;
            margin: 0 auto 100px;
            position: absolute;
            -webkit-filter: url("#goo");
            filter: url("../menu.html#goo");*/
    /*	-webkit-transform: translateZ(0);
            transform: translateZ(0);*/
}

.menu-wrapper {
    position: absolute;top: 50%;
    left: 18%;
}

.menu-toggle-button,
.menu-item-bounce,
.menu-item-button {
    background: #504f61;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    height: 80px;
    color: #fff;
    border: none;
    outline: none;
    position: relative;
}

.menu-toggle-button {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-toggle-icon {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.menu-item {
    /*    position: absolute;
        top: 400px;
        left: 391px;
    top: 40%;
        left: 39%;
        width: 0;
        height: 0;*/
}

.menu-item-bounce {
    position: absolute;
    top: 0;
    left: 0;
}

.menu-item-button {
    width: 70px;
    height: 70px;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

.menu-item-button:hover {
    color: #fff;
}


.menu1 {
    position: absolute;
    top: 50%; left: 50%;
}

.menu-wrapper1 {
    position: absolute;top: 23%;
    left: 76%;
}

.menu-toggle-button1,
.menu-item-bounce1,
.menu-item-button1 {
    background: #32B196;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    height: 80px;
    color: #fff;
    border: none;
    outline: none;
    position: relative;
}

.menu-toggle-button1 {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-toggle-icon1 {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.menu-items1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.menu-item1 {
    /*    position: absolute;
        top: 400px;
        left: 391px;
    top: 40%;
        left: 39%;
        width: 0;
        height: 0;*/
}

.menu-item-bounce1 {
    position: absolute;
    top: 0;
    left: 0;
}

.menu-item-button1 {
    width: 70px;
    height: 70px;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

.menu-item-button1:hover {
    color: #fff;
}


.menu2 {
    position: absolute;
    top: 50%; left: 50%;
}

.menu-wrapper2 { 
    position: absolute;   top: 77%;
    left: 70%;
}

.menu-toggle-button2,
.menu-item-bounce2,
.menu-item-button2 {
    background: #98AAA9;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    height: 80px;
    color: #fff;
    border: none;
    outline: none;
    position: relative;
}

.menu-toggle-button2 {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-toggle-icon2 {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.menu-items2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.menu-item2 {
    /*    position: absolute;
        top: 400px;
        left: 391px;
    top: 40%;
        left: 39%;
        width: 0;
        height: 0;*/
}

.menu-item-bounce2 {
    position: absolute;
    top: 0;
    left: 0;
}

.menu-item-button2 {
    width: 70px;
    height: 70px;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

.menu-item-button2:hover {
    color: #fff;
}


.menu3 {
    position: absolute;
    top: 50%; left: 50%;
    /*	width: 300px;
            height: 200px;
            margin: 0 auto 100px;
            position: absolute;
            -webkit-filter: url("#goo");
            filter: url("../menu.html#goo");*/
    /*	-webkit-transform: translateZ(0);
            transform: translateZ(0);*/
}

.menu-wrapper3 {
    position: absolute;top: 55%;
    left: 50%;
    /*	left: 50%;
            bottom: 10px;*/
}

.menu-toggle-button3,
.menu-item-bounce3,
.menu-item-button3 {
    /*background: #ED7774;*/
    background:#DBC921;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    height: 80px;
    color: #fff;
    border: none;
    outline: none;
    position: relative;
}

.menu-toggle-button3 {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-toggle-icon3 {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.menu-items3 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.menu-item3 {
    /*    position: absolute;
        top: 400px;
        left: 391px;
    top: 40%;
        left: 39%;
        width: 0;
        height: 0;*/
}

.menu-item-bounce3 {
    position: absolute;
    top: 0;
    left: 0;
}

.menu-item-button3 {
    width: 70px;
    height: 70px;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

.menu-item-button3:hover {
    color: #fff;
}

/*figure css*/
/* Import the Google Font 'Lato' */


.outer {
    fill: transparent;
    stroke: #333;
    stroke-width: 20;
    /*  stroke-dasharray: 210, 100;*/
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;    

    stroke-dasharray: 1000;
    stroke-dashoffset: 1036;
    -webkit-animation: show25 2s;
    animation: show25 2s;
    /*animation: dash 5s linear alternate infinite;*/

    /*firefox bug fix - won't rotate at 90deg angles*/ 
    /*-moz-transform: rotate(-89deg) translateX(-190px);*/
}

.outer1 {
    fill: transparent;
    stroke: #CF1818;
    stroke-width: 20;
    /*  stroke-dasharray: 210, 100;*/
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;    
    stroke-dasharray: 322;
    stroke-dashoffset: -15;
    -webkit-animation: show225 2s;
    animation: show225 2s;
    /*animation: dash 5s linear alternate infinite;*/

    /*firefox bug fix - won't rotate at 90deg angles*/ 
    /*-moz-transform: rotate(-89deg) translateX(-190px);*/
}
.outer2 {
    fill: transparent;
    stroke: #C5CA0D;
    stroke-width: 20;
    /*  stroke-dasharray: 210, 100;*/
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;    
    stroke-dasharray: 322;
    stroke-dashoffset: -15;
    -webkit-animation: show225 2s;
    animation: show225 2s;
    /*animation: dash 5s linear alternate infinite;*/

    /*firefox bug fix - won't rotate at 90deg angles*/ 
    /*-moz-transform: rotate(-89deg) translateX(-190px);*/
}
/*@-webkit-keyframes show25 {
    from {
        stroke-dashoffset: 700;
    }

    to {
        stroke-dashoffset: 1000;
    }
}

@keyframes show25 {
    from {
        stroke-dashoffset: 700;
    }

    to {
        stroke-dashoffset: 1000;
    }
}
@-webkit-keyframes show225 {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 1500;
    }
}

@keyframes show225 {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 1500;
    }
}*/
/*es for the initial animation */

/*style edited by neela*/
.icon1:hover{cursor:pointer;}
.menu-toggle-button2:hover{cursor:pointer;}
.menu-toggle-button3:hover{cursor:pointer;}
.badge_cycle_top {
    position: absolute;
    top: 125px;
    right: -60px;
    width: 35px;
    height: 35px;
    line-height: 44px;
}
.badge_cycle_top1 {
    position: absolute;
    top: 50px;
    right: 0px;
    left: 25px;
    width: 35px;
    height: 35px;
    line-height: 44px;
}
/*style edited by neela*/



/* for 1920 x 1080 resolution*/
@media(min-width:1800px){

    .menu-wrapper {
        position: absolute;top: 50%;
        left: 37%;
    } 
    .menu-wrapper1 {
        position: absolute;top: 19%;
        left: 49%;
    } 
    .menu-wrapper2 { 
        position: absolute;   top: 77%;
        left: 65%;
    }

    .menu-wrapper3 {
        position: absolute;top: 54%;
        left: 50%;
    }

}