.share {
    max-width: 600px;
    height: 100px;
    margin: 0 auto;
    /*  -webkit-filter: url("#goo");
      filter: url("../share.html#goo");*/
    position: relative;position: absolute;
    top: 41%;
    left: 43%;
}

.share-button{
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    background: #ccc;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
}

.share-button:hover,
.share-toggle-button:hover {
    color: #fff;
}

.share-button {
    font-size: 30px;
    background: #DBC921;
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
    color: #222;
}

a.share-button {
    color: #fff;
}

a.share-button:hover, 
a.share-button:focus {
    color: #dfd7d7;
}

.share-toggle-button {
    z-index: 9;
    background: #666;
    /*font-size: 20px;*/
}

.share-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.share-item {
    display: inline-block;
}
