.share-1 {
  max-width: 600px;
  height: 100px;
  margin: 0 auto;
/*  -webkit-filter: url("#goo");
  filter: url("../share.html#goo");*/
  position: relative;position: absolute;
top: 38%;
left: 53%;
}

.share-1-button,
.share-1-toggle-button {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  background: #ccc;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
}

.share-1-button:hover,
.share-1-toggle-button:hover {
  color: #fff;
}

.share-1-button {
  font-size: 30px;
  background: #737070;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  color: #222;
}

a.share-1-button {
  color: #3D4444;
}

a.share-1-button:hover, 
a.share-1-button:focus {
  color: #dfd7d7;
}

.share-1-toggle-button {
  z-index: 9;
  background: #666;
  font-size: 20px;
}

.share-1-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.share-1-item {
  display: inline-block;
}
