.tt-wrapper{
    padding: 0;
/*    width: 435px;
    height: 70px;
    margin: 80px auto 30px auto;*/
}
.tt-wrapper>a{
    display: block;
/*width: 290px;
height: 95px;*/
    /*margin: 0 2px;*/
    outline: none;
    position: relative;
    z-index: 2;
    text-indent: -9000px;
}
/*.tt-wrapper li{
        float: left;
}

.tt-wrapper li .tt-gplus{
    background-position: 0px 0px;
}
.tt-wrapper li .tt-twitter{
    background-position: -68px 0px;
}
.tt-wrapper li .tt-dribbble{
    background-position: -136px 0px;
}
.tt-wrapper li .tt-facebook{
    background-position: -204px 0px;
}
.tt-wrapper li .tt-linkedin{
    background-position: -272px 0px;
}
.tt-wrapper li .tt-forrst{
    background-position: -340px 0px;
}*/
.tt-wrapper a label{
    width: 80px;
    height: 80px;
    line-height: 80px;
    padding: 10px;
    left: 50%;
    margin-left: -55px;
    font-family: 'Alegreya SC', Georgia, serif;
    font-weight: 400;	
    font-style: italic;
    font-size: 14px;
    color: #719DAB;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 5px solid #fff;
    background: rgba(255,255,255,0.5);
    text-indent: 0px;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    bottom: -40px;
    opacity: 0;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -ms-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tt-wrapper a:hover label{
    opacity: 0.9;
    bottom: 50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

