<?php
echo $this->tag->stylesheetLink("css/appstyles/spacetree/base.css");
echo $this->tag->stylesheetLink("css/appstyles/spacetree/Spacetree.css");

echo $this->tag->javascriptInclude("js/lib/spacetree/jit.js");
echo $this->tag->javascriptInclude("js/appscripts/spacetree/spacetree.js");
echo $this->tag->javascriptInclude("js/appscripts/spacetree/multiselectspacetree.js");
?>

<div id="infovis" class=""></div>    

<div id="log"></div>
