<table class="table table-hover general-table table-responsive" id="studentApplicationList">
    <thead>
        <tr>
<!--            -->
            <!--<th>Academic Year</th>-->
            <th>Applicant Name</th>
            <th>App.No.</th>
            <th>Gender</th>
               <?php //  print_r($nodes);
            //exit;
 foreach ($mandnode as $node){
     echo '<th>' . ucfirst($node) .'</th>';
 }
            
            ?>
            <th>Date of Birth</th>
            <th>Issued Date</th>
            <th>Admitted date</th>
            <th >Status</th>
            <!--<th>Key-in data Status</th>-->
            <th >Actions</th>
             <!--<th>Fee Status</th>-->
            <th></th>
        </tr>
    </thead>
    
    <tbody></tbody>
</table>