<?= $this->tag->javascriptInclude("js/appscripts/application/manageApplication.js"); ?>

<?php
//print_r($mandnode);
//exit;
//$varcols = count($mandnode) + count($nodes) + 5;
$varcols1 = 3 + count($mandnode) + 6;
//$varcols2 = 5 + count($mandnode) + count($nodes) - 1;
//echo $varcols1. $varcols2;exit;
for ($i = 0; $i < $varcols1; $i++)
    $varsort[] = $i;
?>
<script>
    //manageAppSettings.loadApplicationList();

    manageAppSettings.resetForm = function () {
        $("#stuApplicationForm").find('input,select,textarea').each(function () {
            $(this).val('')
        });

    }
    applicationSettings.excelParams = {};
    manageAppSettings.loadApplicationList = function ()
    {
        var applnSearchData = {};
        var params = {};
        var academic = "";
        applnSearchData.emptySearch = 1;
        //studentProfileSearchForm

        console.log('im here fin')
//    manageAppSettings.request='call';

        $("#stuApplicationForm").find('input,select,textarea').each(function () {
            console.log($(this).attr('name') + ' : ' + $.trim($(this).val()))
            ///   if ($.trim($(this).val()) != 0 && $.trim($(this).val()) != '' && $.trim($(this).val()).length > 0) {
            applnSearchData[$(this).attr('name')] = $.trim($(this).val());
            applnSearchData.emptySearch = 0
            /// }

        });

        params = applnSearchData;

        console.log(params);
        $.ajax({
            type: "POST",
            url: commonSettings.applnAjaxurl + "/applicationTblHdr",
            dataType: "html",
            success: function (res) {
                $('#ApplicationTableDiv').html(res);
                var tablectrl = '#studentApplicationList';
                // var column = [0, 1, 2, 3, 4, 5, 6];
                var sortingDisabled = [<?= implode(',', $varsort) ?>];
                var appdynamicTabl = $(tablectrl).dataTable({
//                "sDom": 'C<"clear">lrtip',
                    "sDom": '<"top"if>rt<"bottopm"p><"clear">',
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": commonSettings.applnAjaxurl + "/loadApplicationData",
                    "sPaginationType": "full_numbers",
                    "iDisplayLength": commonSettings.NumberOfRecords,
                    // 'iDisplayStart':patientsapp.startIndex,
                    "aoColumnDefs": [{
                            "sDefaultContent": "",
                            "aTargets": []
                        }, {
                            "bSortable": false,
                            "sDefaultContent": "",
                            "aTargets": sortingDisabled
                        }],
                    "aaSorting": [[0, "desc"]],
                    "bLengthChange": false,
//                "bInfo": false,
                    "oLanguage": {
                        "sInfo": "<i class='fa fa-info activity-icon'></i> <i class='text-muted'><b>Showing _START_ to _END_ of _TOTAL_ Students</b></i>",
                        "sInfoFiltered": " ",
                    },
                    "fnServerData": function (surl, aoData, l) {
                        for (var key in params) {
                            aoData.push({
                                "name": key,
                                "value": params[key]
                            });
                        }
                        $.ajax({
                            dataType: "json",
                            type: "POST",
                            url: surl,
                            contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                            data: aoData,
                            success: l
                        });
                        console.log(aoData)
                        applicationSettings.excelParams = aoData;
                    },
                    "fnDrawCallback": function (o) {
//                        if (o._iRecordsDisplay <= commonSettings.NumberOfRecords) {
//                            $(tablectrl + '_paginate').hide();
//                        }
                        $("#testexecl").click(function () {
                            applicationSettings.generateExcel(applicationSettings.excelParams);
                        });
                        $('.popovers').popover({
                            html: true
                        });
                        $('#testexecl').removeClass('hide')
                        $('.dataTables_filter').addClass('col-md-5');
                        $('.dataTables_info').addClass('col-md-6');
                        $('.dataTables_filter').find('label').css('display', ' inline');
                        $('.dataTables_filter').find('input').addClass('form-control').css('width', ' 50%');
                    },
                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {

                        var rowText = '<tr applicationId="' + aData.application_id + '">';



                        rowText += '<td class="student_name col-md-2">';
                        rowText += '<a href= "javascript:;" onclick="applicationSettings.viewAppDetails(' + aData.application_id + ')">';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" >' + aData.Student_Name + '</span>';
                        rowText += '</a></td>';

                        rowText += '<td>';
                        rowText += aData.application_no;
                        rowText += '</td>';

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.gender + '</span>';
                        rowText += '</td>';

<?php foreach ($mandnode as $key => $mandnodeval) { ?>

                            rowText += '<td>';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + ((typeof (aData[<?= $key ?>]) != 'undefined') ? aData[<?= $key ?>] : '-') + '</span>';
                            rowText += '</td>';

<?php } ?>

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.dob + '</span>';
                        rowText += '</td>';

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.issuedon + '</span>';
                        rowText += '</td>';
                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.doj + '</span>';
                        rowText += '</td>';

//                        rowText += '<td>';
//                        rowText += '<b><span class="text text-' + aData.labelclass + ' label-mini">' + aData.status + '</span></b>';
//                        rowText += '</td>';

                        rowText += '<td>';
                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.statusdet + '</span>';
                        rowText += '</td>';
//                        rowText += '<td>';
//                        rowText += '<b><span class="text text-' + aData.dataclass + ' label-mini">' + aData.key_in_status + '</span></b>';
//                        rowText += '</td>';


                        rowText += '<td>';
                        rowText += aData.Actions;
                        rowText += '</td>';

//                        rowText += '<td>';
//                        rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.feestatus + '</span>';
//                        rowText += '</td>';

                        rowText += '<td>';
                        rowText += aData.Print;
                        rowText += '</td>';


                        rowText += '</tr>';
                        var newRow = $(rowText);
                        $(nRow).html(newRow.html());
                        commonSettings.copyAttributes(newRow, nRow);
                        return nRow;
                    }
                });
            }
        });


    };

    $(document).ready(function () {
        manageAppSettings.loadApplicationList()
    });
</script>


<div class="row">

    <div class="col-sm-12" id='mainDiv'>
        <section class="panel">
            <header class="panel-heading">
                Student Applications
                <span class="tools pull-right">
                    <a  href="javascript:;" class="fa fa-plus"  onclick="applicationSettings.loadApplicationForm()" > Add new application</a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'stuApplicationForm')); ?>


                        <div class="form-group">
                            <?php $fields = OrganizationalStructureMaster::findFirst('mandatory_for_admission =1 and cycle_node =1'); ?>
                            <label for=""  class="col-sm-4  control-label "><?= $fields->name ?></label>  
                            <div class="col-sm-8">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            'aggregate_' . strtolower(str_replace(' ', '', $fields->name)),
                                            OrganizationalStructureValues::find('org_master_id = ' . $fields->id),
                                            "using" => array("id", "name"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control',
                                            'title' => $fields->name,
                                            'onchange' => 'applicationSettings.loadSubtree(this)'
                                        )
                                );
                                ?>

                            </div> 
                        </div> 

                        <div class="subtreediv hide"></div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Application No:</label>
                            <div class="col-md-8">  
                                <input type="text" name="appno" id="appno" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Name:</label>
                            <div class="col-md-8">  
                                <input type="text" name="name" id="name" class="form-control"/>
                            </div>
                        </div>    
                        <div class="form-group">
                            <label class="col-md-4 control-label">Issued date:</label>
                            <div class="col-md-4">  
                                <input type="text" name="issuefrm" placeholder="From" readonly="" class="form-control form-date"/>
                            </div>
                            <div class="col-md-4 pull-right">  
                                <input type="text" name="issueto"  placeholder="To" readonly="" class="form-control form-date"/>
                            </div>
                        </div>          
                        <div class="form-group">
                            <label class="col-md-4 control-label">Date of Admission:</label>
                            <div class="col-md-4">  
                                <input type="text" name="dojfrm" placeholder="From" readonly=""  class="form-control form-date"/>
                            </div>
                            <div class="col-md-4 pull-right">  
                                <input type="text" name="dojto"  placeholder="To" readonly="" class="form-control form-date"/>
                            </div>
                        </div>               
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-3 pull-right  ">
                                <div class=" col-md-6">
                                    <button class="btn btn-danger" onclick="manageAppSettings.resetForm()" type="button"> 
                                        Reset
                                    </button>  
                                </div>   
                                <div class=" col-md-6"> 
                                    <button class="btn btn-success" onclick="manageAppSettings.loadApplicationList()" type="button"> 
                                        Search
                                    </button>   
                                </div> 
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        Manage Applications
        <span class="tools pull-right actionbtns">
            <a  href="javascript:;" class="fa fa-file-text-o" title="Student List" onclick="reportSettings.getStudentReports()" > Report</a>
        </span>
<!--                <span class="tools pull-right">
                    <a href="javascript:void(0)" class=" pull-right"
                       onclick="applicationSettings.loadApplicationForm()">
                        <span class="mini-stat-icon tar" 
                              style="width: 30px;height: 30px;line-height: 30px;margin-top: -4px;">
                            <i class="fa fa-plus" style="margin-top: 6px;"></i></span>
                        <span class="">Add new application</span></a>
                    <a href="javascript:;" class=" pull-right hide" id="testexecl">
                        <span class="mini-stat-icon tar" style="width: 30px;height: 30px;line-height: 30px;margin-top: -4px;">
                            <i class="fa fa-file-text-o" style="margin-top: 6px;"></i></span>
                        <span class="">Report</span></a>
                </span>-->
    </header>
    <div class="panel-body">
        <div id="ApplicationTableDiv" class="scrollpane"></div>
    </div>
</section> 
<script>
    $('.form-date').datetimepicker({
        format: 'dd-mm-yyyy',
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

                        $(".scrollpane").getNiceScroll().remove();
                        $('.scrollpane').niceScroll();
</script>