<script>
    $(document).ready(function () {
        $('.doj_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            startDate: '+0d',
        });

        $('#dob').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            endDate: '+0d',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2

        });
    });

</script>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel" id='classSelector'>
            <div class="panel-body">
                <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'applicationForm')); ?>
                <div class="row">
                    <div class="col-md-6">
<!--                        <div class="form-group">
                            <label for=""  class="col-sm-4  control-label mandatory">Application No</label>
                            <div class="col-sm-8">
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for=""  class="col-sm-4  control-label mandatory">Student Name</label>
                            <div class="col-sm-8">
                                <?= $form->render("studentName") ?>
                            </div>
                        </div>

                        <div id="secDet"></div>
                        <div class="form-group">
                            <label for=""  class="col-sm-4  control-label mandatory">Gender</label>
                            <div class="col-sm-8">
                                <?= $form->render("gender") ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-4  control-label mandatory">Date of birth</label>
                            <div class="col-sm-8">
                                <?= $form->render("dob") ?>
                            </div>
                        </div>
<!--                        <div class="form-group">
                            <label for=""  class="col-sm-4  control-label mandatory">Date of admission</label>
                            <div class="col-sm-8">-->
                                <?= $form->render("doj") ?>
<!--                            </div>
                        </div>-->
                        <div class="form-group">
                            <?php $fields = OrganizationalStructureMaster::findFirst('mandatory_for_admission =1 and cycle_node =1'); ?>
                            <label for=""  class="col-sm-4  control-label mandatory"><?= $fields->name ?></label>  
                            <div class="col-sm-8">
                                <?php //$form->render("academicYrId",array("onChange" => 'applicationSettings.changeAppointmntNo(this.value)'))  ?>
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            'aggregate_'.strtolower(str_replace(' ', '', $fields->name)),
                                            OrganizationalStructureValues::find('org_master_id = ' . $fields->id),
                                            "using" => array("id", "name"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control',
                                            'title' => $fields->name,
                                            'onchange' => 'applicationSettings.loadSubtree(this)'
                                        )
                                );
                                ?>

                            </div> 

                        </div>

                        <div class="subtreediv hide"></div>

                    </div>
                    <div class="col-md-6">

                        
                        <div class="form-group">
                            <label for=""  class="col-sm-4  control-label mandatory">Phone</label>
                            <div class="col-sm-8">
                                <?= $form->render("phone") ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-4  control-label">Email</label>
                            <div class="col-sm-8">
                                <?= $form->render("email") ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-4  control-label mandatory">Address Line 1</label>
                            <div class="col-sm-8">
                                <?= $form->render("address1") ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-4 control-label">Address Line 2</label>
                            <div class="col-sm-8">
                                <?= $form->render("address2") ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-4  control-label mandatory">State</label>
                            <div class="col-sm-8">
                                <?= $form->render("state") ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-4  control-label mandatory">Country</label>
                            <div class="col-sm-8">
                                <?= $form->render("country") ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-4  control-label">Pin code</label>
                            <div class="col-sm-8">
                                <?= $form->render("pin") ?>
                            </div>
                        </div>
                    </div>

                </div>
<!--                <input type="button" class="btn btn-primary"  value="submit" onclick="" />-->
                </form>
            </div>
        </section>


    </div>
</div>