<script>
    $(document).ready(function () {

        $('.form_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            endDate: '+0d'
        });
    });

</script>
<section class="panel" id='classSelector'>
    <div class="panel-body">
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'payFeeForm')); ?> 
        <input type="hidden" id="record_typ_id" name="record_typ_id" value="<?= $record_typ_id; ?>" />
        <input type="hidden" id="vouchertyp" name="vouchertyp" value="<?= $voucher_type ?>" />
        <div class="row">
            <div class="col-md-12">

                <div class="form-group" id = "payment_debit">
                    <label for=""  class="col-md-3 control-label mandatory">
                        Ledger for debit:
                        <!--<font size="4" color="red">*</font>-->
                    </label>
                    <div class="col-md-6">
                        <input id="debitledgername" type="text" 
                               name="debitledgername" title="Ledger for debit"
                               class="form-control" 
                               value="<?= $debitldgr; ?>" />
                        <input type="hidden" value="<?= $debitldgrid; ?>" id="debitledgerid" title="Ledger for debit" name="debitledgerid"/>                        
                    </div>
                </div><div class="form-group hide" id='selctddebitledg-div'>
                    <label for=""  class="col-md-3 control-label"></label>
                    <div class="col-md-6">
                        <p style="float:left">Ledger Account Selected <span id='selcteddebtledgnm' style="float:right"></span></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-md-3 control-label mandatory">
                        Ledger for credit:
                        <!--<font size="4" color="red">*</font>-->
                    </label>
                    <div class="col-md-6">
                        <input id="creditledgername" type="text" 
                               name="creditledgername"  title="Ledger for credit"
                               disabled="disable"
                               class="form-control" 
                               value="<?= $creditldgr; ?>"  />
                        <input type="hidden"  value="<?= $creditldgrid; ?>" id="creditledgerid" name="creditledgerid"/> 
                    </div>
                </div>  
                <div class="form-group hide" id='selctdcreditledg-div'>
                    <label for=""  class="col-md-3 control-label"></label>
                    <div class="col-md-6">
                        <p style="float:left">Ledger Account Selected <span id='selctedcrdtledgnm' style="float:right"></span></p>
                    </div>

                </div>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label mandatory">
                        Amount:
                        <!--<font size="4" color="red">*</font>-->
                    </label>
                    <div class="col-md-6">
                        <?php
                        echo \Phalcon\Tag::Textfield(
                                array(
                                    "voucheramount",
                                    'class' => 'form-control amountfield',
                                    "value" => '0',
                                    'title' => 'Amount'
                        ));
                        ?>
                    </div>
                </div>  

                <div class="form-group">
                    <label for=""  class="col-md-3 control-label mandatory">
                        Received By:
                        <!--<font size="4" color="red">*</font>-->
                    </label>
                    <div class="col-md-6">
<!--                        <input id="receivedbyname" type="text" 
                               name="receivedbyname"
                               class="form-control" 
                               autocomplete="off" />
                        <input type="hidden"  id="receivedbyid" name="receivedbyid"/>                         -->

                        <?php
                        $identity = $this->auth->getIdentity();
                        $loggeduserdet = StaffInfo::findFirstByLoginid($identity['name']);
                        ?>
                        <input disabled="true" id="receivedbyname" type="text" 
                               name="receivedbyname"
                               class="form-control" value="<?php
                               echo (isset($loggeduserdet->Staff_Name)) ? $loggeduserdet->Staff_Name : '-';
                               echo ' ( ';
                               echo (isset($loggeduserdet->appointment_no)) ? $loggeduserdet->appointment_no : '-';
                               echo ' )';
                               ?>" />

                        <!--<input type="hidden" value="<?= (isset($loggeduserdet->id)) ? $loggeduserdet->id : '-'; ?>" id="receivedbyid" name="receivedbyid"/>-->                        
                        <input type="hidden" value="<?php
                        echo (isset($loggeduserdet->Staff_Name)) ? $loggeduserdet->Staff_Name : '-';
                        echo ' ( ';
                        echo (isset($loggeduserdet->appointment_no)) ? $loggeduserdet->appointment_no : '-';
                        echo ' )';
                        ?>" id="receivedbyid" name="receivedbyid"/> 
                    </div>
                </div> 
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label mandatory">
                        Date:
                        <!--<font size="4" color="red">*</font>-->
                    </label>
                    <div class="col-md-6">
                        <?php
                        echo \Phalcon\Tag::Textfield(
                                array(
                                    "voucherdate",
                                    'placeholder' => 'Name',
                                    'value' => date('d-m-Y'),
                                    'class' => 'form-control form_date',
                                    'title' => 'Date',
                                    'readonly'=>'readonly'
                        ));
                        ?>
                    </div>
                </div>     

                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label mandatory">
                        Comments:
                        <!--<font size="4" color="red">*</font>-->
                    </label>
                    <div class="col-md-6">
                        <?php
                        echo \Phalcon\Tag::textArea(
                                array(
                                    "voucheramountfor",
                                    "cols" => 60,
                                    "rows" => 5,
                                    'class' => 'form-control',
                                    'title' => 'Comments'
                        ));
                        echo '(Reason to be printed in voucher)';
                        ?>
                    </div>
                </div>

                <br>

            </div>
            </form>
        </div>
</section><script>
    $('#debitledgername').typeahead({
        ajax: {url: commonSettings.searchAjaxurl + '/debitLegderAutocomplt',
            displayField: 'id',
            dataType: "JSON",
            triggerLength: 2,
            preDispatch: function (query) {
                $('#debitledgername').addClass('loadinggif');
                return {
                    search: query,
                    record_type_id: $('#record_typ_id').val()
                }
            },
            preProcess: function (data) {
                $('#debitledgername').removeClass('loadinggif');
                if (data.success === false) {
                    return false;
                } else {
                    return data;
                }
            }
        },
        itemSelected: setdebitledger,
    });

    $('#receivedbyname').typeahead({
        ajax: {url: commonSettings.searchAjaxurl + '/stfAutocomplt',
            dataType: "JSON",
            triggerLength: 2,
            preDispatch: function (query) {
                $('#receivedbyname').addClass('loadinggif');
                return {
                    search: query
                }
            },
            preProcess: function (data) {
                $('#receivedbyname').removeClass('loadinggif');
                if (data.success === false) {
                    return false;
                } else {
                    return data;
                }
            }
        },
        itemSelected: setreceivedby,
    });



    function setdebitledger(item, val, text) {
        $('#debitledgerid').val(val);
        $('#selctddebitledg-div').removeClass('hide');
        $('#selcteddebtledgnm').html(item);
    }
    function setcreditledger(item, val, text) {
        $('#creditledgerid').val(val);
        $('#selctdcreditledg-div').removeClass('hide');
        $('#selctedcrdtledgnm').html(item);
    }

    function setreceivedby(item, val, text) {
        $('#receivedbyid').val(val);
    }


    $('.amountfield').on('blur', function () {
        var $this = $(this);
        var newValue = $this.val();
        var changedValue = newValue.replace(/[^0-9.]+/g, "");
        changedValue = parseFloat(changedValue).toFixed(2);
        if (isNaN(changedValue)) {
            $this.val("");
        } else if (newValue != changedValue) {
            $this.val(changedValue);
        }
    });

    $('.amountfield').each(function () {
        var $this = $(this);
        var newValue = $this.val();
        var changedValue = newValue.replace(/[^0-9.]+/g, "");
        changedValue = parseFloat(changedValue).toFixed(2);
        if (isNaN(changedValue)) {
            $this.val("");
        } else if (newValue != changedValue) {
            $this.val(changedValue);
        }
    });
</script>