
<section class="panel " id="viewLev">
    <div class="panel-body">
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'viewapplicationForm')); ?>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Application No:</label>
                    <div class="col-sm-6">
                        <?= $form->render("application_no", array("readonly" => '')) ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Student Name:</label>
                    <div class="col-sm-6">
                        <?= $form->render("studentName", array("readonly" => '', 'value' => $application->Student_Name)) ?>
                    </div>
                </div>
                    <?php
                    $studentbranch = explode(',', $application->aggregate_key);
                    foreach ($studentbranch as $aggreval) {
                        $orgval = OrganizationalStructureValues::findFirstById($aggreval);
                        $orgMaster = OrganizationalStructureMaster::findFirstById($orgval->org_master_id);
                        ?><div class="form-group">
                        <label for=""  class="col-sm-3  control-label mandatory"><?= $orgMaster->name ?></label>  
                        <div class="col-sm-6">   <?= $orgval->name ?> </div> 
                        
                </div>
                    <?php } ?>

                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Gender:</label>
                    <div class="col-sm-6">
                        <?= $form->render("gender", array("readonly" => '', 'value' => $application->Gender)) ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Date of birth:</label>
                    <div class="col-sm-6">
                        <?= $form->render("dob", array("readonly" => '', 'value' => date('d-m-Y',$application->Date_of_Birth))) ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Date of admission:</label>
                    <div class="col-sm-6">
                        <?= $form->render("doj", array("readonly" => '', 'value' => date('d-m-Y',$application->Date_of_Joining))) ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Phone:</label>
                    <div class="col-sm-6">
                        <?= $form->render("phone", array("readonly" => '', 'value' => $application->Phone)) ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Email:</label>
                    <div class="col-sm-6">
                        <?= $form->render("email", array("readonly" => '', 'value' => $application->Email)) ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Address Line 1:</label>
                    <div class="col-sm-6">
                        <?= $form->render("address1", array("readonly" => '', 'value' => $application->Address1)) ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Address Line 2:</label>
                    <div class="col-sm-6">
                        <?= $form->render("address2", array("readonly" => '', 'value' => $application->Address2)) ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">State:</label>
                    <div class="col-sm-6">
                        <?= $form->render("state", array("readonly" => '', 'value' => $application->State)) ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Country:</label>
                    <div class="col-sm-6">
                        <?= $form->render("country", array("readonly" => '', 'value' => $application->Country)) ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for=""  class="col-sm-3 control-label">Pin code:</label>
                    <div class="col-sm-6">
                        <?= $form->render("pin", array("readonly" => '', 'value' => $application->Pin)) ?>
                    </div>
                </div>

            </div>
        </div>
        </form>
    </div>
</section>