<?= $this->tag->javascriptInclude("js/feepayment/feepayment.js"); ?>
<html>
    <head>
        <title>Student Fee Receipt</title>
        <style type="text/css">

            body {
                font-family:Tahoma;
                font-size:100%;
                line-height: 1.5;
            }
            p.ex
            {
                width:5px;
                height:5px;
                padding:10px;
                border:1px solid black;
                margin:0px;
                float:left
            }
            img {
                border:0;
            }
            #voucher_details{
                width:auto;
                float:left;
            }
            #voucher_details tr{
                background:none;
            }
            #voucher_details tr td{
                padding-bottom: 0px;
                padding-top: 4px;
            }
            .amount
            {
                border:2px solid #000000;
                position:absolute;
                width: 125px;
                font-size: 17.5px;
                font-weight: bold;
                padding-left:6px;
            }

            #sign_table{
                margin-top: 50px;
                width:100%;
            }

            #page {
                font-family: tahoma;
                height: auto !important;
                margin: -10px 0px 0;
                position: absolute;
                width: 90%;

            }

            #logo {
                height:110px;
                position: absolute;
                width: 100%;
                float: left;
                padding: 15px 15px 15px 10px;
            }
            #main{
                margin-left: 20px;
                margin-right: 50px;
                padding: 0 15px;
                left: 20px;
                outline: medium none;
                position: relative;
            }

            table {
                font-family:tahoma;
                width:100%;
                margin:6px 0;
                font-size: 0.757em;
            }

            #right_table tr {
                background:none;
            }
            #right_table tr td{
                padding-bottom: 0px;
                padding-top: 4px;
            }
            tr.odd {
                background:#e1ffe1;
            }
            .region-page-top,.with-secondary-menu,#footer,#breadcrumb,#uname,#page-title{
                display:none;
            }
            .trigger{
                visibility:hidden;
            }
            #print{
                float: right;
                position: relative;
                top: 26px;
                z-index: 1;
            }

            #voucher_field_title{
                background-color: #FFFFFF !important;
                font-family: Georgia,"Times New Roman",Times,serif;
                font-weight: bold;
                width:100%;
            }

            .voucher_field_label{
                background-color: #FFFFFF !important;
                /*font-family: Tahoma;
                 font-size: 112.5%;*/
                width:160px;


            }

            .voucher_field_value{
                background-color: #FFFFFF !important;
                font-family: Tahoma;
                /**font-size: 112.5%;**/
                padding-right:20px;
            }

            fieldset{
                margin-left: -77px !important;
            }
            table tr th{
                background:none;

            }
            tr, tr.even{
                background:none;
            }
            table tr th, table tr th a{
                color:#000000;
            }
            th,td{
                background:none;
                color:#000000;
            }
        </style><style type="text/css">
            table.myTable { border-collapse:collapse; }
            table.myTable td, table.myTable th { border:1px solid black;padding:5px; }
            input[type="checkbox"] {
                width: 20px;
                height: 15px;
                /*background: red;
                -webkit-appearance: none;*/
                -moz-appearance: none;
                appearance: none;
                border:1px solid black;
                position: relative;
                left: -5px;
                top: 2px;
                background-color: -moz-field !important;
                border: 2px inset threedface !important;
                color: -moz-fieldtext !important;
                cursor: default;
            }
            label.option
            {
                vertical-align:top;
            }
            input[type="checkbox"]:checked {
                /*background: blue;*/
            }
            tr td, tr th{
                padding:0px 0px!important;
            }
            .btn {
                -moz-user-select: none;
                background-image: none;
                border: 1px solid transparent;
                border-radius: 4px;
                cursor: pointer;
                display: inline-block;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.42857;
                margin-bottom: 0;
                padding: 3px 7px;
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
            }
            .btn-success {
                background-color: #95b75d;
                border-color: #95b75d;
                color: #ffffff;
            }
        </style>

    </head>
    <body>
        <div id="page">
            <div id="main">
                <input  onclick="feepaymentSettings.ClickHereToPrint()" type="button" value="print" id="print" class="btn btn-success" />
                <div id="logo"> 
                    <div style="padding-left:35px">
                        <?php
                        $masterid = OrganizationalStructureMaster::find('module="Ledger"');
                        foreach ($masterid as $value) {
                            $orgids[] = $value->id;
                        }
                        $cashledgid = OrganizationalStructureValues::findFirst('name LIKE "Cash"  and status = "C" and org_master_id IN (' . implode(',', $orgids) . ')')->id;
                        if ($recptvouchinfo->debitledger != $cashledgid) {
                            $check = '<input id="edit-mode-1"  class="checkbox" type="checkbox" onclick="return false" value="1" name="mode">
<label class="option" for="edit-mode-1">Cash </label>
<input id="edit-mode-2" class="checkbox" type="checkbox"  checked="checked" onclick="return false" value="2" name="mode">
                        <label class="option" for="edit-mode-2">Cheque </label>';
                        } else {
                            $check = '<input id="edit-mode-1"  class="checkbox" type="checkbox" onclick="return false" checked="checked"  value="1" name="mode">
<label class="option" for="edit-mode-1">Cash </label>
<input id="edit-mode-2" class="checkbox" type="checkbox" value="2" onclick="return false" name="mode">
<label class="option" for="edit-mode-2">Cheque </label>';
                        }
                        ?>
                        <?php
                        echo $this->tag->image(array(
                            "src" => $schoolinfo['school_logo'] ? (FILES_URI . $schoolinfo['school_logo']) : '',
                            'style' => 'float:left',
                            'width' => '75px',
                            'height' => '75px'));
                        ?>
                        <span style="position: relative;font-size:22px;padding-left:18px;"><b><?= $schoolinfo['school_name'] ?></b></span>
                        <br/>
                        <?php
                        $addrlen = strlen($schoolinfo['school_address']);
                        if ($addrlen < 30) {
                            $schooladdr = $schoolinfo['school_address'];
                        } else {
                            $width = strlen($schoolinfo['school_address']) / 2;
                            $schooladdr = wordwrap($schoolinfo['school_address'], $width);
                        }
                        ?>
                        <b><span style="position: relative; top: 8px; font-size: 12px; left: 40px;"><?= $schooladdr ?></b></span>
                        </p>
                    </div>
                </div>
                <div style="position:absolute;width:100%;margin-top:102px;display:inline-table;">
                    <p style="text-align:center;font-size:20px;font-weight:bold;margin:0px !important;">Fee Receipt</p>
                    <table id="voucher_details">
                        <tr><td class=voucher_field_label>Receipt No</td><td>:</td><td><?= $recptvouchinfo->voucher_id; ?></td></tr>
                        <tr><td class=voucher_field_label>Name of the Student</td><td>:</td><td><?= $studentAcdInfo->Student_Name; ?></td></tr>
                        <tr><td class=voucher_field_label>Grade</td><td>:</td><td class=voucher_field_value><?= $classname ?></td></tr>
                    </table>
                    <div style="float:right;padding-right:0px;width:auto;">
                        <table id="right_table">
                            <tr>
                                <td colspan="2">Date </td><td>:</td><td><?= date('d/m/Y', $recptvouchinfo->created_date); ?></td>
                            </tr>
                            <tr>
                                <td colspan="2">Appilcation No </td><td>:</td><td><?= $studentAcdInfo->application_no ?></td>
                            </tr>
                            <tr>

                            </tr>
                            <!--<tr>
                            <td colspan="2">Depositor\'s Name </td><td>:</td><td></td>
                            </tr>-->
                        </table></div>
                    <table id="particulars" class="myTable" >
                        <tr align ="center">
                            <th style="text-align:center;width:50px">Sno</th>
                            <th style="text-align:center;">Particulars</th>
                            <th style="text-align:center;width:150px"> Amount (Rs.)</th>
                        </tr>
                        <tr>
                            <td style="text-align:center;">1</td>
                            <td style="text-align:center;">Application Fees</td>
                            <td style="text-align:center;"><?= $recptvouchinfo->amount; ?></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right;">Total&nbsp;&nbsp;</td>
                            <td style="text-align:center;"><?= $recptvouchinfo->amount; ?></td>

                        </tr>
                    </table>
                    <table>
                        <tr><td class=voucher_field_label>Amount In Words<td>:</td></td><td><?= $amountinwords . ' only'; ?></td></tr>
                        <tr><td class=voucher_field_label>Remarks(if any)<td>:</td></td><td></td></tr>

                        <tr>
                            <td class=voucher_field_label>Mode Of Payment</td><td>:</td>
                            <td><input id="edit-mode-1"  class="checkbox" type="checkbox" onclick="return false" value="1" name="mode">
                                <label class="option" for="edit-mode-1">Cash </label>
                                <input id="edit-mode-2" class="checkbox" type="checkbox" value="2" onclick="return false" name="mode">
                                <label class="option" for="edit-mode-2">Cheque </label>
                            </td>
                        </tr>
                        <tr><td colspan="3"><table style="margin:0px 0px !important;"><tr><th  colspan="9" align="left">For Cheque Payments</th></tr>
                                    <tr><td style="width:7%" >Cheque#</td><td style="width:3%">:</td><td style="width:20%"></td>
                                        <td style="width:7%" >Date</td><td style="width:3%" >:</td><td style="width:20%" ></td>
                                        <td style="width:20%" >Name of the Bank</td><td style="width:3%" >:</td><td style="width:20%" ></td></tr></table>
                        </tr>
                    </table>

                    <table id="sign_table">
                        <tr><td class=voucher_field_label style="position: relative;font-family: Tahoma;font-size: 112.5%;">Depositor's Sign</td><td class=voucher_field_label style="position: relative;font-family: Tahoma;font-size: 112.5%;text-align:center;">Receiver's Sign</td><td class=voucher_field_label style="position: relative;font-family: Tahoma;font-size: 112.5%;text-align:center;">Finance officer's sign</td></tr>
                    </table>
                    <hr><p align ="center" style="font-size:12px;"><small>Notice : *Fees Remitted will not be refunded in any case. *Receipt is valid only on realization the cheque.</small></p>



                </div>
            </div>
        </div><!--end page-->
    </body>

</html>
