<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html class="js js csstransforms3d" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" version="XHTML+RDFa 1.0" dir="ltr" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#"><head profile="http://www.w3.org/1999/xhtml/vocab">

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="generator" content="Bluefish 2.2.2" />
            <meta http-equiv="cache-control" content="no-cache" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <?php echo $this->tag->getTitle(); ?>
            <link type="image/png" href="<?php echo $this->url->getBaseUri(); ?>images/logo_primary.ico" rel="shortcut icon"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <?php
             $time =SCRIPTLT;
            echo $this->tag->stylesheetLink("css/bootstrap.min.css?$time");
            echo $this->tag->stylesheetLink("css/bootstrap-extend.css?$time");
            echo $this->tag->stylesheetLink("css/bootstrap-reset.css?$time");
            echo $this->tag->stylesheetLink("fonts/font-awesome/css/font-awesome.css?$time");
            echo $this->tag->stylesheetLink("fonts/font-awesome/css/font-awesome.min.css?$time");
            echo $this->tag->stylesheetLink("css/theme.css?$time");
            /* Materia theme css */
            echo $this->tag->stylesheetLink("css/common.css?$time");
            echo $this->tag->stylesheetLink("css/components.css?$time");
            echo $this->tag->stylesheetLink("css/material-theme/animate.css?$time");
            echo $this->tag->stylesheetLink("css/material-theme/layout.css?$time");
            echo $this->tag->stylesheetLink("css/material-theme/plugins.css?$time");
            echo $this->tag->stylesheetLink("css/material-theme/widgets.css?$time");
            echo $this->tag->stylesheetLink("css/material-theme/material-design-iconic-font.css?$time");
            /* datetimepicker */
            echo $this->tag->stylesheetLink("js/lib/bootstrap_date-time/css/bootstrap-datetimepicker.css?$time");
            /* form wizard */
            echo $this->tag->stylesheetLink("css/form_steps.css?$time");
            /* tokenInput */
            echo $this->tag->stylesheetLink("css/token-input.css?$time");
            echo $this->tag->stylesheetLink("css/token-input-facebook.css?$time");
            /* colorpicker */
            echo $this->tag->stylesheetLink("js/extra/bootstrap-colorpicker/css/colorpicker.css?$time");
            /* star */
            echo $this->tag->stylesheetLink("css/jRating.jquery.css?$time");
            /* processing */
            echo $this->tag->stylesheetLink("css/waitMe.css?$time");

            /* lib */
            echo $this->tag->javascriptInclude("js/lib/jquery.js?$time");
            echo $this->tag->javascriptInclude("js/lib/jquery-ui.js?$time");
            echo $this->tag->javascriptInclude("js/app-common/common.js?$time");

            /* autocomplte */
            echo $this->tag->javascriptInclude("js/lib/bootstrap-typeahead.js?$time");
            /* nicescrll */
            echo $this->tag->javascriptInclude("js/lib/jquery.nicescroll.js?$time");
            /* datetimepicker */
            echo $this->tag->javascriptInclude("js/lib/bootstrap_date-time/js/bootstrap-datetimepicker.js?$time");
			/* modal */
            echo $this->tag->javascriptInclude("js/lib/bootbox.js");
             /* Noty */
            echo $this->tag->javascriptInclude("js/extra/jquery.noty.js");
             //echo $this->tag->javascriptInclude("js/lib/bootstrap-filestyle.js");
            ?>

            <script>
                commonSettings.onboardUrl = '<?php echo $this->url->get('onboard') ?>';
                commonSettings.orgmaster = '<?php echo $this->url->get('organizational-structure') ?>';
                commonSettings.searchAjaxurl = '<?php echo $this->url->get('search') ?>';
                commonSettings.ledgerAjaxurl = '<?php echo $this->url->get('ledger') ?>';
                commonSettings.assigningAjaxurl = '<?php echo $this->url->get('assigning') ?>';
                commonSettings.spacetreeutilsAjaxurl = '<?php echo $this->url->get('spacetree') ?>';
                commonSettings.classRoomAdminAjaxurl = '<?php echo $this->url->get('classroom-admin') ?>';
                commonSettings.classRoomAjaxurl = '<?php echo $this->url->get('classroom') ?>';
                commonSettings.profileSettingsAjaxurl = '<?php echo $this->url->get('profile-settings') ?>';
                commonSettings.approvalAjaxurl = '<?php echo $this->url->get('approval') ?>';
                commonSettings.applnAjaxurl = '<?php echo $this->url->get('application') ?>';
                commonSettings.attendanceAjaxurl = '<?php echo $this->url->get('attendance') ?>';
                commonSettings.examAjaxurl = '<?php echo $this->url->get('exam') ?>';
                commonSettings.assignmentAjaxurl = '<?php echo $this->url->get('assignment') ?>';
                commonSettings.ratingAjaxurl = '<?php echo $this->url->get('rating') ?>';
                commonSettings.homeworkAjaxurl = '<?php echo $this->url->get('home-work'); ?>';
                commonSettings.examReportAjaxUrl = '<?php echo $this->url->get('exam-report'); ?>';
                commonSettings.academicAjaxurl = '<?php echo $this->url->get('academic') ?>';
                commonSettings.attendancesettingsAjaxurl = '<?php echo $this->url->get('attendancesettings') ?>';
                commonSettings.relievingAjaxurl = '<?php echo $this->url->get('relieving') ?>';
                commonSettings.staffAjaxurl = '<?php echo $this->url->get('staff') ?>';
                commonSettings.approvalViewAjaxurl = '<?php echo $this->url->get('approval-view') ?>';
                commonSettings.appointementAjaxurl = '<?php echo $this->url->get('appointment') ?>';
                commonSettings.appointAjaxurl = '<?php echo $this->url->get('appointment') ?>';
                commonSettings.stfratingAjaxurl = '<?php echo $this->url->get('staffrating') ?>';
                commonSettings.studentProfAjaxurl = '<?php echo $this->url->get('student-profile') ?>';
                commonSettings.admissionAjaxurl = '<?php echo $this->url->get('admission') ?>';
                commonSettings.profileAjaxurl = '<?php echo $this->url->get('profile') ?>';
                commonSettings.cycleAjaxurl = '<?php echo $this->url->get('cycle') ?>';
                commonSettings.reportAjaxurl = '<?php echo $this->url->get('reports') ?>';
                commonSettings.markAjaxurl = '<?php echo $this->url->get('mark') ?>';
                commonSettings.announcementAjaxurl = '<?php echo $this->url->get('announcement') ?>';
                commonSettings.contentsharingAjaxurl = '<?php echo $this->url->get('content-sharing') ?>';
                commonSettings.eventAjaxUrl = '<?php echo $this->url->get('event') ?>';
                commonSettings.jsUrl = '<?php echo $this->url->get('js') ?>';
                commonSettings.calendarAjaxUrl = '<?php echo $this->url->get('calendar'); ?>';
                commonSettings.usersroleAjaxurl = '<?php echo $this->url->get('usersrole') ?>';

//                commonSettings.imageUrl = '<?php echo $this->url->get('images') ?>';
//                commonSettings.tmplUrl = '<?php echo $this->url->get('tmpls') ?>';
//                
//                commonSettings.subdomain = '<?= SUBDOMAIN ?>';
//                commonSettings.calenderapi = '<?= CALENDARAPI ?>';
//                
//                commonSettings.announcementAjaxurl = '<?php echo $this->url->get('announcement') ?>';
//                commonSettings.smsAjaxUrl = '<?php echo $this->url->get('sms') ?>';
//                commonSettings.enquiryAjaxUrl = '<?php echo $this->url->get('enquiry') ?>';
//                
//                
//               
//                
//                
//                
//                
//                
//                
//                
//                
//                commonSettings.feeAjaxurl = '<?php echo $this->url->get('fee') ?>';
//                
//                commonSettings.transactionAjaxurl = '<?php echo $this->url->get('transaction') ?>';
//                commonSettings.voucherAjaxurl = '<?php echo $this->url->get('voucher') ?>';
//                commonSettings.transportAjaxurl = '<?php echo $this->url->get('transport') ?>';
//                commonSettings.routeAjaxurl = '<?php echo $this->url->get('route') ?>';
//                commonSettings.studentRouteAjaxurl = '<?php echo $this->url->get('student-route') ?>';
//                commonSettings.staffRouteAjaxurl = '<?php echo $this->url->get('staff-route') ?>';
//                commonSettings.feeAssigningUrl = '<?php echo $this->url->get('fee-assigning') ?>';
//                commonSettings.feePaymentUrl = '<?php echo $this->url->get('fee-payment') ?>';
//                commonSettings.feeDemandUrl = '<?php echo $this->url->get('fee-demand') ?>';
//                commonSettings.salaryUrl = '<?php echo $this->url->get('salary') ?>';
//                commonSettings.payrollUrl = '<?php echo $this->url->get('payroll') ?>';
//                commonSettings.accountsSettingsAjaxurl = '<?php echo $this->url->get('accountssettings') ?>';
//                
//                commonSettings.eduacademiccalendarAjaxurl = '<?php echo $this->url->get('academiccalendar') ?>';
//                commonSettings.communicateAjaxUrl = '<?php echo $this->url->get('communicate') ?>';
//                
//                commonSettings.promotionAjaxurl = '<?php echo $this->url->get('promotion') ?>';
//                
//                
//                commonSettings.usersAjaxurl = '<?php echo $this->url->get('users') ?>';
//                
//                commonSettings.financeReportAjaxurl = '<?php echo $this->url->get('financereport') ?>';
//                commonSettings.transportAjaxurl = '<?php echo $this->url->get('transport') ?>';
//                
//                
//                commonSettings.leaveAjaxurl = '<?php echo $this->url->get('leave') ?>';
//                commonSettings.salaryUrl = '<?php echo $this->url->get('salary') ?>';
//                
//                
//                
//                
//                
//                
//                commonSettings.printAjaxurl = '<?php echo $this->url->get('print') ?>';
//                commonSettings.feeruleAjaxurl = '<?php echo $this->url->get('fee-rules') ?>';
//                
//                commonSettings.setupAjaxurl = '<?php echo $this->url->get('settings') ?>';
//                
//                commonSettings.uploadfieAjaxurl = '<?php echo $this->url->get('uploadfile') ?>';
//                commonSettings.visitorAjaxurl = '<?php echo $this->url->get('visitors') ?>';
//                commonSettings.studentDashboardAjaxurl = '<?php echo $this->url->get('student-dashboard') ?>';
//                commonSettings.studentDetailsAjaxurl = '<?php echo $this->url->get('student-details') ?>';
//                commonSettings.enquiryallAjaxurl = '<?php echo $this->url->get('enquiryall') ?>';
//                commonSettings.videosAjaxUrl = '<?php echo $this->url->get('videos') ?>';
//                commonSettings.inventoryAjaxurl = '<?php echo $this->url->get('inventory') ?>';
//                commonSettings.templateAjaxurl = '<?php echo $this->url->get('template') ?>';
//                
//                commonSettings.enquiryprofileSettingsAjaxurl = '<?php echo $this->url->get('enquirysettings') ?>';
//                commonSettings.movementAjaxurl = '<?php echo $this->url->get('movement') ?>';
//                commonSettings.vendorAjaxurl = '<?php echo $this->url->get('vendor') ?>';
//                commonSettings.movementinAjaxurl = '<?php echo $this->url->get('movementin') ?>';
//                commonSettings.movementoutAjaxurl = '<?php echo $this->url->get('movementout') ?>';
//                
//                commonSettings.timelineAjaxUrl = '<?php echo $this->url->get('timeline'); ?>';
//                
//                commonSettings.conferenceAjaxurl = '<?php echo $this->url->get('conference') ?>';
//                
//                commonSettings.vouchereditAjaxurl = '<?php echo $this->url->get('voucheredit') ?>';
//                commonSettings.evaluationUrl = '<?php echo $this->url->get('evaluation') ?>';


            </script>
            <!--<script type="text/javascript" src="https://www.google.com/jsapi" />-->
        </head>
        <?php echo $this->getContent(); ?>

        <?php
        /* basic */
        echo $this->tag->javascriptInclude("js/lib/bootstrap.min.js?$time");
//        echo $this->tag->javascriptInclude("js/extra/jquery-migrate.js?$time");
//        echo $this->tag->javascriptInclude("js/extra/jquery.ui.js?$time");
        echo $this->tag->javascriptInclude("js/extra/jRespond.js?$time");
        echo $this->tag->javascriptInclude("js/extra/nav.accordion.js?$time");
//        echo $this->tag->javascriptInclude("js/extra/hover.intent.js?$time");
        echo $this->tag->javascriptInclude("js/extra/hammerjs.js?$time");
        echo $this->tag->javascriptInclude("js/extra/jquery.hammer.js?$time");
        echo $this->tag->javascriptInclude("js/extra/jquery.fitvids.js?$time");
        echo $this->tag->javascriptInclude("js/extra/scrollup.js?$time");
        echo $this->tag->javascriptInclude("js/extra/smoothscroll.js?$time");
        echo $this->tag->javascriptInclude("js/extra/jquery.slimscroll.js?$time");
        echo $this->tag->javascriptInclude("js/extra/velocity.js?$time");
        echo $this->tag->javascriptInclude("js/extra/smart-resize.js?$time");
        echo $this->tag->javascriptInclude("js/extra/icheck.js?$time");
        echo $this->tag->javascriptInclude("js/extra/jquery.loadmask.js?$time");
        echo $this->tag->javascriptInclude("js/extra/apps.js?$time");
        echo $this->tag->javascriptInclude("js/extra/select2.full.js?$time");
        /* star */
        echo $this->tag->javascriptInclude("js/lib/jRating.jquery.js?$time");
        /* formewizard */
        echo $this->tag->javascriptInclude("js/lib/jquery.steps.js?$time");

        /* dataTable */
        echo $this->tag->javascriptInclude("js/lib/dataTables/jquery.dataTables.js?$time");
        echo $this->tag->javascriptInclude("js/lib/dataTables/dataTables.responsive.js?$time");
        echo $this->tag->javascriptInclude("js/lib/dataTables/dataTables.tableTools.js?$time");
        echo $this->tag->javascriptInclude("js/lib/dataTables/dataTables.bootstrap.js?$time");

        /* tokenInput */
        echo $this->tag->javascriptInclude("js/lib/jquery.tokeninput.js?$time");
        /* colorpicker */
        echo $this->tag->javascriptInclude("js/extra/bootstrap-colorpicker/js/bootstrap-colorpicker.js?$time");
        /* processing */
        echo $this->tag->javascriptInclude("js/extra/waitMe.js?$time");
        ?>
        <?php $this->assets->outputCss(); ?>
        <?php $this->assets->outputJs(); ?>
        <?php echo $this->tag->javascriptInclude("js/app-common/common-footer.js?$time"); ?>
        </body>
</html>
