
<a class="pageload-link pull-right" href="javascript:;" from-action="editPage" onclick="studentCycleSettings.loadGeneralprofileal(this)"> 
        <span class="mini-stat-icon tar">
            <i class="fa fa-reply"></i></span>
        <label class="control-label" style="margin-top:10px;">Go back</label>
    </a>
    <br><br>

<script>
    $(document).ready(function () {

        $('.frm_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            endDate: '+0d'
        });

        $('.to_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            endDate: '+0d'
        });

        $('#dob').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            endDate: '+0d',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2

        });
   
        $("#studentDetailsForm").on('submit', (function (e) {

            var applnData = {};
            $("#studentDetailsForm").find('input,select,textarea').each(function () {
                applnData[$(this).attr('name')] = $.trim($(this).val());

            });


            console.log(applnData);

            e.preventDefault();

            $.ajax({
                url: commonSettings.profileAjaxurl + "/updatestudent", // Url to which the request is send
                type: "POST", // Type of request to be send, called as method
                data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                contentType: false, // The content type used when sending data to the server.
                cache: false, // To unable request pages to be cached
                processData: false,
                dataType: "JSON", // To send DOMDocument or non processed data file it is set to false
                success: function (res)   // A function to be called if request succeeds
                {
                    // alert(data['message']);
                    /* $('.msgBox-title').html('Message');
                     $('.msgBox-body').html(data['message']);
                     $('#messageBoxModal').modal('show');*/

		var lblcls = res.type == 'error' ? 'danger' : 'success';
                $('#messageBoxModal .msgBox-title').html('Message');
                $('#messageBoxModal .msgBox-body').html('<div class="alert alert-block alert-' + lblcls + ' fade in">' + res.message + '</div>');
                $('#messageBoxModal').modal();
                $('#msg_ok').unbind('click').click(function (event) {
                    $('#messageBoxModal').modal('hide');
                    if (res.type == 'success') { 
                       studentprofileSettings.loadeditprofile(<?= $student->id ?>);
                    }
                });


                }

            });

        }));
    });
</script>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <?php
        echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'studentDetailsForm',
            'action' => 'javascript:;', 'method' => 'post', 'enctype' => 'multipart/form-data'));
        ?>

        <section class="panel" id=''>
            <header class="panel-heading">
                Student Admission Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Application No:</label>
                            <div class="col-sm-6">
                                <input type="hidden" value="<?= isset($student->application_no) ? $student->application_no : '' ?>" 
                                       name="application_no" id="application_no" />
                                       <?= $student->application_no ?> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Admission No:</label>
                            <div class="col-sm-6">

                                <input type="hidden" value="<?= isset($student->Admission_no) ? $student->Admission_no : '' ?>" 
                                       name="admission_no" id="admission_no" />

                                <?= $student->Admission_no ?> </div>
                        </div>

                        <?php
                        $studentbranch = explode(',', $academicdet->aggregate_key);
                        foreach ($studentbranch as $aggreval) {
                            $orgval = OrganizationalStructureValues::findFirstById($aggreval);
                            $orgMaster = OrganizationalStructureMaster::findFirstById($orgval->org_master_id);
                            ?><div class="form-group">
                                <label for=""  class="col-sm-3  control-label mandatory"><?= $orgMaster->name ?></label>  
                                <div class="col-sm-6">   <?= $orgval->name ?> </div> 

                            </div>
                        <?php } ?>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Date of Admission:</label>
                            <div class="col-sm-6">
                                <input type="hidden" value="<?= isset($student->Date_of_Joining) ? date('d-m-Y', $student->Date_of_Joining) : '' ?>" 
                                       name="doj" id="doj" />
                                       <?= date('d-m-Y', $student->Date_of_Joining) ?>
                            </div>
                        </div>
                        <?php
                        $hideOrShowFields = StudentProfileSettings::find("parent_id = '1' and hide_or_show=1");
                        foreach ($hideOrShowFields as $field) {
                            ?>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                <div class="col-sm-6">
                                    <?= $form->render($field->form_name) ?>
                                </div>
                            </div>
                        <?php }
                        ?>


                    </div>
                </div>
            </div>
        </section>

        <section class="panel" id=''>
            <header class="panel-heading">
                Student Personal Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Student Name:</label>
                            <div class="col-sm-6">
                                <?= $form->render("studentName", array('value' => isset($student->Student_Name) ? $student->Student_Name : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Date of birth:</label>
                            <div class="col-sm-6">
                                <?= $form->render("dob", array('value' => isset($student->Date_of_Birth) ? date('d-m-Y', $student->Date_of_Birth) : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Gender:</label>
                            <div class="col-sm-6">
                                <?= $form->render("gender", array('value' => isset($student->Gender) ? $student->Gender : '')) ?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Address Line1:</label>
                            <div class="col-sm-6">
                                <?= $form->render("address1", array('value' => isset($student->Address1) ? $student->Address1 : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Address Line2:</label>
                            <div class="col-sm-6">
                                <?= $form->render("address2", array('value' => isset($student->Address2) ? $student->Address2 : '')) ?>
                            </div>
                        </div><div class="form-group">
                            <label for=""  class="col-sm-3 control-label">State:</label>
                            <div class="col-sm-6">
                                <?= $form->render("state", array('value' => isset($student->State) ? $student->State : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Country:</label>
                            <div class="col-sm-6">
                                <?= $form->render("country", array('value' => isset($student->Country) ? $student->Country : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Pin code:</label>
                            <div class="col-sm-6">
                                <?= $form->render("pin", array('value' => isset($student->Pin) ? $student->Pin : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Phone Number:</label>
                            <div class="col-sm-6">
                                <?= $form->render("phone", array('value' => isset($student->Phone) ? $student->Phone : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Email ID:</label>
                            <div class="col-sm-6">
                                <?= $form->render("email", array('value' => isset($student->Email) ? $student->Email : '')) ?>
                            </div>
                        </div>

                        <?php
                        $hideOrShowFields = StudentProfileSettings::find("parent_id = '2' and hide_or_show=1");
                        foreach ($hideOrShowFields as $field) {
                            ?>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                <div class="col-sm-6">
                                    <?= $form->render($field->form_name) ?>
                                </div>
                            </div>
                        <?php }
                        ?>
                    </div>
                </div>
            </div>
        </section>

        <?php
        $hideOrShowFieldset3 = StudentProfileSettings::findFirstById("3");
        if ($hideOrShowFieldset3->hide_or_show != 0) {
            ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Parent Details
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <?php
                            $hideOrShowFields = StudentProfileSettings::find("parent_id = '3' and hide_or_show=1");
                            foreach ($hideOrShowFields as $field) {
                                ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
                                        <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
                            <?php }
                            ?>
                        </div>
                    </div>
                </div>
            </section>
        <?php }
        ?>
        <?php
        $hideOrShowFieldset4 = StudentProfileSettings::findFirstById("4");
        if ($hideOrShowFieldset4->hide_or_show != 0) {
            ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Student Medical Details
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <?php
                            $hideOrShowFields = StudentProfileSettings::find("parent_id = '4' and hide_or_show=1");
                            foreach ($hideOrShowFields as $field) {
                                ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
                                        <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
                            <?php }
                            ?>
                        </div>
                    </div>
                </div>
            </section>
        <?php }
        ?>

        <?php
        $hideOrShowFieldset5 = StudentProfileSettings::findFirstById("5");
        if ($hideOrShowFieldset5->hide_or_show != 0) {
            ?>
            <section class="panel" id=''>
                <header class="panel-heading">
                    Student Previous School Details
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <?php
                            $hideOrShowFields = StudentProfileSettings::find("parent_id = '5' and hide_or_show=1");
                            foreach ($hideOrShowFields as $field) {
                                ?>
                                <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                    <div class="col-sm-6">
                                        <?= $form->render($field->form_name) ?>
                                    </div>
                                </div>
                            <?php }
                            ?>
                        </div>
                    </div>
                </div>
            </section>
        <?php }
        ?>

        <input type="hidden" id="student_id" name="student_id" value="<?= $student_id; ?>"/>

        <div class="form-group">
            <div class="col-md-9">  
                <button class="btn btn-success pull-right" type="submit" 
                        id="stu_save"> Save</button>


            </div>
        </div>
        </form>
    </div>
</div>