<div class="panel-body">
    <table id="studetails" cellspacing="0" class="  table table-hover general-table">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Admission No</th>
                <th>DOB</th>
                <th>Gender</th>
                <?php
                foreach ($mandnode as $node) {
                    echo '<th>' . ucfirst($node) . '</th>';
                }
                ?>
                <th>Status</th>
                <th>Actions</th>
                <th>Print</th>
            </tr>
        </thead>

    </table>

</div>