
<?php
echo $this->tag->javascriptInclude("js/appscripts/report/report.js");
?>

<?php
//print_r($mandnode);
//exit;
//$varcols = count($mandnode) + count($nodes) + 5;
$varcols1 = 4 + count($mandnode) + 3;
//$varcols2 = 5 + count($mandnode) + count($nodes) - 1;
//echo $varcols1. $varcols2;exit;
//for ($i = 0 ,$j=4; $i <  count($mandnode); $i++,$j++)
//    $varsort[] = $j;
//
for ($i = 0, $j = 4 + count($mandnode); $i < 3; $i++, $j++)
    $varsortenable[] = $j;

for ($ii = 4; $ii < 4 + count($mandnode); $ii++)
    $varsort[] = $ii;
//echo 'asd';print_r(count($mandnode));exit;
?>


<div class="row">
    <script>
        //  studentprofileSettings.loadStudentdet();

        studentprofileSettings.loadStudentdet = function (cntrl)
        {
            var submitAction = $(cntrl).attr('from-action') ? $(cntrl).attr('from-action') : '';
            if (submitAction === "stateReset")
            {
                $('#fromreset').val('');
            }
            var resetAction = $('#fromreset').val() ? $('#fromreset').val() : '';
//alert(resetAction)
            var studata = {};
            var subdivval = [];
            var params = {};
            var academic = "";
            var i = 0;
            studata.emptySearch = 1;
            //studentProfileSearchForm

            $("#studentProfileSearchForm").find('input,select,textarea').each(function () {

                if ($(this).attr('name') == 'subDivVal')
                {
                    if ($(this).val() != 0)
                    {
                        //i++;
                        subdivval.push($(this).val());
                    }
                }
                else
                {
                    studata.emptySearch = 0;
                    studata[$(this).attr('name')] = $.trim($(this).val());
                    if (resetAction === '') {
//                         alert('test')
                        studentprofileSettings.searchVal[$(this).attr('name')] = $.trim($(this).val());
                    }
                }

            });
            studata['subDivVal'] = subdivval;
            if (resetAction === '') {
                studentprofileSettings.searchVal['subDivVal'] = subdivval;
            }



            if (resetAction === 'editPage') {
//                alert('test')
//                console.log('mani')
//                console.log(studentprofileSettings.searchVal)
                $.each(studentprofileSettings.searchVal, function (key, value) {
//                    alert(key + ": " + value);
                    studata[key] = value;
                });
            }

            console.log('i value=' + i);
//            console.log(subdivval);
            console.log(studata);
            params = studata;

//            console.log(params);
            /*if(i !=0)
             {*/
            $.ajax({
                type: "POST",
                url: commonSettings.profileAjaxurl + "/loadtableHeader",
                data: studata,
                dataType: "html",
                success: function (res) {
                    $('#loadReport').html(res);
                    $('#loadReport').removeClass('hide');
                    var tablectrl = '#studetails';
                    var column = [0, 1, 2, 3,<?= implode(',', $varsortenable) ?>];
                    var sortingDisabled = [<?= implode(',', $varsort) ?>];
//            $(tablectrl).state.clear();

                    var ttdata = $(tablectrl).dataTable({
                        "sDom": '<"top"if>rt<"bottopm"p><"clear">',
                        "bProcessing": true,
                        "bServerSide": true,
                        "bStateSave": true,
                        "sAjaxSource": commonSettings.profileAjaxurl + '/loadtableData',
                        "sPaginationType": "full_numbers",
                        "iDisplayLength": commonSettings.NumberOfRecords,
                        // 'iDisplayStart':patientsapp.startIndex,
                        "aoColumnDefs": [{
                                "sDefaultContent": "",
                                "aTargets": column
                            }, {
                                "bSortable": false,
                                "sDefaultContent": "",
                                "aTargets": sortingDisabled
                            }],
                        "aaSorting": [[0, "desc"]], //
                        "bLengthChange": false,
//                "bInfo": false,
                        "oLanguage": {
                            "sInfo": "<i class='fa fa-info activity-icon'></i> <i class='text-muted'><b>Showing _START_ to _END_ of _TOTAL_ students</b></i>",
                            "sInfoFiltered": " ",
                        },
                        "fnServerData": function (surl, aoData, l) {
                            for (var key in params) {
                                aoData.push({
                                    "name": key,
                                    "value": params[key]
                                });
                            }
                            $.ajax({
                                dataType: "json",
                                type: "POST",
                                url: surl,
                                contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                                data: aoData,
                                success: l
                            });
                        },
                        "fnStateSave": function (oSettings, oData) {
                            save_dt_view(oSettings, oData);
                        },
                        "fnStateLoad": function (oSettings) {
                            return load_dt_view(oSettings);
                        },
                        "fnDrawCallback": function (o) {
//                    if (o._iRecordsDisplay <= commonSettings.NumberOfRecords) {
//                        $(tablectrl + '_paginate').hide();
//                    }
                            $('#studetails_info').addClass('col-md-5');
                            $('.dataTables_filter').addClass('col-md-5');
                            $('.dataTables_filter').find('label').addClass('col-md-3 search-txt1').css('display', ' inline');
                            $('.dataTables_filter').find('input').addClass('form-control pull-right search-tbox1');
                        },
                        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                            var rowText = '<tr id="' + aData.id + '">';

                            rowText += '<td class="student_name col-md-2 no_sort">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" >' + aData.Student_Name + '</span>';
                            rowText += '</td>';

//                    rowText += '<td>';
//                    rowText += '<button data-original-title="Login Details" style="font-size:12px;padding: 7px;"\n\
//                              data-content="<table class="table table-striped table-hover table-bordered" style="font-size:12px;">\n\
//                                   <tbody>   <tr>  <td>Student Login</td>\n\
//                                                       <td>'; 
//                                                           
//                     rowText += aData.stulogin;
//                     rowText += '</td> </tr><tr><td>Parent Login</td>\n\
//                                   <td>' 
//                     rowText +=aData.parntlogin;
//                       rowText += '</td></tr></tbody> </table>"\n\
//                                      data-placement="top" data-trigger="hover" class="btn btn-info popovers">';
//                        rowText += aData.Admission_no;
//                         rowText += '</button>';
//                    rowText += '</td>';

                            rowText += '<td>';
                            rowText += '<span class="tooltip tooltip-effect-2">\n\
<span class="tooltip-item"  >';
                            rowText += aData.Admission_no;
                            rowText += '<span class="tooltip-content clearfix">\n\
                                <section class="panel">\n\
                                <header class="panel-heading">\n\
                                Login Details</header>\n\
                                <div class="panel-body">';

                            rowText += ' <table border="2"  class="table general-table">\n\
                    <tbody> <tr><td><font size="2%">Student Login</font> </td>\n\
                            <td><font size="2%">' + aData.stulogin + '</font></td>\n\
                        </tr> <tr>\n\
                            <td><font size="2%">Parent Login</font></td> \n\
                            <td><font size="2%">' + aData.parntlogin + '</font></td>\n\
                        </tr></tbody></table>';
                            rowText += '</div></section></span></span>';
                            rowText += '</td>';

//                    rowText += '<td class="new-patient invoiceview sorting_1">';
//                    rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore" >' + aData.Admission_no + '</span>';
//                    rowText += '</td>';

                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.Date_of_Birth + '</span>';
                            rowText += '</td>';
                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.gender + '</span>';
                            rowText += '</td>';

<?php foreach ($mandnode as $key => $mandnodeval) { ?>

                                rowText += '<td>';
                                rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + ((typeof (aData[<?= $key ?>]) != 'undefined') ? aData[<?= $key ?>] : '-') + '</span>';
                                rowText += '</td>';

<?php } ?>

//                    rowText += '<td class="new-patient invoiceview sorting_1">';
//                    rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.stulogin + '</span>';
//                    rowText += '</td>';
//                    rowText += '<td class="new-patient invoiceview sorting_1">';
//                    rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.parntlogin + '</span>';
//                    rowText += '</td>';

//                    rowText += '<td class="new-patient invoiceview sorting_1">';
//                    rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore">' + aData.email + '</span>';
//                    rowText += '</td>';

                            rowText += '<td class="">';
                            rowText += '<span class="mr_fltlft mr_wd90 mr_forallmore label label-info label-mini">' + aData.status + '</span>';
                            rowText += '</td>';
                            rowText += '<td class="new-patient invoiceview sorting_1">';
                            rowText += aData.Actions;
                            rowText += '</td>';
                            rowText += '<td class="">';
                            rowText += aData.Print;
                            rowText += '</td>';
                            rowText += '</tr>';
                            var newRow = $(rowText);
                            $(nRow).html(newRow.html());
                            commonSettings.copyAttributes(newRow, nRow);
                            return nRow;
                        }
                    });

                    if (submitAction === "stateReset")
                    {
//                        alert('ter')
                        ttdata.fnDraw();
                    }
                }
            });
            /* }
             else
             {
             $('.modal-title').html('Message');
             $('.modal-body').html('<div class="alert alert-block alert-danger fade in">You Should Fill Atleast One Field.</div>');
             $('#messageBox').click();
             }*/
        };

        $(document).ready(function () {
            studentprofileSettings.loadStudentdet(this);
        });
    </script>
    <div class="col-sm-12" id='mainDiv'>
        <section class="panel">
            <header class="panel-heading">
                Student Profile
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'studentProfileSearchForm')); ?>

                        <div class="form-group">
                            <?php $fields = OrganizationalStructureMaster::findFirst('mandatory_for_admission =1 and cycle_node =1'); ?>
                            <label for=""  class="col-sm-4  control-label mandatory"><?= $fields->name ?></label>  
                            <div class="col-sm-8">
                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            'aggregate_' . strtolower(str_replace(' ', '', $fields->name)),
                                            OrganizationalStructureValues::find('org_master_id = ' . $fields->id),
                                            "using" => array("id", "name"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control',
                                            'title' => $fields->name,
                                            'onchange' => 'studentprofileSettings.loadSubtree(this)'
                                        )
                                );
                                ?>

                            </div> 
                        </div> 

                        <div class="subtreediv hide"></div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Login ID:</label>
                            <div class="col-md-8">  
                                <input type="text" name="loginid" id="loginid" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Name:</label>
                            <div class="col-md-8">  

                                <input type="text" name="name" id="name" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Status:</label>
                            <div class="col-md-8">  

                                <?php
                                echo \Phalcon\Tag::select(
                                        array(
                                            'status',
                                            StudentMapping::find(array(
                                                'columns' => 'distinct status'
                                            )),
                                            "using" => array("status", "status"),
                                            'useEmpty' => true,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control',
                                            'title' => 'Status',
                                ));


//                              echo \Phalcon\Tag::select(
//                                array(
//                                    'status',
//                                    array("Inclass" => "Inclass",
//                                        "Relieving Initiated" => "Relieving Initiated",
//                                        "Relieved" => "Relieved"
//                                        ),
//                                    'useEmpty' => true,
//                                    'emptyText' => 'Select',
//                                    'emptyValue' => '',
//                                    'class' => 'form-control'
//                                )
//                        );
                                ?>
                            </div>
                        </div>


                        <input type="hidden" id="fromreset" name="fromreset" value="<?= $frmreset ?>"/>
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-8">  
                                <button class="btn btn-success pull-right" from-action="stateReset" onclick="studentprofileSettings.loadStudentdet(this)" type="button"> 
                                    Search
                                </button>   
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>
<section class="panel">
    <header class="panel-heading">
        Manage Student Details 
        <span class="tools pull-right actionbtns">
            <a  href="javascript:;" class="fa fa-file-text-o" title="Student List" onclick="reportSettings.getStudentReports()" ></a>
        </span>
    </header>
    <div id='loadReport' class='hide' style="overflow:hidden"></div>	
</section>
<script>$('#loadReport').niceScroll()</script>

