<?=  $this->tag->javascriptInclude("js/feepayment/feepayment.js"); ?>
<html>
<head>
<title>Transfer Certificate</title>
<style type="text/css">

body {
  font-family:Tahoma;
font-size:100%;
line-height: 1.5;
}
p.ex
{
width:5px;
height:5px;
padding:10px;
border:1px solid black;
margin:0px;
float:left
}
img {
  border:0;
}
#voucher_details{
width:auto;
float:left;
}
#voucher_details tr{
background:none;
}
#voucher_details tr td{
 padding-bottom: 0px;
    padding-top: 4px;
}
.amount
{
border:2px solid #000000;
position:absolute;
width: 125px;
font-size: 17.5px;
font-weight: bold;
padding-left:6px;
 }

#sign_table{
   margin-top: 50px;
    width:100%;
}

#page {
  font-family: tahoma;
    height: auto !important;
    margin: -10px 0px 0;
    position: absolute;
    width: 90%;

}
 
#logo {
  height:110px;
  position: absolute;
  width: 100%;
   float: left;
    padding: 15px 15px 15px 10px;
}
#main{
    margin-left: 20px;
    margin-right: 50px;
    padding: 0 15px;
    left: 20px;
    outline: medium none;
    position: relative;
}

table {
font-family:tahoma;
  width:100%;
  margin:6px 0;
      font-size: 0.757em;
}

#right_table tr {
background:none;
}
#right_table tr td{
 padding-bottom: 0px;
    padding-top: 4px;
}
tr.odd {
  background:#e1ffe1;
}
.region-page-top,.with-secondary-menu,#footer,#breadcrumb,#uname,#page-title{
    display:none;
}
.trigger{
    visibility:hidden;
}
#print{
  float: right;
     position: relative;
    top: 26px;
    z-index: 1;
}

#voucher_field_title{
 background-color: #FFFFFF !important;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: bold;
    width:100%;
}

.voucher_field_label{
background-color: #FFFFFF !important;
    /*font-family: Tahoma;
     font-size: 112.5%;*/
     width:160px;


}

.voucher_field_value{
background-color: #FFFFFF !important;
    font-family: Tahoma;
      /**font-size: 112.5%;**/
      padding-right:20px;
}

fieldset{
margin-left: -77px !important;
}
table tr th{
background:none;

}
tr, tr.even{
background:none;
}
table tr th, table tr th a{
color:#000000;
}
th,td{
background:none;
color:#000000;
}
</style><style type="text/css">
table.myTable { border-collapse:collapse; }
table.myTable td, table.myTable th { border:1px solid black;padding:5px !important; }
input[type="checkbox"] {
    width: 20px;
    height: 15px;
    /*background: red;
    -webkit-appearance: none;*/
    -moz-appearance: none;
    appearance: none;
    border:1px solid black;
    position: relative;
    left: -5px;
    top: 2px;
background-color: -moz-field !important;
    border: 2px inset threedface !important;
    color: -moz-fieldtext !important;
    cursor: default;
}
label.option
{
vertical-align:top;
}
input[type="checkbox"]:checked {
    /*background: blue;*/
}
tr td, tr th{
padding:0px 0px!important;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-success {
    background-color: #95b75d;
    border-color: #95b75d;
    color: #ffffff;
}
.fee_text
{
    font-size: 12px;
}
.fee_text_table
{
      float: right;
}

.numberfield
{
    width: 30px;
}
.td-cent
{
     width: 50%;
}
.td-cent_class
{
      width: 53%;
}
.td-rig{
    text-align: right;
}
.schlnametitl
{
    width: 70%;
    text-align: center;
   position: relative;
  
}

</style>

</head>
<body>
    
    <div id="page">
    <div id="main">
    <input  onclick="feepaymentSettings.ClickHereToPrint()" type="button" value="print" id="print" class="btn btn-success" />
      <div id="logo"> 
                    <div style="padding-left:35px">

                        <?php
                        echo $this->tag->image(array(
                            "src" => $schoolinfo['school_logo'] ? (FILES_URI . $schoolinfo['school_logo']) : '',
                            'style' => 'float:left;min-width:10%;max-width:30%',
                            'height' => '50%'));
                        ?>
                        <span style="position: relative;font-size:70%;padding-left:18px;"><b><?= $schoolinfo['school_name'] ?></b></span>
                        <br/>
                        <?php
                        $addrlen = strlen($schoolinfo['school_address']);
                        if ($addrlen < 30) {
                            $schooladdr = $schoolinfo['school_address'];
                        } else {
                            $width = strlen($schoolinfo['school_address']) / 2;
                            $schooladdr = wordwrap($schoolinfo['school_address'], $width);
                        }
                        ?>
                        <span style="position: relative;top:-5px;left:48px;font-size:40%;"><?= $schooladdr ?></span>
                        </p>
                    </div>
                </div>
 <div style="position:absolute;width:100%;margin-top:102px;display:inline-table;">
<p style="text-align:center;font-size:22px;margin:0px !important;"> <b>Transfer Certificate</b> </p>
 
<table id="" border="0" class=" myTable table general-table table-condensed" >
<!--    <tr>
        
        <td colspan="3">
            <span style="width:20%;">
              <?php 
echo $this->tag->image(array(
                                           "src" => $schoolinfo['school_logo'] ? (FILES_URI . $schoolinfo['school_logo']) : '',
                                           'style' => 'float:left',
                                           'width' => '75px',
                                           'height' => '75px'));
                                           ?>
                </span>
            <span class="schlnametitl">
 <span style="font-size: 20px; position: relative; left: 34%"><b><?= $schoolinfo['school_name'] ?></b></span>
<br/>
<?php $addrlen=strlen($schoolinfo['school_address']);if($addrlen<30){ $schooladdr=$schoolinfo['school_address'];}else{ $width = strlen($schoolinfo['school_address'])/2; $schooladdr=wordwrap($schoolinfo['school_address'],$width);} ?>
<b><span style="font-size: 15px; position: relative; left: 32%"><?= $schooladdr ?></span></b>
            </span>

        </td>
        
        
    </tr>
    -->
  
    
    
                <tr>
                    <td class="numberfield">
                            <font face="Times New Roman" color="#000000">1</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Student Name </font></b>
                        </td>
			<td >
                            <font face="Times New Roman" color="#000000">
                          <br>  <?= ucfirst($stuinfo->Student_Name) ?> </font>
                        </td>
		</tr>
              
                <tr>
                      <td class="numberfield">
                            <font face="Times New Roman" color="#000000">2</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Father Name</font></b>
                        </td>
			<td >
                            <font face="Times New Roman" color="#000000">
                            <br> <?= ucfirst($stuinfo->father_name) ?> </font></td>
		</tr>
                <tr>
                      <td class="numberfield">
                            <font face="Times New Roman" color="#000000">3</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Mother Name</font></b>
                        </td>
			<td >
                            <font face="Times New Roman" color="#000000">
                            <br> <?= ucfirst($stuinfo->mother_name) ?> </font></td>
                </tr>
                
                <tr>
                     <td class="numberfield">
                            <font face="Times New Roman" color="#000000">4</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                               Guardian Name</font></b>
                        </td>
			<td >
                            <font face="Times New Roman" color="#000000">
                            <br> <?= ucfirst($stuinfo->other_guardian_name) ?> </font></td>
                </tr>
                 <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">5</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Gender  </font></b></td>
			<td>
                            <font face="Times New Roman" color="#000000">
                            <br><?= $stuinfo->Gender ?
                             (($stuinfo->Gender == '2') ? 'Female' : 'Male') : '-'?></font></td>
		</tr>
                
                <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">6</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Nationality</font>
                            </b></td>
			<td>
                            <font face="Times New Roman" color="#000000">
                            <br><?=
                            
                            $stuinfo->nationality ? CountryMaster::findfirst('country_code ="' . $stuinfo->nationality .'"')->country_name : '-'?></font></td>
		</tr>
                
                 <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">7</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Religion</font>
                            </b></td>
			<td>
                            <font face="Times New Roman" color="#000000">
                            <br><?=
                            
                            $stuinfo->religion ? CountryMaster::findfirst('country_code ="' . $stuinfo->religion .'"')->country_name : '-'?></font></td>
		</tr>
               
                <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">8</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Date of Birth</font></b></td>
			<td >
                            <font face="Calibri" color="#000000">
                            <br><?= $stuinfo->Date_of_Birth ? date('d-m-Y',$stuinfo->Date_of_Birth) : '-'; ?></font></td>
		</tr>
                
                <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">9</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Date of Admission </font></b></td>
			<td >
                            <font face="Times New Roman" color="#000000">
                            <br><?= $sturelievinfo->admission_date ? date('d-m-Y',$sturelievinfo->admission_date) : '-'; ?></font></td>
		</tr>
                
                               
                <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">10</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Date when the student left the school </font></b></td>
			<td>
                            <font face="Times New Roman" color="#000000">
                            <br>
                            <?= $sturelievinfo->scl_left_date ? date('d-m-Y',$sturelievinfo->scl_left_date) : '-'; ?>
                            </font></td>
		</tr>
                
                <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">11</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Conduct &amp; Character of the Student</font></b></td>
			<td>
                            <font face="Times New Roman" color="#000000">
                            <br>
                            <?= $sturelievinfo->stdcharacter ? date('d-m-Y',$sturelievinfo->stdcharacter) : '-'; ?></font></td>
		</tr>
                
                 <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">12</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Date on which application for Transfer Certificate was made by the Parent</font></b></td>
			<td >
                            <font face="Times New Roman" color="#000000">
                            <br>
                            <?= $sturelievinfo->tc_made_date ? date('d-m-Y',$sturelievinfo->tc_made_date) : '-'; ?>
                            </font></td>
		</tr>
		<tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">13</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Date of Transfer Certificate</font></b></td>
			<td >
                            <font face="Times New Roman" color="#000000">
                            <br>
                            <?= $sturelievinfo->tc_date ? date('d-m-Y',$sturelievinfo->tc_date) : '-'; ?>
                            </font></td>
		</tr>
                
                <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">14</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Whether completed the course successfully</font></b></td>
			<td >
                            <font face="Times New Roman" color="#000000"> 
                        <br>  <?= $sturelievinfo->course_complete ?
                             (($sturelievinfo->course_complete == '2') ? 'Yes' : 'No') : '-'?> </font></td>
		</tr>
                
                <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">15</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Whether qualified for promotion to higher standard </font></b></td>
			<td>
                            <font face="Times New Roman" color="#000000">       
                         <br> <?= $sturelievinfo->qualify_promo ?
                             (($sturelievinfo->qualify_promo == '2') ? 'Yes' : 'No') : '-'?> </font></td>
		</tr>
                
                    <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">16</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Course Completion Details </font></b></td>
			<td >
                            <font face="Times New Roman" color="#000000">
                            <br>
                            <?= $sturelievinfo->course_comp_det ? ucfirst($sturelievinfo->course_comp_det) : '-'; ?></font></td>
		</tr>
                
                
                
                <tr>
			  <td class="numberfield">
                            <font face="Times New Roman" color="#000000">17</font>
                        </td>
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                First Language </font></b></td>
			<td>
                            <font face="Times New Roman" color="#000000">
                            <?= $stuinfo->first_language ? ucfirst($stuinfo->first_language) : '-'; ?></font></td>
		</tr>
                
               
                
                <tr>
			<td>
                            <font face="Times New Roman" color="#000000">18
                            </font></td>
			<td>
                            <b><font face="Times New Roman" color="#000000">
                                Medium of Instruction</font></b></td>
			<td>
                            <font face="Times New Roman" color="#000000">
                          <?= $sturelievinfo->medium ?
                             (ucfirst($sturelievinfo->medium)) : '-'?>  </font></td>
		</tr>
                
                 <tr>
			<td>
                            <font face="Times New Roman" color="#000000">19
                            </font></td>
			<td>
                            <b><font face="Times New Roman" color="#000000">
                                Reason</font></b></td>
			<td>
                            <font face="Times New Roman" color="#000000">
                          <?= $sturelievinfo->reason ?
                             (ucfirst($sturelievinfo->reason)) : '-'?>  </font></td>
		</tr>
                  
		
                
                
		
               
    
</table>
<br>
<!--<table id="" border="0" class=" myTable table general-table table-condensed" >
    <tr>
        <td colspan="2"> <b> STUDENT JOINING CLASS </b></td>
    </tr>
<?php

$studentbranch = explode(',', $sturelievinfo->joining_aggregate_key);
                foreach ($studentbranch as $aggreval) {
                    $orgval = OrganizationalStructureValues::findFirstById($aggreval);
                    $orgMaster = OrganizationalStructureMaster::findFirstById($orgval->org_master_id);
                    ?><tr>
                        <td class="td-cent_class"> <b><?= $orgMaster->name  ?> </b></td>
                         <td class=""> <?= $orgval->name  ?> </td>
                    </tr>
<?php } ?>
    
    </table>-->

<br>
<table id="" border="0" class="myTable table general-table table-condensed" >
    <tr>
        <td colspan="2"><b> STUDENT RELIEVING CLASS DETAILS </b></td>
    </tr>
<?php

$studentbranch = explode(',', $sturelievinfo->relieving_aggregate_key);
                foreach ($studentbranch as $aggreval) {
                    $orgval = OrganizationalStructureValues::findFirstById($aggreval);
                    $orgMaster = OrganizationalStructureMaster::findFirstById($orgval->org_master_id);
                    ?><tr>
                        <td class="td-cent_class"> <b><?= $orgMaster->name  ?> </b></td>
                         <td> <?= $orgval->name  ?> </td>
                    </tr>
<?php } ?>
    
    </table>

<br>
<br>
<table id="" border="0" class=" table general-table table-condensed" >
    
<tr>
			 
                        <td class="td-cent">
                            <b><font face="Times New Roman" color="#000000">
                                Signature of Head of  Institution with seal </font></b></td>
			 <td class="td-rig">
                            <b><font face="Times New Roman" color="#000000">
                                Signature of Parent/Legal Guardian</font></b></td>
			<td>
		</tr>
		

                </table>
 </div>
    </div>
    </div>
    