
<?php
echo $this->tag->javascriptInclude("js/appscripts/studenthomepage/rating.js");
echo $this->tag->javascriptInclude("js/appscripts/studentprofile/studentprofile.js");
echo $this->tag->javascriptInclude("js/extra/cycle/app.js");
echo $this->tag->javascriptInclude('js/appscripts/home-work/homework.js');
?>

<!--<style>
path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}

</style>-->
<script type="text/javascript">
    var params = {};
    params.student = '<?= $student_record->id ?>';
    params.aggregate_key = '<?= $aggregate_key ?>';

    studentprofileSettings.stuparams.student = '<?= $student_record->id ?>';
    studentprofileSettings.stuparams.aggregate_key = '<?= $aggregate_key ?>';

    console.log(params)
    $(document).ready(function () {
        $('.ratingDiv').jRating({
            isDisabled: true
        });
        $("#navtabs .tabactive").unbind().on('click', function () {
            var activetab = $(this).attr('tabactive')
            console.log('clicked' + activetab)
            $('.tab-pane').removeClass('active')
            $('#' + activetab).addClass('active')

        });


        $("#loadsubjectwise").click(function () {
            mainexamSettings.subjwise($('#examwise'));
        });
        $("#loadexamwise").click(function () {
            mainexamSettings.examwise($('#examwise'));
        });
        $('#classtest_section').on('click', function () {
            dashboardSettings.loadClassTestChart(params);
        })

        $('#mainexam_section').on('click', function () {
            dashboardSettings.loadMainexamChart(params);
        })

        $('#rating_section').on('click', function () {
            console.log(ratingSettings)
            ratingSettings.mainCatRatinInitial(params);
        })

        $('#studentvideos_section').on('click', function () {
            videoSettings.loadSubjectSharedVideos(<?= $subjMaster; ?>);
        })
        $('#overviewtop_section').on('click', function () {
            //  dashboardSettings.loadOverViewChart(params);
        });
        $('#assignment_section').on('click', function () {
           studentprofileSettings.loadAssignments('<?= $student_record->id ?>')
        });
        $('#homework_section').on('click', function () {
            homeworkSettings.loadHomeWorkBYStudent(params);
        })

        $('#studentvideos_section').off();

//        $('#message_section').on('click', function () {
//            communicateSettings.loadMessageSidePanel();
//            communicateSettings.loadMessage();
//        });
        $('#<?= $triggerClick ?>').trigger('click')


<?php if ($maintanenceMsg == 1) { ?>
            $(".mini-stat.tabactive").unbind().off()
            $('.tabactive').unbind().off()
            $('.loadsubjectwise').unbind().off()
            $('.loadexamwise').unbind().off()
            $('.classtest_section').unbind().off()
            $('.mainexam_section').unbind().off()
            $('.rating_section').unbind().off()
            $('.overviewtop_section').unbind().off()
<?php } ?>




    });
</script>
<style>
    aside { float:left;
    width: auto !important;}
</style>
<?php
$stuGen = $student_record; // StudentGeneralMaster::findFirstByStudentId($student_record->id);

$fieldArr = array();
$hideOrShowFields = StudentProfileSettings::find("hide_or_show = 1 and parent_id!=0");
foreach ($hideOrShowFields as $hideOrShow) {
    $fieldArr[$hideOrShow->id] = $hideOrShow->column_name;
}
?>
<div class="row" >    

    <div class="col-md-3">
        <aside class="profile-nav  alt"> <!-- fixed_sidebar -->
            <section class="panel">
                <div class="user-heading alt gray-bg">
                    <div class="row">
                        <div class="col-md-12">
                            <h4><?php echo $student_name; ?></h4>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                                <img src="<?= $this->url->get($photo_url) ?> " alt=""/>
                            </a>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <?php
                                foreach ($subDivisions as $subdiv) {
                                    echo $subdiv['name'] . ' - ' . $subdiv['value'] . '<br>';
                                }
                                ?>
                            </p>
                        </div>
                    </div> 
                </div>
                <ul class="nav nav-pills nav-stacked" id="navtabs">
                    <!--                    <li class="tabactive stud-calc2"  tabactive ="overview" id="overviewtop_section"><a href="javascript:;">
                                                <i class="fa fa-eye"></i> Overview
                                                <span class="badge label-success pull-right r-activity">
                    
                                                </span></a></li>-->
                    <li class="tabactive stud-calc2"  tabactive ="attendance" id="attendance_section"> <a href="javascript:;"> 
                            <i class="fa fa-calendar"></i> Attendance <span class="badge label-danger pull-right r-activity">

                            </span></a></li>
                    <li class="tabactive stud-calc2"  tabactive ="mainexam" id="mainexam_section" > <a href="javascript:;">
                            <i class="fa fa-book"></i> Main Exam <span class="badge label-success pull-right r-activity">

                            </span></a></li>
                    <li class="tabactive stud-calc2"  tabactive ="classtest" id="classtest_section"><a href="javascript:;">
                            <i class="fa fa-edit"></i> Class Test 
                            <span class="badge label-warning pull-right r-activity">

                            </span></a></li>
                    <li class="tabactive stud-calc2"  tabactive ="rating" id="rating_section"><a href="javascript:;">
                            <i class="fa fa-star"></i> Ratings
                            <span class="badge tar pull-right r-activity">

                            </span></a></li>
                    <li class="tabactive stud-calc2"  tabactive ="assignment" id="assignment_section"> <a href="javascript:;">
                            <i class="fa fa-list-alt"></i> Assignment
                            <span class="badge pink pull-right r-activity">

                            </span></a></li>
                    <li class="tabactive stud-calc2"   tabactive ="videos" id="studentvideos_section"> <a href="javascript:;">
                            <i class="fa fa-youtube-play"></i> Videos
                            <span class="badge bg-green pull-right r-activity">

                            </span></a></li>
                    <li class="tabactive stud-calc2"   tabactive ="homework" id="homework_section"> <a href="javascript:;">
                            <i class="fa fa-edit"></i> Home Works
                            <span class="badge bg-green pull-right r-activity">

                            </span></a></li>
                </ul>
            </section>



        </aside>

    </div>

    <div class="col-md-9">

        <section id="other_section">

            <div>
                <div class="tab-content tasi-tab">


                    <!--                    <div id="overview" class="tab-pane ">
                                             <div class="col-md-12" id="overviewChart">
                                                         Overview Chart html 
                    <div id='dashboard'>
                    </div>
                    <script>
                    function dashboard(id, fData){
                        var barColor = 'steelblue';
                        function segColor(c){ return {Mainexam:"#807dba", Clastest:"#e08214",Assignment:"#41ab5d"}[c]; }
                        
                        // compute total for each state.
                        fData.forEach(function(d){d.total=d.freq.Mainexam+d.freq.Clastest+d.freq.Assignment;});
                        
                        // function to handle histogram.
                        function histoGram(fD){
                            var hG={},    hGDim = {t: 60, r: 0, b: 30, l: 0};
                            hGDim.w = 500 - hGDim.l - hGDim.r, 
                            hGDim.h = 300 - hGDim.t - hGDim.b;
                                
                            //create svg for histogram.
                            var hGsvg = d3.select(id).append("svg")
                                .attr("width", hGDim.w + hGDim.l + hGDim.r)
                                .attr("height", hGDim.h + hGDim.t + hGDim.b).append("g")
                                .attr("transform", "translate(" + hGDim.l + "," + hGDim.t + ")");
                    
                            // create function for x-axis mapping.
                            var x = d3.scale.ordinal().rangeRoundBands([0, hGDim.w], 0.1)
                                    .domain(fD.map(function(d) { return d[0]; }));
                    
                            // Add x-axis to the histogram svg.
                            hGsvg.append("g").attr("class", "x axis")
                                .attr("transform", "translate(0," + hGDim.h + ")")
                                .call(d3.svg.axis().scale(x).orient("bottom"));
                    
                            // Create function for y-axis map.
                            var y = d3.scale.linear().range([hGDim.h, 0])
                                    .domain([0, d3.max(fD, function(d) { return d[1]; })]);
                    
                            // Create bars for histogram to contain rectangles and freq labels.
                            var bars = hGsvg.selectAll(".bar").data(fD).enter()
                                    .append("g").attr("class", "bar");
                            
                            //create the rectangles.
                            bars.append("rect")
                                .attr("x", function(d) { return x(d[0]); })
                                .attr("y", function(d) { return y(d[1]); })
                                .attr("width", x.rangeBand())
                                .attr("height", function(d) { return hGDim.h - y(d[1]); })
                                .attr('fill',barColor)
                                .on("mouseover",mouseover)// mouseover is defined below.
                                .on("mouseout",mouseout);// mouseout is defined below.
                                
                            //Create the frequency labels above the rectangles.
                            bars.append("text").text(function(d){ return d3.format(",")(d[1])})
                                .attr("x", function(d) { return x(d[0])+x.rangeBand()/2; })
                                .attr("y", function(d) { return y(d[1])-5; })
                                .attr("text-anchor", "middle");
                            
                            function mouseover(d){  // utility function to be called on mouseover.
                                // filter for selected state.
                                var st = fData.filter(function(s){ return s.State == d[0];})[0],
                                    nD = d3.keys(st.freq).map(function(s){ return {type:s, freq:st.freq[s]};});
                                   
                                // call update functions of pie-chart and legend.    
                                pC.update(nD);
                                leg.update(nD);
                            }
                            
                            function mouseout(d){    // utility function to be called on mouseout.
                                // reset the pie-chart and legend.    
                                pC.update(tF);
                                leg.update(tF);
                            }
                            
                            // create function to update the bars. This will be used by pie-chart.
                            hG.update = function(nD, color){
                                // update the domain of the y-axis map to reflect change in frequencies.
                                y.domain([0, d3.max(nD, function(d) { return d[1]; })]);
                                
                                // Attach the new data to the bars.
                                var bars = hGsvg.selectAll(".bar").data(nD);
                                
                                // transition the height and color of rectangles.
                                bars.select("rect").transition().duration(500)
                                    .attr("y", function(d) {return y(d[1]); })
                                    .attr("height", function(d) { return hGDim.h - y(d[1]); })
                                    .attr("fill", color);
                    
                                // transition the frequency labels location and change value.
                                bars.select("text").transition().duration(500)
                                    .text(function(d){ return d3.format(",")(d[1])})
                                    .attr("y", function(d) {return y(d[1])-5; });            
                            }        
                            return hG;
                        }
                        
                        // function to handle pieChart.
                        function pieChart(pD){
                            var pC ={},    pieDim ={w:250, h: 250};
                            pieDim.r = Math.min(pieDim.w, pieDim.h) / 2;
                                    
                            // create svg for pie chart.
                            var piesvg = d3.select(id).append("svg")
                                .attr("width", pieDim.w).attr("height", pieDim.h).append("g")
                                .attr("transform", "translate("+pieDim.w/2+","+pieDim.h/2+")");
                            
                            // create function to draw the arcs of the pie slices.
                            var arc = d3.svg.arc().outerRadius(pieDim.r - 10).innerRadius(0);
                    
                            // create a function to compute the pie slice angles.
                            var pie = d3.layout.pie().sort(null).value(function(d) { return d.freq; });
                    
                            // Draw the pie slices.
                            piesvg.selectAll("path").data(pie(pD)).enter().append("path").attr("d", arc)
                                .each(function(d) { this._current = d; })
                                .style("fill", function(d) { return segColor(d.data.type); })
                                .on("mouseover",mouseover).on("mouseout",mouseout);
                    
                            // create function to update pie-chart. This will be used by histogram.
                            pC.update = function(nD){
                                piesvg.selectAll("path").data(pie(nD)).transition().duration(500)
                                    .attrTween("d", arcTween);
                            }        
                            // Utility function to be called on mouseover a pie slice.
                            function mouseover(d){
                                // call the update function of histogram with new data.
                                hG.update(fData.map(function(v){ 
                                    return [v.State,v.freq[d.data.type]];}),segColor(d.data.type));
                            }
                            //Utility function to be called on mouseout a pie slice.
                            function mouseout(d){
                                // call the update function of histogram with all data.
                                hG.update(fData.map(function(v){
                                    return [v.State,v.total];}), barColor);
                            }
                            // Animating the pie-slice requiring a custom function which specifies
                            // how the intermediate paths should be drawn.
                            function arcTween(a) {
                                var i = d3.interpolate(this._current, a);
                                this._current = i(0);
                                return function(t) { return arc(i(t));    };
                            }    
                            return pC;
                        }
                        
                        // function to handle legend.
                        function legend(lD){
                            var leg = {};
                                
                            // create table for legend.
                            var legend = d3.select(id).append("table").attr('class','legend');
                            
                            // create one row per segment.
                            var tr = legend.append("tbody").selectAll("tr").data(lD).enter().append("tr");
                                
                            // create the first column for each segment.
                            tr.append("td").append("svg").attr("width", '16').attr("height", '16').append("rect")
                                .attr("width", '16').attr("height", '16')
                                            .attr("fill",function(d){ return segColor(d.type); });
                                
                            // create the second column for each segment.
                            tr.append("td").text(function(d){ return d.type;});
                    
                            // create the third column for each segment.
                            tr.append("td").attr("class",'legendFreq')
                                .text(function(d){ return d3.format(",")(d.freq);});
                    
                            // create the fourth column for each segment.
                            tr.append("td").attr("class",'legendPerc')
                                .text(function(d){ return getLegend(d,lD);});
                    
                            // Utility function to be used to update the legend.
                            leg.update = function(nD){
                                // update the data attached to the row elements.
                                var l = legend.select("tbody").selectAll("tr").data(nD);
                    
                                // update the frequencies.
                                l.select(".legendFreq").text(function(d){ return d3.format(",")(d.freq);});
                    
                                // update the percentage column.
                                l.select(".legendPerc").text(function(d){ return getLegend(d,nD);});        
                            }
                            
                            function getLegend(d,aD){ // Utility function to compute percentage.
                                return d3.format("%")(d.freq/d3.sum(aD.map(function(v){ return v.freq; })));
                            }
                    
                            return leg;
                        }
                        
                        // calculate total frequency by segment for all state.
                        var tF = ['Mainexam','Clastest','Assignment'].map(function(d){ 
                            return {type:d, freq: d3.sum(fData.map(function(t){ return t.freq[d];}))}; 
                        });    
                        
                        // calculate total frequency by state for all segment.
                        var sF = fData.map(function(d){return [d.State,d.total];});
                    
                        var hG = histoGram(sF), // create the histogram.
                            pC = pieChart(tF), // create the pie-chart.
                            leg= legend(tF);  // create the legend.
                    }
                    </script>
                    
                    <script>
                    var freqData=[
                    {State:'JAN',freq:{Mainexam:4786, Clastest:1319, Assignment:249}}
                    ,{State:'FEB',freq:{Mainexam:1101, Clastest:412, Assignment:674}}
                    ,{State:'MAR',freq:{Mainexam:932, Clastest:2149, Assignment:418}}
                    ,{State:'APR',freq:{Mainexam:832, Clastest:1152, Assignment:1862}}
                    ,{State:'MAY',freq:{Mainexam:4481, Clastest:3304, Assignment:948}}
                    ,{State:'JUN',freq:{Mainexam:1619, Clastest:167, Assignment:1063}}
                    ,{State:'JUL',freq:{Mainexam:1819, Clastest:247, Assignment:1203}}
                    ,{State:'AUG',freq:{Mainexam:4498, Clastest:3852, Assignment:942}}
                    ,{State:'SEP',freq:{Mainexam:797, Clastest:1849, Assignment:1534}}
                    ,{State:'OCT',freq:{Mainexam:162, Clastest:379, Assignment:471}}
                    ];
                    
                    dashboard('#dashboard',freqData);
                    </script>
                    
                                                    </div>
                                            <div id="mainexamTable"> </div>
                                        </div>-->

                    <div id="attendance" class="tab-pane ">
                        <section class="panel">
                            <header class="panel-heading">
                                Attendance
                            </header>
                            <div class="panel-body">
                        <!--                        <div id="attendanceChart"> </div><br>                                              -->
                        <div class="calendarAtt" style=" min-height: 500px; "> 
                            <div class="col-md-12">

                                <div class="event-calendar clearfix">
                                    <div class="col-lg-8 calendar-block">
                                        <div class="clndr-controls">
                                            <div class="clndr-control-button"  data-calendar-nav="prev">
                                                <span class="clndr-previous-button">
                                                    <i class="fa fa-chevron-left"></i>
                                                </span>
                                            </div>
                                            <div class="monthname"></div>
                                            <div class="clndr-control-button leftalign"  data-calendar-nav="next"> 
                                                <span class="clndr-next-button">
                                                    <i class="fa fa-chevron-right"></i></span>
                                            </div>
                                        </div>
                                        <div id="calendar"></div>
                                    </div>
                                    <div class="col-lg-4 event-list-block">
                                        <div class="cal-day">
                                            <span>Today</span>
                                            <?= date('l') ?>
                                            <br><br>
                                            <span>Holidays for <?= date('F, Y') ?></span>
                                        </div>

                                        <ul class="event-list">
                                            <?php
                                            $holidays_month = array();
                                            $today = strtotime(date('d-m-Y'));

                                            foreach ($attendanceHolidays as $holiday) {

                                                $todayList = $holiday->date;
                                                if (in_array(date('m-Y', $todayList), $holidays_month)):
                                                    ?>   

                                                    <li><?= date('d F, Y', $todayList) ?>
                                                        <a href="#" class="event-close">
                                                            <i class="fa fa-close"></i></a>
                                                    </li>


                                                    <?php
                                                endif;
                                            }
                                            ?>

                                        </ul>

                                    </div>
                                </div>
                                <div class="legend_title">
                                    <span>Legend</span>
                                </div>                        
                                <ul class="bar-legend">
                                    <?php foreach ($student_att_legend as $attVal) { ?>
                                        <li class="col-md-25"><span class="bar-legend-pointer"
                                                                    style=" background-color: <?= $attVal->color ?>"></span><?= $attVal->attendancename ?></li>                                    
                                        <?php } ?>
                                </ul>

                            </div>                        
                        </div>
                            </div>
                        </section>
                        <br> <br> <br> 

                        <div id="attendanceTable"> </div>
                    </div>
                    <div id="mainexam" class="tab-pane ">
                        <section class="panel">
                            <header class="panel-heading">
                                Main Exam
                            </header>
                            <div class="panel-body">
                                <div id="mainexamChart" class="col-md-12"> </div><br> 
                                <div class="tabs tabs-style-linebox col-md-12" id="tabinit">

                                    <div class="content-wrap" student_id = "<?= $student_id ?>" aggregate_key = "<?= $aggregate_key ?>">
                                        <section id="examwise" class="content-current">
                                            <div class="col-md-12" id="examwiseChart"></div>
                                        </section>
                                        <section id="subjwise">  
                                            <div class="col-md-12" id="subjwiseChart"></div>                            
                                        </section>

                                    </div><!-- /content -->
                                </div>
                                <!--<div id="mainexamTable"> </div>-->

                            </div>
                        </section>
                    </div>

                    <div id="classtest" class="tab-pane ">

                        <div id="classtestChart" class="col-md-12"> </div>                                         
                        <!--<div id="classtestTable"> </div>-->

                    </div>

                    <div id="rating" class="tab-pane ">
                        <section class="panel">
                            <header class="panel-heading">
                                Rating
                            </header>
                            <div class="panel-body">
                                <div class="tabs tabs-style-linebox">
                                    <nav>
                                        <ul>
                                            <li  class="tab-current" id="subratlink" onclick="ratingSettings.mainCatRatinInitial(params)">
                                                <a href="#subjRating" class=""><span> Subject Rating</span></a></li>
                                            <li id="clsratlink" onclick="ratingSettings.clsCatRatinInitial(params)">
                                                <a href="#classRating" ><span> Class Rating</span></a></li>
                                        </ul>
                                    </nav>
                                    <div class="content-wrap" id="ratingParentTable" >
                                        <section id="subjRating" class="content-current">  
                                            <div id="ratingTable"> </div><br>                          
                                        </section>
                                        <section id="classRating">  
                                            <div id="classRatTbl" > </div>                           
                                        </section>


                                    </div> 
                                </div>   
                            </div>
                        </section>  
                    </div>

                    <div id="videos" class="tab-pane ">
                        <section class="panel">
                            <header class="panel-heading">
                                Videos
                            </header>
                            <div class="panel-body">
                                <div class="tabs tabs-style-linebox">
                                    <?php if (count($subjects) > 0) { ?>
                                        <nav>
                                            <ul>
                                                <?php
                                                $i = 0;
                                                foreach ($subjects as $key => $subject) {
                                                    ?>
                                                    <li  class="<?= $i++ == 0 ? 'tab-current' : '' ?>">
                                                        <a href="#subj_<?= $subject ?>"  
                                                           onclick ="videoSettings.loadSubjectSharedVideos(<?= $key ?>);"   class=""><span>  
                                                                <?= $subject; ?></span></a></li>
                                                <?php } ?>
                                            </ul>
                                        </nav>  
                                    <?php } ?>
                                    <div class="content-wrap" id="videoParentTable" >
                                        <?php
                                        $i = 0;
                                        foreach ($subjects as $key => $subject) {
                                            ?>                                
                                            <div id="subj_<?= $subject ?>">  
                                                <div id="subjTable_<?= $key ?>"> </div>  
                                            </div>
                                        <?php } ?>
                                    </div> 

                                </div>  
                            </div>
                        </section>  
                        <br>   
                    </div>
                    <div id="assignment" class="tab-pane">  
                        <div id="assignment_content" class=""></div>

                    </div>
                    
                <div id="homework" class="tab-pane">  
                    <!--  message content goes here-->
                    <div id="homeworkdiv" class="hide"></div>

                </div>
                </div>

<!--                <div id="message_tabpane" class="tab-pane ">  
                      message content goes here
                    <div class="col-sm-3 mail-sidenav hide"> </div>
                    <div id="mail_content" class="hide"> <i class="fa fa-spinner fa-spin hide loading"></i></div>

                </div>-->



            </div>
        </section>

    </div>
</div>

<script type="text/javascript">

    $(function () {
        calendarSettings.options.holidays = '<?= $stuattendanceEveJson ?>';
        calendarSettings.options.events_source = '<?php
                                        echo $this->url->get('student-dashboard/getStudentAttendanceForMonth', array('student_id' => $student_record->id))
                                        ?>',
//        console.log(calendarSettings.options)
//        calendarSettings.options.holidays = {
//			// January 1
//                '14-01':  "Pongal Day",
//                '15-01':  "Pongal Day",
//                '16-01':  "Kanum Pongal Day",
//                '25-12-2014':  "Chritmas Day",
//        }
//        

                calendarSettings.calendar = $('#calendar').calendar(calendarSettings.options);
        $('.event').each(function () {
            $this = $(this);
            var myStringArray = this.className.split(' ');
            for (var i = 0; i < myStringArray.length; i++) {
                if (myStringArray[i].indexOf("event-custom") != -1) {
                    var color = myStringArray[i].replace("event-custom-", "");
//                    console.log($this.attr('data-original-title'))
                    $this.css('background-color', '#' + color)
                }

            }
        });

    });
</script>