<div class="panel" id=''>
    <header class="panel-heading">
        Overall Attendance
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <table id="overallAtt" cellspacing="0" width="100%" class="table  table-hover general-table dashboarTable">
            <thead>
                <tr>
                    <th>Month-Year</th>
                    <th>Days in Month</th>	
                    <th>Attendance Entered (Working Days)</th>
                    <th>Student's Attendance</th>
                    <th>Percentage</th>
                    <th>Class Average</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($attTtableParams as $key => $value) :
                    foreach ($value as $monthval) :
                        ?>
                        <tr>
                            <td><?= $monthval['month'] . ',' . $key ?> </td>
                            <td><?= $monthval['noofDays'] ?> </td>
                            <td><?= $monthval['Attentered'] ?> </td>
                            <td><?= $monthval['StuAttendance'] ?> </td>
                            <td><?= $monthval['Percentage'] ?> </td>
                            <td><?= $monthval['Classaverage'] ?> </td>
                        </tr>

                        <?php
                    endforeach;
                endforeach;
                ?>

            </tbody>

        </table>
    </div>
</div>

<script type="text/javascript">

    var tablectrl = '#overallAtt';
    var column = [0, 1, 2, 3, 4, 5];
    var sortingDisabled = [];
    $(tablectrl).dataTable({
        "sDom": 'C<"clear">lrtip',
        "bProcessing": true,
        "sPaginationType": "full_numbers",
        "iDisplayLength": 10,
        "aoColumnDefs": [{
                "sDefaultContent": "",
                "aTargets": column
            }, {
                "bSortable": false,
                "sDefaultContent": "",
                "aTargets": sortingDisabled
            }],
        "aaSorting": [[1, "desc"]],
        "bLengthChange": false,
        "bInfo": false
    });

</script>