<?php
// echo $this->tag->javascriptInclude("js/studenthomepage/highcharts.js");
//  echo $this->tag->javascriptInclude("js/studenthomepage/exporting.js");
//  echo $this->tag->javascriptInclude("js/studenthomepage/chartStyle.js");
//$this->assets->outputJs();
//$this->assets->outputCss();
?>
<script type=text/javascript>

    $(function() {
        $('#attchartcontainer').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: '<?= $header ?>'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [<?= $categories ?>],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '<?= $stat ?>',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' %'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                    name: '<?= $blue ?>',
                    data: [<?= $classaverage ?>]
                }, {
                    name: '<?= $red ?>',
                    data: [<?= $studentaverage ?>]
                }, ]
        });


    });

</script>
       
<!--<div align="right">
    	<a href="javascript:void(0)" class="btn btn-primary" onclick="
        dashboardSettings.loadAttendanceTable(params);">
            <i class="icon-plus-sign"></i>Attendance List</a>    
</div><br>-->
<!-- 3. Add the container -->
<div id="attchartcontainer" width='100%'></div>


