<?php echo $this->tag->javascriptInclude("js/studenthomepage/classtest.js"); ?>
<script type=text/javascript>

    $(function() {
        $('#clschartcontainer').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: '<?= $header ?>'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [<?= $categories ?>],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '<?= $stat ?>',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' %'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                    name: '<?= $blue ?>',
                    data: [<?= $classaverage ?>]
                }, {
                    name: '<?= $red ?>',
                    data: [<?= $studentaverage ?>]
                }, ]
        });


    });

</script>

<!-- 3. Add the container -->
<div id="clschartcontainer" class="col-md-8"></div>

<!--<ul class="action-links" student_id = "<?= $student_id ?>" divValId = "<?= $divValId ?>"
    subDivValId = "<?= $subDivValId ?>" academicYrId = "<?= $academicYrId ?>" >
   
          <li onclick="classtestSettings.subjwise(this)"  ><a href="javascript:void(0)" >
                  Subjectwise Statistics</a></li>
          </ul>-->
<style>
    ul.action-links {
list-style: none;
margin: 5px;
padding: 0.5em 1em;
}
ul.action-links li {
display: inline-block;
margin-left: 10px;
}
ul.action-links li a {
padding-left: 15px;
background: url(images/add.png) no-repeat left center;
margin: 0 10px 0 0;
}
</style>

<script type="text/javascript">

   classtestSettings.subjwise($('#clssubjwise'))
</script>