<?php //echo $this->tag->javascriptInclude("js/studenthomepage/mainexam.js"); ?>
<!--<div align="right">
    	<a href="javascript:void(0)" class="btn btn-primary" onclick="dashboardSettings.loadMainexamChart(params)">
            <i class="icon-plus-sign"></i>MainExam Overall chart</a>    
</div><br>-->
<div class="col-md-12">
<form class="form-horizontal">
    <label for=""  class="col-md-3 control-label">Select Exam: </label>

    <div class="form-group col-md-9 " student_id = "<?= $student_id ?>" divValId = "<?= $divValId ?>"
         subDivValId = "<?= $subDivValId ?>" academicYrId = "<?= $academicYrId ?>" >
             <?php
             echo \Phalcon\Tag::select(
                     array(
                         "examname",
                         $mainexamoption,
                         'useEmpty' => true,
                         'emptyText' => 'Select',
                         'emptyValue' => '0',
                         'class' => 'form-control',
                         'onchange' => 'mainexamSettings.examwise(this)',
                         'value' => $mname
                     )
             );
             ?>
    </div>
</form>
</div>
<?php if ($noData == 1) { ?>
    <script type=text/javascript>

        $(function() {
            $('#mainExamWisechartcontainer').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '<?= $header ?>'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [<?= $categories ?>],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '<?= $stat ?>',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' '
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                subtitle: {
                    text: 'Overall Percentage in <?= $mname ?>'
                },
                /* legend: {
                 layout: 'horizontal',
                 align: 'right',
                 verticalAlign: 'bottom',
                 x: -40,
                 y: 100,
                 floating: true,
                 borderWidth: 1,
                 backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                 shadow: true
                 },*/
                credits: {
                    enabled: false
                },
                series: [{
                        type: '',
                        name: 'Student Average',
                        data: [<?= $studentaverage ?>]
                    }, {
                        type: '',
                        name: 'Class Average',
                        data: [<?= $classaverage ?>]
                    }, /*{
                        type: 'pie',
                        name: 'Total Marks Percentage in ',
                        data: [{
                                name: 'Student Average',
                                y: <?= $sper ?>,
                                color: '#4572A7' // Jane's color
                            }, {
                                name: 'Class Average',
                                y: <?= $cper ?>,
                                color: '#AA4643' // John's color
                            }],
                        center: [70, 80],
                        size: 100,
                        showInLegend: true,
                        dataLabels: {
                            enabled: false
                        }
                    }*/
                    ]
            });


        });

    </script>

    <!-- 3. Add the container -->
    <div id="mainExamWisechartcontainer" class="col-md-6"></div>
        

                                    <div class="col-md-6" id="mainExamWiseTable"> </div>
<?php } else { ?>
    <div class="alert alert-block alert-danger fade in">No data found</div>

<?php } ?>

