<script type="text/javascript">
    var params = {};
    params.student = '<?= $student_record->id ?>';
    params.divValId = '<?= $student_record->Division_Class ?>';
    params.subDivValId = '<?= $student_record->Subdivision ?>';
    params.academicYrId = '<?= $cacdyr->id ?>';
    console.log(params)
    $(document).ready(function() {

        dashboardSettings.loadOverViewChart(params);
//        dashboardSettings.loadAttendanceTable(params);
//        dashboardSettings.loadAttendanceChart(params);


        $('.ratingDiv').jRating({
            isDisabled: true
        });
        $(".mini-stat.tabactive").unbind().on('click', function() {
            var activetab = $(this).attr('tabactive')
            console.log('clicked' + activetab)
            $('.nav li').removeClass('active')
            $('.nav li.' + activetab).addClass('active')
            $('.tab-pane').removeClass('active')
            $('#' + activetab).addClass('active')

            if (activetab === 'overview') {
//                $('#overview_section .nav li').first().addClass('active')
            }
        });
        
        /*overall default */
//        $("#overview_section").removeClass('hide');
//        $("#other_section").addClass('hide');
        
        $('.tabactive').click(function() {
            $("#overview_section").addClass('hide');
            $("#other_section").removeClass('hide');
        });

        $("#loadsubjectwise").click(function() {
            mainexamSettings.subjwise($('#examwise'));
        });
        $("#loadexamwise").click(function() {
            mainexamSettings.examwise($('#examwise'));
        });
        $('#classtest_section').on('click', function() {
            dashboardSettings.loadClassTestChart(params);
        })

        $('#mainexam_section').on('click', function() {
            dashboardSettings.loadMainexamChart(params);
        })

        $('#rating_section').on('click', function() {
            ratingSettings.mainCatRatinInitial(params);
            ratingSettings.clsCatRatinInitial(params)
        })

        $('#studentvideos_section').on('click', function() {
            videoSettings.loadSubjectSharedVideos(<?= $subjMaster[0]; ?>);
        })
        $('#overviewtop_section').on('click', function() {
            $("#overview_section").removeClass('hide');
            $("#other_section").addClass('hide');

            dashboardSettings.loadOverViewChart(params);
        });
        $('#assignment_section').on('click', function() {            
           $('#assignment_content').removeClass('hide');
        });
        
    });
</script>

<div class="row">
    <div class="col-md-3">
        <aside class="profile-nav fixed_sidebar alt">
            <section class="panel">
                <div class="user-heading alt gray-bg">
                    <a href="#">

                        <img src="<?= $this->url->get($photo_url) ?> " alt=""/>
                    </a>
                    <h1><?php echo $student_name; ?></h1>
                    <p><?php echo $divname ?> - <?php echo $divval ?><br>
                        <?php
                        foreach ($subDivisions as $subdiv) {
                            echo $subdiv['name'] . ' - ' . $subdiv['value'] . '<br>';
                        }
                        ?>
                    </p>
                </div>
            </section>

            

        </aside>

    </div>


    <div class="col-md-9">

        <?php
        $msg = $this->flashSession->getMessages();
        if ($msg) {
            if (count($msg['error']) > 0) {

                //  echo '<div class="alert alert-error">';
                foreach ($msg['error'] as $msgs) {
                    echo $msgs . '<br>';
                }
                //   echo '</div>';
            } else if (count($msg['success']) > 0) {
                //   echo '<div class="alert alert-success">';
                foreach ($msg['success'] as $msgs) {
                    echo $msgs . '<br>';
                    //      echo '</div>';
                }
            }
        }
        ?>
        <?php
        $disable_tabclick = 'data-toggle="tab"';
?>
        <div class="row">
            <div class="col-md-3">
                <div class="mini-stat clearfix tabactive"  tabactive ="overview" id="overviewtop_section">

                    <span class="mini-stat-icon yellow-b"><i class="fa fa-eye"></i></span>
                    <div class="mini-stat-info">
                        <span>Overview</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix tabactive"  tabactive ="attendance" id="attendance_section"> 

                    <span class="mini-stat-icon orange"><i class="fa fa-calendar"></i></span>
                    <div class="mini-stat-info">
                        <span>Attendance</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix tabactive" tabactive ="mainexam" id="mainexam_section" > 

                    <span class="mini-stat-icon tar"><i class="fa fa-book"></i></span>
                    <div class="mini-stat-info">
                        <span>Main Exam</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix tabactive"  tabactive ="classtest" id="classtest_section">

                    <span class="mini-stat-icon pink"><i class="fa fa-pencil"></i></span>
                    <div class="mini-stat-info">
                        <span>Class Test</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix tabactive"  tabactive ="rating" id="rating_section">

                    <span class="mini-stat-icon green"><i class="fa fa-star"></i></span>
                    <div class="mini-stat-info">
                        <span>Ratings</span>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="mini-stat clearfix tabactive"  tabactive ="assignment_tabpane" id="assignment_section"> 
                    <span class="mini-stat-icon yellow-b"><i class="fa fa-list-alt"></i></span>
                    <div class="mini-stat-info">
                        <span>Assignment</span>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="mini-stat clearfix tabactive"  tabactive ="videos" id="studentvideos_section"> <!--onclick="dashboardSettings.loadsubjRating(params);">-->
                    <span class="mini-stat-icon orange-theme"><i class="fa fa-youtube-play"></i></span>
                    <div class="mini-stat-info">
                        <span>Videos</span>
                    </div>
                </div>
            </div>
        </div>

        <section class="panel" id="overview_section">
            <header class="panel-heading tab-bg-dark-navy-blue">
                <ul class="nav nav-tabs nav-justified ">
                    <li class="active"> 
                        <a href="#overview" <?= $disable_tabclick ?> >
                            <i class="fa fa-certificate"></i>  &nbsp;
                            Academic profile
                        </a>
                    </li>
                    <li>
                        <a  <?= $disable_tabclick ?> href="#job-history">
                            <i class="fa fa-user"></i> &nbsp;
                            General Profile
                        </a>
                    </li>
                    <li>
                        <a  <?= $disable_tabclick ?> href="#contacts" class="contact-map">
                            <i class="fa fa-list-alt"></i>  &nbsp;
                            Report Card
                        </a>
                    </li>

                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content tasi-tab">
                    <div id="overview" class="tab-pane active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12" id="overviewChart">
                                    <!-- Overview Chart html -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="job-history" class="tab-pane">
                        <?php
                        $stuGen = StudentGeneralMaster::findFirstByStudentId($student_record->id);

                        $fieldArr = array();
                        $hideOrShowFields = StudentProfileSettings::find("hide_or_show = 1 and parent_id!=0");
                        foreach ($hideOrShowFields as $hideOrShow) {
                            $fieldArr[$hideOrShow->id] = $hideOrShow->column_name;
                        }
                        ?>
                        <div class="row">    
                            <div class="col-md-12">
                                <div class="well">
                                    <div class="row">
                                        <h4><div class="col-md-12">
                                                <span class="mini-stat-icon-profile yellow-b">
                                                    <i class="fa fa-graduation-cap"></i>
                                                </span>
                                                <label class="control-label" style="margin-top:10px;">Academic Details</label>
                                            </div>  </h4><br><br>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Name') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= $student_record->Student_Name ?> </p>
                                                    </div>
                                                </div>                                                

                                                <?php foreach ($subDivisions as $subdiv) { ?>                                                
                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ($subdiv['name']) ?></label> 
                                                        <div class="col-sm-6">                                                    
                                                            <p><?= $subdiv['value'] ?></p>
                                                        </div>
                                                    </div>
                                                <?php } ?> 
                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Application No') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= $student_record->application_no > 0 ? $student_record->application_no : '-' ?> </p>
                                                    </div>
                                                </div> 

                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ($divname) ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"> <?php echo $divval ?> </p>  </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Academic Year') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= AcademicYearMaster::findFirstById($academicYrId)->academic_year_name; ?> </p>
                                                    </div>
                                                </div> 

                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Roll No') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= $studentacd->rollno ? $studentacd->rollno : '-' ?> </p>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Date of Admission') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= date('d-m-Y', $student_record->Date_of_Joining) ?> </p>
                                                    </div>
                                                </div>



                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Admission No') ?></label>
                                                    <div class="col-sm-6"><p class="form-control-static"><?= $student_record->Admission_no ?> </p>
                                                    </div>
                                                </div>

                                                <?php if (in_array('transport', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Transport Facility granted') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->transport == 2 ? 'Yes' : 'No' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="well">

                                    <div class="row">
                                        <h4><div class="col-md-12">
                                                <span class="mini-stat-icon-profile pink">
                                                    <i class="fa fa-bullseye"></i>
                                                </span>
                                                <label class="control-label" style="margin-top:10px;">Previous History</label>
                                            </div> </h4> <br><br>
                                        <div class="col-md-12"> 
                                            <div class="col-md-12">   

                                                <?php if (in_array('previous_school_name', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('School Name') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->previous_school_name ? $stuGen->previous_school_name : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('attended_from', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Attended from') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->attended_from ? date('d-m-Y', $stuGen->attended_from) : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('previous_school_state', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('State') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->previous_school_state ? $stuGen->previous_school_state : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('attended_to', $fieldArr)): ?>                                                
                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Attended till') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->attended_to ? date('d-m-Y', $stuGen->attended_to) : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('previous_school_country', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Country') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?php
                                                                $country = $stuGen->previous_school_country ? CountryMaster::findFirstByCountryCode($stuGen->previous_school_country) : '-';
                                                                ?><?= $country->country_name ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>





                                                <?php if (in_array('achievements', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Achievements') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->achievements ? $stuGen->achievements : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('comments', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Comments') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->comments ? $stuGen->comments : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('other_details', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Other details') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->other_details ? $stuGen->other_details : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="well">                                    
                                    <div class="row">
                                        <h4><div class="col-md-12">
                                                <span class="mini-stat-icon-profile tar">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <label class="control-label" style="margin-top:10px;">Personal Details </label>
                                            </div> </h4> <br><br>
                                        <div class="col-md-12"> 
                                            <div class="col-md-12">    

                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Gender') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= $student_record->Gender == 1 ? 'Female' : 'Male' ?> </p> 
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Address Line1') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= $student_record->Address1 ? $student_record->Address1 : '-' ?> </p>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Date of birth') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= $student_record->Date_of_Birth ? date('d-m-Y', $student_record->Date_of_Birth) : '-' ?> </p> 
                                                    </div>
                                                </div>



                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Address Line2') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= $student_record->Address2 ? $student_record->Address2 : '-' ?> </p>
                                                    </div>
                                                </div>

                                                <?php if (in_array('place_of_birth', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Place of Birth') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->place_of_birth ? $stuGen->place_of_birth : '-' ?> </p> 
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('State') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= $student_record->State ? $student_record->State : "-" ?> </p>
                                                    </div>
                                                </div>

                                                <?php if (in_array('nationality', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Nationality') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?php
                                                                $country = $stuGen->previous_school_country ? CountryMaster::findFirstByCountryCode($stuGen->previous_school_country) : '-';
                                                                ?><?= $country->country_name ?> </p>

        <!--<p class="form-control-static"><?= $stuGen->nationality ? $stuGen->nationality : '-' ?> </p>--> 
                                                        </div>
                                                    </div>
                                                <?php endif; ?>


                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Country') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static">
                                                            <?php
                                                            $country = $student_record->Country ? CountryMaster::findFirstByCountryCode($student_record->Country) : '-';
                                                            ?><?= $country->country_name ?> </p>
                                                    </div>
                                                </div>



                                                <?php if (in_array('religion', $fieldArr)): ?>                                                
                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Religion') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->religion ? $stuGen->religion : '-' ?> </p>                                                        
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Pin code') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= $student_record->Pin ? $student_record->Pin : '-' ?> </p>
                                                    </div>
                                                </div>



                                                <?php if (in_array('caste_category', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Caste Category') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->caste_category ? $stuGen->caste_category : '-' ?> </p> 
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('caste', $fieldArr)): ?>                                                
                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Caste') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->caste ? $stuGen->caste : '-' ?> </p> 
                                                        </div>
                                                    </div>
                                                <?php endif; ?>




                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Phone Number') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= $student_record->Phone ? $student_record->Phone : '-' ?> </p>
                                                    </div>
                                                </div>

                                                <?php if (in_array('first_language', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('First Language') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->first_language ? $stuGen->first_language : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>







                                                <div class="col-md-6">
                                                    <label for=""  class="col-sm-6 control-label pull-left"><?= ('Email ID') ?></label>
                                                    <div class="col-sm-6">
                                                        <p class="form-control-static"><?= $student_record->Email ? $student_record->Email : '-' ?> </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="well">

                                    <div class="row">
                                        <h4><div class="col-md-12">
                                                <span class="mini-stat-icon-profile orange-theme">
                                                    <i class="fa fa-group"></i>
                                                </span>
                                                <label class="control-label" style="margin-top:10px;">Family Details </label>
                                            </div> </h4> <br><br>
                                        <div class="col-md-12">
                                            <div class="col-md-12">                                               
                                                <?php if (in_array('family_photo', $fieldArr)): ?>

                                                    <!--                                                <div class="col-md-3 profile-information">
                                                                                                        <div class="profile-pic text-center">
                                                                                                            <img style=" width: 100px; height: 100px; "
                                                                                                                 src="<?= $stuGen->family_photo ? $this->url->get(FILES_URI . $stuGen->family_photo) : $this->url->get('images/user.jpg') ?> " alt="">
                                                                                                        </div>
                                                                                                    </div> -->
                                                <?php endif; ?>
                                                <?php if (in_array('father_name', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Father Name') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->father_name ? $stuGen->father_name : '-' ?> </p>
                                                        </div>
                                                    </div> 
                                                <?php endif; ?>


                                                <?php if (in_array('other_guardian_name', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Guardian Name') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->other_guardian_name ? $stuGen->other_guardian_name : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>


                                                <?php if (in_array('f_occupation', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Father Occupation') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->f_occupation ? $stuGen->f_occupation : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('g_occupation', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Guardian Occupation') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->g_occupation ? $stuGen->g_occupation : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>


                                                <?php if (in_array('f_designation', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Father Designation') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->f_designation ? $stuGen->f_designation : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>



                                                <?php if (in_array('g_designation', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Guardian Designation') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->g_designation ? $stuGen->g_designation : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                    <?php
                                                endif;
                                                ?>

                                                <?php if (in_array('f_phone_no', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Father Phone No') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->f_phone_no ? $stuGen->f_phone_no : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>



                                                <?php if (in_array('g_phone', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Guardian Phone No') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->g_phone ? $stuGen->g_phone : "-" ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('f_phone_no_status', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Contact Priority') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= ($stuGen->f_phone_no_status == 1) ? 'Primary' : 'Secondary' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>


                                                <?php if (in_array('g_phone_no_status', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Contact Priority') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= ($stuGen->g_phone_no_status == 1) ? 'Primary' : 'Secondary' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                                <?php if (in_array('mother_name', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Mother Name') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->mother_name ? $stuGen->mother_name : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                                <?php if (in_array('sibling', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Siblings in this school') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->sibling ? $stuGen->sibling : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('m_occupation', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Mother Occupation') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->m_occupation ? $stuGen->m_occupation : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>


                                                <?php if (in_array('person_school_fee', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Person/company paying fee') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->person_school_fee ? $stuGen->person_school_fee : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>



                                                <?php if (in_array('m_designation', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Mother Designation') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->m_designation ? $stuGen->m_designation : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>


                                                <?php if (in_array('circumtances', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Family Circumstances') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->circumtances ? $stuGen->circumtances : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>


                                                <?php if (in_array('m_phone_no', $fieldArr)): ?>

                                                    <div class="col-md-12">
                                                        <label for=""  class="col-sm-3 control-label pull-left"><?= ('Mother Phone No') ?></label>
                                                        <div class="col-sm-3">
                                                            <p class="form-control-static"><?= $stuGen->m_phone_no ? $stuGen->m_phone_no : "-" ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>



                                                <?php if (in_array('m_phone_no_status', $fieldArr)): ?>

                                                    <div class="col-md-12">
                                                        <label for=""  class="col-sm-3 control-label pull-left"><?= ('Contact Priority') ?></label>
                                                        <div class="col-sm-3">
                                                            <p class="form-control-static"><?= ($stuGen->m_phone_no_status == 1) ? 'Primary' : 'Secondary' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>





                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="well">                                    
                                    <div class="row">
                                        <h4><div class="col-md-12">
                                                <span class="mini-stat-icon-profile orange">
                                                    <i class="fa fa-medkit"></i>
                                                </span>
                                                <label class="control-label" style="margin-top:10px;">Medical Details </label>
                                            </div> </h4> <br><br>
                                        <div class="col-md-12">  
                                            <div class="col-md-12">    


                                                <?php if (in_array('blood_group', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Blood Group') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->blood_group ? $stuGen->blood_group : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('chronic', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Chronic illness if any') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->chronic ? $stuGen->chronic : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('height', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Height') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->height ? $stuGen->height : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('allergic', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Allergic to any drug?') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->allergic ? $stuGen->allergic : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('weight', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label pull-left"><?= ('Weight') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->weight ? $stuGen->weight : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if (in_array('family_doctor', $fieldArr)): ?>

                                                    <div class="col-md-6">
                                                        <label for=""  class="col-sm-6 control-label"><?= ('Family doctor details ') ?></label>
                                                        <div class="col-sm-6">
                                                            <p class="form-control-static"><?= $stuGen->family_doctor ? $stuGen->family_doctor : '-' ?> </p>
                                                        </div>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="contacts" class="tab-pane ">

                        <div class="col-md-12">
                            <div class="center scaffold">
                                <?php echo Phalcon\Tag::imageInput(array("src" => $this->url->get('images/coming-soon.png'))); ?>

                            </div>
                        </div>

                    </div>
                
                </div>
            </div>
        </section>

        <section class="panel" id="other_section">

            <div class="panel-body">
                <div class="tab-content tasi-tab">

                    <div id="attendance" class="tab-pane ">
                        <!--                        <div id="attendanceChart"> </div><br>                                              -->
                        <div class="calendarAtt" style=" min-height: 500px; "> 
                            <div class="col-md-12">

                                <div class="event-calendar clearfix">
                                    <div class="col-lg-8 calendar-block">
                                        <div class="clndr-controls">
                                            <div class="clndr-control-button"  data-calendar-nav="prev">
                                                <span class="clndr-previous-button">
                                                    <i class="fa fa-chevron-left"></i>
                                                </span>
                                            </div>
                                            <div class="monthname"></div>
                                            <div class="clndr-control-button leftalign"  data-calendar-nav="next"> 
                                                <span class="clndr-next-button">
                                                    <i class="fa fa-chevron-right"></i></span>
                                            </div>
                                        </div>
                                        <div id="calendar"></div>
                                    </div>
                                    <div class="col-lg-4 event-list-block">
                                        <div class="cal-day">
                                            <span>Today</span>
                                            <?= date('l') ?>
                                            <br><br>
                                            <span>Holidays for <?= date('F, Y') ?></span>
                                        </div>

                                        <ul class="event-list">
                                            <?php
                                            $holidays_month = array();
                                            $today = strtotime(date('d-m-Y'));
                                            // $holidays_month[] = date("m-Y", strtotime(date('d-m-Y') . " -1 month"));
                                            //$holidays_month[] = date("m-Y", strtotime(date('d-m-Y') . " +1 month"));
                                            $holidays_month[] = date("m-Y", $today);

                                            foreach ($attendanceHolidays as $holiday) {

                                                $todayList = $holiday->date;
//                                            if(($today==$todayList)):
                                                if (in_array(date('m-Y', $todayList), $holidays_month)):
                                                    ?>   

                                                    <li><?= date('d F, Y', $todayList) ?>
                                                        <a href="#" class="event-close">
                                                            <i class="fa fa-close"></i></a>
                                                    </li>


                                                    <?php
                                                endif;
                                            }
                                            ?>

                                        </ul>



                <!--<input type="text" class="form-control evnt-input" placeholder="NOTES">-->
                                    </div>
                                </div>
                                <div class="legend_title">
                                    <span>Legend</span>
                                </div>                        
                                <ul class="bar-legend">
                                    <?php foreach ($student_att_legend as $attVal) { ?>
                                        <li class="col-md-25"><span class="bar-legend-pointer"
                                                                    style=" background-color: <?= $attVal->color ?>"></span><?= $attVal->attendancename ?></li>                                    
                                        <?php } ?>
                                </ul>

                            </div>                        
                        </div>
                        <br> <br> <br> 

                        <div id="attendanceTable"> </div>
                    </div>
                    <div id="mainexam" class="tab-pane ">
                        <div id="mainexamChart" class="col-md-12"> </div><br> 
                        <div class="tabs tabs-style-linebox col-md-12">
                            <nav>
                                <ul>
                                    <li  class="tab-current"><a href="#examwise" class=""><span id="loadexamwise"> Examwise Statistics</span></a></li>
                                    <li><a href="#examwise" class=""><span id="loadsubjectwise">Subjectwise Statistics</span></a></li>
                                </ul>
                            </nav>
                            <div class="content-wrap" student_id = "<?= $student_id ?>" divValId = "<?= $divValId ?>"
                                 subDivValId = "<?= $student_record->Subdivision ?>" academicYrId = "<?= $academicYrId ?>">
                                <section id="examwise" class="content-current">
                                    <div class="col-md-12" id="examwiseChart"></div>
                                </section>
                                <section id="subjwise">  
                                    <div class="col-md-12" id="subjwiseChart"></div>                            
                                </section>

                            </div><!-- /content -->
                        </div>
                        <!--<div id="mainexamTable"> </div>-->
                    </div>

                    <div id="classtest" class="tab-pane ">

                        <div id="classtestChart" class="col-md-12"> </div>
                        <div class="tabs tabs-style-linebox col-md-12"  id="clasTstLink">
                            <nav>
                                <ul>
                                    <li  class="tab-current"><a href="#clssubjwise" class=""><span> Subjectwise Statistics</span></a></li>
                                </ul>
                            </nav>
                            <div class="content-wrap" student_id = "<?= $student_id ?>" divValId = "<?= $divValId ?>"
                                 subDivValId = "<?= $student_record->Subdivision ?>" academicYrId = "<?= $academicYrId ?>">
                                <section id="clssubjwise">  
                                    <div class="col-md-12" id="clssubjwiseChart"></div>                              
                                </section>

                            </div><!-- /content -->
                        </div>                                            
                        <!--<div id="classtestTable"> </div>-->

                    </div>

                    <div id="rating" class="tab-pane ">
                        <div class="tabs tabs-style-linebox">
                            <nav>
                                <ul>
                                    <li  class="tab-current"><a href="#subwiseRating" class=""><span> Subject Rating</span></a></li>
                                    <li><a href="#maincatwiseRating" class=""><span> Class Rating</span></a></li>
                                </ul>
                            </nav>
                            <div class="content-wrap" id="ratingParentTable"
                                 student_id = "<?= $student_id ?>" divValId = "<?= $divValId ?>"
                                 subDivValId = "<?= $student_record->Subdivision ?>" academicYrId = "<?= $academicYrId ?>">
                                <section id="subjRating">  
                                    <div id="ratingTable"> </div><br>                          
                                </section>
                                <section id="classRating">  
                                    <div id="classRatTbl" > </div>                           
                                </section>


                            </div> 
                        </div>    <br>   
                    </div>

                    <div id="videos" class="tab-pane ">
                        <div class="tabs tabs-style-linebox">
                            <?php if (count($subjects) > 0) { ?>
                                <nav>
                                    <ul>
                                        <?php
                                        $i = 0;
                                        foreach ($subjects as $key => $subject) {
                                            ?>
                                            <li  class="<?= $i++ == 0 ? 'tab-current' : '' ?>">
                                                <a href="#subj_<?= $subject ?>"  
                                                   onclick ="videoSettings.loadSubjectSharedVideos(<?= $key ?>);"   class=""><span>  
                                                        <?= $subject; ?></span></a></li>
                                        <?php } ?>
                                    </ul>
                                </nav>  
                            <?php } ?>
                            <div class="content-wrap" id="videoParentTable" >  
                                <?php
                                $i = 0;
                                foreach ($subjects as $key => $subject) {
                                    ?>                                
                                    <section id="subj_<?= $subject ?>">  
                                        <div id="subjTable_<?= $key ?>"> </div><br>                          
                                    </section>
                                <?php } ?>


                            </div> 
                        </div>
                    </div>
                    
                    <div id="assignment_tabpane" class="tab-pane">  
                        <div id="assignment_content" class="hide">
                            <div class="col-md-12">
                                <div class="timeline-messages">
                                    <h3>Assignment</h3>
                                    <!-- Comment -->
                                    <?php if (count($assignments) > 0) { 
                                    if (($assignments)) {
                                        foreach ($assignments as $assignment) {

                                            $i = 0;
                                            $bgclass = array('bg-red', 'bg-purple', 'bg-green', 'bg-yellow');
                                            ?>
                                            <div class="msg-time-chat">
                                                <div class="message-body msg-in">
                                                    <span class="arrow"></span>
                                                    <div class="text">
                                                        <div class="first">
                                                            <?php
                                                            echo trim(date('d F Y', ($assignment->submission_date)));
                                                            ?>
                                                        </div>
                                                        <div class="second bg-terques ">
                                                            <?= $subjects[$assignment->subject_master_id]; ?>
                                                        </div>
                                                        <div class="third <?= $bgclass[$i++] ?> ">
                                                            <?= $assignment->topic ?>
                                                        </div>
                                                        <?php
                                                        $assignment_upload = StudentAssignments::findfirst('student_id = ' . $student_id . ' and assignment_id = ' . $assignment->id);
                                                        if (($assignment->is_upload == 1) && !$assignment_upload) {
                                                            $fileExisitsCls = 'fileupload-new';
                                                            ?>
                                                            <div class="third bg-yellow " onclick="dashboardSettings.assignmentPopup(<?= $assignment->id ?>)">
                                                                Upload File here
                                                            </div>  
                                                        <?php
                                                        } else if (($assignment->is_upload == 1) && $assignment_upload) {
                                                            $fileExisitsCls = 'fileupload-exists';
                                                            ?>
                                                            <div class="third bg-green">
                                                                Upload Completed
                                                            </div>  <?php } ?>

                                                        <div class="form-group" style="float:left"  >
                                                            <div class="controls col-md-12">
                                                                <div class="fileupload <?= $fileExisitsCls ?> " data-provides="fileupload" >
                                                                    <span class="btn btn-white btn-file">
                                                                        <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select file</span>
                                                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                                        <input type="file" class="default" id="assign_<?= $assignment->id ?>" onchange="dashboardSettings.storeAssignment(<?= $assignment->id ?>)" />
                                                                    </span>
                                                                    <span class="fileupload-preview" style="margin-left:5px;"><?= $assignment_upload->upload_file_name ? $assignment_upload->upload_file_name : '' ?></span>
                                                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                         
                                            <?php
                                        }
                                    }
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </section>

        
    </div>
</div>
<script type="text/javascript">

    $(function() {
        calendarSettings.options.holidays = <?= $stuattendanceEveJson ?>;
        calendarSettings.options.events_source = '<?php
        echo $this->url->get('student-dashboard/getStudentAttendanceForMonth', array('student_id' => $student_record->id,
            'divValId' => $student_record->Division_Class,
            'subDivValId' => $student_record->Subdivision,
            'academicYrId' => $cacdyr->id))
        ?>',
//        console.log(calendarSettings.options)
//        calendarSettings.options.holidays = {
//			// January 1
//                '14-01':  "Pongal Day",
//                '15-01':  "Pongal Day",
//                '16-01':  "Kanum Pongal Day",
//                '25-12-2014':  "Chritmas Day",
//        }
//        

                calendarSettings.calendar = $('#calendar').calendar(calendarSettings.options);
        $('.event').each(function() {
            $this = $(this);
            var myStringArray = this.className.split(' ');
            for (var i = 0; i < myStringArray.length; i++) {
                if (myStringArray[i].indexOf("event-custom") != -1) {
                    var color = myStringArray[i].replace("event-custom-", "");
//                    console.log($this.attr('data-original-title'))
                    $this.css('background-color', '#' + color)
                }

            }
        });
    });
</script>