<?php $this->flashSession->output() ?><?php 
//$msg = $this->flashSession->getMessages();
//
//print_r($this->session);
//print_r($msg);
//if($msg){
//if (count($msg['error'])>0) {
//
//    echo '<div class="alert alert-error">';
//    foreach ($msg['error'] as $msgs) {
//        echo $msgs . '<br>';
//    }
//    echo '</div>';
//} else if (count($msg['success'])>0) {
//    echo '<div class="alert alert-success">';
//    foreach ($msg['success'] as $msgs) {
//        echo $msgs . '<br>';
//        echo '</div>';
//    }
//}
//}
?>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
<?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'studentDetailsForm','method'=>'post', 'enctype' => 'multipart/form-data')); ?>

        <section class="panel" id=''>
            <header class="panel-heading">
                Student Admission Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Academic Year:</label>
                            <div class="col-sm-6">
                            <?= $form->render("academicYrId",array('value'=>isset($application->academic_year_id)?$application->academic_year_id:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Application No:</label>
                            <div class="col-sm-6">
                            <?= $form->render("application_no",array('value'=>isset($application->application_no)?$application->application_no:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Admission No:</label>
                            <div class="col-sm-6">
                            <?= $form->render("admission_no",array('value'=>isset($student->Admission_no)?$student->Admission_no:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Class/Division:</label>
                            <div class="col-sm-6">
                            <?= $form->render("divVal",array('value'=>isset($application->Division_Class)?$application->Division_Class:'')) ?>
                            </div>
                        </div>
                        <div id="secDet">
                            <div class="form-group">
                                <?php
                                $cacdyr = AcademicYearMaster::findFirstByStatus('c');
                                $div = DivisionMaster::findFirst('divType = "student" and academicYrID=' . $cacdyr->id);
                                $subdivs = SubDivisionMaster::find('divID =' . $div->id);
                                foreach ($subdivs as $subdiv) :
                                    ?>
                                    <label for=""  class="col-sm-3 control-label">Select <?= $subdiv->subdivname; ?>: </label>
                                    <div class="col-sm-6">
                                        <?php
                                        $subdivVal = SubDivisionValues::find('divValID =' . isset($application->Division_Class) ? $application->Division_Class : '' . ' and subDivID=' . $subdiv->id);
                                        echo \Phalcon\Tag::select(
                                                array(
                                                    "subDivVal",
                                                    $subdivVal,
                                                    "using" => array("id", "name"),
                                                    'useEmpty' => false,
                                                    'emptyText' => 'Select',
                                                    'emptyValue' => '0',
                                                    'class' => 'form-control',
                                                    'readonly'=>'',
                                                    'value' => isset($application->Subdivision_section) ? $application->Subdivision_section : ''
                                                )
                                        );
                                        ?>
                                    </div>
<?php endforeach; ?>



                            </div>

                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Date of Admission:</label>
                            <div class="col-sm-6">
                            <?= $form->render("doj",array('value'=>isset($application->Date_of_Joining)?date('Y-m-d',$application->Date_of_Joining):'')) ?>
                            </div>
                        </div>
                        <?php 
        $hideOrShowFields = StudentProfileSettings::find("parent_id = '1' and hide_or_show=1");
        foreach ($hideOrShowFields as $field) {  
            ?>
            <div class="form-group">
                            <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                            <div class="col-sm-6">
                            <?= $form->render($field->form_name) ?>
                            </div>
                        </div>
      <?php  }
        ?>
                        
<!--                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Transport Facility granted:</label>
                            <div class="col-sm-6">
                            <?= $form->render("transport",array('value'=>isset($additionalDetails->transport)?$additionalDetails->transport:'')) ?>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </section>
        
         <section class="panel" id=''>
            <header class="panel-heading">
               Student Personal Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Student Name:</label>
                            <div class="col-sm-6">
                            <?= $form->render("studentName",array('value'=>isset($application->Student_Name)?$application->Student_Name:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Date of birth:</label>
                            <div class="col-sm-6">
                            <?= $form->render("dob",array('value'=>isset($application->Date_of_Birth)?date('Y-m-d',$application->Date_of_Birth):'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Place of Birth:</label>
                            <div class="col-sm-6">
                            <?= $form->render("pob",array('value'=>isset($additionalDetails->place_of_birth)?$additionalDetails->place_of_birth:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Gender:</label>
                            <div class="col-sm-6">
                            <?= $form->render("gender",array('value'=>isset($application->Gender)?$application->Gender:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Nationality:</label>
                            <div class="col-sm-6">
                            <?= $form->render("nationality",array('value'=>isset($additionalDetails->nationality)?$additionalDetails->nationality:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Religion:</label>
                            <div class="col-sm-6">
                            <?= $form->render("religion",array('value'=>isset($additionalDetails->religion)?$additionalDetails->religion:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Caste Category:</label>
                            <div class="col-sm-6">
                            <?= $form->render("caste_cat",array('value'=>isset($additionalDetails->caste_category)?$additionalDetails->caste_category:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Caste:</label>
                            <div class="col-sm-6">
                            <?= $form->render("caste",array('value'=>isset($additionalDetails->caste)?$additionalDetails->caste:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">First Language:</label>
                            <div class="col-sm-6">
                            <?= $form->render("language",array('value'=>isset($additionalDetails->first_language)?$additionalDetails->first_language:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Address Line1:</label>
                            <div class="col-sm-6">
                            <?= $form->render("address1",array('value'=>isset($application->Address1)?$application->Address1:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Address Line2:</label>
                            <div class="col-sm-6">
                            <?= $form->render("address2",array('value'=>isset($application->Address2)?$application->Address2:'')) ?>
                            </div>
                        </div><div class="form-group">
                                <label for=""  class="col-sm-3 control-label">State:</label>
                                <div class="col-sm-6">
                                  <?= $form->render("state",array('value'=>isset($application->State)?$application->State:'')) ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Country:</label>
                                <div class="col-sm-6">
                                  <?= $form->render("country",array('value'=>isset($application->Country)?$application->Country:'')) ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label">Pin code:</label>
                                <div class="col-sm-6">
                                  <?= $form->render("pin",array('value'=>isset($application->Pin)?$application->Pin:'')) ?>
                                </div>
                            </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Phone Number:</label>
                            <div class="col-sm-6">
                            <?= $form->render("phone",array('value'=>isset($application->Phone)?$application->Phone:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Email ID:</label>
                            <div class="col-sm-6">
                            <?= $form->render("email",array('value'=>isset($application->Email)?$application->Email:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Photo:</label>
                            <div class="col-sm-6">  
                            <?= $form->render("photo",array( 'value'=>isset($additionalDetails->photo)?$additionalDetails->photo:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Family Photo:</label>
                            <div class="col-sm-6">
                            <?= $form->render("family_photo",array('value'=>isset($additionalDetails->family_photo)?$additionalDetails->family_photo:'')) ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="panel" id=''>
            <header class="panel-heading">
               Parent Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Father Name:</label>
                            <div class="col-sm-6">
                            <?= $form->render("fname",array('value'=>isset($additionalDetails->father_name)?$additionalDetails->father_name:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Father Occupation:</label>
                            <div class="col-sm-6">
                            <?= $form->render("foccup",array('value'=>isset($additionalDetails->f_occupation)?$additionalDetails->f_occupation:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Father Designation:</label>
                            <div class="col-sm-6">
                            <?= $form->render("fdesign",array('value'=>isset($additionalDetails->f_designation)?$additionalDetails->f_designation:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Father Phone No:</label>
                            <div class="col-sm-6">
                            <?= $form->render("fphone",array('value'=>isset($additionalDetails->f_phone_no)?$additionalDetails->f_phone_no:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">priority:</label>
                            <div class="col-sm-6">
                            <?= $form->render("fcontact",array('value'=>isset($additionalDetails->f_phone_no_status)?$additionalDetails->f_phone_no_status:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Mother Name:</label>
                            <div class="col-sm-6">
                            <?= $form->render("mname",array('value'=>isset($additionalDetails->mother_name)?$additionalDetails->mother_name:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Mother Occupation:</label>
                            <div class="col-sm-6">
                            <?= $form->render("moccup",array('value'=>isset($additionalDetails->m_occupation)?$additionalDetails->m_occupation:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Mother Designation:</label>
                            <div class="col-sm-6">
                            <?= $form->render("mdesign",array('value'=>isset($additionalDetails->m_designation)?$additionalDetails->m_designation:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Mother Phone No:</label>
                            <div class="col-sm-6">
                            <?= $form->render("mphone",array('value'=>isset($additionalDetails->m_phone_no)?$additionalDetails->m_phone_no:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">priority:</label>
                            <div class="col-sm-6">
                            <?= $form->render("mcontact",array('value'=>isset($additionalDetails->m_phone_no_status)?$additionalDetails->m_phone_no_status:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Guardian Name:</label>
                            <div class="col-sm-6">
                            <?= $form->render("gname",array('value'=>isset($additionalDetails->other_guardian_name)?$additionalDetails->other_guardian_name:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Guardian Occupation:</label>
                            <div class="col-sm-6">
                            <?= $form->render("goccup",array('value'=>isset($additionalDetails->g_occupation)?$additionalDetails->g_occupation:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Guardian Designation:</label>
                            <div class="col-sm-6">
                            <?= $form->render("gdesign",array('value'=>isset($additionalDetails->g_designation)?$additionalDetails->g_designation:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Guardian Phone No:</label>
                            <div class="col-sm-6">
                            <?= $form->render("gphone",array('value'=>isset($additionalDetails->g_phone)?$additionalDetails->g_phone:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">priority:</label>
                            <div class="col-sm-6">
                            <?= $form->render("gcontact",array('value'=>isset($additionalDetails->g_phone_no_status)?$additionalDetails->g_phone_no_status:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Name of the person/company paying school fee:</label>
                            <div class="col-sm-6">
                            <?= $form->render("feepayee",array('value'=>isset($additionalDetails->person_school_fee)?$additionalDetails->person_school_fee:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Are there any family circumstances which you feel we should be aware of ?:</label>
                            <div class="col-sm-6">
                            <?= $form->render("famcir",array('value'=>isset($additionalDetails->circumtances)?$additionalDetails->circumtances:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Do you have any other sibling in the same school ?:</label>
                            <div class="col-sm-6">
                            <?= $form->render("siblings",array('value'=>isset($additionalDetails->sibling)?$additionalDetails->sibling:'')) ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="panel" id=''>
            <header class="panel-heading">
                Student Medical Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Blood Group:</label>
                            <div class="col-sm-6">
                            <?= $form->render("blood_grp",array('value'=>isset($additionalDetails->blood_group)?$additionalDetails->blood_group:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Height:</label>
                            <div class="col-sm-6">
                            <?= $form->render("height",array('value'=>isset($additionalDetails->height)?$additionalDetails->height:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Weight:</label>
                            <div class="col-sm-6">
                            <?= $form->render("weight",array('value'=>isset($additionalDetails->weight)?$additionalDetails->weight:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Allergic to any drug?:</label>
                            <div class="col-sm-6">
                            <?= $form->render("drugallergic",array('value'=>isset($additionalDetails->allergic)?$additionalDetails->allergic:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Chronic illness if any:</label>
                            <div class="col-sm-6">
                            <?= $form->render("chronicill",array('value'=>isset($additionalDetails->chronic)?$additionalDetails->chronic:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Family doctor details :</label>
                            <div class="col-sm-6">
                            <?= $form->render("docDet",array('value'=>isset($additionalDetails->family_doctor)?$additionalDetails->family_doctor:'')) ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="panel" id=''>
            <header class="panel-heading">
               Student Previous School Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">School Name:</label>
                            <div class="col-sm-6">
                            <?= $form->render("prevSchoolName",array('value'=>isset($additionalDetails->previous_school_name)?$additionalDetails->previous_school_name:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">State:</label>
                            <div class="col-sm-6">
                            <?= $form->render("prevState",array('value'=>isset($additionalDetails->previous_school_state)?$additionalDetails->previous_school_state:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Country:</label>
                            <div class="col-sm-6">
                            <?= $form->render("pprevcountry",array('value'=>isset($additionalDetails->previous_school_country)?$additionalDetails->previous_school_country:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Attended from:</label>
                            <div class="col-sm-6">
                            <?= $form->render("attfrom",array('value'=>isset($additionalDetails->attended_from)?date('Y-m-d',$additionalDetails->attended_from):'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Attended till:</label>
                            <div class="col-sm-6">
                            <?= $form->render("attto",array('value'=>isset($additionalDetails->attended_to)?date('Y-m-d',$additionalDetails->attended_to):'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Achievements:</label>
                            <div class="col-sm-6">
                            <?= $form->render("achievements",array('value'=>isset($additionalDetails->achievements)?$additionalDetails->achievements:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Comments:</label>
                            <div class="col-sm-6">
                            <?= $form->render("comments",array('value'=>isset($additionalDetails->comments)?$additionalDetails->comments:'')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Other details:</label>
                            <div class="col-sm-6">
                            <?= $form->render("odet",array('value'=>isset($additionalDetails->other_details)?$additionalDetails->other_details:'')) ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="form-group">
            <div class="col-md-9">  
                <button class="btn btn-success pull-right" type="submit"
                        onclick=""  
                        id="stu_save"> Save</button>
            </div>
        </div>
        </form>
    </div>
</div>