<?php $this->flashSession->output() ?><?php
//$msg = $this->flashSession->getMessages();
//
//print_r($this->session);
//print_r($msg);
//if($msg){
//if (count($msg['error'])>0) {
//
//    echo '<div class="alert alert-error">';
//    foreach ($msg['error'] as $msgs) {
//        echo $msgs . '<br>';
//    }
//    echo '</div>';
//} else if (count($msg['success'])>0) {
//    echo '<div class="alert alert-success">';
//    foreach ($msg['success'] as $msgs) {
//        echo $msgs . '<br>';
//        echo '</div>';
//    }
//}
//}
?>
<script>

    $(document).ready(function (e) {
        
        
        $('.frm_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            endDate: '+0d'
            
        });
        
        $('#dob').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            endDate: '+0d'
            
        });
        

        $('.to_date').datetimepicker({
            format: 'dd-mm-yyyy',
            language: 'en',
            
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            endDate: '+0d'

        });
        
        
        $("#studentDetailsForm").on('submit', (function (e) {

            var applnData = {};
               $("#studentDetailsForm").find('input,select,textarea').each(function () {
                applnData[$(this).attr('name')] = $.trim($(this).val());

               });

            
            console.log(applnData);
         
                e.preventDefault();

                $.ajax({
                    url: "keyInStudentData", // Url to which the request is send
                    type: "POST", // Type of request to be send, called as method
                    data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false, // The content type used when sending data to the server.
                    cache: false, // To unable request pages to be cached
                    processData: false,
                    dataType: "JSON", // To send DOMDocument or non processed data file it is set to false
                    success: function (data)   // A function to be called if request succeeds
                    {
                        // alert(data['message']);
                        /* $('.msgBox-title').html('Message');
                         $('.msgBox-body').html(data['message']);
                         $('#messageBoxModal').modal('show');*/
                        if (data['type'] == 'error')
                        {
                            $('.msgBox-title').html('Message');
                         $('.msgBox-body').html(data['message']);
                         $('#messageBoxModal').modal('show');
                         /*swal({title: 'Error', text: data['message'], type: 'error'}, function () {

                            });*/
                        }
                        else if (data['type'] == 'success')
                        {
                            swal({title: 'Message', text: data['message'], type: 'success'}, function () {
                               studentCycleSettings.loadApplications();  //window.location.assign('../application/getAllApplications');
                            });// window.location.assign('../application/studentProfile');
                        }


                    }

                });
            
        }));
    });
</script>
<div class="row">
    <div class="col-sm-12" id='mainDiv'>
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'studentDetailsForm', 'action' => 'javascript:;', 'method' => 'post', 'enctype' => 'multipart/form-data')); ?>

    <section class="panel" id=''>
            <header class="panel-heading">
                Student Admission Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Academic Year:</label>
                            <div class="col-sm-6">
                                <?= $form->render("academicYrId", array('value' => isset($application->academic_year_id) ? $application->academic_year_id : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Application No:</label>
                            <div class="col-sm-6">
                                <?= $form->render("application_no", array('value' => isset($application->application_no) ? $application->application_no : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Admission No:</label>
                            <div class="col-sm-6">
                                <?= $form->render("admission_no", array('value' => isset($student->Admission_no) ? $student->Admission_no : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Class/Division:</label>
                            <div class="col-sm-6">
                                <?= $form->render("divVal", array('value' => isset($application->Division_Class) ? $application->Division_Class : '')) ?>
                            </div>
                        </div>
                        <div id="secDet">
                                <?php
                                $cacdyr = AcademicYearMaster::findFirstByStatus('c');
                                $div = DivisionMaster::findFirst('divType = "student" and academicYrID=' . $cacdyr->id);
                                $subdivs = SubDivisionMaster::find('divID =' . $div->id);
                                $studivValid = isset($application->Division_Class) ? $application->Division_Class : '';
                                foreach ($subdivs as $subdiv) :
                                    ?>
                            <div class="form-group">
                                    <label for=""  class="col-sm-3 control-label">Select <?= $subdiv->subdivname; ?>: </label>
                                    <div class="col-sm-6">
                                        <?php
                                        
                                        
                                        $subdivVal = SubDivisionValues::find('divValID =' 
                                                .  $studivValid
                                                . ' and subDivID=' . $subdiv->id);
                                        echo \Phalcon\Tag::select(
                                                array(
                                                    "subDivVal",
                                                    $subdivVal,
                                                    "using" => array("id", "name"),
                                                    'useEmpty' => false,
                                                    'emptyText' => 'Select',
                                                    'emptyValue' => '0',
                                                    'class' => 'form-control',
                                                    'readonly' => '',
                                                    'value' => isset($application->Subdivision_section) ? $application->Subdivision_section : ''
                                                )
                                        );
                                        ?>
                                    </div>


                            </div>
                                <?php endforeach; ?>


                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Date of Admission:</label>
                            <div class="col-sm-6">
                                <?= $form->render("doj", array('value' => isset($student->Date_of_Joining) ? date('Y-m-d', $student->Date_of_Joining) : '')) ?>
                            </div>
                        </div>
                        <?php
                        $hideOrShowFields = StudentProfileSettings::find("parent_id = '1' and hide_or_show=1");
                        foreach ($hideOrShowFields as $field) {
                            ?>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                <div class="col-sm-6">
                                    <?= $form->render($field->form_name) ?>
                                </div>
                            </div>
                        <?php }
                        ?>

                        
                    </div>
                </div>
            </div>
        </section>

       <section class="panel" id=''>
            <header class="panel-heading">
                Student Personal Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Student Name:</label>
                            <div class="col-sm-6">
                                <?= $form->render("studentName", array('value' => isset($application->Student_Name) ? $application->Student_Name : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Date of birth:</label>
                            <div class="col-sm-6">
                                <?= $form->render("dob", array('value' => isset($application->Date_of_Birth) ? date('Y-m-d', $application->Date_of_Birth) : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Gender:</label>
                            <div class="col-sm-6">
                                <?= $form->render("gender", array('value' => isset($application->Gender) ? $application->Gender : '')) ?>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Address Line1:</label>
                            <div class="col-sm-6">
                                <?= $form->render("address1", array('value' => isset($application->Address1) ? $application->Address1 : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Address Line2:</label>
                            <div class="col-sm-6">
                                <?= $form->render("address2", array('value' => isset($application->Address2) ? $application->Address2 : '')) ?>
                            </div>
                        </div><div class="form-group">
                            <label for=""  class="col-sm-3 control-label">State:</label>
                            <div class="col-sm-6">
                                <?= $form->render("state", array('value' => isset($application->State) ? $application->State : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Country:</label>
                            <div class="col-sm-6">
                                <?= $form->render("country", array('value' => isset($application->Country) ? $application->Country : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Pin code:</label>
                            <div class="col-sm-6">
                                <?= $form->render("pin", array('value' => isset($application->Pin) ? $application->Pin : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Phone Number:</label>
                            <div class="col-sm-6">
                                <?= $form->render("phone", array('value' => isset($application->Phone) ? $application->Phone : '')) ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=""  class="col-sm-3 control-label">Email ID:</label>
                            <div class="col-sm-6">
                                <?= $form->render("email", array('value' => isset($application->Email) ? $application->Email : '')) ?>
                            </div>
                        </div>
                        
                        <?php
                        $hideOrShowFields = StudentProfileSettings::find("parent_id = '2' and hide_or_show=1");
                        foreach ($hideOrShowFields as $field) {
                            ?>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                <div class="col-sm-6">
                                    <?= $form->render($field->form_name) ?>
                                </div>
                            </div>
                        <?php }
                        ?>
                    </div>
                </div>
            </div>
        </section>
     
<?php  $hideOrShowFieldset3 = StudentProfileSettings::findFirstById("3");
if ($hideOrShowFieldset3->hide_or_show!=0) { ?>
        <section class="panel" id=''>
            <header class="panel-heading">
                Parent Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        
                        <?php
                        $hideOrShowFields = StudentProfileSettings::find("parent_id = '3' and hide_or_show=1");
                        foreach ($hideOrShowFields as $field) {
                            ?>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                <div class="col-sm-6">
                                    <?= $form->render($field->form_name) ?>
                                </div>
                            </div>
                        <?php }
                        ?>
                    </div>
                </div>
            </div>
        </section>
<?php }
?>
<?php  $hideOrShowFieldset4 = StudentProfileSettings::findFirstById("4");
if ($hideOrShowFieldset4->hide_or_show!=0) { ?>
      <section class="panel" id=''>
            <header class="panel-heading">
                Student Medical Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                       
                        <?php
                        $hideOrShowFields = StudentProfileSettings::find("parent_id = '4' and hide_or_show=1");
                        foreach ($hideOrShowFields as $field) {
                            ?>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                <div class="col-sm-6">
                                    <?= $form->render($field->form_name) ?>
                                </div>
                            </div>
                        <?php }
                        ?>
                    </div>
                </div>
            </div>
        </section>
<?php }
?>
    
<?php  $hideOrShowFieldset5 = StudentProfileSettings::findFirstById("5");
if ($hideOrShowFieldset5->hide_or_show!=0) { ?>
          <section class="panel" id=''>
            <header class="panel-heading">
                Student Previous School Details
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        
                        <?php
                        $hideOrShowFields = StudentProfileSettings::find("parent_id = '5' and hide_or_show=1");
                        foreach ($hideOrShowFields as $field) {
                            ?>
                            <div class="form-group">
                                <label for=""  class="col-sm-3 control-label"><?= $field->field_name ?>:</label>
                                <div class="col-sm-6">
                                    <?= $form->render($field->form_name) ?>
                                </div>
                            </div>
                        <?php } 
                        ?>
                    </div>
                </div>
            </div>
        </section>
<?php }
?>
      

  
        <div class="form-group">
            <div class="col-md-9">  
                <button class="btn btn-success pull-right" type="submit"
                        onclick=""  
                        id="stu_save"> Save</button>
            </div>
        </div>
        </form>
    </div>
</div>