 
<section class="panel">
    <header class="panel-heading">
        Homework
    </header>
    <div class="panel-body">
        <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => '')); ?>  

        <div class="form-group">
            <label for="fromDate" class="col-md-2 control-label"> Dead Line:</label>
            <div class="col-md-4">  
                <input type="text" id="assignmentdate" name="assignmentdate" class="form-control frm_date" value="<?= $assignmentdate ?>" readonly="" />
            </div>
        </div>
        
        <div class="form-group" >
            <label for="fromDate" class="col-md-2 control-label"> Subjects:</label>
            <div class="col-md-4">  


                <?php
                if ($subjects != '') {
                    echo \Phalcon\Tag::select(
                            array(
                                'assignment_subject',
                                $subjects,
                                "using" => array("id", "name"),
                                'useEmpty' => true,
                                'emptyText' => 'Select',
                                'emptyValue' => '',
                                'class' => 'form-control',
                                'onchange' => 'studentprofileSettings.loadAssignments(' . $stuid . ')',
                                'value' => $subjectid
                            )
                    );
                } else {
                    ?>
                    <input type="text" value="Subjects Not Assigned" class="form-control" readonly="" /> 
                <?php }
                ?>
            </div>
        </div>

        

        <div class="col-md-12" id="">
        <?php if (count($assignments) > 0) { ?>
            <div class="timeline-messages">
                <?php
                foreach ($assignments as $assignment) {
                    $expldval = $assignment->subjct_modules ? explode('-', $assignment->subjct_modules) : '';
                    $subj_arr = array();
                    if ($expldval != '') {
                        foreach ($expldval as $stu_mapdet) {
                            $orgnztn_str_det = OrganizationalStructureValues::findFirstById($stu_mapdet);
                            $orgnztn_str_mas_det = OrganizationalStructureMaster::findFirstById($orgnztn_str_det->org_master_id);
                            $subj_arr[] = $orgnztn_str_det->name;
                        }
                    }
                    $stuAssMark = AssignmentMarks::findFirst('assignment_id = ' . $assignment->id
                                    . ' and student_id = ' . $stuid);
                    $subdivvals = GroupSubjectsTeachers::findFirstById($assignment->grp_subject_teacher_id);
                    $i = 0;
                    $bgclass = array('bg-red', 'bg-purple', 'bg-green', 'bg-yellow');
                    ?>
                    <div class="msg-time-chat">
                        <div class="message-body msg-in">
                            <span class="arrow"></span>
                            <div class="text">
                                <div class="first">
                                    <?php
                                    echo trim(date('d F Y', ($assignment->submission_date)));
                                    ?>
                                </div>
                                <div class="second bg-terques ">
                                    <?= implode('-', $subj_arr); ?>
                                </div>
                                <div class="third <?= $bgclass[$i++] ?> ">
                                    <?= $assignment->topic . ' : ' . $assignment->desc ?>
                                </div>
                                <?php
                                $disableUpload = '';
                                $assignment_upload = StudentAssignments::findfirst('student_id = ' . $stuid . ' and assignment_id = ' . $assignment->id);

                                if ($assignment->is_evaluation == 1) {
                                    $disableUpload = $stuAssMark->marks > 0 ? 'disabled' : '';
                                    echo $stuAssMark->marks > 0 ? ' <div class="third bg-terques">  ' . $stuAssMark->marks . ' </div>' : '';
                                }

                                if (($assignment->is_upload == 1)) {


                                    if (!$assignment_upload) {
                                        $fileExisitsCls = 'fileupload-new';
                                        ?>
                                        <?php
                                    } else if ($assignment_upload) {
                                        $fileExisitsCls = 'fileupload-exists';
                                        ?>
                                        <div class="third bg-green">
                                            Upload Completed
                                        </div>  

                                        <?php
                                    }

                                    $identity = $this->auth->getIdentity();

                                    if ((in_array("Parent", $identity['role_name'])) || (in_array("Student", $identity['role_name']))) {
                                        ?>

                                        <div class="form-group" style="float:left"  >
                                            <div class="controls col-md-12">
                                                <div class="fileupload <?= $fileExisitsCls ?> " data-provides="fileupload" >
                                                    <span class="btn btn-white btn-file">
                                                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select file to upload</span>
                                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                        <input type="file" <?= $disableUpload ?> class="default" id="assign_<?= $assignment->id ?>" 
                                                               onchange="dashboardSettings.storeAssignment('<?= $assignment->id ?>', '<?= $stuid ?>')" />
                                                    </span>
                                                    <span class="fileupload-preview " style="margin-left:5px;">
                                                        <?php
                                                        $fnmae = $assignment_upload->upload_file_name ? explode('.', $assignment_upload->upload_file_name) : '';
                                                        echo substr($fnmae[0], 0, 20) . '.' . $fnmae[1];
                                                        ?>
                                                    </span>
                                                    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <?php
                                    }
                                }
                                ?>


                            </div>
                        </div>
                    </div>   
                </div>                      
                <?php
            }
        } else {
            ?>
            <div class="alert alert-block alert-danger fade in "> No Assignments Found </div>
        <?php }
        ?>
      </div>  </form>

    </div>
</section>


<script>


    $('.frm_date').datetimepicker({
        format: 'dd-mm-yyyy',
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
    }).on('changeDate', function (e) {

        $(this).datetimepicker('hide');
        studentprofileSettings.loadAssignments(<?= $stuid; ?>);
    });
</script>  