<!--<div align="right">
    	<a href="javascript:void(0)" class="btn btn-primary" onclick="dashboardSettings.loadMainexamChart(params)">
            <i class="icon-plus-sign"></i>MainExam chart</a>    
</div><br>-->

<?php if ($noData == 1) { ?>
    

<div class="panel" id=''>
    <header class="panel-heading">
        <?= SubjectsDivision::findFirstById($subject_id)->subjectName ?> marks
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <table id="subjwisemainextbl" cellspacing="0" width="100%" class="table  table-hover general-table dashboarTable">
            <thead>
                <tr>
                    <th>Exam Name</th>
                    <th>Mark</th>	
                    <th>Outoff</th>
                    <th>(%)</th>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($mainextableParams as  $value) :
                        ?>
                        <tr>
                            <td><?= $value['MexamName'] ?> </td>
                            <td><?= $value['ObtainedMarks'] ?> </td>
                            <td><?= $value['MoutOff'] ?> </td>
                            <td><?= round(($value['ObtainedMarks']/$value['MoutOff'])*100,2) ?> </td>
                        </tr>

                        <?php
                endforeach;
                ?>

            </tbody>

        </table>
    </div>
</div>

<script type="text/javascript">

    var tablectrl = '#subjwisemainextbl';
    var column = [0, 1, 2,3];
    var sortingDisabled = [];
    $(tablectrl).dataTable({
        "sDom": 'C<"clear">lrtip',
        "bProcessing": true,
        "sPaginationType": "full_numbers",
        "iDisplayLength": 10,
        "aoColumnDefs": [{
                "sDefaultContent": "",
                "aTargets": column
            }, {
                "bSortable": false,
                "sDefaultContent": "",
                "aTargets": sortingDisabled
            }],
        "aaSorting": [[1, "desc"]],
        "bLengthChange": false,
        "bInfo": false
    });

</script>

<?php }  ?>