<form class="form-horizontal">
    <?php foreach ($studentpercentforchart as $div => $value) { ?>

        <div class="form-group "  >
            <label for=""  class="col-sm-3 control-label"><?= RatingDivision::findFirstById($div)->rating_name ?></label>
            <div class="col-sm-2 ">
            <div class="ratingDiv" data-average="<?= ($value*4) ?>" data-id="1"></div></div>
            <span class="col-sm-3 control-label pull-left"> <?= $studentpoint[$div] ?> points</span>
            
        </div>
    <?php }
    ?>
</form>
<script type="text/javascript">

    $(function() {

        $('.ratingDiv').jRating({
            isDisabled: true
        });
    });

</script>