<?php echo $this->tag->javascriptInclude("js/studenthomepage/mainexam.js"); ?>
<script type=text/javascript>

    $(function() {
        $('#mainchartcontainer').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: '<?= $header ?>'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [<?= $categories ?>],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '<?= $stat ?>',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' %'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                    name: '<?= $blue ?>',
                    data: [<?= $classaverage ?>]
                }, {
                    name: '<?= $red ?>',
                    data: [<?= $studentaverage ?>]
                }, ]
        });


    });

</script>
<!--       
<div align="right">
        <a href="javascript:void(0)" class="btn btn-primary" onclick="dashboardSettings.loadMainexamTable(params)">
            <i class="icon-plus-sign"></i>MainExam table list</a>    
</div><br>-->
<!-- 3. Add the container -->

<div id="mainchartcontainer" class="col-md-8"></div>

                    
<!--<section>
    <div class="tabs tabs-style-linebox">
        <nav>
            <ul>
                <li  class="tab-current"><a href="#examwise"><span> Examwise Statistics</span></a></li>
                <li><a href="#subjwise" class=""><span>Subjectwise Statistics</span></a></li>
            </ul>
        </nav>
        <div class="content-wrap" student_id = "<?= $student_id ?>" divValId = "<?= $divValId ?>"
             subDivValId = "<?= $subDivValId ?>" academicYrId = "<?= $academicYrId ?>">
            <section id="examwise" class="content-current">
                <div class="col-sm-5" id="examwiseChart"></div>
                <div class="col-sm-5" id="mainExamWiseTable"> </div>
            </section>
            <section id="subjwise">                                    
            </section>

        </div> /content 
    </div> /tabs 
</section>-->
<!--<ul class="action-links" student_id = "<?= $student_id ?>" divValId = "<?= $divValId ?>"
    subDivValId = "<?= $subDivValId ?>" academicYrId = "<?= $academicYrId ?>" >
    <li onclick="mainexamSettings.examwise(this)"><a href="javascript:void(0)"  >
            Examwise Statistics</a></li>
    <li onclick="mainexamSettings.subjwise(this)"  ><a href="javascript:void(0)" >
            Subjectwise Statistics</a></li>
</ul>-->
<style>
    ul.action-links {
        list-style: none;
        margin: 5px;
        padding: 0.5em 1em;
    }
    ul.action-links li {
        display: inline-block;
        margin-left: 10px;
    }
    ul.action-links li a {
        padding-left: 15px;
        background: url(images/add.png) no-repeat left center;
        margin: 0 10px 0 0;
    }
</style>
<script type="text/javascript">

    mainexamSettings.examwise($('#examwise'))
//    mainexamSettings.loadMainexamwiseTable($('#examwise'))
    mainexamSettings.subjwise($('#examwise'))
</script>