<?php
//$this->assets->outputJs();
//$this->assets->outputCss();

// echo $this->tag->javascriptInclude("js/studenthomepage/highcharts.js");
//  echo $this->tag->javascriptInclude("js/studenthomepage/exporting.js");
//  echo $this->tag->javascriptInclude("js/studenthomepage/chartStyle.js");
?>

<script type="text/javascript">
    $(function() {

        $('#chartcontainer').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: '<?= $header ?>'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['Attendance','Main Test marks','Class Test marks'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Performace (Statistics)',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' %'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
           /* legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },*/
            credits: {
                enabled: false
            },
            series: [{
                    name: '<?= $blue ?>',
                    data: [<?= $cattendancePercent ?>,<?= $cmaintstr ?>,<?= $cclasststr ?>]
                }, {
                    name: '<?= $red ?>',
                    data: [<?= $attendancePercent ?>,<?= $maintstr ?>,<?= $clasststr ?>]
                }, ]
        });

/*
        $('#chartcontainer').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1, //null,
                plotShadow: true
            },
            title: {
                text: "<?= $header ?>"
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                    type: 'bar',
                    name: 'Browser Share',
                    data: [
                        {
                            name: 'Attendance',
                            y: <?= $attendancePercent ?>,
                            sliced: true,
                            selected: true
                        },
                        {
                            name: 'Main Test marks',
                            y: <?= $maintstr ?>,
                        },
                        {
                            name: 'Subject Test marks',
                            y: <?= $clasststr ?>,
                        },
                        {
                            name: 'Class Rating',
                            y: <?= $clsratr ?>,
                        },
                        {
                            name: 'Subject Rating',
                            y: <?= $subratr ?>,
                        }


                    ]
                }]
        });*/
    });


</script>


<section class="panel">
                                    <!--<h3 class="prf-border-head">overall view</h3>-->
                                    <div class="panel-body">
                                        <div class="chart">
                                            <div id="roated-chart">
                                                <!-- 3. Add the container -->
                                                <div id="chartcontainer" width='100%'></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>