
<form class="form-horizontal">
    <label for=""  class="col-sm-3 control-label">Select Main Category: </label>

    <div class="form-group col-sm-6 " student_id = "<?= $student_id ?>" divValId = "<?= $divValId ?>"
         subDivValId = "<?= $subDivValId ?>" academicYrId = "<?= $academicYrId ?>" >
             <?php
             echo \Phalcon\Tag::select(
                     array(
                         "mainCatId",
                         RatingDivision::find('academic_year_id=' . $academicYrId . ' and div_val_id=' . $divValId),
                         'useEmpty' => true,
                         "using" => array("id", "rating_name"),
                         'emptyText' => 'Select',
                         'emptyValue' => '0',
                         'class' => 'form-control',
                         'onchange' => 'ratingSettings.mainCatRating(this)',
                         'value' => $mainCatId
                     )
             );
             ?>
    </div>
</form>
<br><br>

<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Subject Ratings
                <!--<span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>-.>
            </header>
            <div class="panel-body">
                <?php if ($ratingArr && count($ratingArr) > 0) { ?>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>  <th></th>
                                <?php foreach ($yaxisuniqueArr as $rat): ?>
                                    <th><?= $rat ?></th>
                                <?php endforeach; ?>
                              <th>Star Rating</th></tr>
                        </thead>
                        <tbody>
                            <?php foreach ($ratingArr as $rowRat):
                                $ratPer = 0; ?> <tr>
                                <td><b><?= $rowRat[0]['subjectName'] ?></b></td>
                            <?php foreach ($rowRat as $colRat): ?>                               
                                    <td><?= $colRat['rating_level_name'] ?></td>                               
                            <?php 
                            $ratPer += $colRat['ratingPoints'];
                            endforeach; ?> 
                               <td> <div class="ratingDiv" data-average="<?= ($ratPer*20)/100 ?>" data-id="1"></div></div></td></tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                <?php }else { ?>
                    <div class="center scaffold">
                        <span>No Application issued yet</span>
                    </div>
                <?php } ?>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">

    $(function() {

        $('.ratingDiv').jRating({
            isDisabled: true
        });
    });

</script>