<?php
//$stuGen = StudentGeneralMaster::findFirstByStudentId($student_record->id);

$fieldArr = array();
$hideOrShowFields = StudentProfileSettings::find("hide_or_show = 1 and parent_id!=0");
foreach ($hideOrShowFields as $hideOrShow) {
    $fieldArr[$hideOrShow->id] = $hideOrShow->column_name;
}
?>
<div class="row">    

    <div class="col-md-3">
        <aside class="profile-nav fixed_sidebar alt">
            <section class="panel">
                <div class="user-heading alt gray-bg">
                    <a href="#">

                        <img src="<?= $this->url->get($photo_url) ?> " alt=""/>
                    </a>
                    <h1><?php echo $student_name; ?></h1>
                   <p>
                        <?php
                   //     print_r($subDivisions);
                        
                        foreach ($subDivisions as $subdiv) {
                            echo $subdiv['name'] . ' - ' . $subdiv['value'] . '<br>';
                        }
                        ?>
                    </p>
                </div>
                <ul class="nav nav-pills nav-stacked">
                                    <li class="stud-calc1"><a href="javascript:;">
                                            <i class="fa fa-graduation-cap"></i> Application no
                                            <span class="badge label-success pull-right r-activity"><?= $student_record->application_no > 0 ? $student_record->application_no : '-' ?></span></a></li>
                                    <li class="stud-calc1"><a href="javascript:;">
                                            <i class="fa fa-clock-o"></i> Date of Admission <span class="badge label-success pull-right r-activity"><?= date('d-m-Y', $student_record->Date_of_Joining) ?></span></a></li>
                                    <li class="stud-calc1"><a href="javascript:;">
                                            <i class="fa fa-anchor"></i> Admission No <span class="badge label-warning pull-right r-activity"><?= $student_record->Admission_no ?> </span></a></li>
                                </ul>
            </section>



        </aside>

    </div>
    <div class="col-md-9">
        <section class="panel">
        <div class="panel-body">
    <div class="col-md-12">
        <div class="well">

            <div class="row">
                <h4><div class="col-md-12">
                        <span class="mini-stat-icon-profile pink">
                            <i class="fa fa-bullseye"></i>
                        </span>
                        <label class="control-label" style="margin-top:10px;">Previous History</label>
                    </div> </h4> <br><br>
                <div class="col-md-12"> 
                    <div class="col-md-12">   

<?php if (in_array('previous_school_name', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('School Name') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->previous_school_name ? $stuGen->previous_school_name : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('attended_from', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Attended from') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->attended_from ? date('d-m-Y', $stuGen->attended_from) : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('previous_school_state', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('State') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->previous_school_state ? $stuGen->previous_school_state : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('attended_to', $fieldArr)): ?>                                                
                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Attended till') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->attended_to ? date('d-m-Y', $stuGen->attended_to) : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('previous_school_country', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Country') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?php
                                        $country = $stuGen->previous_school_country ? CountryMaster::findFirstByCountryCode($stuGen->previous_school_country) : '-';
                                        ?><?=   ($country != '-') ? $country->country_name : '-'; ?> </p>
                                </div>
                            </div>
<?php endif; ?>





<?php if (in_array('achievements', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Achievements') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->achievements ? $stuGen->achievements : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('comments', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Comments') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->comments ? $stuGen->comments : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('other_details', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Other details') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->other_details ? $stuGen->other_details : '-' ?> </p>
                                </div>
                            </div>
<?php endif; ?>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12">
        <div class="well">                                    
            <div class="row">
                <h4><div class="col-md-12">
                        <span class="mini-stat-icon-profile tar">
                            <i class="fa fa-user"></i>
                        </span>
                        <label class="control-label" style="margin-top:10px;">Personal Details </label>
                    </div> </h4> <br><br>
                <div class="col-md-12"> 
                    <div class="col-md-12">    

                        <div class="col-md-6">
                            <label for=""  class="col-sm-6 control-label pull-left"><?= ('Gender') ?></label>
                            <div class="col-sm-6">
                                <p class="form-control-static"><?= $student_record->Gender == 1 ? 'Female' : 'Male' ?> </p> 
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for=""  class="col-sm-6 control-label pull-left"><?= ('Address Line1') ?></label>
                            <div class="col-sm-6">
                                <p class="form-control-static"><?= $student_record->Address1 ? $student_record->Address1 : '-' ?> </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for=""  class="col-sm-6 control-label pull-left"><?= ('Date of birth') ?></label>
                            <div class="col-sm-6">
                                <p class="form-control-static"><?= $student_record->Date_of_Birth ? date('d-m-Y', $student_record->Date_of_Birth) : '-' ?> </p> 
                            </div>
                        </div>



                        <div class="col-md-6">
                            <label for=""  class="col-sm-6 control-label pull-left"><?= ('Address Line2') ?></label>
                            <div class="col-sm-6">
                                <p class="form-control-static"><?= $student_record->Address2 ? $student_record->Address2 : '-' ?> </p>
                            </div>
                        </div>

<?php if (in_array('place_of_birth', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Place of Birth') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->place_of_birth ? $stuGen->place_of_birth : '-' ?> </p> 
                                </div>
                            </div>
<?php endif; ?>

                        <div class="col-md-6">
                            <label for=""  class="col-sm-6 control-label pull-left"><?= ('State') ?></label>
                            <div class="col-sm-6">
                                <p class="form-control-static"><?= $student_record->State ? $student_record->State : "-" ?> </p>
                            </div>
                        </div>

<?php if (in_array('nationality', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Nationality') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?php
                                        $country = $stuGen->previous_school_country ? CountryMaster::findFirstByCountryCode($stuGen->previous_school_country) : '-';
                                        ?><?= ($country != '-') ? $country->country_name : '-'; ?> </p>

            <!--<p class="form-control-static"><?= $stuGen->nationality ? $stuGen->nationality : '-' ?> </p>--> 
                                </div>
                            </div>
<?php endif; ?>


                        <div class="col-md-6">
                            <label for=""  class="col-sm-6 control-label pull-left"><?= ('Country') ?></label>
                            <div class="col-sm-6">
                                <p class="form-control-static">
                                    <?php
                                    $country = $student_record->Country ? CountryMaster::findFirstByCountryCode($student_record->Country) : '-';
                                    ?><?= $country->country_name ?> </p>
                            </div>
                        </div>



<?php if (in_array('religion', $fieldArr)): ?>                                                
                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Religion') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->religion ? $stuGen->religion : '-' ?> </p>                                                        
                                </div>
                            </div>
<?php endif; ?>
                        <div class="col-md-6">
                            <label for=""  class="col-sm-6 control-label pull-left"><?= ('Pin code') ?></label>
                            <div class="col-sm-6">
                                <p class="form-control-static"><?= $student_record->Pin ? $student_record->Pin : '-' ?> </p>
                            </div>
                        </div>



<?php if (in_array('caste_category', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Caste Category') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->caste_category ? $stuGen->caste_category : '-' ?> </p> 
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('caste', $fieldArr)): ?>                                                
                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Caste') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->caste ? $stuGen->caste : '-' ?> </p> 
                                </div>
                            </div>
<?php endif; ?>




                        <div class="col-md-6">
                            <label for=""  class="col-sm-6 control-label pull-left"><?= ('Phone Number') ?></label>
                            <div class="col-sm-6">
                                <p class="form-control-static"><?= $student_record->Phone ? $student_record->Phone : '-' ?> </p>
                            </div>
                        </div>

<?php if (in_array('first_language', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('First Language') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->first_language ? $stuGen->first_language : '-' ?> </p>
                                </div>
                            </div>
<?php endif; ?>







                        <div class="col-md-6">
                            <label for=""  class="col-sm-6 control-label pull-left"><?= ('Email ID') ?></label>
                            <div class="col-sm-6">
                                <p class="form-control-static"><?= $student_record->Email ? $student_record->Email : '-' ?> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        <div class="well">

            <div class="row">
                <h4><div class="col-md-12">
                        <span class="mini-stat-icon-profile orange-theme">
                            <i class="fa fa-group"></i>
                        </span>
                        <label class="control-label" style="margin-top:10px;">Family Details </label>
                    </div> </h4> <br><br>
                <div class="col-md-12">
                    <div class="col-md-12">                                               
<?php if (in_array('family_photo', $fieldArr)): ?>

                            <!--                                                <div class="col-md-3 profile-information">
                                                                                <div class="profile-pic text-center">
                                                                                    <img style=" width: 100px; height: 100px; "
                                                                                         src="<?= $stuGen->family_photo ? $this->url->get(FILES_URI . $stuGen->family_photo) : $this->url->get('images/user.jpg') ?> " alt="">
                                                                                </div>
                                                                            </div> -->
                        <?php endif; ?>
<?php if (in_array('father_name', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Father Name') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->father_name ? $stuGen->father_name : '-' ?> </p>
                                </div>
                            </div> 
<?php endif; ?>


<?php if (in_array('other_guardian_name', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Guardian Name') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->other_guardian_name ? $stuGen->other_guardian_name : '-' ?> </p>
                                </div>
                            </div>
<?php endif; ?>


<?php if (in_array('f_occupation', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Father Occupation') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->f_occupation ? $stuGen->f_occupation : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('g_occupation', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Guardian Occupation') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->g_occupation ? $stuGen->g_occupation : '-' ?> </p>
                                </div>
                            </div>
<?php endif; ?>


<?php if (in_array('f_designation', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Father Designation') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->f_designation ? $stuGen->f_designation : '-' ?> </p>
                                </div>
                            </div>
<?php endif; ?>



<?php if (in_array('g_designation', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Guardian Designation') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->g_designation ? $stuGen->g_designation : '-' ?> </p>
                                </div>
                            </div>
                            <?php
                        endif;
                        ?>

<?php if (in_array('f_phone_no', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Father Phone No') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->f_phone_no ? $stuGen->f_phone_no : '-' ?> </p>
                                </div>
                            </div>
<?php endif; ?>



<?php if (in_array('g_phone', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Guardian Phone No') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->g_phone ? $stuGen->g_phone : "-" ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('f_phone_no_status', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Contact Priority') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= ($stuGen->f_phone_no_status == 1) ? 'Primary' : 'Secondary' ?> </p>
                                </div>
                            </div>
<?php endif; ?>


<?php if (in_array('g_phone_no_status', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Contact Priority') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= ($stuGen->g_phone_no_status == 1) ? 'Primary' : 'Secondary' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>
<?php if (in_array('mother_name', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Mother Name') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->mother_name ? $stuGen->mother_name : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>
<?php if (in_array('sibling', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Siblings in this school') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->sibling ? $stuGen->sibling : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('m_occupation', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Mother Occupation') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->m_occupation ? $stuGen->m_occupation : '-' ?> </p>
                                </div>
                            </div>
<?php endif; ?>


<?php if (in_array('person_school_fee', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Person/company paying fee') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->person_school_fee ? $stuGen->person_school_fee : '-' ?> </p>
                                </div>
                            </div>
<?php endif; ?>



<?php if (in_array('m_designation', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Mother Designation') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->m_designation ? $stuGen->m_designation : '-' ?> </p>
                                </div>
                            </div>
<?php endif; ?>


<?php if (in_array('circumtances', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Family Circumstances') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->circumtances ? $stuGen->circumtances : '-' ?> </p>
                                </div>
                            </div>
<?php endif; ?>


<?php if (in_array('m_phone_no', $fieldArr)): ?>

                            <div class="col-md-12">
                                <label for=""  class="col-sm-3 control-label pull-left"><?= ('Mother Phone No') ?></label>
                                <div class="col-sm-3">
                                    <p class="form-control-static"><?= $stuGen->m_phone_no ? $stuGen->m_phone_no : "-" ?> </p>
                                </div>
                            </div>
<?php endif; ?>



<?php if (in_array('m_phone_no_status', $fieldArr)): ?>

                            <div class="col-md-12">
                                <label for=""  class="col-sm-3 control-label pull-left"><?= ('Contact Priority') ?></label>
                                <div class="col-sm-3">
                                    <p class="form-control-static"><?= ($stuGen->m_phone_no_status == 1) ? 'Primary' : 'Secondary' ?> </p>
                                </div>
                            </div>
<?php endif; ?>





                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        <div class="well">                                    
            <div class="row">
                <h4><div class="col-md-12">
                        <span class="mini-stat-icon-profile orange">
                            <i class="fa fa-medkit"></i>
                        </span>
                        <label class="control-label" style="margin-top:10px;">Medical Details </label>
                    </div> </h4> <br><br>
                <div class="col-md-12">  
                    <div class="col-md-12">    


<?php if (in_array('blood_group', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Blood Group') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->blood_group ? $stuGen->blood_group : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('chronic', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Chronic illness if any') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->chronic ? $stuGen->chronic : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('height', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Height') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->height ? $stuGen->height : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('allergic', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Allergic to any drug?') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->allergic ? $stuGen->allergic : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('weight', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label pull-left"><?= ('Weight') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->weight ? $stuGen->weight : '-' ?> </p>
                                </div>
                            </div>
                        <?php endif; ?>

<?php if (in_array('family_doctor', $fieldArr)): ?>

                            <div class="col-md-6">
                                <label for=""  class="col-sm-6 control-label"><?= ('Family doctor details ') ?></label>
                                <div class="col-sm-6">
                                    <p class="form-control-static"><?= $stuGen->family_doctor ? $stuGen->family_doctor : '-' ?> </p>
                                </div>
                            </div>
<?php endif; ?>
                    </div>
                </div>
            </div>

        </div>
    </div>
            
            
            <div class="col-md-12">
        <div class="well">                                    
            <div class="row">
                <h4><div class="col-md-12">
                        <span class="mini-stat-icon-profile orange">
                            <i class="fa fa-medkit"></i>
                        </span>
                        <label class="control-label" style="margin-top:10px;">Other Documents </label>
                    </div> </h4> <br><br>
                <div class="col-md-12">  
                    <div class="col-md-12">    


<?php $other_documnts = $stuGen->other_photos ? explode(',', $stuGen->other_photos) : 0;

if(count($other_documnts) > 0){
    $img = array('jpg', 'JPG', 'png', 'PNG', 'gif', 'GIF', 'bmp', 'BMP', 'svg', 'SVG');
    $doc = array('doc','docx','xlsx','xls','csv');
    $pdf = array('pdf');
    foreach ($other_documnts as $other_documnt):
        $expldvals=explode('@',$other_documnt);
        $expldval=explode('.',$expldvals[1]);
    
    $clsval='fa fa-file';
    
     if (in_array($expldval[1], $img)) {
         $clsval = 'fa fa-picture-o';
     }
     
     if (in_array($expldval[1], $doc)) {
         $clsval = 'fa fa-file';
     }
     if (in_array($expldval[1], $pdf)) {
         $clsval = 'fa fa-file-pdf-o';
     }
    
?>

                            <div class="col-md-3">
                                <a target="_blank" href="<?php echo $this->url->get( FILES_URI . $other_documnt);?>">
                                    <span class="mini-stat-icon tar" >
                                         <li class="<?= $clsval ?>"></li>
                                    </span>
                                    <b><?php echo (strlen($expldvals[1]) > 15 ? substr($expldvals[1],0,15)."..." : $expldvals[1]);?></b>
                               </a> 
                            </div>
<?php   
endforeach;
}  ?>

                    </div>
                </div>
            </div>

        </div>
    </div>
            
    </div></section>
    </div>
</div>