<?php echo $this->tag->javascriptInclude("js/studenthomepage/classtest.js"); ?>
<div class="col-md-12">
  <form class="form-horizontal">
        <label for=""  class="col-sm-3 control-label">Select Subject: </label>

        <div class="form-group col-sm-6 " student_id = "<?= $student_id ?>" divValId = "<?= $divValId ?>"
             subDivValId = "<?= $subDivValId ?>" academicYrId = "<?= $academicYrId ?>" >
                 <?php
                 echo \Phalcon\Tag::select(
                         array(
                             "subject",
                             $subjOption,
                             'useEmpty' => true,
                             'emptyText' => 'Select',
                             'emptyValue' => '0',
                             'class' => 'form-control',
                             'onchange' => 'classtestSettings.subjwise(this)',
                             'value' => $subject_id
                         )
                 );
                 ?>
        </div>
    </form>
</div>
<?php if ($noData == 1) {   ?>

    <script type=text/javascript>

        $(function() {
            $('#clssubjWisechartcontainer').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '<?= $header ?>'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [<?= $categories ?>],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '<?= $stat ?>',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' '
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                subtitle: {
                    text: 'Overall Percentage in <?= $sname ?>'
                },
                /* legend: {
                 layout: 'horizontal',
                 align: 'right',
                 verticalAlign: 'bottom',
                 x: -40,
                 y: 100,
                 floating: true,
                 borderWidth: 1,
                 backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                 shadow: true
                 },*/
                credits: {
                    enabled: false
                },
                series: [{
                        type: '<?= $type ?>',
                        name: 'Student Average',
                        data: [<?= $studentaverage ?>]
                    }, {
                        type: '<?= $type ?>',
                        name: 'Class Average',
                        data: [<?= $classaverage ?>]
                    }, /*{
                        type: 'pie',
                        name: 'Total Marks Percentage in ',
                        data: [{
                                name: 'Student Average',
                                y: <?= $sper ?>,
                                color: '#4572A7' // Jane's color
                            }, {
                                name: 'Class Average',
                                y: <?= $cper ?>,
                                color: '#AA4643' // John's color
                            }],
                        center: [70, 80],
                        size: 100,
                        showInLegend: true,
                        dataLabels: {
                            enabled: false
                        }
                    }*/]
            });


        });

    </script>
  

    <!-- 3. Add the container -->
    <div id="clssubjWisechartcontainer" class="col-md-6"></div>
    
                                    <div class="col-md-6" id="clssubjwiseTable"> </div>    
<?php } else { ?>
    <div class="alert alert-block alert-danger fade in">No data found</div>

<?php } ?>
