
<section class="panel" id="dlyrep"> 

    <header class="">
        <?php
        $actualmnt = $monthhead;
        $st = array_shift($actualmnt);
        ?>
        <span class=" wht-bg"> <h4 class="gen-case">Attendance Report (%) - <?= date('M Y', $st) ?> </h4></span>
        <p class="text text-muted small">Legend : <?= implode(' , ', $legend) ?></p>
        <?php ?>
    </header>


    <div class="panel-body"  >
        <table id="classtestTable" class="table general-table table-bordered" border="1" style="padding: 20px;">
            <thead class="thead_default">
                <?php foreach ($result['thead'] as $row) { ?>
                    <tr>
                        <?php foreach ($row as $col) { ?>
                            <td colspan="<?= $col['colspan'] ?>" rowspan="<?= $col['rowspan'] ?>"> <?= $col['text'] ?> </td>
                        <?php } ?>
                    </tr> 
                <?php } ?>
            </thead>
            <tbody>
                <?php
                $count = count($classStudents);
                $limit = 8;
                $page_count = $limit;
                $global = 0;
                for ($i = $global; $i < $count; $i++) {
                    $limit = 15;
                    $classStudent = $classStudents[$i];
                    $cnt = $totalper = 0;
                    $totalcnt = array();
                    ?>
                    <tr>
                        <td class="to-do-list" style="text-align: left;"> 

                            <span title= "<?= $classStudent->Student_Name . '(' . $classStudent->Admission_no . ')' ?>" 
                                  class="nameicon">
                                      <?= strlen($classStudent->Student_Name) > 30 ? substr($classStudent->Student_Name, 0, 30) . "..." : $classStudent->Student_Name; ?>
                            </span>
                        </td>
                        <?php
                        if (count($monthhead) > 0) {
                            foreach ($monthhead as $hvalue) {
                                if ($reptyp == 0) {
                                    if (count($valhead) > 0) {
                                        foreach ($valhead as $vvalue) {
                                            $noofperiods = PeriodMaster::find('LOCATE(node_id,"' . str_replace(',', '-', $classStudent->aggregate_key) . '" )' . " and user_type = 'student'");
                                            $valcnt = $dailyPercent[$classStudent->loginid][$hvalue][$vvalue] ? ($dailyPercent[$classStudent->loginid][$hvalue][$vvalue] / $noofperiods) : '';
                                            $cnt = $valcnt ? $valcnt : 0;
                                            $totalcnt[$vvalue] = $totalcnt[$vvalue] ? ($totalcnt[$vvalue] + $cnt) : $cnt;
                                            ?>
                                            <td><?= $valcnt; ?></td>
                                            <?php
                                        }
                                    }
                                } else {
                                     $cnt = ($dailyPercent[$classStudent->loginid][$hvalue]['percent'] ==='') ? $cnt : ($cnt + 1);
                                    $totalper += $dailyPercent[$classStudent->loginid][$hvalue]['percent'];
                                    ?>
                                    <td><?= $dailyPercent[$classStudent->loginid][$hvalue]['percent']; ?></td>
                                    <?php
                                }
                            }
                        }
                        ?><?php
                        if ($reptyp == 0) {
                            if (count($valhead) > 0) {
                                foreach ($valhead as $vvalue) {
                                    ?>
                                    <td><?= $totalcnt[$vvalue] ?></td>
                                    <?php
                                }
                            }
                        } else {
                            ?>
                               <td><?=  ($cnt > 0) ? (round(($totalper / $cnt))) : 0; ?></td>
                        <?php }
                        ?>
                    </tr><?php
                    if ($i == $page_count) {
                        $page_count += $limit;
                        $global = $i + 1;
                        ?>
                    </tbody></table></div>
           
    <div class="panel-body"   id="print-body-wrapper">
                <table class=" table-condensed table myTable" style="width:100%; border-collapse: collapse;"><thead class="thead_default">
                        <?php foreach ($result['thead'] as $row) { ?>
                            <tr>
                                <?php foreach ($row as $col) { ?>
                                    <td colspan="<?= $col['colspan'] ?>" rowspan="<?= $col['rowspan'] ?>"> <?= $col['text'] ?> </td>
                                <?php } ?>
                            </tr> 
                        <?php } ?>
                    </thead><tbody>
                        <?php
                    }
                }
                ?>

            </tbody>
        </table>
    </div>
</section>

<script>
    $('span').attr('class', '')
</script>