<style>
</style>
<script type="text/javascript">
    $('.inner-menu').find('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        // e.target // newly activated tab
        // e.relatedTarget // previous active tab
        var callback = $(e.target).attr('ajxfn')
        var params = JSON.parse($(e.target).attr('params'))
        console.log(params)
        if (callback)
            academicReportSettings[callback](params);
    })
    $(document).ready(function () {
        $(".main-menu li").unbind().on('click', function () {
            $(".main-menu li").removeClass('active')
            $(this).addClass('active')

        });

        $('input[type="checkbox"]').on('click', function () {
            $listctrl = $(this).parents('.list');
            $selfcheck = $(this).prop('checked');
            $listctrl.find("div.todo-item").removeClass('checked')
            $listctrl.find('input[type="checkbox"]').prop('checked', false)
            $(this).prop('checked', $selfcheck)
            if ($(this).prop('checked'))
            {
                $(this).parents('div.todo-item').toggleClass('checked')
                var callback = $(this).attr('ajxfn')
                var params = JSON.parse($(this).attr('params'))
                if (callback)
                    academicReportSettings[callback](params);
            }
        })
        $('#attendanceReportSec').click();
    });
</script>
<section class="panel" >
    <header class="panel-heading tab-bg-dark-navy-blue tab-right "  id="sublist" style="max-height: 500px; overflow: auto; "> 
        <ul class="nav nav-tabs pull-right inner-menu" >
            <li class="">
                <a data-toggle="tab" href="#attendanceReport" 
                   ajxfn="loadAttendance" params ='{"masterid":"<?= $masterid ?>","reptyp":"0"}'  id="attendanceReportSec">
                    <i class="fa fa-th-large"></i>
                    Attendance
                </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#examReport"
                   ajxfn="loadExamById" params ='{"masterid":"<?= $masterid ?>","examid":"<?= count($exams) > 0 ? $exams[0]->id : '0' ?>"}'  id="mainexamReportSec">
                    <i class="fa fa-th-list"></i>
                    Mainexam
                </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#testReport"
                   ajxfn="loadTestBySubject" params ='{"masterid":"<?= $masterid ?>","subjid":"<?= (count($subjects) > 0)?$subjects[0]->id:'0'  ?>"}'  id="clststReportSec">
                    <i class="fa fa-list-alt"></i>
                    Classtest
                </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#assignmentReport"
                   ajxfn="loadAssBySubject" params ='{"masterid":"<?= $masterid ?>","subjid":"<?= (count($subjects) > 0)?$subjects[0]->id:'0'  ?>"}' id="assReportSec">
                    <i class="fa fa-book"></i>
                    Assignment
                </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#classratingReport"
                   ajxfn="loadClassRating" params ='{"masterid":"<?= $masterid ?>","catid":"<?= (count($ratings) > 0)?$ratings[0]->id:'0' ?>"}'  id="clasRatReportSec">
                    <i class="fa fa-star-half-full"></i>
                    Class Rating
                </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#subjratingReport"
                   ajxfn="loadSubjectRating" params ='{"masterid":"<?= $masterid ?>","catid":"<?= (count($ratings) > 0)?$ratings[0]->id:'0' ?>","subjid":"<?= (count($subjects) > 0)?$subjects[0]->id:'0'  ?>"}'  id="subjRatReportSec">
                    <i class="fa fa-star-half-empty"></i>
                    Subject Rating
                </a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#homeworkReport"
                   ajxfn="loadHomeWorksBySubject" params ='{"masterid":"<?= $masterid ?>","subjid":"<?= (count($subjects) > 0)?$subjects[0]->id:'0'  ?>"}' 
                   id="homeworkReportSec">
                    <i class="fa fa-pencil"></i>
                    Homework
                </a>
            </li>
        </ul>
    </header>
    <div class="panel-body" id="activityData"  >
        <div class="tab-content">
            <div id="attendanceReport" class="tab-pane ">

                <div class="todo col-md-3" >
                    <div class="list-1 list">
                        REPORT TYPE
                        <div class="todo-item checked" style="position: relative;">
                            <div class="status">
                                <input type="checkbox" ajxfn="loadAttendance" params ='{"masterid":"<?= $masterid ?>","reptyp":"0"}'  checked="checked" id="todo-checkbox-61"><label for="todo-checkbox-61"></label>
                            </div>
                            <div class="task text-overflow">By attendance value</div>
                        </div>
                        <div class="todo-item "   style="position: relative;">
                            <div class="status">
                                <input type="checkbox" ajxfn="loadAttendance" params ='{"masterid":"<?= $masterid ?>","reptyp":"1"}'   id="todo-checkbox-62"><label for="todo-checkbox-62"></label>
                            </div>
                            <div class="task text-overflow">By percentage (%)</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 second-panel" id="attpanelbody">  </div>
            </div>
            <div id="examReport" class="tab-pane">
                <div class="todo col-md-3" >
                    <div class="list-1 list">
                        EXAMS

                        <?php
                        if (count($exams) > 0):
                            $i = 0;
                            foreach ($exams as $ex) {
                                $checked = $i++ == 0 ? 'checked' : '';
                                ?>
                                <div class="todo-item <?= $checked ?>" style="position: relative;">
                                    <div class="status">
                                        <input type="checkbox" <?= $checked ?> class="todo-checkbox-xam"
                                               ajxfn="loadExamById" params ='{"masterid":"<?= $masterid ?>","examid":"<?= $ex->id ?>"}'  
                                               id="todo-checkbox-xam-<?= $ex->id ?>"><label for="todo-checkbox-xam-<?= $ex->id ?>"></label>
                                    </div>
                                    <div class="task text-overflow"><?= $ex->exam_name ?> (<?= $ex->examCode ?>)</div>
                                </div>
                                <?php
                            }
                        endif;
                        ?>
                    </div>
                </div>
                <div class="col-md-9 second-panel" id="exampanelbody">   </div>
            </div>
            <div id="testReport" class="tab-pane">
                <div class="todo col-md-3" >

                    <div class="list-1 list">
                        SUBJECTS
                        <?php
                        if (count($subjects) > 0):
                            $i = 0;
                            foreach ($subjects as $subj) {
                                $checked = $i++ == 0 ? 'checked' : '';
                                ?>
                                <div class="todo-item <?= $checked ?>" style="position: relative;">
                                    <div class="status">
                                        <input type="checkbox" <?= $checked ?>  class="todo-checkbox-clstst"
                                               ajxfn="loadTestBySubject" params ='{"masterid":"<?= $masterid ?>","subjid":"<?= $subj->id ?>"}'  
                                               id="todo-checkbox-clstst-<?= $subj->id ?>"><label for="todo-checkbox-clstst-<?= $subj->id ?>"></label>
                                    </div>
                                    <div class="task text-overflow"><?= $subj->name ?></div>
                                </div>
                                <?php
                            }
                        endif;
                        ?>
                    </div>
                </div>
                <div class="col-md-9 second-panel" id="clststpanelbody">   </div>
            </div>
            <div id="assignmentReport" class="tab-pane">
                <div class="todo col-md-3" >
                    <div class="list-1 list">
                        SUBJECTS
                        <?php
                        if (count($subjects) > 0):
                            $i = 0;
                            foreach ($subjects as $subj) {
                                $checked = $i++ == 0 ? 'checked' : '';
                                ?>
                                <div class="todo-item <?= $checked ?>" style="position: relative;">
                                    <div class="status">
                                        <input type="checkbox" <?= $checked ?>  class="todo-checkbox-ass"
                                               ajxfn="loadAssBySubject" params ='{"masterid":"<?= $masterid ?>","subjid":"<?= $subj->id ?>"}'  
                                               id="todo-checkbox-ass-<?= $subj->id ?>"><label for="todo-checkbox-ass-<?= $subj->id ?>"></label>
                                    </div>
                                    <div class="task text-overflow"><?= $subj->name ?></div>
                                </div>
                                <?php
                            }
                        endif;
                        ?>
                    </div>  
                </div>
                <div class="col-md-9 second-panel"  id="asspanelbody"> </div>
            </div>
            <div id="classratingReport" class="tab-pane">
                <div class="todo col-md-3" >

                    <div class="list-1 list">

                        RATING NAME

                        <?php
                        if (count($ratings) > 0):
                            $i = 0;
                            foreach ($ratings as $ratcat) {
                                $checked = $i++ == 0 ? 'checked' : '';
                                ?>
                                <div class="todo-item <?= $checked ?>" style="position: relative;">
                                    <div class="status">
                                        <input type="checkbox" <?= $checked ?>  class="todo-checkbox-clsrat"
                                               ajxfn="loadClassRating" params ='{"masterid":"<?= $masterid ?>","catid":"<?= $ratcat->id ?>"}'  
                                               id="todo-checkbox-clsrat-<?= $ratcat->id ?>"><label for="todo-checkbox-clsrat-<?= $ratcat->id ?>"></label>
                                    </div>
                                    <div class="task text-overflow"><?= $ratcat->rating_name ?></div>
                                </div>
                                <?php
                            }
                        endif;
                        ?>

                    </div>
                </div>
                <div class="col-md-9 second-panel" id="clsratpanelbody">  </div> 
            </div>
            <div id="subjratingReport" class="tab-pane">
                <div class="todo col-md-3" >

                    <div class="list-1 list" >
                        RATING NAME
                        <?php
                        if (count($ratings) > 0):
                            $i = 0;
                            foreach ($ratings as $ratcat) {
                                $checked = $i++ == 0 ? 'checked' : '';
                                ?>
                                <div class="todo-item <?= $checked ?>" style="position: relative;">
                                    <div class="status">
                                        <input type="checkbox" <?= $checked ?>  class="todo-checkbox-subjrat"
                                               ajxfn="loadSubjectRating" params ='{"masterid":"<?= $masterid ?>","catid":"<?= $ratcat->id ?>"}'  
                                               id="todo-checkbox-subjrat-<?= $ratcat->id ?>"><label for="todo-checkbox-subjrat-<?= $ratcat->id ?>"></label>
                                    </div>
                                    <div class="task text-overflow"><?= $ratcat->rating_name ?></div>
                                </div>
                                <?php
                            }
                        endif;
                        ?>
                    </div>
                    <br>

                    <div class="list-2 list" >
                        SUBJECTS
                        <?php
                        if (count($subjects) > 0):
                            $i = 0;
                            foreach ($subjects as $subj) {
                                $checked = $i++ == 0 ? 'checked' : '';
                                ?>
                                <div class="todo-item <?= $checked ?>" style="position: relative;">
                                    <div class="status">
                                        <input type="checkbox" <?= $checked ?>  class="todo-checkbox-ratsubj"
                                               ajxfn="loadSubjectRating" params ='{"masterid":"<?= $masterid ?>","subjid":"<?= $subj->id ?>"}'  
                                               id="todo-checkbox-ratsubj-<?= $subj->id ?>"><label for="todo-checkbox-ratsubj-<?= $subj->id ?>"></label>
                                    </div>
                                    <div class="task text-overflow"><?= $subj->name ?></div>
                                </div>
                                <?php
                            }
                        endif;
                        ?>
                    </div>
                </div>
                <div class="col-md-9 second-panel" id="subjratpanelbody"> </div> 

            </div>

            <div id="homeworkReport" class="tab-pane">
                <div class="todo col-md-3" >
                    <div class="list-1 list">
                        SUBJECTS
                        <?php
                        if (count($subjects) > 0):
                            $i = 0;
                            foreach ($subjects as $subj) {
                                $checked = $i++ == 0 ? 'checked' : '';
                                ?>
                                <div class="todo-item <?= $checked ?>" style="position: relative;">
                                    <div class="status">
                                        <input type="checkbox" <?= $checked ?>  class="todo-checkbox-homework"
                                               ajxfn="loadHomeWorksBySubject" params ='{"masterid":"<?= $masterid ?>","subjid":"<?= $subj->id ?>"}'  
                                               id="todo-checkbox-homework-<?= $subj->id ?>"><label for="todo-checkbox-homework-<?= $subj->id ?>"></label>
                                    </div>
                                    <div class="task text-overflow"><?= $subj->name ?></div>
                                </div>
                                <?php
                            }
                        endif;
                        ?>
                    </div>  
                </div>
                <div class="col-md-9 second-panel" id="homewrkpanelbody">  </div>

            </div>
        </div>
    </div>
</section>

<script>
//    $('#activityData').niceScroll();
//    $('#sublist').niceScroll();
</script>
