

<section    class="panel main-panel" >
    <?php
    if ($error) {
        echo $error;
    } else {
        ?>
        <header style="padding: 0px 15px;">
            <span class=" wht-bg"> <h4 class="gen-case">Subject Rating Report </h4></span>
            <?php if (!empty($sub_mas_id) > 0) { ?>
                <span class="pull-right" style="margin-right: 15px;">
                    <!--                <a href="javascript:;" onclick="academicReportSettings.exampdf(params)">
                                        <i class="fa fa-print"></i> Print 
                                    </a>&nbsp; &nbsp; &nbsp;-->
                    <a href="javascript:;" id="downloadExcelSubjRat">
                        <i class="fa fa-file-excel-o"></i> Excel
                    </a>
                </span>
            <?php } ?>
            <p class="text text-muted small"><?= $division->rating_name ?> : <?= $selsubject->name ?></p>
        </header>

        <div class="panel-body">
            <div class="sub-panel" id="subratrep" > 
                <?php
                if (!empty($sub_mas_id) > 0) {

                    $exist = OrganizationalStructureValues::find(array('columns' => 'group_concat(parent_id) as pids',
                                ' id IN ( ' . implode(',', $subject_id) . ')'));

                    $res = MarkController::loadHeaderForSubjRating($sub_mas_id, $subject_id);
//                print_r($res);exit;

                    $rowhead = $res[0];
                    $exp = $res[1][0];
                    foreach ($exp as $nodes) {
                        $ressb[] = MarkController::gteSubjectsInOrder($nodes);
                    }
                    $lastroe = count($rowhead);
                    $extrowhead = MarkController::findSubratlistforreport($ressb, $rowhead, $sub_mas_id, $lastroe);
                    $icolumn['text'] = 'Students';
                    $icolumn['rowspan'] = count($extrowhead);
                    $icolumn['colspan'] = '';
                    $prehead[] = $icolumn;

//                $icolumn['text'] = 'Total';
//                $icolumn['rowspan'] = count($extrowhead)-1;
//                $icolumn['colspan'] = '';
//                $posthead[] = $icolumn;
                    $rowone = array_merge($prehead, $extrowhead[0]);
//                $rowone = array_merge($rowone, $posthead);
                    array_shift($extrowhead[0]);
                    $extrowhead[0] = $rowone;
                    ?>
                    <table id="subratrepTable"  class="table general-table table-bordered" border="1" style="padding: 20px;">
                        <thead class="thead_default">
                            <?php foreach ($extrowhead as $row) { ?>
                                <tr>
                                    <?php foreach ($row as $col) { ?>
                                        <th class="<?= $col['class'] ?>" colspan="<?= $col['colspan'] ?>" rowspan="<?= $col['rowspan'] ?>"><?= $col['text'] ?></th> 
                                    <?php } ?>
                                </tr>
                            <?php } ?> 
                        </thead>
                        <tbody>
                            <?php
                            foreach ($students as $stu) {
                                ?>
                                <tr> 
                                    <td class="to-do-list col-md-3"  style="min-width:200px">  
                                        <?php
                                        if ($stu->photo) {
                                            ?>
                                            <span title='<?= $stu->Admission_no ?>' class='mini-stat-icon' style='cursor:default;' >
                                                <?php
                                                echo $this->tag->image(array(
                                                    "src" => $stu->photo ? (FILES_URI . $stu->photo) : ('images/user.jpg'),
                                                    'title' => " $stu->Admission_no ",
                                                    'style' => 'border-radius:50%',
                                                    'width' => '30px',
                                                    'height' => '30px'));
                                                ?>
                                            </span>
                                            <?php
                                        } else {
                                            ?>
                                            <span title= "<?= $stu->Admission_no ?>" class="mini-stat-icon tar " style="cursor:default;" >
                                                <?= substr($stu->Student_Name, 0, 1); ?></span>
                                        <?php }
                                        ?> 
                                        <span title= "<?= $stu->Student_Name . '(' . $stu->Admission_no . ')' ?>" 
                                              class="nameicon">
                                                  <?= strlen($stu->Student_Name) > 30 ? substr($stu->Student_Name, 0, 30) . "..." : $stu->Student_Name; ?>
                                        </span>
                                    </td>
                                    <?php
                                    foreach ($ressb[0] as $subjmod) {
                                        $totratpts = '';
                                        foreach ($category_paramaters as $col) {
                                            $rating_record = StudentSubteacherRating::findfirst('student_id = ' . $stu->student_info_id
                                                            . ' and rating_category =' . $col->id
                                                            . ' and rating_division_id = ' . $rating_division_id
                                                            . ' and subject_master_id IN (' . $sub_mas_id . ')'
                                                            . ' and subjct_modules = ' . $subjmod);

                                            $ratval = $rating_record ? RatingCategoryValues::findFirstById($rating_record->rating_value) : '';
                                            $ratpts = $rating_record ? (($col->category_weightage * $ratval->rating_level_value) / 100) : 0;
                                            $totratpts = ( $rating_record && $totratpts > 0) ? ($totratpts + $ratpts) : ($rating_record ? $ratpts : '');
                                            ?>
                                            <td><?= $rating_record ? $ratpts : '' ?></td>
                                        <?php }
                                        ?>

                                        <td><?= $totratpts ?></td>
                                    <?php }
                                    ?>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>

                <?php } else { ?>
                    <div class="alert alert-block alert-danger fade in">No entries found for this combination</div> 
                <?php } ?>
            </div>
        </div>
    <?php } ?>
</section>
<script type="text/javascript">
    $('#subratrep').niceScroll();
    $(function () {
        $("#downloadExcelSubjRat").click(function () {
            var uri = $("#subratrepTable").battatech_excelexport({
                containerid: "subratrepTable"
                , datatype: 'table',
                returnUri: true,
                worksheetName: "<?= $classroomname ?>"
            });
            $(this).attr('download', 'SubjectRatingReport-<?= $division->rating_name ?>-<?= $selsubject->name ?>.xls').attr('href', uri).attr('target', '_blank');
        });
    });
</script> 
