
<script>//
//    var params = {
//        "masterid": "<?= $masterid ?>", "reptyp": "<?= $reptyp ?>"
//    }
//</script>
<section     class="panel main-panel" >
    <?php
    if ($error) {
        echo $error;
    } else {
        ?>
        <header style="padding: 0px 15px;">
            <span class=" wht-bg"> <h4 class="gen-case">Class Rating Report </h4></span>
            <?php if (count($category_paramaters) > 0) { ?>
                <span class="pull-right" style="margin-right: 15px;">
                    <!--                <a href="javascript:;" onclick="academicReportSettings.exampdf(params)">
                                        <i class="fa fa-print"></i> Print 
                                    </a>&nbsp; &nbsp; &nbsp;-->
                    <a href="javascript:;" id="downloadExcelClsRat">
                        <i class="fa fa-file-excel-o"></i> Excel
                    </a>
                </span>
            <?php } ?>
            <p class="text text-muted small"><?= $division->rating_name ?></p>
        </header>

        <div class="panel-body">
            <div class="sub-panel" id="clsratrep">
                <?php if (count($category_paramaters) > 0) { ?>
                    <table id="clsratrepTable"  class="table general-table table-bordered" border="1" style="padding: 20px;">
                        <thead class="thead_default">

                            <tr>
                                <th rowspan="2">Students</th>
                                <?php foreach ($category_paramaters as $col) { ?>

                                    <th class="notopborder"> <?= $col->category_name ?></th>
                                <?php } ?>
                                <th class="notopborder">Total</th>
                            </tr> 
                            <tr>
                                <?php
                                $totweit = 0;
                                foreach ($category_paramaters as $col) {
                                    $totweit +=$col->category_weightage;
                                    ?>
                                    <th class="nobottborder"> <label class="label label-success"><?= $col->category_weightage ?> Pts</label></th>
                                <?php } ?>
                                    <th class="nobottborder"><label class="label label-success"><?= $totweit ?></label></th>
                            </tr> 
                        </thead>
                        <tbody>
                            <?php
                            foreach ($students as $stu) {
                                $totratpts = 0;
                                ?>
                                <tr> 
                                    <td class="to-do-list col-md-3"  style="min-width:200px">  
                                        <?php
                                        if ($stu->photo) {
                                            ?>
                                            <span title='<?= $stu->Admission_no ?>' class='mini-stat-icon' style='cursor:default;' >
                                                <?php
                                                echo $this->tag->image(array(
                                                    "src" => $stu->photo ? (FILES_URI . $stu->photo) : ('images/user.jpg'),
                                                    'title' => " $stu->Admission_no ",
                                                    'style' => 'border-radius:50%',
                                                    'width' => '30px',
                                                    'height' => '30px'));
                                                ?>
                                            </span>
                                            <?php
                                        } else {
                                            ?>
                                            <span title= "<?= $stu->Admission_no ?>" class="mini-stat-icon tar " style="cursor:default;" >
                                                <?= substr($stu->Student_Name, 0, 1); ?></span>
                                        <?php }
                                        ?> 
                                        <span title= "<?= $stu->Student_Name . '(' . $stu->Admission_no . ')' ?>" 
                                              class="nameicon">
                                                  <?= strlen($stu->Student_Name) > 30 ? substr($stu->Student_Name, 0, 30) . "..." : $stu->Student_Name; ?>
                                        </span>
                                    </td>
                                    <?php
                                    foreach ($category_paramaters as $col) {
                                        $rating_record = StudentClassteacherRating::findfirst('student_id = ' . $stu->student_info_id
                                                        . ' and class_master_id IN ( ' . $sub_mas_id .')'
                                                        . ' and rating_category =' . $col->id
                                                        . ' and rating_division_id = ' . $rating_division_id);

                                        $ratval = $rating_record ? RatingCategoryValues::findFirstById($rating_record->rating_value) : '';
                                        $ratpts = $rating_record ? (($col->category_weightage * $ratval->rating_level_value) / 100) : 0;
                                        $totratpts += $ratpts;
                                        ?>
                                        <td><?= $rating_record ?$ratpts:'' ?></td>
                                    <?php } ?>
                                    <td><?= $totratpts ?></td>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>

                <?php } else { ?>
                    <div class="alert alert-block alert-danger fade in">No entries found for this combination</div> 
                <?php } ?>
            </div>
        </div>
    <?php } ?>
</section>
<script type="text/javascript">
    $('#clsratrep').niceScroll();
    $(function () {
        $("#downloadExcelClsRat").click(function () {
            var uri = $("#clsratrepTable").battatech_excelexport({
                containerid: "clsratrepTable"
                , datatype: 'table',
                returnUri: true,
                worksheetName: "<?= $classroomname ?>"
            });
            $(this).attr('download', 'ClassRatingReport-<?= $division->rating_name ?>.xls').attr('href', uri).attr('target', '_blank');
        });
    });
</script>
