
<section  class="panel main-panel" >
    <?php
    if ($error) {
        echo $error;
    } else {
        ?>
        <header style="padding: 0px 15px;">
            <span class=" wht-bg"> <h4 class="gen-case">Homeworks - <?= $selsubject->name ?></h4></span>
        </header>

     
    <div class="panel-body">
        <div class="sub-panel"  id="homewrkrep" >
            <?php
            if (count($homeworks) > 0) {    ?>
            <div class="calendar-hours">
                  <?php foreach ($homeworks as $homework) { ?>
                        <a href="#" class="calendar-hour calendar-hour-taken">
                            <strong class="cal-from"><?= date('d/m/Y',$homework->hmwrkdate) ?></strong>
                            <strong class="cal-to"><?= date('h:i A',$homework->hmwrkdate) ?></strong>
                            <h4><?=  (isset($homework->title)&& $homework->title!='')? $homework->title: '' ?></h4>
                            <em><?=  ( $homework->homework!='')? $homework->homework: '' ?></em>
                        </a>  
                 <?php } ?> 
                    </div>
            <?php } else { ?>
                <div class="alert alert-block alert-danger fade in">No entries found for this combination</div> 
    <?php } ?>
        </div>
    </div>
<?php } ?>
</section>
<script type="text/javascript">
    $('#homewrkrep').niceScroll();
</script>
