<?php
//echo $this->tag->stylesheetLink("css/appstyles/timeline/css/style.min.css");
echo $this->tag->stylesheetLink("css/appstyles/timeline/style.css");
echo $this->tag->stylesheetLink("css/appstyles/timeline/dayscroll/fonts/asset/dayscroll.css");

echo $this->tag->stylesheetLink("css/appstyles/reportnav.css");
echo $this->tag->javascriptInclude("js/appscripts/report/academicreport.js");
?>
<div class="row" style="min-height: 570px;max-height: 570px;overflow: hidden;  margin-right: -8px;">
    <div class="col-md-2" style="xpadding-left: 0;  padding-right: 0;xfloat: left">
        <div id="sidebar-left" class="span1" >
            <div class="nav-collapse sidebar-nav">

                <ul class="nav nav-tabs nav-stacked main-menu">
                    <?php
                    $i = 0;
                    if (!$errorMessage) {
                        foreach ($combinations as $key => $combival) {
                            if ($i == 0)
                                $masterid = $key;
                            ?>  
                            <li class="<?= $i > 0 ? '' : 'active' ?>">
                                <a href="javascript:;" 
                                   onclick="academicReportSettings.loadActivityList(<?= $key ?>)">
                                    <i class="fa fa-building pull-left"></i>
                                    <span class="hidden-tablet"> <?= $combival['name'] ?></span>
                                </a></li>	

                            <?php
                            $i++;
                        }
                    }
                    ?>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10 tile" style="padding: 0px;" >
        <div style=" padding-left: 0; padding-right: 0; max-height: 570px;overflow: hidden;" id="actDiv"> 
            <div style="padding-left:88px;padding-top:20px;">
                <i class="fa fa-spin fa-spinner" style="  padding: 90px; "></i> Loading please wait...
            </div>
        </div>
    </div>
</div>
<script>
    $("#sidebar-left").niceScroll();
    academicReportSettings.loadActivityList(<?= $masterid ?>)
</script>
