
<script>
    var params = {
        "masterid": "<?= $masterid ?>", "reptyp": "<?= $reptyp ?>",
        month: '<?= $month ?>', year: '<?= $year ?>'
    }
</script>

<section class="panel main-panel" >

    <header style="padding: 0px 15px;">
        <?php
        $actualmnt = $monthhead;
        $st = array_shift($actualmnt);
        ?>
        <span class=" wht-bg"> <h4 class="gen-case">Attendance Report<?= ($reptyp == 1) ? '(%)' : ' (days)' ?>  </h4></span>
         <p class="text text-muted small"><?= date('M Y', $st) ?></p>

       </header>


    <div class="panel-body">
         <span class="pull-right">
            <a href="javascript:;" onclick="academicReportSettings.loadAttendance(params)"><i class="fa fa-reply"></i> Back </a>&nbsp; &nbsp; &nbsp;
            <!--            <a href="javascript:;" onclick="academicReportSettings.attendanceDlyReportPrint(params)">
                            <i class="fa fa-print"></i> Print 
                        </a>&nbsp; &nbsp; &nbsp;-->
            <a href="javascript:;" id="downloadExcelDaily">
                <i class="fa fa-file-excel-o"></i> Excel
            </a></span>
        <?php if (count($legend) > 0): ?><p class="text text-muted small">Legend : <?= implode(' , ', $legend) ?></p> <?php endif; ?>
    
        <div class="sub-panel"  id="dlyrep">
            <table id="excelDailyTable" class="table general-table table-bordered" border="1" style="padding: 20px;">
                <thead class="thead_default">
                    <?php foreach ($result['thead'] as $row) { ?>
                        <tr>
                            <?php foreach ($row as $col) { ?>
                                <th colspan="<?= $col['colspan'] ?>" rowspan="<?= $col['rowspan'] ?>"> <?= $col['text'] ?> </th>
                            <?php } ?>
                        </tr> 
                    <?php } ?>
                </thead>
                <tbody>
                    <?php
                    foreach ($classStudents as $classStudent) {
                        $cnt = $totalper = 0;
                        $totalcnt = array();
                        ?>
                        <tr>
                            <td class="to-do-list col-md-3" style="min-width:200px"> 
                                <?php
                                if ($classStudent->photo) {
                                    ?>
                                    <span title='<?= $classStudent->Admission_no ?>' class='mini-stat-icon' style='cursor:default;' >
                                        <?php
                                        echo $this->tag->image(array(
                                            "src" => $classStudent->photo ? (FILES_URI . $classStudent->photo) : ('images/user.jpg'),
                                            'title' => " $classStudent->Admission_no ",
                                            'style' => 'border-radius:50%',
                                            'width' => '30px',
                                            'height' => '30px'));
                                        ?>
                                    </span>
                                    <?php
                                } else {
                                    ?>
                                    <span title= "<?= $classStudent->Admission_no ?>" class="mini-stat-icon tar " style="cursor:default;" >
                                        <?= substr($classStudent->Student_Name, 0, 1); ?></span>
                                <?php }
                                ?> 
                                <span title= "<?= $classStudent->Student_Name . '(' . $classStudent->Admission_no . ')' ?>" 
                                      class="nameicon">
                                    <?= strlen($classStudent->Student_Name) > 30 ? substr($classStudent->Student_Name, 0, 30) . "..." : $classStudent->Student_Name; ?>
                                </span>
                            </td>
                            <?php
                            if (count($monthhead) > 0) {
                                foreach ($monthhead as $hvalue) {
                                    if ($reptyp == 0) {
                                        if (count($valhead) > 0) {
                                            foreach ($valhead as $vvalue) {
//                                        print_r($hvalue);exit;
//                                           echo $classStudent->loginid.' - '.$hvalue.' - '.$vvalue.' - '.$dailyPercent[$classStudent->loginid][$hvalue][$vvalue].'<br>';
                                                $noofperiods = PeriodMaster::find('LOCATE(node_id,"' . str_replace(',', '-', $classStudent->aggregate_key) . '" )' . " and user_type = 'student'");
                                                $valcnt = $dailyPercent[$classStudent->loginid][$hvalue][$vvalue] ? ($dailyPercent[$classStudent->loginid][$hvalue][$vvalue] / $noofperiods) : '';
                                                $cnt = $valcnt ? $valcnt : 0;
                                                $totalcnt[$vvalue] = $totalcnt[$vvalue] ? ($totalcnt[$vvalue] + $cnt) : $cnt;
                                                ?>
                                                <td><?= $valcnt; ?></td>
                                                <?php
                                            }
                                        }
                                    } else {
                                        $cnt = ($dailyPercent[$classStudent->loginid][$hvalue]['percent'] === '') ? $cnt : ($cnt + 1);
                                        $totalper += $dailyPercent[$classStudent->loginid][$hvalue]['percent'];
                                        ?>
                                        <td><?= $dailyPercent[$classStudent->loginid][$hvalue]['percent']; ?></td>
                                        <?php
                                    }
                                }
                            }
                            ?><?php
                            if ($reptyp == 0) {
                                if (count($valhead) > 0) {
                                    foreach ($valhead as $vvalue) {
                                        ?>
                                        <td><?= $totalcnt[$vvalue] ?></td>
                                        <?php
                                    }
                                }
                            } else {
                                ?>
                                <td><?= ($cnt > 0) ? (round(($totalper / $cnt))) : 0; ?></td>
                            <?php }
                            ?>
                        </tr>
                    <?php } ?>

                </tbody>
            </table>
        </div>
    </div>
</section>


<script type="text/javascript">
    $('#dlyrep').niceScroll();
    $(function () {
        $("#downloadExcelDaily").click(function () {
            var uri = $("#excelDailyTable").battatech_excelexport({
                containerid: "excelDailyTable"
                , datatype: 'table',
                returnUri: true,
                worksheetName: "<?= classroomname ?>"
            });
            $(this).attr('download', 'AttendanceReport<?= ($reptyp == 1) ? '(%)' : '(days)' ?>-<?= date('M Y', $st) ?>.xls').attr('href', uri).attr('target', '_blank');
        });
    });
</script>
