
<!--<script>
    var params = {
        "masterid": "<?= $masterid ?>", "reptyp": "<?= $reptyp ?>"
    }
</script>-->
<section   class="panel main-panel" >
    <?php
    if ($error) {
        echo $error;
    } else {
        ?>
        <header style="padding: 0px 15px;">
            <span class=" wht-bg"> <h4 class="gen-case">Mainexam Report </h4></span>
            <?php if (!empty($sub_mas_id)) { ?>
            <span class="pull-right" style="margin-right: 15px;">
<!--                <a href="javascript:;" onclick="academicReportSettings.exampdf(params)">
                    <i class="fa fa-print"></i> Print 
                </a>&nbsp; &nbsp; &nbsp;-->
                <a href="javascript:;" id="downloadExcelExam">
                    <i class="fa fa-file-excel-o"></i> Excel
                </a>
            </span>
           <?php } ?>
            <p class="text text-muted small"><?= $exam->exam_name .' ('.$exam->examCode.')' ?></p>
        </header>


        <div class="panel-body">
            <div class="sub-panel"   id="exrep">
            <?php
            if (!empty($sub_mas_id)) {

                $exist = OrganizationalStructureValues::find(array('columns' => 'group_concat(parent_id) as pids',
                            ' id IN ( ' . implode(',', $subject_id) . ')'));
                $res = MarkController::get_rowvalinputforreport($mainExId, $subject_id);
                $exp = $res[1][0];
                foreach ($exp as $nodes) {
                    $ressb[] = MarkController::gteSubjectsInOrder($nodes);
                }
//echo '<pre>'.$sub_mas_id;print_r($ressb);exit;
                ?>
                <table id="mainexTable" class="table general-table table-bordered" border="1">
                    <thead class="thead_default">
                      
                            <?=  '<tr><th rowspan="' . $res[3] . '">Students</th>'.substr($res[0], '4') ?>  
                    </thead>
                    <tbody>
                        <?php
                        if (count($students) > 0) {
                            foreach ($students as $stu) {
                                ?>
                                <tr> 
                                    <td class="to-do-list col-md-3"  style="min-width:200px">  
                                        <?php
                                        if ($stu->photo) {
                                            ?>
                                            <span title='<?= $stu->Admission_no ?>' class='mini-stat-icon' style='cursor:default;' >
                                                <?php
                                                echo $this->tag->image(array(
                                                    "src" => $stu->photo ? (FILES_URI . $stu->photo) : ('images/user.jpg'),
                                                    'title' => " $stu->Admission_no ",
                                                    'style' => 'border-radius:50%',
                                                    'width' => '30px',
                                                    'height' => '30px'));
                                                ?>
                                            </span>
                                            <?php
                                        } else {
                                            ?>
                                            <span title= "<?= $stu->Admission_no ?>" class="mini-stat-icon tar " style="cursor:default;" >
                                                <?= substr($stu->Student_Name, 0, 1); ?></span>
                                        <?php }
                                        ?> 
                                        <span title= "<?= $stu->Student_Name . '(' . $stu->Admission_no . ')' ?>" 
                                              class="nameicon">
                                                  <?= strlen($stu->Student_Name) > 30 ? substr($stu->Student_Name, 0, 30) . "..." : $stu->Student_Name; ?>
                                        </span>
                                    </td>
                                    <?php
                                    echo MarkController::find_childtreevalinputforreport($ressb, array($stu->student_info_id, $mainExId, $sub_mas_id));
                                    ?> 
                                </tr>
                            <?php
                            }
                        }
                        ?>
                    </tbody>
                </table>
            <?php } else { ?>
                <div class="alert alert-block alert-danger fade in">No entries found for this combination</div> 
    <?php } ?>
        </div>
</div>
<?php } ?>
</section>
<script type="text/javascript">
    $('#exrep').niceScroll();
    $(function () {
        $("#downloadExcelExam").click(function () {
            var uri = $("#mainexTable").battatech_excelexport({
                containerid: "mainexTable"
                , datatype: 'table',
                returnUri: true,
                worksheetName:"<?= $classroomname ?>"
            });
            $(this).attr('download', '<?= $exam->exam_name ?>Report.xls').attr('href', uri).attr('target', '_blank');
        });
    });
</script>