
<script>//
//    var params = {
//        "masterid": "<?= $masterid ?>", "reptyp": "<?= $reptyp ?>"
//    }
//</script>
<section  class="panel main-panel" >
    <?php
    if ($error) {
        echo $error;
    } else {
        ?>
        <header style="padding: 0px 15px;">
            <span class=" wht-bg"> <h4 class="gen-case">Assignment Report</h4></span>
            <?php if (!empty($sub_mas_id) && count($ass) > 0) { ?>
                <span class="pull-right" style="margin-right: 15px;">
                    <!--                <a href="javascript:;" onclick="academicReportSettings.exampdf(params)">
                                        <i class="fa fa-print"></i> Print 
                                    </a>&nbsp; &nbsp; &nbsp;-->
                    <a href="javascript:;" id="downloadExcelAss">
                        <i class="fa fa-file-excel-o"></i> Excel
                    </a>
                </span>
            <?php } ?>
            <p class="text text-muted small"><?= $selsubject->name ?></p>
        </header>

        <div class="panel-body"> 
            <div class="sub-panel" id="assrep">
                <?php
                if (!empty($sub_mas_id) && count($ass) > 0) {

                    $exist = OrganizationalStructureValues::find(array('columns' => 'group_concat(parent_id) as pids',
                                ' id IN ( ' . implode(',', $subject_id) . ')'));

                    $res = MarkController::loadHeaderForAssignment($sub_mas_id, $subject_id);
//                print_r($res);exit;

                    $rowhead = $res[0];
                    $exp = $res[1][0];
                    foreach ($exp as $nodes) {
                        $ressb[] = MarkController::gteSubjectsInOrder($nodes);
                    }
                    $lastroe = count($rowhead);
                    $extrowhead = MarkController::findAsslistforreport($ressb, $rowhead, $sub_mas_id, $lastroe);
                    $icolumn['text'] = 'Students';
                    $icolumn['rowspan'] = count($extrowhead);
                    $icolumn['colspan'] = '';
                    $prehead[] = $icolumn;
                    $rowone = array_merge($prehead, $extrowhead[0]);
                    array_shift($extrowhead[0]);
                    $extrowhead[0] = $rowone;
//                echo '<pre>'; print_r($extrowhead);   exit;
//                echo '<pre>' . $sub_mas_id; print_r($ressb);   exit;
                    ?>
                    <table id="assrepTable"  class="table general-table table-bordered" border="1" style="padding: 20px;">
                        <thead class="thead_default">
                            <?php foreach ($extrowhead as $row) { ?>
                                <tr>
                                    <?php foreach ($row as $col) { ?>
                                        <th class="<?= $col['class'] ?>"  colspan="<?= $col['colspan'] ?>" rowspan="<?= $col['rowspan'] ?>"><?= $col['text'] ?></th> 
                                    <?php } ?>
                                </tr>
                            <?php } ?> 
                        </thead>
                        <tbody>
                            <?php
                            foreach ($students as $stu) {
                                ?>
                                <tr> 
                                    <td class="to-do-list col-md-3"  style="min-width:200px">  
                                        <?php
                                        if ($stu->photo) {
                                            ?>
                                            <span title='<?= $stu->Admission_no ?>' class='mini-stat-icon' style='cursor:default;' >
                                                <?php
                                                echo $this->tag->image(array(
                                                    "src" => $stu->photo ? (FILES_URI . $stu->photo) : ('images/user.jpg'),
                                                    'title' => " $stu->Admission_no ",
                                                    'style' => 'border-radius:50%',
                                                    'width' => '30px',
                                                    'height' => '30px'));
                                                ?>
                                            </span>
                                            <?php
                                        } else {
                                            ?>
                                            <span title= "<?= $stu->Admission_no ?>" class="mini-stat-icon tar " style="cursor:default;" >
                                                <?= substr($stu->Student_Name, 0, 1); ?></span>
                                        <?php }
                                        ?> 
                                        <span title= "<?= $stu->Student_Name . '(' . $stu->Admission_no . ')' ?>" 
                                              class="nameicon">
                                                  <?= strlen($stu->Student_Name) > 30 ? substr($stu->Student_Name, 0, 30) . "..." : $stu->Student_Name; ?>
                                        </span>
                                    </td>
                                    <?php
                                    foreach ($extrowhead[count($extrowhead) - 2] as $tst):
                                        $stumark = $tst['testid'] ? AssignmentMarks::findFirst('assignment_id = ' . $tst['testid']
                                                        . ' and student_id =' . $stu->student_info_id) : '';
                                        ?>
                                        <td><?= $stumark ? $stumark->marks : '' ?> </td>  
                                    <?php endforeach; ?>
                                </tr>
                            <?php } ?>
                        </tbody>
                    </table>

                <?php } else { ?>

                    <div class="alert alert-block alert-danger fade in">No entries found for this combination</div> 
                <?php } ?>
            </div>
        </div>
    <?php } ?>
</section>
<script type="text/javascript">
    $('#assrep').niceScroll();
    $(function () {
        $("#downloadExcelAss").click(function () {
            var uri = $("#assrepTable").battatech_excelexport({
                containerid: "assrepTable"
                , datatype: 'table',
                returnUri: true,
                worksheetName: "<?= $classroomname ?>"
            });
            $(this).attr('download', 'AssignmentReport-<?= $selsubject->name ?>.xls').attr('href', uri).attr('target', '_blank');
        });
    });
</script>