
<body class="login-page">
    <!--Page Container Start Here-->
    <section class="login-container boxed-login">
        <div class="container">
            <?php echo $this->getContent(); ?>
        </div>
        <!--Footer Start Here -->
        <footer class="login-page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                        <div class="footer-content">
                            <span class="footer-meta">@edusparrow team</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Footer End Here -->
    </section>
</body><!--EOF:page-->
