
<html>
    <head>
        
        <?php 
                            echo $this->tag->stylesheetLink("css/bootstrap.min.css");
                            echo $this->tag->stylesheetLink("css/bootstrap-reset.css");
                            echo $this->tag->stylesheetLink("font-awesome/css/font-awesome.css");
                            echo $this->tag->stylesheetLink("font-awesome/css/font-awesome.min.css");
                            echo $this->tag->stylesheetLink("css/style.css"); 
                            echo $this->tag->stylesheetLink("css/edustyle.css");?>
    </head>

        
<body class="html front not-logged-in one-sidebar sidebar-first page-node " style=""> <div id="page">
<table border="0" cellspacing="0" width="530" style="color:#262626;background-color:#fff;
       padding:27px 30px 20px 30px;margin:auto; border:1px solid #e1e1e1;
background-color: #009F9A;
font-size: 12px;
color: #EFE9E9;
text-align: left;">
    <tbody>
        <tr>
            <td>
                
<div class="container-fluid">
    <div align="center">
        <div id="loginlogo"><?php echo $this->tag->image("images/loginlogo.png") ?></div>
    </div>
    <br>
    <div class="row-fluid">
        <div class="col-md-6">
            <div id="banner">
                <div id="loginimg"><?php echo $this->tag->image(array("images/loginimg1.png", "style" => "width:200px;height:200px;")) ?></div>

            </div>
        </div>
        <?php echo $this->getContent(); ?>
    </div>
</div>



            </td>
        </tr>
    </tbody>
</table>
    
        </div>
</html>