<?php
$identity = $this->auth->getIdentity();
$edulogo_url = "images/logo.png";
$roleMenuIds = $menuIDs = array();
foreach ($identity['role_name'] as $role) {
    $roleMenu = RoleMenuResource::findFirst('role_name LIKE "' . $role . '"') ?
            RoleMenuResource::find('role_name LIKE "' . $role . '"') : '';
    foreach ($roleMenu as $value) {
        if ($value->id)
            $roleMenuIds[] = $value->menu_resid;
    }
}
$menuIDs = array_unique($roleMenuIds);

$name = "Admin";
$photo_url = "<span class='mini-stat-icon tar ' style='width: 30px !important;
height: 30px !important;
line-height: 30px !important;
font-size: 16px !important;'>SA</span>";

if (in_array("Staff", $identity['role_name'])) {
    $record = StaffInfo::findfirst('loginid = "' . $identity['name'] . '"');
    $name = $record->Staff_Name;

    //Get the photo from StaffGeneralMaster
    $staff_profile = StaffGeneralMaster::findfirst('staff_id = ' . $record->id);
    if ($staff_profile) {
        $photo_url = $this->tag->image(FILES_URI . $staff_profile->photo);
    } else {
      $photo_url = "<span class='mini-stat-icon tar ' style='width: 30px !important;
height: 30px !important;
line-height: 30px !important;
font-size: 16px !important;'  >".
                                        substr($record->Staff_Name, 0, 1)."</span>";
    }
}else{
    if (in_array("Student", $identity['role_name'])|| in_array("Parent", $identity['role_name'])) {
    //Get the photo from StaffGeneralMaster
    $stu_profile = (in_array("Parent", $identity['role_name']))?
                StudentInfo::findFirstByParentLoginid($identity['name']):
             StudentInfo::findFirstByLoginid($identity['name']);
    $student_pro = StudentGeneralMaster::findfirst('student_id = ' . $stu_profile->id);
   
    $name = (in_array("Parent", $identity['role_name']))?$stu_profile->Student_Name.'’s Parent':$stu_profile->Student_Name;
    if ($student_pro) {
        $photo_url = $this->tag->image(FILES_URI . $student_pro->photo);
    } else {
        $photo_url = "<span class='mini-stat-icon tar ' style='width: 30px !important;
height: 30px !important;
line-height: 30px !important;
font-size: 16px !important;'  >".
                                        substr($stu_profile->Student_Name, 0, 1)."</span>";
    }
}
}
//Unread INBOX count
        $inbox_unread = count(MailsUsers::find('user_id = "' . $identity['name'] . '" and folder = "INBOX" and unread = 1'));
?>
<body class="home level-0 loaded scrollable animating preview-sport main-nav-closed">
    <!-- page start-->
    <div class="row hide">
        <div class="col-md-12">
            <!--modal start-->
            <section class="panel">
                <header class="panel-heading">
                    Confirm , Message & Alert Box
                </header>
                <div class="panel-body">
                    <a class="btn btn-success" data-toggle="modal" href="#formModal" id="modalForm">
                        Dialog
                    </a>
                    <a class="btn btn-warning" data-toggle="modal" href="#ConfirmModal" id="confirmMsg">
                        Confirm
                    </a>
                    <a class="btn btn-danger" data-toggle="modal" href="#messageBoxModal" id="messageBox">
                        Alert !
                    </a>


                </div>
            </section>
            <!--modal end-->
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title  formBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body  formBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button"  id="confirm_close">Close</button>
                    <button class="btn btn-success" type="button" id="confirm_save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->

    <!-- Confirm Modal -->
    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title cnfBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body cnfBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="confirm_no">Cancel</button>
                    <button class="btn btn-warning" type="button" id="confirm_yes"> Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirm Modal -->

    <!-- Modal -->
    <div class="modal fade" id="messageBoxModal" tabindex="-1" role="dialog" aria-labelledby="messageBoxModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title msgBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body msgBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal" id="msg_ok">  Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
    <section id="container">
        <header class="header fixed-top clearfix">
            <?php $app_setting_variable = Settings::findFirstByVariableName('app_settings')->variableValue;
            
                            $set_addr_variable = Settings::findFirstByVariableName('settings_completed'); ?>
            <!--logo Start-->   
            <div class="brand">
                <a href="<?php echo $this->url->get('index/index') ?>" class="logo"><?php echo $this->tag->image($edulogo_url) ?></a>
                <?php if ($app_setting_variable == "yes" && !(in_array("Student", $identity['role_name'])|| in_array("Parent", $identity['role_name']))): ?>    
                    <div class="sidebar-toggle-box">
                        <div class="trigger fa fa-bars" id="trigger"></div>
                    </div>
                <?php endif; ?>
            </div>
            <!--logo end-->
            <?php if ($app_setting_variable == "yes"): ?>    
                <div id="top_menu" class="nav notify-row">
                    <!--  notification start -->
                    <ul id="msgicon" class="nav top-menu">
                        <!-- inbox dropdown start-->
                        <li class="dropdown" id="header_inbox_bar">
                            <a href="<?php echo $this->url->get('mail/index') ?>">
                                <i class="fa fa-envelope"></i>
                                <span id = "header_unread_count" class="badge bg-important"><?php if($inbox_unread>0){ echo $inbox_unread; } ?></span>
                            </a>

                        </li>
                    </ul>

                            <!--  notification end -->
                            </div>
                        <?php endif; ?>
                        <?php if ($identity['role_name'][0] != 'Guests'): ?>
                            <div class="top-nav clearfix">
                                <!--search & user info start-->
                                <ul class="nav pull-right top-menu">                               
                                    <!-- user login dropdown start-->
                                    <li class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                            <?php echo $photo_url ?>
                                            <span class="username"><?= $name ?></span>
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu extended logout">
                                            <!--<li><a href=""><i class=" fa fa-suitcase"></i>Profile</a></li>-->
                                            <li><a href="javascript:void(0)"
                                                   onclick="commonSettings.changePass()"><i class="fa fa-cog"></i> Settings</a></li>
                                            <li><?php echo Phalcon\Tag::linkTo('users/logout', '<i class="fa fa-key"></i>Logout') ?></li>
                                        </ul>
                                    </li>

                                    <!-- user login dropdown end -->
                                </ul>
                                <!--search & user info end-->

                                <?php if ($app_setting_variable != "yes" && $set_addr_variable->variableValue == 'yes'): ?> 
                                    <a href="<?php echo $this->url->get('index') ?>" class="btn btn-round btn-default pull-right" type="button">
                                        <i class="fa fa-mail-reply"></i> Back to settings</a> 
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>

                        </header>
                        <!--header end-->
                        <?php
                        if ($app_setting_variable == "yes") {


                            if ($set_addr_variable->variableValue == "yes" && !(in_array("Student", $identity['role_name'])|| in_array("Parent", $identity['role_name']))){
                                ?>
                                <aside>
                                    <div id='main-nav-bg'></div>
                                    <nav id='main-nav' class="leftside-navigation">
                                        <div class='navigation'>
                                            <ul class='nav nav-stacked'>  
                                                <li>
                                                    <a class="active" href="<?php echo $this->url->get('index/index') ?>">
                                                        <i class="fa fa-dashboard"></i>
                                                        <span>&nbsp;&nbsp;Dashboard</span>
                                                    </a>
                                                </li>
                                                <?php
                                                $menu_resources = MenuResources::find(array('parent_res_id=0 and menu_status=1',
                                                            'order' => 'menu_order Asc'));
                                                foreach ($menu_resources as $menu):
                                                    if (in_array($menu->id, $menuIDs)):
                                                        ?>
                                                        <li class=''>
                                                            <a class='dropdown-collapse ' href="javascript:;">
                                                                <i class="<?= $menu->menu_icon ?>"></i>
                                                                <span><?= $menu->res_name ?></span>
                                                            </a>
                                                            <ul class="nav nav-stacked">
                                                                <?php
                                                                $Sub_menu_resources = MenuResources::find(array('parent_res_id=' . $menu->id
                                                                            . ' and menu_status=1',
                                                                            'order' => 'menu_order Asc'));
                                                                foreach ($Sub_menu_resources as $submenu):
                                                                    if (in_array($submenu->id, $menuIDs)):
                                                                        ?>
                                                                        <li><a href="<?php echo $this->url->get($submenu->controller . '/' . $submenu->action) ?>">
                                                                                <?= $submenu->res_name ?></a></li> 
                                                                        <?php
                                                                    endif;
                                                                endforeach;
                                                                ?>
                                                            </ul>
                                                        </li>	
                                                        <?php
                                                    endif;
                                                endforeach;
                                                ?>
                                            </ul>
                                        </div>
                                    </nav>
                                </aside>
                                <?php
                            }
                        }
                        ?>


                        <!--main content start-->
                        <section id="main-content" <?php if ($set_addr_variable->variableValue != "yes"): ?> class="merge-left"<?php endif; ?> class="merge-left">

                            <section id='content'>
                                <section class="wrapper">
 <div class="row">
    <div class="col-sm-3 mail-sidenav">
        <section class="panel">
            <div class="panel-body">
                <a href="javascript:;" onclick="lookupSettings.load_composeportion()" class="btn btn-compose">
                    Compose Mail
                </a>
                <ul class="nav nav-pills nav-stacked mail-nav">
                    <li id = "INBOX" class="active"><a href="<?php echo $this->url->get('mail/index') ?>"> <i class="fa fa-inbox"></i> Inbox  
                    <span id = 'unread_count' class="label label-danger pull-right inbox-notification"><?php if($inbox_unread>0){ echo $inbox_unread; }?></span></a></li>
                    <li id = "SENTMAIL"><a href="javascript:;" onclick="mailSettings.load_sentmailportion()"> <i class="fa fa-envelope-o"></i> Sent Mail</a></li>
                    <li id = "IMPORTANT"><a href="javascript:;" onclick="mailSettings.load_importantmailportion()"> <i class="fa fa-star"></i> Important</a></li>
                    
                    <!--<li><a href="#"> <i class="fa fa-trash-o"></i> Trash</a></li>-->
                </ul>
            </div>
        </section>

    </div>
     <div id="mail_content">
                                    <!-- page start-->
                                    <?php echo $this->getContent(); ?>
     </div>
 </div>
                                </section>
                            </section>

                        </section>
                        <!--main content end-->


                        </section>

                        </body>
