<?php
$identity = $this->auth->getIdentity();
$edulogo_url = "images/logo.png";
$roles = implode(', ', $identity['role_name']);
$name = "Admin";
$photo_url = "<span class='mini-stat-icon tar martop6' style='width: 30px !important;
height: 30px !important;
line-height: 30px !important;
font-size: 16px !important;'></span>";

//print_r($identity['role_name']);

if (in_array("Staff", $identity['role_name'])) {
    $record = StaffInfo::findfirst('loginid = "' . $identity['name'] . '"');
    $name = $record->Staff_Name;

    //Get the photo from StaffGeneralMaster
    $staff_profile = StaffGeneralMaster::findfirst('staff_id = ' . $record->id);
    if ($staff_profile) {
        $photo_url = $this->tag->image(FILES_URI . $staff_profile->photo);
    } else {
        $photo_url = "<span class='mini-stat-icon tar martop6'>" .
                substr($record->Staff_Name, 0, 1) . "</span>";
    }
} else {
    if (in_array("Student", $identity['role_name']) || in_array("Parent", $identity['role_name'])) {
        //Get the photo from StaffGeneralMaster
        $stu_profile = (in_array("Parent", $identity['role_name'])) ?
                StudentInfo::findFirstByParentLoginid($identity['name']) :
                StudentInfo::findFirstByLoginid($identity['name']);
        // $student_pro = StudentGeneralMaster::findfirst('student_id = ' . $stu_profile->id);
        $name = (in_array("Parent", $identity['role_name'])) ? $stu_profile->Student_Name . '’s Parent' : $stu_profile->Student_Name;
        if ($stu_profile->photo) {
            $photo_url = $this->tag->image(FILES_URI . $stu_profile->photo);
        } else {
            $photo_url = "<span class='mini-stat-icon tar '  >" .
                    substr($stu_profile->Student_Name, 0, 1) . "</span>";
        }
    }
}
$modules = $this->moduleEnabled->getAllModulesActivated();
//Unread INBOX count
?>
<body class="leftbar-view">
    <!-- page start-->
    <div class="row hide">
        <div class="col-md-12">
            <!--modal start-->
            <section class="panel">
                <header class="panel-heading">
                    Confirm , Message & Alert Box
                </header>
                <div class="panel-body">
                    <a class="btn btn-success" data-toggle="modal" href="#formModal" id="modalForm">
                        Dialog
                    </a>
                    <a class="btn btn-warning" data-toggle="modal" href="#ConfirmModal" id="confirmMsg">
                        Confirm
                    </a>
                    <a class="btn btn-danger" data-toggle="modal" href="#messageBoxModal" id="messageBox">
                        Alert !
                    </a>


                </div>
            </section>
            <!--modal end-->
        </div>
    </div>
    <!-- Modal -->

    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="iconclose">&times;</button>
                    <h4 class="modal-title  formBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body  formBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button"  id="confirm_close">Close</button>
                    <button class="btn btn-success" type="button" id="confirm_save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->

    <!-- Confirm Modal -->
    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title cnfBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body cnfBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="confirm_no">Cancel</button>
                    <button class="btn btn-warning" type="button" id="confirm_yes"> Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirm Modal -->

    <!-- Modal -->
    <div class="modal fade" id="messageBoxModal" tabindex="-1" role="dialog" aria-labelledby="messageBoxModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title msgBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body msgBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal" id="msg_ok">  Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->

    <!-- header -->
    <header class="topbar clearfix">
        <!--Top Search Bar Start Here-->
        <!--        <div class="top-search-bar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="search-input-addon">
                                    <span class="addon-icon"><i class="zmdi zmdi-search"></i></span>
                                    <input type="text" class="form-control top-search-input" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
        <!--Top Search Bar End Here-->
        <!--Topbar Left Branding With Logo Start-->
        <div class="topbar-left pull-left">
            <div class="clearfix">
                <ul class="left-branding pull-left clickablemenu ttmenu dark-style menu-color-gradient">
                    <li>
                        <div class="logo" >
                            <a href="javascript:;" title="Edusparrow">
                                <img src="<?=  $this->url->get('images/logo_primary.png') ?>"  class="pull-left" 
                                     alt="logo" style="height: 50%;">
                                <h3 style="vertical-align: middle">Edusparrow - Onboard interface</h3>
                            </a>

                        </div>
                    </li>
                </ul>
                <!--Mobile Search and Rightbar Toggle-->
                <ul class="branding-right pull-right">
                    <li><a href="#" class="btn-mobile-bar"><i class="zmdi zmdi-format-align-left"></i></a></li>
                </ul>
            </div>
        </div>
        <!--Topbar Left Branding With Logo End-->
        <!--Topbar Right Start-->
        <div class="topbar-right pull-right">
            <div class="clearfix">
                <ul class="pull-right top-right-icons">
                    <li class="dropdown more-dropdown topbar-logged-user"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <?php echo $photo_url ?>
                        </a>
                        <div class="dropdown-menu more-apps">
                            <div class="user-profile-container">
                                <div class="user-profile clearfix">
                                    <div class="admin-user-thumb">
                                        <?php echo $photo_url ?>
                                    </div>
                                    <div class="admin-user-info">
                                        <ul>
                                            <li><a href="#"><?= $name ?></a></li>
                                            <li><a href="#">
                                                    <?= strlen($roles) > 35 ? substr($roles, 0, 35) . "..." : $roles; ?>
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                           <ul class="more-apps">
 <li><a href="<?= $this->url->get('users/logout') ?>">Logout<span class="pull-right"><i class="zmdi zmdi-power"></i></span></a></li>
                                <li><a href="#">Change password<span class="pull-right"><i class="zmdi zmdi-settings"></i></span></a></li>

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--Topbar Right End-->
    </header>


    <!-- body wrapper -->
    <section id="main-container">
        <section id='content'>
            <!-- page start-->
            <?php echo $this->getContent(); ?>
            </section>
    </section>

    <!-- footer wrapper -->
</body>
