<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Print</title>
        <style type="text/css">

            .panel{
                text-align: center; width: 100%
            }
            div.A4{
                /*                               width:21cm;
                                                height:29.7cm;
                                                margin: 0;*/
            }
            .logo{
                margin-left: auto;
                margin-right: auto;
                width: 40em;
            }
            .logo span{
                position: relative;font-size:22px;word-break: break-word;
            }
            .heading-print {
                padding: auto;
                font-size: 20px;
                font-weight: 400;
            }
            th{
                text-align: center;
                border: 1px solid !important;    
                padding: 2px !important;
            }
            td:first-child{
                border-left:  1px solid !important;     
            }
            td{
                /*padding: 8px 9px;*/
                /*                border-right: 1px solid !important;  
                                border-bottom: 1px solid !important; */
                border: 1px solid !important;
                padding: 2px !important;
            }
            .header-align{
                text-align: center; width: 100%
            }
            @media print
            {
                div#print-body-wrapper{
                    page-break-after: avoid;
                    /*page-break-inside: avoid;*/
                }
                body, div {
                    position: relative;
                }
                .page-break { page-break-inside: avoid; page-break-before: always;
                              -webkit-page-break-before: always;
                              -webkit-region-break-before: always; 
                }
                div.divFooter {
                    position: fixed;
                    bottom: 0;
                }

                tr {
                    page-break-inside: avoid;
                    break-inside: avoid;
                    -webkit-page-break-inside: avoid; 
                    -webkit-region-break-inside: avoid; 
                }
            }
            table thead th{
                padding-top: 4px !important;  
                padding-bottom: 4px !important;
                padding-left: 2px !important;
                padding-right: 2px !important;
                color: #444 !important;
                /*font-size: 9px;*/
            }
            table tbody td{
                padding-top: 4px !important;  
                padding-bottom: 4px !important;
                padding-left: 2px !important;
                padding-right: 2px !important;
                color: #444;
                /*font-size: 9px;*/
            }
            @media print{
                .header-align{
                    text-align: center; width: 100%
                }
                /*                html,body{
                                    width: 210mm;
                                    height: 297mm;
                                }*/
            }
        </style>
        <?php
        echo $this->tag->stylesheetLink("css/style.css");
        echo $this->tag->stylesheetLink("css/bootstrap.min.css");
        echo $this->tag->stylesheetLink("css/bootstrap-reset.css");


        echo $this->tag->stylesheetLink("font-awesome/css/font-awesome.css");
        echo $this->tag->stylesheetLink("font-awesome/css/font-awesome.min.css");
        echo $this->tag->javascriptInclude("js/jquery.js");
        echo $this->tag->javascriptInclude("js/jquery-ui.js");
        ?>
    </head>
    <body style="overflow: auto;" >
        <?php $schoolinfo = ControllerBase::_getSchoolVariables(); ?>
        <!--<input  onclick="Print();" type="button" value="print" id="print" class="btn btn-success" />-->
        <div class="col-md-12" >
            <section class="panel " >
                <div class="heading-print">
                       <?= $schoolinfo['school_name'] ?>
                </div>
               <!-- <div class="heading-print">  
                    <div id="logo" class="logo"> 
                        <?php
                        echo $this->tag->image(array(
                            "src" => $schoolinfo['school_logo'] ? (FILES_URI . $schoolinfo['school_logo']) : '',
                            'style' => 'float:left;min-width:75px;',
                            'height' => '75px'));
                        ?>
                        <span>

                            <?= $schoolinfo['school_name'] ?>
                            <?php
                            $addrlen = strlen($schoolinfo['school_address']);
                            if ($addrlen < 30) {
                                $schooladdr = $schoolinfo['school_address'];
                            } else {
                                $width = strlen($schoolinfo['school_address']) / 2;
                                $schooladdr = wordwrap($schoolinfo['school_address'], $width);
                            }
                            ?>
                            <p style="position: relative; font-size: 12px;"><?= $schooladdr ?></p>
                        </span>
                    </div> !-->

                </div>
                <div class="panel-body">  
                    <?php echo $this->getContent(); ?>
                </div>
            </section>
        </div><!--end page-->

        <script>
            function Print() {

                window.print();
            }
            Print();
        </script>
    </body>

</html>
