<?php
$identity = $this->auth->getIdentity();
$edulogo_url = "images/logo.png";

$name = "Admin";
$photo_url = "<span class='mini-stat-icon tar ' style='width: 30px !important;
height: 30px !important;
line-height: 30px !important;
font-size: 16px !important;'>SA</span>";

//print_r($identity['role_name']);

if (in_array("Staff", $identity['role_name'])) {
    $record = StaffInfo::findfirst('loginid = "' . $identity['name'] . '"');
    $name = $record->Staff_Name;

    //Get the photo from StaffGeneralMaster
    $staff_profile = StaffGeneralMaster::findfirst('staff_id = ' . $record->id);
    if ($staff_profile) {
        $photo_url = $this->tag->image(FILES_URI . $staff_profile->photo);
    } else {
        $photo_url = "<span class='mini-stat-icon tar ' style='width: 30px !important;
height: 30px !important;
line-height: 30px !important;
font-size: 16px !important;'  >" .
                substr($record->Staff_Name, 0, 1) . "</span>";
    }
} else {
    if (in_array("Student", $identity['role_name']) || in_array("Parent", $identity['role_name'])) {
        //Get the photo from StaffGeneralMaster
        $stu_profile = (in_array("Parent", $identity['role_name'])) ?
                StudentInfo::findFirstByParentLoginid($identity['name']) :
                StudentInfo::findFirstByLoginid($identity['name']);
        // $student_pro = StudentGeneralMaster::findfirst('student_id = ' . $stu_profile->id);
        $name = (in_array("Parent", $identity['role_name'])) ? $stu_profile->Student_Name . '’s Parent' : $stu_profile->Student_Name;
        if ($stu_profile->photo) {
            $photo_url = $this->tag->image(FILES_URI . $stu_profile->photo);
        } else {
            $photo_url = "<span class='mini-stat-icon tar ' style='width: 30px !important;
height: 30px !important;
line-height: 30px !important;
font-size: 16px !important;'  >" .
                    substr($stu_profile->Student_Name, 0, 1) . "</span>";
        }
    }
}
       $modules = $this->moduleEnabled->getAllModulesActivated();
//Unread INBOX count
?>
<body class="home level-0 loaded scrollable animating preview-sport main-nav-closed">
    <!-- page start-->
    <div class="row hide">
        <div class="col-md-12">
            <!--modal start-->
            <section class="panel">
                <header class="panel-heading">
                    Confirm , Message & Alert Box
                </header>
                <div class="panel-body">
                    <a class="btn btn-success" data-toggle="modal" href="#formModal" id="modalForm">
                        Dialog
                    </a>
                    <a class="btn btn-warning" data-toggle="modal" href="#ConfirmModal" id="confirmMsg">
                        Confirm
                    </a>
                    <a class="btn btn-danger" data-toggle="modal" href="#messageBoxModal" id="messageBox">
                        Alert !
                    </a>


                </div>
            </section>
            <!--modal end-->
        </div>
    </div>
    <!-- Modal -->

    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="iconclose">&times;</button>
                    <h4 class="modal-title  formBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body  formBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button"  id="confirm_close">Close</button>
                    <button class="btn btn-success" type="button" id="confirm_save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->

    <!-- Confirm Modal -->
    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title cnfBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body cnfBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="confirm_no">Cancel</button>
                    <button class="btn btn-warning" type="button" id="confirm_yes"> Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirm Modal -->

    <!-- Modal -->
    <div class="modal fade" id="messageBoxModal" tabindex="-1" role="dialog" aria-labelledby="messageBoxModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title msgBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body msgBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal" id="msg_ok">  Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
    <section id="container">
        <header class="header fixed-top clearfix">
            <!--logo Start-->   
            <div class="brand col-md-8">
                <a href="<?php echo $this->url->get('index/index') ?>" class="logo col-md-12">
                    <?php
                    $settings_logo = Settings::findFirst('variableName = "school_logo"');
                    $settings_name = Settings::findFirst('variableName = "school_name"');
                    ?> <?php
                    echo $this->tag->image(array(FILES_URI . $settings_logo->variableValue
                        , 'height' => '50px', 'class' => 'pull-left', 'style' => '  min-width: 50px;'))
                    ?>

                    <h4 class="" style="margin-top: 10px; text-transform: capitalize;">
                        &nbsp;&nbsp;  <?= $settings_name->variableValue ?></h4>  
                </a>

            </div>
            <!--logo end-->
            <?php if ($identity['role_name'][0] != 'Guests'): ?>
                <div class="top-nav clearfix">
                    <!--search & user info start-->
                    <ul class="nav pull-right top-menu">                               
                        <!-- user login dropdown start-->
                        <!--                        <li class="dropdown">
                                                    <div class="toggle-right-box">
                                                        <div>
                                                            <a href="<?php //echo $this->url->get('calendar')      ?>">
                                                                <i class="fa fa-calendar"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>-->

                        <?php
                        if (in_array("CommunicateAdmin", $identity['role_name'])) {
                            ?>
                            <li>
                                <div class="toggle-right-box">
                                    <div>
                                        <a  href="<?php echo $this->url->get('communicate/index') ?>" >
                                            <i class="fa fa-comments-o"></i>
                                        </a>
                                        <!--<span class="badge bg-important">4</span>-->
                                    </div>
                                </div>
                            </li>
                        <?php } ?>
                        <!--                        <li >
                                                    <div class="toggle-right-box" id="header_notification_bar">
                                                        <div>
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                        <span class="badge bg-success">8</span>
                                                    </div>
                                                </li>-->
                        <li>
                            <?php  if (in_array('Mail', $modules)) :  ?>
                                <div class="toggle-right-box" id="header_inbox_bar">
                                    <div>
                                        <a href="<?php echo $this->url->get('communicate/message') ?>">
                                            <i class="fa fa-envelope"></i>
                                            <?php
//                                        $lname = (substr($identity['name'], 0, 1) == 'p') ? ('s' . substr($identity['name'], 1)) : $identity['name'];
//                                        $uid = $lname . '@' . SUBDOMAIN . '.edusparrow.com'; //'san@edusparrow.com';//
//                                        $pwd = $identity['authenticateKey']; //base64_encode('san123');//
//                                        $mbox = imap_open("{imap.edusparrowmail.com:143}", $uid, base64_decode($pwd), OP_HALFOPEN);
//                                       $status = $mbox?imap_status($mbox, "{imap.edusparrowmail.com:143}INBOX", SA_ALL):'';
                                            ?>
                                            <span class="badge bg-important"> <?= $status ? ($status->unseen ? $status->unseen : '0') : '0'; ?></span>

                                        </a>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <?php echo $photo_url ?>
                                <span class="username"><?= $name ?></span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <?php $profileUrl = 'javascript:void(0)'; ?>

                                <li><a href="javascript:void(0)"  onclick="commonSettings.changePass()"><i class="fa fa-cog"></i> Settings</a></li>


                                <li><a href="javascript:void(0)"  onclick="commonSettings.logout('<?= MAILCLIENT . '/?_task=logoutfromapp' ?>', '<?= $this->url->get('users/logout') ?>')"><i class="fa fa-key"></i> Logout</a> 
                                    <?php //echo Phalcon\Tag::linkTo('users/logout', '<i class="fa fa-key"></i>Logout') ?>
                                </li>
                            </ul>
                        </li>

                        <!-- user login dropdown end -->
                    </ul>
                    <!--search & user info end-->
                </div>
            <?php endif; ?>

        </header>


        <!--main content start-->
        <section id="main-content" class="merge-left" class="merge-left">

            <section id='content'>
                <section class="wrapper">

                    <!-- page start-->
                    <?php echo $this->getContent(); ?>

                </section>
            </section>

        </section>
        <!--main content end-->


    </section>

</body>
