<?php echo $this->tag->javascriptInclude("js/appscripts/announcement/announcement.js"); ?>
<?php
$identity = $this->auth->getIdentity();
$edulogo_url = $this->url->get('images/logo_primary.png');
$roles = implode(', ', $identity['role_name']);
$name = "Admin";
$photo_url = "<span class='mini-stat-icon tar martop6' style='width: 30px !important;
height: 30px !important;
line-height: 30px !important;
font-size: 16px !important;'></span>";

$settings_logo = Settings::findFirst('variableName = "school_logo"');
$settings_name = Settings::findFirst('variableName = "school_name"');
//print_r($settings_name);exit;

if (in_array("Staff", $identity['role_name'])) {
    $record = StaffInfo::findfirst('loginid = "' . $identity['name'] . '"');
    $name = $record->Staff_Name;

    //Get the photo from StaffGeneralMaster
    $staff_profile = StaffGeneralMaster::findfirst('staff_id = ' . $record->id);
    if ($staff_profile) {
        $photo_url = $this->tag->image(FILES_URI . $staff_profile->photo);
    } else {
        $photo_url = "<span class='mini-stat-icon tar martop6'>" .
                substr($record->Staff_Name, 0, 1) . "</span>";
    }
//    $completeArr = ControllerBase::groupNodesById();
    $subjHandling = array();
    $query = (in_array('SuperAdmin', $identity['role_name'])) ? '' : 'FIND_IN_SET( ' . $record->id . ' , teachers_id)';
    $assignedCount = GroupSubjectsTeachers::find($query);
    if (count($assignedCount) > 0) {
        foreach ($assignedCount as $assignedclass) {
            $classroom = ClassroomMaster::findFirstById($assignedclass->classroom_master_id);
            $subjHandling[$classroom->id]['name'] = $classroom->name;
            $subjHandling[$classroom->id]['subjects'][$assignedclass->id]['name'] = OrganizationalStructureValues::findFirstById($assignedclass->subject_id)->name;
        }
    }
    $classHandling = array();
    $query = (in_array('SuperAdmin', $identity['role_name'])) ? '' : 'FIND_IN_SET( ' . $record->id . ' , teachers_id)';
    $assignedCount = GroupClassTeachers::find($query);
    if (count($assignedCount) > 0) {
        foreach ($assignedCount as $assignedclass) {
            $classroom = ClassroomMaster::findFirstById($assignedclass->classroom_master_id);
            $classHandling[$classroom->id]['name'] = $classroom->name;
            $classHandling[$classroom->id]['master'] = $assignedclass->id;
        }
    }
} else {
    if (in_array("Student", $identity['role_name']) || in_array("Parent", $identity['role_name'])) {
        //Get the photo from StaffGeneralMaster
        $stu_profile = (in_array("Parent", $identity['role_name'])) ?
                StudentInfo::findFirstByParentLoginid($identity['name']) :
                StudentInfo::findFirstByLoginid($identity['name']);
        // $student_pro = StudentGeneralMaster::findfirst('student_id = ' . $stu_profile->id);
        $name = (in_array("Parent", $identity['role_name'])) ? $stu_profile->Student_Name . '’s Parent' : $stu_profile->Student_Name;
        if ($stu_profile->photo) {
            $photo_url = $this->tag->image(FILES_URI . $stu_profile->photo);
        } else {
            $photo_url = "<span class='mini-stat-icon tar '  >" .
                    substr($stu_profile->Student_Name, 0, 1) . "</span>";
        }
    }
}
$modules = $this->moduleEnabled->getAllModulesActivated();
//Unread INBOX count  left-aside-toggle
?>
<body class="leftbar-view">
    <!-- page start-->
    <div class="row hide">
        <div class="col-md-12">
            <!--modal start-->
            <section class="panel">
                <header class="panel-heading">
                    Confirm , Message & Alert Box
                </header>
                <div class="panel-body">
                    <a class="btn btn-success" data-toggle="modal" href="#formModal" id="modalForm">
                        Dialog
                    </a>
                    <a class="btn btn-warning" data-toggle="modal" href="#ConfirmModal" id="confirmMsg">
                        Confirm
                    </a>
                    <a class="btn btn-danger" data-toggle="modal" href="#messageBoxModal" id="messageBox">
                        Alert !
                    </a>


                </div>
            </section>
            <!--modal end-->
        </div>
    </div>
    <!-- Modal -->

    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="iconclose">&times;</button>
                    <h4 class="modal-title  formBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body  formBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button"  id="confirm_close">Close</button>
                    <button class="btn btn-success" type="button" id="confirm_save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->

    <!-- Confirm Modal -->
    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title cnfBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body cnfBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button" id="confirm_no">Cancel</button>
                    <button class="btn btn-warning" type="button" id="confirm_yes"> Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirm Modal -->

    <!-- Modal -->
    <div class="modal fade" id="messageBoxModal" tabindex="-1" role="dialog" aria-labelledby="messageBoxModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title msgBox-title">Modal Tittle</h4>
                </div>
                <div class="modal-body msgBox-body">

                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal" id="msg_ok">  Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->

    <!-- header -->
    <header class="topbar clearfix">
        <!--Top Search Bar Start Here-->
        <!--        <div class="top-search-bar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="search-input-addon">
                                    <span class="addon-icon"><i class="zmdi zmdi-search"></i></span>
                                    <input type="text" class="form-control top-search-input" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
        <!--Top Search Bar End Here-->
        <!--Topbar Left Branding With Logo Start-->
        <div class="topbar-left pull-left">
            <div class="clearfix">
                <ul class="left-branding pull-left clickablemenu ttmenu dark-style menu-color-gradient">
                    <li><span class="left-toggle-switch "><i class="zmdi zmdi-menu"></i></span></li>
                    <li>
                        <div style=" height: 60px; margin:10px 0 0 2px;" >
                            <a href="javascript:;" title="Edusparrow">
                                <img src="<?= $this->url->get(FILES_URI . $settings_logo->variableValue) ?>"  class="pull-left" 
                                     alt="logo" style="height: 50%;padding-right: ">
                            </a>

                        </div>
                    </li>
                    <li>
                        <div class="logo" >
                            <a href="javascript:;" title="Edusparrow">
                                <h3 style="vertical-align: middle"><?= $settings_name->variableValue ?> </h3>
                            </a>

                        </div>
                    </li>
                </ul>
                <!--Mobile Search and Rightbar Toggle-->
                <ul class="branding-right pull-right">
                    <li><a href="#" class="btn-mobile-bar"><i class="zmdi zmdi-format-align-left"></i></a></li>
                </ul>
            </div>
        </div>
        <!--Topbar Left Branding With Logo End-->
        <!--Topbar Right Start-->
        <div class="topbar-right pull-right">
            <div class="clearfix">
                <!--Mobile View Leftbar Toggle-->
                <ul class="left-bar-switch pull-left">
                    <li><span class="left-toggle-switch"><i class="zmdi zmdi-menu"></i></span></li>
                </ul>
                <ul class="pull-right top-right-icons">
        <li><a href="#" class="right-toggle-switch"><i class="zmdi zmdi-format-align-left"></i><span class="more-noty"></span></a></li>

                    <li class="dropdown more-dropdown topbar-logged-user"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <?php echo $photo_url ?>
                        </a>
                        <div class="dropdown-menu more-apps">
                            <div class="user-profile-container">
                                <div class="user-profile clearfix">
                                    <div class="admin-user-thumb">
                                        <?php echo $photo_url ?>
                                    </div>
                                    <div class="admin-user-info">
                                        <ul>
                                            <li><a href="#"><?= $name ?></a></li>
                                            <li><a href="#">
                                                    <?= strlen($roles) > 15 ? substr($roles, 0, 15) . "..." : $roles; ?>
                                                </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="admin-bar">
                                    <ul>
                                        <li><a href="<?= $this->url->get('users/logout') ?>" data-toggle="tooltip" data-placement="left" title="Logout"><i class="zmdi zmdi-power"></i>
                                            </a></li>
                                        <li><a href="<?= $this->url->get('staff/myprofile') ?>" data-toggle="tooltip" data-placement="left" title="My Account"><i class="zmdi zmdi-account"></i>
                                            </a></li>
                                        <li><a href="<?= $this->url->get('staff/settings') ?>" data-toggle="tooltip" data-placement="left" title="Settings"><i class="zmdi zmdi-settings"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="more-apps">
                                <li><a href="<?= $this->url->get('organizational-structure/valueTreeD3') ?>">Organizational settings<span class="pull-right"><i class="fa fa-sitemap"></i></span></a></li>
                                <li><a href="<?= $this->url->get('assigning/addClassroom') ?>">Classroom settings<span class="pull-right"><i class="fa fa-building"></i></span></a></li>
<li><a href="<?= $this->url->get('usersrole/assignUsrRolesByStaff') ?>">Role Management<span class="pull-right"><i class="fa fa-users"></i></span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--Topbar Right End-->
    </header>

    <!-- left sidebar -->
    <aside class="leftbar material-leftbar">
        <div class="left-aside-container">
            <ul class="list-accordion">
                <li class="list-title">Layouts</li>
                <li>
                    <a href="#"><i class="zmdi zmdi-view-dashboard"></i><span class="list-label">Dashboard</span></a>
                    <ul>
                        <li><a href="<?= $this->url->get('staff/dashboard') ?>">Staff Dashboard</a></li>
                        <li><a href="boxed-layout.html">Administrator Dashboard</a></li>
                        <li><a href="material-style-leftbar.html">Report Dashboard</a></li>
                    </ul>
                </li>
                <li class="list-title">Classroom</li>
                <?php if (count($classHandling) > 0) { ?>
                    <li>
                        <a href="#"><i class="zmdi zmdi-graduation-cap"></i><span class="list-label">My Class</span></a>
                        <ul>
                            <?php foreach ($classHandling as $classlist) { ?>
                                <li> <a href="<?= $this->url->get("myclass/academic/classprogress/" . $classlist['master']) ?>">
                                        <i class="zmdi zmdi-view-module"></i><span class="list-label"> 
                                            <?= $classlist['name'] ?></span></a> </li>
                            <?php } ?>
                        </ul> 
                    </li>
                <?php } ?>
                <?php if (count($subjHandling) > 0) { ?>
                    <li>
                        <a href="#"><i class="zmdi zmdi-library"></i><span class="list-label">My Subjects</span></a>
                        <ul>
                            <?php foreach ($subjHandling as $classlist) { ?>
                                <li>
                                    <a href="#"><i class="zmdi zmdi-view-module"></i><span class="list-label"> <?= $classlist['name'] ?></span></a>
                                    <ul>
                                        <?php foreach ($classlist['subjects'] as $masterid => $subjecls) { ?>
                                            <li><a href="<?= $this->url->get("myclass/academic/index/$masterid") ?>">
                                                    <?= $subjecls['name'] ?></a></li>
                                        <?php } ?>
                                    </ul>
                                </li>
                            <?php } ?>
                        </ul>
                    </li>
                <?php } ?>



                <li class="list-title">Cycles</li>
                <li><a href="<?= $this->url->get('cycle/svg') ?>"><i class="zmdi zmdi-widgets"></i><span class="list-label">Student Cycle</span></a></li>
                <li><a href="<?= $this->url->get('cycle/staffsvg') ?>"><i class="zmdi zmdi-calendar-alt"></i><span class="list-label">Staff Cycle</span></a></li>
                <li><a href="javascript:;"><i class="zmdi zmdi-format-size"></i><span class="list-label">Finance Cycle</span></a></li>
            </ul>
        </div>
    </aside>

    <!-- body wrapper -->
    <section class="main-container">
        <div class="container-fluid">
            <!-- page start-->
            <?php echo $this->getContent(); ?>
        </div>

    </section>

    <!-- rightpanel -->
    <aside class="rightbar">
        <div class="rightbar-container">
            <ul class="nav nav-tabs material-tabs rightbar-tab" role="tablist">
                <li class="active"><a href="#chat" aria-controls="message" role="tab" data-toggle="tab">Task</a></li>
                <li><a href="#activities" aria-controls="notifications" role="tab" data-toggle="tab">Activities</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="chat">
                    <div class="notification-wrap tasklist">
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="activities">
                    <div class="activities-timeline">
                        <h3 class="tab-pane-header">Recent Activities</h3>

                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- footer wrapper -->
</body>
<script>
    $(document).ready(function () {
        announcementSettings.taskHistory();
    });
</script>