
        
<body class="html front not-logged-in one-sidebar sidebar-first page-node " style="padding:0;
background-color: #009F9A;
/*font: 12px/1.4 Verdana, Helvetica, sans-serif;*/
font-size: 12px;
color: #EFE9E9;
text-align: left;"> <div id="page">

        <?php  echo $this->getContent(); ?>
    
        </div><!--EOF:page-->