
    .div-table{
        display:table;         
        width:auto;         
        /*background-color:#eee;*/         
        /*border:1px solid  #666666;*/         
        border-spacing:5px;/*cellspacing:poor IE support for  this*/
    }
    .div-table-row{
        display:table-row;
        width:auto;
        clear:both;
    }
    .div-table-col{
        float:left;/*fix for  buggy browsers*/
        display:table-column;         
        width:132px;         
        /*background-color:#ccc;*/  
    }
    .div-table-col.full-width{

        width:531px;      
    }
.commentblk.full-width{
 width:650px;      
}
.event{

    margin-left: 0px;
    padding: 0 12px 12px 12px;
}
    .icon-width{
        margin-top:10px;
        width: 49px;
    }
    .smalltext{

        font-size: 10px;
        color: #888;
    }
    .half-width{
        max-width: 70px;
        display: inline-flex;
    }
    .max-width {
        width: 694px;
    }
    .col-md-3.custom-width{
        width: 17%;
     cursor: pointer; 

    }
    .col-md-1 .mini-stat-icon{
      
    margin: 4px 0 0 0;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    }
    .bold{
        font-weight:600;
    }
.actions a:hover{
color : #1fb5ac !important
}
.padd5{
padding : 10px;
}
.widget-header.block-header {
     border-bottom: none; 
margin :0;
}
.widget-wrap.material-table-widget .data-action-bar {
        padding: 0px 15px 0 15px !important;
}
.widget-wrap.material-table-widget .table-filter-header{
padding: 3px;
}
.widget-wrap.material-table-widget .table-filter-header .row{
margin: 0;
}
#inboxDetails select,#inboxDetails  input{
font-size: 12px;
    height: 30px;
} 
#inboxAllsearch select,#inboxAllsearch  input{
    font-size: 12px;
    height: 30px;
}
.apps-dropdown .more-apps{
   margin: 0;
}
.apps-dropdown .more-apps > li:nth-child(1) {
     border-top: none;
}
.apps-dropdown .dropdown-menu, .more-dropdown .dropdown-menu{
width: auto;
white-space :nowrap;
}

.attach1{

    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-justify-content: flex-end;
    box-shadow: 0 0 1px rgba(0,0,0,.11),0 1px 2px rgba(0,0,0,.22); 
    height: 38px;
    padding: 12px;
    position: relative; 
    width: 113px;
    z-index: 0;
    display: -webkit-flex; 
    xfloat: left;
    margin-right: 8px;
}

.attach2{

    display: initial;
    white-space: nowrap;
    display: inline-block; 
    line-height: 1.5;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
    word-wrap: normal;
    float: right;

}
.attach3{

    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    height: 16px;
    width: 16px;
    -webkit-user-drag: none;
    xfloat: left;
}
.attach4{

    border: 0;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.attach5{
   xfloat: left;
} 
.attach11{
    cursor: pointer;
    display: inline-block;
}
.attachmain{
vertical-align: top;
    white-space: nowrap;
}
.search-left{
    left:-32px;
}
.attachimg {
   height: 88px;
    overflow: hidden;
    position: relative;
    width: 132px;
}
.imgatch{

    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 88px;
    position: absolute;
    right: 0;
    top: 0;
}
.padnormal{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
ul.new-file-lists>li>a {
    font-size: 12px;
    color: #666;
    display: block;
    line-height: 2;
}
ul.new-file-lists>li>a:hover {
        text-decoration: none;
    color: #17bab8;
}