

.actions a:hover{
color : #1fb5ac !important
}
.padd5{
padding : 10px;
}
.widget-header.block-header {
     border-bottom: none; 
margin :0;
}
.widget-wrap.material-table-widget .data-action-bar {
        padding: 0px 15px 0 15px !important;
}
.widget-wrap.material-table-widget .table-filter-header{
padding: 3px;
}
.widget-wrap.material-table-widget .table-filter-header .row{
margin: 0;
}
.recent-users-list{
    margin-left: 3px;
    margin-right: 0;
    margin-bottom: 0;
}
.sort{
margin-top:8px;
}
#outboxDetails select,#outboxDetails  input{
font-size: 12px;
    height: 30px;
}
#outboxAllsearch select,#outboxAllsearch  input{
font-size: 12px;
    height: 30px;
}

