<table class="table table-condensed dynamicTblPrincDb table-hover table-responsive"  id="basicDyntree" >
    <thead>
        <tr>
            <th>Sno</th>
            <?php
            foreach ($orgmasVal as $orgColHeader) {
                if ($orgColHeader->upload_flag == 1) {
                    $rowcnt = $params['aggregateids'][$orgColHeader->id];
                }
                ?>
                <th class="no-sort"><?= ($orgColHeader->upload_flag == 1) ? '' : 'Default no of ' ?><?= $orgColHeader->name ?>
       <?php if(strtolower($orgColHeader->module)=='subject') { ?> <!--<span class="help-block">Including first Language</span>--> <?php } ?>
</th>

            <?php } ?>
        </tr>
    </thead>
    <tbody>
        <?php for ($i = 1; $i < $rowcnt + 1; $i++) { ?>
            <tr>
                <td><?= $i ?></td>
                <?php
                foreach ($orgmasVal as $orgColHeader) {
		$genericval = ($orgColHeader->specific == 1)?0:(isset($params['aggregateids'][$orgColHeader->id])?$params['aggregateids'][$orgColHeader->id]:'0');
                    if ($orgColHeader->upload_flag == 1) {
                        ?>
                        <td><input type="text" name="agg_<?= $orgColHeader->id ?>" trrow="<?= $i ?>" masid="<?= $orgColHeader->id ?>" nodename="<?= $orgColHeader->name ?>" class="textfield" /></td>
                    <?php } else { ?>
                        <td>   <input type="number" trrow="<?= $i ?>" masid="<?= $orgColHeader->id ?>" min="0" step="1" value="<?= $genericval ?>" /></td>
                        <?php
                    }
                }
                ?>
            </tr>
        <?php } ?>
    </tbody>
</table>

<div class="form-group col-md-12">
    <button type="button" class=" btn btn-primary col-md-2 pull-right " onclick="setupSettings.findDuplicates()"> Submit </button>
</div>
<script>
</script>
