<?php
echo $this->tag->javascriptInclude("js/appscripts/onboard/form_steps.js");
echo $this->tag->javascriptInclude("js/lib/bootstrap-fileupload/bootstrap-fileupload.js");
echo $this->tag->stylesheetLink("js/lib/bootstrap-fileupload/bootstrap-fileupload.css");
?>
<!-- page start-->
<div class="row progress_head">
    <!--    <div class="col-md-1 progress_headdiv">
            <div class="panel-body">
                <div id="topLoader" style="text-align:center;"></div>
                <span>Setup Progress</span>
            </div>
        </div>-->

    <div class="col-md-12 stepdiv">
        <div class="mini-stat col-md-3 step_titles step-one">
            <span class='step-wrapper'>
                <span class="mini-stat-icon tar active_setup"><i class="fa fa-bank"></i></span>
                <div class="mini-stat-info">
                    <span class="pull-left"  >Basic Information</span>
                </div>
            </span>

        </div>
        <div class="mini-stat col-md-3 step_titles step-item step-one">
            <span class='step-wrapper'>
                <span class="mini-stat-icon muted"><i class="fa fa-sitemap"></i></span>
                <div class="mini-stat-info">
                    <span class="pull-left">Organization Canvas</span>
                </div>
            </span>
        </div>
        <div class="mini-stat col-md-3 step_titles step-item step-one" >
            <span class='step-wrapper'>
                <span class="mini-stat-icon muted"><i class="fa fa-users"></i></span>
                <div class="mini-stat-info">
                    <span class="pull-left">Staff/Student Upload</span>
                </div>
            </span>
        </div>
        <!--        <div class="mini-stat col-md-3 step_titles step-item step-one" onclick="setupSettings.loadAssigningTable($('.stepwizard-two').find('.next'))">
                    <span class='step-wrapper'>
                        <span class="mini-stat-icon muted"><i class="fa fa-users"></i></span>
                        <div class="mini-stat-info">
                            <span class="pull-left">Student Assigning</span>
                        </div>
                    </span>
                </div>-->
        <div class="mini-stat col-md-3 step_titles step-item" >
            <span class='step-wrapper'>
                <span class="mini-stat-icon muted"><i class="fa fa-building"></i></span>
                <div class="mini-stat-info">
                    <span class="pull-left">Classroom Settings</span>
                </div>
            </span>
        </div>

    </div>

</div>
<!--<section class="panel wizard-body">
    <div class="panel-body">-->
<?php echo Phalcon\Tag::form(array('enctype' => 'multipart/form-data', 'id' => 'msform', 'class' => 'form-horizontal')); ?>
<fieldset class=" wizard-body">
    <section class="panel stepwizard-one">
        <div class="panel-body">

            <div class="col-md-12" id="basicInfoForm">

                <div class=" col-md-12  form-ele">           
                    <label for="schoolName" class="mandatory">School Name:</label>
                    <?php echo $form->render("school_name", array('value' => $svar['school_name'])) ?> 
                </div> 
                <div class=" col-md-6 form-ele">
                    <label for="phone" class="mandatory">Primary Contact Phone:</label>
                    <?php echo $form->render("primary_contact_phone", array('id' => 'pphone', 'value' => $svar['primary_contact_phone'], 'placeholder' => '')) ?> 
                </div>


                <div class=" col-md-6 form-ele">
                    <label for="email" class="mandatory">Primary Contact Email:</label>
                    <?php echo $form->render("primary_contact_email", array('id' => 'pemail', 'value' => $svar['primary_contact_email'], 'placeholder' => '')) ?> 
                </div>
                <div class=" form-ele">
                    <input type="hidden" value="<?= $svar['max_stu'] ?>" name="max_stu" id="max_stu" />
                    <input type="hidden" value="<?= $svar['max_stf'] ?>" name="max_stf" id="max_stf" />
                    <input type="hidden" value="<?= $svar['appointment_prefix'] ?>" name="appointment_prefix" id="appointment_prefix" />
                    <input type="hidden" value="<?= $svar['admission_prefix'] ?>" name="admission_prefix" id="admission_prefix" />
                    <input type="hidden" value="<?= $svar['appointment_sufix'] ?>" name="appointment_sufix" id="appointment_sufix" />
                    <input type="hidden" value="<?= $svar['admission_sufix'] ?>" name="admission_sufix" id="admission_sufix" />
                </div>
                <div class="col-md-6">
                    <label for="address_1" class="mandatory">Address Line 1:</label>
                    <?php echo $form->render("address_1", array('value' => $svar['address_1'])) ?> 
                </div>
                <div class="col-md-6">
                    <label for="address_2" class="">Address Line 2:</label>
                    <?php echo $form->render("address_2", array('value' => $svar['address_2'])) ?> 
                </div>
                <br><br>
                <div class="col-md-6">
                    <label for="state" class="mandatory">State:</label>
                    <?php echo $form->render("state", array('value' => $svar['state'])) ?> 
                </div>
                <div class="col-md-6">
                    <label for="pin" class="mandatory">Zip code:</label>
                    <?php echo $form->render("pin", array('value' => $svar['pin'])) ?> 
                </div>
                <div class="col-md-12">
                    <label for="country" class="mandatory">Choose Country</label>
                    <input   type="text"  id="country" name="country" value="<?= $svar['country'] ?>">
                    <input type="hidden" id="countryid" name="countryid"  value="<?= $svar['countryid'] ?>">
                </div>

                <div class=" col-md-12  j-forms">
                    <button type="button" name="nextTab" class="next btn btn-primary col-md-2 pull-right " onclick="setupSettings.addBasicInfo(this);" >Next</button>
                    <button type="button" class=" loading btn btn-success primary-btn processing col-md-2 pull-right hide">Processing...</button>
                </div>
            </div>
        </div>
    </section>

</fieldset>

<!--Step 1 End-->


<!--Step 2a-->
<fieldset  class=" wizard-body">

    <section class="panel stepwizard-two">
        <div class="panel-body">  </div>
        <div class=" col-md-12 body j-forms">
            <button type="button" name="nextTab" class=" next btn btn-primary col-md-2 pull-right" onclick="setupSettings.loadUploadView(this)" >Next</button>
            <button type="button" class=" loading btn btn-success primary-btn processing col-md-2 pull-right hide">Processing...</button>

        </div>
    </section>

</fieldset>

<!--Step 2a end-->


<!--Step 3-->
<fieldset   class="third-field wizard-body">
    <section class=" stepwizard-three">
        <div class="col-md-12 body">  </div>

        <div class=" col-md-12  j-forms">
            <button type="button" name="nextTab" class="next btn btn-primary col-md-2 pull-right" style="margin: 20px;" onclick="setupSettings.addClassrooms(this);" >Next</button>
            <button type="button" class=" loading btn btn-success primary-btn processing col-md-2 pull-right hide">Processing...</button>

        </div>
    </section>
</fieldset>
<!--Step 3 End-->

<!--Step 4-->
<fieldset  class=" wizard-body">
    <section class="  stepwizard-four">
        <div class=" body">  </div>
        <div class=" col-md-12  j-forms">
            <button type="button" name="nextTab" class="next btn btn-primary col-md-2 pull-right" style="margin: 20px;" onclick="setupSettings.saveSettings(this);" >Finish</button>
            <button type="button" class=" loading btn btn-success primary-btn processing col-md-2 pull-right hide">Processing...</button>

        </div>
    </section>
</fieldset>
<!--Step 4 End-->
</form>
<!--    </div>
</section>-->
<?php; ?>
<script>
    $('#country').autocomplete({
        source:<?= $country ?>,
        select: function (event, ui) {
            $("#country").val(ui.item.label);
            $("#countryid").val(ui.item.value);
            if ($("#countryid").val()) {
                $("#countryid").parent().addClass("input-has-value");
            } else {
                $("#countryid").parent().removeClass("input-has-value");
            }
            return false;
        },
        messages: {
            noResults: ''
        }
    });
    $("input,textarea").on("focus blur", function () {
        $(this).parent().toggleClass("input-focused");
    })
    $("input,textarea").on("change", function () {
        $(this).css('border-color', 'green')
        if ($(this).val()) {
            $(this).parent().addClass("input-has-value");
        } else {
            $(this).parent().removeClass("input-has-value");
        }
    })
    $("#msform").find('input,textarea').each(function () {
        if ($(this).val()) {
            $(this).parent().addClass("input-has-value");
        } else {
            $(this).parent().removeClass("input-has-value");
        }
    })
    $('.fileupload').fileupload()
</script>

<!-- page end-->
