<div>
    <div class="row">
        <div class="col-md-12" class = 'form-horizontal' name = 'loadTempForms' id = 'loadTempForms'>
            <div class="form-group">
                <label class="col-md-4 mandatory control-label"><?= $stuCycleNode->name ?> Cycle  : </label>
                <span class="col-md-5">
                    <?php
                    echo Phalcon\tag::textField(array(
                        "cur_range_from",
                        "value" => '',
                        "placeholder" => 'Select date ',
                        'class' => 'form-control form_date',
                        "readonly" => '',
                        "title" => 'Current '. $stuCycleNode->name  .' from date',
                        "value" => $curAcd->rangefrom ? date('d-m-Y', $curAcd->rangefrom) : ''
                    ));
                    ?> 
                </span>

            </div>


            <?php  foreach ($orgmasVal as $orgitm ){ ?>
            <div class="form-group">
                <label class="col-md-4 mandatory control-label">Default number of <?= $orgitm->name ?> :   </label>
                <span class="col-md-5"> 
                    <input type="number" min="0" step="1" title="<?= $orgitm->name ?> " name="aggregate_<?= $orgitm->id ?>" />

       <?php if(strtolower($orgitm->module)=='subject') { ?> <!--<span class="help-block">Including first Language</span>--> <?php } ?>
                </span>
            </div>
            <?php  }  ?>

            <div class="form-group col-md-10">
                <button type="button" class=" btn btn-primary col-md-2 pull-right " onclick="setupSettings.basicTree()"> Generate </button>
            </div>
        </div>
        
        
        <div class="col-md-9" id="generateTable" style ="    margin: 0 10%;">
            
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.form_date').datetimepicker({
            format: 'mm-yyyy',
            language: 'en',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 3,
            minView: 3,
            forceParse: 0,
        });
    });


</script>
