
<table id="example-advanced" class="table table-hover  table-user ">
    <thead>
        <tr>
            <th>Combination</th>
            <th>Total</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <?php
        $i = 0;
        foreach ($groupcombiStu as $fagvalue) {
            $i++;
            $actarr = $newagg = explode('-', $fagvalue);
            $labelAr = array();
            $yearid = array_shift($newagg);
            foreach ($newagg as $agindvvalue):
                $agindvValRec = OrganizationalStructureValues::findFirstById($agindvvalue);
                $labelAr[] = $agindvValRec->name;
            endforeach;
            $label = implode(' >> ', $labelAr);
            $studentsexists = StudentMapping::findFirst(array(
                        'columns' => 'COUNT(*) as cnt',
                        'aggregate_key="' . str_replace('-', ',', $fagvalue) . '"'));
            $totstu = ($studentsexists->cnt > 0) ? ($studentsexists->cnt . '') : '0';
            $uploadatst = ($studentsexists->cnt > 0) ? 'success' : 'warning';
            $uploadicon = ($studentsexists->cnt > 0) ? 'Completed' : 'Pending';
            ?>
            <tr data-tt-id='<?= $i ?>' class="headcombi"><td><span class=' '> <?= $label ?></span></td>
                <td><span class="mini-stat-icon-small <?= $totstucolr ?> "><?= $totstu ?></span></td>
                <td><label class="label label-<?= $uploadatst ?>"><?= $uploadicon ?></label></td>
                <td><input type="checkbox" name="" class="headcheck leaf-<?= $i ?>" aggregate_key = "<?= $fagvalue ?>" aggergate_name = "<?= $label ?>"  /></td>
            </tr>
            <?php
            //Recursive loop for main nodes . i.e., subordinate ==0
            $val = OrganizationalStructureValues::findFirstById($yearid);
            $subchild = OnboardController::recursiveLoadCombination($val->org_master_id);
//            print_r($subchild); exit;
            $j = 0;
            foreach ($subchild as $mkey => $mnode) {
                $j++;
                $orgvalues = OrganizationalStructureValues::find('org_master_id=' . $mkey .
                                ' and parent_id IN(' . implode(',', $actarr) . ')');
                if (count($orgvalues) > 0) {
                    ?>
                    <tr data-tt-id='<?= $i . '-' . $j ?>' data-tt-parent-id='<?= $i ?>'>
                        <td><span class=' '><?= $mnode ?></span></td>
                        <td>--</td>
                        <td>--</td>
                        <td><input type="checkbox" class="leaf-<?= $i ?> leaf-<?= $i . '-' . $j ?>" /></td>
                    </tr>
                    <?php
                    $z = 0;
                    foreach ($orgvalues as $okey => $onode) {
                        $z++;
                        ?>
                        <tr class="droppable" data-tt-id='<?= $i . '-' . $j . '-' . $z ?>' data-tt-parent-id='<?= $i . '-' . $j ?>'>
                            <td><span class=' '><?= $onode->name ?></span></td>
                            <td class="tot">--</td><td class="status">--</td>
                            <td><input type="checkbox" class="leaf-<?= $i ?> leaf-<?= $i . '-' . $j ?> leaf-<?= $i . '-' . $j . '-' . $z ?>" /></td>
                        </tr>

                        <?php
                    }
                }
            }
            ?>

        <?php } ?>
    </tbody>
</table>
<?php
echo $this->tag->javascriptInclude("js/lib/treetable/jquery.treetable.js");
?>
<script>
    $("#example-advanced").treetable({
        expandable: true,
        onNodeExpand: function () {
            if (!$(this)[0].parentId) {
                $('#example-advanced').treetable('collapseAll');
                $("[data-tt-id=" + $(this)[0].id + "]").find('input:checkbox').prop('checked', true).change()
            }
        }
    });
    // Highlight selected row
    $("#example-advanced tbody").on("mousedown", "tr", function () {
        $(".selected").not(this).removeClass("selected");
        $(this).toggleClass("selected");
        var $self = $(this);
        if ($self.hasClass('headcombi')) {
            // ajx call 
            $('#studentsList').html('')
        }
    });
    $('input:checkbox').on('change', function () {
        var $check = $(this).prop('checked');
        if ($(this).hasClass('headcheck')) {
            $('.headcheck').prop('checked', false);
            $(this).prop('checked', $check);
        }
        if ($check) {

            $('#studentsList').html('<span class="loading  col-md-8 pull-right " style="padding-top:50px;"><i class="fa spinner fa-spin fa-spinner "></i> Loading ...</span>')
            // ajx call 
            setupSettings.loadStudentListByCombi($(this))
        }
    })
    $("#combitable").niceScroll()
    var selectedClass = 'ui-state-selected',
            body = $('#example-advanced');
    $('.droppable').droppable({
        hoverClass: "ui-state-hghtlight",
        over: function (event, ui) {
            body.css("cursor", "copy")
        },
        out: function (event, ui) {
            console.log(ui.draggable.css("cursor"))
            body.css("cursor", "no-drop")
        },
        drop: function (event, ui) {
            $(this).find('td.tot').html($('.' + selectedClass).length)
            $(this).find('td.status')
                    .html('<span class="loading "><i class="fa spinner fa-spin fa-spinner "></i> Loading ...</span>')
        }
    });
</script>

<!-- 
-->