
<style>
    .third-field, .stepwizard-three, .body{
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 0px;
    }
    .fileUpload input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: default;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    #msform ul.nav>li.active {
        border-top: 2px solid #1FB5AD;
    }
</style>
<div class="col-md-9 uploaddiv uploaddiv-one">
    <aside class="uploadlist" >
        <?php foreach ($groupcombiStf as $fagname => $fgarr) { ?>
            <div class="widget-wrap  material-table-widget" >
                <div class="widget-container margin-top-0">
                    <div class="widget-content">
                        <div class="data-action-bar">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="widget-header">
                                        <h3>Upload table> Staff</h3>
                                        <p>
                                            Staff belong to <?= implode(' - ', explode('>>', $fagname)) ?> 
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <span class="pull-right text text-muted "> 
                                        <a href="javascript:;" id="downloadExcelClsRat" onclick="setupSettings.downloadSampleExcel('student')">
                                            <i class="fa fa-download text text-success"></i>   Download format here
                                        </a>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive ">
                            <table class="table table-hover  table-user data-tbl">
                                <thead>
                                    <tr>
                                        <th>Combination</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th class="td-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    foreach ($fgarr as $fagvalue) {
                                        $newagg = explode('-', $fagvalue);
                                        $labelAr = array();
                                        array_shift($newagg);
                                        foreach ($newagg as $agindvvalue):
                                            $agindvValRec = OrganizationalStructureValues::findFirstById($agindvvalue);
                                            $labelAr[] = $agindvValRec->name;
                                        endforeach;
                                        $label = implode(' >> ', $labelAr);
                                        $studentsexists = StaffInfo::findFirst(array(
                                                    'columns' => 'COUNT(*) as cnt',
                                                    'aggregate_key="' . str_replace('-', ',', $fagvalue) . '"'));
                                        $uploadatst = ($studentsexists->cnt > 0) ? 'success' : 'warning';
                                        $uploadicon = ($studentsexists->cnt > 0) ? 'Completed' : 'Pending';
                                        $totstu = ($studentsexists->cnt > 0) ? ($studentsexists->cnt . '') : '0';
                                        $totstucolr = ($studentsexists->cnt > 0) ? 'bg-terques' : 'bg-inverse';
                                        $stuexl = ($studentsexists->cnt > 0) ? 'primary link' : 'muted';

                                        $triggerclk = ($studentsexists->cnt > 0) ? "setupSettings.loadStaffList(this)" : 'javascript:;';
                                        $stutriggerclk = ($studentsexists->cnt > 0) ? "setupSettings.downloadSAppStf(this)" : 'javascript:;';
                                        ?>
                                        <tr aggregate_key = "<?= $fagvalue ?>" aggergate_name = "<?= $label ?>" onclick="<?= $triggerclk ?>">
                                            <td>  <?= $label ?> </td>
                                            <td><span class="mini-stat-icon-small <?= $totstucolr ?> "><?= $totstu ?></span></td>
                                            <td><label class="label label-<?= $uploadatst ?>"><?= $uploadicon ?></label></td>
                                            <td class="td-center">
                                                <div class="btn-toolbar" role="toolbar">
                                                    <div class="btn-group" role="group">
                                                        <a href="#" class="btn btn-default btn-sm m-user-edit fileUpload" >
                                                            <i class="zmdi zmdi-file-add"></i>
                                                                <input type="file" name="muluploadedfile_stu" class="muluploadedfile_stu">
                                                         
                                                        </a>
                                                        <a href="#" class="btn btn-default btn-sm m-user-delete" onclick="<?= $stutriggerclk ?>"><i class="zmdi zmdi-download"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <?php
                                    }
                                    ?>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <?php
        }
        ?>

    </aside>
</div> 
<div class="col-md-3 uploaddiv">
    <aside class=" stunav">
        <div class="widget-wrap  material-table-widget" >
            <div class="widget-container margin-top-0">
                <div class="widget-content">
                    <div class="data-action-bar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget-header">
                                    <h3>Staff List</h3>
                                    <p>Choose a combination to load Staff</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </aside>

</div>
<script>
//                                            $('.uploaddiv-body').niceScroll()

                                            $(".muluploadedfile_stu").on('change', function () {
                                                var $self = $(this);
                                                var agg = $(this).parents('td').closest('tr').attr('aggregate_key')
                                                var aggreval = agg.split('-').join(',')
                                                var filename = this.value.replace("C:\\fakepath\\", "");
                                                var aggname = $(this).closest('tr').attr('aggergate_name')
                                                var fileObj = $(this)[0].files[0];
                                                if ((fileObj.name.toLowerCase()).indexOf('.xlsx') < 0) {
                                                    $('.msgBox-title').html('<i class="fa  fa-times"></i> Error');
                                                    $('.msgBox-body').html('<span class="text text-danger fade in">Invalid file format. Please upload xlsx file</span>');
                                                    $('#messageBoxModal').modal('show');
                                                    $(this).parents('td').find('input.muluploadedfile_stu').each(function () {
                                                        $(".muluploadedfile_stu").val("")
                                                    });
                                                    return false;
                                                }


                                                var data = new FormData();
                                                data.append('file', $(this)[0].files[0]);
                                                data.append('aggreval', aggreval);

                                                console.log(data)
                                                console.log(aggreval)
                                                console.log(aggname)
                                                console.log($(this)[0].files[0])
                                                $('#ConfirmModal').find('.modal-title').html('Confirm Upload');
                                                $('#ConfirmModal').find('.modal-body').html('Do you confirm to insert staff for ' + aggname + ' ?');
                                                $('#ConfirmModal').modal();
                                                $('#confirm_yes').unbind('click').click(function (event) {
                                                    $('#ConfirmModal').modal('hide');
                                                    $(".fileUpload").addClass("hide");
                                                    $(this).closest('span.loading').each(function () {
                                                        $(this).removeClass("hide");
                                                    });
                                                    pleaseWaitDiv.find('.text-display').html('Validating file...')
                                                    myApp.showPleaseWait()
                                                    $.ajax({
                                                        url: commonSettings.onboardUrl + "/checkCountStaff",
                                                        type: 'POST',
                                                        processData: false,
                                                        contentType: false,
                                                        data: data,
                                                        dataType: 'JSON',
                                                        success: function (resp) {
                                                            if (resp.type == "success") {
                                                                myApp.hidePleaseWait()
                                                                setupSettings.uploadStaff(resp.filename, aggreval)
                                                                $(".muluploadedfile_stu").val("")
                                                                $(".fileUpload").removeClass("hide");
                                                            } else {
                                                                myApp.hidePleaseWait()
                                                                $('.msgBox-title').html('<i class="fa  fa-times"></i> Error');
                                                                $('.msgBox-body').html('<span class="text text-danger fade in">' + resp.message + '</span>');
                                                                $('#messageBoxModal').modal('show');
                                                                $self.addClass('hide')
                                                                $(".muluploadedfile_stu").val("")
                                                                $(".fileUpload").removeClass("hide");
                                                            }


                                                        }
                                                    });
                                                });



                                            });

                                            $('.data-tbl').dataTable({
                                                responsive: true,
                                                "iDisplayLength": 5,
                                                "columnDefs": [{"targets": [1, 3], "orderable": false}],
                                                "dom": '<"row" <"col-md-12"<"td-content"rt>>><"row" <"col-md-6"><"col-md-6"p>>'
                                            });

                                            setTimeout(function () {
                                                $(".uploadlist").slimscroll({
                                                    height: "870px",
                                                    width: $('.uploaddiv-one').width(),
                                                    size: '4px',
                                                    color: 'rgba(000,000,000,.5)',
                                                    distance: '1px',
                                                    railVisible: true,
                                                    railColor: '#222',
                                                    railOpacity: 0.3,
                                                    wheelStep: 20,
                                                    borderRadius: '0px',
                                                    railBorderRadius: '0px',
                                                    allowPageScroll: false
                                                });
                                            }, 500)

</script>