<div class="chat-user-container-small">
    <ul id="draggable" class="chat-user-list">
        <?php foreach ($students as $stu): ?>
            <li>
                <div>
                    <?php if ($stu->photo) { ?>
                        <span class="chat-avatar">
                            <?php
                            echo $this->tag->image(array(
                                "src" => $stu->photo ? (FILES_URI . $stu->photo) : ('images/user.jpg'),
                                'title' => " $stu->Admission_no "));
                            ?>
                        </span>
                    <?php } else { ?>
                        <span title= "<?= $stu->Admission_no ?>" class="mini-stat-icon tar "  > 
                            <?= substr(ucfirst(trim($stu->Student_Name)), 0, 1); ?>
                        </span>
                    <?php } ?> 

                    <span class="chat-u-info"><?= ucfirst($stu->Student_Name) ?><cite><?= strtolower($stu->Admission_no) ?></cite></span>
                    <a href="javascript:;" class="event-close" style=" "><i class="fa fa-check-circle"></i></a>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
</div>

<script>
    $('#changetitle').html('  <?php echo count($students) . ' student[s] available in ' . $aggname ?>')
    $("#studentsList").niceScroll()
    $('.event-close').click(function () {
        $(this).toggleClass('event-select');
    })
          
    
    var selectedClass = 'ui-state-selected',
            clickDelay = 600,
            lastClick, diffClick,
            btnclass = 'event-select'; 

    $("#draggable li")
            // Script to deferentiate a click from a mousedown for drag event
            .bind('mousedown mouseup', function (e) {
                if (e.type == "mousedown") {
                    lastClick = e.timeStamp; // get mousedown time
                } else {
                    diffClick = e.timeStamp - lastClick;
                    if (diffClick < clickDelay) {
                        // add selected class to group draggable objects
                        $(this).toggleClass(selectedClass);
                        $(this).find('.event-close').toggleClass(btnclass);
                    }
                }
            })
            .draggable({
                cursor: "move",
                cursorAt: {top: -2, left: 2}, opacity: 0.7,
                helper: function (event) {
                    $ele = $("<span class='label label-info'> " + $('.' + selectedClass).length + " Students selected</span>");
                    return $ele;
                },
                revertDuration: 10,
                // grouped items animate separately, so leave this number low
                start: function (e, ui) {
//                    ui.helper.addClass(selectedClass);
                },
                stop: function (e, ui) {
                    // reset group positions
                    $('.' + selectedClass).css({
                        top: 0,
                        left: 0
                    });
                },
                drag: function (e, ui) {
                    // set selected group position to main dragged object
                    // this works because the position is relative to the starting position
                    $('.' + selectedClass).css({
                        top: ui.position.top,
                        left: ui.position.left,
//                        "z-index": 9999
                    });
                }
            });

</script>