<?php
foreach ($name as $value) {
    $v = explode('>>', $value);
    $newname = $v[count($v) - 1];
}
?>
<header class="panel-heading">
    <div class="row">
        <span class="col-md-7">  Showing <b> <?= count($staff) ?></b> staff from <b>  <?= $newname ?></b>
            <br>
            <a href="javascript:;" id="downloadExcelClsRat" onclick="setupSettings.downloadSampleExcel('staff')" >
                <i class="fa fa-download text text-success"></i>   Download format here
            </a>
        </span>
    </div>
</header> 
<?php if ($staff && count($staff) > 0) { ?>
                                                                                                                                                                   <!--<table class="table table-condensed dynamicTblPrincDb"  id="dynamicStuList" >-->
    <table class="table table-condensed dynamicTblPrincDb table-hover table-responsive"  id="dynamicStuList" >
        <thead>
            <tr>
                <th>Staff Name</th>
                <th class="no-sort">Date of birth</th>
                <th class="no-sort">Status</th>
                <th class="no-sort">Appointment no</th>
                <th class="no-sort">Date of joining</th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($staff as $stf):
                $stfInfo = StaffGeneralMaster::findFirstByStaffId($stf->id);
                $labelclass = ($stf->status == 'Appointed') ? 'info' : 'warning';
                ?>
                <tr stuId = "<?= $stf->id ?>"  stuname ="<?= $stf->Staff_Name ?>">
                    <td class="student_name col-md-2"> 
                        <?php
                        if ($stuInfo->photo) {

                            echo $this->tag->image(array(
                                "src" => $stfInfo->photo ? (FILES_URI . $stfInfo->photo) : ('images/user.jpg'),
                                'title' => " $stf->appointment_no ",
                                'style' => 'border-radius:50%',
                                'width' => '40px',
                                'height' => '40px'));
                        } else {
                            ?>
                            <span title= "<?= $stf->appointment_no ?>" class="mini-stat-icon tar " 
                                  style="cursor:default;" >
                                <?= substr($stf->Staff_Name, 0, 1); ?></span>
                        <?php }
                        ?> 
                        <span title= "<?= $stf->Staff_Name . '(' . $stf->appointment_no . ')' ?>" 
                              class="name">
                                  <?= $stf->Staff_Name; ?>
                        </span>
                    </td>

                    <td><?= date('d-m-Y', $stf->Date_of_Birth); ?> </td>
                    <td>
                        <span 
                            class="label label-<?= $labelclass ?>
                            label-mini"><?= $stf->status; ?></span>
                    </td>
                    <td><?= $stf->appointment_no ?></td>
                    <td><?= date('d-m-Y', $stf->Date_of_Joining); ?></td>
                </tr>
            <?php endforeach; ?>

        </tbody>
    </table>
<?php } else { ?>
    <div class="col-md-12">
        <br>
        <style>
            .fileUpload {
                position: relative;
                overflow: hidden;
                margin: 10px;
            }
            .fileUpload input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }

            #msform ul.nav>li.active {
                border-top: 2px solid #1FB5AD;
            }
        </style>
        <div id="drop" class="" style=" padding: 11px 48px; ">
            <a  class="btn btn-warning fileUpload">Browse Staff excel
                <input type="file" name="muluploadedfile_stu" class="muluploadedfile_stu" ></a>
        </div>
        <?php
        echo $this->tag->stylesheetLink("js/lib/mini-upload-form/assets/css/bucketmin.css");
        ?>

    </div>
<?php } ?>

<script>
    $(".muluploadedfile_stu").on('change', function () {
        var $self = $(this);
        var fileObj = $(this)[0].files[0];
        if ((fileObj.name.toLowerCase()).indexOf('.xlsx') < 0) {
            $('.msgBox-title').html('<i class="fa  fa-times"></i> Error');
            $('.msgBox-body').html('<span class="text text-danger fade in">Invalid file format. Please upload xlsx file</span>');
            $('#messageBoxModal').modal('show');
            $(this).parents('td').find('input.muluploadedfile_stu').each(function () {
                $(".muluploadedfile_stu").val("")
            });
            return false;
        }

        var aggreval = '<?= $aggregateid ?>';
        var aggname = '<?= $newname ?>';
        var data = new FormData();
        data.append('file', $(this)[0].files[0]);
        data.append('aggreval', aggreval);
        $('#ConfirmModal').find('.modal-title').html('Confirm Upload');
        $('#ConfirmModal').find('.modal-body').html('Do you confirm to insert staff for ' + aggname + ' ?');
        $('#ConfirmModal').modal();
        $('#confirm_yes').unbind('click').click(function (event) {
            $('#ConfirmModal').modal('hide');
            $(".fileUpload").addClass("hide");
            $(this).closest('span.loading').each(function () {
                $(this).removeClass("hide");
            });
            pleaseWaitDiv.find('.text-display').html('Validating file...')
            myApp.showPleaseWait()
            $.ajax({
                url: commonSettings.onboardUrl + "/checkCountStaff",
                type: 'POST',
                processData: false,
                contentType: false,
                data: data,
                dataType: 'JSON',
                success: function (resp) {
                    if (resp.type == "success") {
                        myApp.hidePleaseWait()
                        setupSettings.uploadStaff(resp.filename, aggreval)
                        $(".muluploadedfile_stu").val("")
                        $(".fileUpload").removeClass("hide");
                    } else {
                        myApp.hidePleaseWait()
                        $('.msgBox-title').html('<i class="fa  fa-times"></i> Error');
                        $('.msgBox-body').html('<span class="text text-danger fade in">' + resp.message + '</span>');
                        $('#messageBoxModal').modal('show');
                        $self.addClass('hide')
                        $(".muluploadedfile_stu").val("")
                        $(".fileUpload").removeClass("hide");
                    }


                }
            });
        });



    });
</script>
<?php
$varcols = count($mandnode) + count($nodes) + 5;
$varcols1 = 3 + count($mandnode);
$varcols2 = 3 + count($mandnode) + count($nodes) - 1;
//echo $varcols1. $varcols2;exit;
for ($i = $varcols1; $i <= $varcols2; $i++)
    $varsort[] = $i;
?>
<script
    type = "text/javascript" >
        $("#combitable").niceScroll()
        var tablectrl = '#dynamicStuList';
        $(document).ready(function () {
            $(tablectrl).dataTable({
                "sDom": 'C<"clear">lrtip',
                "bProcessing": true,
                "sPaginationType": "full_numbers",
//            "iDisplayLength": commonSettings.NumberOfRecords,
                "aoColumnDefs": [
                    {"aTargets": [<?= implode(',', $varsort) ?>], "orderDataType": "dom-select", "bSortable": true},
                    {
                        "bSortable": false,
                        "sDefaultContent": "",
                        "aTargets": ["no-sort"]
                    }
                ],
                "bLengthChange": false,
                "bInfo": false,
                "fnDrawCallback": function (o) {
                }
            });
        });

</script>