

<div class="widget-wrap  material-table-widget" >
    <div class="widget-container margin-top-0">
        <div class="widget-content">
            <div class="data-action-bar">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget-header">
                            <h3>Students List</h3>
                            <p>
                                <?= count($students) ?> student[s] available in <?= $aggname ?>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="chat-user-container-small">
                    <ul class="chat-user-list">
                        <?php foreach ($students as $stu): ?>
                            <li>
                                <div>
                                        <?php if ($stu->photo) { ?>
                                    <span class="chat-avatar">
                                                <?php
                                                echo $this->tag->image(array(
                                                    "src" => $stu->photo ? (FILES_URI . $stu->photo) : ('images/user.jpg'),
                                                    'title' => " $stu->Admission_no "));
                                                ?>
                                    </span>
                                        <?php } else { ?>
                                            <span title= "<?= $stu->Admission_no ?>" class="mini-stat-icon tar "  > 
                                                <?= substr(ucfirst(trim($stu->Student_Name)), 0, 1); ?>
                                            </span>
                                        <?php } ?> 

                                            <span class="chat-u-info"><?= ucfirst($stu->Student_Name) ?><cite><?= strtolower($stu->Admission_no) ?></cite></span>
                                </div>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>
        </div>
    </div>
</div> 
<script>

        $(".chat-user-container-small").slimscroll({
            height: "700px",
            width: $('.stunav').width(),
            size: '4px',
            color: 'rgba(000,000,000,.5)',
            distance: '1px',
            railVisible: true,
            railColor: '#222',
            railOpacity: 0.3,
            wheelStep: 20,
            borderRadius: '0px',
            railBorderRadius: '0px',
            allowPageScroll: false
        });
</script>