<?php echo $this->tag->javascriptInclude("js/appscripts/assigning/assignSection.js");
echo $this->tag->javascriptInclude("js/appscripts/appointment/appointment.js"); 
echo $this->tag->javascriptInclude("js/lib/icheck-init.js");
?>
<div class="col-md-12 uploaddiv">
    <div class="widget-wrap  material-table-widget showtop" >
        <div class="widget-container margin-top-0">
            <div class="widget-content">
                <div class="data-action-bar">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="widget-header magbot30">
                                <h3>Upload</h3>
                                <p>Choose combination to list students / staff</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">  
                                <div class="col-sm-6 icheck ">
                                    <div class="square-green  search-row">
                                        <div class="radio ">
                                            <input type="radio" id="student_view"   name="userType" value='2'>
                                            <label>Student</label>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-sm-6 icheck ">
                                    <div class="square-green search-row">
                                        <div class="radio exam">
                                            <input type="radio" id="staff_view" name="userType" value='1'>
                                            <label>Staff</label>
                                        </div>
                                    </div>
                                </div>                             
                            </div>
                        </div>
                    </div>
                </div>
                <div  style="max-height: 540px;min-height: 540px;overflow: hidden;" id="combitable">
                </div>
            </div>
        </div>
    </div> 
</div>
<script>
    $('.square-green input').on('ifToggled', function (event) {
        if ($(this).is(':checked') == true) {
            if ($(this).val() == '1') {
                setupSettings.loadStaffUploadData();
            } else if ($(this).val() == '2') {
                setupSettings.loadStudentsUploadData();

            }
        }
    });

    $('#student_view').iCheck('check')
</script>
