
<div class="panel-body">
    <div class="row">
        <div class="col-md-12" id="assignStaffSearchForm">
            <div class="form-group">
                <?php $fields = OrganizationalStructureMaster::findFirst('mandatory_for_appointment =1 '); ?>
                <label for=""  class="col-sm-3  control-label mandatory"><?= $fields->name ?></label>  
                <div class="col-sm-6">
                    <?php
                    echo \Phalcon\Tag::select(
                            array(
                                'aggregate_' . strtolower(str_replace(' ', '', $fields->name)),
                                OrganizationalStructureValues::find('org_master_id = ' . $fields->id),
                                "using" => array("id", "name"),
                                'useEmpty' => true,
                                'emptyText' => 'Select',
                                'emptyValue' => '',
                                'class' => 'form-control',
                                'title' => $fields->name,
                                'onchange' => 'appointmentSettings.loadSubtree(this)'
                            )
                    );
                    ?>

                </div> 

            </div>
            <div class="subtreediv hide" ></div>
            <div class="form-group">
                <div class="col-md-9">  
                    <button class="btn btn-success pull-right" type="button"
                            id="stf_list" onclick='appointmentSettings.loadStaffOnboard(this)'> Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='staffDet'class='hide user-det'></div>