<?php
$acadamicyearnm = explode('-', $academicyear->name);
foreach ($name as $value) {
    $v = explode('>>', $value);
    array_shift($v);
    $newname[] = implode(' ', $v);
}
?>
<header class="panel-heading">
    <div class="row">
        <span class="col-md-7">  Showing <b> <?= count($students) ?></b> students from <b>  <?= implode(', ', $newname) ?></b>
            <br>
            <a href="javascript:;" id="downloadExcelClsRat" onclick="setupSettings.downloadSampleExcel('student')" >
                <i class="fa fa-download text text-success"></i>   Download format here
            </a>
        </span>
        <span class="tools pull-right col-md-5">
            <div class="col-md-6">Rollno Format (Eg., <?= $acadamicyearnm[0]; ?>*** ) : </div>
            <div class="col-md-4"><?=
                Phalcon\Tag::TextField(
                        array(
                            "rollno_format",
                            "class" => "form-control",
                            "onchange" => 'assignSectionSettings.get_rollnostartval(this)',
                        )
                );
                ?>  <input type="hidden" name="rollnostart_val" id="" value="" /> </div>
            <div class="col-md-2">
                <span class="label label-primary" type="button"
                      id="gen_studrollno"
                      onclick="assignSectionSettings.genstudrollno('<?= count($students); ?>')" 
                      name="gen_studrollno">Generate</span></div>
        </span>
    </div>
</header> 

<?php if ($students && count($students) > 0) { ?>
    <?php echo Phalcon\Tag::form(array('class' => 'form-horizontal', 'id' => 'assignSecrollnoForm')); ?>
                                                                                                                                                   <!--<table class="table table-condensed dynamicTblPrincDb"  id="dynamicStuList" >-->
    <input type="hidden" id="rollstartval" name="rollstartval" value="0"/>
    <table class="table table-condensed dynamicTblPrincDb table-hover table-responsive"  id="dynamicStuList" >
        <thead>
            <tr>
                <th>Student Name</th>
                <th class="no-sort">Date of birth</th>
                <th class="no-sort">Status</th>

                <?php
                $i = 0;
                foreach ($nodes as $key => $node) {
                    $class = ($i === 0) ? '' : 'no-sort';
                    $i++;
                    ?>                                
                    <th class=""><?= $node ?></th>
                <?php } ?>
                <th class="no-sort">Roll No</th>
                <th class="no-sort">Action</th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($students as $stu):
                $stuInfo = StudentInfo::findFirstById($stu->student_info_id);
                $labelclass = ($stu->status == 'Approved') ? 'success' :
                        (($stu->status == 'Rejected') ? 'danger' : 'info');
                $studentid = $stu->student_info_id;
                ?>
                <tr stuId = "<?= $stu->student_info_id ?>"  stuname ="<?= $stuInfo->Student_Name ?>">
                    <td class="student_name col-md-2"> 
                        <?php
                        if ($stuInfo->photo) {

                            echo $this->tag->image(array(
                                "src" => $stuInfo->photo ? (FILES_URI . $stuInfo->photo) : ('images/user.jpg'),
                                'title' => " $stuInfo->Admission_no ",
                                'style' => 'border-radius:50%',
                                'width' => '40px',
                                'height' => '40px'));
                        } else {
                            ?>
                            <span title= "<?= $stuInfo->Admission_no ?>" class="mini-stat-icon tar " 
                                  style="cursor:default;" >
                                <?= substr($stuInfo->Student_Name, 0, 1); ?></span>
                        <?php }
                        ?> 
                        <span title= "<?= $stuInfo->Student_Name . '(' . $stuInfo->Admission_no . ')' ?>" 
                              class="name">
                                  <?= $stuInfo->Student_Name; ?>
                        </span>
                    </td>

                    <td><?= date('d-m-Y', $stuInfo->Date_of_Birth); ?> </td>
                    <td>
                        <span 
                            class="label label-<?= $labelclass ?>
                            label-mini"><?= $stu->status; ?></span>
                    </td>
                        <!--<input type="hidden" class="aggrgate_val" name="append_aggregate_<?= $stu->student_info_id ?>" value="" id="append_aggregate_<?= $stu->student_info_id ?>" />-->
                    <?php
                    $i = 0;
                    foreach ($nodes as $key => $node) {
                        $class = ($i === 0) ? '' : 'no-sort';
                        $i++;
                        $orgvalues = OrganizationalStructureValues::find('org_master_id=' . $key . ' and parent_id IN(' . $aggregateid . ')');
                        $existingorgvalues = OrganizationalStructureValues::findFirst(
                                        'org_master_id=' . $key
                                        . ' and parent_id IN(' . $aggregateid . ')'
                                        . ' and id IN(' . $stu->aggregate_key . ')');
                        ?>                                

                        <td class="<?= $class ?>"><?php
                            if (count($orgvalues) > 0) {

                                echo \Phalcon\Tag::select(
                                        array(
                                            "subaggregate[]",
                                            $orgvalues,
                                            "using" => array("id", "name"),
                                            'useEmpty' => true,
                                            "stud_id" => $stu->student_id,
                                            'emptyText' => 'Select',
                                            'emptyValue' => '',
                                            'class' => 'form-control',
                                            'divname' => $node,
                                            'value' => $existingorgvalues->id
                                        )
                                );
                            } else {
                                echo '-';
                            }
                            ?></td>
                    <?php }
                    ?>
                    <td><?php
                        if ($stuInfo->rollno) {
                            $rollno = $stuInfo->rollno;
                        } else {
                            $rollno = '';
                        }
                        ?>
                        <?=
                        Phalcon\Tag::TextField(
                                array(
                                    "id" => "RollNo_" . $stu->student_info_id,
                                    "name" => "RollNo",
                                    "class" => "form-control rollno",
                                    "stud_id" => $stu->student_info_id,
                                    "stud_nm" => $stuInfo->Student_Name,
//                                                    'onChange' => 'assignSectionSettings.upadterollno(this)',
                                    'value' => $rollno,
                                )
                        );
                        ?>
                        <span class="hide loading1_<?= $stu->student_info_id ?>" >Loading...
                            <i class="fa fa-spin fa-spinner"></i></span>
                        <span class="hide message1_<?= $stu->student_info_id ?>" ></span>
                    </td>
                    <td class="<?= $stu->student_info_id ?>_action_data">
                        <?php if (empty($stu->rollno)) { ?>
                            <label class="label label-primary"
                                   id="addsubj_<?= $stu->student_info_id ?>"
                                   onclick="assignSectionSettings.updateRollno(this)" action ="insert"
                                   value="Save" name="assignSubj" >Save</label>
                               <?php } else { ?>
                            <span>Added</span>
                        <?php } ?>
                    </td>
                </tr>
            <?php endforeach; ?>

        </tbody>
    </table>
    </form>
<?php } else { ?>
    <div class="col-md-12">
        <br>
        <style>
            .fileUpload {
                position: relative;
                overflow: hidden;
                margin: 10px;
            }
            .fileUpload input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }

            #msform ul.nav>li.active {
                border-top: 2px solid #1FB5AD;
            }
        </style>
        <div id="drop" class="" style=" padding: 11px 48px; ">
            <a  class="btn btn-warning fileUpload">Browse Student excel
                <input type="file" name="muluploadedfile_stu" class="muluploadedfile_stu" ></a>
        </div>
        <?php
        echo $this->tag->stylesheetLink("js/lib/mini-upload-form/assets/css/bucketmin.css");
        ?>

    </div>
<?php } ?>

<script>
    $(".muluploadedfile_stu").on('change', function () {
        var $self = $(this);
        var fileObj = $(this)[0].files[0];
        if ((fileObj.name.toLowerCase()).indexOf('.xlsx') < 0) {
            $('.msgBox-title').html('<i class="fa  fa-times"></i> Error');
            $('.msgBox-body').html('<span class="text text-danger fade in">Invalid file format. Please upload xlsx file</span>');
            $('#messageBoxModal').modal('show');
            $(this).parents('td').find('input.muluploadedfile_stu').each(function () {
                $(".muluploadedfile_stu").val("")
            });
            return false;
        }

        var aggreval = '<?= $aggregateid ?>';
        var aggname = '<?= implode(', ', $newname) ?>';
        var data = new FormData();
        data.append('file', $(this)[0].files[0]);
        data.append('aggreval', aggreval);
        $('#ConfirmModal').find('.modal-title').html('Confirm Upload');
        $('#ConfirmModal').find('.modal-body').html('Do you confirm to insert student for ' + aggname + ' ?');
        $('#ConfirmModal').modal();
        $('#confirm_yes').unbind('click').click(function (event) {
            $('#ConfirmModal').modal('hide');
            $(".fileUpload").addClass("hide");
            $(this).closest('span.loading').each(function () {
                $(this).removeClass("hide");
            });
            pleaseWaitDiv.find('.text-display').html('Validating file...')
            myApp.showPleaseWait()
            $.ajax({
                url: commonSettings.onboardUrl + "/checkCountStu",
                type: 'POST',
                processData: false,
                contentType: false,
                data: data,
                dataType: 'JSON',
                success: function (resp) {
                    if (resp.type == "success") {
                        myApp.hidePleaseWait()
                        setupSettings.uploadStudent(resp.filename, aggreval)
                        $(".muluploadedfile_stu").val("")
                        $(".fileUpload").removeClass("hide");
                    } else {
                        myApp.hidePleaseWait()
                        $('.msgBox-title').html('<i class="fa  fa-times"></i> Error');
                        $('.msgBox-body').html('<span class="text text-danger fade in">' + resp.message + '</span>');
                        $('#messageBoxModal').modal('show');
                        $self.addClass('hide')
                        $(".muluploadedfile_stu").val("")
                        $(".fileUpload").removeClass("hide");
                    }


                }
            });
        });



    });
</script>
<?php
$varcols = count($mandnode) + count($nodes) + 5;
$varcols1 = 3 + count($mandnode);
$varcols2 = 3 + count($mandnode) + count($nodes) - 1;
//echo $varcols1. $varcols2;exit;
for ($i = $varcols1; $i <= $varcols2; $i++)
    $varsort[] = $i;
?>
<script
    type = "text/javascript" >
        $("#combitable").niceScroll()
        var tablectrl = '#dynamicStuList';
        $(document).ready(function () {
            $(tablectrl).dataTable({
                "sDom": 'C<"clear">lrtip',
                "bProcessing": true,
                "sPaginationType": "full_numbers",
//            "iDisplayLength": commonSettings.NumberOfRecords,
                "aoColumnDefs": [
//                {"aTargets": [0], "bSortable": true},
                    {"aTargets": [<?= implode(',', $varsort) ?>], "orderDataType": "dom-select", "bSortable": true},
                    {
                        "bSortable": false,
                        "sDefaultContent": "",
                        "aTargets": ["no-sort"]
                    }
                ],
                "bLengthChange": false,
                "bInfo": false,
                "fnDrawCallback": function (o) {
                }
            });
        });
        $.fn.dataTable.ext.order['dom-select'] = function (settings, col)
        {
//        console.log(col)
            return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
                var id = $('select', td).closest('td').nextAll(':has(.rollno):first').find('.rollno').attr('id');
                console.log(id)
                $('select', td).closest('td').nextAll(':has(.rollno):first').find('.rollno').attr('id', id);
                return   $('select', td).find('option:selected').text();
            });
        }

</script>