<?php
echo $this->tag->stylesheetLink("js/lib/treetable/jquery.treetable.css");
echo $this->tag->stylesheetLink("js/lib/treetable/jquery.treetable.theme.default.css");
//print_r(($groupcombiStu));
//exit;
?>


<div class="col-md-8 uploaddiv">
    <aside class=" ">
        <div class="widget-wrap  material-table-widget showtop" >
            <div class="widget-container margin-top-0">
                <div class="widget-content">
                    <div class="data-action-bar">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="widget-header magbot30">
                                    <h3>Students Combination</h3>
                                    <p>Assign section to students</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <select class="filter-status  form-control" onchange="setupSettings.loadCombinationTable(this)">
                                    <option value="">Select</option>
                                    <?php foreach ($groupcombiStu as $key => $value) { ?>
                                        <option value="<?= $key ?>"><?= $value ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div  style="max-height: 540px;min-height: 540px;overflow: hidden;" id="combitable">

                    </div>
                </div>
            </div>
        </div> 
    </aside>

</div>


<div class="col-md-4 uploaddiv">
    <aside class="stunav ">
        <div class="widget-wrap  material-table-widget showtop" >
            <div class="widget-container margin-top-0">
                <div class="widget-content">
                    <div class="data-action-bar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget-header magbot30">
                                    <h3>Students List</h3>
                                    <p id="changetitle">Choose a combination to load students</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="max-height: 540px;min-height: 540px;overflow: hidden" id="studentsList"></div>
                </div>
            </div>
        </div> 
    </aside>

</div>