<?php
echo $this->tag->javascriptInclude("js/appscripts/onboard/dynamictable.js");
?>
<div>
    <div class="row">
        <div class="col-md-12" class = 'form-horizontal' name = 'loadSecondaryTempForms' id = 'loadSecondaryTempForms'>

            <div class="panel-group m-bot20" id="accordion">
<?php $ii=0; foreach($gradeList as $grade){ ?>
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_<?= $grade->id ?>">
                                <?= $grade->name ?> 
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_<?= $grade->id ?>" class="panel-collapse collapse <?= ($ii++ ==0)?'in':'' ?>">
                        <div class="panel-body col-md-8">

                            <table  gradeid = "<?= $grade->id ?>" class="table table-striped table-hover table-bordered divisionValuesTable" >
                                <thead>
                                    <tr> 
                                        <th class="col-md-1">Sno </th>
                                        <th class="col-md-3">Language </th>
                                        <th class="col-md-3">Total no of subject</th>
                                        <th class="col-md-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php
                                    $first_word = array('eth', 'First', 'Second', 'Third', 'Fouth', 'Fifth', 'Sixth', 'Seventh', 'Eighth', 'Ninth', 'Tenth', 'Elevents', 'Twelfth', 'Thirteenth', 'Fourteenth', 'Fifteenth', 'Sixteenth', 'Seventeenth', 'Eighteenth', 'Nineteenth', 'Twentieth');
                                    $i = 1;
                                    ?>

                                    <tr class="" >
                                        <td><?= $i ?></td>
                                        <td><?= $first_word[$i] ?> Language</td>
                                        <td>1</td>
                                        <td class="td-center">
                                            <div class="btn-toolbar" role="toolbar">
                                                <div class="btn-group" role="group">
                                                    <a href="javascript:;" onclick="jdtableSettings.editAction(this)" class="addbtn btn btn-default btn-sm m-user-edit"><i class="zmdi zmdi-edit"></i></a>
                                                    <a href="javascript:;" onclick="jdtableSettings.addRow(this)" class="addbtn btn btn-default btn-sm m-user-edit"><i class="zmdi zmdi-plus"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>


<?php ?>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

<?php } ?>
        </div>


            <div class="form-group col-md-12">
                <button type="button" class="btn btn-primary col-md-2 pull-right" onclick="setupSettings.generateLangCombi(this)"> Generate </button>
            </div>

    </div>
</div>
</div>
<style>
    .normal{
        background: #fff !important;    border: 1px solid #ccc !important;

    }

</style>
